@charset "UTF-8";
@import "mixins";

/*부위별 코성형*/
/*탭바*/
.type-case{
	.content-tab{}
	.content-tab__inner{}

	@media only screen and (max-width:$tablet-size){
		.content-box__box{margin: 0 -65px; padding: 0 13px;}
		.content-tab__item{
			&:nth-child(even){width: 1.3%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		.content-box__box{margin: 0 -20px; padding: 0 13px;}
	}
}
.content-section{
	&.type-case{margin-top:60px;}
	@media only screen and (max-width:$mobile-size){
		&.type-case{margin-top:40px;}
	}
}
.nose-case{
	&__wrap .content-tab{margin-top: 0;}
	&__wrap{width:100%; margin:0px auto;
		@media only screen and (max-width:$minpc-size3){width:100%;}
	}
}

.status-bar{
	$this:&;

	&.type-nose2{
		& #{$this}__wrap{background:url('../../images/nose/status_bar01.png') no-repeat center center; background-size:contain;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-nose2{
			& #{$this}__wrap{background:url('../../images/nose/status_bar01_m.png') no-repeat center center; background-size:contain;}
		}
	}
}

.content-tab2{border-bottom:3px solid #333333; text-align:center;
	&__list{display:table; width:100%;}
	&__item{display:table-cell; width:1%; height:60px; border:1px solid #cccccc; border-bottom:none; vertical-align:middle; font-size:18px; color:#999999;
		& + &{border-left:none;}
		&.is-active{border-color:#333; background-color:#333; color:#fff;}
	}
	&__link{display:table-cell; width:1%; height:inherit; vertical-align:middle; color:inherit;
		&:hover,&:active{color:inherit;}
	}
	&__body{display:none;
		&.is-active{display:block;}
		& .content-section{margin-top:100px;}
		@media only screen and (max-width:$tablet-size){
			& .content-section{margin-top:50px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__item{font-size:15px;}
	}
	@media only screen and (max-width:$mobile-size){border:none;
		&__list{
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; display:block; width:50%; height:36px; border:1px solid #cccccc; font-size:1.2rem;
			& + &{border-left:1px solid #ccc;}
			& + & + &{border-top:none;}
			&:nth-child(even){border-left:none;}
		}
		&__body{display:none;
			&.is-active{display:block;}
			@media only screen and (max-width:$tablet-size){
				& .content-section{margin-top:65px;}
			}
		}
	}
}
.casetype-box1{    padding-top: 566px; padding-bottom:26px; background:url('../../images/nose/nose_case_img02_1.jpg') center bottom / cover;
	$this:&;
	&__tit{display:inline-block; margin:0; padding:10px 15px; font-size:45px; font-weight:500; color:#fff; background-color:#333;
		-webkit-transform:skew(-15deg); -ms-transform:skew(-15deg); transform:skew(-15deg);}
	&__wrap{padding-left: 51.13%;  text-align:left; position: relative;}
	&__box{ display: inline-block; text-align: center;padding-top: 0;position: absolute;    left: 74px;top: -290px; box-sizing:border-box;}
	&__box.type-hawk{  left: auto; right: 84px; top: -278px;}
	&__txt{margin:24px 0 0 0; font-size:22px; color:#333;
		&:after{display:block; width:20px; height:2px; margin:28px auto 0; background-color:#333; content:''; }
	}
	&__txt2{font-size:22px; color:#4a4949;
		&:before{display:block; width:13px; height:16px; margin:28px auto 24px; background:url('../../images/nose/case/case_icon2.png'); content:''; }
		strong{font-weight:400; color:#333;}
	}
	&__bracket{position:relative; display:block; margin-top:30px; padding:16px 45px;  font-size:19px; font-weight:400;
		& span{color:#ff3469;}
		&:before{position:absolute; top:-6px; left:0; font-size:86px; font-weight:400; color:#c1bbbb; line-height:1; content:'['}
		&:after{position:absolute; top:-6px; right:0; font-size:86px; font-weight:400; color:#c1bbbb; line-height:1; content:']'}
	}

	&.type-arrow{background:url('../../images/nose/nose_case_img02_2.jpg') center bottom / cover; padding-top: 560px;
		#{$this}__wrap{padding-left:0; padding-right: 55.27%; text-align:right;}
		#{$this}__txt{font-weight:500;
			&:before{display:block; width:20px; height:2px; margin:0px auto 24px; background-color:#333; content:''; }
			&:after{display:none;}
		}
	}
	&.type-low{padding-top:310px; background:url('../../images/nose/nose_case_img02_3.jpg') center bottom / cover;
		#{$this}__wrap{padding-left:0; padding-right:50.9%; text-align:right;}

		#{$this}__txt{font-weight:500;
			&:before{display:block; width:20px; height:2px; margin:0px auto 24px; background-color:#333; content:''; }
			&:after{display:none;}
		}
	}
	&.type-bend{padding-top:280px; background:url('../../images/nose/nose_case_img02_4.jpg') center bottom / cover;
		#{$this}__wrap{padding-left:0; padding-right:50.9%; text-align:right;}

		#{$this}__txt{font-weight:500;
			&:before{display:block; width:20px; height:2px; margin:0px auto 24px; background-color:#333; content:''; }
			&:after{display:none;}
		}
	}
	@media only screen and (max-width:$tablet-size){background:none; background-color:#f8f9fd;  padding-top:90px; padding-bottom:0;
		&__wrap{padding:0; text-align:center;}
		&__bg{padding-bottom:20px; background:url('../../images/nose/nose_case_img02_1_768.jpg') center bottom / cover;}
		&__box{ position: static;}
		&__box.type-hawk{position: static;}
		&.type-arrow{padding-top:90px; background:none; background-color:#e2e6ef;
			#{$this}__wrap{padding-right:0; text-align:center;}
			#{$this}__bg{padding-bottom:20px; background:url('../../images/nose/nose_case_img02_2_768.jpg') center bottom / cover;}
		}
		&.type-low{padding-top:95px; background:none; background-color:#aaadb1;
			#{$this}__wrap{padding-right:0; text-align:center;}
			#{$this}__bg{padding-bottom:20px; background:url('../../images/nose/nose_case_img02_3_768.jpg') center bottom / cover;}
		}
		&.type-bend{padding-top:95px; background:none; background-color:#f5f6f8;
			#{$this}__wrap{padding-right:0; text-align:center;}
			#{$this}__bg{padding-bottom:20px; background:url('../../images/nose/nose_case_img02_4_768.jpg') center bottom / cover;}
		}
	}
	@media only screen and (max-width:$mobile-size){padding-top:45px;
		&__tit{font-size:2.7rem;}
		&__txt{margin-top:12px;font-size:1.6rem;
			&:after{width:10px; height:1px; margin-top:14px;}
		}
		&__txt2{font-size:1.3rem;
			&:before{width:12px; height:12px;  margin:18px auto 12px; background:url('../../images/nose/case/case_icon2_m.png'); background-size:12px 12px; content:''; }
		}
		&__bracket{display:block; margin-top:15px; padding:6px 20px;  font-size:1.3rem; font-weight:400;
			&:before{top:4px; font-size:5.4rem;}
			&:after{top:4px; font-size:5.4rem;}
		}
		&__box{width:100%; padding:0 20px;}
		&__bg{padding-bottom:10px;}
		&.type-arrow{padding-top:45px;}
		&.type-low{padding-top:45px;}
		&.type-bend{padding-top:45px;}
	}
}
.casetype-box2{margin-top:60px; padding:0 70px; box-sizing:border-box;
	.quotation2__txt{font-style:italic;  color:#333;}
	@media only screen and (max-width:$tablet-size){margin-top:50px; padding:0;
	}
	@media only screen and (max-width:$mobile-size){margin-top:30px;
		.quotation2{padding:18px 5px; width: 100%;}
	}
}
.casetype-box3{margin:80px 0 0;
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display: table-cell; vertical-align: middle;
		&.nth-1{width:307px;}
		&.nth-2{padding-left:75px; padding-right:92px;}
	}
	&__txt{text-align:left;color:#666; word-break: keep-all;
		& strong{font-weight:500; color:#333;}
	}
	&__img{width:100%; height:0; padding-bottom:71.66%;
		&.nth-1{background:url('../../images/nose/case/nose_case_ani1.gif') no-repeat center center / cover;}
		&.nth-2{background:url('../../images/nose/case/nose_case_ani2.gif') no-repeat center center / cover;}
		&.nth-3{background:url('../../images/nose/case/nose_case_ani3.gif') no-repeat center center / cover;}
		&.nth-4{background:url('../../images/nose/case/nose_case_ani4.gif') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$tablet-size){
		&__img{width:100%; padding-bottom:71.66%; background-size:cover;}
		&__list{display: block;}
		&__item{display: block;
			&.nth-1,&.nth-2{width:100%;}
			&.nth-2{padding: 0;}
		}
		&__txt{margin-top:50px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__txt{margin-top:30px; font-size:1.4rem;}
	}
}

.comparison{display:inline-block; margin-top:190px; padding:10px; background:rgba(51,51,51,0.2); box-sizing:border-box;
	&__list{width:756px; margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:50%; height:0; padding-bottom:23.8%; list-style:none;
		&.nth-1{background:url('../../images/nose/case/case1_before.jpg'); background-size:cover;}
		&.nth-2{background:url('../../images/nose/case/case1_after.jpg'); background-size:cover;}
		&.nth-3{background:url('../../images/nose/case/case2_before.jpg'); background-size:cover;}
		&.nth-4{background:url('../../images/nose/case/case2_after.jpg'); background-size:cover;}
		&.nth-5{background:url('../../images/nose/case/case3_before.jpg'); background-size:cover;}
		&.nth-6{background:url('../../images/nose/case/case3_after.jpg'); background-size:cover;}
		&.nth-7{background:url('../../images/nose/case/case4_before.jpg'); background-size:cover;}
		&.nth-8{background:url('../../images/nose/case/case4_after.jpg'); background-size:cover;}
		&:first-child{
			&:after{position:absolute; top:0; right:-15px; bottom:0; display:block; width:30px; height:30px; margin:auto 0; background:url('../../images/nose/case/case_icon.png');content:''; z-index:10;}
		}
	}
	&__subject{position:absolute; top:0; left:0; width:88px; height:28px; line-height:28px; background-color:#333; color:#fff; text-transform: uppercase; font-size: 14px;font-family: 'Roboto', sans-serif;}
	&.type-low{margin-top:230px;}
	&.type-bend{margin-top:260px;}
	@media only screen and (max-width:$tablet-size){width:100%; margin-top:83%; padding:6px;
		&__list{width:100%;}
		&__item{padding-bottom:32.4%;
			&.nth-1{background:url('../../images/nose/case/case1_before_m.jpg'); background-size:cover;}
			&.nth-2{background:url('../../images/nose/case/case1_after_m.jpg'); background-size:cover;}
			&.nth-3{background:url('../../images/nose/case/case2_before_m.jpg'); background-size:cover;}
			&.nth-4{background:url('../../images/nose/case/case2_after_m.jpg'); background-size:cover;}
			&.nth-5{background:url('../../images/nose/case/case3_before_m.jpg'); background-size:cover;}
			&.nth-6{background:url('../../images/nose/case/case3_after_m.jpg'); background-size:cover;}
			&.nth-7{background:url('../../images/nose/case/case4_before_m.jpg'); background-size:cover;}
			&.nth-8{background:url('../../images/nose/case/case4_after_m.jpg'); background-size:cover;}
			&:first-child{
				&:after{position:absolute; top:0; right:-8px; bottom:0; display:block; width:16px; height:16px; margin:auto 0;
					background:url('../../images/nose/case/case_icon.png') center center/ cover; content:''; z-index:10;}
			}
		}
		&__subject{width:50px; height:auto; line-height:1; padding:3px 0 2px;  font-size:1rem;}
		&.type-low{margin-top:92%;}
		&.type-bend{margin-top:92%;}
	}
}
.list-box{
	$this:&;
	&.type-nose{padding:50px 150px 50px 334px;
		#{$this}__box{background-color:#ff4173;}
		#{$this}__wrap{width:220px;
			&:after{border-bottom-color:#8b233e;}
		}
		#{$this}__item{padding:22px 0 22px 48px; font-size:18px; border-bottom:none;
			& + #{$this}__item{border-top:1px solid #8f8f8f}
			&:before{top:17px;  width:36px; height:36px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-nose{padding:50px 40px 40px 194px;
			#{$this}__tit{font-size:25px;}
			#{$this}__box{left:24px; background-color:#ff4173;}
			#{$this}__wrap{width:140px; height:206px;}
			#{$this}__vertical{padding:0 28px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-nose{padding:42px 14px 22px;
			#{$this}__tit{display:inline-block; font-size:1.8rem;}
			#{$this}__box{left:14px;}
			#{$this}__wrap{width:134px; height:62px;}
			#{$this}__vertical{width:1%; padding:0px; text-align:center;}
			#{$this}__item{padding:18px 0 18px 40px; font-size:1.5rem; border-bottom:none;
				& + #{$this}__item{border-top:1px solid #8f8f8f}
				&:before{top:18px; left:10px; width:22px; height:22px; line-height:19px;}
			}
		}
	}
}
