<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-correction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1 type-eye-correction">Vấn đề tạo ra đôi mắt đẹp quyến rũ quan trọng hơn là tạo mí to </p>
				<h3 class="content-visual__tit type-eye-correction">#<span class="color-correction1">ĐIỀU CHỈNH CƠ MẮT</span></h3>
				<p class="content-visual__txt2 type-eye-correction">Đôi mắt lại được mở to rõ hơn</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
        <div class="content-wrap">
            <div class="correction-box1">
                <div class="content-section type-first">
                    <h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
	                        <strong class="color-correction2">Hình dáng mắt</strong>
	                        là tiêu chuẩn của một <span class="content-highlight2 type-eye-correction2">đôi mắt quyến rũ</span>
                    </h4>
                    <p class="content-section__txt1">
						Phẫu thuật tạo mí mắt được biết đến là phẫu thuật tiêu biểu nhất của phẫu thuật mắt, vì vậy thường tạo ra nhận thức “mắt đẹp thu hút = mắt có mí”.
						Tuy nhiên trên thực tế, nếu quan sát thực tế xung quanh, có trường hợp mí rất nhỏ hoặc gần như hoàn toàn không mí vẫn cho chúng ta cảm giác là một đôi mắt đẹp. Điểm chung của những đôi mắt đó chính là hình dáng mắt đúng chuẩn dáng mắt đẹp.
                        <strong>Thực ra, ấn tượng về một người không nằm ở dáng mí mà phần nhiều nằm ở dáng mắt. </strong> Đặc biệt, vị trí và mức độ to tròn của tròng đen (phụ thuộc vào dáng mắt) là rất quan trọng.
                    </p>
                    <div class="site-box14">
                        <div class="site-box14__outer type-bg clearfix">
                            <div class="site-box14__model--m">
                                <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" loading="lazy" alt="img">
	                            img
							</div>
                            <div class="site-box14__inner">
                                <h4 class="site-box14__tit">
                                    { Tùy vào dáng mắt mà độ to tròn của tròng đen cũng thay đổi }
                                </h4>
                                <div class="site-box14__thumb main">
                                    <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" loading="lazy" alt="Hình dáng mắt thông thường">
                                    <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" loading="lazy" alt="Hình dáng mắt thông thường">
                                    <p class="site-box14__txt1">Hình dáng mắt thông thường</p>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img02 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" loading="lazy" alt="Mắt bị lé trên nhẹ">
                                        <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" loading="lazy" alt="Mắt bị lé trên nhẹ">
                                        <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
												Mắt bị lé trên nhẹ<br>
												<span class="site-box14__smallest">(mắt lươn)</span>
										</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h5 class="site-box14__sub-tit">
                                            Mắt bị lé trên nhẹ (mắt lươn)
                                        </h5>
                                        <p class="site-box14__txt2">
                                            Có cơ hoạt động mở mắt bình thường, cho nên mí mắt trên sẽ mở to được nhưng mí mắt bên ngoài sẽ che bớt mắt đi.
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img03 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" loading="lazy" alt="Mắt bị lé trên nặng ">
                                        <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" loading="lazy" alt="Mắt bị lé trên nặng ">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												Mắt bị lé trên nặng<br>
												<span class="site-box14__smallest">(mắt lươn)</span>
											</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h5 class="site-box14__sub-tit">
                                            Mắt bị lé trên nặng (mắt lươn)
                                        </h5>
                                        <p class="site-box14__txt2">
                                            Mắt bình thường nhưng tròng đen chạy cao lên phía trên khiến cho phần tròng trắng phía dưới bị lộ ra nhiều.
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img04 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" loading="lazy" alt="Mắt sụp mí">
                                        <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" loading="lazy" alt="Mắt sụp mí">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												Mắt sụp mí
											</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h5 class="site-box14__sub-tit">
                                            Mắt sụp mí
                                        </h5>
                                        <p class="site-box14__txt2">
                                            Mắt vừa nhìn buồn ngủ và mí mắt mở được dưới 7 mm.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-box14__info">
                            <div class="site-box14__tit--info">
                                <span class="color-correction4">Điều chỉnh cơ mắt</span> là gì?
                            </div>

                            <div class="site-box14__txt--info">
								Điều chỉnh cơ mắt là phẫu thuật
                                <span class="color-correction4">giúp cho mắt mở to hơn, làm tròng đen lộ ra tròn to rõ hơn</span>
                                cho bạn đôi mắt thu hút hơn.
                            </div>
                        </div>
                        <div class="site-box14__bf">
                            <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" loading="lazy" alt="compare">
                            <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" loading="lazy" alt="compare">
                            <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" loading="lazy" alt="compare">
                            <span class="progress-tag type-before">Trước</span>
                            <span class="progress-tag type-after">Sau</span>
                        </div>

                    </div>
                    <div class="content-section__wrapper">
                        <p class="content-section__txt2">
                            Vì vậy, nếu bạn có một đôi mắt mà tròng mắt của bạn về cơ bản không to tròn rõ, thay vì ám ảnh với việc tạo mí thì
							<span class="content-highlight type-eye-correction4">hãy thử cân nhắc đến phẫu thuật làm thay đổi dáng mắt của bạn</span>
                             như <strong class="color-correction5">điều chỉnh cơ mắt hoặc mở rộng đầu/ đuôi mắt.</strong>
                        </p>
                        <p class="content-section__txt1 lg brace type-eye-correction">
                            Đặc biệt trường hợp  <strong class="type-border">lực mở mắt yếu</strong> khiến cho tròng mắt bị che đi nhiều, chỉ với <strong><span class="color-correction6">phẫu thuật điều chỉnh cơ mắt </span>khiến lực mở mắt mạnh lên</strong>cũng có thể thấy được hiệu quả rõ rệt là mắt to rõ hơn rất nhiều.
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box2">
                <div class="content-section">
                    <div class="content-section__wrapper">
                        <div class="content-section__desc">
                            <h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">02</span>
								</span>
                                PHẪU THUẬT MÍ THÔNG THƯỜNG VÀ PHẪU THUẬT ĐIỀU CHỈNH CƠ MẮT LÀ HAI
                                <span class="content-highlight type-eye-correction5">PHẪU THUẬT CÓ MỤC TIÊU KHÁC NHAU</span>
                            </h4>
                            <p class="content-section__txt1">
                                Nguyên lý của phẫu thuật mí mắt có thể nói ngắn gọn là kết nối mí mắt với cơ mở mắt. Là phẫu thuật làm cho da được cố định và kéo lên làm xuất hiện mí trong quá trình mở mắt. Tuy nhiên, khi ấy,  <strong><span class="type-border">nếu lực mở mắt bị yếu thì mắt sẽ nhìn như buồn ngủ, không mở được rõ</span></strong>
                                , vấn đề này không liên quan đến có mí hay không. Một đôi mắt đẹp là mí mắt phải chạy lên rõ nét, tròng mắt phải lộ ra rõ vừa phải, nhưng phẫu thuật mí mắt chỉ có thể tạo ra thêm một đường mí phía trên mà không làm thay đổi được mức độ lộ ra của tròng mắt.
                            </p>
                            <p class="content-section__txt1">
                                Vì vậy phẫu thuật cần thiết chính là điều chỉnh cơ mắt.
                                <span class="content-highlight type-eye-correction5">Điều chỉnh cơ mắt là phẫu thuật giúp lực mở mắt được mạnh lên, tạo nên một đôi mắt lý tưởng.</span><br class="hidden-tm">
                                Vì vậy, trường hợp lực mở mắt yếu sẽ có thể tạo ra dáng mắt sáng rõ chỉ với phương pháp điều chỉnh cơ mắt, trường hợp đã có sẵn mí, sau khi điều chỉnh cơ mắt sẽ có đường mí rõ nét và quyến rũ hơn. Thêm vào đó, nhờ có lực mở mắt hoạt động tốt, sẽ ngăn được những nếp nhăn xuất hiện do thói quen nhíu mày, nhướn chân mày, vv
                            </p>
                        </div>
                        <div class="content-section__wrap site-box">
                            <div class="site-box15 clearfix">
                                <div class="site-box15__wrapper clearfix">
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="Trước">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="Trước">
                                            <span class="progress-tag type-before">Trước</span>
                                        </div>
                                    </div>
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" loading="lazy" alt="Sau 6 tháng">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" loading="lazy" alt="Sau 6 tháng">
                                            <span class="progress-tag type-after">Sau 6 tháng</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-box15__quotation">
                                    <p class="site-box15__txt1">
                                        Dù có mí mà lực mở mắt yếu thì độ mở của tròng mắt cũng không đẹp lý tưởng được.
                                    </p>
                                    <p class="site-box15__txt2">
                                        Điều chỉnh cơ mắt sẽ giúp mắt mở to rõ hơn, cải thiện cả hình dáng mắt.
                                    </p>
                                </div>
                            </div>
                        </div>
						<p class="caution-para1">※ Hình ảnh này có thể nhìn khác với người thật do điều kiện khi chụp ảnh, đã nhận được sự đồng ý của bệnh nhân.</p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box3">
                <div class="content-section">
                    <div class="content-section__wrapper type-left">
                        <h4 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
                            <span class="content-highlight type-eye-correction1">PHẢI THẬN TRỌNG HƠN</span> VÌ ĐÂY KHÔNG PHẢI PHẪU THUẬT DÀNH CHO <strong>MỌI TRƯỜNG HỢP</strong>
                        </h4>
                        <div class="content-section__wrapper type-width">
                            <p class="content-section__txt1 correction-n3">
								Như đã giải thích ở trên, điều chỉnh cơ mắt là phẫu thuật được thực hiện trong trường hợp đặc trưng do lực cơ mắt yếu. Ngược lại nếu lực mở mắt đủ thì không cần thực hiện phẫu thuật này.
								Vì vậy trước khi quyết định phẫu thuật cơ mắt, việc chẩn đoán chính xác tình trạng mắt là rất quan trọng.
								Thỉnh thoảng, sẽ có gợi ý hãy điều chỉnh cơ mắt, do nhiều lý do như: đơn giản khi lấy tay giữ nhẹ trên chân mày thì mắt khó mở lên, khi mở mắt có xuất hiện nếp nhăn trên trán, mắt bị sụp không thấy mí, mắt nhỏ, vv. Chỉ với những chẩn đoán như vậy thì không thể đánh giá chính xác lực mở mắt và có thể trở thành nguyên nhân của sự lựa chọn phẫu thuật sai lầm.
                            </p>
                            <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
                                Vì vậy, đối với phẫu thuật điều chỉnh cơ mắt, cần lựa chọn chính xác bác sĩ có chuyên môn đưa ra chẩn đoán chính xác là có cần điều chỉnh hay không, nếu cần thiết thì cũng có thể lên được kế hoạch phẫu thuật sao cho kết quả cuối cùng không bị quá lố hoặc vẫn còn thiếu.
                            </p>
                        </div>
                    </div>
                    <div class="diagnosis">
                        <div class="diagnosis__outer clearfix">
                            <div class="diagnosis__inner">
                                <div class="diagnosis__thumb">
                                    img
                                </div>
                                <div class="diagnosis__desc">
                                    <h5 class="diagnosis__tit">
                                        <strong class="color-correction9">Những phương pháp chẩn đoán không chính xác</strong>
                                    </h5>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">01.</span>
										Đè tay lên trán, thấy mắt khó mở lên rồi chẩn đoán là do cơ yếu
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">02.</span>
                                        Khi mở mắt thấy xuất hiện nếp nhăn trên trán rồi chẩn đoán là do cơ yếu
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">03.</span>
                                        Chỉ đơn giản là tròng đen lộ ra được một nửa
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">04.</span>
                                    	Chỉ nhìn vào độ to của mắt rồi chẩn đoán
                                    </p>

                                </div>
                            </div>
                            <div class="diagnosis__txt1 type-quotation">
								Đối với phẫu thuật điều chỉnh cơ mắt, <span class="color-correction10">cần đánh giá chính xác tính cần thiết</span> và xác định chính xác mức độ điều chỉnh.
                            </div>
                        </div>
                        <div class="diagnosis__ways clearfix">
                            <div class="diagnosis__circle">
                                img
                                <div class="diagnosis__border">

                                </div>
                            </div>

                            <div class="diagnosis__wrapper type-desc">
                                <h5 class="diagnosis__sub-tit">
                                    Bởi vì mỗi người sẽ có  <span class="color-correction11">lực cơ mở mắt khác nhau</span>
                                    cho nên phẫu thuật điều chỉnh cơ mắt cũng phải có mức độ khác nhau với từng trường hợp
                                </h5>
                                <p class="diagnosis__txt2">
                                    Nếu lực mở mắt thực sự quá yếu khiến cho mí mắt che đi gần nửa tròng mắt thì phương pháp cắt mí điều chỉnh cơ mắt là thích hợp. Tuy nhiên nếu lực mở mắt có chút ít dù không được 100% thì cũng có thể điều chỉnh cơ mắt bằng cách nhấn kép.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>
            <!-- 탭바  -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
                        <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">Nhấn mí kép điều chỉnh cơ mắt</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">Cắt mí điều chỉnh cơ mắt</a></li>
                    </ul>
                </div>
            </div>
            <!-- 탭바 컨텐츠 -->
            <div class="content-tab__page page-double is-active">
                <div class="content-tab__box">
                    <div class="correction-box4">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    Phương pháp nhấn mí kép điều chỉnh cơ mắt là phương pháp do bác sĩ Park Seon Jae nghiên cứu ra. Không cần cắt mà sử dụng sức của chỉ và sự kết dính của các tổ chức bên trong giúp điều chỉnh cơ mắt có hiệu quả và cố định hơn.
                                </p>
                                <p class="content-section__txt1">
                                    Thực ra, nếu trường hợp phải tiến hành điều chỉnh cơ mắt cho người có cơ mở mắt yếu, không tiến hành cắt mí mà chỉ dùng chỉ thì rất khó. Là do nhiều khuyết điểm như khó điều chỉnh mức độ căng cơ, khả năng bị bung cao, vv. Tuy nhiên với phẫu thuật nhấn mí kép điều chỉnh cơ mắt thì vừa có thể khắc phục được những nhược điểm đó, vừa giữ nguyên vẹn ưu điểm của nhấn mí.
                                </p>
                                <p class="content-section__txt2">
									Nếu tiến hành phẫu thuật bằng phương pháp nhấn thì thời gian phẫu thuật sẽ ngắn hơn và hồi phục cũng sẽ nhanh hơn.
									Thêm vào đó, <span class="color-correction16">độ sưng và đau sau phẫu thuật sẽ ít hơn, trong quá trình hồi phục vẫn nhìn tự nhiên và nhanh chóng sinh hoạt bình thường hơn</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="incisional-eye">
                        <div class="incisional-eye__wrapper clearfix">
                            <div class="layer-doc7">
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Làm mạnh<br> cơ mở mắt
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Điều chỉnh<br>  hiệu quả<br>  và ổn định
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Hồi phục<br>  nhanh
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer type-bigger">
                                        <div class="layer-doc7__inner type-bigger">
                                            <h4 class="layer-doc7__tit type-bigger">
                                                Nhấn mí<br>  kép điều chỉnh<br>  cơ mắt
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Hình dáng<br>  mắt mềm mại,<br>  tự nhiên
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Thời gian<br>  phẫu thuật<br>  ngắn
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                Nét mặt<br>  rạng rỡ và<br>  sắc nét hơn
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

							<div class="advantage">
                                <div class="advantage__wrap">
                                    <h4 class="advantage__tit">Nhấn mí kép điều chỉnh cơ mắt</h4>

                                    <ul class="advantage__list">
                                        <li class="advantage__item nth-1">
                                            Làm mạnh cơ mở mắt
                                        </li>
                                        <li class="advantage__item nth-2">
                                            Điều chỉnh hiệu quả và ổn định
                                        </li>
                                        <li class="advantage__item nth-3">
                                            Hồi phục nhanh
                                        </li>
                                        <li class="advantage__item nth-4">
                                            Hình dáng mắt mềm mại, tự nhiên
                                        </li>
                                        <li class="advantage__item nth-5">
                                            Thời gian phẫu thuật ngắn
                                        </li>
                                        <li class="advantage__item nth-6">
                                            Nét mặt rạng rỡ và sắc nét hơn
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="incisional-eye__bar">
                            <div class="incisional-eye__tit">
                                <strong class="color-correction17">Nhấn mí kép điều chỉnh cơ mắt</strong>
                            </div>
                            <div class="incisional-eye__txt1">
                                Điều chỉnh cơ mắt không cần cắt mà sử dụng sức của chỉ và sự kết dính của các tổ chức bên trong
                            </div>
                        </div>
                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">마취 때의 통증까지도 디테일하게 신경씁니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 30 phút</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê cục bộ/Gây mê giảm đau tối đa (không gây ngủ)</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 3 - 5 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Giảm thiểu đau đớn bằng phương pháp tiền mê.
											Sau phẫu thuật sẽ có cảm giác rát rát đi kèm với sốt, sau một thời gian sẽ đỡ.
											Có thể dùng thuốc giảm đau được kê toa sau phẫu thuật để giảm bớt cơn đau nhức do sưng và chườm lạnh sẽ giúp đỡ hơn.
											Mắt sẽ mở to rõ hơn và có hiệu quả giúp nhanh giảm sưng hơn.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>

            <div class="content-tab__page page-ptosis">
                <div class="content-tab__box">
                    <div class="correction-box5">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    Nếu lực mở mắt quá yếu và được chẩn đoán là dùng phương pháp nhấn mí kép điều chỉnh cơ mắt cũng khó có hiệu quả thì có thể điều chỉnh cơ mắt bằng phương pháp cắt. Thông thường mọi người sẽ tránh phải cắt mí vì một phần là lo sợ, một phần là do suy nghĩ nếu cắt thì mí nhìn sẽ không tự nhiên. Tuy nhiên nếu do bác sĩ có tay nghề cao thực hiện thì kết quả cắt mí điều chỉnh cơ mắt vẫn sẽ đẹp tự nhiên
                                </p>
                                <p class="content-section__txt1">
                                    Việc nói cắt mí sẽ nhìn không tự nhiên là nhầm lẫn khi người ta chỉ nhìn kết quả mắt vẫn còn trong thời kì hồi phục, vẫn có độ sưng, sau khi hết sưng hoàn toàn có thể nhận ra được kết quả không khác gì nhấn mí. Thỉnh thoảng nếu lấy mí cao quá sẽ ra kết quả mí mắt nhìn không tự nhiên, nhưng đây không phải vấn đề do lựa chọn cắt hoặc nhấn mà phần lớn là do tay nghề của bác sĩ.
                                </p>
                                <p class="content-section__txt1">
                                    Khi giải tỏa được hiểu lầm đó, thì sẽ nhận ra được nhiều ưu điểm của cắt mí điều chỉnh cơ mắt. Đây là phẫu thuật có hiệu quả cao nhờ vào đặc điểm là bác sĩ có thể trực tiếp kiểm tra được độ mạnh của cơ mở mắt, cũng như xác định chính xác vị trí điều chỉnh. Thêm vào đó, sau phẫu thuật điều chỉnh cơ mắt, mắt có thể mở to hơn thêm, giúp nhanh giảm sưng, lo lắng về sinh hoạt thường ngày có thể giảm bớt.
                                </p>
                                <p class="content-section__txt2 brace ">
                                    Đây là phẫu thuật có hiệu quả cao nhờ vào đặc điểm là bác sĩ có thể trực tiếp kiểm tra được độ mạnh của cơ mở mắt, cũng như xác định chính xác vị trí điều chỉnh. Thêm vào đó, sau phẫu thuật điều chỉnh cơ mắt, <span class="color-correction12">mắt có thể mở to hơn thêm, giúp nhanh giảm sưng</span>, lo lắng về sinh hoạt thường ngày có thể giảm bớt.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="misunderstanding">
                        <div class="misunderstanding__bg clearfix">
                            <div class="misunderstanding__wrapper align">
                                <h4 class="misunderstanding__tit">
								<span class="content-highlight type-eye-correction6">
									<span class="color-correction13">cắt mí điều chỉnh cơ mắt</span> Những hiểu lầm về
								</span>
                                </h4>
                                <div class="misunderstanding__desc">
                                    <h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">01.</span>
                                        Kết quả không được tự nhiên?
                                    </h5>
                                    <p class="misunderstanding__txt1">
                                        Hiểu lầm này xuất hiện do trong quá trình hồi phục sẽ nhìn sưng nhiều hơn là nhấn mí điều chỉnh cơ mắt. Thỉnh thoảng nếu lấy mí cao quá sẽ ra kết quả mí mắt nhìn không tự nhiên, nhưng đây không phải vấn đề do lựa chọn cắt hoặc nhấn mà phần lớn là do tay nghề của bác sĩ.
                                    </p>
                                </div>

                                <div class="misunderstanding__desc">
                                    <h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">02.</span>
                                        Sẹo bị lộ quá?
                                    </h5>
                                    <p class="misunderstanding__txt1">
                                        Ngay sau phẫu thuật, khó tránh khỏi việc lo lắng dấu vết phẫu thuật lộ rõ. Tuy nhiên chỉ sau 6 tháng thì sẹo gần như không thấy rõ bằng mắt thường.
                                    </p>
                                </div>
                                <div class="misunderstanding__thumb">
                                    <ul class="misunderstanding__list clearfix">
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" loading="lazy" alt="실밥제거후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" loading="lazy" alt="실밥제거후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" loading="lazy" alt="실밥제거후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                Sau khi cắt chỉ
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" loading="lazy" alt="1개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" loading="lazy" alt="1개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" loading="lazy" alt="1개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                Sau 1 tháng
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" loading="lazy" alt="3개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" loading="lazy" alt="3개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" loading="lazy" alt="3개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                Sau 3 tháng
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" loading="lazy" alt="4개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" loading="lazy" alt="4개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" loading="lazy" alt="4개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                Sau 6 tháng
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="misunderstanding__info">※ Hình ảnh này có thể khác với người thật tùy thuộc điều kiện khi chụp. Đã được sự đồng ý của bệnh nhân trước khi đăng tải hình ảnh. </p>
                                </div>
                            </div>
                        </div>
                        <div class="misunderstanding__bg-dark">
                            <div class="misunderstanding__inner-box">
                                <div class="misunderstanding__wrapper quotation type-eye-correction">
                                    <p class="misunderstanding__txt2">
                                        Đây là phẫu thuật có hiệu quả cao nhờ vào đặc điểm là bác sĩ có thể trực tiếp kiểm tra được độ mạnh của cơ mở mắt, cũng như xác định chính xác vị trí điều chỉnh. Với
										<span class="color-correction14 border">kĩ thuật phong phú có hệ thống</span>, Banobagi đang thực hiện phẫu thuật điều chỉnh cơ mắt như một hạng mục nghiên cứu phẫu thuật chuyên biệt.
                                    </p>
                                    <p class="misunderstanding__txt3">
										<span class="color-correction15">Đường mí tự nhiên</span> nhờ xác định vị trí cắt chính xác<br>
										Giảm thiểu đường cắt cho sự <span class="color-correction14">hồi phục nhanh</span><br>
										<span class="color-correction15">Một nét mặt tươi sáng</span> hơn nhờ đôi mắt rõ nét, sống động.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">마취 때의 통증까지도 디테일하게 신경씁니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 40 phút - 1 tiếng</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê cục bộ/Gây mê giảm đau tối đa (không gây ngủ)</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 4 - 5 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Giảm thiểu đau đớn bằng phương pháp tiền mê.
											Sau phẫu thuật sẽ có cảm giác rát rát đi kèm với sốt, sau một thời gian sẽ đỡ.
											Có thể dùng thuốc giảm đau được kê toa sau phẫu thuật để giảm bớt cơn đau nhức do sưng và chườm lạnh sẽ giúp đỡ hơn.
											Mắt sẽ mở to rõ hơn và có hiệu quả giúp nhanh giảm sưng hơn.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>
        </div>
    	<!-- //content-tab-upper-eye 비절개 눈매교정술-->
    </div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->

<% include ../_include/_footer %>
