<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-eye">
					Tự nhiên <span class="color-eye0">hơn</span><span class="style-comma">,</span>
					<span class="detail__middle-piece">
						dễ dàng <span class="color-eye0">hơn</span><span class="style-comma">,</span>
					</span>
					<span class="detail__first-piece type-eye">
						xinh đẹp <span class="color-eye0">hơn</span><span class="style-comma">,</span>
					</span>
				</p>
				<h3 class="detail__first-txt type-eye">
					Kết hợp kiến thức và kỹ năng chuyên môn<br>
					<strong class="detail__first-point"><span class="color-eye1">Banobagi thẩm mỹ Mắt</span> tỉ mỉ đến từng chi tiết</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye type-quotation2">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ Mắt</strong><span class="color-eye7">,</span>
						<strong class="color-eye2">Phương pháp thẩm mỹ</strong> của
						BANOBAGI
	              	</h4>
	              	<p class="detail__section-subtit">Phẫu thuật phù hợp từ chuẩn đoán đến phẫu thuật</p>
	              	<p class="detail__section-txt">
						Bất  kì thủ thuật thẩm mỹ Mắt nào cũng đều cần có sự chuẩn đoán cụ thể từ mọi khía cạnh khác nhau như hình dạng của mắt,
						độ dày mí mắt và liệu có bất kì vấn đề chức năng nào khi nhắm hay mở mắt không.
						Vì vậy, thời gian nhận tư vấn sẽ dài hơn nhằm đưa ra phương án thẩm mỹ chính xác phù hợp với từng cá nhân.
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m type-another">
			<div class="layer-doc hidden-p type-eye">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Lực của cơ mí mắt</li>
					<li class="layer-doc__item">Vị trị, độ to của đồng tử</li>
					<li class="layer-doc__item">Độ dày  & độ đàn hồi của da</li>
					<li class="layer-doc__item">Chiều hướng của đuôi mắt</li>
					<li class="layer-doc__item">Hình dạng nếp nhăn Mông cổ</li>
					<li class="layer-doc__item">Khoảng cách giữa hai mắt</li>
					<li class="layer-doc__item">Có hay không hiện tượng sụp mí mắt</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span>Hệ thống phẫu thuật thẩm mỹ mắt</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">popup</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-eye type-normal">
				  	<h4 class="detail__section-tit">
					  	<strong>Thẩm mỹ Mắt</strong><span class="color-comma">,</span><br class="hidden-tm">
					  	<span class="detail__section-bwrap">Banobagi</span>
					  	thực hiện <strong class="color-eye3">một cách bài bản</strong>
				  	</h4>
				  	<p class="detail__section-subtit">Toàn bộ những điều liên quan đến thẩm mỹ Mắt</p>
				  	<p class="detail__section-txt">
						Kết quả cuối cùng mà Banobagi theo đuổi là:
						<span class="detail__num">
							①Hình dáng mắt tự nhiên mà không để lại sẹo<br>
							②Không có vấn đề gì về chức năng của mắt<br>
							③Kết quả phù hợp với hình ảnh của bệnh nhân
						</span>
						Tại Banobagi, chúng tôi có các phương pháp, kỹ thuật, kiến thức và quy trình phẫu thuật chi tiết để làm cho đôi mắt trở nên đẹp hơn.
				  	</p>
			  	</div>
			</div>
			<!-- layer-doc5 -->
  		  	<div class="layer-doc5">
  				<ul class="layer-doc5__list">
  					<li class="layer-doc5__item nth-1">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">01</p>
  							<h5 class="layer-doc5__tit">Tạo hình Mắt hai mí</h5>
  						</div>
  					</li>
	  				<li class="layer-doc5__item nth-2">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">02</p>
	  						<h5 class="layer-doc5__tit">Điều chỉnh cơ mí mắt</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-3">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">03</p>
	  						<h5 class="layer-doc5__tit">Nâng cung chân mày</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-4">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">04</p>
	  						<h5 class="layer-doc5__tit">Mở rộng góc mắt</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-5">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">05</p>
	  						<h5 class="layer-doc5__tit">Sắp xếp lại mỡ dưới mắt</h5>
	  					</div>
	  				</li>
	  			</ul>
  		  	</div>
  		  	<!-- //layer-doc5 -->
		</div>
	</section>

	<section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye">
					<h4 class="detail__section-tit">
						<strong>Thẩm mỹ Mắt</strong><span class="color-comma">,</span><br class="hidden-tm">
						Banobagi
						là <strong class="color-eye3">đặc biệt</strong>
					</h4>
					<p class="detail__section-subtit">Banobagi, bệnh viện chuyên  về thẩm mỹ không cắt rạch</p>
					<p class="detail__section-txt color-eye5">
						Tại Banobagi, chúng tôi tự tin và tự hào về phương pháp thẩm mỹ không cắt rạch. Viện trưởng Park Sun-jae là đại diện chuyên khoa thẩm mỹ mắt Banobagi, người có quá trình nghiên cứu và thực hiện thẩm mỹ Mắt trong hơn <?=$sinceYear?> năm. Banobagi luôn không ngừng nghiên cứu, cải tiến kỹ thuật để có thể thực hiện điều chỉnh cơ mắt mà không cần cắt rạch, Banobagi có khả năng tạo nên đôi mắt tự nhiên, tươi sáng mà không để lại vết rạch trên da “
					</p>
				</div>
			</div>
  		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m type-another"  >
			<div class="layer-doc hidden-p type-eye type-another">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Loại bỏ da chùng mí trên không cắt</li>
					<li class="layer-doc__item">Điều chỉnh cơ mắt không cắt</li>
					<li class="layer-doc__item">Mở rộng góc mắt trước không cắt</li>
					<li class="layer-doc__item">Tạo mắt hai mí không cắt</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span class="color-eye8">Phẫu thuật mắt không rạch cắt</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">popup</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
		<div class="detail__inner">
			<div class="detail__popup" >
			  	<div class="detail__popup-wrap">
				  	<h5 class="detail__popup-tit">Tiền mê với kĩ thuật giảm thiểu cơ đau<span class="color-eye9">.</span></h5>
				 	<div class="eye-popup">
				 		<ul class="eye-popup__list">
				 			<li class="eye-popup__item nth-1">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">01</p>
					 				<h6 class="eye-popup__tit">Sử dụng kim mỏng</h6>
					 			</div>
				 			</li>
					 		<li class="eye-popup__item nth-2">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">02</p>
					 				<h6 class="eye-popup__tit">Kỹ thuật cao của chuyên gia</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-3">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">03</p>
					 				<h6 class="eye-popup__tit">Áp dụng kem gây tê trước phẫu thuật</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-4">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">04</p>
					 				<h6 class="eye-popup__tit">Sử dụng gây mê tùy chỉnh</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-5"><div class="eye-popup__wrap">mark</div></li>
				 		</ul>
				 	</div>
				  	<a href="" class="detail__popup-close js-popup-close">Đóng</a>
			  	</div>
		  	</div>
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
				  	<h4 class="detail__section-tit">
  					  	<strong>Thẩm mỹ Mắt</strong><span class="color-comma">,</span>
  					  	<span class="detail__section-bwrap">Banobagi</span>
  					  	thực hiện <strong class="color-eye3">Detail</strong>
  				  	</h4>
  				  	<p class="detail__section-subtit">Lí do chúng tôi nhấn mạnh hình thức gây mê tối thiểu hóa cơn đau không gây ngủ</p>
  				  	<p class="detail__section-txt">
						Đối với thẩm mỹ Mắt, việc bệnh nhân tỉnh táo trong quá trình nhận phẫu thuật sẽ giúp mang lại kết quả thẩm mỹ hài lòng hơn.  Do đó, Banobagi  thực hiện phẫu thuật dưới hình thức gây mê tối thiểu hóa cơn đau không gây ngủ. Banobagi luôn không ngừng nghiên cứu về phương pháp gây mê tối thiểu hóa cơn đau. Đại đa phần bệnh nhân của Banobagi phản hồi rằng so với gây mê ngủ thì họ cảm thấy an tâm hơn với phương pháp gây mê trên.
  				  	</p>
  			  	</div>
  		  	</div><!-- //detail__vertical -->
	    </div>
	  	<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				Tiền mê với kĩ thuật giảm thiểu cơ đau
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">popup</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-eye type-quotation2">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Mắt</strong><span class="color-comma">,</span><br class="hidden-tm">
						Banobagi
	  					<strong>luôn lắng nghe</strong> bệnh nhân
	  				</h4>
	  				<p class="detail__section-subtit">Lí do Banobagi tiến hành hội nghị hai lần mỗi tháng</p>
	  				<p class="detail__section-txt color-eye6">
						Banobagi tiến hành hội nghị hai lần mỗi tháng một cách đều đặn để có cái nhìn sâu sắc hơn nữa và kiến thức về các tiêu chuẩn của phương pháp phẫu thuật chi tiết.
						Toàn bộ nhân viên bộ phận thẩm mỹ Mắt bao gồm Y bác sĩ, y tá, nhân viên tư vấn, nhân viên điều dưỡng tham gia hội nghị,
						cùng nhau phân tích các trường hợp và chia sẽ những câu chuyện bệnh nhân. Hội nghị diễn ra đều đặn trong suốt <?=$sinceYear?> năm qua,
						vì vậy chúng tôi tự tin luôn chăm sóc khách hàng tốt nhất và mang lại kết quả hài lòng hơn.
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
