<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
	            <p class="content-visual__txt1">Cắt mí nhìn sẽ không tự nhiên: đó là định kiến sai</p>
	            <h3 class="content-visual__tit"># <span class="color-incisional1">CẮT</span> MÍ MẮT</h3>
	            <p class="content-visual__txt2 type-eye-incisional">Vừa tự nhiên vừa sắc nét</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
	                        <h4 class="content-section__tit type-top">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">01</span>
			                    </span>
								Chúng tôi sẽ giải tỏa
	                            <strong class="color-incisional1">những hiểu lầm của bạn về phương pháp cắt mí</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            Cắt mí là phương pháp được tiến hành theo từng bước: vẽ thiết kế đường mí mắt rồi tiến hành cắt mí sau đó lấy bớt cơ, mỡ, cột cơ và da lại để cố định. Nếu bệnh nhân có nhiều da chùng và mỡ nhiều thì phương pháp cắt mí sẽ thích hợp hơn.
	                        </p>
	                        <p class="content-section__txt2">
	                            Phương pháp phẫu thuật cắt mí mắt là phương pháp có nhiều ưu điểm như tạo ra được đa dạng dáng mí, hình dáng mắt sáng, rõ nét hơn.
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" loading="lazy" alt="model">
	                            model
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
								Là phương pháp phẫu thuật cần được làm rõ hơn những lầm tưởng.<br>
								Trước nhất, tên của phương pháp nghe có gì đó nặng nề, như một điều gì đó đáng sợ và đau. Sợ bị để lại sẹo, sợ bị trêu là “mắt như xúc xích”.
	                            <span class="color-incisional1">
									Tuy nhiên, thực ra cắt mí và nhấn mí thì kết quả không khác nhau nhiều đến thế.
								</span><br>
		                        Vấn đề nằm ở tay nghề của bác sĩ.
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
	            <h4 class="incisional-box2__tit">
	                Tạo ra được <strong class="color-incisional2">đa dạng</strong> kiểu dáng mí mắt
	            </h4>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">

	                    <div class="item-box3 type-incisional">
	                        <ul class="item-box3__list">
	                            <li class="item-box3__item nth-1">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            Là dáng mí mà dính liền ở phần tiếp nối với đầu mắt sau đó mới từ từ to ra về đuôi mắt.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-2">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">Out-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
								               Là dáng mí mà mí mắt có dáng chạy theo phía trên con mắt, nhìn rời ra con mắt từ phần đầu đến đuôi mí.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-3">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-out-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            Cũng tương tự Out-line là dáng rời với mắt, nhưng phần đầu hơi gần mắt tí rồi từ từ to ra về phía sau.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div><!-- //item-box3-->


	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
                    <div class="content-section__box1 type-sort">
                        <h4 class="content-section__tit type-center">
		                    <span class="content-section__number">
		                        <span class="content-section__number-wrap">
		                            02
		                        </span>
		                    </span>
                            Cắt mí: bác sĩ <strong class="color-incisional1">phải có kĩ thuật tốt</strong> nếu nhất định cần thiết làm
						</h4>
                    </div>
                    <div class="content-section__box1">
                        <p class="content-section__txt1">
                            Những người có cân nhắc về phẫu thuật thẩm mỹ mắt đa phần đều không muốn cắt mí. Chúng tôi cũng cố gắng làm sao để tiến hành không cắt nếu có thể để cải thiện hình dáng mắt. Sau khi tư vấn đầy đủ với bệnh nhân, chỉ trong trường hợp thật sự cần thiết chúng tôi mới phải đề nghị dùng cách cắt. Như những trường hợp như hốc mắt có nhiều mỡ và mí mắt bị da chùng nhiều.
                        </p>
                        <div class="content-section__img-wrap type-width clearfix">
                            <div class="content-section__img ">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-01.jpg" loading="lazy" alt="CẮT MÍ MẮT" class="content-section__thumb sec2-pic1">
                                    <div class="content-section__thumb sec2-pic1"></div>
                                </div>
                            </div>
                            <div class="content-section__img">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-02.jpg" loading="lazy" alt="CẮT MÍ MẮT"class="content-section__thumb sec2-pic1">
                                </div>
                            </div>
                        </div>
                        <div class="brace type-incisional">
                            <p class="brace__txt txt-v4">
                                Cắt mí: bác sĩ phải có kĩ thuật tốt nếu nhất định cần thiết làm <br>
                                Mí mắt do <span class="color-incisional1">bác sĩ có tay nghề cao</span><br>
                                Cắt mí sẽ có mức độ hài lòng cao hơn cả phương pháp nhấn mí
                            </p>
                        </div>
                    </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h4 class="content-section__tit type-left">
									<span class="content-section__number">
										<span class="content-section__number-wrap">03</span>
									</span>
	                                <strong class="color-incisional1">SỰ TỰ NHIÊN?</strong><br>
	                                BANOBAGI VẪN CHƯA BỎ CUỘC
	                            </h4>
	                        </div>
	                        <div class="content-section__desc">
	                            <div class="content-section__question1 highlight-incisional1"> “Có đúng là phẫu thuật bằng phương pháp cắt không?”</div>
	                            <div class="content-section__txt1">
	                                Thỉnh thoảng có một số người quen của bệnh nhân Banobagi hỏi như vậy khi nhìn thấy kết quả của bệnh nhân tại Banobagi. Rõ ràng nói là đã cắt mí, nhưng mà nhìn vào cũng không phân định được. Phương pháp cắt mí mắt của Banobagi tự nhiên đến mức vậy. Sắp xếp lại những tổ chức trong mí mắt, cắt gọn đường mí, tạo nên đường mí tự nhiên như mí thật chứ không phải đường sẹo.
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <div class="content-section__question1 highlight-incisional2">Nếu cắt mí sẽ bị lộ đúng không?</div>
	                            <div class="content-section__txt1">
	                                Tuyệt đối không phải vậy. Phẫu thuật mắt giỏi hay dở thì nhìn vào kĩ thuật cắt sẽ biết được rõ ràng. Sự thật là vẫn có bác sĩ có thể cho kết quả cắt mí tự nhiên như nhấn mí. Nếu bạn rơi vào trường hợp nhất định phải cắt mí thì phải tìm bệnh viện, bác sĩ làm được như vậy.
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">04</span>
								</span>
	                            <strong class="color-incisional1">SẸO VÀ SƯNG,</strong>
								KHÔNG CẦN PHẢI LO LẮNG NHIỀU
	                        </h4>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
								Việc lo ngại về cắt mí một phần có lẽ cũng là do sẹo. Ngay sau phẫu thuật thì chắc chắn dấu vết phẫu thuật chắc chắn sẽ để lại rõ, vì vậy không tránh khỏi lo lắng nhiều. Tuy nhiên khoảng 6 tháng sau thì gần như không nhìn thấy bằng mắt thường.
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">Sau khi cắt chỉ</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">Sau khi cắt chỉ</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">Sau 1 tháng</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Sau 1 tháng</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">Sau 3 tháng</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Sau 3 tháng</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">Sau 6 tháng</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Sau 6 tháng</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            Phương pháp cắt mí chắc chắn sẽ sưng lâu hơn là nhấn mí. Thường 2~3 ngày đầu sẽ sưng nhiều nhất sau đó sẽ dịu dần theo thời gian.
	                        </div>
	                        <div class="open-close">
	                            <ul class="open-close__list clearfix">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">img</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">img</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [Hình ảnh này đã nhận được sự đồng ý của bệnh nhân đã phẫu thuật tại Banobagi nhằm phục vụ cho việc giải thích rõ trong tư vấn.]
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">Thông tin của phẫu thuật cắt mí</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 30 phút - 1 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê cục bộ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 2 - 3 ngày </p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Nếu có gây mê thì phương pháp cắt mí sẽ còn ít đau hơn nhấn mí chỉ tiêm tê thông thường.
									Khi hết thuốc tê sẽ cảm thấy rát buốt ở vùng phẫu thuật và hơi thấy khó chịu cùng với cảm giác đau.
									Nếu không chịu được thì nên uống thuốc giảm đau. Thuốc giảm đau bán ở nhà thuốc có thể khống chế được ở mức độ đau này.
									Nếu thấy nóng lên thì nên chườm lạnh
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
