<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-relocation">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">다시 잡아주는 눈 밑 지방의 모양</p>
						<h3 class="new-visual__tit">눈 밑 <span class="n-color-eye2">지방재배치</span></h3>
						<p class="new-visual__txt">보다 젊고 밝아지는 인상</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#밝은인상</span></li>
							<li class="new-visual__item"><span>#자연스러운개선</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        대부분의 눈 밑 고민은 <span class="n-color-eye2">눈 밑 지방의<br class="hidden-tm">
                        모양</span>이 변하면서 시작됩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						대표적인 눈 밑 고민으로는 눈 밑의 과도한 돌출, 눈 밑 주름, 다크서클 등이 있습니다.<br class="hidden-tm">
                        주로 이러한 증상들은 따로따로 나타나기보다는 한 번에 복합적으로 나타나는데, 그 이유는 대부분의 눈 밑 고민이<br class="hidden-tm">
                        <span class="color-black1">'눈 밑 지방의 모양 변화'라는 공통된 원인으로부터 시작</span>되기 때문입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						이런 증상들은 피곤해 보이거나 무기력해 보이는 등 어두운 인상을 만들고 노안의 원인이 되기 때문에,<br class="hidden-tm">
                        눈 밑 지방의 모양을 다시 잡아주는 <span class="n-color-eye2">눈 밑 지방재배치를 통해 조금 더 긍정적인 이미지로 개선</span>해줄 수 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_1.jpg" loading="lazy" alt="움푹 들어간 눈물고랑, 지방처징&잔주름" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->
            <div class="new-section type-cling">
				<div class="outer-box">
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit type-description tit-new2">
                                눈 밑 지방재배치 <span class="weight-regular">대상</span>
                            </h5>

							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										눈 밑 지방이 과도하게 돌출된 경우
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										눈 밑이 꺼지고 혈관이 비쳐 피곤해 보이는 경우
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										눈 밑 주름이 잡혀 나이가 들어 보이는 경우
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										눈 밑이 울퉁불퉁하여 눈매가 정돈되어 보이지 않는 경우
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        지방제거나 이식이 아닌<br class="hidden-tm">
                        <span class="n-color-eye3">재배치가 핵심</span>입니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        눈 밑 지방 문제를 개선하는 방법은 결국 <span class="n-color-eye3">볼록하게 튀어나온 부위의 지방은 줄이고<br class="hidden-tm">
                        꺼진 부위는 채워주는 것</span>입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        하지만 단순히 눈 밑 지방을 제거하거나 새로운 지방을 이식하는 것보다는, <span class="color-white">기존에 주어진 눈 밑 지방을 활용하여 적절히<br class="hidden-tm">
                        재배치하는 것</span>이 좋습니다. 지방에 대한 문제는 무엇보다 그 생착률이 중요하기 때문입니다.<br><br>

                        단순히 눈 밑 지방의 제거만을 하게 되면 시간이 지나 근처의 지방들도 함께 소실되어 눈 밑이 급격히 꺼져 보일 수 있습니다.<br class="hidden-tm">
                        반대로 꺼진 눈 밑에 새로운 지방을 이식하면 그 지방들이 얼마나 생착될지 그 결과가 불확실하다는 단점이 있죠.<br class="hidden-tm">
                        특히나 눈은 끊임없이 움직이는 부위로, 지방이 생착되기 힘들고 효율성 또한 떨어집니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_2.jpg" loading="lazy" alt="바노바기 성형외과 눈 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="compare2 type-eye">
                            <h5 class="new-content-tit tit-new2">
                                눈 밑 지방을 ‘<span class="weight-regular">재배치</span>’하는 이유
                            </h5>

                            <ul class="compare2__list">
                                <li class="compare2__item">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_3.jpg" loading="lazy" alt="지방제거 또는 이식 - 과도한 지방제거로 근처 지방도 함께 소실되거나, 지방 이식의 경우 이식된 지방의 생착률이 떨어짐." class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                지방제거 또는 이식
                                            </div>
                                        </div>
                                    </div>
                                    <p class="compare2__txt txt-new1">
                                        과도한 지방제거로 근처 지방도 함께 소실되거나,<br class="hidden-tm">
                                        지방 이식의 경우 이식된 지방의 생착률이 떨어짐.
                                    </p>
                                </li>
                                <li class="compare2__item nth-2">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_4.jpg" loading="lazy" alt="지방재배치 - 기존에 눈 밑에 주어진 지방들의 모양을 다시 잡아주기 때문에, 지방이 소실될 가능성 거의 없음" class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                지방재배치
                                            </div>
                                        </div>

                                        <div class="compare2__area">
                                            <p class="compare2__txt2">
                                                <span class="n-color-eye2">
                                                    수술 후<br class="hidden-tm">
                                                    지방의 형태<br class="hidden-tm">
                                                    유지력
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <p class="compare2__txt txt-new1">
                                        기존에 눈 밑에 주어진 지방들의 모양을 다시 잡아주기<br class="hidden-tm">
                                        때문에, 지방이 소실될 가능성 거의 없음
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        비교적 <span class="n-color-eye2">간편한 방법</span>으로<br class="hidden-tm">
                        재배치할 수 있습니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        그래서 바노바기는 눈 밑 지방을 재배치합니다.<br class="hidden-tm">
						물론 더 나은 결과를 위해 필요한 경우라면 자가 지방이나 필러, 보톡스와 같은 방법을 병행하기도 합니다.<br class="hidden-tm">
						하지만 기본적으로는 <span class="n-color-eye2">기존에 있던 눈 밑 지방의 모양을 다시 잡아주는 것을 핵심</span>으로 하죠.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        수술 방법은 비교적 간단합니다. 눈 안쪽 결막을 미세하게 절개한 후, 눈 밑 지방을 적절히 당겨서 고르게 펴주는 것입니다.<br class="hidden-tm">
						이때, 기존에 있었던 눈 밑 지방이라 하더라도 혈관이 잘리거나 손상되면 이후 소실될 가능성이 있기 때문에, 가능한 한 지방을  떼어내거나<br class="hidden-tm">
						분리하는 일 거의 없이 재배치하는 것이 중요합니다. 이후 고르게 재배치된 지방을 고정하고 절개 부위를 봉합하면 수술은 마무리됩니다.
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-eye">
                            <h5 class="new-content-tit tit-new2">
                                바노바기 눈 밑 지방재배치 <span class="weight-regular">방법</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_5.jpg" loading="lazy" alt="STEP 01 눈 밑의 상태를 면밀히 진단하고 재배치할 지방의 위치와 모양을 계획합니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										눈 밑의 상태를 면밀히 진단하고 재배치할 지방의 위치와
										모양을 계획합니다.
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_6.jpg" loading="lazy" alt="STEP 02 눈 안쪽의 결막을 미세하게 절개합니다. 때문에 일상생활에서 수술 흔적이 거의 보이지 않습니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										눈 안쪽의 결막을 미세하게 절개합니다. 때문에 일상생활에서
										수술 흔적이 거의 보이지 않습니다.
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_7.jpg" loading="lazy" alt="STEP 03 개개인의 눈 모양과 눈 밑 지방의 모양에 맞게 눈 밑 지방을 재배치 합니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										개개인의 눈 모양과 눈 밑 지방의 모양에 맞게 눈 밑 지방을
										재배치 합니다.
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_8.jpg" loading="lazy" alt="STEP 04 지방을 지지하는 결막을 강화하고 절개 부위를 봉합하여 수술을 마무리합니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 04
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										지방을 지지하는 결막을 강화하고 절개 부위를 봉합하여 수술을
										마무리합니다.
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        바노바기 눈 밑 지방재배치는<br class="hidden-tm">
						<span class="n-color-eye2">효과적</span>이면서도 <span class="n-color-eye2">오래</span>갑니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        눈 밑 지방이 돌출되는 그 1차적 원인은 눈 밑 지방의 모양을 잡아주던 안와격막의 약화 때문입니다.<br class="hidden-tm">
						따라서 이 안와격막에 대한 개선 없이 눈 밑 지방을 재배치한다면, 그 효과가 오래가지 못할 가능성이 높습니다.<br class="hidden-tm">
						지방은 그 위치를 고정시킨다고 해도 신체 컨디션에 따라 그 크기와 모양이 조금씩 바뀌어, 시간이 지나면 또다시 약화된<br class="hidden-tm">
						안와격막을 밀어내고 돌출될 수도 있기 때문입니다.<br><br>

						그래서 바노바기는 눈 밑 지방재배치와 동시에 안와격막에 대한 개선을 생각합니다.<br class="hidden-tm">
						<span class="n-color-eye2">눈 밑 지방의 모양과 위치를 다시 잡아 고정하면서, 안와격막을 당겨 그 형태를 더욱 오래 유지할 수 있도록 해주는 것</span>입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        이 방법은 눈 밑 지방에 대한 근본적인 개선을 기대할 수 있는 방법으로, <br class="hidden-tm">
						<span class="n-color-eye2">보다 자연스러운 개선이 가능하며 그 효과가 더욱 오래 유지된다는 장점</span>이 있습니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_9.jpg" loading="lazy" alt="바노바기 성형외과 눈 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-three type-eye">
                            <h5 class="new-content-tit tit-new2">
                                <span class="weight-regular">안와격막의 개선</span>까지 생각하는 바노바기 눈 밑 지방재배치
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_10.jpg" loading="lazy" alt="STEP 01 안와격막" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_11.jpg" loading="lazy" alt="STEP 02 지방재배치" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_12.jpg" loading="lazy" alt="STEP 03 늘어난 안와격막 개선" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation4">
					<div class="img-style3 type-cling type-wide type-eye">
						<h5 class="new-content-tit tit-new2 color-white">
							바노바기 눈 밑 지방재배치 <span class="weight-regular">특장점</span>
						</h5>

						<ul class="img-style3__list">
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_13.jpg" loading="lazy" alt="눈에 대한 해부학적 이해와 기술을 갖춘 바노바기 눈 성형 전담팀" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										눈에 대한 해부학적 이해와 기술을 갖춘 바노바기 눈 성형 전담팀
									</div>
								</div>
							</li>
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_14.jpg" loading="lazy" alt="눈 밑 지방재배치 + 안와격막 개선 - 더욱 효과적으로 밝아지는 인상, 수술의 흔적 거의 없이 보다 자연스러운 결과, 보다 오래 지속되는 효과" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										눈 밑 지방재배치 + 안와격막 개선
									</div>
								</div>
							</li>
						</ul>
					</div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30 분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 3일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 약간의 부기와 이물감이 느껴질 수 있으며, 시간이 지나면서 점차 완화됩니다.<br>
									부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있습니다.<br>
									수술 다음날부터 눈 밑을 제외한 세안이 가능합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
