<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-middleage">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">자연스럽게 젊어지는 눈매</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">중년 눈</span> 성형</h3>
						<p class="new-visual__txt">밝아지는 인상, 그리고 눈 기능의 개선까지</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#피부처짐의개선</span></li>
							<li class="new-visual__item"><span>#적은부담</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-middleage">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        중년 눈 성형은 미용을 위한<br class="hidden-tm">
                        일반적인 젊은 층의 눈 성형과는<br class="hidden-tm">
						<span class="n-color-eye2">그 접근을 달리해야 합니다.</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기는 중년층의 눈 성형에 대한 고민을 이해하고,<br class="hidden-tm">
						<span class="color-black1">그 고민을 확실히 개선함과 동시에 그 부담은 줄일 수 있는 중년 눈 성형을 추구</span>합니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/eye/middleage/middleage_img_1.png" loading="lazy" alt="중년 눈성형 수술 환자" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-middleage2 type-top0 type-bottom">
					<div class="inner-box type-middleage">
						<div class="img-style1 type-padding">
							<h5 class="new-content-tit tit-new2">
								바노바기는 이러한 가치를 실천할 수 있는<br class="hidden-tm">
								<strong class="weight-regular">디테일한 수술 계획으로 더욱 만족스러운<br class="hidden-tm">
								중년 눈 성형이 될 수 있도록 노력</strong>합니다
							</h5>
						</div>
						<div class="bar-style1 type-eye">
							<ul class="bar-style1__list">
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											눈 모양이나 크기의 화려한 변화보다는, 눈가의 주름과 피부 처짐의 개선을 통해 젊은 눈으로<br class="hidden-tm">
											자연스럽게 되돌리는 것이 중요합니다.
										</div>
									</div>
								</li>
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											그러면서도 수술에 대한 부담이 적어야 합니다.
										</div>
									</div>
								</li>
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											그 과정에서 저하됐던 눈의 기능까지 교정할 수 있다면 더욱 좋습니다
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab type-eye">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active page-upper">
						<div class="new-tab__wrap">
							<a href="page-upper" class="new-tab__link">상안검</a>
						</div>
					</li>
					<li class="new-tab__item page-lower">
						<div class="new-tab__wrap">
							<a href="page-lower" class="new-tab__link">하안검</a>
						</div>
					</li>
					<li class="new-tab__item page-pexy">
						<div class="new-tab__wrap">
							<a href="page-pexy" class="new-tab__link">브로우 펙시</a>
						</div>
					</li>
					<li class="new-tab__item page-brow">
						<div class="new-tab__wrap">
							<a href="page-brow" class="new-tab__link">브로우 리프팅</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-upper is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        노화로 인한 눈꺼풀 처짐, <br class="hidden-tm">
	                        <span class="n-color-eye3">눈 건강을 위해서도 개선</span>해야 합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							다른 피부와 마찬가지로 눈꺼풀 또한 시간이 지나면 탄력을 잃고 아래로 처지게 됩니다.<br class="hidden-tm">
							처진 눈꺼풀은 얼굴을 늙어 보이게 만들고 시야를 가리게 되죠.<br class="hidden-tm">
							시야가 좁아진 만큼 얼굴을 찌푸리거나 눈썹을 치켜 뜨게 되기 때문에 전반적인 얼굴 주름의 원인이 되기도 합니다.<br class="hidden-tm">
							무엇보다 눈꺼풀 처짐의 가장 큰 문제는 눈 건강에도 좋지 않다는 것입니다.<br class="hidden-tm">
							<span class="color-white">눈이 붓고, 눈물이 쉽게 나며, 눈 끝이 짓물러 접촉성 피부염을 유발하기도 하죠.<br class="hidden-tm">
								따라서 눈꺼풀 처짐은 상안검 수술을 통해 개선해주는 것이 좋습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_2.jpg" loading="lazy" alt="상안검 수술 환자" class="img-normal">
						</div>
						<div class="inner-box type-middleage2">
							<div class="img-style2 type-four type-cling">
								<ul class="img-style2__list">
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_3.jpg" loading="lazy" alt="잦은붓기" class="img-w100">
											<div class="img-style2__caption txt-new1">잦은붓기</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_4.jpg" loading="lazy" alt="눈처짐" class="img-w100">
											<div class="img-style2__caption txt-new1">눈처짐</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_5.jpg" loading="lazy" alt="눈물" class="img-w100">
											<div class="img-style2__caption txt-new1">눈물</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_6.jpg" loading="lazy" alt="눈 끝 짓무름" class="img-w100">
											<div class="img-style2__caption txt-new1">눈 끝 짓무름</div>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        불편함에도 주저하는 이유, <br class="hidden-tm">
	                        <span class="n-color-eye2">바노바기는알고 있습니다.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							‘수술’에 대한 두려움, 인상이 확 바뀔까에 대한 걱정, 통증에 대한 부담, 일상생활에 지장이 있을까 하는 고민<br class="hidden-tm">
							많은 환자분들이 눈꺼풀 처짐으로 인한 각종 불편함에도 상안검 수술을 쉽게 결정하지 못하십니다.<br class="hidden-tm">
							수술에 대한 막연한 두려움, 인상이 바뀌어 낯선 얼굴이 되지는 않을까 하는 걱정, 통증과 회복에 대한 부담감 등 때문이죠.<br class="hidden-tm">
							<span class="color-black1">바노바기는 이 부분을 이해하고 환자분들에게 더 좋은 방법을 제안하기 위해 끊임없이 고민했습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_7.jpg" loading="lazy" alt="상안검 수술 환자" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box1">
						<h4 class="middleage-box1__tit tit-new1 weight-regular">
	                        그 고민을 알고 있기 때문에<br class="hidden-tm">
	                        <span class="n-color-eye3">이중매몰 상안검을 고안</span>했습니다
						</h4>
						<p class="middleage-box1__txt txt-new1">
							앞서 말씀드린 상안검을 주저하게 만드는 이유들 중 대부분은 수술 시에 절개를 하기 때문에 발생하는 것입니다.<br class="hidden-tm">
							하지만 그렇다고 절개 없이 실 만으로 늘어진 눈꺼풀을 교정하게 되면, 처진 눈꺼풀을 효과적으로 지탱하기가 어려우며 다시 풀어질 위험도 있죠.<br class="hidden-tm">
							<span class="color-white">그래서 바노바기는 기존 매몰법의 방식에 조직의 유착이라는 힘을 더해주는 이중매몰 상안검을 고안했습니다.</span>
						</p>
						<div class="middleage-box1__img">
							<img src="../../images/eye/middleage/middleage_img_8.jpg"
							loading="lazy" alt="이중매몰 상안검 - 절개를 하지 않고도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해 눈꺼풀을 보다 안정적으로 교정" class="img-normal hidden-m">
							<img src="../../images/eye/middleage/middleage_img_8_m.jpg" loading="lazy" alt="이중매몰 상안검 - 절개를 하지 않고도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해 눈꺼풀을 보다 안정적으로 교정" class="img-w100 hidden-pt">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box2">
						<p class="middleage-box2__txt txt-new1">
							이중매몰 상안검은 절개를 하지 않으면서도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해<br class="hidden-tm">
							더욱 효과적이고 안정적인 눈꺼풀의 교정을 유도하게 됩니다.<br class="hidden-tm">
							비절개로 진행되기 때문에 수술에 대한 부담을 줄일 수 있다는 장점이 생기죠.<br class="hidden-tm">
							수술시간이 짧아지고 그에 따라 회복 또한 빨라집니다.
						</p>
						<p class="middleage-box2__txt2 txt-new2">
							또, 수술 후의 부기와 통증이 적기 때문에<br class="hidden-tm">
							<span class="n-color-eye2">더욱 자연스러워 일상생활</span>에 크게 문제가 되지 않습니다.
						</p>
						<div class="hexa-style1">
                            <div class="hexa-style1__layer nth1">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">보다 짧은</span><br>
                                                <span class="inline-block">수술 시간</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">비교적</span><br>
                                                <span class="inline-block">빠른 회복</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hexa-style1__layer nth2">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">효과적이고</span><br>
                                                <span class="inline-block">안정적인 교정</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item type-special">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">이중매몰</span><br>
                                                <span class="inline-block">상안검</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">눈 뜨는 힘</span><br>
                                                <span class="inline-block">강화</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hexa-style1__layer nth3">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">자연스럽고</span><br>
                                                <span class="inline-block">부드러운 눈매</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">젊고 밝은</span><br>
                                                <span class="inline-block">인상</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">국소마취/비수면 최소통 마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.<br>
										수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
				<div class="new-section">
					<div class="new-style1 type-middleage4 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        절개 상안검이라도 <br class="hidden-m">
	                        <span class="n-color-eye2">자연스러울 수 있습니다</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							눈꺼풀이 탄력을 잃고 심하게 처진 경우에는 이중매몰 상안검으로 개선하기 어려운 것이 사실입니다.<br class="hidden-tm">
							아무리 정밀하게 교정하고 눈 뜨는 힘을 개선한다 해도 늘어난 피부가 여전히 처진다면 의미가 없으니까요.<br class="hidden-tm">
							그런 경우에는 절개 상안검을 진행해야 합니다.
							<span class="color-black1">늘어난 눈꺼풀과 과다한 지방 등을 제거하여 보다<br class="hidden-tm">
								확실하게 눈꺼풀 처짐을 개선하는 것이죠.</span>
						</p>
						<p class="new-style1__txt2 txt-new2">
							절개 상안검이더라도 쌍꺼풀이 두껍게 생기거나 <span class="n-color-eye2">크게 인상이
								바뀌는 것에 대한 염려</span>는 하지 않으셔도 됩니다.
						</p>
						<p class="new-style1__txt txt-new1">
							바노바기는 다년간의 기술과 감각으로 쌍꺼풀 라인의 조정이 가능하기 때문입니다.<br class="hidden-tm">
							개인의 눈꺼풀 상태에 따라 속눈썹 바로 위를 정밀하게 절개하여 작은 쌍꺼풀이 생기게 하거나,<br class="hidden-tm">
							따로 고정을 하지 않아 쌍꺼풀 라인을 만들지 않는 것도 가능하죠.<br class="hidden-tm">
							물론 절개 수술이기 때문에 수술 직후에는 이중매몰 상안검에 비해 부어 보이고 낯설게 느껴질 수는 있습니다.<br class="hidden-tm">
							<span class="color-black1">하지만 시간이 지나 부기가 가라앉은 후에는 훨씬 자연스럽고 만족스러운 결과를 확인하실 수 있습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_7.jpg" loading="lazy" alt="상안검 수술 환자" class="img-normal">
						</div>
						<div class="inner-box type-middleage3">
							<div class="middleage-box3">
								<h5 class="new-content-tit tit-new2">핵심 포인트</h5>
								<div class="middleage-box3__img">
									<img src="../../images/eye/middleage/middleage_img_10.jpg" loading="lazy" alt="늘어진 피부를 제거" class="img-normal">
								</div>
								<ul class="middleage-box3__list">
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">01</p>
												<p class="middleage-box3__txt">
													속눈썹과 가까운
													절개로 자연스러운
													쌍꺼풀 라인
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">02</p>
												<p class="middleage-box3__txt">
													치밀한 계산으로
													절제할 눈꺼풀의
													양을 결정
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">03</p>
												<p class="middleage-box3__txt">
													꼭 필요한
													절개만으로
													빠른 회복 유도
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">04</p>
												<p class="middleage-box3__txt">
													또렷하고
													생기 있는 눈매로
													시원한 인상 추구
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 40분~1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">국소마취/비수면 최소통 마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 4~5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.<br>
										수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-lower">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        복합적으로 남는 눈 밑의 노화 흔적,<br class="hidden-tm">
	                        <span class="n-color-eye3">하안검으로 효과</span>를 볼 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new2">
							눈 밑은 눈 옆의 잔주름과 함께 눈가의 노화가 가장 두드러져 보이는 부위 중 하나입니다.
						</p>
						<p class="new-style1__txt2 txt-new1">
							눈 밑 피부가 탄력을 잃어 푸석한 느낌의 주름이 생기고, 톤이 어두워지거나 지방 주머니가 늘어지는 형태를 보이죠.<br class="hidden-tm">
							이러한 모습은 유독 피곤해 보이거나 늙어 보이는 인상을 주는 포인트가 되기 때문에, 하안검 수술을 통해 개선해준다면<br class="hidden-tm">
							상대적으로 보다 젊어 보이고  인상 자체가 밝아지는 듯한 효과를 볼 수 있습니다.<br class="hidden-tm">
							햇볕 노출에 의한 미세한 잔주름의 경우에는 레이저 치료를 생각해 볼 수도 있겠지만<br class="hidden-tm">
							<span class="color-white">대부분의 경우 수술적 방법인 하안검 수술을 통해 개선하는 것이 효과적입니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_11.jpg" loading="lazy" alt="하안검 수술 환자" class="img-normal">
						</div>
						<div class="inner-box type-middleage3">
							<div class="middleage-box4">
								<div class="middleage-box4__box type-left">
									<img src="../../images/eye/middleage/middleage_eye_1.png" class="img-w100" loading="lazy" alt="하안검 수술이 필요한 경우"/>
								</div>
								<div class="middleage-box4__box type-right">
									<img src="../../images/eye/middleage/middleage_eye_2.png" class="img-w100" loading="lazy" alt="하안검 수술이 필요한 경우"/>
								</div>
								<h5 class="middleage-box4__tit">하안검 수술이 필요한 경우</h5>
								<span class="eclipsis-style1">
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
								</span>
								<p class="middleage-box4__txt">
									어두워 보이는 눈 밑<br>
									눈 밑의  주름<br>
									밑 도톰한  지방 주머니 형성
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        하안검은 <span class="n-color-eye2">다양한 개선효과</span>를<br class="hidden-tm">
							볼 수 있는 수술입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							하안검 수술은 아래 눈꺼풀의 속눈썹 뿌리 쪽을 절개하여 불필요한 피부나 지방을 제거하는 수술입니다.<br class="hidden-tm">
							<span class="color-black1">
								환자분들 개개인의 상태에 따라 깊게 주름이 잡힌 경우라면 주름을 당겨주고,  지방 주머니가 형성되어 눈 밑이 볼록한.<br class="hidden-tm">
								경우에는 적당량의 지방을 제거하여 섬세하게 펼쳐주는 것이죠..<br class="hidden-tm">
							</span>
							한 번의 수술로 주름, 피부 톤, 지방 등 눈 밑의 복합적인 고민을 개선할 수 있기 때문에 만족도가 높은 수술입니다.
						</p>
						<div class="inner-circle type-eye">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										매끈한 <br>
										눈 밑 유지
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										밝아지는<br>
										인상
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">동안 효과</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_12.jpg" loading="lazy" alt="상안검 수술 환자" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box5">
						<ul class="middleage-box5__list">
							<li class="middleage-box5__item">
								<h4 class="middleage-box5__tit tit-new1">
									속눈썹 안쪽을 절개하기 때문에
									흉터 또한 거의 보이지 않아
									<span class="n-color-eye3">부담이 적고 자연스럽게 눈 밑
										노화를 개선</span>할 수 있습니다.
								</h4>
								<p class="middleage-box5__txt txt-new1">
									하안검 수술 과정에서 피부를 과다하게 절제하게 되면 흰자위가 노출되어 보일 수 있기 때문에,
									풍부한 경험으로 체계적인 시술을 할 수 있는 전문의를 찾는 것이 중요합니다.
									<span class="color-white">바노바기는 정밀한 절개와 피부 안쪽 붉은 결막을 통해 지방을 제거하는 이중적 방법으로,
										그러한 부작용의 가능성을 줄이는 동시에 수술 후 더욱 빠른 회복을 유도</span>하고 있습니다.
								</p>
							</li>
							<li class="middleage-box5__item type-img">
								<img src="../../images/eye/middleage/middleage_img_32.jpg" loading="lazy" alt="하안검 시술환자" class="img-w100">
							</li>
						</ul>
						<div class="middleage-box5__wrap">
							<div class="inner-circle type-eye2 type-big">
								<ul class="inner-circle__list">
					 				<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											속눈썹과  <br>
											가까운 절개로 <br>
											흉터 부담이 <br>
											적습니다
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											정밀한 <br>
											지방 교정으로<br>
											매끈한 눈 밑이<br>
											유지됩니다
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											체계적인<br>
											수술로<br>
											부작용의<br>
											위험을 줄입니다
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											적절한 절개와<br>
											후 관리로<br>
											회복이<br>
											빨라집니다
										</div>
									</li>
							 	</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box6">
						<div class="middleage-box6__wrap">
							<div class="middleage-box6__box">
								<div class="middleage-box6__top hidden-pt">
									<img src="../../images/eye/middleage/middleage_bg_4_m.jpg" loading="lazy" alt="하안검 수술환자" class="img-w100"/>
								</div>
								<h4 class="middleage-box6__tit tit-new1">
									세월이 가져간<br class="hidden-tm">
									<span class="n-color-eye3">아름다움을 되찾다</span>
								</h4>
								<p class="middleage-box6__txt txt-new1">
									나이 들었는데도 어쩜 이리 예쁘냐고 주변사람들이 먼저 알아보고<br class="hidden-tm">
									얘길 해주니.. 새롭게 태어난 것 같아요~
								</p>
								<div class="middleage-box6__img">
									<p class="middleage-box6__caption">before</p>
									<img src="../../images/eye/middleage/middleage_img_13.jpg" loading="lazy" alt="중년눈성형 하기전 모습" class="img-w100"/>
								</div>
								<p class="middleage-box6__noti">
									※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다.(수술 후 3개월)
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										정맥 마취로 수술 시 통증은 거의 느껴지지 않습니다.<br>
										수술 후 얼얼한 느낌이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										부기로 인해 눈 아래가 뜨는 듯한 느낌이 있을 수 있지만 시간이 지나면서 점차 완화됩니다.<br>
										미미한 통증들은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div>
			<div class="new-tab-content page-pexy">
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage3">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        브로우 펙시는 <span class="n-color-eye3">눈썹 주변 부위의 피부를<br class="hidden-tm">
	                        당겨</span> 눈꺼풀 처짐을 개선합니다
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        <span class="color-white">브로우 펙시란 Brow(눈썹)와 Pexy(당겨서 고정하는 수술)의 합성어로, 그 이름대로 눈썹 주변 부위의 피부를 절개하여 당겨주는 수술</span>입니다.
							<br class="hidden-tm">
							절개 위치는 눈썹 위 또는 아래 중 환자에게 보다 효과적일 수 있는 부위를 선택하여 진행하며, <br class="hidden-tm">
							가능한 한 눈썹에 가려질 수 있도록 합니다.<br class="hidden-tm">
							이후 눈 처짐의 재발을 예방하고 보다 자연스러운 움직임이 가능하도록 눈썹을 골막에 단단히 고정하고, <br class="hidden-tm">
							늘어진 피부는 절제 후 봉합하는 것으로 수술은 끝이 납니다.
	                    </p>
	                    <div class="new-style1__img">
	                        <img src="../../images/eye/middleage/middleage_img_14.jpg" loading="lazy" alt="브로우펙시 수술환자" class="img-normal">
	                    </div>
	                    <div class="inner-box">
	                        <div class="img-style6">
								<h5 class="new-content-tit tit-new2">바노바기 브로우 펙시 수술 방법</h5>
								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_15.jpg" loading="lazy" alt="STEP. 01" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 01</p>
													<p class="img-style6__txt2 txt-new1">
														눈썹 위 또는 아래 중 환자의 상태에 맞는 위치의 늘어진 피부를
														절개합니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_16.jpg" loading="lazy" alt="STEP. 02" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 02</p>
													<p class="img-style6__txt2 txt-new1">
														절개한 부분을 당겨줍니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_17.jpg" loading="lazy" alt="STEP. 03" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 03</p>
													<p class="img-style6__txt2 txt-new1">
														처짐 재발을 방지하기 위해 단단히 고정 후 봉합합니다.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							보다<span class="n-color-eye2">자연스러우면서도<br class="hidden-tm"> 효과적</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							바노바기 브로우 펙시의 핵심은 눈꺼풀을 직접적으로 조작하거나 절개하지 않는다는 것입니다.<br class="hidden-tm">
							눈꺼풀이 아닌 눈썹 부위의 늘어진 피부를 당겨주는 방법이기 때문에 눈꺼풀 처짐이 개선되면서도 눈매 자체는 변하지 않죠.<br class="hidden-tm">
							본인이 원래 가지고 있던 눈매가 드러나기 때문에 인상이 크게 변할 걱정 거의 없이, 보다 자연스럽게 젊은 인상으로 개선되는 것입니다.<br class="hidden-tm">
							<span class="color-black1">또, 비교적 수술 자체의 통증이 적고 회복 또한 빠르기 때문에 수술에 대한 부담 또한 거의 없다는 장점</span>이 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_18.jpg" loading="lazy" alt="브로우펙시 수술환자" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">바노바기 브로우 펙시의 장점</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_19.jpg" class="img-w100" loading="lazy" alt="보다 자연스러운 눈매">
										<h6 class="img-style1__subject txt-new2">보다 자연스러운 눈매</h6>
										<p class="img-style1__caption txt-new1">
											따로 쌍꺼풀을 만들지 않고 본인의 눈매를 유지하기<br class="hidden-tm">
											때문에 보다 자연스럽습니다.
										</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_20.jpg" class="img-w100" loading="lazy" alt="비교적 간편한 수술">
										<h6 class="img-style1__subject txt-new2">비교적 간편한 수술</h6>
										<p class="img-style1__caption txt-new1">
											비교적 통증이 적고 회복이 빠르며, 수술 후 흉터 또한<br class="hidden-tm">
											눈썹에 가려져 거의 보이지 않습니다.
										</p>
									</li><li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_21.jpg" class="img-w100" loading="lazy" alt="더욱 젊어 보이는 인상">
										<h6 class="img-style1__subject txt-new2">더욱 젊어 보이는 인상</h6>
										<p class="img-style1__caption txt-new1">
											처진 피부를 직접 당겨주어<br class="hidden-tm">
											보다 젊은 인상으로 개선됩니다
										</p>
									</li><li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_22.jpg" class="img-w100" loading="lazy" alt="기능적인 개선">
										<h6 class="img-style1__subject txt-new2">기능적인 개선</h6>
										<p class="img-style1__caption txt-new1">
											잦은 부기, 피부 짓무름 등 눈꺼풀 처짐으로 인한<br class="hidden-tm">
											문제들이 개선됩니다.
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 40분~1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">국소마취/비수면 최소통 마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 4~5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.<br>
										수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
										부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
			<div class="new-tab-content page-brow">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        <span class="n-color-eye3">이마에서 시작된 처짐</span>이
							<span class="n-color-eye3">눈꺼풀<br class="hidden-tm">  처짐</span>으로까지 이어질 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							피부처짐이란 탄력을 잃은 피부가 중력의 영향을 받아 본래의 위치보다 아래로 내려가는 것을 말합니다.<br class="hidden-tm">
							그리고 인체의 피부는 거의 모든 부위가 긴밀히 연결된 형태를 하고 있죠.<br class="hidden-tm">
							때문에 상안면부 중에서도 가장 윗부분인 이마에 처짐이 발생한다면, 그 영향으로 눈썹과 눈꺼풀 처짐, 미간과 눈가 주름 등<br class="hidden-tm">
							연속적인 처짐이 발생할 가능성이 높습니다.<br class="hidden-tm">
							<span class="color-white">따라서 눈가 주름이나 눈꺼풀 처짐을 고민하고 있는 경우라도 그 원인이 이마 처짐에 있다면,<br class="hidden-tm">
								단순히 눈가 노화를 개선하는 시술보다는 상안면부를 전반적으로 당겨줄 수 있는 브로우 리프팅을 선택하는 것이 바람직합니다.</span>
						</p>
						<div class="inner-circle type-eye2 type-mbig">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										상안면부 전반의 <br>
										주름으로 인상이<br>
										어두워 보이는 <br>
										경우
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										미간 주름이<br>
										심한 경우
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										콧잔등과<br>
										눈가 주름이<br>
										심한 경우
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										눈썹과 눈썹<br>
										사이가 좁고<br>
										주름진 경우
									</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_23.jpg" loading="lazy" alt="브로우 리프팅 수술환자" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage4">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        보다 <span class="n-color-eye2">직접적으로 당겨주어<br class="hidden-tm"> 더욱 효과적</span>입니다.
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        브로우 리프팅의 원리는 비교적 간단합니다.<br class="hidden-tm">
							헤어라인 쪽에 비교적 적은 절개창을 만들어준 후, 눈썹을 포함한 처진 이마를 박리하여 당겨주는 것이죠.<br class="hidden-tm">
							당겨진 피부는 * 엔도타인으로 고르게 고정한 뒤 봉합해줍니다.
	                    </p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_24.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
						</div>
	                    <div class="inner-box">
	                        <div class="img-style6">
								<h5 class="new-content-tit tit-new2">바노바기 내시경 이마 리프팅 방법</h5>
								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_25.jpg" loading="lazy" alt="01 수술 후 흉터가 보이지 않도록 헤어라인 안쪽에 비교적 작은 절개창을 만들어줍니다." class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														01<br>
														수술 후 흉터가 보이지 않도록 헤어라인 안쪽에 비교적 작은
														절개창을 만들어줍니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_26.jpg" loading="lazy" alt="02 내시경을 통해 신경과 혈관의 위치를 확인하면서 처진 이마를 고르게 박리합니다. " class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														02<br>
														내시경을 통해 신경과 혈관의 위치를 확인하면서 처진 이마를 고르게
														박리합니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_27.jpg"  loading="lazy" alt="03 두개골이나 심부근막에 엔도타인을 위치 시키고, 눈썹의 위치와 이마주름 등을 고려하여 처진 이마를 당긴 후 엔도타인에 고정시킵니다." class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														03<br>
														두개골이나 심부근막에 <span class="n-color-eye2">* 엔도타인</span>을 위치 시키고, 눈썹의 위치와 이마
														주름 등을 고려하여 처진 이마를 당긴 후 <span class="n-color-eye2">* 엔도타인</span>에 고정시킵니다.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="section-noti txt-new1">
								* 절개 및 엔도타인의 위치는 환자 개개인의 상태에 따라 달라질 수 있습니다.
							</div>

							<div class="inner-stripe type-line-zero">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/eye/middleage/middleage_img_31.png" loading="lazy" alt="엔도타인" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-eye2">* 엔도타인</p>
											<p class="inner-stripe__txt txt-new1">
												엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적 재료입니다.<br class="hidden-tm">
												힘이 한 곳으로 집중되는 핀이나 단순 봉합과는 달리 피부 조직을 균일한 압력으로 고르게 당겨주어, 부작용과 재발을
												방지하고 보다 자연스러운 주름 개선이 가능합니다. 또, 시간이 지나면 자연스럽게 체내에 흡수되어 반영구적인 효과를
												기대할 수 있기 때문에 처진 피부를 당겨 개선하는 다양한 안티에이징 시술에 사용되고 있습니다.
											</p>
										</div>
									</li>
								</ul>
							</div><!--//inner-stripe-->
	                    </div>
	                </div>
	            </div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage3">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        바노바기는 <span class="n-color-eye3">비교적 넓은 범위를<br class="hidden-tm"> 고르게 박리</span>합니다
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        브로우 리프팅의 핵심은 절개를 적게 하되 눈꺼풀 부위까지의 이마 전반을 고르게 박리하여 당겨주는 것입니다.<br class="hidden-tm">
							만약 피부층을 고르게 박리하지 않으면 주름이 불규칙적으로 개선되고 안면 비대칭이나 인상 변화 등의 부작용이 나타날 수 있죠.<br class="hidden-tm">
							또, 박리 영역이 넓어지면 신경이나 혈관 등 그 내부의 조직들이 손상될 가능성이 높아지고 절개 또한 커지게 됩니다.<br class="hidden-tm">
							<span class="color-white">그래서 바노바기는 내시경을 통한 브로우 리프팅을 진행합니다. 오랜 경험과 노하우로 보다 넓은 범위를 고르게 박리하면서도 내시경을 통해
								<br class="hidden-tm">
							 	신경이나 혈관과 같은 내부 조직들을 확인하여 손상을 주지 않도록 하는 것이죠.</span> 때문에 바노바기 브로우 리프팅은 부작용이나 흉터 걱정이<br class="hidden-tm">
							거의 없으면서도, 눈가 주름을 포함한 전반적인 상안면부 처짐이 보다 효과적으로 개선됩니다.
	                    </p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_29.jpg" loading="lazy" alt="바노바기 성형외과 브로우리프팅 시술모델" class="img-normal">
						</div>
	                    <div class="inner-box">
	                        <h5 class="new-content-tit tit-new2">
								<span class="n-color-eye2">보다 효과적인</span> 바노바기 브로우 리프팅
							</h5>

							<div class="img-style7">
								<ul class="img-style7__list">
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_28.png" class="img-w100" loading="lazy" alt="오랜 경험과 기술을 기반으로 한 수술">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
												오랜 경험과 <br class="hidden-tm">
												기술을 기반으로 한 수술
											</h6>
											<p class="img-style7__txt txt-new1">
												내시경을 통해 보다 넓고 고르게 박리하여<br class="hidden-tm">
												조직 손상 및 부작용 거의 없음
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_30.png" class="img-w100" loading="lazy" alt="보다 효과적인 상안면부 처짐 개선">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
												보다 효과적인 상안면부<br class="hidden-tm">
												처짐 개선
											</h6>
											<p class="img-style7__txt txt-new1">
												내시경 시술을 통하여  눈가 주름의 원인을<br class="hidden-tm">
												전반적으로 개선하여 재발 방지
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_31.png" class="img-w100" loading="lazy" alt="엔도타인 고정">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
												엔도타인<br class="hidden-tm">
												고정
											</h6>
											<p class="img-style7__txt txt-new1">
												보다 안정적인 고정과<br class="hidden-tm">
												자연스럽고 반영구적인 효과
											</p>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 4일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1~2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										수술 후 며칠간 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
										수술 후 약 일주일 정도는 눈썹을 움직이는데 어색함이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
			<div class="new-section">
				<div class="bg-style2 txt-left">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-forehead">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">내시경 이마 리프팅</h5>
									<a href="../wrinkle/wrinkleForehead.php" class="bg-style2__btn txt-new1">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-pexy">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">브로우펙시</h5>
									<a href="page-pexy" class="bg-style2__btn txt-new1 js-tab-go">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-upper">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">상안검</h5>
									<a href="page-upper" class="bg-style2__btn txt-new1 js-tab-go">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-lower">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">하안검</h5>
									<a href="page-lower" class="bg-style2__btn txt-new1 js-tab-go">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-midface">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">중안면부 리프팅</h5>
									<a href="../wrinkle/wrinkleMidface.php" class="bg-style2__btn txt-new1">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-facelift">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">안면거상술</h5>
									<a href="../wrinkle/wrinkleFacelift.php" class="bg-style2__btn txt-new1">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<!--<li class="bg-style2__item type-necklift">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">목주름리프팅</h5>
									<a href="wrinkleElastic.php" class="bg-style2__btn txt-new1 js-tab-go">
										<span>바로가기</span>
									</a>
								</div>
							</div>
						</li>-->
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
