<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Một nút thắt nhỏ cũng tạo nên sự khác biệt</p>
				<h3 class="content-visual__tit">#<span class="double-color1">Bấm mí kép</span> tự nhiên</h3>
				<p class="content-visual__txt2">Đôi mắt đẹp <strong>một cách tự nhiên</strong></p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h4 class="double-box1__tit">
							<span class="double-color1">Cố định chắc chắn mang tính bán vĩnh cửu</span> hầu như không bị tuột<br class="hidden-tm">
							<span class="double-color1">Phục hồi nhanh chóng</span>, ít sưng và bầm tím
						</h4>
						<p class="double-box1__txt">Nền tảng của phẫu thuật mắt hai mí Banobagi</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>Gắn kết</strong>
							<strong class="double-color2">chắc chắn hơn</strong> bằng
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">인포버튼</span>
								liên kết
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span>Liên kết là gì?<br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
													Là hiện tượng kết dính, kết hợp giữa các tổ chức tế bào. Nói một cách dễ hiểu thì nó cũng giống như việc vết thương lành lại và dính chặt vào nhau
												</span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											Đóng
										</button>
									</span>
								</span>
							</a>
							tinh xảo
						</h4>

						<p class="content-section__txt1">
							Bấm mí kép tự nhiên là phương pháp phẫu thuật tạo mắt hai mí mới bằng việc cải tiến ưu điểm của liên kết tự nhiên từ phương pháp nhấn mí vốn có trước đây.
							<strong>Với trọng tâm nhằm tạo nên đường mí mắt đẹp tự nhiên.</strong>
							Cũng giống như phương pháp cắt mí, ít gây hiện tượng tuột mí nhưng cũng giống như phương pháp nhấn mí, giảm thiểu tối đa sẹo, tạo nên đường mí mắt đẹp tự nhiên hơn. Tạo mắt hai mí đẹp tự nhiên giữa phần da và cơ mí mắt mà không phải cắt rạch hay khâu.
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">
								Cố định mí mắt một lần, và thêm một lần cố định bằng liên kết tự nhiên của cơ mí mắt. Đây là kỹ thuật
								<span class="double-color3">không phải bác sĩ nào cũng có thể thực hiện.</span>
							</strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">Đẹp tự nhiên như vốn dĩ nó là của bạn!</p>
						<h4 class="content-section__tit">
							Banobagi đã sáng tạo ra
							phương pháp Bấm mí kép,
							Đó là lí do Banobagi
							nổi trội ở
							<span class="content-highlight type-eye-double2">phẫu thuật không cắt rạch</span>
						</h4>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								Trưởng nhóm chuyên gia phẫu thuật thẩm mỹ Mắt Banobagi- Dr.ParkSunJae đã sáng tạo ra phương pháp thẩm mỹ Bấm mí kép vào năm 2003 dựa trên triết lí
								<span class="double-color4">:”Nếu hiểu rõ 100% nguyên lý phẫu thuật, sẽ nhìn ra nhiều điều mới”.</span>
								Vừa giữ lại phương pháp  phẫu thuật cơ bản nhất vừa không ngừng bổ sung thêm kỹ thuật mới để hoàn thiện, nâng cao công nghệ. Banobagi đã và đang phát triển, hoàn thiện phương pháp phẫu thuật thẩm mỹ Bấm mí kép cho đôi mắt tự nhiên và đẹp hơn.
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Phương pháp bấm mí trước đây</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Phương pháp bấm mí kép</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Nút thắt không có liên kết</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Phát triển</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Nút thắt+ Liên kết tự nhiên</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">Dễ bị tuột mí (5~50%)</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Hoàn thiện</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">Tối thiểu hóa sự tuột mí (dưới 1%)</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Tự nhiên</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Duy trì</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Tự nhiên</div></div>
									</li>
					            </ul>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" loading="lazy" alt="">
						</div>
						<div class="double-box4__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								Áp dụng<br>
								phương pháp thẩm mỹ
								<strong class="double-color2">đến càng nhiều người càng tốt</strong>
							</h4>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Tôi muốn có đôi mắt hai mí <strong class="double-color2">đẹp tự nhiên.</strong></p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Tôi muốn nhận phẫu thuật vào cuối tuần và <strong class="double-color2">có thể đi làm ngay.</strong></p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Tôi <strong class="double-color2">không muốn nhìn thấy sẹo</strong> khi nhắm mắt lại.</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Tôi đã từng Nhấn mí nhưng  <strong class="double-color2">bị tuột mí ngay sau đó</strong>.</p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						Hầu hết khách hàng đang cân nhắc về thẩm mỹ mí mắt đều thích phẫu thuật không cắt rạch<br>
						Khách hàng muốn giảm thiểu sưng hoặc bầm tím sau phẫu thuật, hy vọng tránh được việc để lại sẹo hoặc dấu hiệu cho
						thấy từng nhận phẫu thuật. Họ lo lắng liệu rằng ấn tượng của gương mặt có thay đổi quá nhiều hay không.
						Vì vậy, chúng tôi đã thực hiện thẩm mỹ Nhấn mí nhưng vì tiền lệ dễ tuột mí của phương pháp này mà dần trở nên lo ngại.
						<strong class="content-highlight type-eye-double">Phương pháp thẩm mỹ Bấm mí kép tự nhiên của Banobagi là cách duy nhất để giảm bớt những lo ngại trên. </strong><br>
						Dĩ nhiên không phải tất cả các khách hàng đều có thể áp dụng.
					</p>

					<p class="content-section__txt2">
						Tuy nhiên!<br>
						<strong>Banobagi luôn cố gắng hết sức có thể để tạo ra <span class="double-color3">đôi mắt với đường mí đẹp, tự nhiên không để sẹo</span> đến nhiều khách hàng.</strong>
					</p>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">Phẫu thuật mí mắt không rạch mỗ hồi phục nhanh</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 30 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê cục bộ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 3 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Phẫu thuật mí mắt không cắt rạch là một trong những phẫu thuật ít đau đớn.<br>
									Cơn đau sẽ ở mức độ đau nhức kèm theo cảm giác khó chịu.<br>
									Nếu bạn cảm thấy đau nhiều, có thể dùng thuốc giảm đau có bán tại bất kì hiệu thuốc mà không cần toa bác sĩ.<br>
									Nếu bạn cảm thấy nóng hoặc nóng vùng phẫu thuật, có thể chườm lạnh để làm dịu vùng da và giảm sưng.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
