<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								“Kết quả <span class="n-color-hair4">tự nhiên</span>, kĩ thuật <br class="hidden-pt"> <span class="n-color-hair4">tinh xảo</span> và <span class="n-color-hair4">an toàn</span> nhất.”
							</p>
							<h3 class="detail-visual__txt">
								Kĩ thuật tái sắp xếp một cách chính xác cho kết quả hoàn hảo<br>
								<strong class="detail-visual__point">Kĩ thuật <span class="n-color-hair4">cấy tóc</span> Detail Banobagi</strong>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="detail-section__noti txt-new4">* Tùy vào mỗi người mà kết quả có thể khác nhau.</p>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">Cuộn chuột</p>
		</div>
	</div>
	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								<storng class="weight-bold">Thẩm mỹ cấy tóc<span class="n-color-hair3">,</span></storng>
								<span class="n-color-hair1">Phương pháp
								thực hiện</span> của
								Banobagi
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								Trực tiếp thực hiện bởi bác sĩ chuyên khoa ngoại có kinh nghiệm phẫu thuật hơn 3000 ca
							</p>
							<p class="onepage__txt hair-detail1__txt">
								Viện trưởng Lee Kyoung Ku là chuyên gia kỳ cựu về lĩnh vực cấy tóc, tính đến hiện tại viện trưởng Lee đã thực hiện trên 3000 ca phẫu thuật.
								Viện trưởng luôn nhiệt tình tâm huyết, không ngừng nghiên cứu, tìm tòi ra phương pháp phẫu thuật để có kết quả tự nhiên hơn nữa và cách duy trì kết quả sau phẫu thuật một cách hiệu quả.
								Chúng tôi khuyên bệnh nhân nên chia sẻ mối quan tâm, mong muốn cũng như sự lo lắng, băn khoăn về kĩ thuật phẫu thuật cấy tóc với viện trưởng Lee Kyoung Ku.
								Bệnh nhân có thể trải nghiệm <span class="n-color-hair1">kĩ thuật cấy tóc chất lượng cao bởi sự thực hiện của viện trưởng Lee Kyong Ku và đội ngũ y bác sĩ giàu kinh nghiệm với công nghệ cấy ghép hiện đại nhất.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black type-hair-section2">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								<storng class="weight-bold">Thẩm mỹ cấy tóc<span class="n-color-hair2">,</span></storng>
								Không quan trọng là thực hiện bằng phương <span class="n-color-hair2">pháp cấy tóc rạch mổ hay không rạch mổ</span>
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								So với phương pháp cấy tóc thì việc tái sắp xếp vị trí sợi tóc là yếu tố quan trọng hơn cả.
							</p>
							<p class="onepage__txt hair-detail2__txt">
								Khi được hỏi về phương pháp cấy tóc thì chúng tôi nhận được rất nhiều câu hỏi như “cấy tóc bằng phương pháp rạch mổ tốt hơn, hay phương pháp không rạch mổ tốt hơn”.
								Trong kĩ thuật cấy tóc thì “phương pháp cấy rạch mổ hay không rạch mổ ”phải là câu hỏi thứ hai.
								Phân loại phương pháp cấy rạch mổ hay không rạch mổ chỉ đơn thuần là sự khác biệt về cách thức thực hiện cấy, đối với những bác sĩ có chuyên môn cao thì đây không phải là điều quan trọng.
								Ở BANOBAGI, chúng tôi luôn tập trung vào phương pháp cấy tóc như thế nào hơn là thu thập sợi tóc như thế nào.
								Cả hai phương pháp cấy tóc rạch mổ và cấy tóc không rạch mổ đều có những ưu nhược điểm riêng, theo đó chúng tôi <span class="n-color-hair2">luôn giải thích cặn kẽ chi tiết nhất cho bệnh nhân và gửi đến bệnh nhân phương pháp cấy tóc phù hợp có hiệu quả tốt nhất.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								<storng class="weight-bold">Cấy tóc<span class="n-color-hair3">,</span></storng><br class="hidden-tm">
								BANOBAGI
								<span class="n-color-hair1">Tái sắp xếp tóc một cách chính xác</span>
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								Cùng một số lượng sợi tóc thu thập được
								Kết quả sẽ hoàn toàn khác biệt dựa theo việc tái sắp xếp các sợi tóc như thế nào.
							</p>
							<p class="onepage__txt hair-detail3__txt">
								Trọng tâm của thẩm mỹ cấy tóc là cách cấy các sợi thu thập được, nói một cách cụ thể hơn là cách tái sắp xếp các sợi tóc.
								Độ dày của sợi tóc, mức độ phân bố sợi tóc của mỗi người là hoàn toàn khác nhau.<br class="hidden-tm">
								Theo đó bác sĩ <span class="n-color-hair1">sẽ xem xét cụ thể những điều kiện chi tiết này, và phải sắp xếp lại các sợi tóc một cách chính xác và tự nhiên nhất.</span> Nhờ đội ngũ y bác sĩ có chuyên môn cao và giàu kinh nghiệm sẽ giúp bệnh nhân có được mái tóc bồng bềnh và sợi tóc phân bố đều đặn.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								<storng class="weight-bold">Thẩm mỹ cấy tóc,</storng>
								Chăm sóc sau phẫu thuật
								Để có <span class="n-color-hair2">mái tóc khỏe mạnh</span>
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								Quản lý da đầu sau phẫu thuật là điều quan trọng hơn cả,
								Với tất cả nguồn lực kĩ thuật của BANOBAGI
							</p>
							<p class="onepage__txt hair-detail4__txt">
								Có rất nhiều bệnh nhân lo lắng về thẩm mỹ cấy tóc rằng liệu sau khi phẫu thuật tỉ lệ mọc tóc là bao nhiêu.
								Từ bây giờ các bệnh nhân sẽ không cần lo lắng về điều này nữa.
								Thẩm mỹ cấy tóc chỉ là bắt đầu của trị liệu hói tóc.
								Để tóc sau khi cấy được khỏe mạnh và duy trì khả năng mọc lâu dài thì BANOBAGI đã xây dựng một chương trình quản lý da đầu phù hợp. Ở BANOBAGI với kinh nghiệm <?php echo $sinceYear; ?> năm về thu thập tế bào gốc có trên cơ thể và cung cấp tế bào gốc đã phân tách,
								<span class="n-color-hair2">kết hợp năng lực kĩ thuật tiên tiến và phương thức đặc biệt giúp bệnh nhân quản lý đem lại hiệu quả tốt hơn nữa. </span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								<storng class="weight-bold">Thẩm mỹ cấy tóc<span class="n-color-hair3">,</span></storng>
								Chúng tôi phẫu thuật
								theo <span class="n-color-hair1">đơn vị từng nang tóc</span>
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								Thẩm mỹ cấy tóc là phẫu thuật cấy nang tóc chứ không phải là cấy sợi tóc.
							</p>
							<p class="onepage__txt hair-detail5__txt">
								Phẫu thuật cấy tóc là phẫu thuật thu thập các nang tóc, phân tách nang tóc rồi cấy ghép.
								Trong một nang tóc thì có thể có một sợi tóc hoặc có đến ba sợi tóc.
								Vì vậy khi thực hiện phẫu thuật cấy tóc nên hiểu rằng không tính theo số lượng sợi tóc mà tính theo số lượng nang tóc.
								Khi nói rằng đã thực hiện phẫu thuật 3000 sợi, thì phải phân biệt rõ rằng đây là 3000 sợi nang tóc, hay 3000 sợi tóc.
								BANOBAGI sẽ trao đổi chính xác với bệnh nhân và <span class="n-color-hair1">đưa ra dự tính kết quả phẫu thuật nhờ việc tư vấn và tiến hành phẫu thuật theo đơn vị nang tóc.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								<storng class="weight-bold">Thẩm mỹ cấy tóc<span class="n-color-hair4">,</span></storng>
								BANOBAGI
								thực hiện <span class="n-color-hair4">Detail</span>
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								Chúng tôi luôn coi trọng và xem xét đến hình dáng khuôn mặt, góc độ, độ dày của tóc rồi mới đưa ra kĩ thuật phẫu thuật phù hợp.
							</p>
							<p class="onepage__txt hair-detail6__txt">
								Lý do tại sao chúng tôi có được kết quả phẫu thuật thành công, bởi vì chúng tôi không bỏ sót một yếu tố chi tiết nào cả.
								BANOBAGI đại điện là viện trưởng Lee Kyoung Ku chuyên gia uy tín trong lĩnh vực thẩm mỹ cấy tóc cùng với đội ngũ y bác sĩ tâm huyết có tinh thần trách nhiệm cao, từ bước tư vấn, thu thập, cấy ghép tóc và quản lý hậu phẫu, chúng tôi xin hứa chắc chắn sẽ đem lại kết quả tốt nhất cho bệnh nhân.
								Đặc biệt, chúng tôi <span class="n-color-hair4">đưa ra thiết kế riêng phù hợp với từng khuôn mặt của mỗi bệnh nhân, thực hiện phẫu thuật một cách chi tiết thông qua việc xem xét những khía cạnh như góc độ, độ sâu, mật độ phân bố sợi tóc.</span> BANOBAGI tự hào là nơi có kĩ thuật thẩm mỹ cấy tóc chuyên nghiệp nhất.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
