<%
	type = "content"
	page = "chest"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-reconstruction">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">전문성으로 회복하는 아름다운 가슴</p>
						<h3 class="new-visual__tit">가슴<span class="n-color-chest2">교정</span></h3>
						<p class="new-visual__txt">마음의 상처까지 치유되는 디테일한 교정</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#가슴재건</span></li>
							<li class="new-visual__item"><span>#비대칭교정</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-tab type-chest">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-reconstruction" class="new-tab__link">가슴 재건</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-asymmetric" class="new-tab__link">비대칭 가슴</a>
						</div>
					</li>
				</ul>
			</div>

            <!-- 가슴 재건 -->
			<div class="new-tab-content page-reconstruction is-active">
				<div class="new-section">
					<div class="new-style1 type-reconstruction">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">유방암, 유방 절제술</span>은 무엇일까요?
						</h4>
						<p class="new-style1__txt txt-new1">
							유방암은 가슴에 악성 종양이 발생하여 자라고 전이하는 질병으로, 주로 40세 이상의 여성분들에게 나타납니다.<br class="hidden-tm">
							특히 조기에 초경을 경험했거나, 불임, 모유 수유를 하지 않은 경우라면 그 빈도가 더욱 높죠.<br class="hidden-tm">
							비교적 초기에 발견된 일부의 유방암은 방사선 요법과 부분 절제술만으로도 치료가 가능합니다.<br class="hidden-tm">
							하지만 대부분 암이 다른 곳으로 전이되는 것을 방지하기 위해 가슴의 절반 이상을 절제하는 수술을 시행하게 되죠.<br class="hidden-tm">
							이때 유두와 유륜, 피부 등을 포함한 가슴 조직의 대부분이 제거되기 때문에,<br class="hidden-tm">
							<span class="color-black1">환자분들은 신체적 치료가 끝나도 심리적 문제가 남아 우울함이나 상실감 등을 겪게 되는 경우가 많습니다.</span>
						</p>

						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_1.jpg" loading="lazy" alt="바노바기 성형외과 가슴성형 모델" class="img-normal">
						</div>
					</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-reconstruction2">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							가슴 재건, <span class="n-color-chest3">삶이 바뀔 수도 있는<br class="hidden-tm">
							기회</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							일반적으로 가슴 재건은 유방암으로 인해 가슴을 절제한 환자분들을 대상으로 합니다.<br class="hidden-tm">
							이전에는 가슴을 절제하여 유방암의 진행을 막은 것만으로도 만족하는 분위기가 강했지만,<br class="hidden-tm">
							최근에는 수술 이후 잃어버린 여성성과 자신감을 되찾기 위해 가슴 재건을 생각하시는 분들이 점차 많아지고 있습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 보다 전문적인 가슴 재건을 통해 단순히 미용적인 개선뿐만 아니라<br class="hidden-tm">
                            <span class="n-color-chest3">개인의 자존감과 삶에 대한 태도까지 긍정적으로 바뀔 수 있도록 노력</span>합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_2.jpg" loading="lazy" alt="바노바기 성형외과 가슴성형 모델" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="img-style1__tit tit-new2">가슴 재건이란?</h5>
								<p class="img-style1__txt txt-new1">
									가슴 절제로 인해 잃어버린 가슴의 형태를 복구하는 수술입니다.
								</p>

								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/chest/reconstruction/reconstruction_img_3.jpg" class="img-w100" loading="lazy" alt="유방암 치료를 위한 가슴 절제"/>
										<p class="img-style1__subject txt-new2">유방암 치료를 위한 가슴 절제</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/chest/reconstruction/reconstruction_img_4.jpg" class="img-w100" loading="lazy" alt="가슴 재건"/>
										<p class="img-style1__subject txt-new2">가슴 재건</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/chest/reconstruction/reconstruction_img_5.jpg" class="img-w100" loading="lazy" alt="미용적 만족감 상승"/>
										<p class="img-style1__subject txt-new2">미용적 만족감 상승</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/chest/reconstruction/reconstruction_img_6.jpg" class="img-w100" loading="lazy" alt="긍정적인 태도와 여성으로서의 자존감 회복"/>
										<p class="img-style1__subject txt-new2">긍정적인 태도와 여성으로서의 자존감 회복</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-reconstruction">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">유방암 치료의 경과를 충분히 확인</span>한 후<br class="hidden-tm">
							가슴 재건을 시도해야 합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							가슴 재건은 그 시행 시기에 따라 1차 재건과 2차 재건으로 분류할 수 있습니다.<br class="hidden-tm">
							유방암 치료 과정인 가슴 절제술과 동시에 가슴 재건을 진행하는 것을 1차 재건이라 하고,<br class="hidden-tm">
							가슴 절제술 후 약 6개월 이후에 진행하는 것을 2차 재건이라 하죠.<br><br>

							1차 재건은 가슴 절제술과 함께 한 번의 시술로 진행되어 비교적 간편하고 심리적 상실감을 겪지 않아도 된다는 장점이 있습니다.<br class="hidden-tm">
							<span class="color-black1">하지만 이후 유방암 치료 과정에서 피부가 딱딱해질 가능성이 있고,<br class="hidden-tm">
							만일의 경우 유방암이 재발된다면 그 진단이 어렵고 재수술이 번거로워진다는 단점</span>이 있죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							따라서 특별한 경우가 아니라면 가슴 절제술 후 <span class="n-color-chest2">약 6개월 동안의 기간을 두고<br class="hidden-tm">
							유방암의 재발이나 전이 여부를 충분히 확인하여 2차 재건을 시행</span>하는 것이 바람직합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_7.jpg" loading="lazy" alt="바노바기 성형외과 반재상 원장" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="compare3 type-chest type-reconstruction">
								<h5 class="compare3__tit tit-new2">가슴 재건 시기</h5>

								<div class="compare3__wrap">
									<div class="compare3__box type-before">
										<div class="compare3__subject txt-new2">
											<div class="compare3__vertical">1차 재건</div>
										</div>
										<ul class="compare3__list">
											<li class="compare3__item txt-new1">
												<div class="compare3__vertical">
													<span class="color-black1">수술 시기</span><br>
													유방암 조직을 제거하는 수술과 동시에 진행
												</div>
											</li>
											<li class="compare3__item txt-new1">
												<div class="compare3__vertical">
													<span class="color-black1">수술 장점</span><br>
													가슴 상실로 인한 정신적인 스트레스가 거의 없음<br class="hidden-tm">
													한 번의 수술로 수술로 인한 심리적, 비용적 부담 감소
												</div>
											</li>
										</ul>
									</div>

									<div class="compare3__box type-after">
										<div class="compare3__subject txt-new2">
											<div class="compare3__vertical">2차 재건 (추천시기)</div>
										</div>
										<ul class="compare3__list">
											<li class="compare3__item txt-new1">
												<div class="compare3__vertical">
													<span class="color-black1">수술 시기</span><br>
													유방암 수술 후 치료를 끝내고 재발이나 전이 여부 확인 후 진행
												</div>
											</li>
											<li class="compare3__item txt-new1">
												<div class="compare3__vertical">
													<span class="color-black1">수술 장점</span><br>
													치료가 끝난 후 진행되어 재치료나 합병증의 걱정을
													하지않아도 됨. 형태적으로 보다 만족스러운 가슴 재건 가능.
													수술 후 피부 조직이 충분히 회복된 후에 진행되어 부작용
													걱정이 거의 없음. 필요한 경우 줄기세포 지방이식 등
													미세한 교정 시술 가능
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //compare3 -->
						</div>
					</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
					<div class="new-style1 type-reconstruction3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">오랜 가슴 성형 노하우와 기술</span>로<br class="hidden-tm">
							적합한 방법을 선택합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							의학 기술이 발전하면서 다양한 가슴 재건 방법들이 고안되고 있습니다.<br class="hidden-tm">
							<span class="color-black1">바노바기는 오랜 가슴 성형 노하우와 지속적인 기술 향상을 통해 그 모든 가슴 재건 방법들을 구사할 수 있도록 노력하고 있죠.</span><br class="hidden-tm">
							때문에 환자 개개인의 상태나 추구하는 방향에 적합한 방법을 선택할 수 있고, 보다 만족스러운 결과로 이어집니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_8.jpg" class="img-w100" loading="lazy" alt="바노바기 성형외과 반재상 원장">
						</div>

						<div class="inner-box">
							<div class="img-style6">
								<h5 class="img-style6__tit tit-new2">
									<span class="n-color-chest2">보형물</span>을 사용하는 방법
								</h5>
								<p class="img-style6__txt txt-new1">
									의학 기술이 발전하면서 다양한 가슴 재건 방법들이 고안되고 있습니다.<br class="hidden-tm">
									<span class="color-black1">바노바기는 오랜 가슴 성형 노하우와 지속적인 기술 향상을 통해 그 모든 가슴 재건 방법들을 구사할 수 있도록 노력하고 있죠.</span><br class="hidden-tm">
									때문에 환자 개개인의 상태나 추구하는 방향에 적합한 방법을 선택할 수 있고, 보다 만족스러운 결과로 이어집니다.
								</p>

								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_9.jpg" loading="lazy" alt="보형물 삽입술" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">보형물 삽입술</h6>
													<p class="img-style6__txt2 txt-new1">
														어느 정도의 가슴 피부와 조직이 남아 있고 기존의 가슴이 비교적
														크지 않은 여성분에게 적합한 방법입니다. 처음 절제 수술 때의
														절개 부위를 이용하여 적절한 보형물을 삽입하기 때문에 추가적인
														흉터 걱정이 거의 없고 비교적 회복이 빠릅니다.
														또, 유방암 재발 시 진단이 용이하다는 장점이 있습니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_10.jpg" loading="lazy" alt="조직확장 후 보형물 삽입술" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">조직확장 후 보형물 삽입술</h6>
													<p class="img-style6__txt2 txt-new1">
														외부와 연결된 조직확장기를 통해 생리 식염수를 약 3~4개월 정도
														서서히 주입, 보형물 삽입을 위한 공간을 만들고 보형물을 삽입해주는
														방법입니다. 보형물 삽입을 위한 공간을 만드는 동안 일상생활이
														가능하며, 비교적 큰 크기의 가슴 재건이 가능하고 형태적으로
														보다 자연스러운 결과를 기대할 수 있습니다.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="img-style6">
								<h5 class="img-style6__tit tit-new2">
									<span class="n-color-chest2">자가조직</span>을 사용하는 방법
								</h5>
								<p class="img-style6__txt txt-new1">
									<span class="color-black1">신체의 일부 조직을 이식하여 보형물로 인한 부작용 걱정이나 거부반응 거의 없이 가슴을 재건하는 방법</span>입니다.<br class="hidden-tm">
									하지만 수술의 난이도가 높고 비교적 오랜 회복 기간이 필요하다는 점, 그리고 이식된 조직의 괴사 가능성이 있고<br class="hidden-tm">
									가슴 외 부위에 추가적인 흉터가 생길 수 있다는 점 등은 <span class="color-black1">의사와 환자 모두에게 부담으로 작용</span>할 수 있습니다.
								</p>

								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_11.jpg" loading="lazy" alt="복부 조직 이식술" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">복부 조직 이식술</h6>
													<p class="img-style6__txt2 txt-new1">
														복부의 근육인 복직근과 지방 등의 조직들을 이식하여 가슴을 재건하는
														방법입니다. 이식된 조직의 혈관이 보다 잘 유지되도록 하는 것이 수술의
														관건이며, 복부 조직이 충분할 수 있도록 마른 체형의 여성보다는
														어느 정도의 지방이 축적된 체형의 여성이 유리합니다.
														처진 뱃살은 절제하고 가슴을 재건할 수 있는 방법이기 때문에 비만과
														같은 체형 고민이 동시에 개선될 수 있다는 장점이 있습니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_12.jpg" loading="lazy" alt="등 조직 이식술" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">등 조직 이식술</h6>
													<p class="img-style6__txt2 txt-new1">
														인체에서 비교적 큰 근육으로 꼽히는 등배근과 그 주변 조직들을
														이식하여 가슴을 재건하는 방법입니다. 하지만 복부 조직에 비해 부피가
														적어 단독으로는 충분한 볼륨감을 주기가 힘든 것이 사실이며,
														이런 경우에는 보형물을 함께 활용하여 가슴의 크기를 잡아 주게 됩니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_13.jpg" loading="lazy" alt="엉덩이 조직 이식술" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">엉덩이 조직 이식술</h6>
													<p class="img-style6__txt2 txt-new1">
														복부나 등의 조직을 사용할 수 없을 경우 시도할 수 있는 방법입니다.
														여성의 엉덩이는 남성보다 많은 양의 지방을 축적하기 때문에 가슴
														재건에 필요한 조직들을 얻기 용이하다는 점에서 착안한 수술입니다.
														하지만 이식된 조직의 혈관들을 유지하기가 까다로우며 수술의 실패
														가능성 또한 비교적 높다는 단점이 있습니다.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- //new-section -->
			</div><!-- //new-tab-content-->

            <!-- 비대칭 가슴 -->
			<div class="new-tab-content page-asymmetric">
				<div class="new-section">
					<div class="new-style1 type-reconstruction">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							비대칭은 당연하므로 <span class="n-color-chest2">그 정도를 확인</span>하여<br class="hidden-tm">
							교정을 결정해야 합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							가슴 비대칭은 대부분 2차 성징 때 가슴이 불균형하게 발달되면서 결정됩니다.<br class="hidden-tm">
							후천적인 원인으로는 호르몬의 영향을 크게 받는 임신이나 출산, 지속적인 자극을 받게 되는 수유 등이 있죠.<br><br>

							완벽한 대칭이 없는 모든 자연물과 마찬가지로 가슴 역시 양쪽의 형태가 조금씩 다른 것은 당연합니다.<br class="hidden-tm">
							따라서 개인만 느낄 정도의 미세한 비대칭이라면 굳이 수술적인 방법으로 교정할 필요는 없습니다.<br class="hidden-tm">
							하지만 만약 <span class="color-black1">그 정도가 심하여 일상생활이나 심리적인 문제가 된다면, 수술이나 시술적인 방법을 통해 교정</span>해줄 수 있습니다.
						</p>
	                    <div class="inner-circle type-chest type-mbig">
	                        <ul class="inner-circle__list">
	                            <li class="inner-circle__item txt-new1">
	                                <div class="vertical-box">
	                                    선천적인<br>
										불균형 발달
	                                </div>
	                            </li>
	                            <li class="inner-circle__item txt-new1">
	                                <div class="vertical-box">
	                                    임신이나 출산 등<br>
										강한 호르몬 영향
	                                </div>
	                            </li>
	                            <li class="inner-circle__item txt-new1">
	                                <div class="vertical-box">
	                                    한 방향 수유와 같은
										지속적인 자극
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_14.jpg" loading="lazy" alt="비대칭 가슴 이미지" class="img-normal">
						</div>
					</div>
				</div><!-- //new-section-->

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-reconstruction4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							비대칭의 원인을 <span class="n-color-chest3">정확히 파악</span>해야 합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							가슴 비대칭은 그 원인을 제대로 파악해야 올바른 교정이 가능합니다.<br class="hidden-tm">
							가슴의 크기가 같더라도 근육의 탄력이나, 가슴의 위치, 다른 신체 부위의 비대칭으로 인해 그 크기가 달라 보일 수 있기 때문입니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 정밀한 사이즈 계측이나 내부 조직 확인 등 다양한 진단과 상담을 통해 가슴 비대칭의 원인을 파악합니다.
							객관적인 자료를 바탕으로 그에 맞는 수술 계획을 세우죠. <br class="hidden-tm">
							때문에 <span class="n-color-chest3">수술의 오차 범위가 비교적 적고 보다 완벽에 가까운 균형 잡힌 가슴 크기를 결정</span>할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_15.jpg" class="img-w100" loading="lazy" alt="바노바기 성형외과 반재상 원장">
						</div>

						<div class="inner-box">
							<div class="img-style6">
								<h5 class="img-style6__tit tit-new2">디테일한 가슴 비대칭 진단 및 상담</h5>

								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_16.jpg" loading="lazy" alt="다양한 장비를 통해 보다 객관적인 가슴 비대칭 원인 파악" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new2">
														다양한 장비를 통해 보다 객관적인<br class="hidden-tm">
														가슴 비대칭 원인 파악
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_17.jpg" loading="lazy" alt="심층 상담을 통한 개선 방향 결정" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new2">
														심층 상담을 통한 개선 방향 결정
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/reconstruction/reconstruction_img_18.jpg" loading="lazy" alt="비교적 오차 범위가 적은 균형 잡힌 가슴 비대칭 교정 계획" class="img-w100"/>
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new2">
														비교적 오차 범위가 적은 균형 잡힌<br class="hidden-tm">
														가슴 비대칭 교정 계획
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-reconstruction">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">오랜 경험과 기술로 더욱 정밀히 교정</span>합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비대칭 가슴 교정은 기준이 될 가슴을 정하는 것에서 시작합니다.<br class="hidden-tm">
							기준이 될 가슴의 크기를 정하고 다른 한쪽 가슴을 확대하거나 축소하여 그 대칭을 맞추는 것이죠.<br class="hidden-tm">
							때문에 비대칭 가슴 교정은 <span class="color-black1">가슴 확대술이나 축소술 그 어떤 방법에도 자신이 있는 전문의를 찾는 것이 중요</span>합니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 2000년 개원 이후 <span class="n-color-chest2">오랜 가슴 성형 경험을 통해 거의 모든 가슴 성형을 진행</span>합니다
						</p>
						<p class="new-style1__txt txt-new1">
							가슴 확대술과 축소술 모두 구사할 수 있을 뿐만 아니라, 각각의 수술에서도 여러 가지 보형물과 수술 방법 등 다양한 선택이 가능하죠.<br class="hidden-tm">
							또, 줄기세포 지방 이식이나 리프팅 같은 방법을 통해 비교적 미세하게 대칭을 조절할 수도 있습니다.<br class="hidden-tm">
							때문에 <span class="color-black1">환자 개개인의 상태와 추구하는 바에 맞는 적합한 수술이 가능하고 그 결과 또한 더욱 자연스럽고 만족스럽습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/reconstruction/reconstruction_img_19.jpg" loading="lazy" alt="바노바기 성형외과 가슴성형 모델" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="bg-style3 type-inner">
								<h5 class="bg-style3__tit tit-new2">보다 효과적인 바노바기 비대칭 가슴 교정</h5>

								<ul class="bg-style3__list">
									<li class="bg-style3__item type-extension">
										<div class="bg-style3__wrap">
											<div class="bg-style3__box">
												<h4 class="bg-style3__subtit txt-new2">가슴 확대술</h4>
												<a href="/chest/chestExtension.php" class="bg-style3__btn txt-new1">
													<span>자세히 보기</span>
												</a>
											</div>
										</div>
									</li>
									<li class="bg-style3__item type-reduction">
										<div class="bg-style3__wrap">
											<div class="bg-style3__box">
												<h4 class="bg-style3__subtit txt-new2">가슴 축소술</h4>
												<a href="/chest/chestReduction.php" class="bg-style3__btn txt-new1">
													<span>자세히 보기</span>
												</a>
											</div>
										</div>
									</li>
									<li class="bg-style3__item type-svf-extend">
										<div class="bg-style3__wrap">
											<div class="bg-style3__box">
												<h4 class="bg-style3__subtit txt-new2">줄기세포 지방이식 가슴확대</h4>
												<a href="/svf/svfChestExtend.php" class="bg-style3__btn txt-new1">
													<span>자세히 보기</span>
												</a>
											</div>
										</div>
									</li>
									<li class="bg-style3__item type-lifting">
										<div class="bg-style3__wrap">
											<div class="bg-style3__box">
												<h4 class="bg-style3__subtit txt-new2">처진 가슴 성형</h4>
												<a href="http://www.btsbanobagi.com/lifting/liftingMethod.php" target="_blank" class="bg-style3__btn txt-new1">
													<span>자세히 보기</span>
												</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- //new-section -->
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
