<%
	type = "content"
	page = "chest"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-papilla">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">콤플렉스의 개선과 기능의 회복을 동시에</p>
						<h3 class="new-visual__tit"><span class="n-color-chest2">유두</span>교정</h3>
						<p class="new-visual__txt">남모를 고민으로부터 당당하게</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#함몰유두</span></li>
							<li class="new-visual__item"><span>#유두축소</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-tab type-chest">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-correction" class="new-tab__link">함몰유두 교정술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-reduction" class="new-tab__link">유두축소술</a>
						</div>
					</li>
				</ul>
			</div>

            <!-- 함몰유두 교정술 -->
			<div class="new-tab-content page-correction is-active">
                <div class="new-section type-cling">
					<div class="new-style1 type-papilla type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">함몰유두</span>는 의외로 많은 분들이<br class="hidden-tm">
                            가지고 있는 질환입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							함몰유두란 유두가 유륜 및 가슴 라인에 비해 충분히 돌출되지 않았거나 오히려 가슴 안쪽으로 들어가 있는 상태를 말합니다.<br class="hidden-tm">
                            통계적으로 세계 여성의 약 3% 정도가 함몰유두를 가지고 있을 정도로 의외로 많은 분들이 함몰유두 고민을 가지고 있죠.<br class="hidden-tm">
                            함몰유두의 원인으로는 <span class="color-black1"> 유방암이나 유선염 등 후천적인 요인도 있지만 유두 안쪽을 지지하는 조직이 부족하거나 유관이 짧은 경우,<br class="hidden-tm">
                            유관 주변의 단단한 조직들이 유두를 잡고 있는 경우 등 선천적 요인이 원인인 경우가 대부분</span>입니다.<br><br>

                            이러한 함몰유두는 그 정도에 따라 1형에서 3형까지로 나눌 수 있는데, <br class="hidden-tm">
                            대부분의 시간 정상 유두가 유지되거나 자극을 받았을 때 정상 유두가 되는 1형과 2형, 유두가 전혀 돌출되지 못한다면 3형으로 구분되죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							1형과 2형 정도의 함몰유두라면 교정이 꼭 필요하지는 않거나 개인적인 노력을 통해 교정을 시도할 수 있지만<br class="hidden-tm">
                            <span class="n-color-chest2">3형의 정도의 함몰유두라면 수술적 방법을 고려하는 것을 권장</span>합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/papilla/papilla_img_1.jpg" loading="lazy" alt="바노바기 성형외과 가슴 모델" class="img-normal"/>
						</div>
						<div class="inner-box">
							<h5 class="new-content-tit tit-new2">함몰유두 교정술의 <span class="weight-regular">유형</span></h5>

							<div class="process type-papilla">
								<div class="process__box">
                                    <ul class="process__list">
                                        <li class="process__item">
                                            <div class="process__head">
                                                <div class="process__inner">
                                                    <div class="process__vertical">
                                                        <h6 class="process__tit txt-new2">
                                                            함몰유두<br class="hidden-p">
															1형
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="process__area">
                                                <div class="process__vertical">
                                                    <p class="process__txt txt-new1">
                                                        대부분의 시간 정상적인 유두 형태를 유지하지만<br class="hidden-tm">
                                                        특정 상황에 간혹 함몰되는 경우
                                                    </p>
                                                </div>
                                            </div>
                                        </li><!-- //process__item -->
                                    </ul><!-- //process__list -->
                                    <div class="process__result">
										<div class="process__inner">
											<div class="process__vertical">
												<p class="process__txt2 txt-new2">
													개인적인<br class="hidden-p">
													관리 가능
												</p>
											</div>
										</div>
                                    </div>
                                </div><!-- //process__box -->
                            </div><!-- //process -->

							<div class="process type-papilla2">
								<div class="process__box">
                                    <ul class="process__list">
                                        <li class="process__item">
                                            <div class="process__head">
                                                <div class="process__inner">
                                                    <div class="process__vertical">
                                                        <h6 class="process__tit txt-new2">
                                                            함몰유두<br class="hidden-p">
															2형
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="process__area">
                                                <div class="process__vertical">
                                                    <p class="process__txt txt-new1">
                                                        주로 유두가 함몰되어 있지만 자극을 주거나 특정<br class="hidden-tm">
														상황에 정상 유두로 돌아오는 경우
                                                    </p>
                                                </div>
                                            </div>
                                        </li><!-- //process__item -->
										<li class="process__item">
                                            <div class="process__head">
                                                <div class="process__inner">
                                                    <div class="process__vertical">
                                                        <h6 class="process__tit txt-new2">
                                                            함몰유두<br class="hidden-p">
															3형
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="process__area">
                                                <div class="process__vertical">
                                                    <p class="process__txt txt-new1">
                                                        자극에도 계속 함몰된 상태가 유지되는 경우
                                                    </p>
                                                </div>
                                            </div>
                                        </li><!-- //process__item -->
                                    </ul><!-- //process__list -->
                                    <div class="process__result">
										<div class="process__inner">
											<div class="process__vertical">
												<p class="process__txt2 txt-new2">
													수술적<br class="hidden-p">
													치료 필요
												</p>
											</div>
										</div>
                                    </div>
                                </div><!-- //process__box -->
                            </div><!-- //process -->
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-papilla2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
                            목적을 정확히 이해하고 보면,<br class="hidden-tm">
							더욱 <span class="n-color-chest3">장점이 많은 수술</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							함몰유두의 교정이 필요한 이유는 단순히 미적인 불만족 때문만이 아닙니다.<br class="hidden-tm">
                            유두가 정상적인 기능을 하도록 하기 위한 목적이 더 크죠.<br class="hidden-tm">
                            정상적인 유두는 성감대로서의 기능과 모유 수유의 기능 이 두 가지를 수행하게 됩니다.<br><br>

                            하지만 유두가 충분히 돌출되어 있지 않다면 본래 유두의 기능을 수행하는 데 한계가 있습니다.<br class="hidden-tm">
                            특히 함몰유두는 피부 접힘이 오래 지속되기 때문에 분비물이 쌓이기 쉽고 그로 인해 염증이 발생할 가능성도 높아지죠.
						</p>
                        <p class="new-style1__txt2 txt-new2">
							잦은 염증은 수유 시에 심각한 문제가 될 수 있으며 유방암의 위험도 증가하기 때문에 <br class="hidden-tm">
                            <span class="n-color-chest3">가슴 건강을 위해서라도 교정이 필요</span>하다고 할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/papilla/papilla_img_2.jpg" loading="lazy" alt="바노바기 성형외과 가슴 모델" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <h5 class="new-content-tit type-description tit-new2">함몰유두 교정술의 <span class="weight-regular">목적</span></h5>

                            <div class="new-description type-papilla">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											미적 교정을 통한 콤플렉스 개선
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											성감대나 수유 등 유두의 정상 기능 회복
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											위생적 관리를 통한 가슴 건강 유지
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-papilla3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
                            다양한 교정 방법 중<br class="hidden-tm">
							<span class="n-color-chest2">환자에게 맞는 방법</span>을 찾아야 합니다
						</h4>
                        <p class="new-style1__txt2 txt-new2">
							함몰유두 교정술은 환자의 유두 상태에 따라 다양한 방법으로 시도할 수 있으며,<br class="hidden-tm">
                            <span class="n-color-chest2">수술 후에도 수유가 가능하도록 유관을 보존할 것인지 여부에 따라 크게 두 가지 방법으로 구분</span>하게 됩니다
						</p>
						<p class="new-style1__txt txt-new1">
							대부분의 경우 가능하다면 수술 후에도 수유가 가능하도록 하는 것이 좋겠지만, <br class="hidden-tm">
                            함몰유두의 정도가 심하여 수술 후 재발의 가능성이 있거나 수유 계획이 없는 환자분들의 경우라면 <br class="hidden-tm">
                            수유의 가능 여부보다는 미용과 건강적인 목적을 우선하여 수술을 진행하게 됩니다.
						</p>
						<div class="inner-box">
                            <h5 class="new-content-tit tit-new2">함몰유두 교정술 <span class="weight-regular">방법</span></h5>

                            <!-- 유관을 보존하는 방법 -->
                            <div class="img-style3 type-three type-chest">
                                <h6 class="heading-bar type-chest">유관을 보존하는 방법</h6>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_3.jpg" loading="lazy" alt="유관을 보존하는 방법 STEP 01" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_4.jpg" loading="lazy" alt="유관을 보존하는 방법 STEP 02" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_5.jpg" loading="lazy" alt="유관을 보존하는 방법 STEP 03" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style3__txt txt-new1">
                                    유두가 정상적으로 돌출되도록 당겨준 상태에서 유두 함몰 원인에 따른 작은 절개와 봉합법을 통해 유두 아래 부위를 고정합니다.
                                    수유에 지장이 없도록 하는 방법이지만 함몰 상태가 심한 경우에는 선택할 수 없는 방법입니다.
                                </p>
                            </div>

                            <!-- 유관 절제 후 봉합하는 방법 -->
                            <div class="img-style3 type-three type-chest">
                                <h6 class="heading-bar type-chest">유관 절제 후 봉합하는 방법</h6>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_6.jpg" loading="lazy" alt="유관 절제 후 봉합하는 방법 STEP 01" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_7.jpg" loading="lazy" alt="유관 절제 후 봉합하는 방법 STEP 02" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_8.jpg" loading="lazy" alt="유관 절제 후 봉합하는 방법 STEP 03" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style3__txt txt-new1">
                                    유두 주변에 작은 절개를 만들고 유관과 섬유 조직을 당겨 유두를 돌출시킨 후, 피판을 이용해 유두를 받쳐 고정합니다.
                                    유관의 상태에 따라 수유에 영향을 줄 수도 있지만 심한 함몰유두 증상을 가진 경우 적합한 방법이며
                                    재발의 가능성이 거의 없다는 장점이 있습니다.
                                </p>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-papilla4 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-chest2">오랜 경험과 기술</span>로 더욱 효과적입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							유두는 비교적 작은 부위임에도 여러 기능을 수행하기 위한 복잡한 구조로 이루어져 있고 그에 따라 함몰유두 또한 다양한 모습을 하게 됩니다.<br class="hidden-tm">
                            때문에 함몰유두를 올바르게 교정하기 위해서는 <span class="color-black1">정교한 기술을 가지고 개개인의 상태에 맞는 수술을 진행하는 것이 중요</span>하죠.
						</p>
                        <p class="new-style1__txt2 txt-new2">
							바노바기는 상담 과정에서부터 <span class="n-color-chest2">유두의 상태와 개선 방향을 면밀히 계산</span>하고 <span class="n-color-chest2">상태에 맞는 적합한 수술을 선택</span>합니다. 때문에 모양, 기능, 위생 등 전반적인 수술 후 만족도가 높고 재발의 가능성이 낮죠. <br class="hidden-tm">
                            또, 보다 <span class="n-color-chest2">빠르고 정교한 수술</span>로 조직 손상을 적게 하여 비교적 흉터에 대한 걱정이 줄어들고<br class="hidden-tm">
                            수술 후 회복이 빠릅니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/papilla/papilla_img_9.jpg" loading="lazy" alt="성형외과 전문의 반재상 원장, 성형외과 전문의 한규남 원장" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <h5 class="new-content-tit type-description tit-new2">바노바기 함몰유두 교정술의 <span class="weight-regular">장점</span></h5>

                            <div class="new-description type-papilla">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											비교적 짧은 수술시간과 회복
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											수술 후 흔적이 거의 남지 않는 정교한 수술
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											가슴에 어울리는 자연스러움 추구
										</p>
									</li>
                                    <li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											개개인의 상태에 맞는 수술로 재발 가능성 감소
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

                <div class="new-section">
					<div class="bg-style1 type-chest">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절개가 필요한 유두 교정의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm">
                                            수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-chest3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-chest3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 15분~30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">최소통 국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7~10일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										함몰유두 교정술은 비교적 어렵지 않은 수술로, <span class="color-black1">수술 후 통증이나 회복에 대한 부담이 적은 편</span>입니다.<br>
										또, 교정에 필요한 절개가 비교적 크지 않고 바노바기피부과와의 협진을 통한 흉터 관리가 더해지기 때문에 흉터가 거의 보이지 않습니다.<br>
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
		                                수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
		                                수술 후 염증 예방을 위해 항생제 처방이 추가됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->

            <!-- 유두축소술 -->
			<div class="new-tab-content page-reduction">
                <div class="new-section type-cling">
					<div class="new-style1 type-papilla3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-chest2">유두축소술</span>,<br class="hidden-tm">
                            콤플렉스로부터 당당해질 기회가 됩니다
						</h4>
						<p class="new-style1__txt txt-new1">
                            <span class="color-black1">유두의 크기는 그 모양이나 가슴과의 비례 정도에 따라 다르겠지만 일반적으로 높이 8mm 전후에 직경 10mm 정도의 크기를 이상적으로 봅니다. </span><br class="hidden-tm">
							이보다 유두의 크기가 크거나 가슴크기에 비해 유두가 비대한 경우라면 유두축소술을 고려해볼 수 있죠.<br class="hidden-tm">
                            유두 비대는 선천적인 경우도 있지만 출산 후 수유나 반복적인 자극, 외상 등의 후천적인 요소들이 원인이 되는 경우가 많습니다.<br class="hidden-tm">
                            이런 경우 대부분의 환자분들은 이전과 비교해 비대해진 유두 때문에 급격히 자신감을 잃거나 고민을 호소하게 되죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							때문에 유두축소술은 그 목적이 의학적으로 필수적인 수술이라고 할 수는 없지만,<br class="hidden-tm">
                            <span class="n-color-chest2">콤플렉스의 극복과 자신감 회복이라는 환자의 심리적인 면에서 봤을 때 중요한 수술</span>이라고 할 수 있습니다.
						</p>
						<div class="inner-box">
							<h5 class="new-content-tit tit-new2">유두 비대의 <span class="weight-regular">원인</span></h5>

                            <div class="inner-circle type-chest type-cling">
                                <ul class="inner-circle__list">
                                    <li class="inner-circle__item txt-new1">
                                        <div class="vertical-box">
                                            출산 후<br>
                                            수유
                                        </div>
                                    </li>
                                    <li class="inner-circle__item txt-new1">
                                        <div class="vertical-box">
                                            외상으로<br>
                                            인한 변형
                                        </div>
                                    </li>
                                    <li class="inner-circle__item txt-new1">
                                        <div class="vertical-box">
                                            반복적인<br>
                                            자극
                                        </div>
                                    </li>
                                    <li class="inner-circle__item txt-new1">
                                        <div class="vertical-box">
                                            선천적<br>
                                            비대
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="img-style3 type-wide type-chest type-mt">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_10.jpg" loading="lazy" alt="일반적인 유두의 크기:높이 7-9mm, 직경 10mm" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                일반적인 유두의 크기
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-papilla2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
                            다양한 교정 방법 중<br class="hidden-tm">
							<span class="n-color-chest3">적합한 방법</span>을 찾아 더욱 효과적입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							유두축소술은 비교적 간단하며 통증과 부작용 걱정이 거의 없는 수술입니다.<br class="hidden-tm">
                            하지만 결과의 만족도는 시술하는 전문의에 따라 그 차이가 크게 나는 수술이죠.<br class="hidden-tm">
                            유두 비대는 유두의 둘레와 높이, 그리고 기울어진 정도까지 환자에 따라 다 다른 형태를 보이는 만큼, <br class="hidden-tm">
                            환자 개개인의 상태에 맞는 효과적인 수술법을 선택하는 것이 중요하기 때문입니다.
						</p>
                        <p class="new-style1__txt2 txt-new2">
							바노바기는 <span class="n-color-chest3">다년간의 가슴 성형 경험과 노하우를 통해 다양한 수술법이 가능</span>하고,<br class="hidden-tm">
                            그 중 환자분들에게 <span class="n-color-chest3">적합한 방법을 선택</span>합니다.<br class="hidden-tm">
                            보다 효과적이면서도 자연스러운 유두축소술, 바노바기가 자신 있는 이유입니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/chest/papilla/papilla_img_11.jpg" loading="lazy" alt="바노바기 성형외과 가슴 모델" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <h5 class="new-content-tit tit-new2">
                                유두의 상태에 따라 다르게 접근하는<br class="hidden-tm">
                                <span class="weight-regular">유두축소술</span>
                            </h5>

                            <!-- 중간 절개 -->
                            <div class="img-style3 type-five type-chest">
                                <h6 class="heading-bar type-chest">중간 절개</h6>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_12.jpg" loading="lazy" alt="중간 절개 STEP 01" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_13.jpg" loading="lazy" alt="중간 절개 STEP 02" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_14.jpg" loading="lazy" alt="중간 절개 STEP 03" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_15.jpg" loading="lazy" alt="중간 절개 STEP 04" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 04
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_16.jpg" loading="lazy" alt="중간 절개 STEP 05" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 05
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style3__txt txt-new1">
                                    유두의 중앙 높이를 기준으로 낮추고자 하는 만큼의 피부를 절제 후 봉합하는 방법으로,<br class="hidden-tm">
                                    유관의 기능을 보존할 수 있다는 장점이 있습니다.
                                </p>
                            </div>

                            <!-- L 절개 -->
                            <div class="img-style3 type-four type-chest">
                                <h6 class="heading-bar type-chest">L 절개</h6>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_17.jpg" loading="lazy" alt="L 절개 STEP 01" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_18.jpg" loading="lazy" alt="L 절개 STEP 02" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_19.jpg" loading="lazy" alt="L 절개 STEP 03" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_20.jpg" loading="lazy" alt="L 절개 STEP 04" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 04
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style3__txt txt-new1">
                                    유두의 윗부분을 L자 모양으로 절제하고 남은 부분을 아래로 접어 높이를 낮추는 방법으로,<br class="hidden-tm">
                                    수술 시간이 비교적 빠르고 보다 효과적인 길이 축소가 가능합니다.
                                </p>
                            </div>

                            <!-- V 절개 -->
                            <div class="img-style3 type-four type-chest">
                                <h6 class="heading-bar type-chest">V 절개</h6>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_21.jpg" loading="lazy" alt="V 절개 STEP 01" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_22.jpg" loading="lazy" alt="V 절개 STEP 02" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_23.jpg" loading="lazy" alt="V 절개 STEP 03" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/chest/papilla/papilla_img_24.jpg" loading="lazy" alt="V 절개 STEP 04" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 04
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style3__txt txt-new1">
                                    유두의 윗부분을 V자 모양으로 절제하고 남은 부분을 봉합하는 방법입니다. <br class="hidden-tm">
                                    유두의 높이 보다는 전체적 볼륨을 줄이는데 효과적인 방법이지만, 유관이 막힐 수 있다는 단점이 있습니다.
                                </p>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section">
					<div class="bg-style1 type-chest">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절개가 필요한 유두 교정의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm">
                                            수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-chest3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-chest3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h3 class="operation-v2__tit">수술정보</h3>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">수술시간</h4>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">마취방법</h4>
											<p class="operation-v2__txt txt-new1">최소통 국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">실밥제거</h4>
											<p class="operation-v2__txt txt-new1">약 7~10일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">입원기간</h4>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">내원치료</h4>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">회복</h4>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h3 class="pain-v2__tit txt-new2">수술 후 체감 통증</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										유두축소술은 비교적 어렵지 않은 수술로, <span class="color-black1">수술 후 통증이나 회복에 대한 부담이 적은 편</span>입니다.<br>
										또, 교정에 필요한 절개가 비교적 크지 않고 바노바기피부과와의 협진을 통한 흉터 관리가 더해지기 때문에 흉터가 거의 보이지 않습니다.<br>
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
		                                약 2주 정도는 수술 부위에 자극을 주지 않는 것이 모양 형성에 좋습니다.<br>
		                                수술 후 유두의 감각에 이상이 느껴지는 경우가 있지만 시간이 지나면 감각은 정상적으로 돌아오게 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
