<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="chest detail-common">
    <section class="fs_section chestFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-chest">
					<span class="color-chest0">Cùng loại </span> túi độn,<span class="color-chest0">Kết quả khác nhau</span>,<br class="hidden-p"> Niềm tin <span class="color-chest0">vào sự khác biệt</span>
				</p>
				<h3 class="detail__first-txt">
					Vượt lên hẳn sự tự nhiên<br>
					<span class="color-chest1">Thẩm mỹ ngực</span> Detail Banobagi.
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-another">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ Ngực</strong>,<br class="hidden-tm">
						<strong class="color-chest2">Phương pháp thẩm mỹ của</strong>
						Banobagi
	              	</h4>
	              	<p class="detail__section-subtit">Luôn thấu hiểu và đồng hành cùng sự hài lòng của bệnh nhân</p>
	              	<p class="detail__section-txt">
						Ngoài các yếu tố thông thường như độ lớn và hình dáng ngực, Phẫu thuật thẩm mỹ Ngực còn là loại hình phẫu thuật phải xem xét tới nhiều yếu tố quan trong khác như : cảm giác, mức độ hoạt động, độ tương thích của túi độn đối với cơ thể.  Để đem lại kết quả hài lòng nhất, việc bệnh nhân hiểu và nắm rõ các yếu tố trên mới là điều kiện quan trọng tiên quyết.
						<span class="color-chest3">Thông qua các cuộc tư vấn chi tiết với các chuyên gia, bệnh nhân sẽ hiểu là chủ động chọn lựa được phương án phẫu thuật phù hợp</span>. Với sự hiểu biết và tâm niệm về kết quả phẫu thuật lý tưởng, kết quả chúng tôi đem lại luôn là hơn cả sự hài lòng.
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>Tư vấn ngực của Banobagi</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">button</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h5 class="detail__popup-m__tit">Tư vấn ngực<span class="color-chest1">.</span></h5>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- Vị trí đường rạch mổ</li>
				<li class="detail__popup-m__item">- Hình dáng</li>
				<li class="detail__popup-m__item">- Cảm giác</li>
				<li class="detail__popup-m__item">- Sự lựa chọn túi độn</li>
			</ul>
		</div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup is-active">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Nhà sản xuất <span class="inline-block">túi độn ngực</span><span class="color-chest1">.</span></h5>
					<p class="detail__popup-subtit">Sự lựa chọn túi độn khác nhau, đa dạng từ nhiều nhà sản xuất tại Banobagi</p>
					<ul class="detail__logo-list">
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-1">MOTIVA</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-2">POLYTECH</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-7">EUROSILICONE</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-3">SILIMED</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-4">ALLERGAN</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-5">SEBBIN</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-6">MENTOR</span>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
  			<div class="detail__section-wrap">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Ngực</strong>,<br class="hidden-tm">
							Banobagi
							<strong class="color-chest4">đi trước thời đại</strong>
						</h4>
						<p class="detail__section-subtit">Thẩm mỹ ngực Banobagi dẫn đầu xu hướng</p>
						<p class="detail__section-txt">
							Nhằm hướng tới vẻ đẹp, độ an toàn và tính thẩm mỹ tự nhiên, túi độn được sử dụng trong phẫu thuật nâng ngực liên tục được nghiên cứu và phát triển ngày càng đa dạng. Vì vậy, điều quan trọng là phải nắm rõ đặc tính của từng loại túi độn để có thể có sự lựa chọn phù hợp.Kể từ khi thành lập vào năm 2000, Banobagi không chỉ hiểu rõ đặc tính của  tất cả các loại túi độn hiện có mà còn nghiên cứu thành công các phương pháp phẫu thuật phù hợp riêng biệt với từng loại túi độn khác nhau.. Việc nghiên cứu ứng dụng các công nghệ tiên tiến nhất là bí quyết mang đến sự hài lòng tuyệt đối cho các ca thẩm mỹ ngực tại Banobagi
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom">
			<div class="detail__section-set">
				Nhiều lựa chọn túi độn khác nhau<br class="hidden-p">  từ các nhà sản xuất tại Banobagi
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">button</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
		<div class="detail__inner">
  			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-quotation2">
					<h4 class="detail__section-tit">
						<strong>Thẩm mỹ ngực</strong>,<br class="hidden-tm">
						<strong class="color-chest6">Phải là</strong> Bệnh viện Banobagi
					</h4>
					<p class="detail__section-subtit">Hệ thống Y tế theo đuổi mục tiêu đảm bảo sức khỏe ngực của bệnh nhân</p>
					<p class="detail__section-txt">
						Trách nhiệm quan trọng nhất của Banobagi chính là luôn luôn nghĩ đến sức khỏe của bệnh nhân. Do đó, thẩm mỹ ngực Banobagi không chỉ đơn thuần dừng lại ở việc kết thúc quá trình phẫu thuật mà
						<span class="color-chest3">chúng tôi tích cực theo dõi bệnh nhân, tiến hành kiểm tra ngực chính xác thông qua việc sử dụng các thiết bị chuyên dụng, và tiến hành phẫu thuật loại bỏ khối u trong quá trình phẫu thuật nếu cần thiết. </span>.
						Các chuyên gia phẫu thuật ngực của Banobagi chịu trách nhiệm về quá trình phẫu thuật, xét nghiệm tổng hợp, chăm sóc sau phẫu thuật và kiểm tra định kì.
					</p>
				</div>
				<div class="layer-doc hidden-m"><!-- pc -->
					<h5 class="layer-doc__tit">Hệ thống chẩn đoán ngực của Banobagi</h5>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">Chuẩn đoán ngực</li>
						<li class="layer-doc__item">Khám tỉ mỉ</li>
						<li class="layer-doc__item">Phẫu thuật</li>
						<li class="layer-doc__item">Chăm sóc sau phẫu thuật</li>
						<li class="layer-doc__item">Kiểm tra định kì</li>
					</ul>
				</div>
  			</div>

  		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt">
				<h5 class="layer-doc__tit">Hệ thống chẩn đoán ngực của Banobagi</h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Chuẩn đoán ngực</li>
					<li class="layer-doc__item">Khám tỉ mỉ</li>
					<li class="layer-doc__item">Phẫu thuật</li>
					<li class="layer-doc__item">Chăm sóc sau phẫu thuật</li>
					<li class="layer-doc__item">Kiểm tra định kì</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>Hệ thống chẩn đoán ngực của Banobagi</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">popup</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
		<div class="detail__inner">
    		<div class="detail__vertical">
  				<div class="detail__section-box type-center">
  					<h4 class="detail__section-tit">
  						<strong>Thẩm mỹ Ngực</strong>,<br class="hidden-tm">
  						<span class="detail__section-bwrap">Banobagi</span>
  						<strong class="color-chest6">rút ngắn thời gian phẫu thuật</strong>
  					</h4>
  					<p class="detail__section-subtit">Thời gian phẫu thuật càng ngắn, kết quả phẫu thuật ngực càng lý tưởng</p>
  					<p class="detail__section-txt">
						Thời gian phẫu thuật Ngực càng được rút ngắn thì càng giúp bệnh nhân tránh được các biến chứng viêm nhiễm cùng nguy cơ co thắt bao xơ.
						Vì vậy Bệnh viện Banobagi định hướng tiến hành <span class="color-chest3">phẫu thuật trong khoảng thời gian là 30 phút.</span>
						Thẩm mỹ ngực <span class="color-chest3">đạt mức an toàn tối đa</span> khi không cần đeo túi máu, có thể xuất viện ngay trong ngày. Nhóm chuyên gia chuyên trách phẫu thuật thẩm mỹ ngực được xây dựng nên từ đội ngũ y bác sỹ và kỹ thuật viên dày dặn kinh nghiệm.
					</p>
  				</div>
    		</div>
		</div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Ngực</strong>,<br class="hidden-tm">
	  					Banobagi chú trọng đến từng <strong class="color-chest4">Chi tiết</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Dự án “Healing Scar” sẽ đồng hành cùng sự thay đổi ngoạn mục của phái đẹp</p>
	  				<p class="detail__section-txt">
						Sẹo xuất hiên sau phẫu thuật là điều không thể tránh khỏi. Điều trị sẹo là một phần trong tổng thể quá trình thẩm mỹ Ngực. Nhận thức được tầm quan trọng của quá trình này, Bệnh viện Banobagi đã tiến hành dự án “ Healing Scar”, kết hợp với các chuyên khoa da Banobagi, chúng tôi hỗ trợ điều trị tất cả các loại sẹo như sẹo đỏ, sẹo thâm, sẹo lồi, giúp làn da
						<span class="color-chest5">hồi sinh mịn màng trở lại như chưa từng có dấu vết của sẹo.</span>
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
