<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Cảm quan và bí quyết tụ hợp các lĩnh vực khác nhau</p>
				<h3 class="content-visual__tit"># Phẫu thuật <span class="color-chest7">thu gọn ngực</span></h3>
				<p class="content-visual__txt2">Ngực <strong>nhẹ nhõm</strong> và <strong>đẹp hơn</strong></p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
		    <div class="content-section type-reduction type-first">
		      	<div class="reduction-box1">
		        	<h4 class="content-section__tit type-center">
		          		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
		          		Loại phẫu thuật <strong class="color-chest7">mang ý nghĩa hơn</strong> là<br class="hidden-tm">
						chỉ đơn thuần <strong>thu nhỏ</strong> kích cỡ
		        	</h4>
		        	<p class="content-section__txt1">
		          		Phẫu thuật thu gọn ngực không phải chỉ đơn thuần là phẫu thuật cải thiện về mặt thẩm mỹ. Bởi vì với ngực phì đại thì ngoài việc không thỏa mãn về mặt thẩm mỹ còn có các vấn đề về sức khỏe và tâm lý. Đặc biệt, bệnh về da như bệnh chàm hay vấn đề như gây sức ép cho cột sống và vai là những vấn đề cần phải cải thiện cho sức khỏe của cá nhân. Nếu như vấn đề này không được giải quyết thì có thể gây mất tự tin hoặc có thể dẫn đến một vòng luẩn quẩn như bị lệch tư thế.
		          		<span class="content-highlight type-chest">Vì vậy, phẫu thuật thu gọn ngực phải mang một ý nghĩa sâu sắc hơn việc cải thiện về mặt thẩm mỹ đơn thuần. </span>
		        	</p>
		        	<div class="reduction-box1__img">
		          		<img src="../../images/chest/chest_reduction_img02.jpg" loading="lazy" alt="Ngực phì đại - Sức khỏe cơ thể xấu đi, Không thỏa mãn về mặt thẩm mỹ, Mất tự tin về mặt tinh thần">
		        	</div>
		      	</div>
		      	<div class="reduction-box2">
		        	<div class="reduction-wrap">
		          		<div class="reduction-box2__box">
		            		<h4 class="content-section__tit type-left">
		              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								Chúng tôi sẽ nhìn
								bằng kinh nghiệm kết hợp
		              			<strong class="color-chest7">phẫu thuật chỉnh hình cơ thể</strong>
		             	 		và <strong class="color-chest7">phẫu thuật chỉnh hình ngực.</strong>
		            		</h4>
		            		<p class="content-section__txt1">
		              			Phẫu thuật thu gọn ngực có mục tiêu là phải đạt kết quả cải thiện được ngực về mặt thẩm mỹ, đồng thời nâng cao sức khỏe cho bệnh nhân. Để đạt được điều này thì điều quan trọng là phải giảm được kích thước của ngực nhưng phải quyết định được kích thước phù hợp với tỷ lệ cơ thể.
		            		</p>
		          		</div>
		          		<div class="reduction-box2__img">
		            		img
		          		</div>
		          		<div class="cosmetic">
		            		<div class="cosmetic__bg">
		              			<ul class="cosmetic__list">
		                			<li class="cosmetic__item">
		                  				<div class="cosmetic__wrap nth-1">
		                    				<div class="cosmetic__box nth-1">
		                      					<div class="cosmetic__box-wrap">
		                        					<p class="cosmetic__txt">Phẫu thuật chỉnh hình ngực</p>
		                      					</div>
		                    				</div>
						                    <div class="cosmetic__box nth-2">
						                      	<div class="cosmetic__box-wrap">
						                        	<p class="cosmetic__txt">Phẫu thuật chỉnh hình cơ thể</p>
						                      	</div>
						                    </div>
		                  				</div>
		                			</li>
					                <li class="cosmetic__item">
					                  	<div class="cosmetic__wrap nth-2">
					                    	<div class="cosmetic__box nth-3">
					                      		<div class="cosmetic__box-wrap">
					                        		<p class="cosmetic__txt">Khả năng phẫu thuật tinh tế xem xét đến sự cân bằng của cơ thể</p>
					                      		</div>
					                    	</div>
					                  	</div>
					                </li>
					            </ul>
		            		</div>
		          		</div><!--//cosmetic-->
		          		<div class="reduction-box2__txt">
		            		Banobagi là bệnh viện phẫu thuật chỉnh hình có quy mô tổng hợp, có khả năng phẫu thuật chỉnh hình với nhiều bộ phận khác nhau. Trong số đó, phẫu thuật chỉnh hình cơ thể và chỉnh hình ngực có mối quan hệ mật thiết với nhau, chúng tôi có đội ngũ bác sỹ có kiến thức và kinh nghiệm chuyên môn về hai lĩnh vực này với đại diện là Viện trưởng Ban Jae-sang. Do đó, <strong class="color-chest7">chúng tôi có thể thực hiện phẫu thuật thu gọn ngực có xem xét đến sự cân bằng tổng thể và có thể đạt được kết quả là ngực thon gọn và đẹp hơn. </strong>
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //reduction-box2-->
		      	<div class="reduction-box3">
		        	<div class="reduction-wrap">
		          		<div class="content-section">
		            		<h4 class="content-section__tit type-center">
		              			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
		              			Chúng tôi đề xuất phương pháp phẫu thuật <strong class="color-chest7">phù hợp với kết quả khách hàng mong muốn.</strong>
		            		</h4>
				            <p class="content-section__txt1">
				              	Phẫu thuật thu gọn ngực được chia ra làm 4 phương pháp phẫu thuật lớn. Mỗi phương pháp phẫu thuật đều có ưu nhược điểm khác nhau. Vì vậy, việc xem xét và quyết định phương pháp phù hợp với bản thân thông qua tư vấn đầy đủ trước khi phẫu thuật là rất quan trọng.
				            </p>
				            <div class="reduction-box"></div>
		            		<div class="reduction-box3__box">
		              			<div class="item-box3 type-reduction">
		                			<ul class="item-box3__list">
		                  				<li class="item-box3__item nth-1">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Phẫu thuật thu gọn ngực bằng cách rạch xung quanh quầng vú</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		Vì đây là phương pháp giảm tổ chức bên trong ngực sau khi rạch xung quanh quầng vú nên có thể thực hiện phương pháp này với cả trường hợp kích thước của ngực quá lớn. Vì chỉ rạch phần xung quanh quầng vú nên vết sẹo nhỏ và hầu như không để lại tì vết gì, đồng thời có ưu điểm là hầu như không gây ảnh hưởng đến chức năng của ngực.
						                        	</p>
						                      	</div>
						                    </div>
		                  				</li>
		                  				<li class="item-box3__item nth-2">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Thu gọn ngực bằng cách rạch dọc</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		Đây là phương pháp giảm tổ chức bên trong ngực bằng việc cắt khoảng 4~5 cm xuống phía dưới quầng vú. Vì đây là phương pháp được đưa ra để bổ sung cho ưu nhược điểm của việc rạch hình chữ ‘ㅗ’ (‘mỏ neo’) và rạch xung quanh quầng vú nên có thể thực hiện phẫu thuật với cả ngực lớn và đây là phương pháp giảm nỗi lo về sẹo hơn so với phương pháp rạch hình chữ ‘ㅗ’ (‘mỏ neo’). Phương pháp này có ưu điểm là thời gian phẫu thuật ngắn giúp cho việc hồi phục nhanh hơn và dễ dàng định hình ngực nhưng có nhược điểm là có thể để lại một chút sẹo.
						                        	</p>
						                      	</div>
						                    </div>
		                  				</li>
					                  	<li class="item-box3__item nth-3">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Phẫu thuật thu gọn ngực bằng rạch hình chữ ‘ㅗ’ (‘mỏ neo’)</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		Đây là phương pháp tiêu biểu nhất trong phẫu thuật thu gọn ngực và có thể thực hiện với hầu hết tất cả các trường hợp như ngực tương đối lớn hay ngực bị chảy xệ. Phương pháp này có ưu điểm là dễ dàng dự đoán kết quả phẫu thuật và có thể duy trì cảm giác núm vú và di chuyển vị trí nhưng có nhược điểm là có thể tạo ra vết mổ ở đường dưới ngực và dưới núm vú. Do vậy cần phải xem xét phương pháp khác đối với bệnh nhân không thể chấp nhận vết sẹo.
						                        	</p>
						                      	</div>
						                    </div>
					                  	</li>
					                  	<li class="item-box3__item nth-4">
					                    	<div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Phẫu thuật thu gọn ngực bằng hút mỡ</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		Đây là phương pháp hút mỡ ở ngực để giảm kích thước ngực. Đối với trường hợp ngực bị phì đại do bệnh béo phì toàn thân thì có thể hy vọng kết quả vượt trội từ phương pháp này bởi tỷ lệ của tổ chức mỡ ở ngực là cao. Ngoài ra, vì thời gian phẫu thuật ngắn và hầu như không có lo lắng về sẹo nên đây là phương pháp phù hợp cho những bệnh nhân có nỗi lo lớn về việc để lại sẹo. Tuy nhiên, trường hợp ngực to quá khổ dẫn đến da bị giãn ra nhiều thì sẽ có hạn chế là ngực sẽ có thể bị chảy xệ sau phẫu thuật.
						                        	</p>
						                      	</div>
					                    	</div>
					                  	</li>
		                			</ul>
		              			</div><!-- //item-box3-->
		            		</div>
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //item-box1-->
		      	<div class="reduction-box4">
		        	<h4 class="reduction-box4__tit">
		          		Một trong những suy nghĩ sai lầm về phẫu thuật thu gọn ngực là việc
		          		<strong class="color-chest13">không thể mong đợi về kết quả ngực đẹp hơn sau phẫu thuật.</strong>
		        	</h4>
		        	<p class="reduction-box4__txt txt-v5">
		          		Nếu hình dạng ngực không đẹp sau khi phẫu thuật thì đa số các trường hợp là do làm sai từ giai đoạn thiết kế tạo hình trước phẫu thuật hoặc có khả năng cao là không chăm sóc hậu phẫu phù hợp.<br><br>

		          		Ở Banobagi, chúng tôi chịu trách nhiệm chăm sóc hậu phẫu một cách tích cực với các phương pháp như Biophoton và chương trình mát xa, v.v. giúp cho việc hồi phục nhanh hơn và tạo hình dạng ngực đẹp hơn. Ngoài ra, chúng tôi chăm sóc cẩn thận vết sẹo hơn sau phẫu thuật bằng cách hợp tác với Khoa da liễu Banobagi.
		        	</p>
		        	<div class="bio">
		          		<div class="bio__box type-img">
		            		<div class="bio__img nth-1">Biophoton</div>
		          		</div>
		          		<div class="bio__box type-txt">
			            	<div class="bio__wrap">
			              		<h5 class="bio__tit">Biophoton</h5>
			              		<p class="bio__txt txt-v1">
					                Biophoton là một thiết bị làm ấm toàn thân dùng cho hồi phục sau phẫu thuật bằng việc sử dụng PDP (Platinum Diamond Photon), một vật liệu mới kết hợp các hạt nano của bạch kim và kim cương. Năng lượng ánh sáng 4 ~ 14 micron do PDP phát ra làm tăng nhiệt độ cơ thể, tăng khả năng miễn dịch và giúp giải phóng các chất độc hại và chất thải ra ngoài. Thiết bị này cũng có tác dụng phân giải tích cực mỡ cơ thể bằng cách cải thiện lưu thông máu.
			              		</p>
			            	</div>
			          	</div>
			        </div>
			        <div class="dual-box6__img">
						<div class="after-style type-chest">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">Khoảng 1 tháng sau phẫu thuật</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">Khoảng 6 tháng sau phẫu thuật</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">Khoảng 12 tháng sau phẫu thuật</div>
								</li>
							</ul>
						</div>
			        </div>
		    	</div><!-- //reduction-box4-->

				<!-- Thông tin phẫu thuật -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng - 3 tiếng 30 phút</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ một cách tuần tự sau khoảng 8 - 15 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 4 - 5 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau phẫu thuật, có thể có cơn đau nhói và sẽ giảm dần theo thời gian. <br>
										Khi vận động tay quá sức cũng có thể gây đau.<br>
										Khi tiếp xúc với vùng phẫu thuật thì có thể vết sẹo sẽ rộng ra kèm theo triệu chứng đau nên cần phải cẩn thận.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

			    <div class="reduction-box5">
			        <div class="content-section">
			          	<div class="reduction-box5__box">
			            	<div class="reduction-box5__wrap type-unique">
			              		<h4 class="content-section__tit type-left">
			                		<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
									Dual-slim
									Phẫu thuật thu gọn ngực kép,
			                		<strong class="color-chest7">Banobagi luôn cố gắng</strong>
									thấu hiểu nỗi trăn trở của khách hàng.
			              		</h4>
			            	</div>
			            	<p class="content-section__txt2">
			              		Sự liên quan của bệnh béo phì thân trên với ngực phì đại
			            	</p>
			            	<p class="content-section__txt1">
			              		Nhìn chung, đối với ngực phì đại thì nhiều trường hợp đi kèm với bệnh béo phì thân trên. Đặc biệt, nách là phần được nối với bụng hay vú phụ và gần với ngực nên nếu chỉ thực hiện phẫu thuật thu gọn ngực mà không có sự cải thiện những phần này thì sẽ chỉ mang lại kết quả không trọn vẹn. Vì vậy, phẫu thuật thu gọn ngực nên được thực hiện cùng với việc cải thiện về mỡ.
			            	</p>
			          	</div>
			        </div>
			    </div><!-- //reduction-box5-->
			    <div class="reduction-box6">
			        <h5 class="reduction-box6__tit">
			          	Banobagi đã đưa ra phương pháp phẫu thuật thu gọn ngực kép, <strong>thực hiện đồng thời phẫu thuật thu gọn ngực và phẫu thuật hút mỡ</strong>.
			        </h5>
			        <p class="reduction-box6__txt txt-v5">
			          	Đây là phẫu thuật tận dụng những lợi thế của Banobagi đó là chuyên môn về hai lĩnh vực phẫu thuật chỉnh hình cơ thể và phẫu thuật chỉnh hình ngực. Chúng tôi có thể thiết kế theo tỷ lệ toàn thân mà không riêng phần ngực ngay từ quá trình tư vấn đầu tiên, nên khách hàng có thể mong đợi một thân hình cân đối được tạo nên bởi khuôn ngực đẹp và nhẹ nhõm hơn cùng với một đường nét thanh thoát.
			        </p>
			        <ul class="reduction-box6__list">
			          	<li class="reduction-box6__item">
			            	<img src="../../images/chest/chest_reduction_img11.jpg" loading="lazy" alt="Phẫu thuật thu gọn ngực thông thường">
			            	<p class="reduction-box6__subject nth-1">Phẫu thuật thu gọn ngực thông thường</p>
			          	</li>
			          	<li class="reduction-box6__item">
			            	<img src="../../images/chest/chest_reduction_img12.jpg" loading="lazy" alt="Phẫu thuật thu gọn ngực kép">
			            	<p class="reduction-box6__subject nth-2">Phẫu thuật thu gọn ngực kép</p>
			          	</li>
			        </ul>
			    </div>
			    <div class="reduction-box4 type-another">
			        <h4 class="reduction-box4__tit">
			          	Phẫu thuật thu gọn ngực kép hay phẫu thuật thu gọn ngực thông thường cũng đều được <strong class="color-chest13">chăm sóc hậu phẫu cần thiết cho việc hồi phục sức khỏe</strong>.
			        </h4>
			        <p class="reduction-box4__txt txt-v5">
			          	Chúng tôi chịu trách nhiệm chăm sóc hậu phẫu một cách tích cực với các liệu pháp như Biophoton và chương trình mát xa, v.v. giúp cho việc hồi phục nhanh hơn và tạo hình dạng ngực đẹp hơn. Ngoài ra, chúng tôi chăm sóc cẩn thận vết sẹo hơn sau phẫu thuật bằng cách hợp tác với Khoa da liễu Banobagi.
			        </p>
			        <!-- <div class="bio">
			            <div class="bio__box type-img">
			                <div class="bio__img nth-1">바이오포톤 - img</div>
			            </div>
			            <div class="bio__box type-txt">
			                <div class="bio__wrap">
			                    <h3 class="bio__tit">바이오포톤</h3>
			                    <p class="bio__txt">
			                        바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
			                        (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
			                        PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
			                        신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
			                        적극적으로 분해하는 효과가 있습니다.
			                    </p>
			                </div>
			            </div>
			        </div>
			        <ul class="reduction-box4__list">
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img9.jpg" loading="lazy" alt="수술후 1개월 사진">
			                <p class="reduction-box4__subject nth-1">수술 후 1개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img10.jpg" loading="lazy" alt="수술후 6개월 사진">
			                <p class="reduction-box4__subject nth-2">수술 후 6개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img11.jpg" loading="lazy" alt="수술후 12개월 사진">
			                <p class="reduction-box4__subject nth-3">수술 후 12개월</p>
			            </li>
			        </ul> -->
			    </div><!-- //reduction-box4-->

				<!-- Thông tin phẫu thuật -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng - 3 tiếng 30 phút</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ một cách tuần tự sau khoảng 8 - 15 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 4 - 5 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau phẫu thuật, có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
										Khi vận động tay quá sức cũng có thể gây đau. <br>
										Khi tiếp xúc với vùng phẫu thuật thì có thể vết sẹo sẽ rộng ra kèm theo triệu chứng đau nên cần phải cẩn thận. <br>
										Đối với phần đã thực hiện hút mỡ, sẽ có thể cảm thấy đau rát nhẹ.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
