<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-chest-extension">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">Hài lòng hơn với sự lựa chọn đúng đắn</p>
	            <h3 class="content-visual__tit"># Phẫu thuật <span class="color-chest7">nâng ngực</span></h3>
	            <p class="content-visual__txt2">Sự tự tin đến từ sự tự nhiên</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
	        <section class="interaction">
	            <div class="content-section type-first">
	                <h4 class="content-section__tit type-center">
				        <span class="content-section__number">
				            <span class="content-section__number-wrap">
				                01
				            </span>
				        </span>
	                    Cần phải <strong class="font-chest1">kiên trì</strong> hỏi<br>
	                    và cần có sự <strong class="color-chest7">giao cảm</strong>
	                </h4>
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__item type-width">
	                        <div class="content-section__img"></div>
	                    </div>
	                    <div class="content-section__item">
	                        <div class="content-section__desc">
	                            <p class="content-section__txt1">
	                                Phẫu thuật nâng ngực có <strong>nhiều sự lựa chọn</strong>.<br>
	                                Vì có nhiều lựa chọn đa dạng hơn bạn nghĩ, có nhiều phương pháp phẫu thuật khác nhau tùy theo loại túi độn ngực đa dạng và tùy theo thể trạng cơ thể. Vì vậy đôi khi cũng có người vì mong muốn làm nhanh mà tiến hành phẫu thuật theo quyết định của bệnh viện trong khi không có thông tin cụ thể nào.<br>
	                                <br class="hidden-p">
									Tuy nhiên, đối với phẫu thuật nâng ngực, trong quá trình chuẩn bị mỗi một sự lựa chọn đều có thể có ảnh hưởng quan trọng đến kết quả. Do đó, bệnh nhân cũng thế mà bác sĩ cũng vậy đều cần phải kiên trì. Chúng tôi tin rằng phán đoán sau khi hỏi nhiều hơn và suy nghĩ kỹ hơn sẽ mang lại một kết quả tốt hơn. Để giúp bệnh nhân lựa chọn đúng đắn hơn, <span class="content-highlight type-chest-extension">Banobagi chẩn đoán chính xác, kiểm tra thể trạng bệnh nhân và chia sẻ thông tin về các loại túi độn ngực đa dạng và giải thích những ưu nhược điểm theo từng phương pháp phẫu thuật.</span> Hơn nữa, cũng phải nghe kỹ về kích thước ngực, hình dáng, mục đích định phẫu thuật, v.v.. Phải như thế thì phẫu thuật nâng ngực mới tự nhiên và làm hài lòng khách hàng hơn.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="kind-req">
	            <div class="content-section">
	                <h4 class="content-section__tit type-center">
		                <span class="content-section__number">
		                    <span class="content-section__number-wrap">
		                        02
		                    </span>
		                </span>
	                    Chúng tôi xin giới thiệu<br class="hidden-tm">
	                    loại <strong class="color-chest7">túi độn ngực tối ưu</strong><br class="hidden-tm">
						thay vì loại túi độn ngực tốt nhất.
	                </h4>
	                <p class="content-section__txt1">
	                    Thứ không thể thiếu trong phẫu thuật nâng ngực chính là loại túi độn ngực. Để đạt được đúng kết quả bệnh nhân mong muốn, điều quan trọng là chọn được loại túi độn ngực phù hợp cả về mặt y học và cả về mặt hình thức. <br class="hidden-tm">
	                    Tuy nhiên, vấn đề là đặc trưng của các loại túi độn ngực lại khác nhau và có thể nói là mỗi người thì có một khuôn ngực với muôn vàn sự khác biệt. Vì vậy, chúng tôi không thể đưa ra lời khuyên cho khách hàng là loại túi độn ngực đặc thù nào là tốt nhất.
	                </p>
	                <p class="content-section__txt2">
	                    Để có được kết quả hài lòng hơn, có thể phải đưa ra nhiều lựa chọn với các loại túi độn ngực đa dạng và <span class="content-highlight type-chest-extension">điều quan trọng là chọn y bác sĩ có kinh nghiệm phong phú đối với các loại túi độn ngực, từ đó có thể cùng bệnh nhân xem xét đến loại túi độn ngực phù hợp với thể trạng của từng cá nhân.</span>
	                </p>
	                <div class="content-section__wrapper type-background">
	                    <p class="content-section__txt type-sub">Cốt lõi trong phương pháp phẫu thuật chỉnh hình ngực của Banobagi</p>
	                    <div class="content-section__quotation">
	                        <div class="content-section__quotation-wrapper">
	                            <div class="quotation type-chest-extension">
	                                <h5 class="content-section__tit-quote">
	                                    Loại <strong class="color-chest8">túi độn ngực</strong>
	                                </h5>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="extension-box1">
	                        <h6 class="kind-req__tit">Phân loại theo chất liệu bên trong</h6>
	                        <ul class="clearfix item-box2__list chest-group1">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic1 item-box2__thumb">Cohesive Gel (Gel kết dính)</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                Cohesive Gel (Gel kết dính)
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                Hiện tại, đây là loại túi độn ngực được sử dụng nhiều nhất ở Hàn Quốc, và đang được sử dụng rộng rãi thay vì túi nước muối sinh lý thường dùng trước đây. Vì lực liên kết của nó rất tốt nên dù trong trường hợp bị hỏng sau phẫu thuật thì nó cũng không bị lan ra trong cơ thể mà vẫn duy trì ở tình trạng đó. Là sản phẩm được cấp phép bởi FDA và KFDA, có nhiều ưu điểm như có cảm giác chạm tốt và hình dáng tự nhiên, được sử dụng nhiều trong các trường hợp thông thường.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic2 item-box2__thumb">Nước muối sinh lý</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                Nước muối sinh lý
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                Là loại túi độn ngực sử dụng nước muối sinh lý lấp đầy bên trong và là chất liệu được sử dụng nhiều trước đây. Vì có thể điều chỉnh được độ lớn của ngực bằng cách điều tiết được lượng nước muối nên có ưu điểm là dễ cân bằng nhưng lại mang lại cảm giác ít mềm mại hơn so với Cohesive Gel.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box2">
	                        <div class="category-list__cate-2">
	                            <h6 class="kind-req__tit">Phân loại theo trạng thái bề mặt</h6>
	                            <ul class="category-list__list-wrapper clearfix">
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic3">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Smooth Type (bề mặt láng mịn)</p>
	                                            <p class="category-list__cate2-txt">
	                                                Do có bề mặt mềm và mịn nên có lợi cho việc định vị khi phẫu thuật, có ưu điểm là khách hàng bớt lo lắng để lại sẹo do vết rạch nhỏ. Tuy nhiên, có thể phát sinh hiện tượng co thắt bao xơ nên sau phẫu thuật vẫn cần kiểm soát thích hợp.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic4">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Texture Type (bề mặt nhám)</p>
	                                            <p class="category-list__cate2-txt">
	                                                Là loại túi độn ngực không trơn mịn mà có đôi chút lồi lõm. Vì sau khi phẫu thuật, tổ chức ngực được định vị giữa các phần lõm lồi của túi độn ngực, nên dễ dàng ngăn ngừa hiện tượng co thắt bao xơ, và có thể đạt được kết quả mềm mại khi chạm vào.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic5">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Micro-textured</p>
	                                            <p class="category-list__cate2-txt">
	                                                Là loại túi độn ngực có ưu điểm của cả loại Smooth và loại Texture cơ bản. Bề mặt của nó có kết cấu lồi lõm nhỏ hơn và thân thiện với cơ thể hơn nên ngăn được tác dụng phụ và ngăn hình thành hiện tượng co thắt bao xơ, nó dễ định vị vị trí túi độn ngực và có thể sử dụng cho cả người có lồng ngực hẹp.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic6">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Silky Texture (Vân mềm mịn)</p>
	                                            <p class="category-list__cate2-txt">
	                                                Là loại túi độn ngực không trơn mịn mà có đôi chút lồi lõm. Vì mô ngực được định vị giữa các phần lõm lồi của túi độn ngực, nên dễ dàng ngăn ngừa co thắt bao xơ, và có thể thu được kết quả mềm mại khi chạm vào.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic7">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Micro polyurethane type</p>
	                                            <p class="category-list__cate2-txt">
	                                                Loại túi độn ngực Micro polyurethane khác với loại túi độn ngực thông thường, nó là loại túi độn ngực phù hợp với việc xử lý bề mặt đặc thù bằng polyurethane có các lỗ nhỏ trên bề mặt. Giống như nguyên lý của loại Texture - giảm thiểu rất nhiều khả năng phát sinh co thắt bao xơ khi định vị mô ngực trên bề mặt túi độn ngực và hầu như không có tác dụng phụ như hiện tượng túi độn ngực bị di chuyển hay xoay tròn. Hơn nữa, có ưu điểm là khả năng hồi phục tương đối nhanh, cảm giác chạm vào mềm mại hay di chuyển cũng tự nhiên hơn.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="category-list__cate-3">
	                            <h6 class="kind-req__tit">Phân loại theo hình dáng</h6>
	                            <ul class="clearfix item-box2__list chest-group2">
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic8 item-box2__thumb">Kiểu tròn</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    Kiểu tròn
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    Là kiểu túi độn ngực chỉnh hình ngực cơ bản nhất, kiểu dáng hình bán cầu. Do có hình dạng vị trí trung tâm cao nhất, nên có ưu điểm là độ phồng dưới và trên của ngực đồng thời cũng cao. Hơn nữa có thể thay đổi hình dạng và tạo ra khe bên ngực tự nhiên hơn tùy theo trọng lực tác động khi đứng lại.
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic9 item-box2__thumb">Kiểu giải phẫu học hoặc giọt nước</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    Kiểu giải phẫu học hoặc giọt nước
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    Đây là kiểu tạo hình phù hợp nhất cho dáng ngực lý tưởng, tiêu biểu là hình giọt nước. Có ưu điểm hình dáng đẹp, tuy nhiên kiểu dáng này lại có cảm giác không được tự nhiên, nếu vị trí sau phẫu thuật không được cố định ổn định thì có thể sẽ phải phẫu thuật lại do túi độn ngực bị xoay.
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="operation-ways">
	            <section class="content-section">
	                <div class="content-section__bg">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-left">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            03
			                        </span>
			                    </span>
	                            <strong class="color-chest9">Phương pháp phẫu thuật</strong>
	                            cũng quan trọng như
								<strong>túi độn ngực.</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            Đối với phẫu thuật nâng ngực, <span class="color-chest10 font-bold">phương pháp phẫu thuật khác nhau</span> tùy theo kết quả mà bệnh nhân hướng đến <span class="color-chest10 font-bold">hay tùy theo cấu trúc cơ thể của bệnh nhân.</span> <br class="hidden-tm">
								Nếu phương pháp phẫu thuật khác nhau thì cũng có thể có những khác biệt như vị trí đặt túi độn ngực hay vị trí sẹo.
								Theo đó trước khi phẫu thuật, bệnh nhân cần phải hiểu rõ bản thân mình sẽ làm phẫu thuật với loại túi độn ngực nào hay sẽ tiến hành phẫu thuật bằng phương pháp nào.
	                        </p>
	                    </div>
	                    <div class="extension-box3">
	                        <h5 class="operation-ways__tit">
	                            Vị trí túi độn ngực
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group3">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic10 item-box2__thumb">Vị trí dưới cơ</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
	                                                Vị trí dưới cơ
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                Vì đây là phương pháp duy trì cấu trúc ban đầu của ngực nên không gây ảnh hưởng gì đến chức năng của ngực và hồi phục tương đối nhanh. Hơn nữa, phương pháp này có ưu điểm là định hình được hình dáng của ngực đẹp do có thể điều chỉnh một cách an toàn đường nét dưới bầu vú khi làm thủ thuật.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic11 item-box2__thumb">Vị trí trên cơ</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
	                                                Vị trí trên cơ
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1 pop-info">
	                                                Trường hợp cơ ngực phát triển hay trường hợp sử dụng túi nước muối sinh lý để làm túi độn ngực thì có thể đặt túi độn ngực giữa cơ ngực và mô vú. Phương pháp này có ưu điểm là thủ thuật tương đối đơn giản và có hiệu quả chống chảy xệ nhưng cần có sự kiểm soát vì có khả năng tạo ra
	                                                <a href="" class="info-btn js-info">
	                                                    <span class="info-btn__icon type-chest-extension">info</span>
	                                                    co thắt bao xơ.
	                                                    <span class="info-desc type-chest-extension">
	                                                        <span class="info-desc__item">
	                                                            <span class="info-desc__box">
	                                                                <span class="info-desc__tit"><span class="info-desc__icon"></span>Hiện tượng co thắt bao xơ là gì?<br class="hidden-tm"></span>
	                                                                <span class="info-desc__content">
	                                                                    <span class="info-desc__txt1">
	                                                                        Co thắt bao xơ là hiện tượng lớp vỏ xơ cứng xuất hiện xung quanh và dần dần bóp chặt túi ngực. Trong thẩm mỹ nâng ngực, lớp vỏ bao bọc lấy túi độn có thể xuất hiện, và lớp vỏ này cũng có thể trở nên cứng đi. Ở mức độ nào đó thì hiện tượng này cũng không trở thành vấn đề lớn, tuy nhiên nếu diễn ra nghiêm trọng sẽ dẫn đến sự mất tự nhiên của khuôn ngực. Vì vậy, cần thiết có phương pháp phòng ngừa và chữa trị phù hợp.
	                                                                     </span>
	                                                                </span>
	                                                            </span>
	                                                            <button class="info-desc__btn js-close">
	                                                                <span class="info-desc__stick type-left"></span>
	                                                                <span class="info-desc__stick type-another"></span>
	                                                                Đóng
	                                                            </button>
	                                                        </span>
	                                                    </span>
	                                                </a>
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box4">
	                        <h5 class="operation-ways__tit">
	                            Phương pháp rạch
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group4">

	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic12"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                Phương pháp rạch ở nách
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                Phương pháp này có ưu điểm là không nhìn thấy vết sẹo, có thể làm giảm thiểu thương tổn đến mạch máu và dây thần kinh trong khi làm thủ thuật, và hầu như không có nguy cơ bị nhiễm trùng hay mất cảm giác của núm vú.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic13"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                Phương pháp rạch đường phía dưới ngực
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                Ít đau, hồi phục tương đối nhanh, đặc biệt có lợi khi muốn tạo khuôn ngực đẹp. Tuy đây là phương pháp mọi người vẫn tránh do để lại sẹo nhưng gần đây do có thể chăm sóc đặc biệt các vết sẹo và vết sẹo này được che đi bởi là đường dưới bầu ngực nên vẫn nhiều người lựa chọn.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic14"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                Phương pháp rạch vùng quầng thâm quanh núm vú
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                Đây là phương pháp thủ thuật tương đối đơn giản do rạch chính giữa bầu ngực - vị trí sẽ phải đặt túi độn ngực nên đảm bảo tầm nhìn dễ dàng và đường dẫn ngắn. Phương pháp này có rất nhiều ưu điểm như là hầu như không có ảnh hướng đến phụ nữ mang thai hay cho con bú, đồng thời có thể cải thiện tình trạng ngực chảy xệ và hầu như không xuất hiện tình trạng mất cân xứng.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>

	                    </div>
	                </div>
	            </section>
	        </section>
	        <section class="responsibility">
	            <div class="content-section">
	                <div class="content-section__wrap">
	                    <div class="content-section__tit-wrap">
	                        <h4 class="content-section__tit type-center">
				                <span class="content-section__number">
				                    <span class="content-section__number-wrap">
				                        04
				                    </span>
				                </span>
	                            <span class="color-chest7 type-bold">Nghĩa vụ của bệnh viện</span><br class="hidden-tm">
								là chịu trách nhiệm với an toàn<br class="hidden-tm">
								và sức khỏe của bệnh nhân.
	                        </h4>
	                        <p class="content-section__txt1">
								An toàn và sức khỏe của bệnh nhân. Đây là giá trị cơ bản nhất đương nhiên phải nghĩ đến nếu là bệnh viện.
								Tuy nhiên, đôi khi phẫu thuật thẩm mỹ tập trung vào phần làm đẹp, mà có trường hợp bỏ lỡ những giá trị cơ bản và quan trọng nhất này.
								Banobagi là bệnh viện luôn <strong>coi trọng giá trị lấy con người làm trung tâm</strong> và đang cố gắng hết sức để chịu trách nhiệm với sự an toàn và sức khỏe của bệnh nhân ngay cả khi thực hiện phẫu thuật nâng ngực.
	                        </p>
	                    </div>
	                    <div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Hệ thống <span class="color-chest11 type-bold">kiểm tra ngực chính xác</span>
											</h5>
											<p class="responsibility__item-txt pop-info">
												Ngực phụ nữ là biểu tượng cho sự nữ tính và là cơ quan đặc biệt thực hiện các chức năng đa dạng cùng một lúc. Vì vậy, nhất định phải kiểm tra ngực định kỳ và chính xác. Tuy nhiên, có trường hợp bệnh nhân đã tiến hành phẫu thuật nâng ngực có thể không muốn đến kiểm tra ngực tại các cơ sở y thông thường. Bởi vì không ai cảm thấy dễ chịu gì khi công khai ra rằng mình có hay không phẫu thuật nâng ngực. Banobagi là cơ sở y tế tích cực thực hiện
											   	<a href="" class="info-btn js-info">
												   	<span class="info-btn__icon type-chest-ribbon">info</span>
												   	Chiến dịch Ruy băng hồng,
												   	<span class="info-desc type-chest-ribbon">
													   	<span class="info-desc__item">
														   	<span class="info-desc__box">
															   	<span class="info-desc__tit"><span class="info-desc__icon"></span>Ruy băng hồng có ý nghĩa gì?<br class="hidden-tm"></span>
															   	<span class="info-desc__content">
																   	<span class="info-desc__txt1">
																	   	Chiến dịch ruy băng hồng
																	   	<br>
																	   	Ruy băng màu hồng là biểu tượng quốc tế nhằm nâng cao nhận thức về bệnh ung thư vú. Chiến dịch ruy băng hồng nhấn mạnh tầm quan trọng của việc kiểm tra định kì ngực nhằm đề phòng ung thư vú.
																	</span>
															   	</span>
														   	</span>
														   	<button class="info-desc__btn js-close">
															   	<span class="info-desc__stick type-left"></span>
															   	<span class="info-desc__stick type-another"></span>
															   	Đóng
														   	</button>
													   	</span>
												   	</span>
											   	</a>
											   	hiện đang có các trang thiết bị chuyên dụng và đội ngũ y bác sĩ chuyên môn để kiểm tra chính xác tình trạng của vú.
											   	<strong class="color-chest12">Với hệ thống kiểm tra ngực định kỳ cho phép kiểm tra chính xác tình trạng của ngực và có thể phát hiện và loại bỏ các khối u.</strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												Hệ thống kiểm tra ngực chính xác
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Sử dụng <span class="color-chest11 type-bold">sản phẩm túi độn ngực chính hãng</span>
											</h5>
											<p class="responsibility__item-txt">
												Đối với phẫu thuật nâng ngực, quan trọng nhất là sự an toàn không để túi độn ngực bị bong ra. Vì nếu sử dụng túi độn ngực chưa được kiểm chứng thì sẽ có nguy cơ bị nhiễm trùng hay gây ra các tác dụng phụ khác. Banobagi hiện có các loại túi độn ngực đa dạng, <strong class="color-chest12">nhưng chỉ sử dụng các sản phẩm chính hãng đã được kiểm chứng an toàn thông qua các loại thử nghiệm.</strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												Sử dụng sản phẩm túi độn ngực chính hãng
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Phẫu thuật trong <span class="color-chest11 type-bold">khoảng trên dưới 30 phút</span>
											</h5>
											<p class="responsibility__item-txt">
												Đôi khi có người cho rằng thời gian phẫu thuật phải dài thì kết quả sẽ tốt hơn. Tuy nhiên, nếu thời gian phẫu thuật càng dài thì nguy cơ viêm nhiễm càng cao, thương tổn đến các mô càng nghiêm trọng và phục hồi chậm. Vì vậy, thời gian phẫu thuật càng ngắn càng tốt.
	                                            <strong class="color-chest12">Banobagi dựa trên kinh nghiệm và cảm quan phong phú hiện đang tiến hành phẫu thuật nâng ngực trong thời gian khoảng trên dưới 30 phút.</strong>
	                                           	Kỹ thuật của Banobagi có thể phẫu thuật nâng ngực an toàn hơn mà lại đảm bảo tách các lớp một cách hợp lý, không gây xuất huyết và giảm bớt thương tổn mô không cần thiết.
											</p>
											<div class="responsibility__thumb type-pic17">
												Phẫu thuật trong khoảng trên dưới 30 phút
											</div>
										</div>
									</div>
								</li>
							</ul>
	                    </div>

	                </div>
	            </div>

	        </section>
	        <section class="recovery">
	            <div class="recovery__wrap">
	                <div class="recovery__tit-wrap">
	                    <h4 class="content-section__tit type-top">
			                <span class="content-section__number">
			                    <span class="content-section__number-wrap">
			                        05
			                    </span>
			                </span>
	                        <span class="color-chest7 type-bold">Hồi phục</span> và <span class="color-chest7 type-bold">quản lý</span>,
							Banobagi giảm bớt
							lo lắng cho bạn.
	                    </h4>
	                    <div class="recovery__img-wrapper clearfix">
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic18"></div>
	                        </div>
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic19"></div>
	                        </div>
	                    </div>
	                    <p class="content-section__txt1">
							Phần lớn các cuộc phẫu thuật đều cần có quá trình hồi phục tùy theo từng loại. Đặc biệt là trường hợp phẫu thuật nâng ngực lại càng hơn thế.<br class="hidden-m">
							Bời vì lo lắng đến việc phát sinh hiện tượng co thắt bao xơ hay sẹo.
							Có thể phòng ngừa hình thành co thắt bao xơ qua việc chọn lựa loại túi độn ngực thích hợp và kiểm soát đúng đắn.
	                        <span class="content-highlight type-chest-extension">Với nguồn nhân lực có chuyên môn Banobagi hiện cung cấp dịch vụ mát xa có hệ thống và hướng dẫn mát xa cũng như chăm sóc mát xa khi phẫu thuật túi độn ngực loại Smooth.</span>
	                        Hơn nữa. với sự hợp tác cùng Khoa da liễu thì Banobagi cũng kiểm soát các vết sẹo cẩn thận hơn sau phẫu thuật.
	                    </p>
	                </div>
	            </div>
	        </section>

			<!-- Thông tin phẫu thuật -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">가슴수술은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">
											Cắt chỉ sau khoảng 7 ngày<br>
											(Không cần thiết khi sử dụng Dermabond)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày/Nhập viện khoảng 1 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Bệnh nhân được kê thuốc giảm đau do phẫu thuật bị đau ở mức độ nào đó tùy theo phương pháp phẫu thuật hay loại túi độn ngực khác nhau, và triệu chứng đau sẽ giảm dần theo thời gian. <br>
									Tốt nhất là nên phòng ngừa co thắt bao xơ bằng cách mát xa.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!--// Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
