<%
	type = "content"
	page = "chest"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-gynecomastia">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">자신 있게 드러나는 탄탄한 가슴</p>
						<h3 class="new-visual__tit"><span class="n-color-chest2">여성형 유방</span>교정</h3>
						<p class="new-visual__txt">가슴 볼륨의 감소, 그 이상의 형태적 개선</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#자세교정</span></li>
							<li class="new-visual__item"><span>#자신감상승</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-gynecomastia">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						여성형 유방은 <span class="n-color-chest2">심리적 위축의 원인</span>이 됩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						여성형 유방이란 <span class="color-black1">남성의 가슴이 지방이나 유선조직 발달로 인해 그 모양이 여성의 유방처럼 발달하는 것</span>을 말합니다.<br class="hidden-tm">
						호르몬 대사가 불균형한 사춘기 때에 주로 발생하며, 남성 호르몬이 우세해지는 성인이 되면 사라지는 것이 일반적이죠.<br class="hidden-tm">
						하지만 간혹 성인이 되어서도 그 증상이 호전되지 않는 경우도 있습니다.<br class="hidden-tm">
						이미 많은 양의 지방이 축적됐거나 유선조직 발달로 유두와 그 근처 부위가 돌출된 것이죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						이러한 여성형 유방은 사회생활을 하는 데 있어서 자신감 하락과 같은
						정신적 스트레스의 원인이 되며, 개인적인 노력으로는 교정이 힘들기 때문에
						<span class="n-color-chest2">수술적인 방법을 통해 가슴 형태를 교정</span>해주어야 합니다.
					</p>
					<div class="inner-circle type-chest">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									돌출되어<br>
									처진 가슴
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									좌 우 가슴<br>
									비대칭
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									유두와<br>
									그 주변부의<br>
									돌출
								</div>
							</li>
					 	</ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/chest/gynecomastia/gynecomastia_img_1.png" loading="lazy" alt="여성형유방 수술 환자" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-gynecomastia2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style1 type-padding">
							<h5 class="new-content-tit tit-new2">여성형 유방의 진단</h5>
							<p class="img-style1__txt txt-new1">
								여성형유방은 가슴이 돌출되어 처진 모양을 띄며, 좌, 우 가슴이 비대칭이고<br class="hidden-tm">
								유두와 그 주변부가 돌출된 형태를 보입니다.
							</p>
							<ul class="img-style1__list type-half type-mt">
								<li class="img-style1__item">
									<img src="../../images/chest/gynecomastia/gynecomastia_img_2.jpg" class="img-w100" loading="lazy" alt="정상 남성 유방">
									<p class="img-style1__subject txt-new2">정상 남성 유방</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/chest/gynecomastia/gynecomastia_img_3.jpg" class="img-w100" loading="lazy" alt="여성형 유방">
									<p class="img-style1__subject txt-new2">여성형 유방</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling type-bottom">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						원인에 따른 <span class="n-color-chest2">정확한 교정 방법을<br class="hidden-tm"> 선택</span>해야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						여성형 유방을 교정하는 방법으로는 지방 흡입과 피하 유방 절제술이 있습니다. 이 중 환자의 상태에 맞는<br class="hidden-tm">
						적합한 방법을 선택하는 것이 중요하죠. 비만으로 인해 가슴에 지방이 축적된 경우라면 지방흡입을 통한 교정<br class="hidden-tm">
						 보다 효과적이고, <span class="color-black1">유방조직이 섬유화된 경우라면 피하 유방 절제술을 통한 교정이 필요합니다.<br class="hidden-tm">
						또, 두 가지 원인이 복합적으로 나타난 여성형 유방의 경우라면 두 가지 방법을 병행할 수도 있습니다.</span>
					</p>
					<p class="new-style1__txt2 txt-new2">
						사춘기 때에 흔히 발생할 수 있는 증상인 만큼 교정 시기는 호르몬의 분비가 정상화된<br class="hidden-tm">
						성인이 된 이후에 하는 것이 바람직하며, 호르몬 이상을 유발하는 특별한<br class="hidden-tm">
						질환이 있는 경우가 아니라면 <span class="n-color-chest2">재발 가능성이 거의 없는 비교적 확실한 수술</span>입니다.
					</p>
				</div>
				<div class="new-explan type-white type-mt">
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/chest/gynecomastia/gynecomastia_explan_1.jpg" loading="lazy" alt="가슴 지방 흡입" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">가슴 지방 흡입</h5>
								<p class="new-explan__txt txt-new1">
									가슴에 지방이 집중적으로 축적되어 여성형 유방이 된 경우에<br class="hidden-tm">
									적합한 방법입니다. 유방의 아랫부분을 비교적 적게 절개한 후<br class="hidden-tm">
									초음파와 레이저를 통해 지방을 녹여 흡입합니다.<br class="hidden-tm"> 지방과 함께 유선조직이
									많이 발달한 경우라면 피하 유방 절제술을 병행하여
									보다 뛰어난 효과를 기대할 수 있습니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/chest/gynecomastia/gynecomastia_explan_2.jpg" loading="lazy" alt="피하 유방 절제술" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">피하 유방 절제술</h5>
								<p class="new-explan__txt txt-new1">
									발달된 유선조직으로 인해 여성형 유방이 된 경우에<br class="hidden-tm">
									적합한 방법입니다. 유두 부위의 비교적 적은 절개를 통해<br class="hidden-tm">
									내부 조직들을 절제해낸 후 다시 봉합합니다.<br class="hidden-tm"> 가슴의 외형적인 모양을 고려하여
									높이를 조절해 주는 것이 핵심이며 유두를 포함한 주변 부위의
									돌출 개선에 특히 효과적입니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-gynecomastia3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 단순히 볼륨을 줄이는 것<br class="hidden-m"> <span class="n-color-chest2">이상의 만족감을 생각</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						여성형 유방 교정은 질환적인 치료만큼이나 미용적인 개선을 목표로 하는 수술입니다.<br class="hidden-tm">
						결국 무엇보다도 수술 후 가슴의 형태적인 결과가 만족도에 큰 영향을 끼치게 되죠.<br class="hidden-tm">
						때문에 여성형 유방 교정은 신체 비율에 대한 감각과 수술적 기술을 갖춘 전문의가 진행하는 것이 중요합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 2000년 개원 이후 가슴 성형 전문팀을 운영하며 보다 체계적인 여성형 유방 교정을 진행하고 있습니다.
						<span class="n-color-chest2">오랜 경험을 통해 개개인 체형에 어울리는 남성적인 근육 윤곽과 고른 입체감을 가진 가슴 형태를 디자인</span>하죠.
					</p>
					<p class="new-style1__txt txt-new1">
						또, 정밀한 시술을 통해 지방이 흡입된 자리에 굴곡이 생기지 않도록 하는 기술과 수술 후 흉터를 관리하는 노하우를 갖추어,<br class="hidden-tm">
						보다 자연스럽고 만족스러운 여성형 유방 교정이 가능합니다.
					</p>
					<div class="inner-circle type-chest type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									신체 비율을<br>
									고려하여 남성적<br>
									윤곽이 드러나는<br>
									가슴형태 추구
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									정밀한 기술로<br>
									고르게 개선하여<br>
									보다 자연스러운<br>
									결과
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									피부과와<br>
									협진을 통한<br>
									흉터 관리
								</div>
							</li>
					 	</ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/chest/gynecomastia/gynecomastia_img_4.png" loading="lazy" alt="여성형유방 수술 환자" class="img-normal">
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="bg-style1 type-chest">
					<div class="bg-style1__wrap">
						<div class="bg-style1__area">
							<div class="bg-style1__outer">
								<div class="bg-style1__box">
									<p class="bg-style1__txt txt-new2">
										여성형 유방 교정은 비교적 간단한 수술로, 수술 후 통증이나<br class="hidden-tm"> 회복에 대한 부담이 적은 편입니다.
									</p>
									<h4 class="bg-style1__tit tit-new4">
										또, 교정에 필요한 절개가 비교적 크지 않고 <span class="n-color-chest3">바노바기피부과와의 협진을 통한<br class="hidden-tm">
										흉터 관리</span>가 더해지기 때문에 흉터가 거의 보이지 않습니다.
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30분~1시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신 마취/부분 마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 7~10일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									체질에 따라 수술 시 약간의 통감이 있을 수 있지만, 심하진 않습니다.<br>
									수술 후 수술 부위에 약간의 멍이 생기는 경우도 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">

				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-papilla">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">유두/유륜 성형</h5>
									<p class="bg-style2__txt txt-new1">
										유선 조직의 발달로 인한 여성형 유방은 가슴의 비대에 따라 유두 또한<br class="hidden-tm">
										비대해질 수 있기 때문에 유두나 유륜 축소술을 함께 고려해 볼 수 있습니다
									</p>
									<a href="http://www.btsbanobagi.com/papilla/papillaReduction.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>유두/유륜 성형 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
