@charset "utf-8";
@import "mixins";
/* 수술후 주의사항 */
.knowledge{
	&__wrap{margin:100px auto 0; border-top:3px solid #8d217f; width:1020px;} /*4개일시 1020, 3개일시 800*/
	&__tit{display:table-cell; width:130px; height:70px; padding-left:50px; font-size:15px; color:#333; font-weight:500; vertical-align:middle; text-align:left;box-sizing: border-box;}
	&__list{margin:0; padding:0;}
	&__item{position:relative; border-bottom:1px solid #e1e1e1; list-style:none;}
	@media only screen and (max-width:$tablet-size){
		&__tit{width:100px; padding-left:30px; font-size:14px;}
		&__wrap{margin-top:0; width:100%;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{float:left; width:70px; height:auto; padding-left:10px; margin-top:8px; font-size:1.5rem;}
		&__item{padding:16px 0;
			&:after{display:block; clear:both; content:'';}
		}
	}
}
.caption{
	$this:&;
	&__list{position:absolute; top:0; left:0; display:table; padding-left:130px; width:100%; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__item{float:left; width:25%; height:70px; vertical-align:middle; text-align:center; list-style:none; box-sizing: border-box;
		&:before{position:absolute; top:0; bottom:0; display:block; width:0;  height:17px;  margin:auto 0;border-left:1px solid #e5e5e5; content:'';}
		&:first-child{
			&:before{display:none;}
		}
		&.type-pdf{
			#{$this}__link:hover{background-color:#333333; border-color:#333; color:#fff;}
		}
		&.type-video1{
			#{$this}__link{background-color:#666; border-color:#666; color:#fff;
				&:hover{background-color:transparent; color:#333; border-color:#ddd; }
			}
		}
		&.type-video2{
			#{$this}__link:hover{background-color:#8d217f; border-color:#8d217f; color:#fff; border-color:#ddd;}
		}
	}
	&__link{display:inline-block; width:174px; font-size:14px; line-height:32px; border:1px solid #ddd; border-radius:16px; color:#333; transition:all 0.3s; text-decoration:none;}
	@media only screen and (max-width:$tablet-size){
		&__list{padding-left:100px;}
		&__link{width:130px; font-size:12px;
			.hidden-m{display:inline !important;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{position:static; display:block; padding-left:70px; font-size:0;
			&:after{display:block; clear:both; content:'';}
		}
		&__vertical{display:block; width:auto;}
		&__item{display:inline-block; width:50%; height:auto; padding:0 7px;
			&:before{display:none;}
			& + & + &{margin-top:15px;}
			&.type-pdf{
				#{$this}__link:hover{background-color:transparent; color:#333; border-color:#ddd;}
			}
			&.type-video1{
				#{$this}__link{background-color:#666; color:#fff;
					&:hover{background-color:#666; color:#fff; border-color:#666;}
				}
			}
			&.type-video2{
				#{$this}__link:hover{background-color:transparent; color:#333; border-color:#ddd;}
			}
		}
		&__link{width:100%; line-height:30px; font-size:1.3rem;
			.hidden-m{display:none !important;}
		}
	}
	@media only screen and (max-width:$iphone-size){
		&__item{display:inline-block; width:50%; height:auto; padding:0 3px;}
		&__link{width:100%; line-height:30px; font-size:1.2rem;}
	}
}
.knowledge-popup{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:120; text-align:center;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:800px; height:450px; vertical-align:middle;
		iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
	}
	&__close{overflow:hidden; position:absolute; top:0; right:-44px; width:44px; height:44px; background:url('../images/introduce/knowledge_close.png') no-repeat center center #333; text-indent:-999px;}
	@media only screen and (max-width:$tablet-size){
		&__wrap{width:80%; height:0; padding-bottom:43.125%;}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{width:calc(100% - 26px); padding-bottom:52.3%}
		&__close{top:auto; right:0; bottom:-31px; width:31px; height:31px; background:url('../images/introduce/knowledge_close_m.png') #333 no-repeat center center / 21px 21px; }
	}
}

.knowledge__temp{padding-bottom:100px;
	@media only screen and (max-width:$tablet-size){padding-bottom:0;}
}
