@charset "utf-8";
@import "mixins";
.medical{margin-top:70px;
	$this:&;
	&__list{margin:0 0 0 -70px;; padding:0; opacity:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{overflow:hidden; position:relative; float:left; width:25%; padding-left:70px; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__txt1{margin-left:0; opacity:1; transition-delay:0.3s;}
			#{$this}__txt2{margin-left:0; opacity:1; transition-delay:0.5s;}
			#{$this}__bg{opacity:1;}
		}
		&:nth-child(4) ~ &{margin-top:54px;}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; text-indent:-9999px;}
	&__area{position:relative;}
	&__img{width:100%; height:0; padding-bottom:134.93%;}
	&__wrap{width:100%; max-width:1140px; padding:0 8px; margin:0px auto; box-sizing:border-box;}
	&__box{position:relative;}
	&__name{margin:12px 0 0 0; font-size:20px; color:$black2; font-weight:$light;}
	&__bg{position:absolute; bottom:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); color:#fff; opacity:0; transition:opacity 0.8s;}
	&__group{position:absolute; bottom:10px; left:10px;}
	&__txt1{margin:0 0 0 -20px; font-size:18px; font-weight:$regular; opacity: 0; transition: margin-left 0.5s, opacity 0.5s;}
	&__txt2{margin:6px 0 0 -20px; font-size:14px; opacity:0; transition: margin-left 0.5s, opacity 0.5s;}
	@media only screen and (max-width: $tablet-size) {margin-top:50px;
		&__wrap{padding:0;}
		&__list{margin-top:-26px; margin-left:-36px;}
		&__item{width:33.33%; margin-top:26px; padding-left:36px;
			&:nth-child(4) ~ &{margin-top:26px;}
		}
		&__group{left:15px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:30px;
		&__list{margin:-26px 0 0 -15px;}
		&__item{width:50%; padding-left:15px;}
		&__name{margin-top:6px; font-size:1.4rem;}
		&__group{left:10px;}
		&__txt1{font-size:1.3rem;}
		&__txt2{font-size:1.1rem;}
	}
}
.medical-view{position:fixed; top:100%; left:0; bottom:0; right:0; height:100vh; background-color:#fff; z-index:110;
	$this:&;
	&.is-active{top:0;}
	&__col{position:relative; display:block; margin-top:12px; line-height:1.5; box-sizing:border-box;
		//&:before{position:absolute; left:0; top:10px; display:block; width:3px; height:3px; background-color:#aaa; content:'';}
		&:first-of-type{margin-top:0;}
	}
	&__area{position:relative; width:100%; height:100%;}
	&__list{margin:0; padding:0; height:100%;}
	&__item{display:none; height:inherit; list-style:none;
		&.is-active{display:block;}
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left; width:50%; height:100%;}
	&__img{width:100%; height:100%; background-position:center bottom; background-repeat:no-repeat; background-size:contain; background-color:#dadada;}
	&__outer{display:inline-table; width:100%; height:100%; box-sizing:border-box;}
	&__inner{display:table-cell; vertical-align:middle;}
	&__wrap{width:420px; margin:0px auto;}
	&__tit{margin:0; font-size:50px; font-weight:$regular; color:$black1;}
	&__txt{margin:24px 0 0 0; padding-right:20px; font-size:15px; line-height:2; box-sizing:border-box;}
	&__career{display:block; margin-top:8px; color:$color-point; font-size:20px;}
	&__dl{margin:0;}
	&__dt{font-size:20px; font-weight:$regular; color:$color-point; letter-spacing:-1px;}
	&__dd{margin:5px 0 0 0; font-size:15px; color:$black2; line-height:1.6;
		& + #{$this}__dt{margin-top:30px;}
	}
	&__close{overflow:hidden; position:absolute; top:80px; right:80px; display:block; width:42px; height:42px; opacity:0;
		background:url('../images/introduce/medical/close.png') no-repeat center center / contain; text-indent:-9999px;}
	@media only screen and (max-height:$minH-size) {
		&__close{top:40px; right:40px;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__img{background-size:cover;}
	}
	@media only screen and (max-width: $tablet-size) {overflow:hidden;
		&__box{float:none; width:100%; height:auto;
			&.type-img{height:41.8%;}
			&.type-txt{overflow:auto; height:calc(58.2% - 56px); box-sizing:border-box;}
		}
		&__img{background-size:76%; background-position:center top;}
		&__outer{position:relative; display:block;}
		&__inner{display:block; height:100%;}
		&__wrap{width:100%; height:100%; padding:0 20%; box-sizing:border-box;}
		&__close{top:30px; right:20px;}
	}
	@media only screen and (max-width: $tablet-size) and (max-height:$minH-size) {
		&__img{background-size:contain !important;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__col{margin-top:6px;
			//&:before{top:6px;}
		}
		&__tit{font-size:2.4rem;}
		&__txt{margin-top:10px; padding-right:0; font-size:1.2rem; }
		&__career{font-size:1.1rem;}
		&__img{background-size:cover;}
		&__wrap{padding:0 40px;}
		&__dt{font-size:1.4rem;}
		&__dd{margin-top:2px; font-size:1.3rem;}
		&__close{top:14px; right:14px; width:21px; height:21px;}
	}
}
.medical-nav{position: absolute; top:0; left:0; right:0;  bottom:0; width: 80px; height:180px; margin:auto; padding:0; z-index:120; font-size:0;
	&__item{display:inline-block; width:inherit; height:90px; list-style:none; text-align: center; background: #fff; border: 1px solid #B7B7B7; color: #B7B7B7; box-sizing:border-box;
		& + &{border-top:none;}
		&.type-prev{
			i {margin-bottom:7px;}
		}
		&.type-next{
			i {margin-top:7px;}
		}
	}
	&__link{display:table-cell; width:1%; height:inherit; font-size:54px; color:inherit; text-decoration:none; vertical-align:middle; line-height:1;}
	@media only screen and (max-width: $tablet-size) {top:20%; height:auto; margin-left:0; margin-top:-28px; bottom:auto;
		&__item{position:fixed; width:58px; height:58px; background:rgba(255,255,255,0.3); border:0; transform:rotate(-90deg);
			&.type-prev{left:-1px; border:1px solid #cfcfcf;}
			&.type-next{right:-1px;; border:1px solid #cfcfcf;}
		}
		&__link{font-size:36px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:-20px;
		&__item{width:40px; height:40px;
			&.type-prev{
				i{position:relative; bottom:5px; margin-bottom:0;}
			}
			&.type-next{
				i{position:relative; top:2px; margin-top:0;}
			}
		}
	}
}
