.new-visual{
	$this: &;
	&.type-bimaxillary{
		&:before{
			@include background('../images/contour/bimaxillary/bimaxillary_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bimaxillary{
			&:before{
				@include background('../images/contour/bimaxillary/bimaxillary_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bimaxillary{
			&:before{
				@include background('../images/contour/bimaxillary/bimaxillary_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this: &;

	&.type-bimaxillary{@include background('../images/contour/bimaxillary/bimaxillary_bg_1.jpg','no-repeat center bottom/cover');}
	&.type-bimaxillary2{background-color: #cce6f1;}
    &.type-bimaxillary3{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
    }
	&.type-bimaxillary4{background-color: #e6eeff;}
}

.inner-box{
	$this: &;

	&.type-bimaxillary{background-color: #001a3e;
		& + .inner-box{margin-top: 0;}
		.inner-stripe__txt{color: #aaa;}
	}
}

.new-stripe{
	$this: &;

	&.type-bimaxillary{background-color: #fff;
		#{$this}__item{border-bottom-color: #e1e1e1;}
	}
}
