<%
	type = "membership"
	page = "proposal"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="c-visual type-proposal type-nolnb js-overlab-img1">
		<div class="c-visual__img js-overlab-img2">2번째 이미지</div>
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">Đề xuất hợp tác</h3>
                        <p class="c-visual__txt txt-new1">Banobagi chờ đợi các đề xuất mới<br> và dự án liên kết quan trọng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="proposal">
			<p class="proposal__required"><span class="required type-left">Thông tin cần thiết</span></p>
			<div class="proposal__wrap">
				<table class="table1">
					<colgroup>
						<col class="table1__th-w">
						<col>
					</colgroup>
					<tbody>
						<tr class="table1__tr">
							<th class="table1__th type-m"><span class="required">Phân loại</span></th>
							<td class="table1__td">
								<ul class="sortation__list">
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label for="option1_1">Bệnh viện thẩm mỹ</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label for="option1_2">Comestic</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_3" class="radio2"><label for="option1_3">Khoa Da + Comestic</label>
									</li>
								</ul>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th"><span class="required">Chủ đề</span></th>
							<td class="table1__td">
								<input type="text" class="input-v1 input-v1__w100p" placeholder="Vui lòng nhập chủ đề">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top"><span class="required">Nội dung</span></th>
							<td class="table1__td vt-top">
								<textarea class="textarea-v1 textarea-v1__w100p" placeholder="Vui lòng nhập nội dung đề xuất/ dự án"></textarea>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">Số điện thoại</th>
							<td class="table1__td">
								<input type="tel" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">E-mail</th>
							<td class="table1__td">
								<input type="email" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top">Đính kèm File</th>
							<td class="table1__td">
								<div class="form-box">
									<span class="upload-set-v1 upload-set-v1__w100p">
										<span class="upload-set-v1__wrap" data-value="Tìm kiếm">
											<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="Tìm kiếm" >
										</span>
										<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="Tên file đính kèm (chỉ có thể đọc)" placeholder="Dung lượng File không quá 3MB">
									</span><!-- //upload-set-v1 -->
									<p class="proposal__noti">Định dạng file cho phép: png, gif, jpg, zip, ppt, pptx, doc, docx</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="btn-group">
					<ul class="btn-group__list">
						<li class="btn-group__item">
							<button type="submit" class="btn3">Đăng kí đề xuất hợp tác</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
