<!-- banner_rapid -->
	<div class="banner type-rapid">
		<div class="banner__bg">
			<div class="banner__box">
				<div class="banner__outer">
					<div class="banner__inner">
						<h4 class="banner__tit">Rapid Healing<br class="hidden-p"> Selfcare</h4>
						<p class="banner__txt">Giảm sưng và bầm, cân bằng, hồi phục da tập trung sau phẫu thuật<br> Chúng tôi sẽ giúp bạn nhanh chóng phục hồi bằng thuốc kê toa</p>
						<a href="" class="banner__btn">Xem chi tiết về Selfcare</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //banner_rapid -->
