<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/season1.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animate.css"><!-- main css -->
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기 성형외과의원</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-3">
							<a href="https://www.thailandbanobagi.com" target="_blank" class="national-gnb__link">TH</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-7">
							<a href="http://www.indonesiabanobagi.com" target="_blank" class="national-gnb__link">ID</a>
						</li>
						<li class="national-gnb__item nth-6">
							<a href="http://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JP</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">Xương Hàm Mặt</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">Cơ Thể</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="BREAST"><span class="m-1depth__icon">Ngực</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">Mắt</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">Mũi</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">Trẻ hóa</span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">SVF</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">Tái phẫu thuật</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="HAIR"><span class="m-1depth__icon">Cấy tóc</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">Special</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="BNBG"><span class="m-1depth__icon">BANOBAGI</span></a></li>
								<li class="m-1depth__item nth-12"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">Review</span></a></li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ Xương BANOBAGI</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_square.html" class="m-2depth__link"><span class="m-2depth__wrap">Xương góc hàm</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_cheek.html" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật gò má</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_front.html" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật cằm trước</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_brow.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ trán</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">Hai hàm</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../contour/contour_bimaxillary.html" class="m-3depth__link">Phẫu thuật hai hàm</a></li>
									<li class="m-3depth__item"><a href="../contour/contour_case.html" class="m-3depth__link">Hai hàm từng loại</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../contour/contour_protrusion.html" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật miệng hô</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_slimface.html" class="m-2depth__link"><span class="m-2depth__wrap">Loại bỏ mỡ thừa và nâng cơ mặt</span></a></li>
						</ul>
						<ul class="m-2depth__list BODY">
							<li class="m-2depth__item"><a href="../body/body_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ Body Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">Hút mỡ toàn thân</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_partfat.html" class="m-2depth__link"><span class="m-2depth__wrap">Hút mỡ bộ phận</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_lifting.html" class="m-2depth__link"><span class="m-2depth__wrap">Căng da cơ thể</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_obesity.html" class="m-2depth__link"><span class="m-2depth__wrap">Quản lý và điều trị béo phì</span></a></li>
						</ul>
						<ul class="m-2depth__list BREAST">
							<li class="m-2depth__item"><a href="../chest/chest_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ ngực Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ nâng ngực</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật thu nhỏ ngực</span></a></li>
							<li class="m-2depth__item"><a href="http://motiva.vnbanobagi.com/chest2.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">Motiva</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE">
							<li class="m-2depth__item"><a href="../eye/eye_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ Mắt Detail Banobagi</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật mắt hai mí</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../eye/eye_double.html" class="m-3depth__link">Bấm mí kép tự nhiên</a></li>
									<li class="m-3depth__item"><a href="../eye/eye_incisional.html" class="m-3depth__link">Cắt mí mắt</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../eye/eye_correction.html" class="m-2depth__link"><span class="m-2depth__wrap">Điều chỉnh cơ mí</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE">
							<li class="m-2depth__item"><a href="../nose/nose_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ mũi Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_low.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ mũi thấp</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">Phẫu thuật mũi các kiểu</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../nose/nose_casetype.html" class="m-3depth__link">Phẫu thuật mũi các kiểu</a></li>
									<li class="m-3depth__item"><a href="../nose/nose_reduction.html" class="m-3depth__link">Phẫu thuật thu nhỏ mũi to</a></li>
								</ul>
							</li>
						</ul>
						<ul class="m-2depth__list WRINKLE">
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Thẩm mỹ trẻ hóa Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_elastic.html" class="m-2depth__link"><span class="m-2depth__wrap">Căng da Band đàn hồi</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF">
							<li class="m-2depth__item"><a href="../svf/svf_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">SVF Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../svf/cell_transplant.html" class="m-2depth__link"><span class="m-2depth__wrap">Cấy mỡ SVF</span></a></li>
							<li class="m-2depth__item"><a href="../svf/svf_chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">Nâng ngực SVF</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP">
							<li class="m-2depth__item"><a href="../reoperation/reoperation_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Tái phẫu thuật Detail Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_nose.html" class="m-2depth__link"><span class="m-2depth__wrap">Tái phẫu thuật mũi</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_eye.html" class="m-2depth__link"><span class="m-2depth__wrap">Tái phẫu thuật mắt</span></a></li>
							<li class="m-2depth__item"><a href="http://rebreast.vnbanobagi.com/chest/chest1.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">Tái phẫu thuật ngực</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR">
							<li class="m-2depth__item"><a href="../hair/hair_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Cấy tóc Detail Banobagi</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL">
							<li class="m-2depth__item"><a href="../special/special_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">Detail Special Banobagi.</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_artecoll.html" class="m-2depth__link"><span class="m-2depth__wrap">Filler bán vĩnh cửu Artecoll</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_design.html" class="m-2depth__link"><span class="m-2depth__wrap">Filler Design</span></a></li>
						</ul>
						<ul class="m-2depth__list BNBG">
							<li class="m-2depth__item"><a href="../introduce/introduce_banobagi.html" class="m-2depth__link"><span class="m-2depth__wrap">Giới thiệu Banobagi</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">Giới thiệu đội ngũ Y bác sĩ</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">Hướng dẫn điều trị/ Đường đến</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_history.html" class="m-2depth__link"><span class="m-2depth__wrap">Lịch sử phát triển của Banobag</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_tour.html" class="m-2depth__link"><span class="m-2depth__wrap">Tham quan Banobagi</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">Banobagi ON AIR</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">Media</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Trao đổi công nghệ</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/society_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Cống hiến xã hội</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/star_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Sao viếng thăm</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/rapid.html" class="m-2depth__link"><span class="m-2depth__wrap">Liệu trình Rapid Healing</span></a></li>
							<li class="m-2depth__item"><a href="../program/program_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Chương trình tiến cử</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW">
							<li class="m-2depth__item"><a href="../review/index.html" class="m-2depth__link"><span class="m-2depth__wrap">Real Story</span></a></li>
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Câu chuyện thẩm mỹ</span></a></li>
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">Kho hình ảnh</span></a></li>

							<li class="m-review__item nth-1">
								<a href="https://rebreast.vnbanobagi.com" target="_blank" class="m-review__tit">rebreast</a>
							</li>
							<li class="m-review__item nth-2">
								<a href="https://elasticum.vnbanobagi.com" target="_blank" class="m-review__tit">elasticum</a>
							</li>
							<li class="m-review__item nth-3">
								<a href="https://motiva.vnbanobagi.com" target="_blank" class="m-review__tit">motiva</a>
							</li>
						</ul>
					</div><!-- //m-2depth -->
				</div>
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="Search" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link first" href="../search/search_result.html"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">4</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">5</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">6</span>눈성형</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__hour">시계 - 시</div>
									<div class="search-info__minute">시계 - 분</div>
									<div class="search-info__second">시계 - 시</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">진료안내</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">월 ~ 금</span>
												<span class="search-info__txt">09:30 ~ 18:30</span>
											</li>
											<!--<li class="search-info__item">
												<span class="search-info__txt">금요일</span>
												<span class="search-info__txt">09:30 ~ 20:00</span>
												<span class="search-info__txt type-night">야간진료</span>
											</li>-->
											<li class="search-info__item">
												<span class="search-info__txt">토요일</span>
												<span class="search-info__txt">09:30 ~ 16:00</span>
												<span class="search-info__txt type-block">(3/16, 4/20, 5/18, 6/15, 7/20 휴진)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">Tư vấn qua điện thoại</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:1588-6508">1588. 6508</a></li>
											<li class="search-info__item"><a class="search-info__link" href="tel:02-562-6001">02. 562. 6001</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>Tòa nhà Banobagi 517 Nonhyeon-Ro, Gangnam-gu, Seoul Korea</span>
								<em>.</em>
								<span>Đi thẳng 100m từ cửa số 6 ga Yeoksam line 2</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="../main/main.html" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">Xương Hàm Mặt</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">Thẩm mỹ Xương BANOBAGI</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">Xương góc hàm</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">Phẫu thuật gò má</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front.html" class="total__depth2-link">Phẫu thuật cằm trước</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_brow.html" class="total__depth2-link">Thẩm mỹ trán</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_bimaxillary.html" class="total__depth2-link">Hai hàm</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../contour/contour_bimaxillary.html" class="total__depth3-link">- Phẫu thuật hai hàm</a>
															</li>
															<li class="total__depth3-item">
																<a href="../contour/contour_case.html" class="total__depth3-link">- Hai hàm từng loại</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_protrusion.html" class="total__depth2-link">Phẫu thuật miệng hô</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_slimface.html" class="total__depth2-link">Loại bỏ mỡ thừa và nâng cơ mặt</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../body/body_detail.html" class="total__depth1-link">Cơ Thể</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">Thẩm mỹ Body Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">Hút mỡ toàn thân</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_partfat.html" class="total__depth2-link">Hút mỡ bộ phận</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_lifting.html" class="total__depth2-link">Căng da cơ thể</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_obesity.html" class="total__depth2-link">Quản lý và điều trị béo phì</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../chest/chest_detail.html" class="total__depth1-link">Ngực</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.html" class="total__depth2-link">Thẩm mỹ ngực Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">Thẩm mỹ nâng ngực</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">Phẫu thuật thu nhỏ ngực</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://motiva.vnbanobagi.com/chest2.php" class="total__depth2-link" target="_blank">Motiva</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">Mắt</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">Thẩm mỹ Mắt Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">Phẫu thuật mắt hai mí</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../eye/eye_double.html" class="total__depth3-link">- Bấm mí kép tự nhiên</a>
															</li>
															<li class="total__depth3-item">
																<a href="../eye/eye_incisional.html" class="total__depth3-link">- Cắt mí mắt</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">Điều chỉnh cơ mí</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">Mũi</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">Thẩm mỹ mũi Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">Thẩm mỹ mũi thấp</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">Phẫu thuật mũi các kiểu</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../nose/nose_casetype.html" class="total__depth3-link">- Phẫu thuật mũi các kiểu</a>
															</li>
															<li class="total__depth3-item">
																<a href="../nose/nose_reduction.html" class="total__depth3-link">- Phẫu thuật thu nhỏ mũi to</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">Trẻ hóa</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_detail.html" class="total__depth2-link">Thẩm mỹ trẻ hóa Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_elastic.html" class="total__depth2-link">Căng da Band đàn hồi</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">SVF</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">SVF Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">Cấy mỡ SVF</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">Nâng ngực SVF</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">Tái phẫu thuật</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">Tái phẫu thuật Detail Banobagi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">Tái phẫu thuật mũi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">Tái phẫu thuật mắt</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://rebreast.vnbanobagi.com/chest/chest1.php" class="total__depth2-link" target="_blank">Tái phẫu thuật ngực</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../hair/hair_detail.html" class="total__depth1-link">Cấy tóc</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../hair/hair_detail.html" class="total__depth2-link">Cấy tóc Detail Banobagi</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">Special</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">Detail Special Banobagi.</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">Filler bán vĩnh cửu Artecoll</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">Filler Design</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item" data-title-en="Face Contour">
							<a href="../contour/contour_detail.html" class="gnb__depth1-link">Xương Hàm Mặt</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2c0e43386e1.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1ae252898.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1 is-active"><a href="../contour/contour_detail.html" class="gnb__depth2-link">Thẩm mỹ Xương BANOBAGI</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">Xương góc hàm</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">Phẫu thuật gò má</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front.html" class="gnb__depth2-link">Phẫu thuật cằm trước</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_brow.html" class="gnb__depth2-link">Thẩm mỹ trán</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth">
												<a href="../contour/contour_bimaxillary.html" class="gnb__depth2-link">Hai hàm<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../contour/contour_bimaxillary.html" class="gnb__depth3-link">Phẫu thuật hai hàm</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../contour/contour_case.html" class="gnb__depth3-link">Hai hàm từng loại</a>
													</li>
												</ul>
											</li>
											<li class="gnb__depth2-item nth-1">
												<a href="../contour/contour_protrusion.html" class="gnb__depth2-link">Phẫu thuật miệng hô</a>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1">
												<a href="../contour/contour_slimface.html" class="gnb__depth2-link">Loại bỏ mỡ thừa và nâng cơ mặt</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 -->

						<li class="gnb__depth1-item">
							<a href="../body/body_detail.html" class="gnb__depth1-link">Cơ Thể</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d5cf17faf26a.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d5cf17faf795.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">Thẩm mỹ Body Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">Hút mỡ toàn thân</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_partfat.html" class="gnb__depth2-link">Hút mỡ bộ phận</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_lifting.html" class="gnb__depth2-link">Căng da cơ thể</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_obesity.html" class="gnb__depth2-link">Quản lý và điều trị béo phì</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바디 -->

						<li class="gnb__depth1-item">
							<a href="../chest/chest_detail.html" class="gnb__depth1-link">Ngực</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bd0c5deb31.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1af356346.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">Thẩm mỹ ngực Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">Thẩm mỹ nâng ngực</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">Phẫu thuật thu nhỏ ngực</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://motiva.vnbanobagi.com/chest2.php" class="gnb__depth2-link" target="_blank">Motiva</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //가슴 -->

						<li class="gnb__depth1-item">
							<a href="../eye/eye_detail.html" class="gnb__depth1-link">Mắt</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bcc9ce299f.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b06d4600.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_detail.html" class="gnb__depth2-link">Thẩm mỹ Mắt Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../eye/eye_double.html" class="gnb__depth2-link">Phẫu thuật mắt hai mí<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../eye/eye_double.html" class="gnb__depth3-link">Bấm mí kép tự nhiên</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../eye/eye_incisional.html" class="gnb__depth3-link">Cắt mí mắt</a>
													</li>
												</ul>
											</li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_correction.html" class="gnb__depth2-link">Điều chỉnh cơ mí</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //눈 -->

						<li class="gnb__depth1-item">
							<a href="../nose/nose_detail.html" class="gnb__depth1-link">Mũi</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="https://re.vnbanobagi.com/program/programIn_nose.php" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2c0dec2017d.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="https://re.vnbanobagi.com/program/programIn_nose.php" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1ac8bbd7e.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">Thẩm mỹ mũi Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">Thẩm mỹ mũi thấp</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">Phẫu thuật mũi các kiểu<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../nose/nose_casetype.html" class="gnb__depth3-link">Phẫu thuật mũi các kiểu</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../nose/nose_reduction.html" class="gnb__depth3-link">Phẫu thuật thu nhỏ mũi to</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //코 -->

						<li class="gnb__depth1-item">
							<a href="../wrinkle/wrinkle_detail.html" class="gnb__depth1-link">Trẻ hóa</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="http://elasticum.vnbanobagi.com/" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2c0de3590f9.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="http://elasticum.vnbanobagi.com/" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b1471f5e.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">Thẩm mỹ trẻ hóa Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_elastic.html" class="gnb__depth2-link">Căng da Band đàn hồi</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //동안 -->

						<li class="gnb__depth1-item">
							<a href="../svf/svf_detail.html" class="gnb__depth1-link">SVF</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bc82f16917.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b1f386fc.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">SVF Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">Cấy mỡ SVF</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">Nâng ngực SVF</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //줄기세포 -->

						<li class="gnb__depth1-item">
							<a href="../reoperation/reoperation_detail.html" class="gnb__depth1-link">Tái phẫu thuật</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="http://rebreast.vnbanobagi.com/#section1" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bc85a01614.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="http://rebreast.vnbanobagi.com/#section1" target="_blank"><img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b25b6fb5.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">Tái phẫu thuật Detail Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">Tái phẫu thuật mũi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">Tái phẫu thuật mắt</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://rebreast.vnbanobagi.com/chest/chest1.php" class="gnb__depth2-link" target="_blank">Tái phẫu thuật ngực</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //재수술 -->

						<li class="gnb__depth1-item">
							<a href="../hair/hair_detail.html" class="gnb__depth1-link">Cấy tóc</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bc8cd3024e.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b2d6bbaa.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">Cấy tóc Detail Banobagi</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모발이식 -->

						<li class="gnb__depth1-item">
							<a href="../special/special_detail.html" class="gnb__depth1-link">Special</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5d2bca3fe3c47.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5d2c1b34cacb6.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_detail.html" class="gnb__depth2-link">Detail Special Banobagi.</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">Filler bán vĩnh cửu Artecoll</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">Filler Design</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //스페셜 -->

						<li class="gnb__depth1-item type-bano type-another">
							<a href="../introduce/introduce_banobagi.html" class="gnb__depth1-link">BANOBAGI</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5aaa23f21d655.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5aaa23f21db33.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">Giới thiệu Banobagi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">Giới thiệu đội ngũ Y bác sĩ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">Hướng dẫn điều trị/ Đường đến</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">Lịch sử phát triển của Banobag</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html" class="gnb__depth2-link">Tham quan Banobagi</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth">
												<a href="../introduce/news_list.html" class="gnb__depth2-link">Banobagi ON AIR<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../introduce/news_list.html" class="gnb__depth3-link">News</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../introduce/media.html" class="gnb__depth3-link">Media</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">Trao đổi công nghệ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">Cống hiến xã hội</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/star_list.html" class="gnb__depth2-link">Sao viếng thăm</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">Liệu trình Rapid Healing</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../program/program_list.html" class="gnb__depth2-link">Chương trình tiến cử</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->

						<li class="gnb__depth1-item type-review type-another">
							<a href="../review/epilogue_list.html" class="gnb__depth1-link">Review</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/full_5aaa23ff854c9.jpg" alt="">
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<img src="https://www.vnbanobagi.com/upload/gnbpick/1800_5aaa23ff85a03.jpg" alt="">
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/index.html" class="gnb__depth2-link">Real Story</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">Câu chuyện thẩm mỹ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">Kho hình ảnh</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2">
											<div class="gnb-review">
												<ul class="gnb-review__list">
													<li class="gnb-review__item">
														<img src="/images/common/gnb/review_icon1.png" alt="">
														<p class="gnb-review__tit">rebreast</p>
														<a href="http://rebreast.vnbanobagi.com" class="gnb-review__link" target="_blank">rebreast</a>
													</li>
													<li class="gnb-review__item">
														<img src="/images/common/gnb/review_icon2.png" alt="">
														<p class="gnb-review__tit">elasticum</p>
														<a href="http://elasticum.vnbanobagi.com" class="gnb-review__link" target="_blank">elasticum</a>
													</li>
													<li class="gnb-review__item">
														<img src="/images/common/gnb/review_icon3.png" alt="">
														<p class="gnb-review__tit">motiva</p>
														<a href="http://motiva.vnbanobagi.com" class="gnb-review__link" target="_blank">motiva</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">Banobagi</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">Review</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<!-- <li class="snb__item type-login">
							<a href="" class="snb__link1 js-login-open"><span class="snb__border">로그인</span></a>
						</li> -->
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">Consultation</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-9"><a href="http://www.indonesiabanobagi.com" target="_blank" class="global__link">ID</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" loading="lazy" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">1</span>렛미인성형외과</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">2</span>셀카리얼후기</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">3</span>눈성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">4</span>코성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">5</span>안면윤곽</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">6</span>가슴성형</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>눈성형 디테일</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>모티바 재수술</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>1year 안면윤곽 컨설팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>비절개 탄력밴드 리프팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>복합 콧볼축소</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>비절골 안면윤곽</a></li>
					</ul>
				</div>
			</div><!-- header-search -->

			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" alt="상담신청" class="hidden-pt">
					</div>
					<a href="../../program" class="quick-menu__link">바로가기</a>
				</li>
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
