<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close js-c-close">close</a>
		<h1 class="popup-c__tit">Nhận tư vấn ngay</h1>
		<ul class="popup-c__list">
			<li class="popup-c__item nth-1 is-active"><a href="#" class="popup-c__link" data-tab="Zalo"><span class="popup-c__icon">Zalo</span></a></li>
			<li class="popup-c__item nth-2"><a href="#" class="popup-c__link" data-tab="Facebook"><span class="popup-c__icon">Facebook</span></a></li>
			<li class="popup-c__item nth-3"><a href="#" class="popup-c__link" data-tab="Viber"><span class="popup-c__icon">Viber</span></a></li>
		</ul>
		<!-- Zalo -->
		<div class="popup-c__content Zalo is-active">
			<div class="consultation">
				<h3 class="consultation__tit nth-1">Hãy kết bạn với Banobagi</h3>
				<p class="consultation__num nth-1"><a href="tel:+82-10-8708-6508" class="consultation__tel">+82)10 8708 6508</a></p>
				<p class="consultation__txt">
					Bạn hãy thêm ID trên làm bạn trên Zalo
				</p>
			</div>
		</div>
		<!-- //call -->
		<!-- Facebook -->
		<div class="popup-c__content Facebook">
			<div class="consultation">
				<h3 class="consultation__tit nth-2">Banobagi Facebook
					<a href="https://www.facebook.com/VNbanobagi" class="consultation__link" target="_blank">facebook</a>
				</h3>
			</div>
		</div>
		<!-- //WhatsApp -->
		<!-- Viber -->
		<div class="popup-c__content Viber">
			<div class="consultation">
				<h3 class="consultation__tit nth-3">Viber Messenger</h3>
			</div>
		</div>
		<!-- //Email -->
		<div class="consultation-info">
			<ul class="consultation-info__list">
				<li class="consultation-info__item type-time">
					<p class="consultation-info__date">
						<strong class="consultation-info__day">Thứ 2 ~ thứ 6</strong>
						<span class="consultation-info__time">09.30 - 18.30</span>
					</p>
					<!--<p class="consultation-info__date">
						<strong class="consultation-info__day">Fri</strong>
						<span class="consultation-info__time">09.30 - 20.00</span>
						<span class="consultation-info__night">Evening</span>
					</p>-->
					<p class="consultation-info__date">
						<strong class="consultation-info__day">Thứ 7</strong>
						<span class="consultation-info__time">09.30 - 16.00<span class="inline-block">(16/3, 20/4, 18/5, 15/6, 20/7 Nghỉ)</span></span>
					</p>
				</li>
				<li class="consultation-info__item type-location">
					<p class="consultation-info__tit">517, Nonhyeon-ro, Gangnam-gu, Seoul, Korea</p>
					<p class="consultation-info__txt">
						Sử dụng tàu điện ngầm line 2 đến ga Yeoksam,<br>
						 ra lối ra Exit 6, đi thẳng 100 mét
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//popup끝-->
