<%
	type = "sitemap"
	page = "sitemap"
%>
<% include ../_include/_header %>

<div class="container">
	<div class="container__top">
		<h2 class="container__tit">SITEMAP</h2>
	</div>

	<div class="container__wrap type-sitemap">
    	<div class="guidance">
			<dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">윤곽</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="..../contour/contour_detail.html" class="index__name general__txt1">바노바기 윤곽성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="..../contour/contour_square.html" class="index__name general__txt1">사각턱</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_cheek.html" class="index__name general__txt1">광대수술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">턱 대표수술</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../contour/contour_front.html" class="index__name--link general__txt2">앞턱수술</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../contour/contour_man.html" class="index__name--link general__txt2">옴므 안면윤곽</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_elastic.html" class="index__name general__txt1">안면윤곽 탄력밴드</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">보형물 안면윤곽</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../contour/contour_brow.html" class="index__name--link general__txt2">이마성형</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../contour/contour_grace.html" class="index__name--link general__txt2">귀족성형</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../contour/contour_radish.html" class="index__name--link general__txt2">턱끝교정</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_bimaxillary.html" class="index__name general__txt1">바노바기 양악수술 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">유형별 양악수술</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../contour/contour_asymmetry.html" class="index__name--link general__txt2">비대칭얼굴</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../contour/contour_long_face.html" class="index__name--link general__txt2">긴얼굴교정</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_protrusion.html" class="index__name general__txt1">바노바기 돌출입 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/program/bnbg_program_protrusion.php" class="index__name general__txt1" target="_blank">돌출입 수술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">수술 후 관리 시스템</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../contour/contour_elastone.html" class="index__name--link general__txt2">엘라스톤테라피</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../contour/contour_care.html" class="index__name--link general__txt2">윤곽양악 집중케어</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">바디</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_detail.html" class="index__name general__txt1">바노바기 바디성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_fat.html" class="index__name general__txt1">전신지방흡입</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_partfat.html" class="index__name general__txt1">부위별 지방 흡입</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_dual.html" class="index__name general__txt1">듀얼슬림</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_lifting.html" class="index__name general__txt1">바디 리프팅</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">가슴</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_detail.html" class="index__name general__txt1">바노바기 가슴성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_extension.html" class="index__name general__txt1">가슴확대술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_reduction.html" class="index__name general__txt1">가슴축소술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://motiva.banobagi.com/chest2.php" class="index__name general__txt1" target="_blank">모티바</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/program/bnbg_program_mygel.php" class="index__name general__txt1" target="_blank">마이젤</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">눈</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_detail.html" class="index__name general__txt1">바노바기 눈성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">쌍꺼풀 수술</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../eye/eye_double.html" class="index__name--link general__txt2">비절개 자연유착 쌍꺼풀</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../eye/eye_incisional.html" class="index__name--link general__txt2">절개쌍꺼풀</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_middle_age.html" class="index__name general__txt1">상안검</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_lower.html" class="index__name general__txt1">하안검</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_correction.html" class="index__name general__txt1">눈매교정</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/program/bnbg_program_relocation.php" class="index__name general__txt1" target="_blank">눈밑지방재배치</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_opening.html" class="index__name general__txt1">트임성형</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_man.html" class="index__name general__txt1">남자 쌍꺼풀</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_non_sleep.html" class="index__name general__txt1">비수면 최소통 마취</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">코</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_detail.html" class="index__name general__txt1">바노바기 코성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_low.html" class="index__name general__txt1">낮은 코</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_casetype.html" class="index__name general__txt1">유형별 코성형</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_reduction.html" class="index__name general__txt1">큰코축소술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_apex.html" class="index__name general__txt1">코끝성형</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_scaling.html" class="index__name general__txt1">코이물질제거술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/program/bnbg_program_manNose.php" class="index__name general__txt1" target="_blank">남자코성형</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/program/bnbg_program_curve.php" class="index__name general__txt1" target="_blank">휜코성형</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">동안</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../wrinkle/wrinkle_detail.html" class="index__name general__txt1">바노바기 동안성형 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://elasticum.banobagi.com/elasticum02.php" class="index__name general__txt1" target="_blank">탄력밴드리프팅</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">줄기세포</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/svf_detail.html" class="index__name general__txt1">바노바기 줄기세포 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/cell_transplant.html" class="index__name general__txt1">줄기세포 지방이식</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/svf_chest_extension.html" class="index__name general__txt1">줄기세포 가슴확대</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">재수술</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_detail.html" class="index__name general__txt1">바노바기 재수술 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_nose.html" class="index__name general__txt1">코 재수술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_eye.html" class="index__name general__txt1">눈재수술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://rebreast.banobagi.com/chest/chest1.php" class="index__name general__txt1" target="_blank">가슴재수술</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_face.html" class="index__name general__txt1">윤곽 재수술</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">스페셜</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_detail.html" class="index__name general__txt1">바노바기 스페셜 디테일</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_artecoll.html" class="index__name general__txt1">반영구필러 아테콜</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_design.html" class="index__name general__txt1">디자인필러</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_casefiller.html" class="index__name general__txt1">부위별필러</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_cranium.html" class="index__name general__txt1">두상 성형</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">바노바기</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_banobagi.html" class="index__name general__txt1">바노바기소개</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_medical.html" class="index__name general__txt1">의료진소개</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_map.html" class="index__name general__txt1">진료안내/오시는길</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_history.html" class="index__name general__txt1">바노바기연혁</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_tour.html" class="index__name general__txt1">바노바기 둘러보기</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">언론속의 바노바기</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../introduce/news_list.html" class="index__name--link general__txt2">News</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../introduce/media.html" class="index__name--link general__txt2">Media</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_live.html" class="index__name general__txt1">바노바기 LIVE</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/academic_list.html" class="index__name general__txt1">학술교류</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/society_list.html" class="index__name general__txt1">사회공헌</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_knowledge.html" class="index__name general__txt1">수술 후 주의사항</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/rapid.html" class="index__name general__txt1">래피드힐링 - 셀프케어</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../program/program_list.html" class="index__name general__txt1">추천 프로그램</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">REVIEW</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="https://www.banobagi.com/review/index.php" class="index__name general__txt1">리얼스토리</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../review/epilogue_list.html" class="index__name general__txt1">톡톡튀는 리얼후기</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../review/photo_gallery.html" class="index__name general__txt1">포토갤러리</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
    	</div>
	</div>
</div> <!-- //container -->

<% include ../_include/_footer %>
