<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-bimaxillary">
		<div class="new-visual type-bimaxillary">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Chỉnh hình khớp cắn an toàn và đơn giản tiện lợi hơn</p>
						<h3 class="new-visual__tit">Phẫu thuật <span class="n-color-contour2 inline-block">Hai hàm</span></h3>
						<p class="new-visual__txt">
							Hồi phục chức năng hàm đồng
							<span class="inline-block">thời tạo ra khuôn mặt nhỏ và thanh tú</span>
						</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Cải thiện chức năng hàm</span></li>
							<li class="new-visual__item"><span>#Cải thiện diện mạo</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-bimaxillary">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Phẫu thuật hai hàm là <span class="n-color-contour2">phẫu thuật chỉnh sửa cấu trúc của hàm</span>.
					</h4>
					<p class="new-style1__txt txt-new1">
						Nếu khớp cắn giữa hàm trên và hàm dưới không đúng thì bạn sẽ không thể nhai thức ăn tốt hoặc sẽ gặp những điều khó chịu hàng ngày như phát âm ngọng khi nói. Và việc sử dụng nhiều lần các cơ bất thường có thể dẫn đến các vấn đề về sức khỏe như tăng tốc độ bất cân đối trên khuôn mặt hoặc tăng tổn thương khớp hàm. Phẫu thuật hai hàm được
						<span class="color-black1">phát minh ra để cải thiện vấn đề khớp cắn</span> của hai hàm này.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Phẫu thuật hai hàm là phẫu thuật cắt và di chuyển xương cằm nên có
						<span class="n-color-contour2">ưu điểm là có thể áp dụng cho hầu hết các loại vấn đề về hàm</span> như hàm hô hay hàm bị thụt vào bên trong, xương hàm không cân xứng làm cho hàm bị lệch, v.v..
					</p>
                    <p class="new-style1__txt txt-new1">
						Ngoài ra, nếu cấu trúc của hàm được điều chỉnh thông qua phẫu thuật hai hàm thì bạn cũng có thể hy vọng vào kết quả cải thiện ngoại hình. Gần đây, phẫu thuật phát triển giúp bạn có thể hướng tới một khuôn mặt nhỏ nhắn và thanh tú song song với việc cải thiện chức năng cằm.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-bimaxillary2">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">Đối tượng phẫu thuật hai hàm điển hình</h5>

							<ul class="img-style1__list type-half">
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_2.jpg" class="img-w100" loading="lazy" alt="Trường hợp khuôn mặt bị vẹo không cân xứng"/>
                                    <h6 class="img-style1__subject txt-new1">Trường hợp khuôn mặt bị vẹo không cân xứng</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_3.jpg" class="img-w100" loading="lazy" alt="Trường hợp cằm phát triển làm cho khuôn mặt dài hoặc trở thành cằm lưỡi cày"/>
                                    <h6 class="img-style1__subject txt-new1">Trường hợp cằm phát triển làm cho khuôn mặt dài hoặc trở thành cằm lưỡi cày</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_4.jpg" class="img-w100" loading="lazy" alt="Trường hợp miệng bị nhô ra toàn bộ hoặc cằm quay ngược vào"/>
                                    <h6 class="img-style1__subject txt-new1">Trường hợp miệng bị nhô ra toàn bộ hoặc cằm quay ngược vào</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_5.jpg" class="img-w100" loading="lazy" alt="Trường hợp lợi hở ra quá mức khi cười"/>
                                    <h6 class="img-style1__subject txt-new1">Trường hợp lợi hở ra quá mức khi cười</h6>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Ngay cả khi xương hàm thay đổi, <span class="n-color-contour3">sự cân đối và biểu cảm của khuôn mặt vẫn phải tự nhiên</span>.
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        Phẫu thuật hai hàm là phẫu thuật phức tạp do phải cắt và di chuyển xương vốn có. Do đó, trong phẫu thuật đòi hỏi phải có thiết kế tỉ mỉ và đầy đủ kỹ năng.
						<span class="color-white">Kể từ khi thành lập vào năm 2000, Banobagi đã thành lập đội chuyên gia phẫu thuật thẩm mỹ đường viền khuôn mặt và đã tích lũy được kinh nghiệm cũng như bí quyết về phẫu thuật hai hàm.</span>
						Thông qua chẩn đoán và tư vấn chuyên sâu dựa vào máy đo CT chính xác khuôn mặt 3D trước khi phẫu thuật, các chuyên gia có thể nắm được cấu trúc của hai hàm, cơ biểu cảm của khuôn mặt và tiến hành phẫu thuật một cách an toàn và chính xác hơn thông qua sự hợp tác với bác sỹ Khoa gây mê, bác sỹ Khoa phẫu thuật răng hàm mặt. Do đó, <span class="color-white">có rất ít tác dụng phụ như tổn thương thần kinh hoặc hai hàm bị lệch và có thể thực hiện phẫu thuật hai hàm tự nhiên để cân bằng toàn bộ khuôn mặt và biểu cảm trên khuôn mặt sau phẫu thuật. </span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_6.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">
								Phẫu thuật hai hàm tại Banobagi xem xét đến sự cân bằng và biểu hiện của toàn bộ khuôn mặt.
							</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_7.jpg" loading="lazy" alt="Kinh nghiệm và bí quyết phẫu thuật hai hàm lâu năm" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">Kinh nghiệm và bí quyết phẫu thuật hai hàm lâu năm</h6>
												<p class="img-style6__txt2 txt-new1">Cải thiện và duy trì khớp cắn gần như hoàn hảo</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_8.jpg" loading="lazy" alt="Chẩn đoán và tư vấn chuyên sâu với dụng cụ đo chính xác CT khuôn mặt 3D" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													Chẩn đoán và tư vấn chuyên sâu
													với dụng cụ đo chính xác CT khuôn mặt 3D
												</h6>
												<p class="img-style6__txt2 txt-new1">Biểu hiện tự nhiên và sự cân đối của khuôn mặt</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_9.jpg" loading="lazy" alt="Hợp tác với bác sĩ Khoa gây mê + bác sĩ Khoa phẫu thuật miệng-hàm mặt, v.v." class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													Hợp tác với bác sĩ Khoa gây mê + bác sĩ Khoa phẫu thuật răng hàm mặt, v.v.
												</h6>
												<p class="img-style6__txt2 txt-new1">Hầu như không có tác dụng phụ sau phẫu thuật</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        Phẫu thuật hai hàm Banobagi <span class="n-color-contour2">không cần phải phẫu thuật tháo ghim kẹp lần 2.</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						Banobagi không bằng lòng với kinh nghiệm và bí quyết phẫu thuật hai hàm đã tích lũy mà không ngừng nghiên cứu để tạo ra kết quả tốt hơn nữa nhằm giảm bớt gánh nặng cho bệnh nhân và ít khả năng xảy ra tác dụng phụ. Vì vậy, chúng tôi đã nghĩ đến phương án cố định xương bằng cách sử dụng <span class="n-color-contour2">* Osteotrans</span>.<br><br>

						Vì phẫu thuật hai hàm là phẫu thuật cắt và di chuyển xương cằm nên cần phải sử dụng nẹp (Plate) và kẹp (Pin) để cố định xương cằm.
						<span class="color-black1">Trong phẫu thuật hai hàm trước đây đã sử dụng vật liệu là kim loại nguyên chất như thép không gỉ hoặc Titan.</span>
						Do đó, khi các xương được di chuyển đã được cố định phần nào sau phẫu thuật thì cần phải thực hiện phẫu thuật thêm để tháo kẹp (Pin). <br><br>

						<span class="n-color-contour2">* Osteotrans</span> mà Banobagi sử dụng là vật liệu có tính tương thích sinh học và được kết hợp bởi cao phân tử tổng hợp và thành phần xương nên có độ vững chắc gần giống với Titan và có đặc điểm là có thể hấp thụ vào xương theo thời gian.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Vì lý do đó, phẫu thuật cằm trở nên ổn định hơn và có ưu điểm là không để lại dấu tích gì khi chụp X-quang hoặc CT.
                        <span class="n-color-contour2">Ngoài ra, vì không cần phẫu thuật tháo kẹp (Pin) lần 2 nên bệnh nhận không phải mất thêm thời gian và chi phí phát sinh cho phẫu thuật bổ sung.</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_10.jpg" loading="lazy" alt="model" class="img-normal">
					</div>

					<div class="inner-box type-bimaxillary">
						<div class="inner-stripe type-line-zero type-cling">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/bimaxillary/bimaxillary_img_11.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour3">* Osteotrans</p>
										<p class="inner-stripe__txt txt-new1">
											Osteotrans là vật liệu được cấp các loại chứng nhận an toàn như FDA, KFDA, v.v. và được tạo nên bởi hỗn hợp cao phân tử tổng hợp (PLLA) và canxi phosphat (hydroxyapatite). Nó có độ vững chắc tương đương với Titan và có đặc tính là có thể hấp thụ vào xương đã trở nên yếu sau phẫu thuật để giúp hình thành xương, đồng thời tăng cường sức mạnh cho xương nên được sử dụng rất hiệu quả trong phẫu thuật điều chỉnh xương.
										</p>
									</div>
								</li>
							</ul>
						</div><!--//inner-stripe-->
					</div><!-- //inner-box -->

					<div class="inner-box">
						<div class="compare3">
							<h5 class="new-content-tit tit-new2">So sánh việc cố định bằng Titan trước đây và việc cố định bằng Osteotrans của Banobagi</h5>

							<div class="compare3__wrap">
								<div class="compare3__box type-before">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_12.jpg" loading="lazy" alt="" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">Không hấp thụ (Titan)</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Cần phải phẫu thuật tháo kẹp (pin) lần 2
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Cố định tương đối mạnh
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Để lại dấu tích khi chụp CT, X-quang
											</div>
										</li>
									</ul>
								</div>

								<div class="compare3__box type-after">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_13.jpg" loading="lazy" alt="" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">Hấp thụ (Osteotrans)</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Không cần phẫu thuật tháo kẹp (pin) lần 2: Giảm đau đớn, gánh nặng chi phí và thời gian cho phẫu thuật lần 2
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Hiệu quả tăng thêm do cố định tương đối vững chắc và được hấp thụ vào xương: Hầu như không có tác dụng phụ
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												Hầu như không để lại dấu tích khi chụp CT, X-quang: Tăng sự tự tin
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div><!-- //compare3 -->
					</div><!-- //inner-box -->
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Việc cố định giữa hai xương hàm kèm theo nhiều bất tiện khác nhau, điều này sẽ
						<span class="n-color-contour2">không có tại Banobagi.</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        Cố định giữa hai xương hàm là nói đến việc cố định răng trên và răng dưới với nhau để vị trí của hàm trên và hàm dưới đã di chuyển không bị xê dịch và luôn được duy trì đúng chỗ. Phẫu thuật hai hàm trước đây cần phải có quá trình này sau phẫu thuật. Quá trình này khác với mỗi người nhưng cần một khoảng thời gian là 3 tuần trở lên và trong thời gian đó, bệnh nhân phải chịu đựng những bất tiện trong hô hấp cơ bản, ăn uống, trò chuyện, vệ sinh sạch sẽ, v.v.. Đặc biệt, sự bất tiện về hô hấp cùng với sự khó chịu về mặt tâm lý và đường thở không được đảm bảo có thể gây ra tai nạn.
                    </p>
					<p class="new-style1__txt2 txt-new2">
						Nhưng Banobagi <span class="n-color-contour2">không cố định giữa hai xương hàm</span> sau phẫu thuật.
					</p>
					<p class="new-style1__txt txt-new1">
                        Bởi vì, thông qua tính toán chính xác, các chuyên gia có thể di chuyển hàm trên và hàm dưới sang đúng vị trí, giúp chúng ổn định tại chỗ đó một cách tự nhiên mà không cần cố định giữa hai xương hàm. Do vậy, phẫu thuật hai hàm của <span class="color-black1">Banobagi ít gánh nặng hơn về vấn đề cố định giữa hai xương hàm và thời gian hồi phục cũng nhanh hơn.</span>
                    </p>

					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_14.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit tit-new2">Điều gì sẽ tốt hơn nếu không cố định giữa hai xương hàm?</h5>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_15.png" loading="lazy" alt="Tương đối thoải mái" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">Tương đối thoải mái</h6>
										<p class="new-stripe__txt2 txt-new1">
											Việc trò chuyện hay ăn uống không bị hạn chế nên có thể tập trung vào quá trình hồi phục một cách thoải mái hơn.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_16.png" loading="lazy" alt="An toàn hơn" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">An toàn hơn</h6>
										<p class="new-stripe__txt2 txt-new1">
											Sau phẫu thuật, miệng và mũi bị sưng lên, nhưng nếu thực hiện cố định giữa hai xương hàm thì rất khó để đảm bảo đường thở. Nếu không cố định giữa hai xương hàm thì hô hấp trở nên dễ dàng hơn, giúp cho khả năng hồi phục an toàn hơn.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_17.png" loading="lazy" alt="Giảm khả năng viêm và nhiễm trùng" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">Giảm khả năng viêm và nhiễm trùng</h6>
										<p class="new-stripe__txt2 txt-new1">
											Vì nếu không cố định giữa hai xương hàm thì có thể duy trì vệ sinh răng miệng sạch sẽ nên khả năng viêm và nhiễm trùng sẽ giảm.
										</p>
									</div>
								</li>
							</ul>

							<p class="new-stripe__txt3 txt-new2">
								Phương pháp không cố định giữa hai xương hàm có rất nhiều ưu điểm nhưng không thể áp dụng vô điều kiện với tất cả các bệnh nhân. Cũng có trường hợp cần phải cố định giữa hai xương hàm tùy thuộc vào khung xương và khớp cắn trước phẫu thuật, lượng di chuyển xương trong phẫu thuật, mức độ thích ứng của khớp cắn và tổ chức liên kết sau phẫu thuật. Tuy nhiên,
								<span class="n-color-contour2">ở Banobagi, chúng tôi đang nỗ lực để giảm bớt sự bất tiện của bệnh nhân bằng cách giảm thời gian cố định giữa hai xương hàm.</span>
							</p>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Kết quả hài lòng, hồi phục nhanh và
                        <span class="n-color-contour3">quản lý hậu phẫu là trọng tâm.</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        Dù có chỉnh xương cằm tốt thế nào đi nữa thì cái mà mọi người nhìn trực diện lại là da và vẻ biểu hiện được nhìn từ bên ngoài. Vì vậy, trong kết quả cuối cùng của phẫu thuật hai hàm, sự biến đổi về cơ và da cũng rất quan trọng. Đặc biệt, phẫu thuật hai hàm là sự kết hợp bởi rạch mổ và cắt xương làm cho hiện tượng sưng tấy trở nên nghiêm trọng nên nếu bị sưng tấy lâu sẽ dẫn đến chảy xệ da.
						<span class="color-white">Vì vậy, phẫu thuật cằm thành công và việc quản lý hồi phục, sưng tấy có ảnh hưởng rất lớn đến kết quả.</span>
						Banobagi đã phẫu thuật dựa trên lâm sàng và kinh nghiệm đa dạng, có bí quyết quản lý hậu phẫu một cách hệ thống. Chúng tôi có bản hướng dẫn điều trị sau phẫu thuật phù hợp với từng tính huống và giai đoạn, đồng thời tiến hành quản lý chuyên sâu sử dụng máy móc như <span class="color-white">*Elastone Therapy.</span> Cải thiện vẻ ngoài tự nhiên và hình dạng khuôn mặt một cách hiệu quả hơn chính là điều mang lại sự tự tin cho Banobagi.
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit tit-new2">Elastone Therapy</h5>
							<p class="new-stripe__txt txt-new1">
								Là phương pháp điều trị có thể mang lại hiệu quả đàn hồi da cũng như giảm sưng tấy, tăng khả năng miễn dịch bằng cách sử dụng sóng siêu âm, trị liệu bằng đá, tần số cao, v.v.. Nó có tác dụng vượt trội trong quản lý sau phẫu thuật đường viền khuôn mặt như phẫu thuật hàm vuông hoặc gò má, phẫu thuật cằm, v.v..
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="Thiết bị sóng siêu âm" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Thiết bị sóng siêu âm</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Nếu rung động cực nhỏ của sóng siêu âm gặp da và cơ thể thì sẽ tạo nên sự giãn nở mạch máu và lưu lượng máu tăng lên bởi rung động và nhiệt. Điều này giúp lưu thông máu và bạch huyết và giảm sưng tấy nhanh hơn.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="Stone Therapy (Liệu pháp đá)" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Stone Therapy (Liệu pháp đá)</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Đây là liệu pháp nhiệt sử dụng đá thiên nhiên được làm nóng để tăng khả năng miễn dịch và giúp thư giãn các dây thần kinh bị căng thẳng và cơ bắp bị cứng lại. Nó làm cho tuần hoàn máu tốt hơn, làm sạch độc tố và chất thải trong cơ thể tương đối nhanh chóng, và có tác dụng chống phù nề tuyệt vời.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="Thiết bị tần số cao (RF)" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Thiết bị tần số cao (RF)</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Thiết bị này truyền tần số cao tới các tổ chức sâu để tạo nhiệt sâu. Nhiệt sâu kích thích collagen của lớp trung bì và tăng cường chức năng của các tế bào, đồng thời đem đến hiệu quả đàn hồi do giúp thúc đẩy lưu thông máu và trao đổi chất.
										</p>
									</div>
								</li>
							</ul>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng - 4 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 - 4 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Trong quá trình hết thuốc gây mê có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
									Khi cắt chỉ hoặc khử trừng vết khâu sẽ đau nhói một chút.<br>
									Triệu chứng đau và viêm do sưng tấy và cảm giác bị căng kéo có thể được giảm bớt bằng thuốc giảm đau theo đơn kê và việc chườm lạnh cũng rất hữu ích.<br>
									Do không cố định giữa hai xương hàm nên không có bất tiện nào lớn.<br>
									Có thể kiểm soát cơn đau và sự phù nề thông qua chăm sóc hậu phẫu một cách có hệ thống và liên tục.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
