<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="contour detail-common" data-video="true">
    <section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					Xương <span class="color-contour0">&middot;</span>Cơ <span class="color-contour0">&middot;</span>Mỡ <span class="color-contour0">&middot;</span>Da <span class="color-contour0 detail__first-piece type-contour">Bằng phương pháp tiếp cận đa chiều</span>
				</p>
				<h3 class="detail__first-txt type-contour">
					<span class="detail__first-bwrap">Tạo nên vẻ đẹp tự nhiên<b class="detail__first-bar type-contour"></b></span><br>
					<strong class="detail__first-point">Chi tiết (Detail) <span class="color-contour1">Thẩm mỹ Gương mặt</span> Banobagi<span class="color-contour1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ Gương mặt</strong><span class="color-comma">,</span>
						<strong class="color-contour2">Phương pháp thẩm mỹ của</strong>
						Banobagi
	              	</h4>
	              	<p class="detail__section-subtit">Không phải xương mà là hình dáng gương mặt</p>
	              	<p class="detail__section-txt color-contour3">
						Mục đích của phẫu thuật Gương mặt không phải là xương mà là tạo vẻ đẹp của đường nét và tỉ lệ khuôn mặt khi nhìn từ góc độ bên ngoài. Vì thế việc tính toán sự thay đổi của da và cơ cũng quan trọng như sự thay đổi của cấu trúc xương. Banobagi phân tích và nắm bắt một cách chính xác cơ mặt, chất béo và da để hoàn thiện gương mặt đẹp, nhỏ nhắn và tự nhiên.
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wide type-down type-contour type-another">
				  	<h4 class="detail__section-tit">
						Thẩm  mỹ Gương mặt,
						Sự <strong class="color-contour4">ứng dụng</strong> của
						Banobagi
				  	</h4>
				  	<p class="detail__section-subtit">Hình dáng khuôn mặt đẹp đi đôi cùng sự chống lão hóa</p>
				  	<p class="detail__section-txt">
					  	Việc cắt xương, nâng phần chảy xệ hay việc giảm chất béo ở gương mặt đều là phương pháp cải thiện đường nét xương khuôn mặt . Banobagi đã kết hợp lại 3 yếu tố trên.
					  	<span class="color-contour5">Phẫu thuật Gương mặt ứng dụng Elasticum giúp nâng cơ và Accusculpt giúp loại bỏ chất béo mang lại độ đàn hồi cho da.</span>
					  	Biểu đồ phẫu thuật Gương mặt Banobagi.
				  	</p>
			  	</div>
			  	<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Phẫu thuật hàm<br> Ella Sculpt</h5>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Xương hàm mặt</h5>
								<p class="diagram__txt">
									Không chảy xệ,<br>
									khuôn mặt V-line<br>
									có độ đàn hồi cao
								</p>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Elasticum</h5>
								<p class="diagram__txt">
									Nâng cơ bằng<br>
									Band đàn hồi
								</p>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Accusculpt</h5>
								<p class="diagram__txt">
									Loại bỏ chất béo,<br> chỉnh dáng gương mặt,<br> tăng độ đàn hồi
								</p>
							</div>
						</li>
					</ul>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Quy trình phẫu thuật đầy hệ thống của Banobagi</h5>
					<p class="detail__popup-subtit">Sự chuẩn bị hệ thống có tính toán, nâng cao độ hoàn thiện của thẩm mỹ xương hàm mặt</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Máy chụp CT các lớp xương hàm mặt</h6>
								<p class="detail__popup-txt">
									Máy chụp các lớp 3D chuyên dụng: phân tích xương mặt, đo lường chất xương, dự đoán chính xác về kết quả phẫu thuật
								</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Hệ thống kiểm tra sức khỏe toàn diện</h6>
								<p class="detail__popup-txt">Kiểm tra chi  tiết tình trạng cơ thể của bệnh nhân, đảm bảo các thủ tục phẫu thuật an toàn và chuyên nghiệp</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Tư vấn kỹ lưỡng trước phẫu thuật</h6>
								<p class="detail__popup-txt">Phân tích chuyên môn mang lại kết quả phẫu thuật cao</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-contour">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Gương mặt</strong><span class="color-comma">,</span>
							<span class="color-contour6">Nút thắt đầu tiên</span>
							Vô cùng quan trọng
						</h4>
						<p class="detail__section-subtit">Sự chuẩn bị đầy đủ hệ thống trang thiết bị tiên tiến nhất và sự tư vấn kỹ lưỡng trước phẫu thuật</p>
						<p class="detail__section-txt color-contour3">
							Khuôn mặt mang tính lập thể. Vì thế thẩm mỹ Gương mặt Banobagi tiến hành dựa trên tổng hợp các dữ liệu khách quan và sự hiểu biết về hình dáng của khuôn mặt từ nhiều góc độ. Y bác sĩ bắt đầu phân tích giải phẫu từng tầng gương mặt để tạo vẻ đẹp biểu cảm, nét mặt tự nhiên. Banobagi tận tâm từ việc tạo nên cấu trúc gương mặt mang lại nét đẹp cả khi nói chuyện và cười”.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
				Quy trình phẫu thuật đầy hệ thống của Banobagi
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">button</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section contourSection04" data-section-name="contourSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-contour type-full">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Xương hàm mặt</strong><span class="color-comma">,</span>
	  					Banobagi thực hiện một cách
	  					<strong class="color-contour4">chi tiết</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Bí quyết tạo ra kết quả khác biệt của Banobagi chính là sự chăm sóc tập trung sau phẫu thuật.</p>
	  				<p class="detail__section-txt">
						Ca phẫu thuật dù thành công như thế nào thì kết quả về sau vẫn có thể thay đổi phụ thuộc vào quá trình chăm sóc sau phẫu thuật. Vì việc giữ đúng vị trí của da và cơ khớp với phần xương được cải thiện là rất quan trong. Dựa vào kinh nghiệm và dữ liệu nhiều năm, Banobagi đã phát triển hệ thống chăm sóc chuyên sâu đặc biệt. <span class="color-contour5">Chúng tôi muốn mang đến kết quả tốt hơn bằng dịch vụ chăm sóc hậu phẫu tập trung và chuyên môn.</span>
	  				</p>
	  			</div>
				<div class="layer-doc2">
				  	<ul class="layer-doc2__list">
				  		<li class="layer-doc2__item nth-1">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<!-- <p class="layer-doc2__txt">Hệ thống thăm khám định kì</p> -->
				  					<h5 class="layer-doc2__tit">
										Hệ thống
										kiểm tra định kỳ
									</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-2">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<!-- <p class="layer-doc2__txt">Hồi phục nhanh chóng.</p> -->
				  					<h5 class="layer-doc2__tit">
										Sử dụng đa dạng
										các trang thiết bị y tế
										tân tiến nhất
										Giúp hồi phục tập trung
									</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-3">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<!-- <p class="layer-doc2__txt">Kết quả tốt hơn và giảm thiểu các bất tiện sau phẫu thuật</p> -->
				  					<h5 class="layer-doc2__tit">
										Hệ thống hóa quá trình hồi phục
										Nhằm tạo ra kết quả tốt hơn và giảm bớt những bất tiện cho bệnh nhân
									</h5>
				  				</div>
				  			</div>
				  		</li>
				  	</ul>
				</div>
	  		</div>
		</div>
    </section>
	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Face Contouring</span> Surgery</p>
					<h4 class="detail-doctor__tit"><span class="weight-bold detail-doctor__highlight">Nhóm Xương hàm mặt </span><br class="hidden-m">Banobagi,chuyên tâm từng chi tiết</h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">Plastic Surgery Specialist</p>
													<p class="detail-doctor__name">Jaesang Barn</p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ <span class="weight-medium">Click</span> vào Đội ngũ y tế, trang sẽ chuyển tới <span class="weight-medium">giới thiệu nội dung chi tiết</span></p>
				</div>
			</div>
	  	</div>
  	</section>

	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">20 năm kinh nghiệm thẩm mỹ xương hàm mặt</p>
					<h3 class="onepage-video__tit">Thẩm mỹ xương hàm mặt Banobagi</h3>
					<h4 class="onepage-video__subtit">Đội ngũ chuyên gia thẩm mỹ xương hàm mặt xuất thân từ Đại học Quốc gia Seoul</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe id="onepage-video__iframe" src="https://player.vimeo.com/video/360442414?muted=1&amp;autoplay=1" class="onepage-video__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">Đăng ký tư vấn</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="scroll - bottom"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
