<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-brow">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-brow">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Tỷ lệ lý tưởng và sự hài hòa của đường cong</p>
						<h3 class="new-visual__tit">Thẩm mỹ <span class="n-color-contour2">trán</span></h3>
						<p class="new-visual__txt">Tự tin với nhiều phong cách khác nhau</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Đầy đặn</span></li>
							<li class="new-visual__item"><span>#Khuôn mặt nhỏ</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-tab__line">line</div>
			<div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">Chỉnh hình độn trán</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-volume" class="new-tab__link">Chỉnh hình độn trán</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-reduction" class="new-tab__link">Phẫu thuật thu gọn trán</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-volume is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Trán dẹt và lõm <span class="n-color-contour2 inline-block">cần phải được làm đầy.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Trán là bộ phận chiếm khoảng 1/3 diện tích của khuôn mặt và có <span class="color-black1">ảnh hưởng lớn đến nét mặt nhìn nghiêng của cá nhân. </span>
							Khi nhìn trực diện, hình dạng lý tưởng của trán là có sự đầy đặn, hòa hợp với chiều cao của ấn đường, mũi, miệng, cằm và có một đường cong mượt mà không bị uốn khúc. Nếu trán phẳng mà không có đường cong hoặc hõm vào, hay xương lông mày phát triển làm cho vùng trán trông lõm xuống tương đối rõ ràng thì sẽ mang lại ấn tượng nam tính và mạnh mẽ, làm hạn chế trong việc trang điểm và tạo kiểu tóc do phức cảm đó.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Sự đầy đặn của trán <span class="n-color-contour2">tác động đến nét mặt nhìn nghiêng của cá nhân</span>.
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_1.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_1_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">Ca phẫu thuật đặt túi độn vào trán điển hình</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_2.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">
											Trường hợp trán phẳng hoặc một phần trán
											<span class="inline-block">bị hõm vào khi nhìn từ bên cạnh</span>
										</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_3.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">
											Trường hợp xương lông mày phát triển
											<span class="inline-block">quá mức tạo ấn tượng mạnh mẽ, nam tính</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Có thể làm đầy một cách <span class="n-color-contour2">chính xác hơn</span> thông qua thủ thuật tiêm.
						</h4>
						<p class="new-style1__txt txt-new1">
							Trường hợp trán ở trạng thái về cơ bản không cần đặt túi độn hoặc muốn trán đầy đặn hơn một chút sau khi đã đưa túi độn vào thì có thể cải thiện trán bằng thủ thuật tiêm như tiêm chất làm đầy Filler hoặc cấy ghép mỡ. Vì thủ thuật tiêm là <span class="color-black1">phương pháp tương đối đơn giản nên sẽ giảm bớt gánh nặng và là phương pháp hiệu quả trong việc tạo ra sự đầy đặn một cách chính xác và tỉ mỉ.</span>
						</p>
						<div class="inner-box type-w">
							<div class="img-style1">
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_4.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">Ghép tế bào mỡ tự thân</h5>
										<p class="img-style1__caption txt-new1">
											Sử dụng máy ly tâm để phân tách tế bào mỡ
											<span class="inline-block">sau khi lấy mỡ từ bắp đùi và bụng.</span>
											Tiêm đều tế bào mỡ đã phân tách vào cằm.
										</p>
										<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>Xem ngay trang Cấy ghép mỡ</span></a>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_5.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">Artecoll / Filler thông thường</h5>
										<p class="img-style1__caption txt-new1">
											Cơn đau không đáng kể do sử dụng kem gây <span class="inline-block">mê trước khi làm thủ thuật.</span><br class="hidden-tm">
											Tạo hình đẹp do khi tiêm sử dụng kim cực nhỏ.<br class="hidden-tm">
											Thủ thuật Artecoll - chất làm đầy (Filler) bán vĩnh cửu phù hợp.
										</p>
										<a href="../../special/specialDetail.php" class="content-btn txt-new1"><span>Xem ngay trang Chất làm đầy FILLER</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="inner-box type-brow">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
									Thủ thuật Filler được lựa chọn dựa trên kinh nghiệm phẫu thuật chỉnh hình đường viền khuôn mặt lâu năm của Banobagi
								</h5>
								<div class="inner-circle type-contour type-mbig type-cling">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Điều chỉnh trán,
												đường chân tóc
												thay thế túi độn
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Thích hợp cho
												những người có cảm giác
												nặng về phẫu thuật
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Thủ thuật Filler
												giúp dễ dàng có được
												cảm giác đầy đặn
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_6.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">Đội ngũ chuyên gia phẫu thuật chỉnh hình đường viền khuôn mặt</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Tăng thêm cảm giác hài lòng nhờ <span class="n-color-contour2">sử dụng túi độn phù hợp với từng cá nhân</span>.
						</h4>
						<p class="new-style1__txt txt-new1">
							Phương pháp phẫu thuật đặt túi độn trán được sáng chế ra dành cho các trường hợp có hạn chế về hiệu quả nếu chỉ sử dụng thủ thuật tiêm. Sau khi kiểm tra kỹ lưỡng trạng thái hiện tại của trán, chúng tôi sử dụng silicon để tạo ra túi độn có hình dạng lý tưởng và cấy nó dưới màng xương trán. <span class="color-white">Phương pháp này có ưu điểm là phẫu thuật đơn giản, có lượng biến đổi lớn do có thể thiết kế phù hợp với từng người và mang lại độ hài lòng cao.</span> Sau đó, nếu cần thiết, cũng có thể tìm cách cải thiện đường nét trán tỉ mỉ hơn bằng cách tiến hành kết hợp cùng các thủ thuật tiêm như cấy mỡ hay thủ thuật Filler.
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_7.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_7_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">Trình tự đặt túi độn trán</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_8.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">BƯỚC 1</h6>
										<p class="img-style1__caption txt-new1">Kiểm tra tình trạng trán trước khi phẫu thuật và lên phương án phẫu thuật theo đúng hình dạng trán</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_9.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">BƯỚC 2</h6>
										<p class="img-style1__caption txt-new1">Sử dụng silicon để tạo ra túi độn phù hợp với trạng thái trán và hình dạng trán mong muốn.</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_10.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">BƯỚC 3</h6>
										<p class="img-style1__caption txt-new1">Rạch khoảng 4~5cm phía sau từ đường chân tóc và cấy túi độn vào dưới màng xương.</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_11.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">BƯỚC 4</h6>
										<p class="img-style1__caption txt-new1">Làm cho túi độn bám chặt để đạt được đường cong và sự đầy đặn tự nhiên.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Túi độn Silicon có <span class="n-color-contour3">ưu điểm về tính an toàn và sự tự nhiên.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Không phải vì trán của chúng ta cứng mà phải sử dụng túi độn hay xương nhân tạo. Ngược lại, khi sử dụng xương nhân tạo cứng thì sẽ có nhược điểm là khả năng bị hư tổn cao nếu có tác động từ bên ngoài và tạo ra kết quả không tự nhiên do hình dạng được cố định.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Với bề dày kinh nghiệm của mình, Banobagi đã đưa ra nhận định rằng túi độn silicon phù hợp hơn với phẫu thuật tạo hình trán.
						</p>
						<p class="new-style1__txt txt-new1">
							Silicon được sản xuất phù hợp với từng cá nhân để cấy ghép vào. Vì có độ đàn hồi và độ kết dính tốt nên gần như không có khả năng bị hư tổn bởi tác động bên ngoài, hình dạng và biểu hiện luôn tự nhiên. Ngoài ra, có thể thực hiện thủ thuật với vết rạch nhỏ nên có ưu điểm là làm giảm sự lo lắng về sẹo.
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_12.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_12_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 30 phút ~ 1 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê cục bộ</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 - 10 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau khi thực hiện thủ thuật tiêm hoặc cấy túi độn, bạn có thể cảm nhận thấy trán bị sưng phù.<br>
										Trong quá trình hết thuốc gây mê, có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
										Khi cắt chỉ hoặc khử trừng, vết khâu sẽ đau nhói một chút.<br>
										Triệu chứng đau do sưng tấy và cảm giác bị kéo căng có thể được giảm bớt bằng thuốc giảm đau theo đơn kê.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-reduction">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Tỷ lệ tổng thể của khuôn mặt <span class="n-color-contour2">chịu ảnh hưởng của chiều rộng trán</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Thông thường, <span class="color-black1">khuôn mặt được xem là lý tưởng</span> nhất khi trán chia khuôn mặt thành các phần ấn đường, mũi, cằm với <span class="color-black1">tỷ lệ đồng nhất là 1:1:0,8~0,9 hoặc tương đương.</span> Nếu như trán rộng hơn tỷ lệ này thì tai mắt mũi miệng bị dồn xuống dưới tạo ấn tượng không đẹp như khuôn mặt mất cân đối hoặc bị dài, đầu to hoặc tóc ít, v.v..
						</p>
						<p class="new-style1__txt2 txt-new2">
							Nếu trán hẹp thì có thể cải thiện bằng phương pháp rẻ và đơn giản như tẩy lông, v.v. nhưng nếu trán rộng thì <span class="n-color-contour2">phương pháp phẫu thuật thu gọn trán là có hiệu quả hơn cả</span>.
						</p>
						<div class="new-style1__img type-padding-m">
							<img src="../../images/contour/brow/brow_img_13.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_13_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
							<p class="new-style1__noti txt-new1">※ Đây là hình ảnh mô tả giúp hiểu rõ hơn.</p>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<ul class="img-style1__list type-half type-notit">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_14.jpg" class="img-w100" loading="lazy" alt="Mất cân đối tỷ lệ khuôn mặt"/>
										<h5 class="img-style1__subject txt-new2">Mất cân đối tỷ lệ khuôn mặt</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_15.jpg" class="img-w100" loading="lazy" alt="Khuôn mặt bị dài"/>
										<h5 class="img-style1__subject txt-new2">Khuôn mặt bị dài</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_16.jpg" class="img-w100" loading="lazy" alt="Khuôn mặt bị to"/>
										<h5 class="img-style1__subject txt-new2">Khuôn mặt bị to</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_17.jpg" class="img-w100" loading="lazy" alt="Hình ảnh lộ tóc con và khuôn mặt già"/>
										<h5 class="img-style1__subject txt-new2">Hình ảnh lộ tóc con và khuôn mặt già</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Phẫu thuật thu gọn trán có thể điều chỉnh đường nét trán bằng <span class="n-color-contour2">phương pháp trực tiếp</span> hơn.
						</h4>
						<p class="new-style1__txt txt-new1">
							Nguyên lý của phẫu thuật thu gọn trán tương đối đơn giản. Đó là việc rạch đường chân tóc hiện có, hạ thấp da đầu xuống, cố định và khâu lại.
							<span class="color-white">Ưu điểm lớn nhất của phương pháp này là có hiệu quả tối ưu do nó cải thiện kích thước của trán một cách trực tiếp.</span>
							Tỷ lệ lý tưởng làm cho khuôn mặt trông nhỏ và sắc nét hơn, giữ cho đường chân tóc được tự nhiên và giúp phù hợp với nhiều kiểu tóc đa dạng.
						</p>
						<div class="inner-circle type-contour2 type-mbig">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Nhanh hơn,
										cải thiện
										trực tiếp hơn
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Hiệu quả
										làm cho khuôn mặt nhỏ
										và sắc nét hơn
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Có thể
										tạo kiểu
										đa dạng
									</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_18.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_18_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="step-style type-contour">
								<h5 class="new-content-tit tit-new2">Quá trình phẫu thuật</h5>
								<ul class="step-style__list">
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.01</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												Rạch hình dích dắc<br>
												theo đường chân tóc
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.02</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												Hạ thấp da đầu xuống phía dưới<br>
												và cố định bằng Endotine
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.03</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												Khâu da theo từng lớp mô<br>
												và kết thúc quá trình
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Chúng tôi tìm kiếm một kết quả thỏa mãn hơn
							với <span class="n-color-contour2">từng chi tiết trong mỗi quá trình phẫu thuật.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Nguyên lý phẫu thuật tương đối đơn giản nhưng việc tạo ra sự khác biệt trong kết quả đó là kỹ thuật của các bác sỹ chuyên khoa. Nếu chỉ đơn giản là rạch đường chân tóc và hạ thấp xuống dưới thì kết quả chỉ có thể là sự mất tự nhiên. Banobagi luôn hướng tới phẫu thuật thu gọn trán tự nhiên và lý tưởng hơn bằng việc áp dụng năng lực kỹ thuật và bí quyết vào từng quy trình phẫu thuật.
						</p>
						<p class="new-style1__txt txt-new1">
							Trước tiên, khi rạch da đầu, cần rạch theo hình đường chéo 45 độ để chân tóc có thể mọc lên một cách tự nhiên. Và, hình dạng rạch tổng thể phải được rạch theo hình dích dắc để giảm sẹo và giúp hình thành đường chân tóc tự nhiên. Trong quá trình cố định, <span class="n-color-contour2">* Endotine</span> được sử dụng để cố định tổ chức mềm của da một cách đồng đều và ngăn không cho da đầu bị kéo lại. Cuối cùng, vết mổ được khâu theo cách phù hợp với từng lớp tổ chức, giảm tổn thương và gần như không để lại sẹo.
						</p>
						<div class="img-style1 type-mt">
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_19.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">Rạch 45 độ giúp hồi phục chân tóc</h5>
									<p class="img-style1__caption txt-new1">
										Do da đầu được rạch theo đường chéo 45 độ mà không phải đường thẳng giúp cho chân tóc mọc về phía trước phần rạch nên đường chân tóc được hình thành đồng đều và tự nhiên.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_20.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">Toàn bộ đường rạch được thực hiện theo hình dích dắc</h5>
									<p class="img-style1__caption txt-new1">
										Đường rạch da đầu được thực hiện theo hình dích dắc chứ không phải đường thẳng. Vết rạch được khâu hiệu quả hơn để ngăn ngừa sẹo và đường chân tóc được hình thành một cách tự nhiên hơn.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_21.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">Cố định bằng <span class="n-color-contour2">* Endotine</span></h5>
									<p class="img-style1__caption txt-new1">
										Da đầu được hạ thấp xuống phía dưới rồi được cố dịnh chắc chắn bằng Endotine. Do được cố định với lực đồng đều nên nó có thể ngăn chặn hiện tượng da đầu bị kéo lại về phía sau sau khi phẫu thuật và Endotine đưa vào sẽ được cơ thể hấp thụ theo thời gian nên mang lại hiệu quả hồi phục vết thương và giúp tự nhiên hơn.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_22.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">Layer By Layer Khâu vết rạch</h5>
									<p class="img-style1__caption txt-new1">
										Da bao gồm nhiều lớp khác nhau như biểu bì, trung bì, mỡ, cân mạc và cơ. Nếu chúng ta bỏ qua các đặc điểm của từng lớp và tiến hành rạch hoặc khâu vết thương thì có nguy cơ xảy ra các tác dụng phụ khác nhau như tổn thương tổ chức da và sự phục hồi bị chậm lại. Dựa trên sự hiểu biết về các lớp tổ chức này, Banobagi luôn cố gắng giảm bớt sẹo và giúp hồi phục nhanh bằng việc thực hiện khâu Layer By Layer (từng lớp một).
									</p>
								</li>
							</ul>
						</div><!--//img-style1-->
						<div class="inner-stripe type-line">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/brow/brow_icon_1.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour2">* Endotine</p>
										<p class="inner-stripe__txt txt-new1">
											Endotine là vật liệu có tính tương thích sinh học và an toàn được FDA Hoa Kỳ phê duyệt. Nó có thể cải thiện nếp nhăn một cách tự nhiên bằng cách kéo tổ chức da với áp lực đồng đều và có tác dụng như sẹo nhỏ, hiệu quả lâu dài và hấp thụ tự nhiên, v.v. nên được sử dụng nhiều trong các quy trình phẫu thuật chống lão hóa đa dạng giúp cải thiện làn da chảy xệ.
										</p>
									</div>
								</li>

							</ul>
						</div><!--//inner-stripe-->
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày </p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Chúng tôi sẽ giúp bạn phục hồi nhanh hơn và tích cực hơn thông qua quản lý hậu phẫu một cách có hệ thống.<br>
										Trong quá trình hết thuốc gây mê có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
										Khi cắt chỉ hoặc khử trừng vết khâu thì sẽ đau nhói một chút.<br>
										Triệu chứng đau do sưng tấy và cảm giác bị kéo căng có thể được giảm bớt bằng thuốc giảm đau theo đơn kê.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
