<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-contour">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Cằm V line đầy quyến rũ</p>
				<h3 class="content-visual__tit"># phẫu thuật <span class="color-contour7">xương góc hàm</span></h3>
				<p class="content-visual__txt2">Góc cằm quyến rũ từ mọi góc độ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-square">
		<div class="content-wrap">
		   	<div class="content-section type-first">
			 	<div class="contour-box1">
			   		<div class="content-section__wrap">
				 		<div class="content-section__box">
				   			<h4 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
					 			Cằm V line chỉ là một trong những biểu tượng,
					 			<strong class="color-contour7"><span class="inline-block">không nên</span></strong> tiêu chuẩn hóa
				   			</h4>
				   			<p class="content-section__txt1">
					 			Cằm V line đang rất thịnh hành gần đây, tại sao mọi người lại thích có chiếc cằm V line như vậy ?<br><br>

					 			Nguyên nhân đó là vì tỷ lệ khuôn mặt nhìn nhỏ đẹp hơn so với khuôn mặt với cằm rộng . Thêm nữa chiếc cằm mềm mại mang lại nụ cười quyến rũ và nhìn rất tây.Chính vì vậy có thể nói rằng trọng điểm của phẫu thuật cằm vuông là tạo
								 <strong class="content-highlight type-contour">vẻ đẹp cân đối đồng thời cho cảm giác chiếc cằm đẹp hiện đại.</strong>
				   			</p>
				   			<div class="contour-box1__img">사각턱 이미지1</div>
				   			<div class="quotation2 type-contour">
					 			<p class="quotation2__txt txt-v5">
					   				Điều này không có nghĩa là tạo chiếc cằm V line giống nhau cho tất cả khách hàng .
									Trọng tâm của phẫu thuật thẩm mỹ xương cằm vuông là phẫu thuật tạo cằm Vline quyến rũ hơn một cách phù hợp cho từng khách hàng.
									Hơn nữa không chỉ là cằm V line khi nhìn chính diện mà thiết kế đường viền cằm Vline nhìn từ nhiều góc độ.
					 			</p>
				   			</div>
				   			<p class="content-section__txt2">
					 			Vì thế đến với Banobagi, chúng tôi thực hiện chỉ một lần từ điểm bắt đầu đến điểm kết thúc của cằm. <br class="hidden-m">
					 			Từ đó <span class="color-contour8">cải thiện toàn bộ phần phần cằm dưới theo đường nét V-line tự nhiên.</span>
				   			</p>
				 		</div><!-- //content-section__box-->
			   		</div><!-- //content-section__wrap-->
			 	</div>
		   	</div><!-- //content-section -->

		   	<div class="content-section">
			 	<div class="contour-bg">
			   		<div class="contour-box2">
				 		<div class="content-section__box w-6">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
					 			<span class="content-highlight type-contour2">Phẫu thuật một lần</span>
					 			tạo hiệu quả cải thiện tuyệt vời!
				   			</h4>
				   			<p class="content-section__txt1">
					 			Thông thường phẫu thuật cằm được chia ra như sau: Nếu như cằm vuông thì gọt hai bên góc hàm , nếu là cằm dày thì gọt cằm để có chiếc cằm thon gọn hơn. Tuy nhiên thực tế xương cằm liên kết làm một với nhau và cấu trúc 3 chiều nên khi phẫu thuật cằm vuông
								<span class="content-highlight type-contour">tốt hơn nên phẫu thuật cả xương góc hàm và cằm cùng 1 lúc. </span>
					 			Có như vậy thì mới có thể tạo ra chiếc cằm đẹp cân đối và tự nhiên như mong đợi
				   			</p>
				 		</div>
				 		<div class="contour-box2__img">img</div>
			   		</div><!-- //contour-box2 -->
			   		<div class="contour-box3">
				 		<ul class="contour-box3__list">
				   			<li class="contour-box3__item">
					 			<img src="../../images/contour/contour_chin_img04.jpg" loading="lazy" alt="" class="hidden-tm">
					 			<img src="../../images/contour/contour_chin_img04_768.jpg" loading="lazy" alt="" class="hidden-p">
				   			</li>
				   			<li class="contour-box3__item">
					 			<img src="../../images/contour/contour_chin_img05.jpg" loading="lazy" alt="" class="hidden-tm">
					 			<img src="../../images/contour/contour_chin_img05_768.jpg" loading="lazy" alt="" class="hidden-p">
				   			</li>
				 		</ul>
				 		<p class="contour-box3__txt1">
				   			Tất nhiên phương pháp phẫu thuật này không đơn giản cũng như không dễ dàng. Vì phải tiến hành phẫu thuật đồng thời cả mặt chính diện và mặt bên nhanh chóng mà không gây căng thẳng cho bệnh nhân.
				 		</p>
				 		<p class="contour-box3__txt2">
				   			Phẫu thuật gọt cằm đẹp tự nhiên chỉ có thể từ <span class="color-contour8">đội ngũ bác sĩ của BanoBagi với trình độ chuyên môn cao và được tính toán chính xác tạo đường nét thẩm mỹ trên khuôn mặt. </span>
				 		</p>
			   		</div><!-- //contour-box3 -->
			 	</div>
		   	</div><!-- //content-section-->

		   	<div class="content-section">
			 	<div class="contour-box4">
			   		<h4 class="content-section__tit type-center">
				 		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
				 		Tìm giải pháp phù hợp cho<br class="hidden-tm">
						<strong class="color-contour7">quy trình phẫu thuật tất cả xương cơ và mỡ</strong>
			   		</h4>
			   		<div class="contour-box4__img">
				 		<img src="../../images/contour/contour_chin_img06.jpg" loading="lazy" alt="Cơ,Xương cằm,Mỡ lâu tan" class="hidden-tm">
				 		<img src="../../images/contour/contour_chin_img06_768.jpg" loading="lazy" alt="Cơ,Xương cằm,Mỡ lâu tan" class="hidden-p">
			   		</div>
			   		<p class="content-section__txt1">
						Thông thường, xương hàm lớn thì cơ có kích thước lớn phù hợp với xương; và một khuôn mặt có nhiều thịt có xu hướng phát triển mỡ dưới da và mỡ lâu năm.
						Đối với trường hợp của những bệnh nhân như trên chỉ phẫu thuật gọt xương không thì không hiệu quả. Vì vậy phẫu thuật xương hàm là phẫu thuật bao gồm gọt xương, điều chỉnh cơ và mỡ.Với
						 <strong>những phẫu thuật phức tạp như vậy đòi hỏi đội ngũ bác sĩ với trình độ chuyên môn cao.</strong>
			   		</p>
			 	</div>
		   	</div><!-- //content-section-->

		   	<div class="content-section">
			 	<div class="contour-box5">
			   		<ul class="contour-box5__list">
				 		<li class="contour-box5__item type-txt">
				   			<h4 class="content-section__tit">
					 			BANOBAGI
				   			</h4>
				   			<p class="content-section__txt1 type-special">
					 			Được thành lập vào năm 2000, phát triển thành một tổ chức y tế với cơ sở hạ tầng có hệ thống. Trong từng lĩnh vực có các chuyên gia nghiên cứu tập trung và phẫu thuật.<br><br>

					 			Phẫu thuật thẩm mỹ cằm vuông của Banobagi là sự cân nhắc trên xương và mô trên khuôn mặt của các chuyên gia về đường nét khuôn mặt. Cho ra:
				   			</p>
				   			<p class="content-section__txt2">
								Phương pháp phẫu thuật xương góc hàm là kết hợp của
					 			<span class="color-contour9">phẫu thuật xương hàm dưới</span> và <span class="color-contour9">phẫu thuật thu nhỏ cơ nhai, mài xương vỏ ngoài</span> hoặc
					 			<span class="color-contour9">giảm mỡ buccal</span>
				   			</p>
				 		</li>
				 		<li class="contour-box5__item type-img">
				   			<img src="../../images/contour/contour_chin_img07_mini.jpg" loading="lazy" alt="" class="hidden-tm">
				   			<img src="../../images/contour/contour_chin_img07_mini_768.jpg" loading="lazy" alt="" class="hidden-pm">
				   			<img src="../../images/contour/contour_chin_img07_mini_640.jpg" loading="lazy" alt="" class="hidden-pt">
				 		</li>
			   		</ul>
			 	</div>
			 	<div class="contour-box6">
			   		<div class="item-box1">
				 		<ul class="item-box1__list">
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">Plus</span></span>Phẫu thuật gọt xương hàm dưới</h5>
					   				<p class="item-box1__txt txt-v1">
						 				Xương góc hàm là xương nằm phía dưới tai.Xương góc hàm to khiến cho đường viền cằm nhìn dày đồng thời làm đường nét trên mặt không tự nhiên và thô.<br><br>
						 				Gọt xương góc hàm theo hình vòng cung để khi nhìn trực diện và nhìn nghiêng sẽ có đường viền cằm cong đẹp tự nhiên đồng thời tạo đường nét khuôn mặt mềm mại và thanh mảnh từ xương góc hàm đến cằm .
					   				</p>
					 			</div>
				   			</li>
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">Plus</span></span>Phẫu thuật cắt giảm cơ nhai</h5>
					  	 			<p class="item-box1__txt txt-v1">
						 				Nếu thử ấn xuống phần xương góc hàm dưới tai sẽ cảm nhận thấy thịt cứng hơn những vùng khác. Đó là cơ nhai, đây là cơ đảm nhận nhiệm vụ nhai nhưng nếu cơ nhai phát triển nhiều thì làm cho cằm nhô ra thêm.<br><br>
						 				Tiêm botox có thể cho thấy hiệu quả giảm độ dày của cằm tức thời nhưng phẫu thuật cằm vuông thì kết hợp cắt bỏ một phần cơ nhai cho kết quả lâu dài và độ hài lòng của khách hàng cũng cao hơn.
					   				</p>
					 			</div>
				   			</li>
				 		</ul>
				 		<ul class="item-box1__list">
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">Plus</span></span> Phẫu thuật mài xương</h5>
					   				<p class="item-box1__txt txt-v1">
										Xương mặt chia làm 3 tầng: xương vỏ ngoài, xương xốp và xương vỏ trong
										Phẫu thuật mài 1 lớp mỏng vỏ xương bên ngoài là phẫu thuật mài vỏ xương ngoài một cách an toàn và hiệu quả trong cải thiện đường viền cằm nhưng phải được thực hiện bởi bác sĩ có chuyên môn cao.
					   				</p>
					 			</div>
				   			</li>
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">Plus</span></span>Loại bỏ mỡ buccal</h5>
					   				<p class="item-box1__txt txt-v1">
						 				Trên mặt có 2 lớp mỡ, 1 lớp mỡ mỏng dưới da và lớp mỡ nằm sau bên trong má gọi là mỡ buccal. Hút mỡ khi muốn loại bỏ lớp mỡ dưới da nhưng mỡ buccal là lớp mỡ sâu bên trong nên phải cắt bên trong miệng để loại bỏ mỡ buccal.
					   				</p>
					 			</div>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>

		  	<div class="content-section type-unique">
			 	<div class="contour-box7">
			   		<div class="contour-box7__box">
				 		<p class="contour-box7__txt">BANOBAGI SURGERY</p>
				 		<h4 class="content-section__tit">
							Chuyên gia tạo đường nét trên khuôn mặt nổi tiếng:
							được cả giới truyền thông
							và giới hàn lâm công nhận!

				 		</h4>
			   		</div>
			   		<div class="contour-box7__img">Viện trưởng Dr. Oh Chang Hyun, Dr. Park Jong Lim</div>
			 	</div>
			 	<div class="contour-box8">
			   		<div class="contour-box8__box">
				 		<h5 class="content-section__tit">
				   			Bác sĩ chủ đạo
				 		</h5>
						<p class="contour-box8__txt">trong chương trình : Let Me in, Let Me in: Thái lan, Thay đổi cuộc sống , AreumdaunDangsin, Daesenam, … </p>
			   		</div>
			 	</div>
			 	<div class="contour-img">
			   		<img src="../../images/contour/contour_chin_img10.jpg" loading="lazy" alt="사각턱 뉴스사진">
			 	</div>
			 	<div class="contour-box9">
			   		<div class="content-section__wrap">
				 		<div class="content-section__box w-4">
							<p class="contour-box9__txt">Các hoạt động học thuật đa dạng, các luận văn, nghiên cứu, các bài phát biểu,…</p>
				   			<h5 class="content-section__tit">
								Tiến sĩ – Viện
								trưởng Park Jong
								Lim – Người có niềm 
								đam mê duy nhất là
								đường nét trên khuôn mặt
				   			</h5>
				 		</div>
				 		<div class="content-section__box w-6">
				   			<img src="../../images/contour/contour_chin_img11.png" loading="lazy" alt="img">
				 		</div>
			   		</div>
			 	</div><!-- //contour-box9 -->
			 	<div class="contour-img">
			   		<img src="../../images/contour/contour_chin_img12.jpg" loading="lazy" alt="img">
			 	</div>
		   	</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">사각 턱 수술에 맞는 회복을 제공합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày </p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Sau phẫu thuật khi bắt đầu hết thuốc mê bệnh nhân có thể thấy đau nhức
									Bệnh nhân có thể thấy đau nhức, bất tiện nên uống thuốc để giảm đau
									Bắt đầu giảm sưng, đau trong vòng 5 ngày sau phẫu thuật
									Chương trình chăm sóc sau phẫu thuật giúp hồi phục nhanh và đạt hiệu quả cao.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	   	</div><!-- //Content-wrap -->
	</div>
	<!-- //content -->

	<% include ../_include/_banner_rapid %>
	<% include ../_include/_banner_petit %>
	<% include ../_include/_bfaf %>
</div> <!-- //container -->


<% include ../_include/_footer %>
