<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Đường nét rõ ràng tạo thành một khuôn mặt nhỏ</p>
				<h3 class="content-visual__tit"># Phẫu thuật <span class="color-contour9">cằm</span></h3>
				<p class="content-visual__txt2">Đường viền cằm gọn gàng phù hợp với khuôn mặt.</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-square">
		<div class="content-wrap">
			<div class="content-section type-first">
	            <div class="front-box1">
	                <div class="front-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>Cằm</strong> là <strong class="content-highlight2 type-front">tiêu chuẩn</strong> của <strong>tỷ lệ khuôn mặt</strong>
						</h4>
	                    <p class="content-section__txt1">
							Thông thường khi đo kích thước hoặc tỷ lệ của khuôn mặt, chúng ta thường đo kích thước từ trán xuống đến cuối cằm. Chính vì vậy tỷ lệ khuôn mặt cũng khác đi theo vị trí chiếc cằm.
							<strong>Như vậy, kích thước của cằm là bao nhiêu thì sẽ có tỷ lệ khuôn mặt lý tưởng?</strong>
	                        <br><br class="hidden-m">
	                        Khi chia tỷ lệ khuôn mặt từ trán đến giữa hai chân mày, đầu mũi, cuối cằm thì <strong class="color-contour18">tỷ lệ 1:1:0.8 </strong>
							là tỷ lệ lý tưởng của khuôn mặt. Chiều dài của cằm càng dài thì nhìn trông già và dừ hơn, ngược lại nếu cằm ngắn thì khoảng cách giữa cổ và khuôn mặt nhìn sẽ không rõ. Hơn nữa phần cuối cằm bị lệch hoặc quá lớn cho ta cảm giác không hài lòng về chiếc cằm của mình.
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>Vì vậy, thông qua phẫu thuật cằm để có tỷ lệ khuôn mặt lý tưởng </strong>
	                    </p>
	                    <div class="brace type-front">
							<p class="brace__txt txt-v4">
								Khi chia tỷ lệ khuôn mặt từ giữa hai <span class="color-contour18">chân mày, đầu mũi, cuối cằm </span>thì tỷ lệ khoảng  <span class="color-contour18">1 : 1 :  0.8~0.9</span> là tỷ lệ cân xứng của khuôn mặt.
							</p>
						</div>
	                </div>
	                <div class="front-box1__img"></div>
	            </div>
	        </div>

	        <div class="content-section type-margin0">
	            <div class="front-box2">
	                <div class="front-box2__box">
	                    <div class="front-box2__wrap">
	                    	<h4 class="content-section__tit type-center">
	                    	    <span class="content-section__number">
	                    	        <span class="content-section__number-wrap">
	                    	            02
	                    	        </span>
	                    	    </span>
	                    	    Phẫu thuật cằm phải tiếp cận <strong class="color-contour19">cả 3 chiều.</strong>
	                    	</h4>
	                    	<p class="content-section__txt1">
								Thông thường phẫu thuật cằm là thường tập trung vào hình dáng Vline phía cuối cằm nhìn trực diện hoặc chiều dài cằm. Tuy nhiên hình ảnh khuôn mặt khi nhìn nghiêng cũng là điểm quan trọng.
								Khi độ cao thấp của trán, mũi và cằm đạt đến con số lý tưởng khi nhìn nghiêng thì sẽ có một khuôn mặt quyến rũ. Hơn nữa khi đạt cằm lý tưởng sẽ tạo đường nét trên khuôn mặt sắc nét và mảnh khảnh.
	                    	</p>
	                    	<p class="content-section__txt2">
	                    	    Vì vậy, <span class="color-contour20">phẫu thuật cằm đúng chuẩn là </span>chiều dài và hình dáng cằm mặt chính diện và xem xét hình 3 chiều của mặt bên.
	                    	</p>
	                    </div>
	                    <div class="front-box2__model">Chiều rộng xương gò má 1 (Tiêu chuẩn), Chiều rộng góc hàm  0.7, Chiều rộng hàm dưới 0.4</div>
	                </div>

	                <div class="front-box2__area">
	                    <div class="list-box type-front">
	                        <div class="list-box__box">
	                            <div class="list-box__wrap">
	                                <div class="list-box__vertical">
	                                    <h5 class="list-box__tit tit-v3">
	                                        Điểm mạnh của phẫu thuật cằm<br class="hidden-m">
	                                        <strong>POINT</strong>
	                                    </h5>
	                                </div>
	                            </div>
	                        </div>
	                        <ol class="list-box__list">
	                            <li class="list-box__item txt-v3">Đường nét thon gọn cho chiếc cằm xinh</li>
	                            <li class="list-box__item txt-v3">Chiều dài phù hợp với tỷ lệ khuôn mặt</li>
	                            <li class="list-box__item txt-v3">Tạo đường nét hài hòa trên khuôn mặt khi nhìn nghiêng</li>
	                        </ol>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!-- 탭바  -->
			<div class="content-tab type-front">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">Độn cằm</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">Tiểu phẫu Tiêm cằm trước</a></li>
					</ul>
				</div>
			</div>

			<!-- 탭바 컨텐츠 -->
	        <!-- tab1 : 절골 앞턱 수술 -->
			<div class="content-tab__page page-broken">
				<div class="content-tab__box">
	                <div class="front-box3">
	                        <h3 class="content-section__tit">
	                            <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술,</strong><br>
	                            거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
	                        </h3>
	                        <p class="content-section__txt1">
	                            절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
	                            다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우,<br class="hidden-m">
	                            삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
	                            <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_01.jpg" loading="lazy" alt="턱이 길고 돌출된 얼굴">
	                                        <p class="front-type__caption">
	                                            <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_02.jpg" loading="lazy" alt="턱이 짧고 들어간 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_03.jpg" loading="lazy" alt="턱이 삐뚤어진 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="front-point">
	                            <ul class="front-point__list">
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 전진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 뼈 후진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">비대칭 교정</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>

	                <div class="front-box4">
	                    <h3 class="content-section__tit">
	                        <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
	                        <strong class="color-contour18">가장 좋은 방법</strong>입니다
	                    </h3>
	                    <p class="content-section__txt1">
							앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
	                        각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
	                        개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
						</p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
	                    </p>

	                    <div class="front-case">
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">ㅅ자 절골</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">T자 절골</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 전진</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 + 뼈 이식</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box5">
	                        <h3 class="content-section__tit">
	                            <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
	                            <strong class="color-contour21">절골 앞턱 수술</strong>은
	                            <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
	                        </h3>
	                        <p class="content-section__txt1">
								바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
	                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
							</p>
	                        <p class="content-section__txt2">
								또한 안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
	                            조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
							</p>

	                        <div class="front-box5__doctor-img">
	                            <img src="../../images/contour/front/front_doctor_01_m.png" loading="lazy" alt="">
	                        </div>
	                        <div class="front-box5__doctor">
	                            <div class="front-box5__name nth-1">
	                                성형외과전문의
	                                <strong>오창현 원장</strong>
	                            </div>
	                            <div class="front-box5__name nth-2">
	                                성형외과전문의
	                                <strong>박종림 원장</strong>
	                            </div>
	                        </div>
	                    </div>

	                <div class="front-box6">
	                    <ul class="front-box6__list">
	                        <li class="front-box6__item nth-1">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            심도 있는 상담과 장비를 통한 정밀 진단
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-2">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-3">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>

	                <div class="front-box__wrap">
	                    <div class="front-box7">
	                            <div class="content-section__box w-6">
	                                <h3 class="content-section__tit">
	                                    <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
	                                    개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
	                                </h3>
	                                <p class="content-section__txt1">
	                                    흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
	                                    사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 앞 턱이 고민이라면<br class="hidden-tm">
	                                    턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
	                                    하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
	                                    <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
	                                    그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
	                                </p>
	                            </div>
	                            <div class="front-box7__img">앞턱 이미지</div>
	                        </div>

	                    <div class="front-box8">
	                            <ul class="front-box8__list">
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_06.jpg" loading="lazy" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_06_t.jpg" loading="lazy" alt="" class="hidden-p">
	                                </li>
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_07.jpg" loading="lazy" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_07_t.jpg" loading="lazy" alt="" class="hidden-p">
	                                </li>
	                            </ul>
	                            <p class="front-box8__txt1">
	                                물론 이런 수술 방법은 단순하지도, 쉽지도 않습니다.<br>
	                                환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
	                            </p>
	                            <p class="front-box8__txt2">
	                                자연스럽고 아름다운 앞턱 수술,<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
	          						바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
	                            </p>
	                        </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h3 class="operation-v2__tit">Thông tin phẫu thuật</h3>
									<!-- <p class="operation-v2__subtit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h4>
												<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
												<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Cắt chỉ</h4>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Thời gian nhập viện</h4>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
												<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h3 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Hồi phục nhanh thông qua chương trình chăm sóc hậu phẫu thuật.
											Cảm thấy đau sau khi hết thuốc mê nhưng sẽ giảm dần sau thời gian.
											Hơi đau nhói một chút khi khử trùng sau khi cắt chỉ
											Uống thuốc giảm đau hỗ trợ đau sốt do bị sưng đồng thời chườm lạnh để giảm sưng
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>

	            </div>
			</div>

	        <!-- tab2 : 보형물 앞턱 교정 -->
			<div class="content-tab__page page-implant is-active">
				<div class="content-tab__box">
	                <div class="front-box9">
	                        <h4 class="content-section__tit">
	                            <strong>Dành cho những trường hợp đặc biệt,</strong>
	                            <strong class="content-highlight2 type-front">cần</strong> phải độn cằm.
	                        </h4>
	                        <p class="content-section__txt1">
	                            Nếu bệnh nhân không muốn phẫu thuật gọt xương và chuẩn đoán của bác sĩ không cần gọt xương , thì độn cằm là phương pháp phù hợp nhất.
								Độn cằm
	                            <span class="content-section__info pop-info">
	                                <a href="" class="info-btn js-info type-front">
	                                    <span class="info-btn__icon type-design">info-btn</span>
	                                    là ghép miếng silicon, gore- tex
	                                    <span class="info-desc type-design" style="display: none;">
	                                        <span class="info-desc__item">
	                                            <span class="info-desc__box">
	                                                <span class="info-desc__tit"><span class="info-desc__icon"></span>Silicon , Gore- Tex là gì?<br class="hidden-tm"></span>
	                                                <span class="info-desc__content">
	                                                    <img src="../../images/contour/front/front_img_02.jpg" loading="lazy" alt="img" class="info-desc__thumb">
	                                                    <span class="info-desc__txt1">
															Các vật liệu này được biết là tương đối an toàn với cơ thể con người thông qua các nghiên cứu lâm sàng lâu dài. Chúng có ưu điểm là dễ tạo hình phù hợp với bộ phận cần thiết, và hầu như không có nguy cơ biến dạng hoặc hư hỏng trong thời gian dài
														</span>
	                                                </span>
	                                            </span>
	                                            <button class="info-desc__btn js-close">
	                                                <span class="info-desc__stick type-left"></span>
	                                                <span class="info-desc__stick type-another"></span>
	                                                Đóng
	                                            </button>
	                                        </span>
	                                    </span>
	                                </a>
	                            </span>
								vào cằm để tạo một chiếc cằm lý tưởng.
								Độn cằm nhằm tăng chiều dài hoặc làm đầy cằm nên không thể thực hiện độn cằm đối với cằm dài và nhô ra,
								tuy nhiên đối với cằm ngắn và bị thụt vào bên trong thì độn cằm là phương pháp làm hiệu quả.
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_04.jpg" loading="lazy" alt="Cằm ngắn">
	                                        <p class="front-type__caption"><span class="color-contour19">Cằm ngắn</span></p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_05.jpg" loading="lazy" alt="Miệng hô cằm thụt vô trong">
	                                        <p class="front-type__caption">Miệng hô <span class="color-contour19">cằm thụt</span> vô trong</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_06.jpg" loading="lazy" alt="Cẳm nhỏ nhìn thấy nọng cằm">
	                                        <p class="front-type__caption"><span class="color-contour19">Cẳm nhỏ </span> nhìn thấy nọng cằm</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="front-box9__box">
	                            <div class="brace type-front type-another">
	    							<p class="brace__txt txt-v4">
	    								Cằm nhỏ khiến cho chúng ta không phân biệt được ranh giới giữa cổ và mặt!<br>
	                                    <span class="color-contour18">Hãy tạo chiếc cằm đẹp để thấy đường nét thanh mảnh trên khuôn mặt!</span>
	    							</p>
	    						</div>
	                        </div>
	                    </div>

	                <div class="front-box10">
	                    <h4 class="content-section__tit">
	                        Nếu phù hợp tất cả các điều kiện thì có <br>
	                        <strong class="content-highlight type-front">rất nhiều ưu điểm</strong> trong việc độn cằm
	                    </h4>
	                    <p class="content-section__txt1">
							Ưu điểm lớn nhất của việc độn cằm là thay vì gọt xương thì độn cằm làm cho bệnh nhân cảm thấy nhẹ nhàng hơn.<br>
	                        Vì chỉ cần độn silicon phù hợp với khung xương và phương pháp làm đơn giản hơn so với gọt cằm nên thời gian phẫu thuật ngắn và hồi phục nhanh.
						</p>
	                    <p class="content-section__txt2">
							Hơn nữa độn cằm  <span class="color-contour18">không nhìn thấy thẹo</span> vì cắt bên trong miệng và có thể
							<span class="color-contour18">điều chỉnh để tạo dáng cằm theo mong muốn</span> nên độ hài lòng của khách hàng cao.
						</p>
	                </div>

	                <div class="front-box11">
	                    <ol class="front-box11__list">
	                        <li class="front-box11__item nth-1">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">Cắt</h5>
	                                <p class="front-box11__txt">Cắt 1-2 chỗ dài khoảng 1cm phía bên trong môi dưới</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-2">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">Độn cằm</h5>
	                                <p class="front-box11__txt">Độn cằm có hình dáng thích hợp với khung xương của mình</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-3">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">Khâu</h5>
	                                <p class="front-box11__txt">Đặt cằm độn vào vị trí an toàn, cố định rồi khâu lại.</p>
	                            </div>
	                        </li>
	                    </ol>
	                </div>

	                <div class="front-box12">
	                    <div class="front-box12__wrap">
	                        <div class="front-box12__box">
	                            <div class="front-box12__tit">
	                                <h4 class="content-section__tit">
	            						Tạo 1 chiếc
	                                    <span class="content-highlight type-gray">cằm độn</span> đẹp phù hợp với bản thân và
	                                    <span class="content-highlight type-gray">đường nét khuôn mặt rõ ràng !!</span>
	            					</h4>
	                            </div>
	                        </div>

	                        <div class="front-box12__box2">
	                            <div class="front-box12__list-wrap">
	                                <ul class="front-box12__list">
	                                    <li class="front-box12__item nth-1">
	                                        <p class="front-box12__txt">
	                                            Cắt bên trong miệng nên
	                                            <strong class="color-contour22">không thấy thẹo</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-2">
	                                        <p class="front-box12__txt">
												Có thể phẫu thuật bằng<br>
	                                            phương pháp <strong class="color-contour22">gây mê cục bộ</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-3">
	                                        <p class="front-box12__txt">
												Thời gian phẫu thuật ngắn
	                                            <strong class="color-contour22">khoảng 30 phút</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-4">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">Có nhiều kích thước và hình dáng miếng độn cằm</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-5">
	                                        <p class="front-box12__txt">
	                                            Không cần nhập viện sau phẫu thuật
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-6">
	                                        <p class="front-box12__txt">
												Thay đổi vẻ đẹp mà<br>
	                                            <strong class="color-contour22">không đụng đến xương </strong>
	                                        </p>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">바노바기 보형물 앞턱 교정은 회복이 비교적 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 30 phút</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê cục bộ</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 2){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Hồi phục nhanh thông qua chương trình chăm sóc hậu phẫu thuật.<br>
											Cảm thấy đau sau khi hết thuốc mê nhưng sẽ giảm dần sau thời gian.<br>
											Hơi đau nhói một chút khi khử trùng sau khi cắt chỉ <br>
											Uống thuốc giảm đau hỗ trợ đau sốt do bị sưng đồng thời chườm lạnh để giảm sưng
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

			<!-- tab3 : 앞턱 주사시술-->
	        <div class="content-tab__page page-injection">
				<div class="content-tab__box type-margin0">
					<div class="front-box13">
	                    <div class="front-box13__wrap">
	                        <div class="front-box13__box">
	                            <div class="front-box13__tit">
	                                <h4 class="content-section__tit">
										<strong><span class="content-highlight2 type-front type-dark">Tiêm cằm</span>,</strong><br>
	            						giải pháp cho sự thay đổi tức thời và chi tiết !
	            					</h4>
	                                <p class="content-section__txt1">
	        							Tiêm cằm để tăng kích cỡ của cằm nếu như không muốn gọt xương hoặc độn cằm.<br>
	                                    Phương pháp này không đụng đến xương mà cấy mỡ hoặc tiêm filler dưới da để làm đầy phần còn thiếu.
	        						</p>
	                                <p class="content-section__txt2">
	        							Đây là phương pháp không hiệu quả nhiều như gọt cằm hoặc độn cằm nhưng đối với trường hợp chỉ cần đầy đặn thêm một chút thì đây là phương pháp nhanh gọn để tạo dáng cằm đẹp.
	        						</p>
	                            </div>
	                        </div>

	                        <div class="front-box13__box2">
	                            <div class="front-box13__list-wrap">
	                            <ul class="front-box13__list">
	                                <li class="front-box13__item nth-1">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">Cấy mỡ tự thân</p>
	                                    </div>
	                                    <div class="front-box13__area js-height">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Lấy mỡ vùng bụng hoặc đùi</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Tách tế bào gốc bằng máy ly tâm</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Cấy nhiều mỡ để có tỷ lệ sống cao.</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                                <li class="front-box13__item nth-2">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">Artecoll / filler thông thường </p>
	                                    </div>
	                                    <div class="front-box13__area js-height">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Ủ tê giảm đau trước khi tiêm</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Tiêm bằng kim tiêm micro cực nhỏ để có dáng cằm đẹp</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">Phù hợp với tiêm Artecoll, Filler bán vĩnh viễn.</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
