<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cheekbone">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-cheekbone">
	            <p class="content-visual__txt1">Công nghệ hợp nhất đường nét của khuôn mặt</p>
	            <h3 class="content-visual__tit">#phẫu thuật <span class="color-contour9">xương gò má</span></h3>
	            <p class="content-visual__txt2 type-cheekbone">Khuôn mặt nhỏ nhắn và mềm mại hoàn hảo với thiết kế tỉ mỉ</p>
	            <p class="caution-para1 type-cheekbone">※ Hình ảnh được chụp sau khi đã có sự đồng ý của bệnh nhân, hình ảnh có thể trông khác với thực tế tùy thuộc vào điều kiện chụp ảnh.</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cheekbone">

        <div class="content-wrap">
            <div class="content-section type-first">
                <div class="content-section__wrap">
                    <div class="cheek-box1">
                        <div class="content-section__box1 type-w4">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
                                Gương mặt phải có gò má thì mới <strong class="color-contour10">càng xinh đẹp hơn</strong>!
                            </h4>
                            <p class="content-section__txt1">
                                Xương gò má làm cho đường nét khuôn mặt không mượt mà và nặng nề. Vì vậy có rất nhiều khách hàng muốn cải thiện gò má đã tìm đến bệnh viện để tư vấn. Tuy nhiên ngược lại cũng có nhiều chương trình TV về Beauty blog cũng hướng dẫn cách trang điểm tạo gò má đẹp.
                            </p>
                            <p class="content-section__txt1 type-special">
                                Sự thật phi lý là có người thì muốn loại bỏ gò má còn có người thì lại muốn có gò má Đó là vì gò má phù hợp với tỷ lệ khuôn mặt tạo điểm nhấn trên khuôn mặt đẹp.
                            </p>

                            <p class="content-section__txt2">
                                <strong>
                                    Chính vì vậy phẫu thuật gò má không phải là chỉ gọt bớt xương gò má mà
                                    <span class="color-contour11">tạo một hình dáng gỏ má đẹp phù hợp với khuôn mặt.</span>
                                </strong>
                            </p>

                        </div>
                        <div class="content-section__box1 type-w6 ">
                            <div class="content-section__img sec1-thumb">
                                <img src="../../images/contour/contour_cheekbone_section02.png" loading="lazy" alt="model">
                                model
                            </div>
                        </div>
                    </div>
                </div><!-- //content-section__wrap-->
            </div>
            <!--contenct-section-->
            <div class="content-section sec2-section">
                <div class="cheek-box2">
                    <div class="content-section__box1 sec2-bg">
                        <div class="content-section__box1 tit-box type-sort">
                            <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
                                <strong class="color-contour10">Trọng tâm </strong> là tái cấu trúc lại xương gò má.
                            </h4>
                        </div>
                        <div class="content-section__box1 content-box">
                            <p class="content-section__txt1 type-sort color-contour13 type-unique">
								BANOBAGI ghép khung gò má phức tạp( bao gồm xương gò má và mõm gò má) thành một thể thống nhất.
								Không phải là mài gò má mà cắt xương gò má rồi chuyển đến vị trí phù hợp.
								Phương pháp phẫu thuật này cắt tạo gò má phù hợp với từng cá nhân ,
								vì vậy đòi hỏi bác sĩ phải có kinh nghiệm và chuyên môn cao mới có thể phẫu thuật được.
								Và phạm vi di chuyển vị trí gò má rộng hơn và trong phạm vi an toàn làm tăng tính hiệu quả của phẫu thuật.
                            </p>
                            <div class="content-section__img-wrap sec2-box clearfix">
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-1.jpg" loading="lazy" alt="Phạm vi cắt xương gò má thông thường" class="content-section__thumb sec2-pic1">
                                        <div class="content-section__thumb sec2-pic1"></div>
                                        <div class="content-section__desc type-wide color-contour14">
                                            <p class="content-section__txt sec2-txt">Phạm vi cắt xương gò má thông thường</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-2.jpg" loading="lazy" alt="Phạm vi cắt xương gò má ở BANOBAGI"class="content-section__thumb sec2-pic1">
                                        <div class="content-section__desc type-wide color-contour15">
                                            <p class="content-section__txt sec2-txt">Phạm vi cắt xương gò má ở BANOBAGI</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="content-section__wrapper">
								<div class="brace type-basic">
									<p class="brace__txt txt-v4">
										Phẫu thuật gò má là sắp xếp lại cấu trúc xương gò má để <span class="color-contour12">tạo hình dáng gò má tự nhiên</span> và
										<span class="color-contour12">kích thước gò má cũng giảm nhiều khi nhìn từ nhiều góc độ.</span>
									</p>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
            <div class="content-section sec3-section">
                <div class="cheek-box3">
                    <div class="content-section__bg clearfix">
                        <div class="content-section__box1 sec3-width type-w6">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
                                Cải thiện hiệu quả và<br>
                                <strong class="color-contour10">cố định chắc chắn xương gò má</strong>
                            </h4>
                            <div class="content-section__box1 sec3-unique">img</div>
                            <div class="content-section__desc-box sec3-desc">
                                <p class="content-section__txt1">
                                    Thế mạnh của Banobagi là phẫu thuật an toàn tái cấu trúc lại gò má mà không mài xương <br class="hidden-t">
                                    <span class="content-highlight type-cheekbone">Banobagi tính toán cẩn thận lực tác động của cơ thái dương bên trong phức hợp cung gò má rồi cố định.</span>
                                    Đồng thời cố định cùng lúc phía trước và sau của phần tiếp xúc với xương. Chỉ cần cố định đúng thôi cũng giống như phẫu thuật xương thông thường thì xương sẽ lành tự nhiên và càng chắc chắn hơn.
                                </p>
                            </div>
                        </div>
                        <div class="content-section__box1 sec3-width sec3-type-w4">
                            <div class="content-section__thumb">
                                <img src="../../images/contour/contour_cheekbone_section04.png" loading="lazy" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">point</span></div>
								</div>
								<h5 class="content-section__tit sec4-tit">
                                    <strong class="color-contour16">Công nghệ Banobagi</strong> là phẫu thuật cố định xương mặt tạo để tạo gò má đẹp.
								</h5>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Phân tích khoa học
													lực tác động
													lên cung gò má
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Cố định chắc chắn
													phần tiếp xúc
													với xương
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Cố định chắc chắn
													vị trí cung gò má
													và cơ thể
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h6 class="hexa-pattern__txt type-cheekbone type-unique">
													Công nghệ của
													BANOBAGI
												</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Phân tích khoa học
											lực tác động
											lên cung gò má
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Cố định chắc chắn
											phần tiếp xúc
											với xương
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Cố định chắc chắn
											vị trí cung gò má
											và cơ thể
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h4 class="hexa-pattern__txt type-cheekbone type-unique">
											Công nghệ của
 											BANOBAGI
										</h4>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng - 1 tiếng 30 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày/Nhập viện khoảng 1 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 - 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Sau phẫu thuật thuốc mê tan từ từ và bệnh nhân có thể cảm thấy đau âm ỉ.
									Uống thuốc theo đơn bác sĩ để giảm đau vì sau phẫu thuật có thể không thoải mái và cảm giác cứng.
									Nếu không bị tác động mạnh thì cảm giác đau xương sẽ ít hơn so với vết mổ.
									Chứng sưng và đau bắt đầu giảm trong vòng 5 ngày sau phẫu thuật.
									Chương trình chăm sóc hậu phẫu giúp cho quá trình hồi phục nhanh hơn.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
            <!--operation-->
            <div class="content-section sec5-section">
                <div class="cheek-box5">
                    <div class="content-section__box1">
                        <div class="content-section__bg sec5-bg">
                            <div class="content-section__box1 sec5-bg-small">
                                <h4 class="content-section__tit">
									Phẫu thuật hạ<br class="hidden-m">
									gò má kết hợp<br class="hidden-m">
                                    <strong class="color-contour12">ngăn ngừa chảy xệ da!</strong>
                                </h4>
                                <p class="content-section__txt1 type-unique">
                                    Khi thay đổi vị trí của xương gò má đồng thời cũng phải giảm thịt bọc xung quanh xương gò má.
									Tuy nhiên với da lão hóa hoặc có độ đàn hồi kém thì má rất dễ bị xệ.
									Đặc biệt là xuất hiện nếp nhăn hai bên rãnh cười, rãnh nhăn má trước và vùng dưới mắt.
                                </p>
                            </div>
                            <div class="content-section__desc type-unique">
                                <p class="content-section__txt1 sec5-txt1 type-space">
                            		<span class="color-contour11">
                            			Banobagi sử dụng
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info-btn</span>
												band đàn hồi
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Elasticum</strong> là gì?<br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-img.jpg" loading="lazy" alt="Elasticum" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    Elasticum đóng vai trò như dây chằng để kết nối với các bộ phận xung quanh trong cơ thể nên có hiệu quả trong việc cải thiện da chảy xệ bằng cách tăng cường lớp cơ sâu bên trong lớp da bị nhão.Hơn nữa Elasticum còn có tính đàn hồi cao nên so với kết quả  thì ưu điểm là rất tự nhiên.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															Đóng
														</button>
													</span>
												</span>
											</a>
			                            </span> và
                            			<span class="content-section__info pop-info">

											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info-btn</span>
												endotine
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span>Endotine là gì?</span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-endo.jpg" loading="lazy" alt="img" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    Endotine là vật liệu an toàn, thân thiện với cơ thể được chứng nhận của FDA Mỹ. Endotine được dùng nhiều trong phẫu thuật nội soi để cải thiện da chảy xệ như kéo căng da với lực đều nhau nhằm cải thiện các nếp nhăn tự nhiên và cho hiệu quả lâu dài, hạn chế để lại thẹo và hấp thụ một cách tự nhiên vào da.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															Đóng
														</button>
													</span>
												</span>
											</a>
                            			</span>
                            		để giải quyết tình trạng da chảy xệ.</span>
                                    <br class="hidden-m">
                                    Band đàn hồi là chỉ đặc biệt có hiệu quả bảo vệ da khỏi chảy xệ. Endotine cũng có hiệu quả giống như chỉ đặc biệt nhưng tùy vào từng hoàn cảnh mà sử d ụng endotine hay Band đàn hồi, vì vậy phẫu thuật thẫm mỹ gò má Banobagi không cần lo lắng về chảy xệ da.
                                </p>
                            </div>
                            <div class="content-section__box1">
                                <ul class="content-section__list type-wrap clearfix">
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-1.jpg" loading="lazy" alt="Rãnh nước mắt(Endotine)">
                                            <div class="content-section__thumb sec5-pic1">Rãnh nước mắt(Endotine)</div>
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">Rãnh nước mắt <br class="hidden-p">(Endotine)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-2.jpg" loading="lazy" alt="Indian Band (Elasticum, Endotine)">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">Indian Band  <br class="hidden-p">(Elasticum, Endotine)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-3.jpg" loading="lazy" alt="Rãnh nhăn khóe miệng (Elasticum, Endotine)">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">Rãnh nhăn khóe miệng  <br class="hidden-p">(Elasticum, Endotine)</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 50 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê cục bộ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Sau phẫu thuật thuốc mê tan từ từ và bệnh nhân có thể cảm thấy đau âm ỉ.
									Uống thuốc theo đơn bác sĩ để giảm đau vì sau phẫu thuật có thể không thoải mái và cảm giác cứng.
									Nếu không bị tác động mạnh thì cảm giác đau xương sẽ ít hơn so với vết mổ.
									Kéo có thể thấy đau ở những điểm căng chỉ elasticum hoặc endotine.
									Chứng sưng và đau bắt đầu giảm trong vòng 5 ngày sau phẫu thuật.
									Chương trình chăm sóc hậu phẫu giúp cho quá trình hồi phục nhanh hơn.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

        </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
