<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="contour-protrusion">
		<div class="new-visual type-protrusion">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Hình ảnh nhìn nghiêng quan trọng như phía chính diện</p>
						<h3 class="new-visual__tit">Phẫu thuật <span class="inline-block n-color-contour2">miệng hô</span></h3>
						<p class="new-visual__txt">Cấu trúc răng đẹp tạo nên khuôn miệng quyến rũ</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Cải thiện cấu trúc răng</span></li>
							<li class="new-visual__item"><span>#Khuôn miệng quyến rũ</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-bottom type-protrusion">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Miệng hô là <span class="n-color-contour2">nguyên nhân của hình ảnh không đẹp.</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						Hầu hết mọi người đều tự nhìn mình qua gương. Vì vậy, họ chú ý nhiều đến khuôn mặt được nhìn từ chính diện. Tuy nhiên, từ quan điểm của người khác, mặt bên của khuôn mặt cũng được nhìn nhiều như phía chính diện. Và <span class="color-black1">khi nhìn nghiêng, nhìn thoáng qua là thấy được cảm giác lập thể của khuôn mặt nên nó ảnh hưởng nhiều đến sự hình thành hình ảnh của cá nhân.</span><br><br>

						Miệng hô là một trong những nguyên nhân điển hình tạo nên hình ảnh không đẹp của khuôn mặt. Nó tạo ra tỷ lệ tai mắt mũi miệng không tự nhiên và làm cho khuôn mặt trông to hơn hoặc gây nên nếp nhăn rãnh mũi má hoặc nếp nhăn chóp cằm làm cho khuôn mặt trông già đi hoặc tạo ấn tượng thô lỗ và giận giữ do khuôn miệng bị lệch.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Ngoài ra, không chỉ có vấn đề về mặt thẩm mỹ mà nó còn đi kèm với các vấn đề về sức khỏe như ăn kém do lệch khớp cắn, sâu răng, dị ứng do thở bằng miệng, v.v. nên cần phải có
						<span class="n-color-contour2">sự nắm bắt và cải thiện vấn đề thông qua chẩn đoán chính xác.</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_1.png" loading="lazy" alt="img" class="img-normal">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-protrusion">
					<div class="img-style9">
						<h5 class="new-content-tit tit-new2 color-white">Các vấn đề do miệng hô</h5>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour txt-new2">Ấn tượng không đẹp</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_2.png" loading="lazy" alt="Tỷ lệ khuôn mặt không tự nhiên" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">Tỷ lệ khuôn mặt không tự nhiên</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_3.png" loading="lazy" alt="Khuôn mặt già do nếp nhăn rãnh mũi má, nếp nhăn chóp cằm" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">Khuôn mặt già do nếp nhăn rãnh mũi má, nếp nhăn chóp cằm</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_4.png" loading="lazy" alt="Ấn tượng thô lỗ và giận giữ" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">Ấn tượng thô lỗ và giận giữ</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour2 txt-new2">Sức khỏe giảm sút</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_5.png" loading="lazy" alt="Sâu răng và khớp cắn lệch cấp 2" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">Sâu răng và khớp cắn lệch cấp 2</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_6.png" loading="lazy" alt="Dị ứng do thở bằng miệng" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">Dị ứng do thở bằng miệng</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Phải <span class="n-color-contour2">nắm rõ nguyên nhân</span> và lập kế hoạch phẫu thuật chuẩn xác
					</h4>
					<p class="new-style1__txt txt-new2">
						Về mặt y học, miệng hô là nói đến tình trạng miệng nhô ra nhiều hơn khi <span class="n-color-contour2">chóp mũi và chóp cằm nối thành một đường tưởng tượng</span>.
					</p>
					<p class="new-style1__txt2 txt-new1">
						Nguyên nhân phổ biến nhất là trường hợp chỉ có răng nhô ra và trường hợp xương lợi cùng nhô ra. Nếu chỉ có răng nhô ra thì có thể cải thiện miệng hô bằng điều trị chỉnh nha cơ bản. Nhưng với người phương Đông thì có nhiều trường hợp xương lợi cùng nhô ra và loại hình này cũng đa dạng nên việc lập kế hoạch phù hợp thông qua kiểm tra kỹ lưỡng là rất quan trọng.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_7.jpg" loading="lazy" alt="Chẩn đoán miệng hô Banobagi - Miệng nhô ra nhiều hơn đường tiêu chuẩn" class="img-normal"/>
					</div>
					<div class="inner-box">
						<div class="process-style3 type-contour">
							<h5 class="new-content-tit tit-new2">
								<span class="weight-regular">Chẩn đoán miệng hô Banobagi</span> chính xác hơn
							</h5>

							<div class="process-style3__box">
								<ul class="process-style3__list">
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_8.jpg" loading="lazy" alt="Sự tư vấn tỉ mỉ của chuyên gia" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												Sự tư vấn tỉ mỉ của chuyên gia
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_9.jpg" loading="lazy" alt="Sự hợp tác với Khoa phẫu thuật miệng-hàm mặt" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												Sự hợp tác với Khoa phẫu thuật miệng-hàm mặt
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_10.jpg" loading="lazy" alt="Sử dụng trang thiết bị chuyên môn như máy đo chính xác CT khuôn mặt 3D" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												Sử dụng trang thiết bị chuyên môn như máy đo chính xác CT khuôn mặt 3D
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="process-style3__result txt-new2">Lập kế hoạch phẫu thuật chính xác hơn</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Trọng tâm trong phẫu thuật miệng hô của Banobagi là
						<span class="n-color-contour3">di chuyển điểm A.</span>
					</h4>
					<p class="new-style1__txt txt-new2">
						Điểm A là nói <span class="n-color-contour3">đến điểm sống mũi và nhân trung gặp nhau khi nhìn từ bên cạnh</span>.
					</p>
					<p class="new-style1__txt2 txt-new1">
						Hầu hết người phương Đông có nhiều trường hợp miệng hô dưới dạng điểm A nhô lên trước và điều này có nghĩa là xương lợi cũng nhô về phía trước. Do đó, để phẫu thuật miệng hô một cách hiệu quả, cần phải tập trung vào việc di chuyển điểm A bằng cách cắt xương hàm trên bao gồm cả răng.<br><br>

						<span class="color-white">Banobagi hướng đến việc di chuyển điểm A này một cách chính xác.</span><br class="hidden-tm">
						Chúng tôi lập kế hoạch phẫu thuật chính xác để di chuyển xương hàm bằng cách nắm lấy vị trí thích hợp của xương cần di chuyển nên tạo ra được kết quả làm hài lòng hơn. Ngoài ra, chúng tôi cũng có thể mang đến một cuộc phẫu thuật bảo tồn được các mạch máu, giảm tổn thương tổ chức, an toàn và ít gánh nặng hơn thông qua việc cắt xương chính xác.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_11.jpg" loading="lazy" alt="Phẫu thuật miệng hô Banobagi Điểm A" class="img-normal"/>
					</div>
					<div class="inner-box type-list-img">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit tit-new2">
								<strong class="weight-regular">Phẫu thuật miệng hô Banobagi</strong> làm di chuyển điểm A một cách hiệu quả hơn.
							</h5>
							<div class="new-description__wide">
								<div class="img-style3">
									<ul class="img-style3__list">
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_12.jpg" loading="lazy" alt="Phẫu thuật miệng hô Banobagi làm di chuyển điểm A một cách hiệu quả hơn." class="img-w100">
											</div>
										</li>
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_13.jpg" loading="lazy" alt="Phẫu thuật miệng hô Banobagi làm di chuyển điểm A một cách hiệu quả hơn." class="img-w100">
											</div>
										</li>
									</ul>
								</div>
							</div>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										Hướng tới việc di chuyển điểm A một cách chính xác bằng việc điều chỉnh thích hợp bao gồm cả xương lợi
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										Gánh nặng phẫu thuật giảm đáng kể do việc cắt xương điều chỉnh đã được lên kế hoạch chính xác
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										An toàn hơn với kỹ thuật bảo tồn các mạch máu và giảm tổn thương tổ chức
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-protrusion4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Banobagi luôn nghĩ tới <span class="n-color-contour2">mức độ thỏa mãn về mặt thẩm mỹ</span> cùng với việc
						<span class="n-color-contour2">cải thiện cấu trúc răng</span>.
					</h4>
					<p class="new-style1__txt txt-new1">
						Phẫu thuật miệng hô là phương pháp cải thiện cấu trúc răng một cách chính xác cũng như mang lại sự thỏa mãn về mặt thẩm mỹ. Tuy nhiên, cảm giác lập thể của khuôn mặt được xác định bởi chiều cao tương đối của đường bên khuôn mặt và các loại hình miệng hô cũng khác nhau đối với mỗi cá nhân. Vì vậy, sự thật là vị trí của cằm được cải thiện về mặt chức năng không phải lúc nào cũng tạo ra được vẻ đẹp thẩm mỹ lý tưởng. Nếu có những bệnh nhân mong đợi một sự thay đổi mạnh mẽ về mặt thẩm mỹ và nói rằng sau phẫu thuật họ không đạt được mức độ hài lòng như suy nghĩ ban đầu thì có khả năng đây là cuộc phẫu thuật miệng hô theo tiêu chuẩn chỉ xem xét đến chức năng như đã đề cập ở trên.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Vì vậy, Banobagi phân chia loại hình miệng hô theo mỗi cá nhân một cách tỉ mỉ và thực hiện phẫu thuật miệng hô phù hợp. Vì áp dụng
                        <span class="n-color-contour2">phương pháp cải thiện tâm lý phức cảm tự ti của cá nhân đồng thời với việc điều chỉnh đúng cấu trúc răng</span> nên phẫu thuật miệng hô Banobagi có hiệu quả cải thiện về mặt thẩm mỹ vượt trội và làm hài lòng hơn.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_14.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-protrusion2">
					<div class="inner-box">
						<div class="process-style4 type-contour">
							<h5 class="new-content-tit tit-new2">
								<span class="weight-regular">Phẫu thuật theo các loại hình</span> phù hợp với từng cá nhân
							</h5>

							<div class="inner-circle type-contour type-big type-cling">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Tạo cảm giác lập thể
											với hình ảnh
											nhìn nghiêng
											lý tưởng hơn
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Ấn tượng
											tươi tắn hơn
											với khuôn miệng quyến rũ
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Nhấn mạnh
											cảm giác tinh tế hơn
											với sự hài hòa
											của khuôn mặt cân đối
										</div>
									</li>
								</ul>
							</div>

							<ul class="process-style4__list">
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">01</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_15.jpg" loading="lazy" alt="Miệng hô nhìn thấy cả lợi" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">Miệng hô nhìn thấy cả lợi</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">Phẫu thuật miệng hô + phẫu thuật hai hàm</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">02</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_16.jpg" loading="lazy" alt="Miệng hô không ngậm được môi" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">Miệng hô không ngậm được môi</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">Phẫu thuật miệng hô + phẫu thuật ba hàm phân chia kết hợp</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">03</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_17.jpg" loading="lazy" alt="Miệng hô có nếp nhăn rãnh cười sâu" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">Miệng hô có nếp nhăn rãnh cười sâu</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">Phẫu thuật miệng hô + hai hàm mini</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">04</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_18.jpg" loading="lazy" alt="Miệng hô nhìn thô lỗ" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">Miệng hô nhìn thô lỗ</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">Phẫu thuật miệng hô + phẫu thuật đường viền khuôn mặt</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-protrusion3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Kết quả hài lòng hơn và hồi phục nhanh hơn,
                        <span class="n-color-contour3">quản lý hậu phẫu tốt là trọng tâm.</span>
                    </h4>
					<p class="new-style1__txt txt-new2">
						Kết quả của phẫu thuật miệng hô khác nhau <span class="n-color-contour3">tùy thuộc vào quản lý hậu phẫu.</span>
						Bởi vì, các tổ chức mềm như cơ và da phải được ổn định vị trí sao cho phù hợp với hình dạng của cằm đã thay đổi sau phẫu thuật thì mới đạt kết quả mong đợi như trong bước lập kế hoạch ban đầu.
					</p>
                    <p class="new-style1__txt2 txt-new1">
                        Do đó, khi phẫu thuật miệng hô, phải chú ý đến việc phục hồi và quản lý triệu chứng sưng tương tự như phẫu thuật chính xác. Banobagi có <span class="color-white">bí quyết quản lý hậu phẫu một cách hệ thống như phẫu thuật chính xác dựa trên các kinh nghiệm lâm sàng.</span> Chúng tôi có sách hướng dẫn điều trị hậu phẫu phù hợp với từng tình huống và giai đoạn, đồng thời thực hiện quản lý tập trung sử dụng các thiết bị như Elastone Therapy. Cải thiện vẻ ngoài tự nhiên và hình dạng khuôn mặt một cách hiệu quả hơn chính là điều mang lại sự tự tin cho Banobagi.
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-txt tit-new2">Elastone Therapy</h5>
							<p class="new-stripe__txt txt-new1">
								Là phương pháp điều trị có thể mong đợi về hiệu quả đàn hồi da cùng với việc giảm sưng tấy, tăng khả năng miễn dịch bằng cách sử dụng sóng siêu âm, trị liệu bằng đá, tần số cao, v.v.. Nó có tác dụng vượt trội trong quản lý sau phẫu thuật đường viền khuôn mặt như phẫu thuật hàm vuông hoặc gò má, phẫu thuật cằm, v.v..
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="Thiết bị sóng siêu âm" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Thiết bị sóng siêu âm</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Nếu rung động cực nhỏ của sóng siêu âm gặp da và cơ thể thì sẽ tạo nên sự giãn nở mạch máu và lưu lượng máu tăng lên bởi rung động và nhiệt. Điều này giúp lưu thông máu và bạch huyết và giảm sưng tấy nhanh hơn.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="Stone Therapy (Liệu pháp đá)" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Stone Therapy (Liệu pháp đá)</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Đây là liệu pháp nhiệt sử dụng đá thiên nhiên được làm nóng để tăng khả năng miễn dịch và giúp thư giãn các dây thần kinh bị căng thẳng và cơ bắp chặt chẽ. Nó làm cho tuần hoàn máu tốt hơn, làm sạch độc tố và chất thải trong cơ thể tương đối nhanh chóng, và có tác dụng chống phù nề tuyệt vời.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="Thiết bị tần số cao (RF)" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Thiết bị tần số cao (RF)</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											Thiết bị này truyền tần số cao tới các tổ chức sâu để tạo nhiệt sâu. Nhiệt sâu kích thích collagen của lớp trung bì và tăng cường chức năng của các tế bào, đồng thời đem đến hiệu quả đàn hồi do giúp thúc đẩy lưu thông máu và trao đổi chất.
										</p>
									</div>
								</li>
							</ul>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng - 4 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 - 4 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Trong quá trình hết thuốc gây mê, có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
									Khi cắt chỉ hoặc khử trừng vết khâu sẽ đau nhói một chút.<br>
									Triệu chứng đau và viêm do sưng tấy và cảm giác bị căng kéo có thể được giảm bớt bằng thuốc giảm đau theo đơn kê và việc chườm lạnh cũng rất hữu ích.<br>
									Có thể kiểm soát cơn đau và sự phù nề thông qua chăm sóc hậu phẫu một cách có hệ thống hơn được lên kế hoạch tại Banobagi.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="new-section">
				<div class="bg-style2">
					<h3 class="new-content-tit tit-new2">Kết hợp với phẫu thuật khác có thể đạt được kết quả tốt hơn</h3>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-mini">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h4 class="bg-style2__subtit txt-new2">Phẫu thuật hai hàm mini</h4>
									<p class="bg-style2__txt txt-new1">
										Thông qua phẫu thuật hai hàm mini, sẽ đạt được hiệu quả hơn hẳn phẫu thuật ghép xương quý tộc hoặc trượt cằm, bạn sẽ tìm được nét đẹp hấp dẫn hơn.
									</p>
									<a href="contourMini.php" class="bg-style2__btn txt-new1">
										<span>Xem ngay Phẫu thuật hai hàm mini</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div> -->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
