<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-slimface">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-slimface">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Giảm gánh nặng cho việc cắt xương và làm theo cách đơn giản hơn</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">Loại bỏ mỡ thừa và nâng cơ</span> mặt</h3>
						<p class="new-visual__txt">Khuôn mặt được cải thiện dựa trên sự hiểu biết về tổ chức các lớp trên khuôn mặt</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Nâng cơ mặt Acculift</span></li>
							<li class="new-visual__item"><span>#Điều chỉnh túi mỡ má</span></li>
							<li class="new-visual__item"><span>#Thu gọn cơ nhai</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-slimface">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Chỉnh hình đường viền khuôn mặt, <span class="n-color-contour2">không chỉ có biện pháp cắt xương</span>.
					</h4>
					<p class="new-style1__txt txt-new1">
						Thông thường khi nhắc đến chỉnh hình đường viền khuôn mặt, mọi người dễ nghĩ rằng chỉ phẫu thuật cắt xương mặt. Nhưng có rất nhiều phương pháp đa dạng giúp cải thiện hình dạng khuôn mặt mà không nhất thiết phải cắt xương mặt. Bởi vì, <span class="color-black1">ngoài xương ra, hình thái khuôn mặt còn được quyết định theo mức độ phát triển của các tổ chức mềm đa dạng như da, mỡ, cơ, v.v.. </span> Nếu là trường hợp bị khổ tâm về hình dạng khuôn mặt do tổ chức mềm nhô ra hoặc chảy xệ mà không phải là vấn đề về xương mặt thì phải điều chỉnh tổ chức mềm này cho đúng với hướng mong muốn thì mới đạt được chỉnh hình đường viền khuôn mặt một cách hài lòng.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Do vậy chỉnh hình đường viền khuôn mặt không chỉ có phẫu thuật cắt xương mà việc <span class="n-color-contour2">điều chỉnh đối với tổ chức mềm cũng quan trọng</span> và nếu cần thiết để cải thiện khuôn mặt hiệu quả hơn thì nên thực hiện đồng thời cắt xương mặt và điều chỉnh tổ chức mềm.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/slimface/slimface_img_1.png" loading="lazy" alt="Xương mặt, Tổ chức mềm" class="img-normal"/>
					</div>
				</div>
				<div class="new-style1 type-slimface2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style3 type-contour">
                            <h5 class="new-content-tit tit-new2">
                                Các yếu tố đa dạng quyết định hình dạng khuôn mặt
                            </h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_2.jpg" loading="lazy" alt="Xương mặt" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										Xương mặt
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_3.jpg" loading="lazy" alt="Da" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										Da
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_4.jpg" loading="lazy" alt="Cơ" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										Cơ
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_5.jpg" loading="lazy" alt="Mỡ" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										Mỡ
									</p>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
				<div class="new-style1 type-slimface3 type-bottom">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">Chẩn đoán và phẫu thuật chính xác hơn</span>
							sẽ mang lại hiệu quả tốt hơn
						</h4>
					 	<p class="new-style1__txt txt-new1">
					 		Ưu điểm của chỉnh hình đường viền khuôn mặt thông qua cải thiện tổ chức mềm là ít gánh nặng hơn so với phẫu thuật cắt bỏ xương mặt. Do vết mổ tương đối nhỏ và thực hiện bằng bóc tách nên hầu như không có lo lắng về đau đớn hay sẹo và thời gian cần thiết để phục hồi tương đối ngắn vì không cắt xương.
							<span class="color-white">Vì vậy, nếu có thể nắm bắt được chính xác tình trạng của mỗi cá nhân để lựa chọn phương pháp cải thiện nhược điểm thích hợp thì chỉ cần chỉnh sửa tổ chức mềm thôi cũng sẽ mang lại kết quả chỉnh hình đường viền khuôn mặt hiệu quả.</span>
					 	</p>
					 	<p class="new-style1__txt2 txt-new2">
					 		Banobagi có <span class="n-color-contour3">đội ngũ chuyên gia chỉnh hình đường viền khuôn mặt</span> có kinh nghiệm lâu năm và bí quyết để thực hiện gọt thịt trên mặt.
					 	</p>
						<div class="inner-circle type-contour3 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Thiết lập
										phương pháp cải thiện
										thông qua tư vấn chuyên sâu
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Phân tích
										thông qua các thiết bị
										chuyên môn đa dạng
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Kỹ thuật cải tiến
										thông qua kinh nghiệm
										lâu năm và bí quyết
									</div>
								</li>
						 	</ul>
						</div>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/contour/slimface/slimface_img_6.jpg" class="img-normal" loading="lazy" alt="">
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">Chuyên gia chỉnh hình đường viền khuôn mặt của Banobagi</h5>
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/slimface/slimface_img_7.jpg" class="img-w100" loading="lazy" alt="">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-slimface4">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
							Hình dạng khuôn mặt quyến rũ được tạo nên bằng cách
	                        <span class="n-color-contour2">điều chỉnh tổ chức mềm</span>, loại bỏ thịt trên mặt Banobagi
	                    </h4>
						<div class="new-style1__img">
							<img src="../../images/contour/slimface/slimface_img_8.jpg" loading="lazy" alt="model" class="img-normal">
						</div>
	                    <div class="inner-box">
							<div class="img-style7 type-margin-zero">
								<ul class="img-style7__list">
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_9.png" class="img-w100" loading="lazy" alt="Khổ tâm về hình dạng khuôn mặt có cơ phát triển quá mức">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												Khổ tâm về hình dạng khuôn mặt có cơ phát triển quá mức
											</h5>
											<p class="img-style7__txt txt-new2">
												Phẫu thuật thu gọn cơ nhai
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_10.png" class="img-w100" loading="lazy" alt="Khổ tâm về hình dạng khuôn mặt có mỡ sâu trong khuôn mặt">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												Khổ tâm về hình dạng khuôn mặt có mỡ sâu trong khuôn mặt
											</h5>
											<p class="img-style7__txt txt-new2">
												Phẫu thuật điều chỉnh túi mỡ má
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_11.png" class="img-w100" loading="lazy" alt="Khổ tâm về hình dạng khuôn mặt có mỡ lớp mặt và da chảy xệ">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												Khổ tâm về hình dạng khuôn mặt có mỡ lớp mặt và da chảy xệ
											</h5>
											<p class="img-style7__txt txt-new2">
												Accusculpt
											</p>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-tab__line">line</div>
				<div class="new-tab type-contour">
					<div class="new-tab__tit">
						<div class="new-tab__wrap">
							<a href="" class="new-tab__btn">Accusculpt</a>
						</div>
					</div>
					<ul class="new-tab__list">
						<li class="new-tab__item is-active">
							<div class="new-tab__wrap">
								<a href="page-acusculf" class="new-tab__link">Accusculpt</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-cheek" class="new-tab__link">Điều chỉnh túi mỡ má</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-masticator" class="new-tab__link">Phẫu thuật thu gọn cơ nhai</a>
							</div>
						</li>
					</ul>
				</div><!-- //new-tab-->
				<div class="new-tab-content page-acusculf is-active">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									Accusculpt làm tăng thêm <span class="n-color-contour2">độ đàn hồi cho da song song với việc xử lý đường viền khuôn mặt.</span>
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		Các triệu chứng như cằm hai ngấn, gò má chảy xệ, v.v làm đường viền khuôn mặt không được rõ ràng phát sinh do mỡ ở lớp thượng bì dưới da mặt. Khi mỡ phát triển cùng với da chảy xệ sẽ tạo nên khuôn mặt bị cong và gây ra các nếp nhăn khác nhau như nếp nhăn rãnh mũi má.
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		Để cải thiện tình trạng chảy xệ này, Banobagi <span class="n-color-contour2">sử dụng Accusculpt để giảm mỡ và tăng độ đàn hồi cho da</span>.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		Accusculpt là thiết bị hút mỡ bằng laser, nhẹ nhàng hơn và có thể thực hiện thủ thuật chỉnh sửa làm cho việc cải thiện hình dạng khuôn mặt hiệu quả hơn. Do hút mỡ dưới da bằng cách làm tan mỡ chọn lọc nên tương đối an toàn mà không bị chảy máu hay kích ứng tổ chức. Ngoài ra, nó có hiệu quả kích thích collagen làm tăng độ đàn hồi của da nên có ưu điểm là không chỉ làm cho các đường nét khuôn mặt trở nên mịn màng và sắc nét hơn mà còn có hiệu quả cải thiện nếp nhăn sau phẫu thuật.
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Cải thiện hình dạng khuôn mặt tinh tế hơn
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Thủ thuật tương đối đơn giản
												và nhẹ nhàng
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Tăng đàn hồi cho da
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Có thể cải thiện
												hầu hết mọi bộ phận
												trên khuôn mặt
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_12.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 30 phút - 1 tiếng tùy thuộc vào bộ phận hoặc phạm vi tiểu phẫu</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">Nhận điều trị sau 7 ngày, kiểm tra sau 1 tháng</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Có thể có cảm giác có dị vật và đau một chút nhưng sẽ dần giảm bớt theo thời gian.<br>
											Vì thực hiện thông qua việc mổ bên trong miệng nên gần như không nhìn thấy sẹo.<br>
											Để hồi phục phần mổ bên trong miệng, nên tránh thức ăn nóng hoặc kích thích trong khoảng 2~3 ngày sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-tab-content page-cheek">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									Giảm mỡ túi mỡ má để <span class="n-color-contour2">hướng tới khuôn mặt thon thả hơn một cách trực tiếp.</span>
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		Túi mỡ má là phần tích lũy mỡ và phát triển ở sâu trong má và thường được gọi là kẻ hẹp hòi. Khuôn mặt có sự phát triển của kẻ hẹp hòi này thường mang lại ấn tượng không tốt đẹp và hai má nhô ra làm cho khuôn mặt trông to hơn hoặc không được thon gọn. Trong trường hợp này, khó có thể mong đợi một sự cải thiện lớn thông qua chế độ ăn kiêng hoặc hút mỡ thông thường nên cần phải <span class="color-black1">giảm kích thước của mỡ túi mỡ má bằng phương pháp trực tiếp hơn thông qua phẫu thuật điều chỉnh túi mỡ má. </span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		Chỉnh sửa túi mỡ má là phẫu thuật làm giảm mỡ nằm trong túi mỡ má. Vì vậy, nó có <span class="n-color-contour2">ưu điểm là có thể cải thiện hình dạng khuôn mặt thon gọn nhanh hơn</span>.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		Ngoài ra, do vết mổ được thực hiện bên trong miệng với đường rạch tương đối nhỏ khoảng 1 cm nên cũng có ưu điểm là hồi phục tương đối nhanh và gần như không nhìn thấy sẹo.
							 	</p>
								<div class="inner-circle type-contour3 type-bar">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Cải thiện hình dạng
												khuôn mặt thon gọn
												và tinh tế hơn
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Trực tiếp hơn và
												hiệu quả bán vĩnh cửu
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Hầu như
												không có nỗi lo
												về sẹo do vết mổ nhỏ
												chỉ khoảng 1cm
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Thời gian thực hiện thủ thuật
												tương đối ngắn, có thể
												sinh hoạt hàng ngày ngay trong ngày
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_13.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 20 phút - 30 phút</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">1 lần sau khoảng 7 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Có thể có cảm giác có dị vật và đau một chút nhưng sẽ dần giảm bớt theo thời gian.<br>
											Vì thực hiện thông qua việc mổ bên trong miệng nên gần như không nhìn thấy sẹo.<br>
											Để hồi phục phần mổ bên trong miệng, nên tránh thức ăn nóng hoặc kích thích trong khoảng 2~3 ngày sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-tab-content page-masticator">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									<span class="n-color-contour2">Cơ nhai có ảnh hưởng đến cằm vuông</span> cũng như xương cằm phát triển rộng
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		Cơ nhai là một cơ có vai trò quan trọng trong việc nhai thức ăn và nằm ở chóp hai cằm. Khi cắn mạnh răng hàm, nếu sờ thử vào chóp hai cằm thì chúng ta có thể cảm nhận được việc cơ nhai cứng hơn. Tuy nhiên, nếu cơ nhai này phát triển quá mức thì nó có thể trở thành cằm vuông, và trong <span class="color-black1">trường hợp nghiêm trọng nó trở thành nguyên nhân của bệnh nghiến răng nên việc giảm kích thước của cơ nhai thông qua tiêm Botox hoặc phẫu thuật thu gọn cơ nhai là cần thiết.</span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		Banobagi <span class="n-color-contour2">lựa chọn Botox hay phẫu thuật thu gọn cơ nhai thích hợp tùy theo tình trạng phát triển cơ nhai</span> của mỗi bệnh nhân.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		Đặc biệt, phẫu thuật thu gọn cơ nhai có hiệu quả lâu dài bán vĩnh cửu so với Botox, một phương pháp có hiệu quả tạm thời và có khả năng kháng thuốc, đồng thời thủ thuật đơn giản tới mức có thể sinh hoạt bình thường ngay trong ngày phẫu thuật. Vì vậy, phương pháp này có thể cải thiện cằm vuông mà lại tạo ít gánh nặng.
							 	</p>
								<div class="inner-circle type-contour3 type-bar">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Cải thiện
												hình dạng khuôn mặt thon gọn
												và tinh tế hơn
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Trực tiếp hơn và
												hiệu quả bán vĩnh cửu
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Có hiệu quả trong việc cải thiện
												bệnh nghiến răng
												hay khớp thái dương hàm
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Thời gian thực hiện
												thủ thuật tương đối ngắn,
												có thể sinh hoạt bình thường ngay trong ngày
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_14.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 30 phút</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">1 lần sau khoảng 7 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Có thể có cảm giác có dị vật và đau một chút nhưng sẽ dần giảm bớt theo thời gian.<br>
											Chườm lạnh vào chỗ sưng cũng rất hữu ích. <br>
											Vì thực hiện thông qua việc mổ bên trong miệng nên gần như không nhìn thấy sẹo. <br>
											Để hồi phục phần mổ bên trong miệng, nên tránh thức ăn nóng hoặc kích thích trong khoảng 2~3 ngày sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">Kết hợp với phẫu thuật khác có thể đạt được kết quả tốt hơn</h4>
						<ul class="bg-style2__list">
							<li class="bg-style2__item type-cheek">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">Phẫu thuật gò má</h5>
										<p class="bg-style2__txt txt-new1">
											Nếu là trường hợp gò má cùng phát triển thì có thể thực hiện đồng thời phẫu thuật gò má để hướng tới một kiểu khuôn mặt phù hợp với đường cằm thon dài.
										</p>
										<a href="contourCheek.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>Xem ngay trang Phẫu thuật gò má</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-front">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">Phẫu thuật cằm trước</h5>
										<p class="bg-style2__txt txt-new1">
											Bạn có thể mong đợi một đường viền khuôn mặt rõ ràng hơn thông qua phẫu thuật cằm trước.
										</p>
										<a href="contourFrontCheek.php" class="bg-style2__btn txt-new1">
											<span>Xem ngay trang Phẫu thuật cằm trước</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
