<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-case">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-case">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Chỉnh hình cho hầu hết các trường hợp</p>
						<h3 class="new-visual__tit">Phẫu thuật hai hàm <span class="n-color-contour2">theo từng loại hình</span></h3>
						<p class="new-visual__txt">Khuôn mặt được cải thiện nhờ chẩn đoán chính xác cho từng cá nhân</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Phân tích chuyên sâu</span></li>
							<li class="new-visual__item"><span>#Phẫu thuật chính xác</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-case">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Phải <span class="n-color-contour2">chẩn đoán chính xác</span> loại hình thì mới có thể tránh được phẫu thuật không cần thiết
					</h4>
					<p class="new-style1__txt txt-new1">
						Phẫu thuật hai hàm là phẫu thuật cắt và di chuyển xương cằm vốn có nên có ưu điểm là mang lại hiệu quả vượt trội. Nhưng, thực tế cũng có một số gánh nặng về quá trình phục hồi và triệu chứng đau. Vì vậy, trong phẫu thuật hai hàm, việc thiết lập chính xác hướng cải thiện mà bác sỹ chuyên khoa và bệnh nhân mong muốn và chỉ thực hiện phẫu thuật tối thiểu cần thiết đặc biệt quan trọng. Để đạt được điều này, cần phải nắm rõ tình trạng của bệnh nhân từ quá trình tư vấn và chẩn đoán.
					<p class="new-style1__txt2 txt-new2">
						Vì hình dạng khuôn mặt của một người được quyết định không chỉ bởi hình dạng của xương mà còn bởi các yếu tố khác nhau từ mỡ đến cơ và da nên <span class="n-color-contour2">việc xác định hướng phẫu thuật hai hàm chỉ bằng vẻ bề ngoài mà không có phân tích chuyên sâu thì có thể gây ra phẫu thuật quá mức hoặc phải phẫu thuật lại.</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/case/case_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-case2">
					<div class="inner-box">
						<div class="process-style5 type-fixed">
                            <h5 class="new-content-tit tit-new2">Phẫu thuật hai hàm cần phải có chẩn đoán loại hình chính xác</h5>

                            <div class="process-style5__wrap">
                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                Chẩn đoán hai hàm chính xác
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                Thiết lập hướng cải thiện đúng
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                Tối thiểu hóa đường phẫu thuật và cắt xương sao cho phù hợp với hướng cải thiện
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-contour">
                                            <p class="process-style5__txt txt-new2">
                                                Hồi phục nhanh và kết quả hài lòng hơn
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                Chẩn đoán hai hàm không chính xác
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                Thiết lập hướng cải thiện sai
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                Tăng khả năng phải bổ sung quá trình phẫu thuật không cần thiết, hồi phục chậm và các tác dụng phụ có thể xảy ra
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-gray">
                                            <p class="process-style5__txt txt-new2">
                                                Dẫn đến sự không hài lòng và phẫu thuật lại
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

                <div class="new-style1 type-case3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-contour3">Nắm bắt và cải thiện hầu hết mọi loại hình</span> với chẩn đoán cẩn thận
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        Kể từ khi thành lập vào năm 2000, Banobagi đã thành lập đội chuyên gia phẫu thuật thẩm mỹ đường viền khuôn mặt và đã tích lũy được kinh nghiệm và bí quyết về phẫu thuật hai hàm. Thông qua chẩn đoán và tư vấn chuyên sâu dựa vào máy đo CT chính xác khuôn mặt 3D trước khi phẫu thuật, các chuyên gia có thể nắm được cấu trúc của hai hàm, cơ biểu cảm của khuôn mặt và tiến hành phẫu thuật một cách an toàn và chính xác hơn thông qua sự hợp tác với bác sỹ Khoa gây mê, bác sỹ Khoa phẫu thuật răng hàm mặt, v.v.. Chính vì vậy, chúng tôi có thể hiểu rõ về tất cả các loại hình như <span class="color-white">cằm ngắn (cằm lẹm), cằm lưỡi cày, khuôn mặt dài, không cân đối và khách hàng có thể mong đợi về kết quả cải thiện chính xác và hài lòng hơn.</span>
                    </p>
                    <div class="inner-circle type-contour2 type-big">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
									Phẫu thuật hai hàm
									chỉnh sửa cằm ngắn (cằm lẹm)
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
									Phẫu thuật hai hàm
									chỉnh sửa cằm lưỡi cày
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
									Phẫu thuật hai hàm
									cho khuôn mặt dài
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
									Điều chỉnh
									sự mất cân đối
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="new-style1__img">
                        <img src="../../images/contour/case/case_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
                    </div>
                </div>
			</div><!--//new-section-->
			<div class="new-tab__line">line</div>
            <div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">Phẫu thuật hai hàm chỉnh sửa cằm lẹm</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-short" class="new-tab__link">Phẫu thuật hai hàm chỉnh sửa cằm lẹm</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-lantern" class="new-tab__link">Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-long" class="new-tab__link">Phẫu thuật hai hàm với khuôn mặt dài</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-asymmetry" class="new-tab__link">Điều chỉnh sự mất cân đối</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab -->

            <!-- Phẫu thuật hai hàm chỉnh sửa cằm ngắn (cằm lẹm) -->
            <div class="new-tab-content page-short is-active">
                <div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            Phẫu thuật hai hàm <span class="n-color-contour2">chỉnh sửa cằm ngắn</span>
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            Cằm ngắn (cằm lẹm) là trạng thái <span class="n-color-contour2">cằm trước không tiến lên phía trước một khoảng nhất định hoặc thậm chí lõm về phía sau</span> khi nhìn khuôn mặt từ phía bên cạnh.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            Cằm ngắn có thể chia thành hai trường hợp, đó là <span class="color-black1">trường hợp chóp cằm không phát triển đầy đủ và trường hợp cằm dưới bao gồm cả răng bị thụt vào hoàn toàn.</span> Nếu chỉ đơn giản là chóp cằm không phát triển đầy đủ thì có thể cải thiện thông qua phẫu thuật hàm trước bằng cách cắt xương hoặc độn vật cấy ghép. Nhưng nếu là trường hợp cằm dưới lệch với cằm trên thì cần phải cải thiện thông qua phẫu thuật hai hàm.
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_3.jpg" loading="lazy" alt="Phẫu thuật hai hàm chỉnh sửa cằm ngắn (cằm lẹm)" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">Phương pháp cải thiện cằm ngắn dựa theo các tình trạng thực tế</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_4.gif" class="img-w100" loading="lazy" alt="Trường hợp hàm dưới có bao gồm cả răng bị thụt về phía sau cần phải phẫu thuật hai hàm"/>
										<p class="img-style1__subject txt-new1">
											Trường hợp hàm dưới có bao gồm cả răng bị thụt
											về phía sau <span class="n-color-contour2">cần phải phẫu thuật</span> hai hàm
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_5.gif" class="img-w100" loading="lazy" alt="Trường hợp tình trạng của răng bình thường nhưng cằm trước không phát triển đầy đủ thì có thể cải thiện bằng phẫu thuật cằm trước."/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp tình trạng của răng bình thường nhưng cằm trước không phát triển đầy đủ thì <span class="color-black1">có thể cải thiện bằng phẫu thuật cằm trước.</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							Hình ảnh này có thể trông khác với thực tế tùy thuộc vào điều kiện chụp. Ảnh được chụp và đăng tải sau khi có sự đồng ý của bệnh nhân.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Phẫu thuật hai hàm chỉnh sửa cằm ngắn có <span class="n-color-contour2">bao gồm quá trình điều chỉnh khớp cắn của răng</span>.
						</h4>
						<p class="new-style1__txt txt-new1">
							Phẫu thuật hai hàm chỉnh sửa cằm ngắn với trường hợp hàm dưới có răng bị thụt vào hoàn toàn sẽ bao gồm quá trình điều chỉnh khớp cắn của răng. Do đó, <span class="color-black1">Banobagi hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt để lập kế hoạch phẫu thuật hai hàm dựa vào điều chỉnh khớp cắn của răng một cách chuyên nghiệp. </span>Điều cốt lõi là quá trình phẫu thuật được tiến hành theo tiêu chuẩn khớp cắn của răng thông qua điều trị chỉnh nha và việc cắt xương hàm dưới có bao gồm cả răng để khiến hàm tiến lên phía trước ở một mức độ hợp lý và giữ cố định hàm.<br><br>

							Lúc này, Banobagi <span class="color-black1">tạo mặt cắt xương thành đường chéo để giữ cố định xương chắc chắn hơn thông qua vùng tiếp hợp được mở rộng và cố gắng duy trì một cách tự nhiên nhất vị trí cố định giữa xương mới được cho tiến lên và xương cũ.</span> Vì hàm dưới được đẩy tiến lên phía trước hoàn toàn nên chóp cằm có hình khối lập thể và ranh giới với cổ sẽ trở nên rõ ràng, tạo nên kết quả là khuôn mặt trông thanh tú và sắc nét hơn.
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_6.jpg" class="img-normal" loading="lazy" alt="Phẫu thuật hai hàm chỉnh sửa cằm ngắn (cằm lẹm)">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Kế hoạch chỉnh nha thông qua hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Cắt chuyển hàm dưới có bao gồm cả răng
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Điều chỉnh hàm dưới được cắt xương đúng với khớp cắn và đẩy về phía trước
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Giữ cố định chắc chắn bằng kẹp (pin) Titan
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Thực hiện song song việc trị liệu điều chỉnh liên tục và chương trình hồi phục
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								<span class="n-color-contour3">Điểm chính</span> trong phẫu thuật hai hàm chỉnh sửa cằm ngắn của Banobagi
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										Cắt xương hai hàm thông thường
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="Cắt xương hai hàm thông thường">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Cắt xương đường chéo Banobagi
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="Cắt xương đường chéo Banobagi">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								Mở rộng diện tích tiếp hợp của xương bằng việc cắt xương đường chéo giúp <span class="color-white">khả năng cố định ổn định hơn.</span>
							</p>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày -->
            <div class="new-tab-content page-lantern">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            Phẫu thuật hai hàm <span class="n-color-contour2">chỉnh sửa cằm lưỡi cày</span>
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            <span class="n-color-contour2">Trường hợp cằm dưới phát triển dài ra</span> thường được gọi là cằm lưỡi cày.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            <span class="color-black1">Đây được coi là một trong những nỗi khổ tâm điển hình vì nó đi kèm với những bất tiện khác nhau trong cuộc sống hàng ngày như rối loạn khớp thái dương hàm hay phát âm không rõ ràng cũng như sự không hài lòng về mặt thẩm mỹ.</span><br><br>

							Có nhiều nguyên nhân tạo ra cằm lưỡi cày nhưng các chuyên gia chia ra thành 2 trường hợp lớn dựa theo tình trạng của xương. Đó là trường hợp tình trạng của răng bình thường khi ngậm miệng và chỉ chóp cằm phát triển dài và <span class="color-black1">trường hợp toàn bộ cằm dưới có bao gồm cả răng nằm ở phía trước.</span> Đối với trường hợp đầu thì có thể cải thiện bằng chỉnh hình chóp cằm thông qua cắt phù hợp nhưng trường hợp sau <span class="color-black1">sẽ được chẩn đoán là cần phải phẫu thuật hai hàm.</span>
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_9.jpg" loading="lazy" alt="Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">Phương pháp cải thiện cằm lưỡi cày theo các trạng thái</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_10.gif" class="img-w100" loading="lazy" alt="Trường hợp toàn bộ cằm dưới bao gồm cả răng phát triển dài cần phải phẫu thuật hai hàm"/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp toàn bộ cằm dưới bao gồm cả răng phát triển dài <span class="n-color-contour2">cần phải phẫu thuật hai hàm</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="Trường hợp khớp răng bình thường và chỉ có cằm trước phát triển dài có thể cải thiện bằng cằm trước"/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp khớp răng bình thường và cằm trước phát triển dài
                                            <span class="color-black1">có thể cải thiện bằng phẫu thuật cằm trước</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							Hình ảnh này có thể trông khác với thực tế tùy thuộc vào điều kiện chụp. Ảnh được chụp và đăng tải sau khi có sự đồng ý của bệnh nhân.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày <span class="n-color-contour2">bao gồm quá trình điều chỉnh khớp cắn của răng.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày với trường hợp toàn bộ hàm dưới có bao gồm răng nằm ở phía trước sẽ bao gồm quá trình điều chỉnh khớp cắn của răng. Do đó, Banobagi hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt để lập kế hoạch phẫu thuật hai hàm dựa vào điều chỉnh khớp cắn của răng một cách chuyên nghiệp. Quá trình phẫu thuật được <span class="color-black1">tiến hành theo tiêu chuẩn khớp cắn của răng thông qua điều trị chỉnh nha và tùy thuộc vào tình trạng cũng như kết quả mong muốn của bệnh nhân, việc cắt chuyển xương đồng thời hàm trên và hàm dưới có bao gồm cả răng để bố trí lại vị trí về phía sau cho phù hợp là rất quan trọng.</span><br><br>

							Lúc này, Banobagi tạo mặt cắt xương thành đường chéo để giữ cố định xương chắc chắn hơn thông qua vùng tiếp hợp được mở rộng và
							<span class="color-black1">cố gắng duy trì một cách tự nhiên nhất vị trí xương được nối.</span>
							Phương pháp phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày này có thể giúp cải thiện hiệu quả hơn vì đã đẩy lùi toàn bộ cằm dưới. Sau đó, đối với tổ chức mềm giữa cổ và cằm còn lại không cần thiết do giảm chiều dài hàm dưới, có thể cải thiện một cách tự nhiên bằng cách hút mỡ trong khoang miệng để mang lại kết quả mong đợi là khuôn mặt trở nên thanh tú và sắc nét hơn.
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_12.jpg" class="img-normal" loading="lazy" alt="Phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Kế hoạch chỉnh nha thông qua hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Cắt chuyển hàm dưới hoặc hai hàm có bao gồm cả răng
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Điều chỉnh hai hàm được cắt xương đúng với khớp cắn và đẩy về phía sau
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Giữ cố định chắc chắn bằng kẹp (pin) Titan
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Thực hiện song song điều trị chỉnh nha liên tục và chương trình hồi phục
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								<span class="n-color-contour3">Điểm chính</span> trong phẫu thuật hai hàm chỉnh sửa cằm lưỡi cày của Banobagi
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										Cắt xương hai hàm thông thường
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="Cắt xương hai hàm thông thường">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Cắt xương đường chéo Banobagi
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="Cắt xương đường chéo Banobagi">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								Mở rộng diện tích tiếp hợp của xương bằng việc cắt xương đường chéo <span class="color-white">giúp khả năng cố định ổn định hơn.</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Phẫu thuật cằm trước
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_13.jpg" class="img-w100" loading="lazy" alt="Phẫu thuật cằm trước">
									</div>

									<p class="compare4__txt txt-new1">
										Trong trường hợp cần thiết, <span class="color-white">giảm chiều dài của cằm trước để có được tỷ lệ khuôn mặt lý tưởng hơn</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Hút mỡ trong khoang miệng
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="Hút mỡ trong khoang miệng">
									</div>

									<p class="compare4__txt txt-new1">
										<span class="color-white">Đường cằm trở nên thanh tú hơn do tổ chức mềm không cần thiết</span> có thể còn lại do di chuyển hàm dưới
										<span class="color-white">đã được xử lý</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- Phẫu thuật hai hàm với khuôn mặt dài -->
            <div class="new-tab-content page-long">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            Phẫu thuật hai hàm cho <span class="n-color-contour2">khuôn mặt dài</span>
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            Khuôn mặt dài khi nhìn thoáng qua thì có hình dạng giống và có thể nhầm lẫn với cằm lưỡi cày. Nhưng <span class="n-color-contour2">khi nhìn từ góc độ y học thì khuôn mặt dài và cằm lưỡi cày là hai loại hình khác nhau và phẫu thuật cũng được tiến hành với những sự khác biệt tinh vi.</span>
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            Các yếu tố làm cho khuôn mặt dài rất đa dạng nhưng thường có các trường hợp đó là trường hợp xương ở phần lợi của hàm dưới phát triển quá mức theo chiều dọc làm cho lợi bị hở quá mức, trường hợp răng cửa hàm trên và dưới không ngậm được hết do hình dạng của hàm trên và hàm dưới và vấn đề về khớp cắn, và trường hợp đơn giản là hàm dưới dài làm cho khuôn mặt trông dài hơn.<br><br>

							<span class="color-black1">Nếu là trường hợp chỉ đơn thuần do cằm dưới dài thì có thể cải thiện bằng phẫu thuật hàm trước thông qua cắt xương làm giảm chiều dài của nó nhưng nếu là trường hợp khác thì cần phải cải thiện thông qua phẫu thuật hai hàm.</span>
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_15.jpg" loading="lazy" alt="Phẫu thuật hai hàm cho khuôn mặt dài" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">Phương pháp cải thiện khuôn mặt dài dựa theo tình trạng thực tế</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_16.gif" class="img-w100" loading="lazy" alt="Trường hợp khớp cắn mở do sự mất cân đối của hai hàm cần phải phẫu thuật hai hàm."/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp khớp cắn mở do sự mất cân đối của hai hàm
											<span class="n-color-contour2">cần phải phẫu thuật hai hàm.</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="Trường hợp xương lợi trên dài và hàm dưới phát triển dài cần phải phẫu thuật hai hàm."/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp xương lợi trên dài và hàm dưới phát triển dài
											<span class="n-color-contour2">cần phải phẫu thuật hai hàm.</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_17.gif" class="img-w100" loading="lazy" alt="Trường hợp khớp răng bình thường và cằm trước phát triển dài có thể cải thiện bằng phẫu thuật cằm trước"/>
										<p class="img-style1__subject txt-new1">
                                            Trường hợp khớp răng bình thường và cằm trước phát triển dài
											<span class="color-black1">có thể cải thiện bằng phẫu thuật cằm trước</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							Hình ảnh này có thể trông khác với thực tế tùy thuộc vào điều kiện chụp. Ảnh được chụp và đăng tải sau khi có sự đồng ý của bệnh nhân.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">Các phương pháp đa dạng được huy động</span> để có thể cải thiện những phần tạo nên khuôn mặt dài.
						</h4>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_18.jpg" class="img-normal" loading="lazy" alt="Phẫu thuật hai hàm cho khuôn mặt dài">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Kế hoạch chỉnh nha thông qua hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Cắt xương lợi trên phát triển dài để giảm chiều dài
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Di chuyển cằm dưới cho đúng với cằm trên và khớp cắn sau khi cắt xương
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Phẫu thuật bổ sung có xét đến sự hài hòa của khuôn mặt khi cần thiết
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Giữ cố định chắc chắn bằng kẹp (pin) Titan
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Thực hiện song song điều trị chỉnh nha liên tục và chương trình hồi phục
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								<span class="n-color-contour3">Điểm chính</span> trong phẫu thuật hai hàm cho khuôn mặt dài của Banobagi
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										Cắt xương hai hàm thông thường
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="Cắt xương hai hàm thông thường">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Cắt xương đường chéo Banobagi
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="Cắt xương đường chéo Banobagi">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								Mở rộng diện tích tiếp hợp của xương bằng việc cắt xương đường chéo <span class="color-white">giúp khả năng cố định ổn định hơn.</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Phẫu thuật cằm trước
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_19.jpg" class="img-w100" loading="lazy" alt="Phẫu thuật cằm trước">
									</div>

									<p class="compare4__txt txt-new1">
										Trong trường hợp cần thiết, <span class="color-white">giảm chiều dài của cằm trước để có được tỷ lệ khuôn mặt lý tưởng hơn</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Hút mỡ trong khoang miệng
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="Hút mỡ trong khoang miệng">
									</div>

									<p class="compare4__txt txt-new1">
										<span class="color-white">Xử lý sắp xếp tổ chức mềm không cần thiết</span> có thể còn sót lại do di chuyển hàm dưới để
										<span class="color-white">đường nét cằm trở nên rõ nét hơn.</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- Điều chỉnh sự mất cân đối -->
            <div class="new-tab-content page-asymmetry">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            Điều chỉnh <span class="n-color-contour2">sự mất cân đối</span>
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            Khi chia khuôn mặt theo đường trung tâm dọc, nếu <span class="n-color-contour2">sự đối xứng hai bên trái phải không khớp</span> thì được chẩn đoán là khuôn mặt không cân đối.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            Tất nhiên, khuôn mặt của một người không thể đạt được sự cân đối hoàn hảo nhưng nếu mức độ mất cân đối nghiêm trọng thì cần xem xét đến việc điều chỉnh. Vì sự mất cân đối trên khuôn mặt <span class="color-black1">không chỉ đem lại sự không hài lòng về mặt thẩm mỹ mà còn là nguyên nhân của bệnh khớp thái dương hàm</span> và việc sử dụng khớp không cân đối cùng với sự phát triển của cơ có thể làm gia tăng sự mất cân đối trên khuôn mặt.<br><br>

							Sự mất cân đối trên khuôn mặt tùy theo tình trạng được chia ra các trường hợp đó là trường hợp khớp cắn của hai hàm bị lệch làm cho miệng và cằm bị lệch theo, trường hợp xương mặt phát triển không cân đối, trường hợp tổ chức mềm không cân đối, và trường hợp mũi bao gồm trong đường trung tâm của khuôn mặt bị cong làm cho khuôn mặt bị mất cân đối, v.v.. Trong số đó, nếu là trường hợp <span class="color-black1">hàm trên và hàm dưới bị lệch làm cho khớp cắn bị lệch theo thì cần phải điều chỉnh bằng phẫu thuật hai hàm.</span>
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_20.jpg" loading="lazy" alt="Điều chỉnh sự mất cân đối" class="img-normal"/>
    					</div>

                        <div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">Lựa chọn phương pháp điều chỉnh sự mất cân đối theo tình trạng thực tế</h5>
								<ul class="img-style1__list type-half">
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_21.jpg" class="img-w100" loading="lazy" alt="Trường hợp khớp cắn của hai hàm bị lệch làm cho chiều ngang của răng bị lệch theo thì cần phải phẫu thuật hai hàm."/>
	                                    <p class="img-style1__subject txt-new1">
											Trường hợp khớp cắn của hai hàm bị lệch làm cho chiều ngang của răng bị lệch theo thì <span class="n-color-contour2">cần phải phẫu thuật hai hàm.</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_22.jpg" class="img-w100" loading="lazy" alt="Trường hợp xương mặt phát triển không cân đối thì có thể cải thiện bằng phẫu thuật gò má hoặc cằm vuông."/>
	                                    <p class="img-style1__subject txt-new1">
											Trường hợp xương mặt phát triển không cân đối thì
											<span class="color-black1">có thể cải thiện bằng phẫu thuật gò má hoặc cằm vuông.</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_23.jpg" class="img-w100" loading="lazy" alt="Trường hợp các tổ chức như cơ, mỡ bị mất cân đối thì có thể cải thiện bằng phương pháp như hút mỡ hoặc phẫu thuật thu gọn cơ nhai, v.v.."/>
	                                    <p class="img-style1__subject txt-new1">
											Trường hợp các tổ chức như cơ, mỡ bị mất cân đối thì
											<span class="color-black1">có thể cải thiện bằng phương pháp như hút mỡ hoặc phẫu thuật thu gọn cơ nhai, v.v..</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_24.jpg" class="img-w100" loading="lazy" alt="Trường hợp mũi bị cong vẹo làm cho khuôn mặt mất cân đối thì có thể cải thiện bằng việc điều chỉnh mũi bị cong."/>
	                                    <p class="img-style1__subject txt-new1">
											Trường hợp mũi bị cong vẹo làm cho khuôn mặt mất cân đối thì
											<span class="color-black1">có thể cải thiện bằng việc điều chỉnh mũi bị cong.</span>
										</p>
	                                </li>
								</ul>
							</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Phẫu thuật hai hàm của khuôn mặt không cân đối <span class="n-color-contour2">bao gồm quá trình điều chỉnh khớp cắn của răng</span>.
						</h4>

						<p class="new-style1__txt txt-new1">
							Phẫu thuật hai hàm của khuôn mặt không cân đối với trường hợp khớp cắn hàm trên và dưới bị lệch bao gồm cả quá trình điều chỉnh khớp cắn của răng. Do đó, Banobagi lập kế hoạch phẫu thuật hai hàm dựa theo điều chỉnh khớp cắn của răng chuyên nghiệp thông qua hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt. Quá trình phẫu thuật được thực hiện theo tiêu chuẩn khớp cắn của răng thông qua điều trị chỉnh nha và việc <span class="color-black1">cắt xương cằm bị lệch và giữ nó cố định để răng trên và dưới nằm ngang là rất quan trọng.</span><br><br>

							Lúc này, một kiểu khuôn mặt cân đối hơn có thể được mong đợi bởi vì Banobagi
							<span class="color-black1">thực hiện song song các phương pháp để cải thiện khuôn mặt như phẫu thuật toàn bộ biến dạng xương cho phù hợp với hai hàm đã điều chỉnh hoặc phẫu thuật cằm trước, hút mỡ, v.v...</span>
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_25.jpg" class="img-normal" loading="lazy" alt="Điều chỉnh sự mất cân đối">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Kế hoạch chỉnh nha thông qua hợp tác với bác sỹ Khoa phẫu thuật răng hàm mặt
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Điều chỉnh vị trí và mức độ cắt xương bằng việc xem xét chiều ngang của răng
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Cố định chắc chắn bằng Osteotrans sau khi di chuyển hai hàm đúng theo kế hoạch
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									Phẫu thuật bổ sung cằm trước và cải thiện thêm tổ chức mềm nếu cần thiết
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                Thực hiện song song điều trị chỉnh nha liên tục và chương trình hồi phục
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								<span class="n-color-contour3">Điểm chính</span> trong việc điều chỉnh sự mất cân đối của Banobagi
							</h5>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Phẫu thuật cằm trước
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_26.jpg" class="img-w100" loading="lazy" alt="Nắn thẳng hình dạng của hàm trước và căn chỉnh đường trung tâm của khuôn mặt">
									</div>

									<p class="compare4__txt txt-new1">
										Nắn thẳng hình dạng của hàm trước và <span class="color-white">căn chỉnh đường trung tâm của khuôn mặt</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										Cải thiện các lớp tổ chức khác nhau
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_27.jpg" class="img-w100" loading="lazy" alt="Nếu cần thiết, các tổ chức của các lớp trên khuôn mặt phát triển không cân đối do sự mất cân đối của xương mặt cũng có thể được cải thiện cho cân đối.">
									</div>

									<p class="compare4__txt txt-new1">
										Nếu cần thiết, <span class="color-white">các tổ chức của các lớp trên khuôn mặt</span> phát triển không cân đối do sự mất cân đối của xương mặt
										<span class="color-white">cũng có thể được cải thiện cho cân đối.</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng - 4 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 14 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 - 4 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Trong quá trình hết thuốc gây mê, có thể có cơn đau nhói và sẽ giảm dần theo thời gian.<br>
									Khi cắt chỉ hoặc khử trừng vết khâu sẽ đau nhói một chút.<br>
									Triệu chứng đau và viêm do sưng có thể được giảm bớt bằng thuốc giảm đau theo đơn kê và việc chườm lạnh cũng rất hữu ích.<br>
									Do không cố định giữa hai xương hàm nên không có bất tiện nào lớn.<br>
									Có thể kiểm soát cơn đau và sự phù nề thông qua chăm sóc hậu phẫu một cách có hệ thống và liên tục.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
