<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-academic">학술교류</h2>
		<p class="container__txt">끊임없이 연구하고 발전하는 바노바기성형외과 의료진</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="academic">
			<div class="national">
				<ul class="national__list">
					<li class="national__item">
						<a href="" class="national__link is-on"><!-- is-on 활성화 , is-active 마우스오버 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_02.png" loading="lazy" alt="스웨덴" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_02.png" loading="lazy" alt="스웨덴" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_03.png" loading="lazy" alt="이탈리아" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_03.png" loading="lazy" alt="이탈리아" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_04.png" loading="lazy" alt="이집트" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_04.png" loading="lazy" alt="이집트" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_05.png" loading="lazy" alt="태국" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_05.png" loading="lazy" alt="태국" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_06.png" loading="lazy" alt="베트남" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_06.png" loading="lazy" alt="베트남" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_07.png" loading="lazy" alt="대만" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_07.png" loading="lazy" alt="대만" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_08.png" loading="lazy" alt="중국" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_08.png" loading="lazy" alt="중국" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_09.png" loading="lazy" alt="미국" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_09.png" loading="lazy" alt="미국" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
					<li class="national__item">
						<a href="" class="national__link">
							<img src="../../images/common/flag_icon_m_10.png" loading="lazy" alt="대한민국" class="hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_10.png" loading="lazy" alt="대한민국" class="hidden-pt"><!-- mobile용 -->
						</a>
					</li>
				</ul>
			</div>
			<!--//national-->
			<!-- 검색결과 없을경우 -->
			<!--검색결과 없을시 -->
			<!-- <div class="no-data text-center">
				<p class="no-data__txt">검색 결과가 없습니다.</p>
			</div> -->
			<!--//검색결과 없을시 -->
			<ul class="magazine__list">
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-purple">해외교류</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">2017.01.01</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-blue">해외교육</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-green">강연발표</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">Italy3333</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-turquoise">학회발표</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-red">해외활동</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원 의료기술지원 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-blue">해외교육</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원 의료기술지원 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-blue">해외교육</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
				<li class="magazine__item">
					<div class="magazine__border">
						<div class="magazine__wrap">
							<span class="magazine__category type-blue">해외교육</span>
							<h3 class="magazine__tit">아세안병원<br> 의료기술지원</h3>
							<p class="magazine__national">Italy</p>
						</div>
						<div class="magazine__img">
							<img src="../../images/common/flag_icon_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-m"><!-- pc용 -->
							<img src="../../images/common/flag_icon_m_01.png" loading="lazy" alt="말레이시아" class="magazine__icon hidden-pt"><!-- mobile용 -->
							<img src="../../images/media/thumbnail2.jpg" loading="lazy" alt="" class="img-responsive">
						</div>
						<a href="academic_view.html" class="magazine__link">바로가기</a>
					</div>
					<p class="magazine__txt">바노바기성형외과 방문</p>
				</li>
			</ul>
			<!-- magazine -->
			<div class="magazine__find">
				<div class="board__find">
					<input type="text" class="board__find-input">
					<a href="" class="board__find-btn">검색</a>
				</div>
			</div>
			<!--//find-->
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
