<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<div class="about detail-common">
	<section class="fs_section aboutFirst js-first" data-section-name="home">
		<div class="detail__dim"></div>
		<div class="detail__inner">
			<div class="detail__popup type-about">
				<div class="detail__popup-wrap">
					<h4 class="detail__popup-tit">Chế độ sử dụng tên thật trong phòng phẫu thuật<span class="about__color2">.</span></h4>
					<div class="detail__popup-scroll">
						<p class="detail__popup-subtit">
							Bệnh viện phẫu thuật thẩm mỹ Banobagi áp dụng <span class="about__color2">hệ thống đội ngũ y bác sỹ chuyên trách 1:1</span>, trong đó bác sỹ phẫu thuật chính sẽ chịu trách nhiệm cho toàn bộ quá trình từ khâu tư vấn trước phẫu thuật đến khâu điều trị hậu phẫu. Nhằm hiện thực hóa niềm tin chính trực của mình, Banobagi đưa chế độ dùng tên thật khi phẫu thuật vào thực tiễn, bằng việc đăng tên của bác sỹ phẫu thuật chính và bác sỹ phụ (bao gồm bác sỹ chuyên khoa gây mê) trên cửa phòng phẫu thuật.
						</p>
						<div class="about__popup-img">img</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
			<p class="about__top">
				<span class="about__top-bar">Nơi tạo ra vẻ đẹp</span><br>
				<span class="about__top-bar about__top-point">Bệnh viện phẫu thuật thẩm mỹ Banobagi</span>
			</p>

		</div>
		<div class="about__black">
			<div class="detail__inner">
				<div class="about__box">
					<h3 class="about__tit-eng">
						BANOBAGI<br>
						PLASTIC SURGERY
					</h3>
					<p class="about__txt">
						Triết lý khám chữa bệnh của Banobagi là <span class="about__color1">“Chủ nghĩa nhân bản”</span>.<br>
						Sẽ hoàn toàn không có chuyện chúng tôi vì lợi ích của bệnh viện mà khuyên bệnh nhân thực hiện các ca phẫu thuật quá mức hay không cần thiết, chúng tôi luôn nghĩ đến sự tôn nghiêm của bệnh nhân trước tiên và trung thành với nền tảng cơ bản của y học để tạo ra giá trị của cái đẹp.
					</p>
					<div class="detail__section-set type-about">
						Đưa vào áp dụng chế độ tên thật trong phòng phẫu thuật
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">popup</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
	</section>

	<section class="fs_section aboutSection01" data-section-name="aboutSection01">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another">
		  	<div class="detail__popup-wrap">
			  	<h5 class="detail__popup-tit type-another">
					Chúng tôi chỉ tiến hành
					<span class="about__color3">loại phẫu thuật<br class="hidden-tm"> nhất định cần thiết</span>
					cho bệnh nhân<span class="about__color3">.</span>
				</h5>
			  	<div class="detail__popup-scroll">
					<ul class="about__popup-list">
					<li class="about__popup-item nth-1">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Bước tư vấn của trưởng phòng</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Điều tra khảo sát,
								chụp ảnh trước khi chẩn đoán
								và lập biểu đồ
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-2">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Bước chẩn đoán và điều trị của viện trưởng</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Chẩn đoán chính xác qua quá trình
								<span class="about__color3">tư vấn chi tiết tỉ mỉ</span>
								một cách chuyên nghiệp theo từng bộ phận
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-3">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Hệ thống kiểm tra sức khỏe</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Kiểm tra xác định bệnh tật
								với hệ thống kiểm tra sức khỏe
								mang tính hệ thống
								và trang thiết bị y tế hiện đại.<br>
								<span class="about__color3">(* Bác sỹ bệnh lý lâm sàng thường trực)</span>
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-4">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Phẫu thuật</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								<span class="about__color3">(Rapid Healing – Chữa lành nhanh)</span><br>
								Dịch vụ y tế có mức độ hài lòng cao,
								giúp tối thiểu hóa triệu chứng
								sưng, vết bầm, v.v. sau phẫu thuật.
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-5">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Quản lý hậu phẫu</span>
								</span>
							</h6>
							<div class="about__popup-txt">
								Hệ thống chăm sóc đa dạng
								để hồi phục nhanh
								sau khi phẫu thuật<br>
								<ul class="about__review-list">
									<li class="about__review-item">- Chăm sóc vết sẹo</li>
									<li class="about__review-item">- Chăm sóc triệu chứng đau</li>
									<li class="about__review-item">- Chăm sóc tuần hoàn máu</li>
									<li class="about__review-item">- Chăm sóc triệu chứng sưng</li>
								</ul>
							</div>
						</div>
					</li>
			  		</ul>
				</div>
				<a href="" class="detail__popup-close js-popup-close">Đóng</a>
		  	</div>
	   </div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Slow<br>
							<span class="about__color0">Banobagi</span><span class="about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Cái đẹp của Banobagi là sự cẩn trọng.</p>
						<p class="about__circle-txt">
							Thời gian của Banobagi chảy chậm.<br>
							Từ khâu kiểm trước trước phẫu thuật tỉ mỉ, tư vấn theo từng giai đoạn, điều trị sau phẫu thuật đến chăm sóc hậu phẫu,
							quá trình phẫu thuật chỉnh hình chậm nhưng an toàn hơn, chính là vẻ đẹp mà Banobagi hướng đến.<br>

							<a href="#" class="about__circle-link js-popup-open"><span>Hệ thống của Banobagi</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection02" data-section-name="aboutSection02">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another2">
			<div class="detail__popup-wrap">
				<h5 class="detail__popup-tit">Nếu là liên quan đến <span class="about__color6">an toàn</span> thì bạn có thể hoàn toàn yên tâm<span class="about__color6">.</span></h5>
				<div class="detail__popup-scroll">
					<div class="about__popup2-box">
						<ul class="about__popup2-list">
							<li class="about__popup2-item nth-1">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										HỆ THỐNG KHẨN CẤP
										để đối phó với tình huống cấp cứu
									</h6>
									<p class="about__popup2-txt">
										Nhằm ứng phó với tình huống cấp cứu có thể chẳng may xảy ra,
										chúng tôi sở hữu cả máy sốc tim ngoài tự động giá thành cao,
										một loại thiết bị thiết yếu khi thực hiện hồi sinh tim phổi.
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-2">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										Thiết bị an toàn kép để đảm bảo sự an toàn khi cấp điện trong lúc phẫu thuật
									</h6>
									<p class="about__popup2-txt">
										Chúng tôi có hệ thống cấp điện khẩn cấp kép với sự có mặt của UPS (bộ lưu điện) và máy phát điện công suất lớn được dùng trong các bệnh viện của trường đại học.
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-3">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										Hệ thống GIÁM SÁT BỆNH NHÂN
										chính xác trong và sau khi phẫu thuật
									</h6>
									<p class="about__popup2-txt">
										Hệ thống giám sát bệnh nhân giúp kiểm tra liên tục trạng thái toàn thân liên quan đến tính mạng của bệnh nhân như tính hoạt động của tim, mức độ bão hòa của cácbon điôxit và ôxy trong máu, huyết áp, nhiệt độ cơ thể, v.v..
									</p>
								</div>
							</li>
					  	</ul>
				  	</div>
				</div>
				<a href="" class="detail__popup-close js-popup-close">Đóng</a>
			</div>
		</div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
							Banobagi<span class="about__color5 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Vẻ đẹp an toàn của Banobagi</p>
						<p class="about__circle-txt">
							An toàn mới chính là giá trị cần được coi là quan trọng nhất trong tất cả các loại phẫu thuật. Bệnh viện phẫu thuật thẩm mỹ Banobagi không ngừng đầu tư vào trang thiết bị vì sự an toàn của các ca mổ, và liên tục nâng cấp hệ thống phát điện khẩn cấp để ứng phó với tình huống cấp cứu và hệ thống phòng phẫu thuật hiện đại bậc nhất. Hơn nữa, với sự túc trực của <span class="about__color4">4 bác sỹ chuyên khoa gây mê</span>, chúng tôi có thể kiểm soát tất cả các ca phẫu thuật một cách chặt chẽ không có sơ hở.<br>
							<a href="#" class="about__circle-link js-popup-open"><span>Hệ thống an toàn</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection03" data-section-name="aboutSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another2">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
							Banobagi<span class="about__color8 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Vẻ đẹp của Banobagi nằm ở sự tìm tòi nghiên cứu</p>
					</div>
					<div class="slide-type1">
						<ul class="slide-type1__list">
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide1.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide2.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide3.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide4.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide5.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide6.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide7.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<!-- <li class="slide-type1__item"></li>
							<li class="slide-type1__item"></li> -->
						</ul>
						<a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
						<a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
						<div class="slide-type1__pager"></div>
					</div>
					<p class="about__slide-txt">
						Chúng tôi không ngừng học hỏi về kỹ thuật. Đội ngũ y bác sỹ của Banobagi bao gồm toàn các <span class="about__color9">bác sỹ chuyên khoa phẫu thuật chỉnh hình của trường đại học Seoul</span>, được tuyển chọn dựa trên những tiêu chuẩn nghiêm ngặt và trải qua hệ thống đào tạo mang tính hệ thống thì mới có thể được gặp gỡ bệnh nhân. Thêm vào đó, chúng tôi tiến hành các
						<span class="about__color9">chương trình đào tạo cho toàn bộ đội ngũ nhân viên và tổ chức các hội thảo định kỳ theo từng lĩnh vực phẫu thuật, từng ca phẫu thuật.</span>
						Qua đây, chúng tôi luôn đi trước một bước so với khách hàng về nghiên cứu và dẫn đầu kỹ thuật liên quan đến cái đẹp.
					</p>
				</div>
			</div>
		</div>
		<p class="about__bottom">
			<span class="about__bottom__wrap">Bác sỹ chuyên khoa phẫu thuật <span class="inline-block">chỉnh hình xuất thân từ đại học Seoul</span></span>
		</p>
	</section>

	<section class="fs_section aboutSection04" data-section-name="aboutSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another3">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Bệnh viện phẫu thuật chỉnh hình mà
							<span class="about__color10">mẹ muốn giới thiệu cho con gái.</span>
						</h4>
						<p class="about__circle-subtit">Cái đẹp là Banobagi.</p>
						<p class="about__circle-txt">
							Một bệnh nhân phẫu thuật tại Banobagi <?php echo date("Y") - 2001; ?> năm trước nay đã trưởng thành và đến viện cùng con gái. Cơ sở y tế luôn coi bệnh nhân như gia đình mình và đáng tin cậy như người thân trong gia đình, đó chính là nguồn động lực thúc đẩy Banobagi phát triển trở thành khoa phẫu thuật thẩm mỹ tiêu biểu tại Hàn Quốc. Cơ sở y tế nơi mẹ có thể giới thiệu cho con gái, con gái giới thiệu cho mẹ, bạn bè giới thiệu cho nhau, nơi ai cũng có thể có đủ niềm tin để giới thiệu, đó chính là Bệnh viện phẫu thuật thẩm mỹ Banobagi.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<% include ../_include/_footer %>
