<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">Lịch sử phát triển của Banobagi</h3>
                        <p class="c-visual__txt txt-new1">
							Với tâm thế luôn nghĩ cho khách hàng trước tiên, <br class="hidden-tm">
							đặt lợi ích của khách hàng lên trên lợi ích của bệnh viện, chúng tôi đã vươn đến vị trí này ngày hôm nay.
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h4 class="history__head"><span>2000s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2000</span></h5>
							<p class="history__txt txt-new1">Khai trương lần đầu tiên với cái tên Bệnh viện phẫu thuật thẩm mỹ Ye</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2002</span></h5>
							<p class="history__txt txt-new1">Mở rộng Bệnh viện phẫu thuật thẩm mỹ Ye</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2007</span></h5>
							<p class="history__txt txt-new1">Chính thức thay đổi tên thành Bệnh viện phẫu thuật thẩm mỹ Banobagi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" loading="lazy" alt="Chính thức thay đổi tên thành Bệnh viện phẫu thuật thẩm mỹ Banobagi" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2008</span></h5>
							<p class="history__txt txt-new1">Nâng cấp đổi mới Bệnh viện phẫu thuật thẩm mỹ Banobagi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" loading="lazy" alt="Nâng cấp đổi mới Bệnh viện phẫu thuật thẩm mỹ Banobagi" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2009</span></h5>
							<p class="history__txt txt-new1">Thành lập Bộ phận kinh doanh nước ngoài Banobagi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" loading="lazy" alt="Thành lập Bộ phận kinh doanh nước ngoài Banobagi" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Đăng ký là cơ quan y tế duy trì bệnh nhân người nước ngoài</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h4 class="history__head"><span>2010s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2011</span></h5>
							<p class="history__txt txt-new1">Cơ sở y tế thực hiện thủ thuật được chỉ định chính thức của Artecoll</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" loading="lazy" alt="Cơ sở y tế thực hiện thủ thuật được chỉ định chính thức của Artecoll" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2012</span></h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 2</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 2" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2013</span></h5>
							<p class="history__txt txt-new1">Mở rộng phòng phẫu thuật của trụ sở chính</p>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 3</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 3" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">11. 2013</h5>
							<p class="history__txt txt-new1">Xây mới tòa nhà phụ và phòng giao lưu quốc tế</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" loading="lazy" alt="Xây mới tòa nhà phụ và phòng giao lưu quốc tế" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2014</span></h5>
							<p class="history__txt txt-new1">Thành lập Trung tâm nghiên cứu tế bào gốc Banobagi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" loading="lazy" alt="Thành lập Trung tâm nghiên cứu tế bào gốc Banobagi" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 4</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 4" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">07. 2014</h5>
							<p class="history__txt txt-new1">Được trao tặng cúp tri ân cho công lao phát triển ngành công nghiệp du lịch y tế và giao lưu kỹ thuật Hàn-Trung</p>
							<h5 class="history__date txt-new2">11. 2014</h5>
							<p class="history__txt txt-new1">Được trao tặng cúp ghi nhận công lao dành cho cơ quan xuất sắc trong ngành du lịch y tế của quận Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" loading="lazy" alt="Được trao tặng cúp ghi nhận công lao dành cho cơ quan xuất sắc trong ngành du lịch y tế của quận Gangnam" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">11. 2014</h5>
							<p class="history__txt txt-new1">Được trao giải đặc biệt tại Giải thưởng Y tế châu Á </p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" loading="lazy" alt="Được trao giải đặc biệt tại Giải thưởng Y tế châu Á " class="img-normal">
							</div>
							<h5 class="history__date txt-new2">11. 2014</h5>
							<p class="history__txt txt-new1">Là Bệnh viện phẫu thuật thẩm mỹ được chỉ định chính thức bởi Hiệp hội người mẫu Hàn Quốc</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" loading="lazy" alt="Là Bệnh viện phẫu thuật thẩm mỹ được chỉ định chính thức bởi Hiệp hội người mẫu Hàn Quốc" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">12. 2014</h5>
							<p class="history__txt txt-new1">Được trao giải thưởng văn hóa môi trường xanh</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" loading="lazy" alt="Được trao giải thưởng văn hóa môi trường xanh" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2015</span></h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 5</p>
							<h5 class="history__date txt-new2">02. 2015</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi chương trình Change Life Việt Nam mùa 1</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi chương trình Change Life Việt Nam mùa 1" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">07. 2015</h5>
							<p class="history__txt txt-new1">Được trao giải đặc biệt dành cho thương hiệu y tế Hallyu (làn sóng Hàn Quốc) LBMA STAR</p>
							<h5 class="history__date txt-new2">09. 2015</h5>
							<p class="history__txt txt-new1">Được trao giải thưởng ở hạng mục chỉnh hình tại Giải thưởng về y tế và chăm sóc sức khỏe Hàn Quốc </p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" loading="lazy" alt="Được trao giải thưởng ở hạng mục chỉnh hình tại Giải thưởng về y tế và chăm sóc sức khỏe Hàn Quốc " class="img-normal">
							</div>
							<h5 class="history__date txt-new2">10. 2015</h5>
							<p class="history__txt txt-new1">Bệnh viện phẫu thuật thẩm mỹ Banobagi được các phương tiện thông tin đại chúng của Trung Quốc bình chọn là Top 10 thương hiệu tại Trung Quốc</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" loading="lazy" alt="Bệnh viện phẫu thuật thẩm mỹ Banobagi được các phương tiện thông tin đại chúng của Trung Quốc bình chọn là Top 10 thương hiệu tại Trung Quốc" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">11. 2015</h5>
							<p class="history__txt txt-new1">Được bình chọn là cơ quan xuất sắc trong hoạt động thu hút bệnh nhân người nước ngoài của quận Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" loading="lazy" alt="Được bình chọn là cơ quan xuất sắc trong hoạt động thu hút bệnh nhân người nước ngoài của quận Gangnam" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2016</span></h5>
							<h5 class="history__date txt-new2">01. 2016</h5>
							<p class="history__txt txt-new1">Được bình chọn là đơn vị dẫn đầu về đổi mới của Hàn Quốc</p>
							<h5 class="history__date txt-new2">01. 2016</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 1 của Thái Lan</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 1 của Thái Lan" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">06. 2016</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi chương trình Change Life Việt Nam mùa 2</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi chương trình Change Life Việt Nam mùa 2" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">07. 2016</h5>
							<p class="history__txt txt-new1">Mở phòng tư vấn tại Thái Lan</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" loading="lazy" alt="Mở phòng tư vấn tại Thái Lan" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">09. 2016</h5>
							<p class="history__txt txt-new1">Được bình chọn là cơ sở y tế đạt được chứng nhận Thương hiệu bệnh viện và phòng khám của Hàn Quốc</p>
							<h5 class="history__date txt-new2">10. 2016</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 2 của Thái Lan</p>
							<h5 class="history__date txt-new2">10. 2016</h5>
							<p class="history__txt txt-new1">Được lựa chọn là cơ sở hợp tác du lịch y tế của quận Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" loading="lazy" alt="Được lựa chọn là cơ sở hợp tác du lịch y tế của quận Gangnam" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">10. 2016</h5>
							<p class="history__txt txt-new1">Được lựa chọn là cơ sở y tế chỉ định chính thức của Công ty Motiva Korea</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2017</span></h5>
							<h5 class="history__date txt-new2">02. 2017</h5>
							<p class="history__txt txt-new1">Được trao giải thưởng ở hạng mục DIGITAL AD Health and Medical của &Award</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" loading="lazy" alt="Được trao giải thưởng ở hạng mục DIGITAL AD Health and Medical của &Award" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">11. 2017</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 3 của Thái Lan</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" loading="lazy" alt="Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 3 của Thái Lan" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2018</span></h5>
							<h5 class="history__date txt-new2">10. 2018</h5>
							<p class="history__txt txt-new1">Cơ sở y tế được chỉ định chính thức bởi Let Me In mùa 4 của Thái Lan</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Năm 2019</span></h5>
							<p class="history__txt txt-new1">Được lựa chọn là cơ sở hợp tác du lịch y tế của thành phố Seoul</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_24.jpg" loading="lazy" alt="Được lựa chọn là cơ sở hợp tác du lịch y tế của thành phố Seoul" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Cơ sở y tế hợp tác đào tạo của Đại học y khoa trực thuộc trường đại học Seoul</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_25.jpg" loading="lazy" alt="Cơ sở y tế hợp tác đào tạo của Đại học y khoa trực thuộc trường đại học Seoul" class="img-normal">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
