<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-location">Hướng dẫn điều trị, <br class="hidden-pt">đường đến</h3>
		<p class="container__txt">BANOBAGI Plastic surgery, Ga Yeoksam Exit 6</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">dim</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
			<div class="map-motion__fake">
				<div class="map-motion__bg">
					<p class="map-motion__noti">Nhấp vào để dịch chuyển bản đồ</p>
				</div>
			</div>
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br class="hidden-m">바노바기 빌딩</p>
				<p class="map__info-eng">
					Tòa nhà Banobagi 517 Nonhyeon-Ro, Gangnam-gu, Seoul Korea
				</p>
				<p class="map__info-tel">
					<span>Hotline</span>+82-2-561-6601<br>
					<span>Zalo</span>+82-10-8708-6508
				</p>
				<!-- <ul class="map__info-list">
					<li class="map__ifno-item"><a href="http://blog.naver.com/banobagips/220879400530" target="_blank" class="map__info-link type-1">네이버</a></li>
					<li class="map__ifno-item hidden-tm"><a href="#" class="map__info-link type-2" OnClick="open_win();">프린트</a></li>
					<li class="map__ifno-item"><a href="" class="map__info-link type-3 js-sms-open">SMS</a></li>
				</ul> -->
				<div>
                    <a class="counseling-btn type-print" onclick="open_win()">In</a>
                </div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<!-- đường đến -->
			<div class="location__info">
			   <ul class="location__list">
				   <li class="location__item location__item-img1">
					   <h4 class="location__tit">Thời gian điều trị</h4>
					   <div class="location__box">
						   <dl class="location__dl">
							   <dt class="location__dt">(Thứ 2 ~ Thứ 5) Từ</dt>
							   <dd class="location__dd">09:30 ~ 18:30</dd>
							   <dt class="location__dt">(Thứ 6) Từ</dt>
							   <dd class="location__dd night">09:30 ~ 20:00</dd>
							   <dt class="location__dt">(Thứ 7) Từ</dt>
							   <dd class="location__dd">09:30~16:00</dd>
						   </dl>
						   <span class="location__notice">(1/5, 15/6, 20/7 NGHỈ)</span>
						   <span class="location__notice">※ Nghỉ ngày lễ và chủ nhật</span>
					   </div>
				   </li>
				   <li class="location__item location__item-img2">
					   <h4 class="location__tit">Xe buýt</h4>
					   <p class="location__txt">
						   <strong class="bus-color1">Xe buýt màu xanh dương</strong> 146, 147, 242, 341, 360, 463, 740, N13(đêm), N61(đêm), <br class="hidden-pt"><strong class="bus-color2">Xe buýt màu Xanh lá cây</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">Xe buýt từ sân bay</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">Xe buýt chạy thẳng</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
					   </p>
				   </li>
				   <li class="location__item location__item-img3">
					   <h4 class="location__tit">Tàu điện ngầm</h4>
					   <p class="location__txt subway type-2">Ga Yeoksam, Exit 6, đi thẳng 100 mét</p>
					   <p class="location__txt subway type-9">Ga Eonju, Exit 7, đi thẳng 400 mét</p>
				   </li>
				   <li class="location__item location__item-img4">
					   <h4 class="location__tit">Xe ô tô cá nhân</h4>
					   <p class="location__txt">Cung cấp dịch vụ đỗ xe dành cho khách hàng sử dụng ô tô cá nhân.</p>
				   </li>
			   </ul>
			</div>
			<!-- //đường đến -->

			<!-- Quy trình điều trị -->
			<div class="location__step">
				<h4 class="location__step-tit">Quy trình điều trị</h4>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">Đặt lịch</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">Tư vấn tại viện</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">Chuẩn bị trước phẫu thuật</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">Lịch trình sau phẫu thuật</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" loading="lazy" alt="Đặt tư vấn qua điện thoại" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Đặt lịch</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h4 class="step__slide-tit">Đặt tư vấn qua điện thoại</h4>
									<p class="step__slide-tel">+82-2-561-6601, <span class="inline-block">+82-10-8708-6508</span></p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" loading="lazy" alt="Đặt lịch tư vấn online" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Đặt lịch</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h4 class="step__slide-tit">Đặt lịch tư vấn online</h4>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">Tư vấn Email</dt>
										<dd class="step__slide-dd">vietnam@banobagi.com</dd>
									</dl>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" loading="lazy" alt="Lưu ý trước phẫu thuật" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Đặt lịch</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h4 class="step__slide-tit">Lưu ý trước phẫu thuật</h4>
									<p class="step__txt">Những chú ý khi nhận tư vấn và phẫu thuật trong ngày</p>
									<p class="step__txt2">
										*Nhịn ăn, uống trước 8 tiếng phẫu thuật<br>
										*Thông báo cho bệnh viện biết nếu bạn đang bị cảm, có vấn đề lạ ở cơ thể, hoạt động hô hấp<br>
										*Tiểu sử bệnh, phản ứng dị ứng, thuốc đang sử dụng
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" loading="lazy" alt="Tiếp nhận" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Tư vấn tại viện</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h4 class="step__slide-tit">Tiếp nhận</h4>
									<p class="step__txt">
										Sau khi điền thông tin vào bệnh án và chụp hình, sẽ được sắp xếp điều phối viên phụ trách và bác sĩ.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" loading="lazy" alt="Nhận tư vấn từ bác sĩ" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Tư vấn tại viện</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h4 class="step__slide-tit">Nhận tư vấn từ bác sĩ</h4>
									<p class="step__txt">
										Xác định những điều cần thiết của ca phẫu thuật và quyết định phương pháp phẫu thuật.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" loading="lazy" alt="Nhận tư vấn từ chuyên viên tư vấn" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Tư vấn tại viện</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h4 class="step__slide-tit">Nhận tư vấn từ chuyên viên tư vấn</h4>
									<p class="step__txt">
										Đặt lịch phẫu thuật và được hướng dẫn những chú ý trước phẫu thuật.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" loading="lazy" alt="Chuẩn bị trước phẫu thuật" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Chuẩn bị trước phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h4 class="step__slide-tit">Chuẩn bị trước phẫu thuật</h4>
									<p class="step__txt">
										Điền thông tin vào bệnh án và chụp hình
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" loading="lazy" alt="Chụp hình Y học" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Chuẩn bị trước phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h4 class="step__slide-tit">Chụp hình Y học</h4>
									<p class="step__txt">
										Nhận chụp hình Y học khi cần thiết
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" loading="lazy" alt="Nhận tư vấn từ bác sĩ" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Chuẩn bị trước phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h4 class="step__slide-tit">Nhận tư vấn từ bác sĩ</h4>
									<p class="step__txt">
										Bệnh nhân sẽ nghe mô tả chi tiết về ca phẫu thuật, lắng nghe giải thích từ bác sĩ một lần nữa. (Giảm sự lo lắng trước phẫu thuật của bệnh nhân)
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" loading="lazy" alt="Hướng dẫn Gây mê" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Chuẩn bị trước phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h4 class="step__slide-tit">Hướng dẫn Gây mê</h4>
									<p class="step__txt">
										Đội ngũ bác sĩ chuyên gia gây mê thường trực túc trực trường hợp Gây mê toàn thân
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" loading="lazy" alt="Phẫu thuật" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Chuẩn bị trước phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h4 class="step__slide-tit">Phẫu thuật</h4>
									<p class="step__txt">
										Ca phẫu thuật được tiến hành bởi bác sĩ, đội ngũ y tế chuyên gia trong từng lĩnh vực.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" loading="lazy" alt="Hồi phục & Nhập viện" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Lịch trình sau phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h4 class="step__slide-tit">Hồi phục &amp; Nhập viện</h4>
									<p class="step__txt">
										Sau phẫu thuật, bệnh nhân sẽ nghỉ ngơi đủ tại phòng hồi sức và xuất viện theo hướng dẫn của y tá hoặc di chuyển đến phòng nhập viện.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" loading="lazy" alt="자가 통증 조절" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Lịch trình sau phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h4 class="step__slide-tit">Sử dụng máy điều chỉnh cơn đau tự thân</h4>
									<p class="step__txt">
										Việc hồi phục nhanh chỉ khả thi khi hết các cơn đau. Đưa thuốc giảm đau tự động bằng máy điều chỉnh cơn đau tự thân. Banobagi luôn để tâm để không bỏ qua cả những vùng bé nhất của bệnh nhân
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" loading="lazy" alt="Nhận thăm khám đầu giờ từ bác sĩ" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Lịch trình sau phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h4 class="step__slide-tit">Nhận thăm khám đầu giờ từ bác sĩ</h4>
									<p class="step__txt">
										Bác sĩ phụ trách kiểm tra kết quả, thăm khám bệnh nhân nhập viện
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" loading="lazy" alt="Quản lí làm dịu, giảm sưng tấy" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Lịch trình sau phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h4 class="step__slide-tit">Quản lí làm dịu, giảm sưng tấy</h4>
									<p class="step__txt">
										Banobagi cung cấp dịch vụ quản lí làm dịu, giảm sưng tấy giúp hồi phục nhanh
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" loading="lazy" alt="Trị liệu sẹo" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Lịch trình sau phẫu thuật</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h4 class="step__slide-tit">Trị liệu sẹo</h4>
									<p class="step__txt">
										Tùy thuộc vào từng trường hợp thẩm mỹ, tiến hành chương trình điều trị sẹo để giảm nỗi lo lắng về sẹo sau phẫu thuật của bệnh nhân.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //Quy trình điều trị -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">닫기</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
