<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Để hồi phục nhanh sau phẫu thuật</p>
						<h3 class="new-visual__tit">Liệu trình<br class="hidden-tm"> tự chăm sóc <span class="color-point">hồi phục nhanh</span></h3>
						<p class="new-visual__txt">Chương trình này sẽ giúp bệnh nhân hồi phục nhanh thông qua việc kê đơn thuốc giúp làm giảm tình trạng sưng và bầm, hồi phục da tập trung và làm dịu da sau phẫu thuật.</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Dòng hồi phục Milk Thistle</span></li>
							<li class="new-visual__item"><span>#Kê đơn thuốc</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h4 class="section-normal__tit tit-new1">Dòng hồi phục Milk Thistle</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		Đây là sản phẩm được làm từ các thành phần an toàn cho da, đã trải qua các thử nghiệm kích ứng da, và
					 		<sapn class="color-point">chỉ phối trộn các thành phần cần thiết cho sự hồi phục của da</sapn>.

					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		Chúng tôi đã thấy có nhiều bệnh nhân trăn trở về làn da trở nên nhạy cảm hơn sau khi làm thủ thuật hay phẫu thuật, và nghĩ rằng phải tạo ra loại mỹ phẩm tập trung vào việc hồi phục một cách hiệu quả hơn và lành tính hơn. <span class="color-black1">Dòng hồi phục Milk Thistle là sản phẩm do đội ngũ y bác sỹ của Banobagi trực tiếp nghiên cứu sản xuất ra.</span>
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">Làm dịu</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Hồi phục</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Cấp ẩm</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Dưỡng chất</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h5 class="tit-new2">Cách thức sử dụng Dòng hồi phục Milk Thistle</h5>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" loading="lazy" alt="Dòng hồi phục Milk Thistle">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>Hãy sử dụng từ ngày bắt đầu rửa mặt đầu tiên sau khi phẫu thuật.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Sau khi rửa mặt, hãy tẩm ướt bông tẩy trang bằng nước hoa hồng (toner) hồi phục Milk Thistle rồi lau sạch bụi siêu nhỏ và bã nhờn trên da. (Trong trường hợp khó rửa mặt tùy từng bộ phận phẫu thuật, bạn có thể dùng nước hoa hồng phục hồi để lau ở trạng thái chưa rửa mặt.)
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Sau khi để da hấp thụ huyết thanh (serum) hồi phục siêu cô đặc, hãy thoa thêm kem hồi phục để bổ sung độ ẩm và dinh dưỡng cũng như các thành phần giúp hồi phục hoàn toàn.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Khi cần phải làm dịu hay hồi phục tập trung, hãy làm lạnh mặt nạ phục hồi Milk Thistle rồi đắp lên da trong khoảng 10-20 phút.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Sau khi phẫu thuật, làn da sẽ trở nên mẫn cảm hơn và có thể sinh ra triệu chứng viêm nên cần phải sử dụng huyết thanh và kem dưỡng phục hồi ít gây kích ứng để tập trung vào việc hồi phục lại làn da.
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h4 class="new-content-tit tit-new2">Thành phần chủ yếu của dòng hồi phục Milk Thistle của Banobagi</h4>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Chiết xuất Milk Thistle (chiết xuất hạt cây kế sữa)</h5>
								<p class="new-explan__txt txt-new1">
									Loại chiết xuất này giúp làm dịu da và mang lại hiệu quả chống ôxy hóa mạnh, loại bỏ các ôxy hoạt tính gây hại và tiêu độc cho da, đồng thời cũng có tác dụng làm trắng vượt trội, giúp tạo nên một làn da mượt mà và bóng láng.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Chiết xuất cây rau má / Madecassoside</h5>
								<p class="new-explan__txt txt-new1">
									Chiết xuất này giúp hồi phục làn da phải chịu các kích thích từ bên ngoài và bị tổn thương.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Chiết xuất rễ cây ngưu bàng</h5>
								<p class="new-explan__txt txt-new1">
									Chiết xuất này giúp giảm bớt các triệu chứng viêm của làn da có vấn đề như mụn do có tác dụng kháng viêm, giúp nuôi dưỡng làn da trở nên khỏe khoắn hơn.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Copper Tripeptide-1</h5>
								<p class="new-explan__txt txt-new1">
									Thành phần này giúp tăng thêm sức mạnh cho lớp tường rào của làn da mẫn cảm, và chăm sóc cho làn da trở nên khỏe khoắn, săn chắc hơn nhờ tác dụng chống lão hóa mạnh.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Công thức hoàn toàn có thể yên tâm với cấp độ EWG GREEN toàn thành phần</h5>
								<p class="new-stripe__txt2 txt-new1">Loại nước hoa hồng (toner) mà bạn có thể tin dùng với các thành phần an toàn cho da ở cấp độ EWG GREEN toàn thành phần</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Hoàn tất thử nghiệm kích ứng da</h5>
								<p class="new-stripe__txt2 txt-new1">Kết quả thử nghiệm kích ứng da cho thấy đây là sản phẩm không gây kích ứng, có thể sử dụng nhẹ nhàng mà không tạo kích ứng cho da.</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Không cho thêm 11 loại thành phần hóa học</h5>
								<p class="new-stripe__txt2 txt-new1">Đây là sản phẩm an toàn cho làn da mẫn cảm do không có chứa các thành phần như 6 loại Paraben, Benzophenone, Triethanolamine, Benzyl alcohol, Sorbic acid, Benzoic acid và màu nhân tạo, mùi hương, chất cồn.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h4 class="section-normal__tit tit-new1">Đơn thuốc giảm giảm sưng và bầm</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		Sinecch là loại thuốc uống giúp <sapn class="color-point4">giảm triệu chứng sưng và bầm tím</sapn> khi phẫu thuật chỉnh hình.
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		Sản phẩm này đã được Cục quản lý Thực phẩm và Dược phẩm Hoa Kỳ (FDA) và Bộ An toàn Thực phẩm và Dược phẩm Hàn Quốc chứng nhận, và hầu như không có tác dụng phụ do được làm từ các thành phần thảo dược. Bạn sẽ được đội ngũ y bác sỹ của Banobagi hướng dẫn cách uống nên hãy an tâm và hồi phục một cách thoải mái.
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
