@charset "UTF-8";
@import "mixins";

/*눈 재수술*/
.content-visual__txt2{
	@media only screen and (max-width:$tablet-size){display:inline-block; padding-left:18px;}
	@media only screen and (max-width:$mobile-size){padding-left:10px;}
}
.content-section.type-margin{
	@media only screen and (max-width:$tablet-size){margin-top:0px;}
	@media only screen and (max-width:$mobile-size){margin-top:50px;}
}
.reoperation-box1{background:url('../../images/reoperation/reoperation_eye_img02.jpg') no-repeat left bottom; padding:70px 100px 200px 0;
	.content-section__box{float:right;}
	&__img{display:none;}
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$minpc-size3){padding-right:0;
		.content-section__box.w-7{width:48%;}
	}
	@media only screen and (max-width:$tablet-size){background:none; padding:0;
		.content-section__box{float:none; padding:0 25px 0 0;}
		&__img{overflow:hidden; position:relative; display:block; width:100%; height:0; margin-top:60px; padding-bottom:67.27%; text-indent:-999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/reoperation/reoperation_eye_img02_768.jpg') center bottom / cover; content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__box{padding:0;}
		&__img{margin-top:30px; padding-bottom:67.27%; text-indent:-999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/reoperation/reoperation_eye_img02_768.jpg') center bottom / cover; content:'';}
		}
	}
}
.reoperation-box2{padding:100px 160px; background:url('../../images/reoperation/reoperation_eye_img03.jpg') center center / cover;
	&__tit{margin:0; font-size:45px; font-weight:300; line-height: 1.26;
		& strong{font-weight:400;}
	}
	&__txt{margin:30px 0 0 0; font-size:20px; line-height:1.5;}
	&__list{margin:50px 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding:0; list-style:none; font-size:0;
		& img{width:100%;}
	}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px; background:url('../../images/reoperation/reoperation_eye_img03.jpg') center center / cover;
		&__txt{margin-top:36px; font-size:17px;}
		&__list{margin-top:50px;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%;
			& img{width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:50px 20px 45px;
		&__tit{padding:0 10px; font-size:2.0rem;}
		&__txt{margin-top:28px; padding:0 10px; font-size:1.4rem;}
		&__list{margin-top:30px;}
	}
}
.reoperation-box3{padding:90px 0px 110px 108px; background:url('../../images/reoperation/reoperation_eye_img06.jpg') center center / cover no-repeat;
	&:after{display:block; clear:both; content:'';}
	.content-section__tit{color:#fff; margin-left: -30px;}
	.content-section__txt1{color:#c3aaaa;}
	.content-section__number-wrap:after{background-color:#fff;}
	&__txt{margin-top:46px; font-size:22px; font-weight:400; color:#fff; line-height:1.5;}
	&__img{display:none;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:35px 65px 80px; background:url('../../images/reoperation/reoperation_eye_img06_768.jpg') center center / cover no-repeat;
		&__wrap{padding-right:200px;}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:20px 35px 32px; background:url('../../images/reoperation/reoperation_eye_img06_bg.jpg') center center / cover no-repeat;
		&__wrap{padding-right:0;}
		.content-section__tit{ margin-left: -15px;}
		&__img{position:relative; display:block; margin-top:30px; width:100%; height:0;padding-bottom:112.54%; text-indent:-999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/reoperation/reoperation_eye_img06_640.png') center bottom / cover; content:'';}
		}
	}
}

.reoperation-eye{margin-top:50px;
	$this:&;
	&__list{margin:0; padding:0; font-size:0;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:18px;}
	}
	&__item{position:relative; display:inline-block; box-sizing:border-box;
		& + &{margin-left:30px;}
		&.type-before:after{position:absolute; top:0; bottom:0; right:-22px; display:block; width:15px; height:20px; margin:auto; background:url('../../images/reoperation/eye_arrow.png'); content:'';}
		&.type-before{
			& #{$this}__wrap:before{border:5px solid #eee;}
		}
		&.type-after{
			& #{$this}__wrap:before{border:5px solid #ff696a;}
		}
	}
	&__wrap{position:relative; font-size:0;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:''; box-sizing:border-box;}
	}
	@media only screen and (max-width:$tablet-size){
		&__list{margin-left:-30px;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%; padding-left:30px;
			& img{width:100%;}
			& + &{margin-left:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:-50px;
		&__list{margin-left:-14px;}
		&__item{padding-left:14px;
			&.type-before:after{position:absolute; top:0; bottom:0; right:-11px; display:block; width:8px; height:9px;  background:url('../../images/reoperation/eye_arrow_m.png'); background-size:8px 9px;}
			&.type-before{
				& #{$this}__wrap:before{border-width:2px;}
			}
			&.type-after{
				& #{$this}__wrap:before{border-width:2px;}
			}
		}
	}
}

.reoperation-box4{background-color:#241515; padding:70px 216px;
	&__txt{margin:0; font-size:20px; color:#fff; line-height:1.5;
		strong{font-weight:400;}
	}
	@media only screen and (max-width:$tablet-size){margin:-1px -65px 0 -65px; padding:60px 70px;
		&__txt{font-size:18px;}
	}
	@media only screen and (max-width:$mobile-size){margin:-1px -20px 0 -20px; padding:30px 15px;
		&__txt{font-size:1.6rem;}
	}
}

.reoperation-box5{position:relative; padding:0 420px 110px;
	& + .caution-para1{margin-top: 8px;}
	@media only screen and (max-width:$minpc-size3){padding:0;}
}




.reoperation-box6{padding:110px 80px 85px 108px; background:url('../../images/reoperation/reoperation_eye_img07.jpg') left bottom / cover no-repeat #f8f8fa;
	&:after{display:block; clear:both; content:'';}
	.content-section__box{float:right;}
	&__img{display:none;}
	@media only screen and (max-width:$minpc-size3){background-size:contain;}
	@media only screen and (max-width:$tablet-size){padding:85px 65px 0; margin:0 -65px; background:none; background-color:#f0f2f6;
		.content-section__box{float:none;}
		&__img{overflow:hidden; position:relative; display:block; width:100%; height:0; margin-top:20px; padding-bottom:89.45%; text-indent:-999px; font-size:0;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/reoperation/reoperation_eye_img07_768.jpg') center bottom / cover; content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -15px; padding:45px 15px 0;
		.content-section__tit{}
		.content-section__number.type-another{}
	}
}
.reoperation-box7{padding-right:30px; padding-bottom:80px; background:url('../../images/reoperation/reoperation_eye_img08.jpg') right bottom no-repeat;
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size){padding-right:0; padding-bottom:60px; background:url('../../images/reoperation/reoperation_eye_img08_768.jpg') right 64px no-repeat;
		.content-section__tit + .content-section__txt1{margin-top:30px;}
	}
	@media only screen and (max-width:$mobile-size){position:relative; background:none; margin:0 -15px; padding:0 15px 30px;
		.content-section__tit + .content-section__txt1{margin-top:30px;;}
		&:before{position:absolute; top:0; left:0; width:100%; height:0; padding-bottom:50.84%;background:url('../../images/reoperation/reoperation_eye_img08_640.jpg') left center / cover; z-index:-1; content:'';}
	}
}

.reoperation-box8{padding:0 30px;
	&__wrap{border:4px solid #b2b2b2; padding:50px 50px 50px 110px; border-radius:20px; text-align:left;}
	&__tit{position:relative; margin:0; font-size:24px; color:#333; font-weight:300; line-height: 1.3;
		&:before{position:absolute; top:-90px; left:-75px; display:block; width:70px; height:83px; padding-top:18px; text-align:center; color:#fff; font-size:30px; background:url('../../images/reoperation/balloon.png'); content:'TIP'; box-sizing:border-box;}
	}
	&__txt{margin-top:26px; font-size:16px; line-height:1.8;}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__tit{display:inline-block;
			&:before{top:-40px; left:auto; right:-54px; width:50px; height:58px; padding-top:14px; font-size:20px; background:url('../../images/reoperation/balloon_t.png');}
		}
		&__wrap{padding:60px 30px;}
		&__txt{font-size:17px; line-height:2.1;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:1.5rem;
			&:before{	 content: 'TIP';	position: absolute; display: block; text-align: center; color: #fff;top: -15px;left: auto; right: -30px; width: 25px;height: 29px;  padding-top: 7px;font-size: 1.1rem;background-size: 25px 29px;}
		}
		&__wrap{padding:25px 15px;}
		&__txt{margin-top:15px; font-size:1.3rem; word-break: keep-all;}
	}
		@media only screen and (max-width:$iphone-size){
			&__tit:before{right: -8px; top: -15px;}
		}
}

.line-img{margin:30px 0 0; padding:0;
	&:after{display:block; clear:both; content:'';}
	&__item{position:absolute; bottom:0; list-style:none; box-sizing:border-box;
		&.nth-1{left:30px;}
		&.nth-2{right:30px;}
		img {width:100%;}
	}
	@media only screen and (max-width:$minpc-size3){margin-left:-18px; font-size:0;
		&:after{display:block; clear:both; content:'';  }
		&__item{position:static; display:inline-block; width:50%; padding-left:18px; vertical-align:bottom;
			&.nth-1{left:auto;}
			&.nth-2{right:auto;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:20px; margin-left:-9px;
		&__item{padding-left:9px;}
	}
}
.line-way{margin-top:30px; padding:0 30px;
	&__list{margin:0; padding:0; border:5px solid #ff9394; background:url('../../images/reoperation/line_bg.jpg'); list-style:none; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; width:50%; padding:60px 120px; box-sizing:border-box;
		& + &:after{ position:absolute; top:0; left:0; bottom:0; width:0; height:184px; border-right:1px solid #c8c8c8; margin:auto 0; content:'';}
	}
	&__tit{position:relative; display:inline-block; margin:0; padding-left:70px; font-size:24px; color:#ec4e4f; font-weight:400;line-height: 1.3 ; text-align: left;
		&.nth-2{margin-top: -16px;}
		&.nth-1:before{content:'01'}
		&.nth-2:before{content:'02'}
		&:before{position:absolute; top:calc(50% - 28px); left:0;  width:56px; height:56px; line-height:56px; border-radius:50%; background-color:#ff6263; color:#fff; content:''; text-align: center;}
	}
	&__txt{margin:40px 0 0; font-size:16px; color:#666; line-height:1.5;}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__tit{display: block; padding-left: 115px;
			&.nth-2{margin-top: 0px;}
			&:before{left: 42px;}
		}
		&__item{width:100%; padding:70px 110px 40px;
			& + &:after{ display: block; top:0; right:0; left:0; bottom:auto; width:80%; height:0; border-top:1px solid #c8c8c8; margin:0 auto; content:'';
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__item{padding:30px;}
		&__tit{padding-left:35px; font-size:1.8rem;
			&:before{position:absolute; top:0px; left:0; width:28px; height:28px; line-height:28px; border-radius:50%; font-size:1.5rem;}
		}
		&__txt{margin-top:20px; font-size:1.4rem;}
	}
}
.reoperation-brace{position:relative;  width:910px; margin:70px auto 0; padding:0px 60px; color:#333; text-align:center; box-sizing:border-box;
	&__wrap{display:table-cell; width:1%; height:98px; vertical-align:middle;}
	&__txt{font-size:22px;
		strong{font-weight:400;}
	}
	&:before,&:after{position:absolute; top:0; bottom:0; width:32px; height:98px; margin:auto 0; content:'';}
	@media only screen and (max-width:$tablet-size){width:100%; margin-top:60px; padding: 0;
		&__wrap{padding: 0;}
		&__txt{font-size:20px; word-break: keep-all;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:28px; padding:0;
		&__wrap{display:block; width:100%; height:auto;}
		&__txt{font-size:1.6rem; }
		&:before,&:after{display:none;}
		.brace{padding: 0;}
	}
}
