<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cell-transplant">
		<div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">Trẻ hóa bằng kĩ thuật cấy mỡ tiên tiến</p>
	            <h3 class="content-visual__tit"># Cấy <span class="color-transplant1">mỡ</span> tự thân</h3>
	            <p class="content-visual__txt2">Độ cong tự nhiên được duy trì lâu hơn</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="svf-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap type-unique type-sec1-bg">
	                    <div class="content-section__tit-box">
	                        <h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
	                            Cấy mỡ tự thân tỉ lệ tái<br class="hidden-tm"> tạo mỡ rất kém và<br class="hidden-tm"> <span class="color-transplant1">không duy trì được lâu ?</span>
	                        </h4>
	                    </div>
	                    <div class="content-section__txt-box">
	                        <p class="content-section__txt1">
	                            Đa số phương pháp cấy mỡ tự thân hiện có đều trực tiếp cấy khối mỡ được chiết xuất vào vị trí cần thiết. Chủ yếu sử dụng luôn phần mỡ được chiết xuất ở vị trí có mô dày là phần mông dưới.
	                        </p>
	                        <p class="content-section__txt2">
	                            <span class="type-svf-quotation quotation_left">left</span>
	                            Nhưng sự thật là với phương pháp này sẽ rất khó để thấy được kết quả tốt của phẫu thuật cấy mỡ tự thân. Để những tế bào mỡ có thể tái tạo và phát triển thì vị trí cấy mỡ phải có những mạch máu tốt đi vào nhưng sự so sánh giữa tế bào mỡ dưới phần da mỏng và tế bào mỡ dưới phần mô dày thì có sự khác nhau rất nhỏ là lí do khiến quá trình ấy không tiếp nhận được.
	                            <span class="type-svf-quotation quotation_right">right</span>
	                        </p>
	                    </div>
	                </div>
	                <div class="content-section__bg-img">
	                </div>
	            </div>
	        </div>
	        <div class="svf-box2">
	            <div class="content-section cell_transplant-term">
	                <div class="content-section__bg-wrapper">
	                    <div class="content-section__tit-box">
	                        <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
	                            Cấy mỡ tự thân cần<br class="hidden-tm">
	                            <strong class="color-transplant1">phải cấy từng đơn vị tế bào mỡ.</strong>
	                        </h4>
	                        <p class="content-section__txt type-sec2">
	                            Để có được kết quả phẫu thuật cấy mỡ tự thân tốt nhất, bệnh viện BANOBAGI đang cấy mỡ trên từng đơn vị tế bào mỡ.
	                        </p>
	                    </div>
	                    <div class="content-section__list-box">
	                        <div class="svf-trans clearfix">
	                            <div class="hexa-pattern type-cell-transplant">
	                                <ul class="hexa-pattern__list">
	                                    <li class="hexa-pattern__item nth-1">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">Tế bào mỡ</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                Phần mỡ được cấy<br class="hiddem-m">
	                                                sẽ tự tái tạo phát triển trên vùng được cấy.
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-2">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">Tế bào gốc SVF</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                Phần mỡ được cấy sẽ tìm được tổ chức tế bào phù hợp rồi phân hóa
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-3">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">
													Collagen, hyaluronic acid, fibronectin, laminin,…v..v
	                                            </h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                Cải thiện da
	                                            </p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="content-section__wrapper">
						<p class="caution-para1"><span class="inline-block">※ Hình ảnh này có thể nhìn khác với người thật do điều kiện khi chụp ảnh, đã nhận được sự đồng ý của bệnh nhân.</span></p>
					</div>
	                <div class="content-section__desc-box">
	                    <p class="content-section__txt1">
	                        Đặc biệt, lí do mang đến hiệu quả hơn trong phẫu thuật cấy mỡ tự thân trên từng đơn vị tế bào mỡ là vì tế bào gốc, tế bào gốc trong mỡ có khả năng phân hóa với tổ chức phù hợp ở nơi cấy vào, giúp phần tế bào mỡ cấy vào có thể ổn định và phát triển một cách tự nhiên.
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>
	                            Hơn nữa, vì trong thành phần mỡ, trong nhiều tế bào có những yếu tố phát triển đa dạng cùng với collagen, hyaluronic acid,…bao gồm nên mang đến
								<span class="color-transplant1">thêm hiệu quả cải thiện và tăng sự đàn hồi vùng da ở vị trí cấy mỡ.</span>
	                        </strong>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box3">
	            <div class="content-section">
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__txt-box w-47">
	                        <h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
	                            Tế bào<br class="hidden-tm">
	                             của riêng mình,<br>
	                            <strong class="color-transplant1">gần như phù hợp cấy lên mọi bộ phận trên cơ thể.</strong>
	                        </h4>
	                        <p class="content-section__txt1">
								Không có bất cứ chất liệu nào có thể phù hợp với cơ thể của từng cá nhân bằng tế bào gốc được chiết xuất từ tế bào mỡ.
								Bởi vì đó là một phẫu thuật mà dù có cấy mỡ ở bất cứ vị trí nào thì những tế bào được cấy đó đều có thể tự phát triển đầy đặn hơn. Hơn nữa, chính vì sử dụng mũi kim rất nhỏ để phẫu thuật nên càng có thể tỉ mỉ chi tiết và mang tính an toàn hơn trong quá trình phẫu thuật.
	                        </p>
	                    </div>
	                    <div class="content-section__img-box w-53">
	                        <div class="content-section__img type-background3 type-circle"></div>
	                    </div>
	                </div>
	                <div class="part-list">
	                    <div class="part-list__wrap">
	                        <ul class="part-list__items">
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon0">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon0">
	                                            Trán xẹp và bị hóp
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            Trán chiếm 1/3 trên khuôn mặt, vì vậy ảnh hưởng nhiều đến nét mặt. Nếu trán không có đường cong, mà còn hóp vào nữa thì sẽ nhìn rất nam tính và dữ. Bằng cách tiêm mỡ tự thân tạo độ đầy đặn cân đối giữa độ cao của mũi, miệng, cằm, có được đường trán cong mượt mà, đẹp lý tưởng.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon1">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon1">
	                                           	Hốc mắt
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            Có những trường hợp vì do tạng người hoặc do hậu sinh  mà dưới xương hốc mắt không có mỡ. Nếu như vậy nhân tướng nhìn rất dữ và khiến đuôi mắt dần có nhiều nếp nhăn. Thông qua phẫu thuật cấy mỡ tự thân có thể làm mắt trông tươi trẻ hơn và cải thiện vùng da không có sự đàn hồi và nhiều nếp nhăn quanh đuôi mắt.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon2">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon2">
	                                            Má
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            Vùng má bị hóp khiến cho khuôn mặt nhìn thấy hốc hác và dữ. Vậy nên mục tiêu thông qua phẫu thuật cấy mỡ tự thân để khuôn mặt nhìn trẻ hơn và khỏe mạnh hơn. Đặt biệt má là vùng cơ địa mỡ có thể tái tạo phát triển, sống lâu hơn và có hiệu quả cao hơn.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon3">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon3">
	                                            Rãnh nhăn khóe miệng
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            Cải thiện được hai bên rãnh miệng bên cạnh mũi bị hóp sẽ khiến biểu hiện khuôn mặt được tự nhiên hơn và cho cảm giác sang trọng hơn.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon4">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon4">
	                                            Nâng ngực
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            Nếu cơ bản đã có một cơ thể gầy thì có sự hạn chế khi phẫu thuật cấy mỡ tự thân vào ngực. Vì mỡ bị tan đi nhiều và rất khó để tạo dáng ngực. Nhưng nâng ngực bằng cấy mỡ tự thân,khả năng ngực bị rắn, biến dạng hay những tác dụng phụ có thể xảy ra rất ít nên với những trường hợp ngực không quá nhỏ thì khi cấy mỡ tự thân mang đến xúc cảm tốt và dáng ngực rất tự nhiên nên sẽ có một kết quả hài lòng.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon5">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon5">
	                                            Nâng mông
	                                        </h5>
	                                        <p class="part-list__txt">
												Trong thời gian gần đây tự tin khoe cơ thể đẹp cũng góp phần tăng nét quyến rũ, nên phẫu thuật nâng mông cũng được quan tâm nhiều hơn.
												Nâng mông bằng phương pháp cấy mỡ tự thân có hiệu quả tăng sự đàn hồi ở mông và chân nhìn có vẻ dài hơn.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper">
	                    <div class="content-section__bg-wrapper">
	                        <div class="content-section__bg-color">
	                            <div class="content-section__tit-box">
	                                <p class="content-section__txt1 type-unique">BANOBAGI SVF</p>
	                                <h4 class="content-section__tit">
	                                    Bằng với mức độ tiên tiến của kĩ thuật phẫu thuật thì
	                                    <strong class="color-transplant1">
	                                        tinh thần trách nhiệm của bệnh nhất cũng vô cùng quan trọng.
	                                    </strong>
	                                </h4>
	                                <div class="content-section__txt2">
	                                    Tuy đã cải thiện được vấn đề sự tái tạo của phương pháp phẫu thuật cấy mỡ tự thân nhưng để càng có được kết quả phẫu thuật tốt hơn thì sự quản lí tự thân hàng ngày của bệnh nhân vô cùng quan trọng. Vì mỡ không duy trì ở trạng thái hay hình dạng cứng giống như xương mà mỡ sẽ có tính linh động sẽ thay đổi theo tình trạng của cơ thể.
	                                </div>
	                            </div>
	                            <div class="content-section__img-wrapper clearfix">
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img1">
	                                        <img src="../../images/svf/svf_transplant_section05-face01.png" loading="lazy" alt="img">
	                                    </div>
	                                </div>
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img2">
	                                        <img src="../../images/svf/svf_transplant_section05-cigarette01.png" loading="lazy" alt="img">
	                                    </div>
	                                </div>
	                            </div>
	                             <p class="content-section__txt3">
								   Đặc biệt, trong vòng 2 tuần đầu mới phẫu thuật, là khoảng thời gian tế bào mỡ tái tạo và phát trên bên trong các mạch máu nên phải thật chú ý cẩn thận ít vận động, chú ý tránh va chạm hay tác động mạnh từ bên ngoài là điều rất quan trọng.<br>
								   <strong>Và hơn nữa, hút thuốc lá là kẻ thù lớn của việc tái tạo mạch máu vậy nên phải ngưng hút thuốc lá ít nhất khoảng 2 tháng bao gồm cả thời gian trước phẫu thuật.</strong>
							   </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- Thông tin phẫu thuật -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">Hướng dẫn thông tin phẫu thuật cấy mỡ tự thân</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">
											Khuôn mặt : Khoảng 30 phút<br>
											Cơ Thể : Khoảng 1 tiếng 30 phút
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">
											Khuôn mặt : Gây mê tĩnh mạch<br>
											Cơ Thể : Gây mê toàn thân
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">
											Khuôn mặt : Không cần thiết<br>
											Cơ Thể : Cắt chỉ sau khoảng 3 ngày
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Sử dụng mũi kim rất nhỏ để phẫu thuật nên gần như không có cảm giác đau đớn. Tùy vào lượng mỡ được cấy vào mà có cảm giác bị phình và căng đầy.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
