<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Với sự đột phá công nghệ cao, sử dụng kĩ thuật cấy mỡ tự thân để nâng ngực đầy đặn</p>
				<h3 class="content-visual__tit"># Nâng ngực</h3>
				<p class="content-visual__txt2">Tự nhiên thật, với bầu ngực có sự đầy đặn vô cùng</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							Trong trường hợp cảm thấy khó khăn,
							ngại với việc phẫu thuật thẩm mỹ nâng ngực thì có thể thay thế bằng phương pháp
							<strong class="content-highlight2 type-augment">cấy mỡ tự thân</strong>
						</h4>
	                    <p class="content-section__txt1">
							Ngực không chỉ là biểu tưởng của sự nữ tính mà đồng thời cũng là một bộ phận trên cơ thể góp phần tăng sự lôi cuốn và quyến rũ tột cùng của một người phụ nữ.
							Khi nhận thức về sự hở hang được thay đổi thì vẻ đẹp của ngực người phụ nữ ngày được được quan tâm nhiều hơn, và theo đó nhu cầu quan tâm đến phẫu thuật thẩm mỹ nâng ngực cũng đặc biệt tăng nhanh. Nhưng sự thật thì cho đến bây giờ phẫu thuật thẩm mỹ nâng ngực vẫn là một quyết định không mấy dễ dàng với chúng ta. Có một sự tồn tại rõ ràng những yếu tố đáng phải suy nghĩ khiến chúng ta chần chừ do dự trong việc quyết định phẫu thuật thẩm mỹ nâng ngực đó là sự cân nhắc giữa việc phải cho túi độn vào bên trong ngực, sự đau đớn sau phẫu thuật và phải cần một thời gian tương đối đề hồi phục hoặc nhiều những lí do khác nữa. Hoặc những trường hợp phần ngực trên hơi thiếu sự đầy đặn và chỉ muốn thay đổi một chút về hình dáng hay kích cỡ thì sẽ càng, càng cảm thấy khó khăn trong việc phải xử lý những yếu tố trên.
						</p>
	                    <p class="content-section__txt2">
							Vậy nên những trường hợp như vậy, <span class="content-highlight type-augment type-dark color-svf7">thông qua phương pháp cấy mỡ tự thân để nâng ngực</span> có thể là
							<span class="content-highlight type-augment type-dark color-svf7">một sự thay thế vô cùng tốt</span>
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							Phần lớn bên trong ngực được cấu tạo hình thành từ các mô mỡ. Vậy nên nếu lượng mỡ bên trong ngực tăng lên thì đồng nghĩa ngực cũng to lên. Phương pháp nâng ngực với sự phát minh thông qua tiếp cận phương pháp cấy mỡ tự thân. Sau khi tiến hành hút mỡ ở vùng bụng hoặc vùng đùi của bệnh nhân, mỡ sẽ được tinh chế rồi sử dụng kim tiêm cấy lượng mỡ cần vào bên trong ngực.
						</p>
	                    <p class="content-section__txt2">
							Những <span class="color-svf7">tế bào mỡ được cấy</span> vào bên trong ngực sẽ <span class="color-svf7">phát triển tự nhiên</span> hợp lại thành một với những tế bào mỡ có sẵn bên trong ngực, <span class="color-svf7">kết hợp cùng tạo nên một độ cong đẹp tuyệt đối cho ngực.</span>
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        Quá trình cấy mỡ tự thân vào ngực
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Chiết xuất mỡ từ vùng bụng, hoặc đôi khi ở vùng mông hay những bộ phận khác tương tự</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Sự tinh chế và tách ghép</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Cấy mỡ vào ngực</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							Là một phương pháp có nhiều <strong>ưu điểm</strong> cũng có
	                        những <strong class="content-highlight2 type-augment">nhược điểm</strong> đã được phân tích
							<strong>rõ ràng</strong>
						</h4>
	                    <p class="content-section__txt1">
							Ưu điểm lớn nhất của nâng ngực bằng phương pháp cấy mỡ tự thân là sự tự nhiên.
							Chính vì đây là phương pháp duy trì ngực thật chỉ bổ sung mỡ tự thân, không sử dụng túi độn ngực hay bất cứ chất nhân tạo nên khả năng ngực bị rắn, biến dạng hay những tác dụng phụ có thể xảy ra rất ít và dáng ngực cùng sự cử động của ngực cũng vô cùng tự nhiên.
							Và không cần đường rạch mổ quá lớn nên giảm cảm giác ngại và khó khăn trong phẫu thuật, thêm một ưu điểm lớn nữa là có thể tùy ý điều chỉnh lượng mỡ muốn cấy vào từng vùng.
							<br><br>
							Nhưng có điều nhược điểm của phương pháp này là không phù hợp với những người gầy,và sau 1 thời gian hiệu quả phẫu thuật sẽ giảm xuống so với ban đầu.
 							Đặc biệt, vấn đề tính liên tục của hiệu quả những tế bào mỡ được cấy vào trong ngực không tái tạo sống được
						</p>
	                    <p class="content-section__txt2">
							<strong>là nguyên nhân dẫn đến việc <br class="hidden-pt">
	                        <span class="color-svf8">khoảng 20~30% lượng mỡ cấy</span> sẽ từ từ bị hấp thụ bên trong cơ thể và ngực sẽ nhỏ lại tùy vào cơ địa riêng của mỗi cá nhân. </strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">Ưu điểm</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">Hình dáng ngực và chuyển động tự nhiên nhất</li>
	                                <li class="augment-box4__item">Không cần phải lo lắng về những tác dụng phụ do túi độn hay những chất nhân tạo có thể gây ra</li>
	                                <li class="augment-box4__item">Không cần đường rạch mổ quá lớn nên giảm thiểu tối đa sự đau đớn và sự hồi phục nhanh chóng, dễ dàng </li>
	                                <li class="augment-box4__item">Với phương pháp phẫu thuật tỉ mỉ, chính xác cho phép bạn điều chỉnh kích thước như mong muốn ở từng vùng một cách chi tiết nhất</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">Nhược điểm</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">Không phù hợp với những cơ thể gầy</li>
	                                <li class="augment-box4__item">Sau một thời gian những tế bào mỡ không được tái tạo sẽ bị hấp thụ khiến hiệu quả ban đầu giảm xuống</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong>BANOBAGI</strong>
								sử dụng <span class="content-highlight2 type-augment type-light color-svf9">tế bào gốc</span> để cải thiện những
								nhược điểm của phương pháp cấy mỡ tự thân vốn có
							</h4>
	                        <p class="content-section__txt1">
								Mỡ cấy vào ngực không tái tạo và tồn tại được là vì lí do có một sự khác nhau vô cùng nhỏ giữa tế bào mỡ được cấy vào ngực và tế bào mỡ bên trong ngực. Vì vốn dĩ tế bào mỡ chiết xuất phải được cấy vào một nơi phù hợp để phát triển nhưng vì một sự khác nhau vô cùng nhỏ với tế bào mỡ có sẵn bên trong ngực, và cơ thể không tiếp nhận điều ấy khiến mỡ không phát triển tái tạo được, bị tan ra và biến mất.  <br><br class="hidden-m">
								Để cải thiện vấn đề trên, bệnh viện BANOBAGI sử dụng phương pháp cấy mỡ trên từng đơn vị tế bào mỡ.
								Không chỉ đơn giản là cấy mỡ tự thân mà kết hợp cấy mỡ tự thân bao gồm tế bào gốc đã được xử lí tách ghép.
								Tế bào gốc có chức năng phân hóa với mọi nơi vô cùng đa dạng nên sau khi được cấy vào trong ngực sẽ tự động đảm nhiệm vai trò như tế bào mỡ vốn có trong ngực. Không phải là tế bào mỡ ở vùng khác mà là kết hợp tạo thêm tế bào mỡ vào ngực.
							</p>
	                        <p class="content-section__txt2">
								Vậy nên đây là một phương pháp thông qua phương pháp cấy mỡ tự thân vốn có để nâng ngực nhưng mang đến một kết quả vượt trội hơn, và càng duy trì ngực đầy đặn lâu hơn nữa.
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
	                        <div class="augment-box5__tit">
	                            Sự khác biệt giữa cấy mỡ tự thân vốn có với<br class="hidden-tm"> <strong class="color-svf10 ">cấy mỡ tự thân tế bào gốc tại BANOBAGI</strong>
	                        </div>
	                        <div class="augment-box5__list_wrap type-pre">
	                            <div class="augment-box5__list_tit">
	                                Cấy mỡ tự thân vốn có
	                            </div>
	                            <ul class="augment-box5__pre_list">
	                                <li class="augment-box5__pre_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Chiết xuất mỡ từ bộ phận khác</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Cấy phần mỡ được chiết xuất vào ngực</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Một phần mỡ chiết xuất sẽ được tái tạo, phần còn lại sẽ bị hấp thu và bị tan
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="augment-box5__list_wrap type-bnbg">
	                            <div class="augment-box5__list_tit color-svf10">
	                                Cấy mỡ tự thân tế bào gốc tại BANOBAGI
	                            </div>
	                            <ul class="augment-box5__bnbg_list">
	                                <li class="augment-box5__bnbg_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Chiết xuất mỡ từ bộ phận khác rồi tách ghép tế bào gốc
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Cấy phần tế bào gốc được tách ghép vào ngực</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Phần tế bào gốc được tách ghép sẽ phát triển thành tế bào gốc mỡ trong ngực và đại đa số sẽ được tái tạo
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-4">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Duy trì sự đầy đặn lâu hơn nữa</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">Việc sử dụng tế bào gốc,</strong>
	                        cần một công nghệ kĩ thuật cao và cơ sở thiết bị đầy đủ là điều cơ bản.
						</h4>
	                    <p class="content-section__txt1">
							Việc sử dụng tế bào gốc để nâng ngực cấy mỡ tự thân cần một công nghệ kĩ thuật cao và cơ sở thiết bị đầy đủ.
							Bệnh viện BANOBAGI với cương vị là một bộ phận nghiên cứu và phát triển được ngành khoa học sáng tạo tương lai chứng nhận, là bệnh viện được trang bị đầy đủ thiết vị và đội ngũ nhân viên chuyên nghiệp cần thiết cho việc sử dụng tế bào gốc một cách an toàn nhất.
							Ngoài ra, thông qua những bí quyết chuyên môn của bác sĩ, có thể thực hiện chính xác một cách tỉ mỉ tất cả quá trình chiết xuất, phân chia tách ghép mỡ và cấy mỡ vào một cách hoàn hoản nhất, và ngay cả trong
	                        <strong>cùng một lượng mỡ bác sĩ luôn cố gắng tận dụng hết mức có thể những tế bào gốc để tạo ra một phương pháp cấy mỡ tự thân mang tính hiệu quả nhất.</strong>
						</p>
	                    <div class="augment-box6__auth">
	                        Giấy chứng nhận : Bệnh viện công nghệ xuất sắc
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h5 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__subtit">Sự khác biệt TỈ MỈ ĐẾN TỪNG CHI TIẾT của bệnh viện BANOBAGI</span><br>
	                    Lý do mang đến sự hài lòng hơn nữa của phương pháp <strong class="color-svf10">nâng ngực tế bào gốc</strong>
	                </h5>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Viện nghiên cứu công nghệ sinh học
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Với bí quyết công nghệ kĩ thuật cao ngăn chặn sự hỗn hợp, không để lại dấu vết trong quá trình chiết xuất mỡ và cấy mỡ
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Thiết bị kiểm tra số hiệu quả của tế bào, hệ thống bảo quản đông lạnh ở nhiệt độ thấp nhất, có phòng vô trùng và những cơ sở thiết bị cần thiết khác
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI SVF</p>
	                            <h4 class="content-section__tit type-augment">
									<strong>Sự cố gắng nỗ lực luôn hết mình</strong>
									<strong class="color-svf7">mang đến một kết quả hài lòng hơn nữa</strong>
								</h4>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" loading="lazy" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" loading="lazy" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
									Sau khoảng thời gian hơn 2 tuần trôi qua, mạch máu sẽ phát triển ở những tế bào mỡ được cấy vào ngực, giúp ổn định vị trí bên trong ngực.
									Vậy nên để tăng hiệu quả của những tế bào mỡ và sự ổn định vị trí cần phải đặc biệt chú ý trong 2 tuần đầu.
									Điều quan trọng nhất là giảm thiểu tối đa việc vận động và giảm tránh những tác động mạnh từ bên ngoài.
	    						</p>
	                            <p class="content-section__txt2">
	    							Ngoài ra, hút thuốc lá ảnh hưởng đến sự phát triển của mạch máu nên hãy
	                                <span class="color-svf11">ngưng hút thuốc lá ít nhất khoảng 2 tháng</span> bao gồm cả thời gian trước phẫu thuật.
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">바노바기 줄기세포 가슴확대는 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng - 2 tiếng 30 phút rưỡi tùy thuộc vào lượng tiêm</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê tĩnh mạch</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Sau phẫu thuật ngực có cảm giác phình lên và có thể cảm thấy hơi đau nhưng sau một thời gian sẽ hồi phục lại hoàn toàn.
									Bộ phận hút mỡ có thể có cảm giác hơi đau nhức một chút.
									Sử dụng mũi kim rất nhỏ để phẫu thuật nên giảm thiểu tối đa sự đau đớn nhưng nếu sau phẫu thuật cảm thấy đau nhiều và ngày càng nặng thì phải gọi điện và ngay lập tức tới bệnh viện.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
