<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="svf detail-common">
	<section class="fs_section svfFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-svf">
				   	<span class="color-svf0">Công nghệ</span> an toàn và <span class="color-svf0">hiệu quả nhất</span>
			   	</p>
			   	<h3 class="detail__first-txt type-svf">
				   	<span class="color-svf0">Tế bào gốc</span> Detail Banobagi<br>
				   	<strong class="detail__first-point">Chế tạo ra các tế bào khỏe mạnh.</strong>
			   	</h3>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>Cuộn chuột</em>
	   	</div>
	</section>

	<section class="fs_section svfSection01" data-section-name="svfSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				 	<h4 class="detail__section-tit">
				   		<strong>Tế bào gốc</strong><span class="color-comma">,</span><br class="hidden-tm">
				   		<strong class="color-svf0">Phương pháp thẩm mỹ</strong> của
				   		Banobagi
				 	</h4>
				 	<p class="detail__section-subtit">Mức độ cao hơn của điều tr ị tế bào gốc</p>
				 	<p class="detail__section-txt">
						Với trang thiết bị và các chuyên gia chuyên môn đầu ngành, Banobagi có thể cung cấp điều trị tế bào gốc đặc biệt bằng cách sử dụng các tế bào lấy từ máu, tủy xương và chất béo. Đặc biệt, các tế bào SVF có thể được sử dụng ngay sau khi chiết xuất từ mô mỡ; tế bào SVF có ưu điểm là khả năng tự làm mới tuyệt vời giúp trị liệu trẻ hóa, cải thiện tone da sạm và lấy lại độ đàn hồi cho da bị lão hóa. Hầu như không có tác dụng phụ.
				 	</p>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">dim</div>
	   	<div class="detail__section-bottom hidden-pt">
		   	<div class="detail__section-set">
			   	<span>Ưu điểm của tế bào gốc</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">popup</a></span>
		   </div>
	   	</div>
	   	<div class="detail__popup-m">
		   	<h5 class="detail__popup-m__tit">Ưu điểm<span class="color-svf2">.</span></h5>
		   	<ul class="detail__popup-m__list">
			   	<li class="detail__popup-m__item">- Tự tái tạo</li>
			   	<li class="detail__popup-m__item">- Nhân tố tăng trưởng</li>
			   	<li class="detail__popup-m__item">- Phân hóa</li>
			   	<li class="detail__popup-m__item">- Tăng hệ miễn dịch</li>
		   	</ul>
	   	</div>
	</section>

	<section class="fs_section svfSection02" data-section-name="svfSection02">
		<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">Vị trí thẩm mỹ cấy mỡ tế bào<span class="color-svf2">.</span></h5>
				   	<ul class="detail__popup-list">
					   	<li class="detail__popup-item nth-1">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">Khuôn mặt</h6>
							   	<p class="detail__popup-txt">Thẩm mỹ mũi, má, trán, cằm, phẫu thuật quý tộc</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-2">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">Cơ thể</h6>
							   	<p class="detail__popup-txt">Nâng ngực, tái nâng ngực, mông,…</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-3">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">Lão hóa</h6>
							   	<p class="detail__popup-txt">Cải thiện nếp nhăn, tăng độ đàn hồi cho da, tàn nhang, nám, quầng thâm</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-4">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">Da</h6>
							   	<p class="detail__popup-txt">Cải thiện làn da trắng mịn, trị sẹo, thu nhỏ lỗ chân lông, mụn đậu đen</p>
						   	</div>
					   	</li>
				   	</ul>
				   	<a href="" class="detail__popup-close js-popup-close">Đóng</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-normal type-right type-svf">
					   	<h4 class="detail__section-tit">
						   	<strong>Tế bào gốc</strong><span class="color-comma">,</span><br class="hidden-tm">
						   	Banobagi
						   	tiến hành ở <strong class="color-svf0">đa dạng vị trí</strong>
					   	</h4>
					   	<p class="detail__section-subtit">Phạm vị áp dụng tế bào gốc SVF</p>
					   	<p class="detail__section-txt">
						   	Các tế bào SVF không chỉ có khả năng tái sinh và phát triển tế bào mới mà còn có khả năng thích ứng với nhiều vị trí tiêm.
						   	<span class="color-svf1">Công nghệ trị liệu bằng tế bào gốc Banobagi cho kết quả làn da trắng min, chống lão hóa, trị sẹo trên da và điều chỉnh các khuyết điểm của khuôn mặt. </span>
							Phương pháp thẩm mỹ giúp cải thiện một cách tự nhiên và hiệu quả ở đa dạng vị trí.
					   	</p>
				   	</div>
			   	</div>
		   	</div>
		</div>
		<div class="detail__section-bottom type-svf">
		   	<div class="detail__section-set">
			   	Vị trí thẩm mỹ cấy mỡ tế bào
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">popup</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection03" data-section-name="svfSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						<strong>Tế bào gốc</strong><span class="color-comma">,</span><br class="hidden-tm">
						Banobagi
						<strong class="color-svf0">Luôn dẫn đầu</strong>
					</h4>
					<p class="detail__section-subtit">Khả năng thu nhập các tế bào đặc biệt</p>
					<p class="detail__section-txt">
					   	Sự thành công của liệu pháp tế bào SVF phụ thuộc vào tỷ lệ sống sót của các tế bào được tiêm. Các nhà nghiên cứu công nghệ sinh học của Banobagi
						<span class="color-svf1">tiến hành các quy trình trị liệu tế bào chuyên nghiệp để đảm bảo thành công trong hầu hết các trường hợp điều trị tế bào</span>
					   	Sở hữu kỹ thuật đặc biệt và công nghệ cao giúp Banobagi thu được lượng lớn tế bào khỏe mạnh trong cùng một lượng chất béo chính. Đây chính là chìa khóa trị liệu tế bào gốc lâu dài ở Banobagi
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection04" data-section-name="svfSection04">
	   	<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">Hệ thống bảo quản lạnh cực âm<span class="color-svf2">.</span></h5>
				   	<div class="popup-info">
					   	<div class="popup-info__img">Hệ thống bảo quản lạnh cực âm</div>
					   	<ol class="popup-info__list">
						   	<li class="popup-info__item">&middot; Khả năng trị liệu tập trung lặp lại</li>
						   	<li class="popup-info__item">&middot; Ngăn ô nhiễm, tổn thất tế bào</li>
						   	<li class="popup-info__item">&middot; Bảo quản trước tế bào trẻ chất lượng tốt để áp dụng cho lần sau</li>
					   	</ol>
				   	</div>
				   	<a href="" class="detail__popup-close js-popup-close">Đóng</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf type-another">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-wide type-right type-svf type-quotation2">
					   	<h4 class="detail__section-tit">
						   	<strong>Tế bào gốc</strong><span class="color-comma">,</span><br class="hidden-tm">
						   	Banobagi
						   	Có thể được thực hiện <strong class="color-svf4">nhiều lần</strong>
					   	</h4>
					   	<p class="detail__section-subtit">Hệ thống Cell-banking có khả năng bảo quản 3~5 năm</p>
					   	<p class="detail__section-txt">
						   	Tế bào SVF sau khi được chiết xuất một thời gian sẽ dễ bị ô nhiễm, giảm chất lượng. Vì lí do này mà việc trị liệu tế bào trước đây bị giới hạn số lần phẫu thuật trong duy chỉ một lần. Banobagi
							<span class="color-svf3">trang bị hệ thống bảo quản lạnh cực âm có khả năng quản lý và bảo quản tế bào gốc SVF an toàn và lâu dài</span>, cho khả năng lặp lại phẫu thuật.
					   	</p>
				   	</div>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom type-svf type-another">
		   	<div class="detail__section-set">
			   	Hệ thống bảo quản lạnh cực âm
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">button</a></span>
		   	</div>
	   	</div>
	</section>

   	<section class="fs_section svfSection05" data-section-name="svfSection05">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				   	<h4 class="detail__section-tit">
					   	<strong>Tế bào gốc</strong><span class="color-comma">,</span><br class="hidden-tm">
					   	<span class="detail__section-bwrap">Banobagi</span>
					   	<strong class="color-svf0">khác biệt</strong>
				   	</h4>
				   	<p class="detail__section-subtit"><?=$sinceYear?>18-năm bí quyết để không tạo ra một dấu vết nào tại khu vực chiết xuất chất béo.</p>
				   	<p class="detail__section-txt">
					   	Banobagi khác biệt từ quá trình hút mỡ đến quá trình chiết xuất tế bào gốc. Khi chiết xuất chất béo cho việc trị liệu tế bào gốc, không nên dùng nhiệt độ cao vì có thể gây ức chế sự phát triển tế bào gốc. Với
					   	<span class="color-svf5">bí quyết của một chuyên gia hút mỡ đầy kinh nghiệm</span>, Banobagi không cần sự trợ giúp của laser vẫn có khả năng hút mỡ một cách an toàn, không để lại vết lồi lõm, không tạo ra một dấu vết nào tại khu vực chiết xuất chất béo.
				   	</p>
			   	</div>
			   	<div class="layer-img2">
				   	<div class="layer-img2__box">img</div>
				   	<dl class="layer-img2__dl">
					   	<dt class="layer-img2__dt">*Các loại tác dụng phụ :</dt>
					   	<dd class="layer-img2__dd">phát sinh bề mặt da ghồ ghề, xuất huyết, cảm giac lạ, da lạ,v..v..</dd>
				   	</dl>
			   	</div>
		   	</div>
	   	</div>
   	</section>

	<section class="fs_section svfSection06" data-section-name="svfSection06">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup2-subtit">Trang thiết bị vô trùng One-stop</h5>
					<p class="detail__popup-tit">Ngăn ngừa ô nhiễm và biến chất tế bào<span class="color-svf2">.</span></p>
					<ul class="detail__popup2-list">
						<li class="detail__popup2-item nth-1">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Air Shower</span>
								<h6 class="detail__popup2-subject font-eng">Air Shower</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-2">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Phòng phẫu thuật vô trùng</span>
								<h6 class="detail__popup2-subject">Phòng phẫu thuật vô trùng</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-3">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Thiết bị nghiên cứu vô trùng</span>
								<h6 class="detail__popup2-subject">Thiết bị nghiên cứu vô trùng</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-4">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Phòng QC vô trùng</span>
								<h6 class="detail__popup2-subject">Phòng QC vô trùng</h6>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
			<div class="detail__section-wrap type-svf type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-svf">
						<h4 class="detail__section-tit">
							Tế bào gốc<span class="color-comma">,</span><br class="hidden-tm">
							Banobagi
							thực hiện <strong class="color-svf0">Detail</strong>
						</h4>
						<p class="detail__section-subtit">Trị liệu thành công và an toàn hơn với phòng phẫu thuật vô khuẩn</p>
						<p class="detail__section-txt">
							Tế bào của con người vốn vô cùng nhạy cảm, dễ bị ô nhiễm, nhiễm vi khuẩn từ môi trường bên ngoài.
							Vì vậy, <span class="color-svf6">toàn bộ quá trình bóc tách tế bào, trị liệu tế bào gốc ở Banobagi được tiến hành một cách an toàn nhất với hệ thống vô trùng được liên kết hoàn hảo,
							đảm bảo không gây biến chất, tổn hại, suy giảm tế bào gốc.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf type-another2">
			<div class="detail__section-set">
				Ngăn ngừa ô nhiễm<br class="hidden-pt"> và biến chất tế bào
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">button</a></span>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
