@charset "UTF-8";
@import "mixins";
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.bodyFirst{background: url(../images/body/body_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.bodySection01{background: url(../images/body/body_detail_section02.jpg) center 100%; background-size: cover;
		.detail__section-box{color:#333;}
		.detail__section-subtit{color:#333;}
	}
	&.bodySection02{background: url(../images/body/body_detail_section03.jpg) center 100%; background-size: cover;
		.detail__section-box{width:400px;}
	}
	&.bodySection03{background: url(../images/body/body_detail_section04.jpg) center 100%; background-size: cover;
		.detail__section-box{float:right; color:#333;}
		.detail__section-subtit{color:#333;}
	}
	&.bodySection04{background: url(../images/body/body_detail_section05.jpg) center 100%; background-size: cover;
		.detail__section-box{float:right; color:#333;}
		.detail__section-subtit{color:#333;}
	}
	&.bodySection05{background: url(../images/body/body_detail_section06.jpg) center 100%; background-size: cover;
		.detail__section-box{float:right;}
	}
	@media only screen and (max-width:$tablet-size){
		&.bodyFirst{background: url(../images/body/body_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.bodySection01{background: url(../images/body/body_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{ bottom:auto; width:250px;}
		}
		&.bodySection02{background: url(../images/body/body_detail_section03_768.jpg) center 100%; background-size: cover;
			.detail__section-box{width:280px;}
		}
		&.bodySection03{background: url(../images/body/body_detail_section04_768.jpg) center 100%; background-size: cover;}
		&.bodySection04{background: url(../images/body/body_detail_section05_768.jpg) center 100%; background-size: cover;}
		&.bodySection05{background: url(../images/body/body_detail_section06_992.jpg) center 100%; background-size: cover;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.bodyFirst{background: url(../images/body/body_detail_section01.jpg) center center; background-size: cover;}
		&.bodySection01{background: url(../images/body/body_detail_section02.jpg) center 100%; background-size: cover;
			& .detail__section-box{width: 400px;height: auto;top: auto; bottom: 0;}
		}
		&.bodySection02{background: url(../images/body/body_detail_section03.jpg) center 100%; background-size: cover;
			& .detail__section-box{bottom: 0;top: auto;}
		}
		&.bodySection03{background: url(../images/body/body_detail_section04.jpg) center 100%; background-size: cover;}
		&.bodySection04{background: url(../images/body/body_detail_section05.jpg) center 100%; background-size: cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&.bodyFirst{background: url(../images/body/body_detail_section01_640.jpg) center center; background-size: cover;}
		&.bodySection01{height:700px !important; background: url(../images/body/body_detail_section02_640.jpg) center bottom; background-size: cover;
			& .detail__section-box{width:200px;}
		}
		&.bodySection02{height:600px !important; background: url(../images/body/body_detail_section03_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:0px; width:100%; margin-left:-15px;}
		}
		&.bodySection03{height:900px !important; background: url(../images/body/body_detail_section04_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{float:left; top:-180px; width:100%;  }
		}
		&.bodySection04{height:600px !important; background: url(../images/body/body_detail_section05_640.jpg) center center; background-size: cover;}
		&.bodySection05{height:500px !important; background: url(../images/body/body_detail_section06_640.jpg) center center; background-size: cover;
			& .detail__section-box{width:100%; }
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.bodySection01{height:770px !important; background: url(../images/body/body_detail_section02_992.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-50px; bottom:auto;width:50%}
		}
		&.bodySection02{height:740px !important; background: url(../images/body/body_detail_section03_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:0px;}
		}
		&.bodySection03{height:1100px !important;
			& .detail__section-box{float:left; top:-380px; width:100%;  }
		}
	}
}

.detail-box{display:inline-block; width:364px; background-color:#fff; border-bottom:5px solid #ff4310; text-align:center;
	$this:&;
	&.body-1{position:relative; top:-80px;
		& #{$this}__img{background:url('../images/body/body_detail_section03_img1.jpg') center center;}
	}
	&.body-2{
		& #{$this}__img{background:url('../images/body/body_detail_section03_img2.jpg') center center;}
	}
	& + #{$this}{margin-left:12px;}
	&__img{overflow:hidden; height:260px; text-indent: -999px;}
	&__tit{margin:0; font-size:18px; color:#ff4310; font-weight:400;}
	&__txt{margin:18px 0 0 0; font-size:14px; color:#333; line-height:1.64;}
	&__wrap{padding:24px 20px; border-top:1px solid #ebebeb;}
	@media only screen and (max-width:$minpc-size3){background-color:transparent; border-bottom:none; width:215px;
		&__vertical{display:table-cell; width:1%; height:250px; border-bottom:none; vertical-align:middle; background-color: transparent;
		background: url('../images/body/bodySection02_figure_bg.png') no-repeat; background-size:215px 250px;}
		&__img{display:none;}
		&__wrap{padding:24px 26px; border-top:none; text-align:center;}
		&__txt{display:none; margin-top:8px; color:#fff; word-break: keep-all;}
		&.body-1{top:0; left:100px;}
		&.body-2{position:relative; top:177px; right:0px; z-index:10;}
		& + #{$this}{margin-left:0px;}
	}
	@media only screen and (max-width:$mobile-size){display:inline-block; width:148px; vertical-align:top;
		&__wrap{padding:0 7px;}
		&__tit{font-size:1.3rem;}
		&__txt{margin-top:5px; font-size:1rem;}
		&__vertical{height:170px; background-size:148px 170px;}
		&.body-1{top:auto; left:auto;}
		&.body-2{position:static; margin-left:5px; }
	}
	@media (max-width: $iphone-size) and (orientation: portrait) {width:126px;
		&__tit{font-size:1.3rem;}
		&__vertical{height:144px; background-size:126px 144px;}
	}
}
.detail-layer{position:absolute; top:0; bottom:0; right:0; height:400px; margin:auto 0;
	@media only screen and (max-width:$mobile-size){position:static; top:auto; bottom:auto; right:auto; height:auto; margin-left:-15px; margin-top:20px; font-size:0;}
}

.color-body0{color:#666; font-weight:300;}
.color-body1{color:#ff4310;}
.color-body2{color:#fe561b;}
