.new-visual{
	$this:&;
	&.type-obesity{
		&:before{
			@include background('../images/body/obesity/obesity_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-obesity{
			&:before{
				@include background('../images/body/obesity/obesity_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-obesity{
			&:before{
				@include background('../images/body/obesity/obesity_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-obesity{@include background('../images/body/obesity/obesity_bg_1.jpg','no-repeat center bottom / contain');}
	&.type-obesity2{background-color:#eeedd5;}
	&.type-obesity3{background-color:#fffaf1; text-align:center;}
	&.type-obesity4{@include background('../images/body/obesity/obesity_bg_2.jpg','no-repeat center bottom / contain'); text-align:center;}
	&.type-obesity5{background-color:#28170a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
}

.new-section{
	&__wrap{
		&.type-obesity{background-color:#fff5e4;}
	}
}
