<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="wrinkle detail-common" data-video="true">
    <section class="fs_section wrinkleFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-wrinkle">
					<span class="color-wrinkle1">Làn da</span> mượt mà Biểu cảm <span class="color-wrinkle1">tự nhiên</span>
				</p>
				<h3 class="detail__first-txt type-wrinkle">
					Thẩm mỹ trẻ hóa<br>
					<span class="color-wrinkle2">Thẩm mỹ trẻ hóa</span> Detail Banobagi.
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-wrinkle">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ trẻ hóa</strong><span class="color-comma">,</span><br class="hidden-tm">
						<strong class="color-wrinkle3">Phương pháp thẩm mỹ</strong> của Banobagi
	              	</h4>
	              	<p class="detail__section-subtit">Chuyên gia thẩm mỹ trẻ hóa quan tâm đến cả biểu cảm</p>
	              	<p class="detail__section-txt">
						Nếp nhăn hình thành bắt nguồn từ những thói quen biểu cảm lặp đi lặp lại trong thời gian dài. Vì vậy thẩm mỹ trẻ hóa phải dựa trên nền tảng là sự hiểu biết rõ về các cơ tạo nên những biểu cảm trên gương mặt.
						<span class="color-wrinkle4">Dựa trên những kiến thức chuyên môn và kỹ năng phẫu thuật đặc biệt, Banobagi nắm bắt và hiểu rõ về các cơ biểu cảm của bệnh nhân</span>. Vì vậy, thẩm mỹ trẻ hóa Banobagi cho kết quả cao, mang lại biểu cảm gương mặt tự nhiên. “
	              	</p>
	            </div>
				<!--layer-doc3-->
				<div class="layer-doc3">
					<div class="layer-doc3__box">
						<h5 class="layer-doc3__tit">
							Viện trưởng BanJaeSang được giới thiệu là 1 trong 12 GOOD DOCTOR BEST CLINIC do Nhật báo Joongang bình chọn
						</h5>
						<p class="layer-doc3__txt">Bạn có thể thấy được sự tận tụy trong lĩnh vực chống lão hóa của viện trưởng BanJaeSang</p>
					</div>
				</div><!--//layer-doc3-->
			</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wrinkle">
				  	<h4 class="detail__section-tit">
					  	<strong>Thẩm mỹ trẻ hóa</strong><span class="color-comma">,</span><br class="hidden-tm">
					  	Banobagi
					  	<strong class="color-wrinkle5">khôi phục sự trẻ trung</strong>
				  	</h4>
				  	<p class="detail__section-subtit">Là phẫu thuật xem xét sự lão hóa<br> của toàn bộ tổ chức xương, cơ, mỡ, da</p>
				  	<p class="detail__section-txt">
						Sự lão hóa và nếp nhăn được thể hiện trong tất cả các mô của khuôn mặt, từ da đến xương. Quá trình lão hóa làm giảm mật độ da và giảm thể tích da hoặc phần cơ bị thoái hóa và biến mất. Để hoàn trả lại vẻ đẹp, Banobagi phục hồi độ đàn hồi của tất cả các tầng da, tái tạo và phục hồi các tổ chức lão hóa.
						<span class="color-wrinkle2">Banobagi không tiến hành thẩm mỹ cho sự thay đổi vẻ đẹp nhất thời mà là điều trị chống lão hóa lâu dài, duy trì vẻ đẹp trẻ trung, khỏe mạnh theo thời gian.</span>
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-wrinkle">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Thẩm mỹ trẻ hóa theo<br> từng bộ phận<span class="color-wrinkle2">.</span></h5>
					<p class="detail__popup-subtit">Cải thiện đa dạng các nếp nhăn</p>
					<div class="detail__popup-scroll">
						<div class="fake-table">
							<ul class="fake-table__list">
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Bộ phận</h6>
									<p class="fake-table__txt">
										<span class="fake-table__vertical">Thời gian duy trì</span>
									</p>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Mặt trên</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Tiểu phẫu</span><br>Botox trán</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Tiểu phẫu</span><br>Filler bán vĩnh viễn Artecoll</div></div>
									<div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">Hạn chế đường cắt</span><br>Kéo chân mày<br>nội soi</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Mặt giữa</h6>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Tiểu phẫu</span><br>Cấy mỡ tự thân</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Tiểu phẫu</span><br>Filler bán vĩnh viễn Artecoll</div></div>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type5">Cắt</span><br>Nâng cơ mặt phần mí dưới</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Mặt dưới</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Không cắt</span><br>Căng da bằng chỉ tan</div></div>
									<div class="fake-table__txt type-2 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Không cắt</span><br>Thay đổi hình dáng khuôn mặt một cách mềm mại</div></div>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Không cắt</span><br>Căng da Band đàn hồi không cắt rạch</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type2">Cắt nhỏ</span><br>Căng da Band đàn hồi cắt rạch</div></div>
									<div class="fake-table__txt type-3 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">Cắt</span><br>Căng da toàn <span class="inline-block">khuôn mặt</span></div></div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-wrinkle">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-wrinkle">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ trẻ hóa</strong><span class="color-comma">,</span><br class="hidden-tm">
							<span class="detail__section-bwrap">Banobagi</span>
							có <strong class="color-wrinkle3">câu trả lời</strong>
						</h4>
						<p class="detail__section-subtit">Cải thiện chuyên sâu bộ phận mong muốn<br> &amp; giải pháp tổng thể cho tất cả bộ phận </p>
						<p class="detail__section-txt color-wrinkle4">
							Mỗi bộ phận trên khuôn mặt có hình dạng và chức năng khác nhau. Theo đó mà tình trạng lão hóa ở mỗi bộ phận cũng khác biệt. Do đó, để có thể chống lão hóa hiệu quả nhất, cần tiến hành thẩm mỹ dựa theo đặc điểm của từng bộ phận. Với nhiều năm kinh nghiệm và trình độ chuyên môn cao Banobagi có khả năng thẩm mỹ trẻ hóa thích hợp với từng bộ phận của khuôn mặt như tiêm chất căng da, căng da, cấy mỡ tự thân.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-wrinkle">
			<div class="detail__section-set">
				Thẩm mỹ trẻ hóa theo từng bộ phận
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">popup</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Trẻ hóa</strong><span class="color-comma">,</span><br class="hidden-tm">
	  					<span class="detail__section-bwrap">Banobagi</span>
	  					tiến hành <strong class="color-wrinkle3">nghiên cứu</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Kết hợp giữa các kỹ thuật để có kết quả tốt hơn</p>
	  				<p class="detail__section-txt">
						Đội ngũ chuyên gia thẩm mỹ trẻ hóa gia của Banobagi luôn không ngừng nghiên cứu và phát triển chuyên môn nhằm tìm ra phương pháp thẩm mỹ tốt hơn nữa. Kết quả là Banobagi đã cho ra đời phương pháp căng da bằng Band đàn hồi, rút ngắn thời gian phục hồi và cải thiện đáng kể tình trạng lão hóa da. Có thể kỳ vọng được kết quả tốt hơn bằng việc sử dụng tế bào gốc SVF hoặc tìm tòi kết hợp đồng thời nhiều kĩ thuật để mang lại hiệu quả rõ rệt hơn như phương pháp Xcar + tiêm chất căng da, vv.  <span class="color-wrinkle4">Ứng dụng phương pháp phẫu thuật tiên tiến và kinh nghiệm lâu năm cũng như năng lực kĩ thuật tốt đem lại sự hài lòng cho khách hàng.</span>
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-wrinkle">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Căng da Band đàn hồi</h5>
								<p class="layer-doc4__txt">
									Banobagi bắt đầu đầu tiên trong việc nghiên cứu về Căng da Band đàn hồi, loại Band căng da có chức năng giống như dây chằng thật
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Cấy mỡ tự thân tế bào gốc SVF</h5>
								<p class="layer-doc4__txt">
									Cấy mỡ tế bào SVF cho hiệu quả thẩm mỹ cao hơn vì có khả năng tái tạo mô, tỉ lệ sống của tế bào mỡ cao.
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Căng da trán nội soi</h5>
								<p class="layer-doc4__txt">
									Sử dụng công cụ là endotine chính hãng và nội soi để căng trán một cách chuẩn xác
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Trẻ hóa</strong><span class="color-comma">,</span><br class="hidden-tm">
	  					Banobagi
	  					thực hiện <strong class="color-wrinkle5">Detail</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Phục hồi nhanh chóng cho bệnh nhân lớn tuổi, hạn chế những bất tiện trong sinh hoạt</p>
	  				<p class="detail__section-txt">
						Những khách hàng cân nhắc thẩm mỹ Trẻ hóa hầu như đều ở độ tuổi trung niên trở lên. Họ thường lo lắng về việc gây mê, thời gian hồi phục lâu. Banobagi nghiên cứu chuyên sâu phương pháp điều trị chống lão hóa trong nhiều năm qua và cũng đã nổ lực rất lớn để hiểu được quá trình hồi phục của bệnh nhân. Banobagi phấn đầu để cung cấp cho bệnh nhân sự chăm sóc thích hợp đảm bảo sự hồi phục an toàn, hiệu quả thẩm mỹ cao. Dựa trên các nguyên tắc cơ bản này, đội ngũ y bác sĩ <span class="color-wrinkle2">Banobagi liên tục đưa ra các phương pháp phẫu thuật mới và các thủ thuật kết hợp để giúp đạt được kết quả làm hài lòng bệnh nhân</span>.
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
		<div class="video">
			<div class="video__desc">
				<div class="video__tit">Thẩm mỹ trẻ hóa của Banobagi</div>
				<div class="video__txt1">Độ duy trì cao bán vĩnh viễn trên 10 năm</div>
			</div>
			<div class="video__wrap">
				<iframe class="video__item" id="onepage-video__iframe" src="https://player.vimeo.com/video/265675036?loop=1&amp;quality=1080p" frameborder="0" id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay; fullscreen"></iframe>
				<div class="video__screen"></div>
			</div>
			<div class="video__btn-area">
				<span class="video__btn--counsel js-consultation">Đăng ký tư vấn</span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
