<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<div class="new-visual type-forehead">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">직접 확인하는 박리로 보다 안전하게</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">내시경 이마</span> 리프팅
                        </h3>
						<p class="new-visual__txt">상안면부 노화 개선으로 더욱 밝아지는 인상</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#노화개선</span></li>
							<li class="new-visual__item"><span>#밝은인상</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-forehead">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						이마 처짐은 <span class="n-color-wrinkle2">상안면부 전반 노화의<br class="hidden-tm"> 원인</span>이 됩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						이마는 얼굴의 주름이 눈에 띄게 잡히는 대표적인 부위입니다. <br class="hidden-tm">
						여러 잔주름들과 함께 생긴 가로 모양의 깊은 주름은 얼굴의 노화를 더욱 두드러져 보이게 하죠.<br class="hidden-tm">
						특히 이마가 탄력을 잃고 처지게 되면 그 영향으로 눈썹과 눈꺼풀 처짐, <br class="hidden-tm">
						미간과 눈가 주름 등 상안면부 전반의 노화를 가속시키는 원인이 되기도 합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 눈가 주름이나 눈꺼풀 처짐을 고민하고 있는 경우라도 그 원인이 이마 처짐에 있다면,<br class="hidden-tm">
						단순히 눈가 노화를 개선하는 시술보다는 <span class="n-color-wrinkle2">이마를 전반적으로 당겨주는 내시경 이마 리프팅</span>을<br class="hidden-tm">
						고려하는 것이 바람직합니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/forehead/forehead_img_1.png" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
				</div>

                <div class="new-section__wrap">
					<h5 class="new-content-tit tit-new2">내시경 이마 리프팅 대상</h5>

					<div class="img-style3 type-inner">
						<ul class="img-style3__list">
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/wrinkle/forehead/forehead_img_2.jpg" class="img-w100" loading="lazy" alt="이마 주름이 심한 경우">
								</div>
								<p class="img-style3__txt txt-new2">
									이마 주름이 심한 경우
								</p>
							</li>
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/wrinkle/forehead/forehead_img_3.jpg" class="img-w100" loading="lazy" alt="콧잔등과 눈가 주름이 심한 경우">
								</div>
								<p class="img-style3__txt txt-new2">
									콧잔등과 눈가 주름이 심한 경우
								</p>
							</li>
							<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_4.jpg" class="img-w100" loading="lazy" alt="이마 처짐으로 인해 눈꺼풀이 함께 처진 경우">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	이마 처짐으로 인해 눈꺼풀이 함께 처진 경우
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_5.jpg" class="img-w100" loading="lazy" alt="눈과 눈썹 사이가 좁고 주름진 경우">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	눈과 눈썹 사이가 좁고 주름진 경우
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_6.jpg" class="img-w100" loading="lazy" alt="미간 주름이 심한 경우">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	미간 주름이 심한 경우
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_7.jpg" class="img-w100" loading="lazy" alt="상안면부 전반의 주름으로 인상이 어두워 보이는 경우">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	상안면부 전반의 주름으로 인상이 어두워 보이는 경우
							  	 </p>
						   	</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-forehead2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        보다 <span class="n-color-wrinkle2">직접적인 방법</span>으로<br class="hidden-tm">
                        이마 처짐을 개선합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        내시경 이마 리프팅의 수술 원리는 비교적 간단합니다.<br class="hidden-tm">
						헤어라인 쪽에 비교적 적은 절개창을 만들어준 후, 처진 이마를 박리하여 당겨주는 것이죠.<br class="hidden-tm">
                        당겨진 이마는 <span class="n-color-wrinkle2">* 엔도타인</span>으로 고르게 고정한 뒤 봉합해줍니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        이 방법은 보다 직접적으로 처짐을 개선해주기 때문에 보다 그 효과가 뛰어나고<br class="hidden-tm">
						빨리 나타난다는 장점이 있습니다. 또, 상담 과정에서 이마의 상태와 너비에 따라 세워둔 계획대로의,<br class="hidden-tm">
						<span class="n-color-wrinkle2">비교적 정확한 수술이 가능하기 때문에 결과의 만족도 또한 높은 편</span>입니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/forehead/forehead_img_8.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">바노바기 내시경 이마 리프팅 방법</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_9.jpg" loading="lazy" alt="01 수술 후 흉터가 보이지 않도록 헤어라인 안쪽에 비교적 작은 절개창을 만들어줍니다." class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													01<br>
													수술 후 흉터가 보이지 않도록 헤어라인 안쪽에 비교적 작은
													절개창을 만들어줍니다.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_10.jpg" loading="lazy" alt="02 내시경을 통해 신경과 혈관의 위치를 확인하면서 처진 이마를 고르게 박리합니다. " class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													02<br>
													내시경을 통해 신경과 혈관의 위치를 확인하면서 처진 이마를 고르게
													박리합니다.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_11.jpg" loading="lazy" alt="03 두개골이나 심부근막에 엔도타인을 위치 시키고, 눈썹의 위치와 이마주름 등을 고려하여 처진 이마를 당긴 후 엔도타인에 고정시킵니다." class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													03<br>
													두개골이나 심부근막에 <span class="n-color-wrinkle2">* 엔도타인</span>을 위치 시키고, 눈썹의 위치와 이마
													주름 등을 고려하여 처진 이마를 당긴 후 <span class="n-color-wrinkle2">* 엔도타인</span>에 고정시킵니다.
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="section-noti txt-new1">
							* 절개 및 엔도타인의 위치는 환자 개개인의 상태에 따라 달라질 수 있습니다.
						</div>

						<div class="inner-stripe type-line-zero">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/wrinkle/forehead/forehead_img_12.png" loading="lazy" alt="엔도타인" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-wrinkle2">* 엔도타인</p>
										<p class="inner-stripe__txt txt-new1">
											엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적 재료입니다.<br class="hidden-tm">
											힘이 한 곳으로 집중되는 핀이나 단순 봉합과는 달리 피부 조직을 균일한 압력으로 고르게 당겨주어, 부작용과 재발을
											방지하고 보다 자연스러운 주름 개선이 가능합니다. 또, 시간이 지나면 자연스럽게 체내에 흡수되어 반영구적인 효과를
											기대할 수 있기 때문에 처진 피부를 당겨 개선하는 다양한 안티에이징 시술에 사용되고 있습니다.
										</p>
									</div>
								</li>
							</ul>
						</div><!--//inner-stripe-->
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-forehead3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        바노바기는 보다 <span class="n-color-wrinkle3">넓은 범위를<br class="hidden-tm"> 고르게 박리</span>합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        이마의 처짐을 가장 이상적으로 개선하는 방법은, 절개를 적게 하되 눈꺼풀 부위까지의 이마 전반을 고르게 박리하여 당겨주는 것입니다.<br class="hidden-tm">
						만약 이마의 피부층을 고르게 박리하지 않으면 주름이 불규칙적으로 개선되고 안면 비대칭이나 인상 변화 등의 부작용이 나타날 수 있죠.<br class="hidden-tm">
						하지만 박리 영역이 넓어지면 신경이나 혈관 등 그 내부의 조직들이 손상될 가능성이 높아지고 절개 또한 커지게 됩니다.<br class="hidden-tm">
						그만큼 환자분들의 부담이 커지게 되는 것입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        바노바기는 <span class="n-color-wrinkle3">환자분들의 부담을 줄이면서도 보다 이상적인 이마 처짐 개선</span>을 위해<br class="hidden-tm">
						내시경을 통한 이마 리프팅을 진행합니다.
                    </p>
					<p class="new-style1__txt txt-new1">
                        오랜 경험과 노하우로 보다 넓은 범위를 고르게 박리하면서도 내시경을 통해 신경이나 혈관과 같은 내부 조직들을 확인하여<br class="hidden-tm">
						손상을 주지 않도록 하는 것이죠. 때문에 <span class="color-white">바노바기 내시경 이마 리프팅은 부작용이나 흉터에 대한 걱정이 거의 없으면서도 회복이 빠르고,<br class="hidden-tm">
						상안면부 처짐이 고르게 개선되어 보다 효과적입니다.</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/forehead/forehead_img_13.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <h5 class="new-content-tit tit-new2">
							<span class="n-color-wrinkle2">보다 효과적인</span> 바노바기 내시경 이마 리프팅
						</h5>

						<div class="img-style7">
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_14.png" class="img-w100" loading="lazy" alt="기술과 노하우를 갖춘 바노바기 동안 성형 전문팀"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											기술과 노하우를 갖춘<br class="hidden-tm">
											바노바기 동안 성형 전문팀
										</h6>
										<p class="img-style7__txt txt-new1">
											보다 넓고 고르게 박리하여 상안면부<br class="hidden-tm">
											처짐을 균형 있게 개선
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_15.png" class="img-w100" loading="lazy" alt="내시경을 통한 보다 정밀한 박리"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											내시경을 통한 보다<br class="hidden-tm">
											정밀한 박리
										</h6>
										<p class="img-style7__txt txt-new1">
											조직 손상 및 부작용 거의 없이<br class="hidden-tm">
											비교적 빠른 회복
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_16.png" class="img-w100" loading="lazy" alt="엔도타인 고정"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											엔도타인<br class="hidden-tm">
											고정
										</h6>
										<p class="img-style7__txt txt-new1">
											보다 안정적인 고정과<br class="hidden-tm">
											자연스럽고 반영구적인 효과
										</p>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 4일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술 재료</h5>
										<p class="operation-v2__txt txt-new1">엔도타인 포헤드</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1~2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
									수술 후 며칠 간 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
									수술 후 약 1주 정도는 눈썹을 움직이는데 어색함이 느껴질 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-elastic">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">탄력밴드 리프팅</h5>
									<p class="bg-style2__txt txt-new1">
										내시경 이마 리프팅이 눈가 주름을 포함한 상안면부의 처짐을 개선해준다면,<br class="hidden-tm">
										탄력밴드 리프팅은 중·하안면부의 처짐을 개선할 수 있습니다.
									</p>
									<a href="wrinkleElastic.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>탄력밴드 리프팅 바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-botox">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">보톡스</h5>
									<p class="bg-style2__txt txt-new1">
										필요에 따라 보톡스 시술을 더해주어<br class="hidden-tm">
										주름을 예방할 수 있습니다.
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>보톡스 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
