<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<div class="new-visual type-facelift">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">얼굴의 근막층까지 당겨 보다 강력한 효과</p>
						<h3 class="new-visual__tit">
                            안면<span class="n-color-wrinkle2">거상술</span>
                        </h3>
						<p class="new-visual__txt">더욱 효과적으로 당기고, 부담은 줄이고</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#근본적인개선</span></li>
							<li class="new-visual__item"><span>#동안성형전문팀</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
                <div class="new-style1 type-facelift">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        안면거상술은 보다 직접적인 방법으로<br class="hidden-tm">
                        <span class="n-color-wrinkle2">얼굴 처짐을 개선</span>합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        안면거상술은 <span class="color-black1">귀 앞쪽의 절개를 통해 얼굴의 처지고 주름진 피부를 전반적으로 박리하고 당겨주는 수술</span>입니다.
						당겨진 피부를 단단히 고정하고 남은 피부는 절제하여 봉합하죠.
						이 방법은 처진 피부를 보다 직접적으로 당겨줄 수 있고 그 개선 범위 또한 비교적 넓습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        따라서 안면거상술은 다른 어떤 동안 성형 방법들 중에서도 그 효과가 뛰어나다고 할 수 있으며,
						<span class="n-color-wrinkle2">보다 매끄럽고 젊어 보이는 얼굴 피부로의 개선</span>이 가능합니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/facelift/facelift_img_1.jpg" loading="lazy" alt="안면거상술 시술 환자" class="img-w100"/>
					</div>
                </div>
				<div class="outer-box type-facelift">
					<div class="inner-box">
                        <div class="img-style3 type-cling type-wrinkle">
                            <h5 class="new-content-tit tit-new2">
                                안면거상술의  <span class="weight-regular">방법과 효과</span>
                            </h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/facelift/facelift_img_2.jpg" loading="lazy" alt="STEP 01 피부의 처짐 범위, 정도, 두께 등을 고려하여 박리를 계획" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										피부의 처짐 범위, 정도, 두께 등을 고려하여 박리를 계획
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/facelift/facelift_img_3.jpg" loading="lazy" alt="STEP 02 귀 앞 쪽을 절개한 후 계획한 만큼의 처진 조직들을 고르게 박리" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										귀 앞 쪽을 절개한 후 계획한 만큼의 처진 조직들을 고르게 박리
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/facelift/facelift_img_4.jpg" loading="lazy" alt="자연스러운 인상과 움직임이 가능한 정도에 맞추어 처진 조직들을 리프팅" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										자연스러운 인상과 움직임이 가능한 정도에 맞추어 처진 조직들을 리프팅
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/facelift/facelift_img_5.jpg" loading="lazy" alt="STEP 04 당겨진 피부를 고정한 후 남은 피부는 절제하여 꼼꼼히 봉합 " class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 04
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										당겨진 피부를 고정한 후 남은 피부는 절제하여 꼼꼼히 봉합
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<!-- 탄력밴드 리프팅페이지에서 가져옴 -->
			<div class="new-section type-cling">
				<div class="new-style1 type-elastic">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-wrinkle2">원인</span>을 제대로 알고 개선해야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						처음 노화가 진행되기 전 우리의 얼굴은 왕성한 콜라겐이 피부와 피하지방층을 지탱하고, 그것을 바로 아래의 근막층이 견고하게<br class="hidden-tm">
                        잡아주는 모습을 하고 있습니다.<br class="hidden-tm">
                        하지만 시간이 지나면서 콜라겐은 줄어들고 상대적으로 지방은 늘어나기 시작하죠. 결국 그 균형이 깨지면서 근막층 또한 무너지게 되는 <br class="hidden-tm">
                        것입니다. 그렇게 근막층이 힘을 잃게 되면 다시 그 힘을 되찾기는 어려우며, 겉으로 봤을 때 표정에 따라 주름이 남고 피부 처짐이 <br class="hidden-tm">
                        발생하게 됩니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						결과적으로 얼굴 처짐과 주름을 근본적으로 개선하기 위해서는, <br class="hidden-tm">
						<span class="n-color-wrinkle2">피하지방층 아래 무너진 근막층을 복구하는 것이 가장 중요</span>하다고 할 수 있습니다.
					</p>
                    <div class="inner-circle type-wrinkle type-mbig">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    콜라겐<br>
                                    상실
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    지방<br>
                                    축적
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    얼굴<br>
                                    근막층<br>
                                    무너짐
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    피부 처짐<br>
                                    및 주름<br>
                                    발생
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/elastic/elastic_img_1.png" loading="lazy" alt="탄력밴드 리프팅 모델 전후사진" class="img-normal">

                        <div class="new-style1__overlay type-left">
                            <img src="../../images/wrinkle/elastic/elastic_img_2.png" loading="lazy" alt="before" class="img-w100">
                        </div>
                        <div class="new-style1__overlay type-right">
                            <img src="../../images/wrinkle/elastic/elastic_img_3.png" loading="lazy" alt="수술 후 6개월" class="img-w100">
                        </div>
					</div>
				</div>
			</div>
			<!-- //탄력밴드 리프팅페이지에서 가져옴 -->
			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-facelift2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 근막층을 포함한<br class="hidden-tm">
						<span class="n-color-wrinkle3">얼굴의 각 층들을 동시에</span> 당겨줍니다
					</h4>
					<p class="new-style1__txt txt-new1">
						피부 처짐과 주름의 가장 근본적인 원인인 근막층.<br class="hidden-tm">
						바노바기는 보다 효과적인 얼굴 처짐 개선을 위해 이 근막층을 포함한 얼굴의 각 층 조직들을 동시에 당겨 고정합니다.<br class="hidden-tm">
						개개인의 얼굴 특징과 표정 근육까지 고려하여 이상적인 박리 영역과 방향을 정한 후, <span class="color-white">처짐을 만드는 가장 안쪽의<br class="hidden-tm">
							 근막층부터 겉의 피부까지를 함께 개선</span>하는 것이죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 바노바기 안면거상술은 <span class="n-color-wrinkle3">그 효과가 더욱 자연스러운 동시에 뛰어나며,<br class="hidden-tm">
							그 유지 기간 또한 반영구적이라는 장점</span>을 가지고 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/facelift/facelift_img_6.jpg" class="img-w100" loading="lazy" alt="안면거상술 시술 환자"/>
					</div>
					<div class="inner-box">
						<div class="compare4">
							<h5 class="new-content-tit tit-new2">
								근막층까지 당겨주는 <span class="weight-regular">바노바기 안면거상술</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/wrinkle/facelift/facelift_img_7.jpg" class="img-w100" loading="lazy" alt="피부만 리프팅 할 때">
									</div>
									<div class="compare4__caption txt-new2 type-gray">
										피부만 리프팅 할 때
									</div>
									<p class="compare4__txt txt-new1">
										피부 처짐의 원인인 근막층 대신 피부 표면만 당겨<br class="hidden-tm"> 근본적인 얼굴 처짐을 개선하기 어려움
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/wrinkle/facelift/facelift_img_8.jpg" class="img-w100" loading="lazy" alt="근막층까지 리프팅 할 때">
									</div>
									<div class="compare4__caption txt-new2 type-wrinkle">
										근막층까지 리프팅 할 때
									</div>
									<p class="compare4__txt txt-new1">
										피부층, 지방층, 근막층 까지 동시에 당겨<br class="hidden-tm">
										<span class="n-color-wrinkle2">보다 강력하고 오래 지속되는 리프팅 효과</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-bottom type-facelift3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기의 <span class="n-color-wrinkle2">오랜 경험과 기술</span>로<br class="hidden-tm">
						수술적 부담을 줄여드립니다
					</h4>
					<p class="new-style1__txt txt-new2">
						작은 흉터 하나에도 민감할 수 있는 얼굴에 절개를 하고 넓은 부위의 박리가 이루어지는 안면거상술은<br class="hidden-tm">
						자칫 환자분들에게 큰 부담이 될 수 있는 수술입니다.<br>
						따라서 <span class="n-color-wrinkle2">시술자의 역량으로 그 수술적 부담을 줄여주는 것이 안면거상술의 중요 포인트</span> 중 하나라고 할 수 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						바노바기는 안면거상술의 그 효과는 유지하면서도 그 부담은 조금이라도 줄이기 위해 다양한 노력을 기울입니다.<br class="hidden-tm">
						개개인의 얼굴형과 귀 앞 라인을 따라 필요한 만큼만을 절개하여 흉터를 거의 보이지 않게 하며, 수술 후 흉터 집중 관리를 진행하죠. <br class="hidden-tm">
						연부 조직의 박리는 그 시술 효과를 위해 보다 넓게 계획하되, Full HD 내시경과 오랜 경험을 통해 신경이나 혈관 등 조직의 손상 거의 없이 보다 고르게 <br class="hidden-tm">
						박리합니다. 또, 수술 후에도 부기나 멍, 통증 등을 치료하는 보다 체계적인 후 관리 프로그램이 진행되어 더욱 빠른 회복이 가능합니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/facelift/facelift_img_9.jpg" loading="lazy" alt="바노바기 동안 성형 전문팀" class="img-normal">
					</div>
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">
							안면거상술의 부담을 줄이는 <span class="weight-regular">바노바기 동안 성형 전문팀</span>
						</h5>
						<div class="img-style3 type-three type-mobile-interval">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/wrinkle/facelift/facelift_img_10.jpg" loading="lazy" alt="개개인에게 맞는 절개선 디자인 및 흉터 집중 관리" class="img-w100">
									</div>
									<h6 class="img-style3__subject txt-new2">개개인에게 맞는 절개선 디자인 및 흉터 집중 관리</h6>
									<p class="img-style3__txt3 txt-new1">흉터가 거의 남지 않는 수술</p>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/wrinkle/facelift/facelift_img_11.jpg" loading="lazy" alt="Full HD 내시경 사용 및 오랜 박리 경험" class="img-w100">
									</div>
									<h6 class="img-style3__subject txt-new2">Full HD 내시경 사용 및 오랜 박리 경험</h6>
									<p class="img-style3__txt3 txt-new1">신경이나 혈관 등 조직의 손상이나 부작용 거의 없음</p>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/wrinkle/facelift/facelift_img_12.jpg" loading="lazy" alt="개개인에게 맞는 절개선 디자인 및 흉터 집중 관리" class="img-w100">
									</div>
									<h6 class="img-style3__subject txt-new2">개개인에게 맞는 절개선 디자인 및 흉터 집중 관리</h6>
									<p class="img-style3__txt3 txt-new1">부기나 멍이 비교적 빨리 회복되고 통증이 줄어듬</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 <span class="color-black1">욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화</span>됩니다.<br>
		                            실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                            수술 후 며칠 간 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
		                            수술 후 일시적으로 수술한 부위의 감각이 떨어질 수 있으며, 감각이 회복되며 가려운 증상이 나타나기도 합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-forehead">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">내시경 이마 리프팅</h5>
									<p class="bg-style2__txt txt-new1">
										내시경 이마 리프팅은 눈가 주름을 포함한 <br class="hidden-tm">
										상안면부의 처짐을 개선할 수 있습니다
									</p>
									<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
										<span>내시경 이마 리프팅 바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-botox">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">보톡스</h5>
									<p class="bg-style2__txt txt-new1">
										필요에 따라 보톡스 시술을 더해주어<br class="hidden-tm">
										주름을 예방할 수 있습니다.
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>보톡스 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
