<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-elastic">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Căng da bằng năng lực kỹ thuật và bí quyết riêng</p>
						<h3 class="new-visual__tit">
							Căng da bằng<br>
                            <span class="n-color-wrinkle2">Band đàn hồi (Elasticum)</span>
                        </h3>
						<p class="new-visual__txt">Nét trẻ trung tự nhiên lưu lại lâu thêm nữa</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Kỹ thuật tỉ mỉ chính xác</span></li>
							<li class="new-visual__item"><span>#Kết quả tự nhiên</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-elastic">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Phải nắm bắt đúng
						<span class="n-color-wrinkle2">nguyên nhân</span> khi tiến hành cải thiện.
					</h4>
					<p class="new-style1__txt txt-new1">
						Trước khi xảy ra quá trình lão hóa, khuôn mặt chúng ta có làn da chứa nhiều collagen và lớp mỡ dưới da cũng được duy trì ổn định, đó là dáng vẻ cho thấy lớp cân cơ nông đang còn vững chắc. Tuy nhiên, theo thời gian thì collagen cũng dần giảm bớt đi và mỡ bắt đầu tăng lên tương đối nhiều. Rốt cuộc là trạng thái cân bằng bị phá vỡ và lớp cân cơ nông cũng sẽ bị phá hủy. Nếu lớp cân cơ nông bị mất đi sức mạnh như vậy thì rất khó để hồi phục lại, và khi nhìn vào từ bên ngoài, sẽ thấy có nếp nhăn tùy theo từng biểu hiện gương mặt và cũng sinh ra hiện tượng chảy xệ da.
					</p>
					<p class="new-style1__txt2 txt-new2">
						Rốt cuộc, để cải thiện tận gốc nếp nhăn và tình trạng chảy xệ ở khuôn mặt, có thể nói điều quan trọng nhất là
						<span class="n-color-wrinkle2">khôi phục lại lớp cân cơ nông đã bị phá hủy ở dưới lớp mỡ dưới da</span>
					</p>
                    <div class="inner-circle type-wrinkle type-mbig">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    Mất đi <br>
                                    collagen
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    Tích <br>
                                    mỡ
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    Lớp cân cơ nông<br>
                                    của khuôn mặt <br>
                                    bị phá hủy
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    Phát sinh nếp nhăn<br>
                                    và tình trạng <br>
                                    chảy xệ da
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/elastic/elastic_img_1.png" loading="lazy" alt="탄력밴드 리프팅 모델 전후사진" class="img-normal">

                        <div class="new-style1__overlay type-left">
                            <img src="../../images/wrinkle/elastic/elastic_img_2.png" loading="lazy" alt="before" class="img-w100">
                        </div>
                        <div class="new-style1__overlay type-right">
                            <img src="../../images/wrinkle/elastic/elastic_img_3.png" loading="lazy" alt="수술 후 6개월" class="img-w100">
                        </div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Band đàn hồi (Elasticum) giúp tăng thêm sức mạnh cho <span class="n-color-wrinkle3">bản thân lớp cân cơ nông.</span>
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        Nguyên nhân căn bản nhất của tình trạng chảy xệ da và nếp nhăn là lão hóa lớp cân cơ nông. Banobagi <span class="n-color-wrinkle3">sử dụng band đàn hồi (Elasticum) </span>
						làm vật liệu phù hợp giúp tăng cường sức mạnh cho lớp cân cơ nông này.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        Loại Band đặc biệt này là chỉ dùng trong y tế có tính đàn hồi cao do chuyên gia trong lĩnh vực chỉnh hình tái tạo nổi tiếng thế giới là tiến sỹ người Ý Dr. Sergio Capurro phát minh ra, nó
                        <span class="color-white">đóng vai trò như dây chằng kết nối với các mô xung quanh trong cơ thể. </span>Phương pháp này được thực hiện dựa trên nguyên lý giúp tăng sức mạnh tự thân của lớp cân cơ nông đã bị xệ xuống nên giúp duy trì hiệu quả bán vĩnh cửu một cách an toàn hơn, đồng thời loại chỉ đặc biệt còn phản ứng đàn hồi với các chuyển động nên mang lại kết quả tự nhiên hơn. Ngoài ra, do hầu như không phải rạch nhiều nên có ưu điểm là giúp giảm gánh nặng phẫu thuật cho bệnh nhân và khiến cho quá trình trở nên hồi phục tương đối nhanh.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/elastic/elastic_img_4.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-wide type-cling type-wrinkle">
							<h5 class="new-content-tit tit-new2">
                                Đặc điểm <span class="weight-regular">của band đàn hồi (Elasticum)</span>
							</h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_5.jpg" loading="lazy" alt="Khả năng đàn hồi của band này giúp nó có thể giãn ra tùy ý." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            Khả năng đàn hồi của band này giúp nó có thể giãn ra tùy ý.
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_6.jpg" loading="lazy" alt="비교적 강력한 탄성과 인장력으로 사용 범위가 넓고 끊어질 걱정 거의 없음, 근육 움직임에 따라 부드럽게 움직여 보다 자연스러움, 폴리에스터로 감싸여 조직 손상과 이물감이 거의 없음, 많은 절개가 필요하지 않아 비교적 회복이 빠르고 흉터 걱정이 줄어듬" class="img-w100 hidden-tm"/>
										<img src="../../images/wrinkle/elastic/elastic_img_6_t.jpg" loading="lazy" alt="비교적 강력한 탄성과 인장력으로 사용 범위가 넓고 끊어질 걱정 거의 없음, 근육 움직임에 따라 부드럽게 움직여 보다 자연스러움, 폴리에스터로 감싸여 조직 손상과 이물감이 거의 없음, 많은 절개가 필요하지 않아 비교적 회복이 빠르고 흉터 걱정이 줄어듬" class="img-w100 hidden-p"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            Polyester bao bọc quanh silicon giống như lưới, tạo hiệu quả gắn kết các tổ chức một cách ổn định và có độ bền kéo (khả năng kéo vật thể) cao.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        Chúng tôi hướng đến <span class="n-color-wrinkle2">hiệu quả xuất sắc </span>
                        hơn nhờ năng lực của các chuyên gia tiến hành thủ thuật.
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        Để tối đa hóa hiệu quả căng da bằng cách sử dụng band đàn hồi (Elasticum), cần phải có
						<span class="n-color-wrinkle2">kinh nghiệm và sự hiểu biết đầy đủ về các tổ chức của khuôn mặt, kiến thức chính xác về band đàn hồi (Elasticum), và ngoài ra cũng cần phải có kỹ thuật và cảm giác tinh tế </span>
						dựa trên hai điều này.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        Bệnh viện phẫu thuật thẩm mỹ Banobagi đã mời chính người đã phát minh ra band đàn hồi (Elasticum) là Dr. Sergio Capurro đến để cùng chia sẻ về các phương pháp phẫu thuật và kỹ thuật thực hiện, và hiện vẫn đang duy trì các hoạt động giao lưu về mặt y học. Ngoài ra, dựa trên kinh nghiệm lâu năm và bí quyết của đội ngũ y bác sỹ chuyên phẫu thuật thẩm mỹ, bệnh viện chúng tôi cũng đã tiến hành các nghiên cứu về việc ứng dụng band đàn hồi (Elasticum) sao cho phù hợp với đặc điểm của người Á Đông. Do đó, Banobagi đã tận dụng được một cách hiệu quả hơn các thế mạnh của band đàn hồi này, giúp mang lại kết quả làm hài lòng khách hàng hơn nữa.
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-wrinkle">
							<h5 class="new-content-tit tit-new2">
                                <span class="weight-regular">Căng da band đàn hồi Banobagi</span> hiệu quả hơn nữa
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_7.jpg" loading="lazy" alt="POINT 01 탄력밴드를 고안한 Dr.카푸로와의 의학적 교류" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">Giao lưu về mặt y học với Dr. Capurro, người đã phát minh ra band đàn hồi (Elasticum)</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_8.jpg" loading="lazy" alt="POINT 02 동안 성형 전문팀 구성으로 보다 전문화된 정교한 감각과 기술" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">Kỹ thuật và cảm giác tinh tế mang tính chuyên nghiệp hơn của đội ngũ y bác sỹ chuyên phẫu thuật thẩm mỹ trẻ hóa gương mặt</p>
                                </li>
                            </ul>
                        </div>

                        <div class="img-style3 type-wide type-wrinkle">
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_9.jpg" loading="lazy" alt="POINT 03 동안 성형에 대한 오랜 경험과 노하우로 표정 근육까지 고려하는 감각 바노바기는 사람을 먼저 생각하는 맞춤형 안티에이징을 추구합니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										Với bí quyết và kinh nghiệm lâu năm về phẫu thuật chỉnh hình trẻ hóa gương mặt, cảm giác cân nhắc đến cả các cơ biểu cảm, Banobagi hướng đến chống lão hóa phù hợp với từng cá nhân, luôn đặt con người lên vị trí ưu tiên hàng đầu.
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="new-tab__line">line</div>
            <div class="new-tab type-wrinkle">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">Accusculpt</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-incision" class="new-tab__link">Căng da band đàn hồi (rạch mổ)</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-nonincision" class="new-tab__link">Căng da Band đàn hồi (không rạch mổ)</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-incision is-active">
                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-wrinkle3">Ứng dụng band đàn hồi (Elasticum)</span> vào phẫu thuật căng da mặt
						</h4>
						<p class="new-style1__txt txt-new1">
							Phẫu thuật căng da mặt (Facelift surgery) là loại phẫu thuật tiến hành bóc tách toàn bộ vùng da chảy xệ và có nếp nhăn rồi kéo lên, sau đó cắt phần da thừa đi. Do đây là phương pháp tương đối trực tiếp nên có hiệu quả vượt trội và có mức độ hài lòng cao, nhưng vì vùng bóc tách rộng nên làm hư tổn tổ chức da và thời gian hồi phục hơi lâu, có thể khiến bệnh nhân cảm thấy băn khoăn lo lắng.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Banobagi đã <span class="n-color-wrinkle3">sáng chế ra phương pháp căng da bằng band đàn hồi (Elasticum) kiểu rạch</span>, giúp giảm bớt những băn khoăn lo lắng ấy của bệnh nhân thông qua bí quyết tích lũy từ lâu và vật liệu phù hợp.
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_10.jpg" loading="lazy" alt="절개 탄력밴드 리프팅 동안 성형 모델 " class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="img-style8">
								<h5 class="new-content-tit type-txt tit-new2">
                                    Căng da bằng band đàn hồi <span class="weight-regular">kiểu rạch</span>
                                </h5>
                                <p class="img-style8__txt txt-new1">
                                    Cải thiện nếp nhăn, tình trạng chảy xệ của gương mặt một cách toàn diện
                                </p>

                                <h6 class="img-style8__subject txt-new2">Bí quyết của Banobagi</h6>
                                <ul class="img-style8__list">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_11.jpg" loading="lazy" alt="처지고 주름진 피부를 전반적으로 당겨주는 안면거상술" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">Phẫu thuật căng da giúp kéo vùng da bị nhăn và chảy xệ một cách toàn diện</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" loading="lazy" alt="보다 간편하고 적은 절개로 근막층을 보강해주는 탄력밴드" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">Band đàn hồi giúp tăng cường sức mạnh cho lớp cân cơ nông bằng vết rạch nhỏ và đơn giản hơn</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-wrinkle2">Đơn giản</span> và <span class="n-color-wrinkle2">hiệu quả</span> hơn
						</h4>
						<p class="new-style1__txt txt-new2">
							Phương pháp căng da bằng band đàn hồi (kiểu cắt rạch) được <span class="n-color-wrinkle2">tiến hành bằng cách rạch ít </span>hơn so với phương pháp căng da mặt hiện hành.
						</p>
						<p class="new-style1__txt2 txt-new1">
							Bác sỹ sẽ cắt một đường bằng với mức cần thiết để sử dụng band đàn hồi (Elasticum), giúp gia cố lớp cân cơ nông đã bị chảy xệ, kéo da bị chảy xệ lên như phương pháp căng da mặt thông thường rồi cắt phần da thừa. Phương pháp này giúp giảm phạm vi bóc tách và rạch nên có thể bảo tồn được nguyên vẹn các tổ chức da ở phạm vi rộng, hầu như không có tác dụng phụ và có thể hồi phục nhanh hơn. Ngoài ra, lớp cân cơ nông được tăng thêm sức mạnh, mang lại hiệu quả bằng hoặc vượt trội và kéo dài lâu hơn so với phương pháp phẫu thuật căng da mặt thông thường, đồng thời có thể giúp di chuyển được tự nhiên nhờ độ đàn hồi của band đàn hồi.
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_13.jpg" loading="lazy" alt="탄력밴드 리프팅(절개) - 기존 안면거상술 박리영역과 절개형 탄력밴드 리프팅 박리영역" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="new-description type-pd0">
								<h5 class="new-content-tit tit-new2 type-description">
                                    <span class="weight-regular">Ưu điểm </span> của phương pháp căng da bằng Band đàn hồi (kiểu cắt rạch)
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            Có thể hồi phục nhanh hơn do vùng bị rạch được giảm xuống so với phương pháp căng da mặt hiện hành
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Hiệu quả và mức độ duy trì của toàn bộ vùng mặt ngang với phương pháp căng da mặt thông thường
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Độ đàn hồi và khả năng di chuyển tự nhiên như dây chằng
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Cải thiện nếp nhăn và tình trạng chảy xệ tạo sự hài lòng bằng bí quyết và kinh nghiệm làm thủ thuật phong phú
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng - 1 tiếng 30 phút</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Có thể có cảm giác đau buốt khi thuốc mê dần hết tác dụng và sẽ giảm dần theo thời gian.
										Khi khử trùng hoặc cắt chỉ thì sẽ có cảm giác hơi đau nhói.
										Sau khi phẫu thuật, trong vòng vài ngày sẽ có thể cảm giác tê rát và kéo căng một chút.
										Khoảng 2 tuần sau khi phẫu thuật, có thể có triệu chứng đau khi mở miệng hoặc cười lớn.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

                <!-- <div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">Nếu tiến hành tổng hợp cùng loại phẫu thuật khác thì có thể nhận được kết quả tốt hơn.</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">Căng da trán nội soi</h5>
										<p class="bg-style2__txt txt-new1">
											Căng da trán nội soi có thể giúp cải thiện vùng phía trên của mặt bao gồm cả nếp nhăn quanh mắt.
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>Xem ngay Phương pháp căng da trán nội soi</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h4 class="bg-style2__subtit txt-new2">Botox</h4>
										<p class="bg-style2__txt txt-new1">
											Tùy theo mức độ cần thiết mà có thể tiến hành thêm thủ thuật tiêm botox để có thể phòng ngừa được nếp nhăn.
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>Xem ngay Tiêm botox</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div> -->
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-nonincision">
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Dựa trên bí quyết của Banobagi, có thể thực hiện thêm <br class="hidden-tm">
							<span class="n-color-wrinkle2">Dựa trên bí quyết của Banobagi, có thể thực hiện thêm</span> cùng <span class="n-color-wrinkle2">với phương pháp căng da bằng chỉ.</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Căng da bằng band đàn hồi (Elasticum) không cắt rạch là phương pháp phẫu thuật sử dụng band đàn hồi để cải thiện tình trạng chảy xệ của da kết hợp cùng phương pháp căng da bằng chỉ. Tuy nhiên, dù là cùng một phương pháp nhưng do đặc điểm của band đàn hồi nên sẽ có sự khác biệt lớn về mục đích và hiệu quả của cuộc phẫu thuật.  <br><br>

							Thông thường căng da bằng chỉ được thực hiện theo nguyên lý đơn thuần là treo và kéo căng các tổ chức dưới da bằng chỉ. Đây là phương pháp phẫu thuật mang lại hiệu quả có tính tạm thời và tính bề ngoài, chứ không cải thiện lớp cân cơ nông bị sụp xuống (chính là nguyên nhân gây ra tình trạng chảy xệ da). Tuy nhiên, căng da bằng band đàn hồi không cắt rạch được sử dụng để gia cố thêm cho lớp cân cơ nông bị chùng nhão làm chảy xệ da, giúp cải thiện làn da chảy xệ bằng phương pháp tự nhiên hơn.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Theo đó, hiệu quả sẽ được duy trì lâu hơn so với phương pháp căng da bằng chỉ hiện hành và có thể  <span class="n-color-wrinkle2">hướng đến cải thiện tình trạng chảy xệ da tận gốc. </span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_14.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 - 절개위치" class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="img-style8">
								<h5 class="new-content-tit tit-new2">
                                    <span class="weight-regular">Ứng dụng</span> phương pháp căng da bằng band đàn hồi (không cắt rạch)
                                </h5>

                                <h6 class="img-style8__subject txt-new2">Căng da bằng band đàn hồi không cắt rạch</h6>
                                <ul class="img-style8__list">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_15.jpg" loading="lazy" alt="피부 아래의 조직들을 당겨주는 실 리프팅" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">Căng da bằng chỉ giúp kéo các tổ chức bên dưới da lên</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" loading="lazy" alt="피부 처짐의 근본적 원인이 되는 근막층 무너짐을 보강해주는 탄력밴드" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">Band đàn hồi giúp gia cố cho lớp cân cơ nông bị sụp xuống và trở thành nguyên nhân gây ra tình trạng chảy xệ da</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic5">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Căng da tự nhiên và hiệu quả hơn, <br class="hidden-tm">
							<span class="n-color-wrinkle3">duy trì được kết quả lâu hơn</span>.
						</h4>
						<p class="new-style1__txt txt-new1">
							Ưu điểm lớn nhất của phương pháp căng da bằng band đàn hồi không cắt rạch là kết quả mang lại vượt trội hơn so với phương pháp căng da bằng chỉ hiện hành, đồng thời đây cũng là phương pháp phẫu thuật đơn giản hơn. Do được áp dụng cho cả lớp cân cơ nông nên có thể mong đợi hiệu quả cải thiện tận gốc tình trạng chảy xệ da hơn so với phương pháp căng da bằng chỉ đơn thuần chỉ giúp kéo các tổ chức dưới da lên. Ngoài ra, do đặc tính của band đàn hồi là có độ đàn hồi và thân thiện với cơ thể nên hầu như không tạo cảm giác có dị vật và tự nhiên đến từng biểu cảm của gương mặt. Hơn nữa, do hầu như không cắt rạch nên cũng giảm được gánh nặng về thời gian hồi phục và các triệu chứng đau. Phương pháp này chỉ kéo những vùng cần thiết để khôi phục độ đàn hồi nên hầu như không gây ra hư tổn cho các tổ chức.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Với những ưu điểm này, phương pháp căng da bằng band đàn hồi không cắt rạch  <span class="n-color-wrinkle3">có thể được áp dụng một cách đa dạng vào vùng mong muốn</span>
							được sử dụng tổng hợp cùng các loại phẫu thuật, thủ thuật khác để <br class="hidden-tm"><span class="n-color-wrinkle3">mang lại khả năng chỉnh hình trẻ hóa gương mặt hiệu quả hơn nữa.</span>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_16.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 동안 성형 모델 " class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="new-description type-pd0">
								<h5 class="new-content-tit tit-new2 type-description">
                                    <span class="weight-regular">Ưu điểm</span> của phương pháp căng da bằng band đàn hồi (kiểu cắt rạch)
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            Có thể hồi phục nhanh hơn do vùng bị rạch được giảm xuống so với phương pháp căng da bằng chỉ hiện hành
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Hiệu quả và mức độ duy trì của toàn bộ vùng mặt ngang với phương pháp căng da bằng chỉ thông thường
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Độ đàn hồi và khả năng di chuyển tự nhiên như dây chằng
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								Cải thiện nếp nhăn và tình trạng chảy xệ tạo sự hài lòng bằng bí quyết và kinh nghiệm làm thủ thuật phong phú
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 lần</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Có thể có cảm giác đau buốt khi thuốc mê dần hết tác dụng và sẽ giảm dần theo thời gian.
										Khi khử trùng hoặc cắt chỉ thì sẽ có cảm giác hơi đau nhói.
										Sau khi phẫu thuật, trong vòng vài ngày sẽ có thể cảm giác tê rát và kéo căng một chút.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">Nếu tiến hành tổng hợp cùng loại phẫu thuật khác thì có thể nhận được kết quả tốt hơn.</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h4 class="bg-style2__subtit txt-new2">Căng da trán nội soi</h4>
										<p class="bg-style2__txt txt-new1">
											Căng da trán nội soi có thể giúp cải thiện vùng phía trên của mặt bao gồm cả nếp nhăn quanh mắt.
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>Xem ngay Phương pháp căng da trán nội soi</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h4 class="bg-style2__subtit txt-new2">Botox</h4>
										<p class="bg-style2__txt txt-new1">
											Tùy theo mức độ cần thiết mà có thể tiến hành thêm thủ thuật tiêm botox để có thể phòng ngừa được nếp nhăn.
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>Xem ngay Tiêm botox</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div> -->
			</div><!-- //new-tab-content-->
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
