<%
	type = "review"
	page = "epilogue"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-epilogue">톡톡튀는 리얼후기</h2>
		<p class="container__txt">바노바기와 함께한 분들의 생생한 리얼 후기를 확인해보세요.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board type-review">
			<div class="review">
				<div class="gender">
					<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
					<label for="gender_f" class="gender__label">여</label>
					<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
					<label for="gender_m" class="gender__label">남</label>
				</div>
				<div class="epilogue-best">
	                <div class="epilogue-best__list">
	                	<div class="epilogue-best__wrap">
	                	    <div class="epilogue-best__outer">
	                	        <div class="epilogue-best__box type-img">
	                	            <div class="epilogue-best__item">
	                	            	<img src="https://www.banobagi.com/upload/wannabe/wannabe_5a1e3af3decdf.jpg" loading="lazy" alt="" class="img-responsive">
										<a href="" class="epilogue-best__link">상세보기</a>
	                	            </div>
	                	        </div>
	                	        <div class="epilogue-best__box type-txt">
	                	            <div class="epilogue-best__item">
	                	            	<span class="epilogue-best__mark">BEST</span>
	                	            	<div class="epilogue-best__area">
	                	            	    <div class="epilogue-best__inner">
	                	            	    	<div class="epilogue-best__vertical">
	                	            	    		<a href="" class="epilogue-best__link2"><h3 class="epilogue-best__tit">문어의 윤곽3종+눈매교정+<br>코 후기☆★</h3>
	                	            	    			<p class="epilogue-best__txt">저는 바노바기에서 안면윤곽3종(광대,사각턱,앞턱) 부분절개눈매교정 코(콧대,코끝) 수술을 받았습니다. 지금 수술한지 7개월 정도 됐어요~ 너무 예뻐진  얼굴로 잘 지내고 있습니다! 수술 전부터 지금까지 후기 다시 정리 해드리려구요</p></a>
	                	            	    	</div>
	                	            	    </div>
	                	            	</div>
	                	            </div>
	                	        </div>
	                	    </div>
	                	</div>
						<div class="epilogue-best__wrap">
	                	    <div class="epilogue-best__outer">
	                	        <div class="epilogue-best__box type-img">
	                	            <div class="epilogue-best__item">
	                	            	<img src="https://www.banobagi.com/upload/wannabe/wannabe_5a1e3af3decdf.jpg" loading="lazy" alt="" class="img-responsive">
										<a href="" class="epilogue-best__link">상세보기</a>
	                	            </div>
	                	        </div>
	                	        <div class="epilogue-best__box type-txt">
	                	            <div class="epilogue-best__item">
	                	            	<span class="epilogue-best__mark">BEST</span>
	                	            	<div class="epilogue-best__area">
	                	            	    <div class="epilogue-best__inner">
	                	            	    	<div class="epilogue-best__vertical">
	                	            	    		<a href="" class="epilogue-best__link2"><h3 class="epilogue-best__tit">문어의 윤곽3종+눈매교정+<br>코 후기☆★</h3>
	                	            	    			<p class="epilogue-best__txt">저는 바노바기에서 안면윤곽3종(광대,사각턱,앞턱) 부분절개눈매교정 코(콧대,코끝) 수술을 받았습니다. 지금 수술한지 7개월 정도 됐어요~ 너무 예뻐진  얼굴로 잘 지내고 있습니다! 수술 전부터 지금까지 후기 다시 정리 해드리려구요</p></a>
	                	            	    	</div>
	                	            	    </div>
	                	            	</div>
	                	            </div>
	                	        </div>
	                	    </div>
	                	</div>
						<!--//epilogue-best__wrap -->
	                </div>
					<a href="" class="epilogue-best__prev js-best-prev">prev</a>
					<a href="" class="epilogue-best__next js-best-next">next</a>
	            </div>
				<!--// best -->

				<div class="category-tab">
					<ul class="category-tab__list">
						<li class="category-tab__item is-active">
							<a href="" class="category-tab__link">전체</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">윤곽</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">바디</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">가슴</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">눈</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">코</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">동안</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">줄기세포</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">재수술</a>
						</li>
						<li class="category-tab__item">
							<a href="" class="category-tab__link">스페셜</a>
						</li>
					</ul>
				</div>


				<div class="epilogue type-default">
					<ul class="epilogue__list">
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" loading="lazy" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
					</ul>
				</div>
				<p class="review__noti">
					<span class="review__point">위의 게시물을 무단 도용 시 저작권 및 초상권 침해로 법적 제재를 받으실 수 있습니다.</span>
					본 이미지는 실제와 다소 차이가 있을 수 있습니다.
				</p>
			</div>
		</div><!-- //board-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
