<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="reoperation detail-common">
	<section class="fs_section reoperationFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-reoperation">
				   	Bằng <span class="color-reoperation0">sự điều chỉnh đúng đắn</span> tuân thủ <span class="color-reoperation0">nguyên tắc</span>
			   	</p>
			   	<h3 class="detail__first-txt type-reoperation">
				   	Chữa lành đến cả những tổn thương tâm hồn<br>
				   	<strong class="detail__first-point"><span class="color-reoperation1">Tái phẫu thuật</span> Detail Banobagi</strong>
			   	</h3>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>Cuộn chuột</em>
	   	</div>
	</section>

	<section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-normal type-reoperation">
				 	<h4 class="detail__section-tit">
				   		<strong>Tái phẫu thuật</strong><span class="color-comma">,</span><br class="hidden-tm">
				   		<strong class="color-reoperation1">Phương pháp thẩm mỹ</strong> của
				   		Banobagi
				 	</h4>
				 	<p class="detail__section-subtit">Điều chỉnh chính xác bắt đầu từ những điều cơ bản</p>
				 	<p class="detail__section-txt">
						Có nhiều nguyên nhân dẫn đến việc tái phẫu thuật nhưng chung quy vẫn chỉ có một, đó chính là sự không hài lòng.
						<span class="color-reoperation4">Nắm bắt nguyên nhân dẫn đến sự không hài lòng, Banobagi tuân theo các nguyên tắc cơ bản</span>
						và tiến hành thẩm mỹ trên cơ sở hiểu và chuẩn đoán chính xác, tạo nên kết quả thõa mãn, hài lòng hơn.
				 	</p>
			   	</div>
			   	<div class="layer-doc type-reoperation hidden-m"><!-- pc -->
				   	<h5 class="layer-doc__tit">Hệ thống tái phẫu thuật Banobagi</h5>
				   	<ul class="layer-doc__list">
					   	<li class="layer-doc__item">Xác định nhu cầu tái phẫu thuật</li>
					   	<li class="layer-doc__item">Hiểu rõ mục tiêu</li>
					   	<li class="layer-doc__item">Chuẩn đoán chính xác</li>
					   	<li class="layer-doc__item">Phẫu thuật tuân thủ nguyên tắc cơ bản</li>
					   	<li class="layer-doc__item">Quản lý sau phẫu thuật</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">dim</div>
	   	<div class="detail__popup-m">
		   	<div class="layer-doc hidden-pt type-reoperation">
				<h5 class="layer-doc__tit">Hệ thống tái phẫu thuật Banobagi</h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Xác định nhu cầu tái phẫu thuật</li>
					<li class="layer-doc__item">Hiểu rõ mục tiêu</li>
					<li class="layer-doc__item">Chuẩn đoán chính xác</li>
					<li class="layer-doc__item">Phẫu thuật tuân thủ nguyên tắc cơ bản</li>
					<li class="layer-doc__item">Quản lý sau phẫu thuật</li>
				</ul>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom hidden-pt type-reoperation">
		   	<div class="detail__section-set">
			   	<span>Hệ thống tái phẫu thuật Banobagi</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">button</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-reoperation type-quotation2">
				<div class="detail__section-wrap2">
					<div class="detail__vertical">
						<div class="detail__section-box type-reoperation type-wide type-quotation2">
							<h4 class="detail__section-tit">
								Tái phẫu thuật<span class="color-comma">,</span><br class="hidden-tm">
								Có thể <strong class="color-reoperation2">tin tưởng</strong>
								Banobagi
							</h4>
							<p class="detail__section-subtit">Chuyên gia trong từng lĩnh vực phẫu thuật</p>
							<p class="detail__section-txt">
								Tái phẫu thuật là hoạt động đòi hỏi phải xem xét cẩn thận từ phẫu thuật đến sự biến đổi của mô, sự hiểu biết về phương pháp phẫu thuật trước đó. Nếu vấn đề nằm ở vật cấy ghép trước đó thì cần tiến hành loại bỏ và thay thếphù hợp. Đó là lí do
								<span class="color-reoperation2">bạn nên nhận tái phẫu thuật từ chuyên gia có tay nghề cao, kinh nghiệm dày dạn trong lĩnh vực tái phẫu thuật</span>.
							</p>
						</div>
					</div>
					<!-- pc Xem ngay giới thiệu đội ngũ y khoa -->
					<div class="layer-img2 hidden-tm">
						<div class="layer-img2__box"></div>
						<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">Xem ngay giới thiệu đội ngũ y khoa</a>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile Xem ngay giới thiệu đội ngũ y khoa -->
		<div class="layer-img2 hidden-p">
			<div class="layer-img2__box"></div>
			<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">Xem ngay giới thiệu đội ngũ y khoa</a>
		</div>
	</section>

	<section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
		<div class="detail__inner">
		 	<div class="detail__vertical">
			 	<div class="detail__section-box type-wide type-reoperation">
				 	<h4 class="detail__section-tit">
					 	Tái phẫu thuật<span class="color-comma">,</span><br class="hidden-tm">
						Banobagi
					 	thực hiện <strong class="color-reoperation1">tốt hơn</strong>!
				 	</h4>
				 	<p class="detail__section-subtit">Chính xác hơn, cẩn thận hơn cho kết quả tốt hơn</p>
				 	<p class="detail__section-txt">
					 	Tái phẫu thuật vốn là một trong những quy trình khó khăn và miễn cưỡng nhất đối với bất kì bác sĩ phẫu thuật nào. Tuy nhiên, Banobagi tự tin thực hiện các ca tái phẫu thuật tốt hơn bất kì bệnh viện nào khác. Theo thời gian, Banobagi đã tích lũy khối kiến thức và kinh nghiệm, tập trung vào các nguyên tắc phẫu thuật để xây dựng chuyên môn.
					 	<span class="color-reoperation3">Tái phẫu thuật Banobagi được thực hiện bằng phương pháp tốt nhất một cách đầy cẩn trọng nhằm mang lại kết quả tốt hơn,</span>
						không có thêm bất kì thất bại nào đến với quý khách hàng tìm đến Banobagi.
				 	</p>
			 	</div>
			 	<div class="diagram4">
				 	<ul class="diagram4__list">
					 	<li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật mắt</p></div></li>
					 	<li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật mũi</p></div></li>
					 	<li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật Ngực</div></li>
					 	<li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật Banobagi</p></div></li>
					 	<li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật Xương Gương mặt</p></div></li>
					 	<li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật Body</p></div></li>
					 	<li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">Tái phẫu thuật Nếp nhăn</p></div></li>
				 	</ul>
			 	</div>
		 	</div>
		</div>
	</section>

	<section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-right type-reoperation">
				   	<h4 class="detail__section-tit">
					   	Tái phẫu thuật<span class="color-comma">,</span><br class="hidden-tm">
					   	Banobagi
					   	Thực hiện <strong class="color-reoperation1">Detail</strong>
				   	</h4>
				   	<p class="detail__section-subtit">Loại bỏ thành công vật liệu lạ</p>
				   	<p class="detail__section-txt">
					   	<span class="color-reoperation3">Điều quan trọng nhất của phẫu thuật loại bỏ vật thể lạ là tìm ra và loại bỏ chính xác vật thể lạ mà không gây tổn thương đến tổ chức mô khỏe mạnh xung quanh</span>.
						Banobagi kết hợp trang thiết bị chuyên nghiệp và kỹ thuật phẫu thuật điêu luyện để xác định và loại bỏ các vật lạ ra khỏi cơ thể, hồi phục tổ chức mô và loại bỏ mọi dấu vết của tác dụng phụ.
				   	</p>
			   	</div>
			   	<div class="layer-doc6">
				   	<ul class="layer-doc6__list">
					   	<li class="layer-doc6__item nth-1">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">Chuẩn đoán siêu âm</p>
					   	</li>
					   	<li class="layer-doc6__item nth-2">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">Loại bỏ vật thể lạ</p>
					   	</li>
					   	<li class="layer-doc6__item nth-3">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">Hình thái phục hồi</p>
					   	</li>
					   	<li class="layer-doc6__item nth-4">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">Trị liệu</p>
					   	</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	</section>

</div>
<!-- //Content -->

<% include ../_include/_footer %>
