<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation-nose">
		<div class="content-visual__box">
			<div class="content-visual__border type-reoperation-nose">
				<p class="content-visual__txt1 type-reoperation-nose">Tái phẫu thuật chỉnh sửa cải thiện những cấu trúc phức tạp</p>
				<h3 class="content-visual__tit type-reoperation-nose">#<span class=".color-reoper-nose1">Tái phẫu thuật mũi</span></h3>
				<p class="content-visual__txt2 type-reoperation-nose">Chỉnh sửa hình dáng mũi ngay lập tức, cải thiện tác dụng phụ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="nose-skill">
	            <div class="nose-skill__wrapper clearfix">
	                <div class="nose-skill__thumb img01">img</div>
	                <div class="nose-skill__desc">
	                    <div class="content-section type-first">
	                        <h4 class="content-section__tit type-left">
	                            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
								Điều quan trọng nhất trong việc tái phẫu thuật mũi là
	                            <strong>kinh nghiệm</strong> và <strong>kĩ thuật</strong> của bác sĩ chuyên môn.
	                        </h4>
	                    </div>
	                    <div class="nose-skill__thumb--t img01">img</div>
	                    <p class="content-section__txt1">
	                        Mũi cuả chúng ta tuy nhỏ nhưng có cấu trúc xương, sụn và mô mềm phức tạp.<br>
							Hơn nữa, những thay đổi được thực hiện thông qua một cuộc phẫu thuật mũi làm phức tạp thêm các cấu trúc và mô vốn có.<br class="hidden-tm">
							Có nhiều nguyên nhân dẫn đến việc quyết định tái phẫu thuật như: không hài lòng về thẩm mĩ, các vấn đề về chức năng mũi, tác dụng phụ..vv nắm bắt được tất cả những việc này thì việc chỉnh sửa lại mũi nó có thể là một việc rất khó khăn.
	                    </p>
	                    <p class="content-section__txt1">
	                        <strong>Do đó điều quan trọng của việc tái phẫu thuật là phải được làm từ một chuyên gia có nhiều kinh nghiệm.</strong> <br class="hidden-pt">
							Khi tiến hành phẫu thuật có rất nhiều biến cố xảy ra nên do đó rất cần phải có bí quyết và kĩ thuật cũng như kinh nghiệm cao.
							Sau khi được thành lập từ năm 2000 bệnh viện BANOBAGI đã duy trì đội ngũ phẫu thuật mũi nhiều kinh nghiệm và đảm bảo rằng phẫu thuật sửa đổi mũi được thực hiện bởi các chuyên gia phẫu thuật mũi có kinh nghiệm cao.
	                    </p>
	                    <div class="nose-skill__thumb--m img01">img</div>
	                </div>

	            </div>
	        </div>
	        <!-- //content-section -->
	        <div class="timing">
	            <div class="timing__wrapper bg">
					<div class="timing__img-left"><div class="timing__img-box">before</div></div>
					<div class="timing__img-right"><div class="timing__img-box">after</div></div>
	                <h4 class="timing__tit">
	                    <span class="color-reoper-nose2">Thời điểm thích hợp</span> để <br class="hidden-p">
						<span class="content-highlight2 re-nose-timing">tái phẫu phẫu thuật mũi</span>
	                </h4>
	                <p class="timing__txt1">
						Những người đã quyết định tái phẫu thuật mũi cho dù là 1 ngày cũng nhanh
						chóng muốn phẫu thuật.
						Vì mũi có vị trí ở trung tâm khuôn mặt, là bộ phận nổi bật nhất nên khiến bệnh nhân thêm stress và lo lắng. Vì vậy, họ có xu hướng mong muốn được điều chỉnh sớm nhất có thể.
	                </p>
	                <p class="timing__txt1">
						Nhưng tái phẫu thuật mũi là một việc không thể tiến hành một cách vội vã vì có thời điểm thích hợp để phẫu thuật.
						Mặc dù nó phụ thuộc vào phương pháp phẫu thuật trước đó nhưng  <span class="content-highlight re-nose-timing1">thông thường để tái phẫu thuật cần khoảng 3 đến 6 tháng từ ca phẫu thuật trước đó.</span>
						Lý do là chỉ sau thời gian đó thì các tổ chức mới được ổn định và cho phép phẫu thuật chi tiết.
						Ngoài ra, trường hợp phát hiện chứng viêm, điều đầu tiên là loại bỏ nguyên nhân gây viêm, nhận tái phẫu thuật sau khi đã xác nhận chứng viêm đã lắng xuống.
	                </p>
	                <div class="timing__ideal">
	                    <p class="timing__txt2">
	                        Thay vào đó không nên nhận lời khuyên phẫu thuật từ những bệnh viện có đề nghị phẫu thuật ngay lập tức, mà phải lựa chọn bệnh viện cho
	                        <span class="color-reoper-nose3">đầy đủ lời khuyên, tìm hiểu phân tích rõ nguyên nhân không hài lòng</span> sau đó nhận sự chuẩn đoán tỉ mỉ kĩ lưỡng về tình trạng hiện tại và tiến hành tái phẫu thuật vào thời điểm phù hợp nhất là điều quan trọng nhất.
	                    </p>
	                    <h5 class="timing__sub-tit">Thời điểm phù hợp để tái phẫu thuật mũi</h5>
	                    <ul class="timing__list clearfix">
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    Cách phẫu thuật trước<br>
	                                    <span class="color-reoper-nose4">sau một khoảng thời gian từ 3~6 tháng</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    Trường hợp bị viêm,<br>
	                                    <span class="color-reoper-nose4">sau khi loại bỏ nguyên nhân dẫn đến viêm</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    Sau khi<br>
	                                    <span class="color-reoper-nose4">chứng viêm đã lành hẳn</span>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <!-- //content-section -->


	        <!-- 탭바  -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">Đầu mũi</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">Sống mũi</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">Silicon</a></li>
	                </ul>
	            </div>
	        </div>
	        <!-- 탭바 컨텐츠 -->
	        <div class="content-tab__page page-tip is-active">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-end">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose01-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose01-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose01-m.jpg" loading="lazy" alt="img">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp qua một thời gian đầu mũi thấp xuống
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Sụpđầu mũi yếu và trụ mũi ngắn, nếu khi ấn đầu mũi bị yếu thì vị trí đặt sụn này qua một thời gian sẽ bị thấp đi. <br>
	                                            <span class="color-reoper-nose5">Vì vậy, phải phán đoán chính xác hình dáng và độ cứng của chóp mũi ở giai đoạn tư vấn trước khi tái phẫu thuật, kết nối thêm sụn vách ngăn hoặc là thông qua tái phẫu thuật làm cho trụ mũi chắc chắn có thể duy trì được đầu mũi cao hơn.</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Xác nhận lực hỗ trợ đầu mũi thông qua chuẩn đoán chính xác
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Chống đỡ phần đầu mũi thông qua phẫu thuật mở rộng vách ngăn hoặc phẫu thuật phần trụ mũi dưới giữa hai lỗ mũi
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose02-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose02-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose02-m.jpg" loading="lazy" alt="img">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp đầu mũi bị hếch và ngắn lại do sự ảnh hưởng của sự co rút
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Đây là một dạng tác dụng phụ hiếm gặp sau khi phẫu thuật phát sinh trong quá trình điều trị và ngăn ngừa viêm.
												<span class="color-reoper-nose5">Để chữa trị và khắc phục ngay vấn đề này trước tiên phải điều trị ổn định hết các vấn đề bên trong mũi ,vừa giải quyết những vấn đề phát sinh tiếp theo vừa điều chỉnh lại hình dáng của đầu mũi</span>.
												Sau đó chọn lựa silicon nhân tạo hoặc những nguyên liệu silicon khác để tạo đầu mũi thon, gọn, dài. Lúc này quan trọng nhất là ko cho đầu mũi co hếch trở lại bằng cách ngăn nối tạo khoảng cách hợp lý tạo độ giữ cân bằng nhất. Sau khi phẫu thuật xong để tránh tái phát phải tuân thủ chỉ định tích cực quản lí ko được hút thuốc uống rượu, matxa.....
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Loại bỏ hoàn toàn nguyên nhân dẫn đến sự tiêu hủy và vấn đề về cấu trúc
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Mở rộng đầy đủ các tổ chức mô mềm đã được bóc tách ra
	                                            </p>
	                                        </li>
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Lựa chọn silicon phù hợp với từng cá nhân rồi cố định đầu mũi
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Không hút thuốc lá, không uống rượu bia, mát xa và nhưng sự quản lý tích cực sau phẫu thuật
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose03-p.jpg" loading="lazy" alt="코끝성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose03-t.jpg" loading="lazy" alt="코끝성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose03-m.jpg" loading="lazy" alt="코끝성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp dáng đầu mũi bị tù
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
		                                        Sau khi phẫu thuật mũi trường hợp nhìn dáng đầu mũi bị tù rất dễ dẫn đến sự không hài lòng. Ở phẫu thuật lần trước phần sụn mũi không được gấp lại một cách hợp lí hay thiếu xót trong việc xử lí phần mỡ dưới da hoặc hình dáng phần sụn cấy ghép vào đầu mũi không phù hợp nên dẫn tới tình trạng đó.
												<span class="color-reoper-nose5">Lúc này điều cần thiết là sau khi nắm bắt tìm được nguyên nhân dẫn đến sự không hài lòng rồi có thể tiến hành xử lí lại thật tốt phần vết mổ cũ bằng cách gom phần sụn lại hoặc cấy ghép sụn mới với kích thước đã được điều chỉnh dáng sụn thành hình viên kim cương sao cho phù hợp nhất có thể với phần đầu mũi</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Điều chỉnh chiều rộng của sụn phần đầu mũi
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Cấy ghép sụn mới đã được chỉnh sửa thành hình viên kim xương với kích thước phù hợp
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-bridge">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-slack">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose01-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose01-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose01-m.jpg" loading="lazy" alt="img">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp cảm thấy sống mũi quá cao hoặc quá thấp
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Khi phẫu thuật mũi thì tỉ lệ tương đối giữa trán và cằm của mỗi khuôn mặt rất là quan trọng. Phải nghĩ đến hình ảnh và hài hòa của bản thân. Nếu không thì cho dù làm sống mũi cùng độ cao giống như vậy nhưng lại cảm nhận có thể nhìn thấy thấp hơn hoặc ngược lại cao hơn. Hy hữu, không hài lòng về chiều cao sống mũi, đại đa số những người quyết định tái phẫu thuật có thể nói là những trường hợp này. Do đó,
	                                            <span class="color-reoper-nose7">
													quan trọng là phải kiểm tra kỹ tổng thể cả khuôn mặt cải thiện lại xương hoặc thay đổi kích cỡ điều chỉnh độ cao của sụn .
												</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Xác định chiều cao xem xét tỷ lệ tương đối của từng bộ phận trên khuôn mặt
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Sử dụng silicon với kích thước phù hợp cân đối
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose02-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose02-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose02-m.jpg" loading="lazy" alt="img">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp cảm thấy sống mũi quá rộng hoặc bị thu quá hẹp lại
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Tuỳ từng cá nhân sẽ có sự quan tâm khác biệt ,tuy nhiên về cơ bản đường sống mũi sẽ bắt đầu ở giữa hai đầu lông mày và hốc mắt sau đó mềm mại hạ thẳng xuống tạo đường trọng tâm, ngoài ra giữa đàn ông và phụ nữ cũng sẽ có sự quan tâm khác nhau.
												<span class="color-reoper-nose7">Lấy những điều đó làm tiêu chuẩn lựa chọn silicon phù hợp nhất để giữ trọng tâm phải trái hài hoà là tiền đề trọng yếu cho việc định hình lại độ to,</span> cao của mũi hoặc xem lại vị trí đặt silicon trước đây để nới lại khoảng cách cần thiết phù hợp cho silicon mới vì so với silicon cũ cấu trúc tự nhiên của mũi quá bé đã khiến silicon bị biến dạng.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Lấy điểm xuất phát của lông mày và tỷ lệ riêng biệt của từng người để chọn độ rộng của sống mũi
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Đặt silicon ở giữa trung tâm sao cho cân đối phù hợp và đối xứng nhất
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Ngăn ngừa sự biến dạng của silicon bằng cách tạo nới đủ không gian cho silicon vào
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose03-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose03-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose03-m.jpg" loading="lazy" alt="img">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp sống mũi bị lệch
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Mũi là một bộ phận quan trọng, trọng tâm của toàn khuôn mặt nên khi sống mũi ko cân xứng hoặc bị lệch so với các bộ phận khác dễ bị chú ý khắt khe hơn. Trong trường hợp này không nên đơn giản chỉ để  đến độ lệch của mũi. Mà nên xem xét lại sự cân đối của toàn khuôn mặt, độ dốc phải trái của xương mũi ,đường trọng tâm của toàn khuôn mặt có tỷ lệ hay không, nếu trước đây có đặt silicon thì silicon đó có vấn đề gì bất thường hay không.
												<span class="color-reoper-nose5">Quá trình chuẩn đoán nếu không tỉ mỉ tìm ra nguyên nhân thì khả năng tái phát là rất cao</span>.
	                                            Nếu khuôn mặt tỷ lệ không cân đối trọng tâm bị lệch thì nên suy nghĩ đến phương pháp gọt hàm hoặc hạ gò má. Thực tế không có khuôn mặt tự nhiên nào có độ cân xứng chính xác nên việc cải thiện hoàn toàn là không thể thay vào đó nếu do xương mũi ko cân xứng thì có thể thông qua phẫu thuật thu nhỏ xương mũi lại để làm gọn tạo độ đối xứng hoàn chỉnh. Nếu silicon được đặt có vấn đề thì có thể kiểm tra lại vị trí được đặt, khoảng cách cần chỉnh sửa sau đó dễ dàng cải thiện bằng cách đặt silicon mới tạo dáng hợp chuẩn với khuôn mặt nhất.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Nắm bắt nguyên nhân dẫn đến sự không cân xứng, tổng thể khuôn mặt bị lệch
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Trường hợp <span class="color-reoper-nose8">khuôn mặt</span> bị lệch – cần phải phẫu thuật hai hàm hoặc xương mặt để cải thiện phần xương không cân xứng
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Trường hợp <span class="color-reoper-nose8">xương mũi bị lệch</span> – chỉnh sửa cắt lại phần xương mũi bị lệch bên ngoài
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Trường hợp <span class="color-reoper-nose8">nguyên nhân do silicon cũ bị biến dạng</span> – sau khi thay silicon phải phân tách đủ không gian cho silicon mới vào để ngăn chặn việc silicon mới bị biến dạng
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-prosthesis">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-implant ">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose01-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose01-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose01-m.jpg" loading="lazy" alt="img">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp lộ silicon ở sống mũi
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Trường hợp da trắng mảnh và quá mỏng hoặc silicon đặt quá to, cao sự đàn hồi của da sẽ sinh ra hiện tượng nhìn thấy hình silicon. Trong trường hợp này
	                                            <span class="color-reoper-nose9">để tăng độ dày cho da có thể chọn da nhân tạo AlloDerm hoặc cân mạc da đầu</span>
	                                            để khắc phục. Và có thể ngăn chặn tái phát bằng cách đặt lại silicon thay vì để da tự đàn hồi bao phủ thích ứng với silicon bị lộ.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-implant clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Sử dụng da nhân tạo AlloDerm hoặc cân mạc da đầu…v.v để bảo vệ phần da mỏng
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Di chuyển vị trí của silicon vào bên trong
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose02-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose02-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose02-m.jpg" loading="lazy" alt="img">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp cảm thấy silicon ở sống mũi đi chuyển
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            Thỉnh thoảng bệnh nhân thường cảm thấy bất an vì có cảm giác silicon ở trong cánh mũi đi chuyển nhưng đa phần các trường hợp là do vùng da quanh sống mũi vị trí silicon cấy vào đang dần đàn hồi thích ứng để bao phủ nên tạo cảm giác lung lay ko cố định. Nhưng trên thực tế thì silicon trong mũi ko hề bị tuột hoặc rời khỏi vị trí đặt ban đầu. Dĩ nhiên nếu cảm giác đó khiến bệnh nhân khó chịu, cảm thấy strees thì sẽ có
												<span class="color-reoper-nose9">nhiều biện pháp khắc phục như định hình lại silicon cho phù hợp bằng vách ngăn sụn , hoặc thay silicon bằng chất độn gore-tex</span>...vvv
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Kiểm tra lại chính xác xem thực tế silicon có bị di chuyển
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Cố định lại silicon cho phù hợp với sống mũi và dáng mũi
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Thay đổi silicon bằng Gore-Tex
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose03-p.jpg" loading="lazy" alt="img">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose03-t.jpg" loading="lazy" alt="img"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose03-m.jpg" loading="lazy" alt="img">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            Trường hợp đầu mũi nhìn bóng hoặc sụn cấy vào bị lệch
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
												Trường hợp những người có đầu mũi da mỏng thì qua một thời gian nơi được cấy sụn có thể nhìn thấy bị lệch hoặc là thay đổi vị trí. Hiện tượng bị lệch có thể nhìn thấy.Ở trường hợp này có thể cải thiện bằng phương pháp cấy lớp trung bì tự thân hay đôi khi cũng <span class="color-reoper-nose9">sử dụng da nhân tạo AlloDerm để bổ sung vào giữa lớp da mỏng và phần sụn, hoặc loại bỏ sụn cũ sau đó thay nhanh sụn mới và cố định lại đúng vị trí chính xác.</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Cấy lớp trung bì tự thân hay đôi khi cũng sử dụng da nhân tạo AlloDerm để bổ sung vào giữa lớp da mỏng và phần sụn
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                Loại bỏ sụn cũ sau đó thay nhanh sụn mới và cố định lại
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="satisfaction">
	            <p class="satisfaction__txt">
	                Đây là một số ví dụ điển hình về một số trường hợp tái phẫu thuật mũi được đưa ra, thực tế thì tùy vào nguyên nhân tái phẫu thuật mũi mà phương pháp cải thiện của mỗi cá nhân có thể khác nhau.
	                <br class="hidden-pt">
	                <span class="big">Bệnh viện BANOBAGI hướng  <span class="color-reoper-nose6">tới sự tư vấn có hệ thống</span> và <span class="color-reoper-nose6">phẫu thuật tổng hợp tối ưu</span> để đạt được kết quả hài lòng nhất có thể.
					</span>
	            </p>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
