<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-breast">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">마음의 상처까지 잊게 하는 만족감</p>
						<h3 class="new-visual__tit">가슴<span class="n-color-reoperation2">재수술</span></h3>
						<p class="new-visual__txt">보다 체계적인 불만족의 분석과 개선</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#불안감해소</span></li>
							<li class="new-visual__item"><span>#심리적치유</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-breast">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-reoperation2">비교적 난이도가 높은 수술</span>이기에<br class="hidden-tm">
                        고려할 것이 많습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						가슴 성형은 얼굴의 일부 콤플렉스를 개선하는 다른 성형들에 비해 비교적 수술의 범위가 넓고 그에 따른 조직들의 변화량 또한 큰 수술입니다.<br class="hidden-tm">
                        때문에 그러한 수술을 한 번 더 진행해야 하는 재수술은 그 부담이 클 수밖에 없죠.<br class="hidden-tm">
                        그래서 가슴 재수술은 충분한 경험을 갖춘 전문의가 보다 정밀한 진단과 정확한 개선책으로 환자분들의 부담을 최소화하는 것이 중요합니다.<br class="hidden-tm">
                        <span class="color-black1">재수술의 시기는 이전 수술 후 어느 정도 조직의 안정화가 이루어졌다고 보는 약 6개월~12개월 후가 적당하며,<br class="hidden-tm">
                        자신감 회복이나 불안감 해소와 같은 심리적 치유 또한 가능하도록 안정적인 후 관리도 함께 이루어져야 합니다.</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/reoperation/breast/breast_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-breast2">
					<div class="inner-box">
						<div class="point-style type-reoperation">
                            <h5 class="point-style__tit tit-new2">가슴 재수술의 핵심 포인트</h5>

                            <ul class="point-style__list">
                                <li class="point-style__item">
                                    <div class="point-style__head">
                                        <div class="point-style__subject txt-new2">
                                            <div class="point-style__vertical">
                                                보다 부담을 줄이기 위한 적합한 개선
                                            </div>
                                        </div>
                                    </div>
                                    <div class="point-style__body txt-new1">
                                        재발을 예방하고 보다 적합한 개선책을 찾기 위해 충분한 경험을 갖춘
                                        전문의가 수술해야 합니다.
                                    </div>
                                </li>
                                <li class="point-style__item">
                                    <div class="point-style__head">
                                        <div class="point-style__subject txt-new2">
                                            <div class="point-style__vertical">
                                                여유를 가지고 재수술 시기 결정
                                            </div>
                                        </div>
                                    </div>
                                    <div class="point-style__body txt-new1">
                                        가슴 재수술은 이전 수술 후 어느 정도의 조직 안정화가 이루어졌다고
                                        생각되는 약 6개월~12개월 후가 적당합니다.<br>
                                        <span class="color-black">*심한 정도의 부작용으로 인한 재수술이라면 보다 빠른 개선이
                                        필요할 수 있습니다.</span>
                                    </div>
                                </li>
                                <li class="point-style__item">
                                    <div class="point-style__head">
                                        <div class="point-style__subject txt-new2">
                                            <div class="point-style__vertical">
                                                심리적 치료까지 생각하는 적절한 후 관리
                                            </div>
                                        </div>
                                    </div>
                                    <div class="point-style__body txt-new1">
                                        흉터나 통증 등 이전 수술로 인해 생긴 심리적 위축까지 치료할 수 있도록
                                        안정적인 후 관리가 필요합니다.
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section type-cling">
                <div class="new-section__wrap">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        다양한 재수술 이유,<br class="hidden-tm">
                        <span class="n-color-reoperation2">정확한 원인 파악이 우선</span>입니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        가슴 재수술은 부작용, 불만족, 변심 등 그 이유가 굉장히 다양합니다.<br class="hidden-tm">
                        따라서 그 다양한 이유들 중 어떤 경우의 재수술인지, 그렇게 된 원인은 무엇인지를 정확히 파악하는 것이<br class="hidden-tm">
                        보다 효과적인 가슴 재수술의 첫걸음이라고 할 수 있습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        바노바기는 Full HD 내시경, 고해상도 초음파, 맘모톰 등 가슴의 상태를<br class="hidden-tm">
                        <span class="n-color-reoperation2">보다 정밀히 확인할 수 있는 장비</span>를 갖추고 있습니다.
                    </p>
                    <p class="new-style1__txt txt-new1">
                        또, <span class="color-black1">오랜 가슴 성형 경험을 쌓아온 가슴 성형 전담팀이 구성되어 각 재수술 케이스에 대한 다양한 개선법</span>들을 알고 있죠.<br class="hidden-tm">
                        때문에 보다 정확하고 그 만족도 또한 비교적 높은 재수술이 가능합니다.
                    </p>

                    <div class="img-style3 type-inner type-mt">
                        <ul class="img-style3__list">
                            <li class="img-style3__item">
                                <div class="img-style3__img">
                                    <img src="../../images/reoperation/breast/breast_img_2.jpg" class="img-w100" loading="lazy" alt="가슴 성형 전담팀의 오랜 경험과 기술"/>
                                </div>
                                <p class="img-style3__txt2 txt-new2">
                                    가슴 성형 전담팀의 오랜 경험과 기술
                                </p>
                            </li>
                            <li class="img-style3__item">
                                <div class="img-style3__img">
                                    <img src="../../images/reoperation/breast/breast_img_3.jpg" class="img-w100" loading="lazy" alt="더욱 정밀한 가슴 상태 확인이 가능한 전문 장비"/>
                                </div>
                                <p class="img-style3__txt2 txt-new2">
                                    더욱 정밀한 가슴 상태 확인이 가능한 전문 장비
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- //new-section-->

			<div class="new-section type-cling type-breast">
                <div class="new-section__wrap">
					<div class="new-stripe2 type-reoperation">
						<h4 class="new-stripe2__tit tit-new1">
							바노바기는 <span class="n-color-reoperation3">각 원인에 맞는<br class="hidden-tm">
							재수술 방법</span>을 선택합니다
						</h4>

						<ul class="new-stripe2__list">
							<li class="new-stripe2__item">
								<div class="new-stripe2__img">
									<img src="../../images/reoperation/breast/breast_img_4.png" loading="lazy" alt="구형구축 발생으로 인한 재수술" class="img-w100"/>
								</div>
								<h5 class="new-stripe2__subject txt-new2">구형구축 발생으로 인한 재수술</h5>
								<p class="new-stripe2__txt txt-new1">
									구형구축이란 우리의 몸이 체내에 삽입된 보형물을 피막으로 감싸면서 발생하는 현상입니다. 일반적으로 발생하는 약한 정도의 구형구축은
									크게 문제가 되지 않지만, 피막이 단단하게 굳어 그 정도가 심해지면 촉감을 부자연스럽게 만들고 보형물의 변형이나 통증을 유발하기도 합니다.
									이런 경우에는 <span class="color-white">피막을 포함한 기존 보형물을 정교하게 제거하는 것이 중요하며, 구형구축을 막을 수 있도록 디자인된 보형물로 교체하여
									재발을 방지해야 합니다.</span>
								</p>

								<div class="new-stripe2__wrap">
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												피막을 포함한 기존 보형물 제거
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												구형구축을 예방할 수 있는<br class="hidden-tm">
												표면을 가진 보형물로 교체
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												구형구축을 예방할 수 있는<br class="hidden-tm">
												보다 쳬계적인 후 관리 진행
											</span>
										</p>
									</div>
								</div>
							</li>
							<li class="new-stripe2__item">
								<div class="new-stripe2__img">
									<img src="../../images/reoperation/breast/breast_img_5.png" loading="lazy" alt="가슴 비대칭으로 인한 재수술" class="img-w100"/>
								</div>
								<h5 class="new-stripe2__subject txt-new2">가슴 비대칭으로 인한 재수술</h5>
								<p class="new-stripe2__txt txt-new1">
									대부분의 가슴 비대칭은 환자의 신체 발달 정도를 정확히 확인하지 않았거나, 확인했다 하더라도 잘못된 예측으로 보형물을 삽입했을 경우
									발생합니다. 사람은 누구나 약간의 비대칭을 가지고 있기 때문에 보다 정확한 가슴 성형을 위해서는 그 비대칭 정도를 면밀하게 파악하고 계산하여
									이상적인 보형물 크기를 선택하는 것이 중요하죠.  또, 비대칭으로 인한 가슴 재수술은 양쪽 가슴의 크기뿐만 아니라 그 위치나 모양의 비대칭까지
									다양한 증상을 포함하기 때문에, 단순히 보형물의 크기를 다시 맞추는 것에 그치지 않고 <span class="color-white">전문의의 감각을 통해 보형물이 들어가는 위치,
									가슴 근육의 두께 등을 고려하여 개선</span>해야 합니다.
								</p>

								<div class="new-stripe2__wrap">
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												원래의 체형을 보다 면밀히 확인
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												치밀한 계산을 통해 대칭을<br class="hidden-tm">
												이룰 수 있는 보형물 선택
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												보형물의 위치, 가슴 근육의<br class="hidden-tm">
												두께 등을 고려하여 보형물 교체
											</span>
										</p>
									</div>
								</div>
							</li>
							<li class="new-stripe2__item">
								<div class="new-stripe2__img">
									<img src="../../images/reoperation/breast/breast_img_6.png" loading="lazy" alt="보형물 파손으로 인한 재수술" class="img-w100"/>
								</div>
								<h5 class="new-stripe2__subject txt-new2">보형물 파손으로 인한 재수술</h5>
								<p class="new-stripe2__txt txt-new1">
									일반적인 경우 보형물의 파손은 거의 발생하지 않습니다. 하지만 사고와 같은 일반적이지 않은 상황이나 오래된 보형물을 사용했을 경우
									보형물이 파손되어 재수술이 필요해지는 경우가 있죠. 이때는 <span class="color-white">기존에 사용된 보형물의 종류에 따라 보형물을 포함한 내용물들을 보다 깔끔히
									제거해 주는 것이 중요하며, 파손의 위험이 비교적 적은 보형물로 교체하여 파손을 예방</span>하는 것이 좋습니다.
								</p>

								<div class="new-stripe2__wrap">
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												보형물과 함께 누출된<br class="hidden-tm">
												내용물들을 분리
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												파손의 위험이 비교적 적은<br class="hidden-tm">
												신형의 보형물로 교체
											</span>
										</p>
									</div>
								</div>
							</li>
							<li class="new-stripe2__item">
								<div class="new-stripe2__img">
									<img src="../../images/reoperation/breast/breast_img_7.png" loading="lazy" alt="모양 및 크기에 대한 불만족으로 인한 재수술" class="img-w100"/>
								</div>
								<h5 class="new-stripe2__subject txt-new2">모양 및 크기에 대한 불만족으로 인한 재수술</h5>
								<p class="new-stripe2__txt txt-new1">
									가슴 성형 후 형태에 대한 불만족은 보형물의 선택이 잘못되었을 경우에 발생하기 쉽습니다.<br class="hidden-tm">
									이를 방지하기 위해서는 전문의가 다양한 보형물에 대한 특징을 잘 파악하고 있어야 하며, 그 정보를 바탕으로 개개인의 체형에 맞는 적합한
									모양과 크기의 보형물을 제안할 수 있어야 하죠. 이상적인 가슴의 형태는 완만한 곡선의 윗가슴에서 아래로 갈수록 볼륨감이 느껴지는 형태이며,
									<span class="color-white">최근에는 원래 가슴의 움직임처럼 중력에 따라 자연스럽게 모양이 바뀌는 보형물 선택이 가능하여 형태적인 부분에서 비교적 높은 만족감을 주는
										재수술이 가능</span>합니다.
								</p>

								<div class="new-stripe2__wrap">
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												재수술 전 충분한 상담을 통해<br class="hidden-tm">
												추구하는 형태 확인
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												환자의 체형에 맞는 보형물을<br class="hidden-tm">
												선택하여 교체
											</span>
										</p>
									</div>
								</div>
							</li>
							<li class="new-stripe2__item">
								<div class="new-stripe2__img">
									<img src="../../images/reoperation/breast/breast_img_8.png" loading="lazy" alt="촉감에 대한 불만족으로 인한 재수술" class="img-w100"/>
								</div>
								<h5 class="new-stripe2__subject txt-new2">촉감에 대한 불만족으로 인한 재수술</h5>
								<p class="new-stripe2__txt txt-new1">
									가슴 성형 후 가슴의 촉감은 대부분이 보형물에 의해 좌우된다고 할 수 있습니다.<br class="hidden-tm">
									따라서 환자분들은 재수술 전 보형물의 응집력이나 탄력을 미리 확인해보는 것이 좋으며, <span class="color-white">전문의는 환자의 가슴 근육, 지방, 피부 등의 상태를
									고려하여 보다 자연스러운 촉감을 줄 수 있는 보형물을 선택</span>할 수 있어야 합니다.
								</p>

								<div class="new-stripe2__wrap">
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												재수술 전 충분한 상담을 통한<br class="hidden-tm">
												보형물 촉감 확인
											</span>
										</p>
									</div>
									<div class="new-stripe2__box">
										<p class="new-stripe2__txt2 txt-new1">
											<span class="new-stripe2__vertical">
												가슴 근육, 지방 등의 상태를 고려<br class="hidden-tm">
												하여 적절한 촉감의 보형물로 교체
											</span>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
                </div>
            </div><!-- //new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-breast3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        바노바기와 모티바가 만나 <span class="n-color-reoperation2">더욱 만족스러운<br class="hidden-tm">
						재수술을 추구</span>합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        가슴 성형은 의사의 능력만큼이나 보형물의 기능 또한 중요합니다.<br class="hidden-tm">
						아무리 오랜 가슴 성형 경험과 기술을 바탕으로 수술을 진행하여도 보형물이 제 역할을 해주지 못한다면<br class="hidden-tm">
						불만족스러운 결과가 나타날 가능성이 높죠.
                    </p>
					<p class="new-style1__txt2 txt-new2">
						그래서 바노바기는 <span class="n-color-reoperation2">가슴 재수술에 사용될 적합한 보형물로 모티바를 선택</span>했습니다.
					</p>
					<p class="new-style1__txt txt-new1">
						모티바는 기존의 가슴 성형으로 인한 불만족들을 보완하기 위해 제작된 비교적 신형의 보형물입니다.<br class="hidden-tm">
						실키 텍스처로 구형구축이 발생할 가능성이 거의 없고 FDA와 ISO의 인증을 받은 강한 내구성을 자랑하죠.<br class="hidden-tm">
						<span class="color-black1">또, 움직임에 따라 부드러운 형태 변화를 가지는 특성을 가지고 있어, 수술 후 결과가 보다 자연스럽고 만족스럽다는 장점이 있습니다.<br class="hidden-tm">
						바노바기는 다양한 크기와 점탄성을 가진 모티바 보형물들을 통해 개개인에 맞는 보다 만족스러운 가슴 재수술을 추구합니다.</span>
					</p>
					<a href="http://rebreast.banobagi.com/chest/chest2.php" class="new-style1__link" target="_blank">바노바기 모티바 가슴 재수술 자세히 보기</a>
					<div class="new-style1__img">
						<img src="../../images/reoperation/breast/breast_img_9.jpg" loading="lazy" alt="바노바기 모티바 가슴 재수술 모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style1 type-breast">
							<h5 class="new-content-tit tit-new2">가슴 재수술에도 적합한 모티바</h5>

							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/reoperation/breast/breast_img_10.jpg" class="img-w100" loading="lazy" alt="안전성을 확인할 수 있는 블루실 기술"/>
									<p class="img-style1__subject txt-new2">안전성을 확인할 수 있는 블루실 기술</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/reoperation/breast/breast_img_11.jpg" class="img-w100" loading="lazy" alt="FDA와 ISO의 인증을 받은 내구성"/>
									<p class="img-style1__subject txt-new2">FDA와 ISO의 인증을 받은 내구성</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/reoperation/breast/breast_img_12.jpg" class="img-w100" loading="lazy" alt="움직임에 따라 자연스럽게 변화하는 형태"/>
									<p class="img-style1__subject txt-new2">움직임에 따라 자연스럽게 변화하는 형태</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/reoperation/breast/breast_img_13.jpg" class="img-w100" loading="lazy" alt="구형구축을 예방하는 실키 텍스처"/>
									<p class="img-style1__subject txt-new2">구형구축을 예방하는 실키 텍스처</p>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div><!-- //new-section-->

			<div class="new-section type-cling">
                <div class="new-section__wrap">
					<div class="new-section__box">
						<div class="new-style2">
							<h4 class="tit-new1">
								환자분들의 부담을 알기에<br class="hidden-tm">
								<span class="n-color-reoperation2">더 세심히 관리</span>합니다
							</h4>
							<p class="new-style2__txt txt-new1">
								재수술은 첫 수술보다 비교적 부담이 큰 것이 사실입니다.<br class="hidden-tm">
								기본적인 수술적 부담에 첫 수술 때 겪었던 수술 후 회복 과정이나 불만족스러운 결과로 인한 심리적 부담이 더해지기 때문이죠.<br class="hidden-tm">
								<span class="color-black1">바노바기는 그런 환자분들의 부담을 조금이나마 덜어드리기 위해 더욱 세심하고 체계적인 수술과 후 관리를 진행</span>합니다.<br class="hidden-tm">
								보다 정밀하고 빠른 수술은 조직이 거의 손상되지 않도록 하여 멍이나 부기를 줄이고,<br class="hidden-tm">
								기존 수술의 절개창을 이용한 재수술로 흉터가 늘어나는 것을 방지하죠.<br class="hidden-tm">
								추가적인 절개가 필요한 경우라도 가슴 밑주름이나 겨드랑이를 통해 절개하여 흉터가 거의 보이지 않고,<br class="hidden-tm">
								<span class="color-black1">바노바기 피부과와의 협진으로 집중적인 흉터 치료까지 더해집니다.</span><br class="hidden-tm">
								수술 후에는 구형구축을 예방하기 위한 마사지나 회복 프로그램 등 보다 체계적인 후 관리도 진행됩니다.
							</p>
						</div>
						<div class="img-style3 type-three type-reoperation type-mt">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/reoperation/breast/breast_img_14.jpg" loading="lazy" alt="보다 정밀하고 빠른 수술로 조직의 손상 거의 없음" class="img-w100"/>
									</div>
									<div class="img-style3__caption txt-new2">
										<div class="img-style3__vertical">
											보다 정밀하고 빠른 수술로 조직의<br class="hidden-tm">
											손상 거의 없음
										</div>
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/reoperation/breast/breast_img_15.jpg" loading="lazy" alt="바노바기 피부과와의 협진을 통한 집중적인 흉터 치료" class="img-w100"/>
									</div>
									<div class="img-style3__caption txt-new2">
										<div class="img-style3__vertical">
											바노바기 피부과와의 협진을 통한<br class="hidden-tm">
											집중적인 흉터 치료
										</div>
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/reoperation/breast/breast_img_16.jpg" loading="lazy" alt="부작용을 예방하고 보다 빠른 회복을 도울 수 있는 후 관리" class="img-w100"/>
									</div>
									<div class="img-style3__caption txt-new2">
										<div class="img-style3__vertical">
											부작용을 예방하고 보다 빠른 회복을<br class="hidden-tm">
											도울 수 있는 후 관리
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
                </div>
            </div><!-- //new-section-->

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">바노바기 줄기세포 가슴확대는 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가/약 1일 입원</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2~3회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-reoperation">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
									수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
									수술 후 일정 기간 동안은 팔을 높이 들거나 벌리는 등 가슴이 팽창되는 동작은 하지 않는 것이 좋습니다.<br>
									염증이나 부작용을 예방하기 위해 약 2주 정도의 금주와 금연이 필요합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
