<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Đẹp hẳn lên chỉ với một biến đổi nhỏ</p>
				<h3 class="content-visual__tit"># TÁI PHẪU THUẬT <span class="color-reoperation1">MẮT</span></h3>
				<p class="content-visual__txt2">Tái điều chỉnh với độ chi tiết và chuẩn xác cao hơn.</p>
			</div>
		</div>
	</div><!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="reoperation-box1">
	            	<div class="content-section__box w-7 type-another2">
	              		<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                		<strong class="color-reoperation1">KHÔNG CẦN PHẢI ĐẮN ĐO</strong> KHI THẬT SỰ CẦN PHẢI TÁI PHẪU THUẬT
	              		</h4>
	              		<p class="content-section__txt1">
	                		Thỉnh thoảng, trong quá trình tư vấn, có một số bệnh nhân hỏi rằng, “tái phẫu thuật chắc chắn sẽ có kết quả không tốt bằng phẫu thuật lần đầu đúng không?”. Tuy nhiên, từ những lời truyền tai không có căn cứ như vậy, lại trở thành nguyên nhân khiến cho những bệnh nhân cần tái phẫu thuật phải đắn đo khi đưa ra quyết định.
	              		</p>
	            	</div><!-- //content-section__box-->
	            	<div class="reoperation-box1__img">img</div>
	          	</div><!--//reoperation-box1-->
	          	<div class="reoperation-box2">
	            	<h5 class="reoperation-box2__tit">
	              		Với kĩ thuật hiện nay có thể tái điều chỉnh xương, thì với tái phẫu thuật mắt – điểu chỉnh phần da –  <strong class="color-reoperation1">hoàn toàn không phải là phẫu thuật khó. </strong>
	            	</h5>
	            	<p class="reoperation-box2__txt">
	              		Chỉ cần có kĩ thuật chuyên môn trong việc chẩn đoán kĩ càng, vạch ra phương án đúng, và có khả năng thực hiện theo đúng phương án đó, thì mọi ca tái phẫu thuật đều có thể đem lại kết quả đẹp, hài lòng như một ca phẫu thuật lần đầu.
	            	</p>
	            	<ul class="reoperation-box2__list">
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" loading="lazy" alt=""></li>
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" loading="lazy" alt=""></li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-box3">
	            	<div class="content-section__box w-8 type-another0">
	              		<div class="reoperation-box3__wrap">
	                		<h4 class="content-section__tit type-left">
	                  			<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
	                  			TÁI PHẪU THUẬT MẮT NHƯ <strong class="color-reoperation5">GỠ RỐI TỪNG NÚT THẮT</strong>
	                		</h4>
			                <p class="content-section__txt1">
			                  	Lý do phải tái phẫu thuật mắt rất đa dạng. Có thể là gặp vấn đề về chức năng mắt sau phẫu thuât, không hài lòng về hình dáng mắt, sẹo để lại quá rõ, hoặc có trường hợp bị bung nút thắt, có thể một hoặc nhiều triệu chứng như vậy đồng thời xảy ra.
			                </p>
			                <p class="content-section__txt2 color-white">
			                  	Hoặc là, cùng một triệu chứng, nhưng theo đặc trưng của từng người mà mức độ cũng sẽ khác nhau. Vì vậy một chẩn đoán chính xác là quan trọng nhất cho mọi ca tái phẫu thuật mắt.
			                </p>
	              		</div>
	              		<div class="reoperation-box3__img">img</div>
						<div class="reoperation-eye">
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-1">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img01.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-2">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img02.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-3">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img03.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-4">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img04.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
						</div>
	            	</div>
	          	</div><!-- //reoperation-box3 -->
	          	<div class="reoperation-box4">
	            	<p class="reoperation-box4__txt">
	              		<strong class="color-reoperation5">Phải tìm hiểu cặn kẽ từng chi tiết</strong> : vốn dĩ mắt có những đặc trưng gì, đã thực hiện phẫu thuật gì, tại sao lại không hài lòng về kết quả, mắt hiện giờ ổn định như thế nào, tình trạng da ra sao <strong class="color-reoperation5">rồi tìm ra đầu mối để tiến hành điều chỉnh một cách chính xác.</strong>
	            	</p>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box5">
	            	<h4 class="content-section__tit type-center">
	              		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	              		TRƯỜNG HỢP BỊ BUNG CHỈ
	            	</h4>
		            <ul class="line-img">
		              	<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" loading="lazy" alt=""></li>
		              	<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" loading="lazy" alt=""></li>
		            </ul>
		            <p class="content-section__txt1">
		              	Thỉnh thoảng có một số trường hợp mí bị bung trong thời gian đầu sau khi phẫu thuật mí. Tuy nhiên gần đây, với sự phát triển của kĩ thuật phẫu thuật, khả năng bị bung đã giảm xuống rất thấp. Nếu chỉ mới phẫu thuật không bao lâu mà đã bị bung thì khả năng cao là do thiếu kĩ thuật.
						<span class="color-reoperation1">Bệnh viện Banobagi với kĩ thuật tiên tiến nhất, sẽ ngăn chặn khả năng bị bung mí thông qua những mối gút kiên cố nhất. </span>
		            </p>
	          	</div>
				<p class="caution-para1">
					<span class="inline-block">※ Hình ảnh này có thể nhìn khác với người thật do điều kiện khi chụp ảnh, đã nhận được sự đồng ý của bệnh nhân.</span>
				</p>
	          	<div class="line-way">
	            	<ul class="line-way__list">
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-1">Bung chỉ do thể chất</h5>
			                <p class="line-way__txt">
			                  	Có trường hợp cực hiếm là mí mắt tự bung ra, khi ấy cần xem xét và quyết định là <span class="color-black">nên nhấn mí lại hay thay đổi thành cắt mí. </span>
			                </p>
	              		</li>
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-2">Nếu bạn không muốn cắt mí</h5>
	                		<p class="line-way__txt">
								Bệnh viện Banobagi là nơi nghiên cứu ra những phương pháp mở đầu mắt mới hoặc phương pháp phẫu thuật phức hợp khác để tạo đôi mắt mà bạn mong muốn. Bạn không cần phải trăn trở với việc nhất định phải có mí mới là đẹp mà cần phải cân nhắc thêm nhưng phương án đa dạng khác.
	                		</p>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-brace">
	            	<div class="brace type-reoperation-eye">
	              		<p class="brace__txt txt-v4">
							Mục đích tích cực nhất của phẫu thuật thẩm mĩ mắt là tạo ra một đôi mắt đẹp hợp với khuôn mặt của bạn.
	                		<strong class="color-reoperation1">Bạn không cần phải trăn trở với việc nhất định phải có mí mới là đẹp mà cần phải cân nhắc thêm nhưng phương án đa dạng khác.</strong>
	              		</p>
	            	</div>

	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box6">
	            	<div class="content-section__box w-5 type-another0">
	              		<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                		TRƯỜNG HỢP MÍ MẮT QUÁ KHÔNG ĐỀU NHAU
	              		</h4>
			            <p class="content-section__txt1">
			                Sau phẫu thuật khoảng 6 tháng, lúc này vẫn chưa hết sưng hoàn toàn không thể đánh giá vội vàng về kết quả. Thêm vào đó, dù sau khi hết thời sưng,
							<span class="content-highlight type-reoperation">nếu chỉ bị lệch chút ít thì cũng không nên phẫu thuật lại.</span><br>
			                Bởi vì, cơ thể con người về cơ bản là không thể đều một cách hoàn hảo được, hơi lệch một chút lại là tự nhiên, dù mí mắt có đều mà những tổ chức xung quanh không đều nhau thì mí nhìn vẫn không đều được.
			            </p>
	              		<p class="content-section__txt2">
							Vì vậy việc đánh giá mức độ lệch còn bị ảnh hưởng bởi những vấn đề mang tính tâm lý, cần bàn bạc với bác sĩ chuyên môn.
							Trường hợp nhất định mong muốn tái phẫu thuật hoặc quá lệch, có thể
							<span class="color-reoperation1">tiến hành điều chỉnh lại bằng phương pháp đơn giản theo kích cỡ mà mình mong muốn</span>
	              		</p>
	            	</div>
	            	<div class="reoperation-box6__img">img</div>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box7">
	            	<div class="content-section__wrap">
	              		<div class="content-section__box type-another2 w-7">
	               	 		<h4 class="content-section__tit type-top">
	                  			<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
	                  			TRƯỜNG HỢP NHÌN CỨ BỊ SƯNG TRONG THỜI GIAN DÀI
	                		</h4>
			                <p class="content-section__txt1">
			                  	Theo quan điểm của y học, sau phẫu thuật 6-12 tháng thì hoàn toàn đã hết sưng. Nếu sau đó mí mắt vẫn sưng nhìn không tự nhiên thì khả năng cao là mí mắt đó có vấn đề. Có thể là lấy đường mí ở vị trí cao quá, khiến cho phần mí mắt nằm dưới đường mí không ra được nét tự nhiên. Khi ấy <span class="color-reoperation1">có thể bỏ đi mí cũ, lấy lại mí mới bằng phương pháp khá đơn giản.</span>
			                </p>
	              		</div>
	            	</div>
	          	</div>
	          	<div class="reoperation-box8">
	            	<div class="reoperation-box8__wrap">
	              		<h5 class="reoperation-box8__tit">Trường hợp mắt bị bệnh sụp mí</h5>
	              		<p class="reoperation-box8__txt">
							Có một số bệnh nhân mắt có hiện tượng mắt bị bệnh sụp mí, khiến cho mí nằm dưới đường mí nhìn có vẻ như bị sưng.
							Khi mở mắt, mí phải mở lên một cách tự nhiên nhưng do thiếu lực mở mắt nên bị kéo xuống lại. Trước đây, để điều chỉnh mí mắt sụp thì chỉ có thể bằng phương pháp cắt. Vì vậy, đối với những bệnh nhân không mong muốn cắt, đã phải tiến hành tạo mí mà không điều chỉnh vấn đề sụp mí.
			                <span class="content-highlight type-reoperation2">Tuy nhiên, phương pháp điều chỉnh cơ mắt của Banobagi không chỉ có thể bằng cách cắt mà còn có thể nhấn, là cách điều chỉnh cơ mắt an toàn và tự nhiên nhiều hơn nữa.</span>
	              		</p>
	            	</div>
	          	</div>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
