<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-lip">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">성형 수술 기술의 보다 올바른 활용</p>
						<h3 class="new-visual__tit"><span class="n-color-special2">구순구개열</span><br class="hidden-tm"> 2차 수술</h3>
						<p class="new-visual__txt">변형과 비대칭, 흉터까지 바로잡는 치료</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#형태와기능개선</span></li>
							<li class="new-visual__item"><span>#오랜경험과노하우</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-lip">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						구순구개열은 대표적인<br class="hidden-tm">
						<span class="n-color-special2">선천성 얼굴 기형</span> 중 하나입니다
					</h4>
					<p class="new-style1__txt txt-new2">
						구순구개열 2차 수술은 단순한 봉합수술이 아닙니다.<br class="hidden-tm">
						개선이 필요한 각 부위에 대한 전문적인 이해가 필요하고 그를 정확이 개선할 수 있는 기술이 필요하기 때문이죠.<br class="hidden-tm">
						비교적 복합적이고 까다로운 수술이라고 할 수 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						그래서 바노바기는 성형외과뿐만 아니라 치과, 피부과와 연계하여 보다 효과적인 구순구개열 2차 수술을 진행합니다.<br class="hidden-tm">
						각 부위의 형태와 기능을 개선하고, 필요한 경우 치열과 골격을 바로잡고, 흉터를 관리하죠.<br class="hidden-tm">
						또, 오랜 경험과 노하우를 바탕으로 <span class="color-black1">개개인의 상태에 따라 적절한 수술 방법을 선택하여 개선</span>하기 때문에 그 결과가 더욱 만족스럽습니다.
					</p>
				</div>
				<div class="outer-box type-lip">
					<div class="arrow-style type-col">
						<h5 class="arrow-style__tit tit-new2">선천성 얼굴 기형 구순구개열</h5>
						<div class="arrow-style__wrap">
							<div class="arrow-style__box type-box">
								<div class="arrow-style__caption">
									<div class="arrow-style__outer">
										<div class="arrow-style__inner txt-new2">
											입술과 잇몸
											또는 입천장이
											갈라져 있는
											선천적 기형
										</div>
									</div>
								</div>
								<div class="arrow-style__img">
									<img src="../../images/special/lip/lip_img_1.jpg" class="img-w100" loading="lazy" alt="선천성 얼굴 기형 구순구개열">
								</div>
							</div>
							<div class="arrow-style__box type-circle">
								<div class="arrow-style__outer">
									<div class="arrow-style__inner">
										<div class="arrow-style__bg">
											<div class="arrow-style__vertical">
												<p class="arrow-style__txt txt-new1">
													생후 약 2~4개월 이후
													갈라진 부위를 접합해주는
													구순구개열 1차 수술 시행
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-lip2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        1차 수술로는 불충분하기에<br class="hidden-tm">
                        <span class="n-color-special3">2차 수술이 필요</span>합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        하지만 안타깝게도 대부분의 구순구개열은 1차 수술만으로는 기형을 완벽히 극복하기가 힘든 것이 사실입니다.<br class="hidden-tm">
						1차 수술을 통해 유년 시절까지는 비교적 정상적인 외형으로 지낸다고 하더라도,<br class="hidden-tm">
						사춘기가 지나고 나면 급격한 비대칭을 가진 외모가 되어 심리적 스트레스를 겪는 경우가 많기 때문입니다.<br class="hidden-tm">
						이는 1차 수술을 통해 피부나 입천장의 갈림 증상을 개선하더라도 양쪽의 대칭적 발달까지는 맞추지 못하기 때문에 일어나는 현상으로,<br class="hidden-tm">
						코, 치아, 잇몸 및 위턱에 이르기까지 전체적인 비대칭 성장과 형태 변화의 원인이 됩니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        따라서 이런 경우라면 바노바기를 방문하시어 <span class="n-color-special3">비대칭적인 안면 형태를 바로잡고 흉터조직을 개선할 수 있는<br class="hidden-tm">
                    	구순구개열 2차 수술</span>을 고려해보시길 제안합니다.
                    </p>
                    <div class="inner-box">
                        <div class="img-style6">
							<h5 class="img-style6__tit tit-new2">구순구개열 2차 수술이 필요한 <span class="weight-regular">이유</span></h5>
							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/special/lip/lip_img_2.jpg" loading="lazy" alt="코 형태 변형" class="img-w100">
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">코 형태 변형</h6>
												<p class="img-style6__txt2 txt-new1">
													구순구개열 1차 수술 후 뼈나 연골, 피부가 비대칭하게 성장하며 코 끝,
													콧구멍, 콧날개, 콧대 등 전체적인 구조적 휘어짐이 발생합니다.
													이러한 코 휘어짐은 심미적인 부분에서도 스트레스인 동시에 코의
													기능을 현저히 떨어뜨리는 원인이 됩니다.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/special/lip/lip_img_3.jpg" loading="lazy" alt="인중과 입술 형태 변형" class="img-w100">
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">인중과 입술 형태 변형</h6>
												<p class="img-style6__txt2 txt-new1">
													구순구개열 1차 수술을 받은 대부분의 환자분들은 인중에서 입술까지
													번개 모양의 흉터가 남아 있으며, 인중과 입술의 비대칭적인 성장으로
													인해 불규칙한 함몰 또는 돌출 양상을 보이게 됩니다.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/special/lip/lip_img_4.jpg" loading="lazy" alt="치열이나 얼굴형 비대칭 발달" class="img-w100">
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">치열이나 얼굴형 비대칭 발달</h6>
												<p class="img-style6__txt2 txt-new1">
													인체의 각 부위는 밀접한 연관을 가지고 있습니다.
													구순구개열 환자분들의 경우 코나 입천장의 급격한 비대칭 발달이
													치아와 턱 발달에도 영향을 주어 비정상적으로 발달한 얼굴형이
													되기도 합니다.
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        바노바기는 각 부위의 <span class="n-color-special2">심미적,<br class="hidden-tm">
                        기능적 조건</span>에 맞춰 변형을 바로잡습니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        성장기 이후의 구순구개열 흔적은 그 양상이 다양하고 예측하기가 어렵습니다.<br class="hidden-tm">
						때문에 구순구개열 2차 수술은 <span class="n-color-special2">개개인마다의 발달과 변형 정도를 파악하여 각 부위를 개선하되<br class="hidden-tm">
						그 조화를 맞추는 것이 중요</span>합니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        또, 코와 입은 호흡기인 동시에 여러 가지 기능을 수행하는 기관인 만큼, 변형으로 인한 기능 저하 또한 개선해줄 필요도 있습니다.<br class="hidden-tm">
						바노바기는 이러한 부분들에 유념하며 구순구개열 2차 수술을 진행합니다. <span class="color-black1">근육, 연골, 뼈에 이르는 총체적인 변형이 야기되는 만큼,<br class="hidden-tm">
							코, 인중, 입술, 그리고 크게는 얼굴형까지 각 부위에 대한 이해를 바탕으로 전반적인 심미적·기능적 개선을 추구</span>하죠.<br class="hidden-tm">
						따라서 더욱 효과적이면서도 만족스러운 구순구개열 2차 수술이 가능합니다.
                    </p>
				</div>
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-gray2">
					<div class="new-section__box">
						<div class="new-style2">
	                        <h4 class="new-style2__tit tit-new3">
	                            변형된 코 개선
	                        </h4>
	                        <p class="new-style2__txt txt-new1">
								불균형한 성장으로 휘어진 코를 개선하기 위한 핵심은 복잡한 내부 구조를 하나하나 올바르게 바로잡는 것입니다.<br class="hidden-tm">
								단순히 겉으로 보이는 모양만 바로잡을 경우 반복된 근육 사용과 피부 당겨짐으로 인해 비대칭이 재발할 수 있고, 코의 기능적인 부분은 거의 <br class="hidden-tm">
								개선되지 않기 때문입니다.
							</p>
	                        <p class="new-style2__txt2 txt-new2">
								바노바기는 보형물이나 자가연골 등을 사용한 코 재건과 절골을 통한 대칭 조절 등<br class="hidden-tm">
								<span class="n-color-special2">개개인의 상태에 맞는 적절한 개선 방법을 선택하여 보다 효과적인 코 성형을 진행</span>합니다.
							</p>
							<a href="https://www.banobagi.com/program/bnbg_program_curve.php" class="new-style1__link" target="_blank">휜 코 성형 바로가기</a>
							<div class="img-style3 type-special">
		                        <ul class="img-style3__list">
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_5.jpg" loading="lazy" alt="STEP 01" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 01
		                                    </div>
		                                </div>
		                            </li>
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_6.jpg" loading="lazy" alt="STEP 02" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 02
		                                    </div>
		                                </div>
		                            </li>
									<li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_7.jpg" loading="lazy" alt="STEP 03" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 03
		                                    </div>
		                                </div>
		                            </li>
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_8.jpg" loading="lazy" alt="STEP 04" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 04
		                                    </div>
		                                </div>
		                            </li>
		                        </ul>
								<p class="img-style3__txt txt-new1">* 상기 이미지는 이해를 돕기 위한 대표적인 수술 방법 중 한 가지이며, 수술 방법은 개개인의 상태와 추구하는 방향에 따라 달라질 수 있습니다.</p>
		                    </div>
	                    </div>
					</div>
					<div class="new-section__box">
						<div class="new-style2">
	                        <h4 class="new-style2__tit tit-new3">
	                            변형된 인중 및 입술 개선
	                        </h4>
	                        <p class="new-style2__txt txt-new1">
								구순구개열 1차 수술로 인한 인중의 흉터와 불규칙적인 입술의 형태는 전반적인 조직 절개와 재봉합을 통해 이루어집니다.<br class="hidden-tm">
								필요한 경우 귀 연골 혹은 코 연골을 통해 부족한 인중의 형태를 잡아줄 수 있으며,<br class="hidden-tm">
								입술 윤곽과 점막 등의 비대칭을 교정하고 인조진피 이식을 통해 부족한 입술의 연부 조직을 채워줄 수도 있습니다.
							</p>
	                        <p class="new-style2__txt2 txt-new2">
								이 모든 과정을 위한 <span class="n-color-special2">절개와 봉합은 보다 정교하게 진행</span>되며,<br class="hidden-tm">
								이후 피부과와의 협진을 통한 <span class="n-color-special2">집중적인 흉터 치료</span>가 더해져 수술 후 흔적이 거의 보이지 않습니다.
							</p>
							<div class="img-style3 type-special">
		                        <ul class="img-style3__list">
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_9.jpg" loading="lazy" alt="STEP 01" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 01
		                                    </div>
		                                </div>
		                            </li>
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_10.jpg" loading="lazy" alt="STEP 02" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 02
		                                    </div>
		                                </div>
		                            </li>
									<li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_11.jpg" loading="lazy" alt="STEP 03" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 03
		                                    </div>
		                                </div>
		                            </li>
		                            <li class="img-style3__item">
		                                <div class="img-style3__img">
		                                    <img src="../../images/special/lip/lip_img_12.jpg" loading="lazy" alt="STEP 04" class="img-w100">
		                                </div>
		                                <div class="img-style3__caption txt-new2">
		                                    <div class="img-style3__vertical">
		                                        STEP 04
		                                    </div>
		                                </div>
		                            </li>
		                        </ul>
		                    </div>
	                    </div>
					</div>
					<div class="new-section__box">
						<div class="new-style2">
	                        <h4 class="new-style2__tit tit-new3">
	                            변형된 골격 및 치아 개선
	                        </h4>
	                        <p class="new-style2__txt txt-new2">
								구순구개열로 인한 비대칭 성장이 얼굴형이나 치열에까지 영향을 끼쳤을 경우를 생각하여 <br class="hidden-tm">
								바노바기에서는 <span class="n-color-special2">교정치료나 윤곽 성형도 진행</span>하고 있습니다.
							</p>
	                        <p class="new-style2__txt2 txt-new1">
								치과와의 협진을 통한 윤곽 연계로 보다 치밀한 치아와 골격 개선을 계획하고, 오랜 경험과 노하우를 통한 수술을 통해 얼굴형을 개선합니다.
							</p>
							<div class="compare4 type-process">
								<ul class="compare4__list">
									<li class="compare4__item">
										<div class="compare4__img">
											<img src="../../images/special/lip/lip_img_13.jpg" class="img-w100" loading="lazy" alt="수술 전">
										</div>
										<div class="compare4__caption txt-new2 type-gray">
											수술 전
										</div>
									</li>
									<li class="compare4__item type-process">
										<div class="compare4__box">
											<div class="compare4__outer">
												<div class="compare4__inner">
													<div class="compare4__circle txt-new2 type-lip">
														<div class="compare4__outer">
															<div class="compare4__inner">
																교정치료
															</div>
														</div>
													</div>
													<p class="compare4__txt2 txt-new2">or</p>
													<div class="compare4__circle txt-new2 type-lip2">
														<div class="compare4__outer">
															<div class="compare4__inner">
																윤곽 성형
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="compare4__item">
										<div class="compare4__img">
											<img src="../../images/special/lip/lip_img_14.jpg" class="img-w100" loading="lazy" alt="수술 후 6개월">
										</div>
										<div class="compare4__caption txt-new2 type-special">
											수술 후 6개월
										</div>
									</li>
								</ul>

							</div>
							<p class="img-style3__txt txt-new1">* 상기 이미지는 이해를 돕기 위한 대표적인 수술 방법 중 한 가지이며, 수술 방법은 개개인의 상태와 추구하는 방향에 따라 달라질 수 있습니다.</p>
	                    </div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-lip3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-special3">3개 진료과목의 연계</span>로<br class="hidden-tm">
						보다 효과적입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						구순구개열 2차 수술은 단순한 봉합수술이 아닙니다. 개선이 필요한 각 부위에 대한 전문적인 이해가 필요하고 그를 정확히<br class="hidden-tm">
						개선할 수 있는 기술이 필요하기 때문이죠. 비교적 복합적이고 까다로운 수술이라고 할 수 있습니다.<br class="hidden-tm">
						그래서 바노바기는 <span class="color-white">성형외과뿐만 아니라 치과, 피부과와 연계하여 보다 효과적인 구순구개열 2차 수술을 진행</span>합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						<span class="n-color-special3">각 부위의 형태와 기능을 개선하고, 필요한 경우 치열과 골격을 바로잡고, 흉터를 관리</span>하죠.<br class="hidden-tm">
						또, 오랜 경험과 노하우를 바탕으로 <span class="n-color-special3">개개인의 상태에 따라 적절한 수술 방법을 선택하여 개선</span>하기 때문에<br class="hidden-tm">
						그 결과가 더욱 만족스럽습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/special/lip/lip_img_15.jpg" loading="lazy" alt="성형외과 + 치과 + 피부과" class="img-w100"/>
					</div>
					<div class="inner-box type-list-img">
						<div class="new-description type-pd0">
							<h4 class="new-description__tit tit-new2">바노바기 구순구개열 2차 수술 <strong class="weight-regular">장점</strong></h4>
							<div class="new-description__wide">
								<div class="img-style3 type-wide type-special">
									<ul class="img-style3__list">
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/special/lip/lip_img_16.jpg" loading="lazy" alt="재발을 예방함과 동시에 보다 만족스러운 결과" class="img-w100">
											</div>
											<div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                재발을 예방함과 동시에 보다 만족스러운 결과
	                                            </div>
	                                        </div>
										</li>
									</ul>
								</div>
							</div>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										성형외과, 치과, 피부과와의 연계 수술로 종합적인 개선
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										개개인 상태에 맞는 적절한 수술 방법 선택
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										래피드힐링 등 보다 적극적으로 회복을 돕는 후 관리
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-lip4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        비교적 <span class="n-color-special2">빠른 회복</span>과 <span class="n-color-special2">자연스러운 결과</span>를<br class="hidden-tm">
						기대할 수 있습니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        바노바기는 조직을 거의 손상시키지 않는 기술과 적극적인 회복을 돕는 <span class="color-black1">*래피드 힐링 프로젝트</span>와 같은 후 관리를 더하여<br class="hidden-tm">
						비교적 회복이 빠르고 통증에 대한 부담이 적은 편입니다.<br class="hidden-tm">
						또, 피부과와의 협진을 통한 흉터 관리가 더해지기 때문에 흉터가 거의 보이지 않습니다.
                    </p>
                    <div class="inner-box">
                        <h5 class="tit-new2">
							래피드 힐링 프로젝트
						</h5>
						<p class="new-style1__txt2 txt-new1">부기, 멍, 통증의 정도를 약 30~50%까지 줄여주는 케어 프로그램</p>
						<div class="img-style7">
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/special/lip/lip_img_17.png" class="img-w100" loading="lazy" alt="정교한 수술 기법">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											정교한 수술 기법
										</h6>
										<p class="img-style7__txt txt-new1">
											풍부한 임상경험과 고도의
											수술 테크닉으로 수술 시 발생하는
											조직의 손상과 출혈을 줄입니다.
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/special/lip/lip_img_18.png" class="img-w100" loading="lazy" alt="수술 전후 약물 치료">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											수술 전후 약물 치료
										</h6>
										<p class="img-style7__txt txt-new1">
											정밀한 검사 결과를 바탕으로
											환자 개인에 맞는 약물 치료를
											병행하여 보다 빠른 회복이
											가능하게 합니다.
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/special/lip/lip_img_19.png" class="img-w100" loading="lazy" alt="래피드 힐링 복용약">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											래피드 힐링 복용약
										</h6>
										<p class="img-style7__txt txt-new1">
											수술 전후에 미세 혈액순환을
											활성화하는 래피드 힐링 복용약을
											복용하여 신체를 부기와 멍에
											내성이 강할 수 있도록 개선합니다
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/special/lip/lip_img_20.png" class="img-w100" loading="lazy" alt="Cica Bio Arnica Extractim Cream">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											Cica Bio Arnica<br> Extractim Cream
										</h6>
										<p class="img-style7__txt txt-new1">
											바르는 크림 형태의 치료제로
											통증을 완화하고 부기와
											멍을 줄입니다
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/special/lip/lip_img_21.png" class="img-w100" loading="lazy" alt="캄레이저">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											캄레이저
										</h6>
										<p class="img-style7__txt txt-new1">
											레이저 치료기로, 통증 완화
											및 소염 작용, 부종 흡수에
											효과적입니다.
										</p>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special">
						<div class="operation-v2__wrap">
							<h3 class="operation-v2__tit">Thông tin phẫu thuật</h3>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h4>
										<p class="operation-v2__txt txt-new1">
											약 1시간 30분~2시간<br>
											(수술 방법에 따라 다름)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h4>
										<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian nhập viện</h4>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
										<p class="operation-v2__txt txt-new1">약 2~3회 및 레이저 치료 추가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
										<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h3 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 <span class="color-black1">욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화</span>됩니다. <br>
		                            실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
									단순히 이물질을 추출만을 진행한 경우 수술 부위의 형태를 잡기 위해 큰 충격이나 잦은 접촉은 피하는 것이 좋습니다
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
