<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Tạo nên sự đầy đặn với phương pháp đơn giản</p>
				<h3 class="content-visual__tit"><span class="color-special16">#</span> Design-filler</h3>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">Nét quyến rũ từ sự hài hòa tổng thể</span>
				</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="design-box1">
	          		<div class="design-box1__box type-txt">
			            <h4 class="content-section__tit type-top">
			              	<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			              	Thể hiện hết những ưu điểm ẩn giấu của <strong class="content-highlight2 type-special">filler</strong>
			            </h4>
			            <p class="content-section__txt1">
							Nhìn chung filler được biết đến là phương pháp đơn giản giúp làm đầy những chỗ cần thiết. Vì là phương pháp tiêm nên gần như không cần lo về hồi phục hay đau và có ưu điểm là thấy ngay được kết quả tiêm. Thêm vào đó, sau một thời gian nhất định nó sẽ tan tự nhiên bên trong cơ thể, vì vậy đây sẽ là sự lựa chọn tốt cho những bệnh nhân lo ngại về phẫu thuật thẩm mỹ.
							<br><br>
			              	<span class="content-section__exp">Tuy nhiên</span>, ưu điểm của filler không chỉ đơn giản là làm đầy, mà còn có những hiệu quả cải thiện đa dạng những vấn đề về da như là mở rộng tổ chức mềm, cải thiện nếp nhăn, sẹo, vết bỏng hoặc những khuyết điểm bẩm sinh. Thêm vào đó, do có hàm lượng nước cao nên còn có tác dụng cung cấp độ ẩm, tác động vào collagen và elastin tạo hiệu quả da sáng hơn và tăng độ đàn hồi cho da. <br><br>
							BANOBAGI hiểu rõ hết những ưu điểm tiềm ẩn này của filler và đang tận dụng triệt để.
			            </p>
			            <div class="design-box1__img">
			              	img
			            </div>
	            		<div class="merit">
	              			<div class="merit__wrap">
	                			<h5 class="merit__tit">Ưu điểm của <span>filler</span><br> BANOBAGI</h5>
				                <ul class="merit__list">
				                  	<li class="merit__item txt-v5">Hiệu quả nhanh hơn</li>
				                  	<li class="merit__item txt-v5">Điều trị sẹo và nếp nhăn</li>
				                  	<li class="merit__item txt-v5">Thay đổi tổng thể nét mặt</li>
				                  	<li class="merit__item txt-v5">Sự đầy đặn</li>
				                  	<li class="merit__item txt-v5">Ít lo ngại hơn</li>
				                  	<li class="merit__item txt-v5">Cải thiện độ ẩm và độ đàn hồi</li>
				                </ul>
	              			</div>
	            		</div>
	          		</div>
	          		<div class="design-box1__box type-img">
	            		<img src="../../images/special/special_design_img02.png" loading="lazy" alt="Hiệu quả nhanh hơn - Ít lo ngại hơn - Sự đầy đặn">
	          		</div>
	        	</div><!-- //design-box1-->
	        	<div class="design-box2">
	          		<div class="design-box2__img">
	            		img
	          		</div>
	          		<div class="design-box2__box">

			            <h4 class="content-section__tit type-top">
			              	<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
			              	DESIGN-FILLER NHẮM ĐẾN VIỆC
			              	<span class="content-highlight">CẢI THIỆN TỔNG THỂ NÉT MẶT</span>
			            </h4>
			            <p class="content-section__txt1">
			              	BANOBAGI kiến tạo nên phương pháp design-filler giúp cải thiện tổng thể nét mặt.<br><br>
			              	Khuôn mặt của chúng ta chỉ cần thay đổi một chút cũng khiến nét mặt thay đổi nhiều. Là do sự biến đổi nhỏ của một bộ phận cũng có thể thay đổi sự hài hòa tổng thể khuôn mặt. Vì vậy thẩm mỹ khuôn mặt sẽ có kết quả đẹp và hài lòng nhất khi thực hiện một cách hài hòa tổng thể khuôn mặt. Với quan điểm đó, tiêm filler sẽ có hiệu quả hơn khi nhìn trên sự hài hòa cả khuôn mặt mà đưa ra tổng hợp những bộ phận cần thiết hơn là chỉ giới hạn trên một bộ phận nhất định. Ưu điểm của filler là có thể trực tiếp thấy được kết quả và một lần có thể thực hiện được nhiều bộ phận một lần. Đặc biệt đường viền xung quanh mặt (đường nét bao quanh mặt từ trán đến cằm) chỉ thay đổi nhỏ ở độ cao thấp cũng có thể đạt được hiệu quả nhiều, vì vậy BANOBAGI có thể tạo cho bạn một nét quyến rũ hơn với design-filler.
			            </p>
	          		</div>
	        	</div>
		        <div class="design-box3">
		          	<div class="design-box3__wrap">
		            	<p class="design-box3__txt">Cải thiện toàn bộ nét mặt bằng phương pháp tiêm filler hài hòa tổng thể khuôn mặt</p>
		          	</div>
		        </div><!-- //design-box3 -->
	        	<div class="design-box4">
	          		<div class="content-section">
			            <h4 class="content-section__tit type-center">
			              	<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
			              	NÂNG CAO  	<span class="content-highlight4">ĐỘ HÀI LÒNG</span> BẰNG <strong class="content-highlight2 type-special">KĨ THUẬT</strong> VÀ KINH NGHIỆM TIÊM FILLER
			            </h4>
			            <div class="design-box4__box">
			              	<div class="design-box4__wrap">
			                	<div class="design-box4__img">img</div>
				                <div class="design-vertical">
				                  	<p class="design-vertical__tit"><span>#</span>FILLER</p>
				                  	<p class="design-vertical__txt">cùng một lượng nhưng tùy theo mức độ cần thiết mà có thể <span>tạo ra kết quả khác nhau</span></p>
				                </div>
			              	</div>
			              	<p class="design-box4__tit txt-v5">Tùy vào thực lực của bác sĩ chuyên môn mà kết quả là muôn hình vạn trạng.</p>
			              	<p class="design-box4__txt txt-v5">
			                	Cùng một lượng filler trên cùng một bộ phận, mà tùy theo cách sử dụng như thế nào mà hiệu quả nhìn bên ngoài cũng sẽ khác hoàn toàn. Khi tiêm filler mỏng và trên diện rộng sẽ tạo cảm giác mềm mại, nếu tiêm dầy lên được mà không bị tràn ra xung quanh sẽ tạo nên sự đầy đặn. Vì vậy việc lựa chọn bác sĩ tiêm filler có kĩ thuật và hiểu rõ đặc tính của filler là rất quan trọng.
			              	</p>
			            </div>
		          	</div>
	        	</div><!-- //design-box4-->
	        	<div class="design-box5">
	          		<div class="design-box5__border">
	            		<h5 class="design-box5__tit tit-v2">
	              			BANOBAGI thiết kế nên <span class="design-box5__point">đường nét quyến rũ của từng khuôn mặt</span> thông qua <span class="design-box5__point">qua tư vấn tỉ mỉ 1:1</span>và kinh nghiệm lâu năm
	            		</h5>
			            <p class="design-box5__txt txt-v5">
			              	Đánh giá chi tiết đặc trưng của khuôn mặt và cải thiện những chỗ cần thiết để thực hiện một cách tinh tế. <br class="hidden-m">
			              	Dựa trên nền tảng hiểu rõ từng tầng lớp bên trong da và nhiều bộ phận khác, khai thác tối đa ưu điểm của filler, tạo nên một nét mặt tươi sáng và rõ hơn.
			            </p>
	          		</div>
	        	</div><!-- //design-box5-->
	        	<div class="design-box6">
	          		<div class="content-section">
	            		<div class="design-box6__wrap">
			              	<h4 class="content-section__tit type-left">
			                	<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								Không được sơ suất chủ quan cho rằng đây chỉ là <strong class="content-highlight">thủ thuật nhỏ.</strong>
			              	</h4>
	              			<p class="content-section__txt1">
				                Filler là phương pháp đơn giản và an toàn. Tuy nhiên, đây là chất sẽ được tiêm vào cơ thể, vì vậy cần phải luôn chú ý tuyệt đối. Trên thực tế, sau khi tiêm hiếm có trường hợp tác dụng phụ như bị dị ứng, phản ứng, hoại tử da, vv. Tất nhiên tuy đây chỉ là những trường hợp hiếm, nhưng việc cơ quan y tế chuẩn bị đề phòng xử lý trước những trường hợp hiếm gặp vẫn là việc cơ bản phải làm. <br><br>
	                			<span class="content-section__rel">
									<span class="content-section__exp">BANOBAGI</span> thực hiện xét nghiệm kĩ càng trước về phản ứng dị ứng, trang bị đầy đủ máy

									<span class="content-section__info pop-info">
								  		<a href="" class="info-btn js-info">
											<span class="info-btn__icon type-design">info</span>
											móc như máy nằm oxy cao áp
											<span class="info-desc type-design">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span>Điều trị oxy cao áp</span>
														<span class="info-desc__content">
															<img src="../../images/special/special_design_layer1-m.png" loading="lazy" alt="Điều trị oxy cao áp" class="info-desc__thumb">
															<span class="info-desc__txt1">
				                                                Điều trị oxy cao áp là loại máy điều trị y khoa trên nguyên lý làm tăng lượng oxy lỏng trong cơ thể bằng cách nâng nồng độ và áp suất của oxy. Phân tử của oxy lỏng nhỏ nên có thể chạy đến hết mạch máu nhỏ, giúp thúc đẩy quá trình tái tạo tế bào, đào thải chất độc. Vì vậy có hiệu quả trong cải thiện tình trạng sức khỏa như làm lành nhanh các tế bào tổn thương, tăng cường hấp thụ dinh dưỡng, đào thải chất độc, hồi phục thể lực, vv
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left"></span>
														<span class="info-desc__stick type-another"></span>
														Đóng
													</button>
												</span>
											</span>
										</a>
									</span>
									vv để ứng phó khi có phát sinh hoại tử. Thêm vào đó chúng tôi chỉ sử dụng filler chính hãng được FDA chứng nhận, được các bác sĩ giàu kinh nghiệm thực hiện, tự tin vào hiệu quả cũng như sự an toàn.
								</span>
	              			</p>
	            		</div>
	            		<div class="design-box6__img">img</div>
			            <div class="design-box6__wrap type-another">
			              	<ul class="design-box6__list">
				                <li class="design-box6__item nth-1">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">Kiểm tra phản ứng dị ứng </p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="design-box6__item nth-2">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">Sử dụng filler chính hãng </p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="design-box6__item nth-3">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">Hệ thống xử lý khẩn cấp </p>
				                    	</div>
				                  	</div>
				                </li>
			              	</ul>
			            </div>
	          		</div>
	        	</div><!-- //design-box6-->
	      	</div>

			<!-- Thông tin phẫu thuật -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">Tạo nên độ đầy đặn tự nhiên với hiệu quả nhanh chóng</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 10 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê cục bộ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Không cần thiết</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Có thể sinh hoạt bình thường ngay</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Do dùng kim để tiêm vào nên sẽ có <span class="color-black1">cảm giác đau nhói</span><br>
									Tùy theo lượng filler tiêm vào mà sẽ cảm thấy đau và sưng tức khác nhau.<br>
									Trong quá trình filler định hình có thể hơi hơi đau tức tức nhưng dần dần sẽ đỡ.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
