<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-casefiller">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">각 부위의 특징에 맞게 채워주는 감각</p>
						<h3 class="new-visual__tit">부위별<br class="hidden-tm"><span class="n-color-special2">필러</span></h3>
						<p class="new-visual__txt">볼륨감이 주는 맑고 또렷한 이미지</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#반영구필러</span></li>
							<li class="new-visual__item"><span>#일시적필러</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-casefiller">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI SPECIAL : FILLER</p>
					 	<h3 class="section-normal__tit tit-new1">부위별 필러</h3>
					 	<p class="section-normal__txt2 txt-new1">
					 		필러 시술의 장점은 비교적 간편한 방법으로 콤플렉스를 극복하고 더욱 매력적인 외모를 추구할 수 있다는 것입니다.
							하지만 같은 필러를 사용하더라도 시술자의 능력에 따라 결과는 달라질 수 있습니다.<br>
					 		<span class="color-black1">필러는 주입되는 각 부위에 맞게 그 양과 방법을 조절해야 더 좋은 결과를 얻을 수 있기 때문입니다.</span>
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		바노바기는 오랜 경험을 통해
					 		<span class="n-color-special2">각 부위에 맞는 필러 사용을 제안하고<br class="hidden-m"> 더욱 만족스러운 결과</span>를 이끌어내기 위해 노력합니다.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/special/casefiller/casefiller_img_1.jpg" class="img-normal" loading="lazy" alt="필러제품">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab type-special">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-long" class="new-tab__link">반영구 필러 추천 부위</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-temporary" class="new-tab__link"><span class="new-tab__border">일시적 필러 추천 부위</span></a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content is-active page-long">
				<div class="new-section type-cling">
					<div class="new-style1 type-casefiller">
						<h4 class="new-style1__tit tit-new1"><strong class="weight-regular">반영구 필러</strong> 추천부위</h4>
						<p class="new-style1__txt txt-new1">
							반영구 필러는 수술에 대한 부담이 있거나, 일반 필러를 반복적으로 시술 받아본 분들에게<br class="hidden-m"> 이상적인 대안이 되고 있는 필러입니다.
						</p>
						<a href="" class="new-style1__link">반영구 필러 아테콜 바로가기</a>
						<div class="new-style1__img">
							<img src="../../images/special/casefiller/casefiller_img_2.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/special/casefiller/casefiller_img_2_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-stripe type-casefiller">
						<ul class="new-stripe__list">
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_1.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">매력 없이 평평한 이마</h4>
									<p class="new-stripe__txt2 txt-new1">
										눈썹 선 위로 푹 꺼진 이마는 얼굴을 나이 들어 보이게 하며 강해 보이는 인상을 줍니다. 필러를 평평하면서도 동그란
										느낌으로 주입하여 준다면 보다 부드럽고 어려 보이는 이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_2.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">푹 꺼진 관자놀이</h4>
									<p class="new-stripe__txt2 txt-new1">
										얼굴에 살이 없어 푹 꺼진 관자놀이는 눈 옆에 강한 음영을 만들어 초췌하거나 억세 보이는 인상을 줍니다. 눈과 광대의
										위치를 고려하여 너무 볼록하거나 어색한 모양이 되지 않도록 꺼진 관자놀이를 채워주면 좀 더 부드럽고 밝아 보이는
										이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_3.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">낮은 콧대와 코끝</h4>
									<p class="new-stripe__txt2 txt-new1">
										코의 높이를 높이고 모양을 개선하여 보다 입체적이고 또렷한 인상을 만들 수 있습니다. 콧대나 코끝이 넓으면 둔한 느낌을
										줄 수 있기 때문에 정밀한 기술을 통해 필러를 얇게 쌓아 올린다는 느낌으로 주입하는 것이 핵심입니다. 또, 단순히 콧대의
										높이만을 높이는 것이 아닌 콧대의 굴곡을 조절하여 콧대를 매끄럽게 다듬을 수도 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_4.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">팔자주름</h4>
									<p class="new-stripe__txt2 txt-new1">
										피부의 주름이지만 구강구조나 광대뼈 발달 등의 이유로 연령과 상관없이 나타나는 것이 특징입니다. 필러를 평평하게
										채워주는 비교적 간편한 방법으로 개선이 가능합니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_5.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">부족한 아래턱</h4>
									<p class="new-stripe__txt2 txt-new1">
										턱 끝은 얼굴의 비율과 윤곽을 결정짓게 됩니다. 자칫 무턱으로 보일 수 있는 발달이 덜된 턱 끝이라면, 필러를 통해
										볼륨감을 주는 것으로 매력적인 프로화일과 또렷한 이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
						</ul>
					</div><!--new-stripe -->
				</div>

				<!-- 시술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-special type-four">
							<div class="operation-v2__wrap">
								<h3 class="operation-v2__tit">시술정보</h3>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">시술시간</h4>
											<p class="operation-v2__txt txt-new1">약 10분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
											<p class="operation-v2__txt txt-new1">국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
											<p class="operation-v2__txt txt-new1">빠른 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-special">
									<h3 class="pain-v2__tit txt-new2">시술 후 체감 통증</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										주사기 사용으로 <span class="color-black1">따끔한 통증</span>이 있습니다.<br>
										주입되는 아테콜의 양에 따라 팽창감과 통증이 있을 수 있습니다.<br>
										주입된 아테콜의 형태를 잡는 과정에서 얼얼한 정도의 통증이 생길 수 있으며 시간이 지나면서 점차 완화됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
									<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-temporary">
				<div class="new-section type-cling">
					<div class="new-style1 type-casefiller">
						<h4 class="new-style1__tit tit-new1"><strong class="weight-regular">일시적 필러</strong> 추천부위</h4>
						<p class="new-style1__txt txt-new1">
							비교적 간편하게 볼륨감을 얻을 수 있고 일정 기간이 지나면 체내에 자연스럽게 녹아 없어지는<br class="hidden-m">
							특성이 있어, 수술적 성형에 대한 부담을 가진 환자분들에게 좋은 대안이 되고 있는 필러입니다.
						</p>
						<a href="" class="new-style1__link">디자인 필러 바로가기</a>
						<div class="new-style1__img">
							<img src="../../images/special/casefiller/casefiller_img_3.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/special/casefiller/casefiller_img_3_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-stripe type-casefiller">
						<ul class="new-stripe__list">
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_1.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">매력 없이 평평한 이마</h4>
									<p class="new-stripe__txt2 txt-new1">
										눈썹 선 위로 푹 꺼진 이마는 얼굴을 나이 들어 보이게 하며 강해 보이는 인상을 줍니다. 필러를 평평하면서도 동그란
										느낌으로 주입하여 준다면 보다 부드럽고 어려 보이는 이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_2.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">푹 꺼진 관자놀이</h4>
									<p class="new-stripe__txt2 txt-new1">
										얼굴에 살이 없어 푹 꺼진 관자놀이는 눈 옆에 강한 음영을 만들어 초췌하거나 억세 보이는 인상을 줍니다. 눈과 광대의
										위치를 고려하여 너무 볼록하거나 어색한 모양이 되지 않도록 꺼진 관자놀이를 채워주면 좀 더 부드럽고 밝아 보이는
										이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_3.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">낮은 콧대와 코끝</h4>
									<p class="new-stripe__txt2 txt-new1">
										코의 높이를 높이고 모양을 개선하여 보다 입체적이고 또렷한 인상을 만들 수 있습니다. 콧대나 코끝이 넓으면 둔한 느낌을
										줄 수 있기 때문에 정밀한 기술을 통해 필러를 얇게 쌓아 올린다는 느낌으로 주입하는 것이 핵심입니다. 또, 단순히 콧대의
										높이만을 높이는 것이 아닌 콧대의 굴곡을 조절하여 콧대를 매끄럽게 다듬을 수도 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_4.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">팔자주름</h4>
									<p class="new-stripe__txt2 txt-new1">
										피부의 주름이지만 구강구조나 광대뼈 발달 등의 이유로 연령과 상관없이 나타나는 것이 특징입니다. 필러를 평평하게
										채워주는 비교적 간편한 방법으로 개선이 가능합니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_5.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">부족한 아래턱</h4>
									<p class="new-stripe__txt2 txt-new1">
										턱 끝은 얼굴의 비율과 윤곽을 결정짓게 됩니다. 자칫 무턱으로 보일 수 있는 발달이 덜된 턱 끝이라면, 필러를 통해
										볼륨감을 주는 것으로 매력적인 프로화일과 또렷한 이미지로 개선할 수 있습니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_6.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">움푹 들어간 볼</h4>
									<p class="new-stripe__txt2 txt-new1">
										얼굴에 살이 없어 움푹 들어간 볼은 얼굴을 초췌해 보이게 만들고 얼굴뼈의 윤곽을 드러나게 해 억세 보이는 인상을
										줍니다. 적당량의 필러를 얼굴형에 맞추어 넓게 채워주는 것으로, 보다 생기 있고 어려 보이는 이미지로의 개선이
										가능합니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_7.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">뺨의 인디언주름</h4>
									<p class="new-stripe__txt2 txt-new1">
										볼이 움푹 들어가 보이게 만드는 주름으로, 얼굴을 나이 들어 보이게 하는 원인이 됩니다. 팔자주름과 같이 비교적 쉽게
										개선이 가능하며 개선이 된다면 광대가 들어가 보이는 효과도 볼 수 있는 부위입니다.
									</p>
								</div>
							</li>
							<li class="new-stripe__item">
								<div class="new-stripe__wrap">
									<div class="new-stripe__img">
										<img src="../../images/special/casefiller/casefiller_icon_8.png" loading="lazy" alt="" class="img-responsive">
									</div>
									<h4 class="new-stripe__subject txt-new2">얇고 흐릿한 입술라인</h4>
									<p class="new-stripe__txt2 txt-new1">
										입체감 없이 얇고 흐릿한 입술은 상대적으로 나이가 들어 보이고 그 매력이 감소하게 됩니다. 입술의 윤곽과 얼굴
										이미지를 고려하여 필러를 세심하게 채워준다면 도톰하고 매력적인 입술로 개선이 가능합니다.
									</p>
								</div>
							</li>
						</ul>
					</div><!--new-stripe -->
				</div>

				<!-- 시술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-special type-four">
							<div class="operation-v2__wrap">
								<h3 class="operation-v2__tit">시술정보</h3>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">시술시간</h4>
											<p class="operation-v2__txt txt-new1">약 10분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
											<p class="operation-v2__txt txt-new1">국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
											<p class="operation-v2__txt txt-new1">빠른 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-special">
									<h3 class="pain-v2__tit txt-new2">시술 후 체감 통증</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										주사기 사용으로 <span class="color-black1">따끔한 통증</span>이 있습니다.<br>
										주입되는 필러의 양에 따라 팽창감과 통증이 있을 수 있습니다.<br>
										주입된 필러의 형태를 잡는 과정에서 얼얼한 정도의 통증이 생길 수 있으며 시간이 지나면서 점차 완화됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
									<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
