<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="special detail-common">
    <section class="fs_section specialFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-special">
					<span class="color-special0">Đa dang</span> sự lựa chọn,<span class="detail__first-piece type-special">Phẫu thuật thẩm mỹ mà có thể bạn đang cần</span>
				</p>
				<h3 class="detail__first-txt type-special">
					<span class="detail__first-bwrap">Giải tỏa nỗi đắn đo của bệnh nhân <!-- <b class="detail__first-bar type-special"></b>--> </span><br>
					<strong class="detail__first-point">Detail <span class="color-special3">Special</span> Banobagi<span class="color-special1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section specialSection01" data-section-name="specialSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-special">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ Tiêm Filler</strong>
						<strong class="color-special4">Phương pháp</strong> thực hiện của Banobagi
	              	</h4>
	              	<p class="detail__section-subtit">Tính chuyên nghiệp và chuyên môn để tăng sự hài lòng của bệnh nhân</p>
	              	<p class="detail__section-txt">
						Mặc dù tiêm Filler là một tiểu phẫu tương đối đơn giản, nhưng thực tế kết quả thẩm mỹ phụ thuộc vào bác sĩ thực hiện. Banobagi có <span class="color-special5">đội ngũ chuyên gia tận tụy có chuyên môn, hiểu biết về tình trạng da của bệnh nhân, chuyển động cơ mặt và đặc điểm của chất độn Filler.</span> Vì vậy, dựa trên kinh nghiệm và kiến thức về phương pháp tiểu phẫu này, Banobagi luôn mang lại kết quả hiệu quả thõa mãn hơn.
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section specialSection02" data-section-name="specialSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h4 class="detail__popup-tit">Cơ quan Y tế chính thức được chỉ định của Artecoll<span class="color-special6">.</span></h4>
					<div class="popup-img">
						<div class="popup-img__box">img</div>
						<p class="popup-img__txt">
							Filler bán vĩnh viễn <strong class="color-special7">Artecoll</strong> đã được sử dụng hơn 1 triệu trường hợp trên toàn thế giới trong hơn 20 năm.
						</p>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special">
				<div class="detail__vertical">
					<div class="detail__section-box type-special type-wide type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Filler</strong><span class="color-comma">,</span><br class="hidden-tm">
							Banobagi <strong class="color-special4">đáng tin cậy</strong>
						</h4>
						<p class="detail__section-subtit">Banobagi là cơ quan y tế được chỉ định chính thức về Artecoll</p>
						<p class="detail__section-txt">
							Filler bán vĩnh cửu có đặc tính là thời gian duy trì lâu dài.Tiểu phẫu tiêm Filler bán vĩnh cửu phải <span class="color-special5">được thực hiện tại bệnh viện được chỉ định và có các chuyên gia đã được đào tạo.</span> Banobagi là <span class="color-special5">cơ sở y tế đã thực hiện tiêm Artecoll nhiều ca nhất,</span> là một trong những bệnh viện được công nhận về thẩm mỹ  tiêm Artecoll. Tại Banobagi, chúng tôi tạo nên vẻ đẹp an toàn đi cùng năm tháng.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				Cơ quan Y tế chính thức<br class="hidden-pt"> được chỉ định của Artecoll
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">popup</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection03" data-section-name="specialSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-special">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Đặc biệt</strong><span class="color-comma">,</span>
	  					<span class="detail__section-bwrap">Banobagi</span> hiểu
	  					<strong class="color-special7">những lo lắng</strong> của bạn
	  				</h4>
	  				<p class="detail__section-subtit">Theo đuổi việc cải thiện đa dạng các vị trí khác nhau.</p>
	  				<p class="detail__section-txt">
						Không giống như các phẫu thuật làm đẹp như mắt, mũi, hoặc xương gương mặt. Có một số <span class="color-special12">phẫu thuật thẩm mỹ thường được thực hiện để giúp các cá nhân</span> vượt qua khuyết điểm của bản thân như dị tật, khuyết tật bẩm sinh hoặc sự cố chấn thương gây biến dạng. Banobagi có những chuyên gia và kỹ thuật phù hợp trong các lĩnh vực khác nhau để không bỏ lỡ những khuyết điểm của bệnh nhân.
	  				</p>
	  			</div>
				<!-- layer-doc5 -->
				<div class="layer-doc5 type-special">
				  	<ul class="layer-doc5__list">
				  		<li class="layer-doc5__item nth-1">
				  			<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">
									<span class="layer-doc5__tit-wrap">Thẩm mỹ tai</span>
								</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-2">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">
									<span class="layer-doc5__tit-wrap">Thẩm mỹ đầu sau</span>
								</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-3">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">
									<span class="layer-doc5__tit-wrap">Phẫu thuật hở hàm ếch lần 2</span>
								</h5>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc5 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section specialSection04" data-section-name="specialSection04">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-special type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Đặc biệt</strong><span class="color-comma">,</span>
							Banobagi Giỏi ở cả <strong class="color-special8">những phẫu thuật đòi hỏi kỹ thuật cao</strong>
						</h4>
	  					<p class="detail__section-subtit">Lí do Banobagi thách thức những ca phẫu thuật khó khăn nhất</p>
  						<p class="detail__section-txt">
							Có rất nhiều bệnh viện thực hiện phẫu thuật thẩm mỹ cho mục đích làm đẹp. Tuy nhiên, không có nhiều bệnh viện tiếp cận bản chất của phẫu thuật thẩm mỹ. <span class="color-special9">Đội ngũ Y bác sĩ Banobagi không ngừng nghiên cứu, tiến hành các phẫu thuật khó khăn</span> mà không phải bác sĩ thẩm mỹ nào cũng có thể thực hiện. Triết lí chính của Banobagi là cải thiện chất lượng cuộc sống của bệnh nhân và duy trì mức độ hài lòng cao nhất có thể.
  						</p>
	  				</div>
    			</div>
    		</div>
			<p class="detail__bottom-txt type-special">
				<strong>Điều trị sẹo bằng tế bào gốc</strong><br class="hidden-m">(trường hợp thật đã<br class="hidden-pt"> nhận trị liệu sẹo bỏng)
			</p>
    	</div>
    </section>

	<section class="fs_section specialSection05" data-section-name="specialSection05">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Hệ thống kiểm tra toàn diện Special<span class="color-special6">.</span></h5>
					<div class="detail__popup-scroll">
						<div class="popup-system">
							<ul class="popup-system__list">
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra y tế cơ bản</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra máu</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra ngừa ung thư</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra kim loại nặng</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Siêu âm</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra Stress</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Chụp X-ray</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Quét 3D-CT</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra TMJ</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra EKG</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra mật độ khoáng xương</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra nước tiểu</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra chức năng thận</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra chức năng gan</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra bệnh tiểu đường</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra bệnh tim</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra chức năng tim</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra cơ bắp/ xương</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra chức năng tuyến giáp</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Kiểm tra bệnh truyền nhiễm</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-special type-another2">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Đặc biệt</strong><span class="color-comma">,</span>
							Banobagi Thực hiện <strong class="color-special10">Detail</strong>
						</h4>
						<p class="detail__section-subtit">Triết lí điều trị nhân tâm, hệ thống kiểm tra toàn diện</p>
						<p class="detail__section-txt">
							Chăm sóc sức khỏe và phúc lợi cho bệnh nhân là điều cơ bản của bất kì bệnh viện nào. Dựa trên triết lí trị liệu tập trung vào bệnh nhân, Banobagi cho tiến hành các <span class="color-special10">kiểm tra toàn diện</span> trước phẫu thuật. Từ những <span class="color-special10">kiểm tra cơ bản như kiểm tra máu, xương, da, mô đến các kiểm tra bệnh lý khác nhau.</span> Các thủ thuật được thực hiện một cách tỉ mỉ để nắm bắt tình trạng bệnh nhân nhằm đảm bảo an toàn phẫu thuật.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				Hệ thống kiểm tra<br class="hidden-pt"> toàn diện Special Banobagi
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">popup</a></span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
