<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Sự hấp dẫn của filler bán vĩnh viễn</p>
				<h3 class="content-visual__tit">#FILLER BÁN VĨNH VIỄN <span class="color-special16">ARTECOLL</span></h3>
				<p class="content-visual__txt2">Cơ quan y tế chính thức được chỉ định sử dụng Artecoll</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="artecoll-box1">
	        	<div class="content-section type-first">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-6 type-another2">
			              	<h4 class="content-section__tit type-top">
			                	<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
								Filler bán vĩnh viễn,
			                	<strong class="content-highlight2 type-special">Artecoll</strong> là câu trả lời chính xác nhất
			             	</h4>
	              			<p class="content-section__txt1 type-info">
				                Filler bán vĩnh viễn, đúng như cái tên, đây là loại filler có độ duy trì lâu. Đây là phương pháp đơn giản như tiêm filler thông thường và có thêm ưu điểm là thời gian duy trì lâu hơn nhiều. Vì vậy đây là sự lựa chọn lý tưởng cho những người lo ngại về phẫu thuật hoặc đang liên tục tiêm filler thông thường. Filler bán vĩnh viễn hiện đang ra mắt nhiều loại sản phẩm. Trong số đó, Artecoll là loại sản phẩm tiêu biểu với lịch sử lâu dài nhất. Ra mắt lần đầu tiên vào năm 1994, trải qua nhiều lần nghiên cứu, ngày hôm nay đã đạt được vị trí là loại filler an toàn và hiệu quả. (*tên chính thức là Artecoll, trong nước có thể được gọi bằng tên là Artesense.) Lý do nổi bật nhất của Artecoll đó chính là tính an toàn. Vẫn có một số người lo lắng là filler không tan sẽ nằm trong cơ thể gây phản ứng chống lại vật thể lạ, nhưng trong 8 năm sử dụng thì mức độ hài lòng của Artecoll được đánh giá cao hơn hẳn filler thường. Thành phần chủ yếu của Artecoll là
	                			<span class="content-section__info pop-info">
									<a href="" class="info-btn js-info">
										<span class="info-btn__icon type-special">button</span>
										PMMA
										<span class="info-desc type-special">
											<span class="info-desc__item">
												<span class="info-desc__box">
													<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>PMMA</strong>là gì?<br class="hidden-tm"></span>
													<span class="info-desc__content">
														<span class="info-desc__txt1">
															Được cấu tạo bởi các phân tử nhỏ, là thành phần an toàn được kiểm nghiệm lâm sàng trên 60 năm và không ngừng nâng cấp. Tác động vào tổ chức xung quanh bên trong da, giúp sản sinh collagen.
														 </span>
													</span>
												</span>
												<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
													Đóng
												</button>
											</span>
										</span>
	                          		</a>
	              				</span>vốn là thành phần thúc đẩy tự sản sinh Collagen trong da, gần như không có tác dụng phụ.
	                			<strong class="content-highlight type-special">Loại Collagen an toàn trải qua nhiều kiểm nghiệm lâm sàng, đây chính là lý do Banobagi lựa chọn Artecoll. </strong>
	              			</p>
	            		</div>
			            <div class="content-section__box w-5">
			              	<div class="content-section__img type-special1">
			                	<img src="../../images/special/special_artecoll_img02.png" loading="lazy" alt="" class="">
			              	</div>
			            </div>
	          		</div><!-- //content-section__wrap-->
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-9">
	              			<div class="pmma">
	                			<h5 class="pmma__tit">*Thành phần cấu tạo của <span class="color-special13">Artecoll</span></h5>
	                			<ul class="pmma__list">
	                  				<li class="pmma__item nth-1">
	                    				<p class="pmma__txt">Thế hệ 1</p>
	                  				</li>
	                  				<li class="pmma__item nth-2">
	                    				<p class="pmma__txt">Thế hệ 2</p>
	                  				</li>
	                  				<li class="pmma__item nth-3">
	                    				<p class="pmma__txt">Thế hệ 3</p>
	                  				</li>
	                  				<li class="pmma__item nth-4">
	                    				<p class="pmma__txt">Thế hệ 4</p>
	                  				</li>
	                			</ul>
	              			</div><!-- //pmma-->
	            		</div>
	            		<div class="content-section__box w-3">
	              			<div class="pmma-info">
	                			<h6 class="pmma-info__tit">Đặc trưng của PMMA thế hệ 4</h6>
	                			<ul class="pmma-info__list">
	                  				<li class="pmma-info__item txt-v2">Độ lớn bình quân của phân tử là 32-40 nanometer</li>
	                  				<li class="pmma-info__item txt-v2">Dạng hình cầu trơn, tròn hoàn hảo</li>
	                  				<li class="pmma-info__item txt-v2">Cấu trúc đơn thuần không xảy ra hiện tượng tĩnh điện</li>
	                  				<li class="pmma-info__item txt-v2">Phi hoạt tính không phân giải trong cơ thể sống</li>
	                			</ul>
	              			</div>
	            		</div>
	          		</div>
	          		<div class="pmma-noti">
	            		<p class="pmma-noti__txt">
	              			<strong>PMMA</strong>không bị phân giải hay lan sang vị trí khác. Tính ổn định trong cơ thể cao và kích cỡ phân tử càng đều, tạp chất càng ít, càng không xảy ra tĩnh điện sẽ càng được đánh giá xếp hạng cao
	            		</p>
	          		</div>
	        	</div>
	      	</div>
	      	<!-- //content-section -->
	      	<div class="artecoll-box2">
	        	<div class="content-section">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-6">
	              			<div class="content-section__img type-special2 hidden-tm">
	                			<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
	              			</div>
	            		</div>
	            		<div class="content-section__box w-5 type-another2 type-bottom">
	              			<h4 class="content-section__tit type-top">
				                <span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
				                <strong class="content-highlight2 type-special">SỰ AN TOÀN</strong> CỦA ARTECOLL,
				                BANOBAGI SẼ <strong class="content-highlight3 type-special">CHỨNG MINH</strong>
								BẰNG CON SỐ NHẢY VỌT
	              			</h4>

				            <div class="content-section__img hidden-p">
				                <img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
				            </div>
	              			<p class="content-section__txt1">
				                <span class="brackets__wrap type-artecoll-m"><span class="content-section__point type-special">20 năm</span> lâm sàng<br class="hidden-t"> <span class="content-section__point type-special">40 nước</span> công nhận
								</span><br>
								Artecoll ra mắt lần đầu vào năm 1994. Sau đó 20 năm trôi qua, trải qua nhiều nghiên cứu, đã giành được chỗ đứng là loại filler có thành phần tốt và an toàn hơn cả. Artecoll là filler duy nhất có 20 năm lâm sàng trong nước. Có tổng cộng 40 quốc gia trên thế giới công nhận tính an toàn của Artecoll. Tiếp nối chứng nhận CE của châu Âu, Artecoll còn được công nhận tính an toàn bởi KFDA của Canada, Trung Quốc, Mexico và Hàn Quốc.
	              			</p>
	            		</div>
	          		</div><!-- //content-section__wrap-->
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-11">
	              			<div class="content-section__img type-special3">
	                			<img src="../../images/special/special_artecoll_img04.jpg" loading="lazy" alt="">
	              			</div>
	              			<p class="content-section__txt1 type-another">
	                 			<span class="brackets__wrap"><span class="content-section__point type-special">1 triệu</span> người đã trải nghiệm</span> 20 năm lâm sàng của filler, số người đã trải nghiệm Artecoll đã lên tới con số hơn 1 triệu người. Tùy theo cá nhân mà có sự khác biệt trong mức độ hài lòng, nhưng đủ để tạo lòng tin về sự an toàn.<br>
	                			<span class="brackets__wrap type-another">Bác sĩ <span class="content-section__point type-special">trên 10 năm</span> kinh nghiệm, chỉ có
								<span class="content-section__point type-special">11 bệnh viện </span>trong nước được phép sử dụng</span>
	                			Thật ra tính an toàn của Artecoll còn dựa vào điều kiện là phải do bác sĩ có chuyên môn thực hiện. Tại công ty sản xuất Artecoll là Netherland EMCM thì quá trình từ phát triển đến kiểm tra đều nổi tiếng là rất nghiêm ngặt. Thêm vào đó, luôn xem xét kĩ càng kinh nghiệm và kĩ thuật của bác sĩ thực hiện sau đó mới phân phối. Để thực hiện phương pháp tiêm Artecoll, bác sĩ đó phải có <span class="content-highlight type-special">trên 10 năm</span> kinh nghiệm tiêm filler,
	                			<strong class="content-highlight type-special">Banobagi là bệnh viện chỉ định nằm trong số chỉ 11 bệnh viện ở Hàn Quốc được Artecoll chính thức công nhận.</strong>
	              			</p>
	            		</div>
	          		</div>
		          	<div class="content-section__wrap">
		            	<div class="content-section__box w-5">
		              		<div class="content-section__img type-special4">
		                		<img src="../../images/special/special_artecoll_img05.jpg" loading="lazy" alt="">
		              		</div>
		            	</div>
		            	<div class="content-section__box w-6 type-another3">
		              		<div class="quotation2 type-special">
		                		<p class="quotation2__txt tit-v3">Bệnh viện đầu tiên tại Hàn Quốc thực hiện <strong class="color-special14">20,000</strong> xy lanh</p>
		              		</div>
			              	<p class="content-section__txt1">
								Banobagi đã nhập Artecoll được 8 năm. Càng thực hiện thì càng khẳng định hơn một điều là Artecoll là loại filler tốt và có nhiều khách hàng đã tiêm qua quay lại tìm đến Artecoll. Dần dần, <strong class="content-highlight type-special">Banobagi trở thành bệnh viện sử dụng Artecoll nhiều nhất ở Hàn Quốc</strong>
			              	</p>
		            	</div>
		          	</div>
		          	<div class="content-section__wrap hidden-m type-short">
			            <div class="content-section__box w-12">
			              	<div class="content-section__img type-special5">
			                	<img src="../../images/special/special_artecoll_img06.jpg" loading="lazy" alt="" class="hidden-tm">
			                	<img src="../../images/special/special_artecoll_img06_t.jpg" loading="lazy" alt="" class="hidden-pm">
			              	</div>
			            </div>
		          	</div>
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-5 type-another3">
	              			<div class="quotation2">
	                  			<p class="quotation2__txt tit-v3">Vẻ đẹp <strong class="color-special14">duy trì trong 10 năm</strong></p>
	                		</div>
	            		</div>
			            <div class="content-section__box w-6 type-another2">
			              	<p class="content-section__txt1 type-0">
			                	Artecoll là phương pháp đơn giản nên chỉ cần bôi tê là thực hiện được. <br class="hidden-pm">
			                  	Thời gian  <strong class="color-special14">thực hiện chỉ trong vòng 10 phút</strong> nhưng có thể <strong class="content-highlight type-special">duy trì được 10 năm. </strong>
			              	</p>
			            </div>
			            <div class="age">
			             	<ul class="age__list">
			                  	<li class="age__item nth-1">
			                    	<p class="age__txt">3 tháng</p>
			                  	</li>
			                  	<li class="age__item nth-2">
			                    	<p class="age__txt">1 năm</p>
			                  	</li>
			                  	<li class="age__item nth-3">
			                    	<p class="age__txt">10 năm</p>
			                  	</li>
			                </ul>
			            </div>
	         		</div>
	        	</div>
	        	<!-- //content-section -->
	      	</div>
	      	<div class="artecoll-box3">
	        	<div class="content-section">
		          	<div class="content-section__wrap type-special1">
			            <div class="content-section__box w-7">
				            <div class="content-section__img type-special6 hidden-tm">
				                <img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
				            </div>
			            </div>
		            	<div class="content-section__box w-4 type-bottom">
		              		<h4 class="content-section__tit type-top">
				                <span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
				                ĐIỀU CHỈNH <strong class="content-highlight2 type-special">TỰ NHIÊN</strong>
								BẰNG SỰ NHẠY CẢM
								TRONG THẨM MỸ
		              		</h4>
		            	</div>
			            <div class="content-section__img type-special6 hidden-p">
			              	<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
			            </div>
		          	</div><!-- //content-section__wrap-->
			        <div class="artecoll">
			            <h5 class="artecoll__tit tit-v3">Có  <span class="color-special15">hai phương pháp thực hiện</span> Artecoll hiệu quả</h5>
			            <ul class="artecoll__list">
			              	<li class="artecoll__item">
			                	<h6 class="artecoll__subject nth-1">Cách làm cho tổng thể khuôn mặt trẻ hơn</h6>
			                	<p class="artecoll__txt txt-v3">
									Thành phần chủ yếu của Artecoll là Collagen bò con ở vùng môi trường tinh khiết hóa của Úc dùng trong y khoa. Tính an toàn trong cơ thể rất nổi trội, do là loại Collagen được bảo tồn lâu dài, sau khi tiêm một thời gian sau đó vẫn giữ được hiệu quả tái sản sinh Collagen. Tập trung vào những chỗ lão hóa và xuất hiện nếp nhăn, cân nhắc đến sự hài hòa của khuôn mặt, sẽ khiến cho khuôn mặt tổng thể hài hòa và trẻ đẹp hơn.
			                	</p>
			              	</li>
			              	<li class="artecoll__item">
			                	<h6 class="artecoll__subject nth-2">Cách tạo đường nét khuôn mặt mà không dùng vật độn</h6>
			                	<p class="artecoll__txt txt-v3">
									Artecoll là chất thay thế ưu việt thay cho vật độn dùng trong thẩm mỹ trán, sóng mũi, cằm, vv. Nếu bạn còn lo ngại trong việc sử dụng chất độn, hoặc mong muốn một hiệu quả duy trì tốt hơn cả filler thông thường và mỡ tự thân, thì chúng tôi khuyên bạn nên dùng Artecoll.
			                	</p>
			              	</li>
			            </ul>
			        </div>
	        	</div><!-- //content-section -->
	    	</div>
	      	<div class="artecoll-box4">
	        	<div class="content-section">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-12 type-another2">
	              			<h4 class="content-section__tit type-left">
	                  			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                  			CHỈ 10 PHÚT THỰC HIỆN ĐÃ <strong>DUY TRÌ</strong> ĐƯỢC VẺ ĐẸP <strong class="content-highlight2 type-special">10 NĂM</strong>
	                		</h4>
	                		<p class="content-section__txt1 type-another">
	                  			<span class="content-section__point">Sau khi tiêm chúng tôi sẽ cấp <span class="color-special14">giấy chứng nhận chính hãng</span>.</span><br>
								Tại bệnh viện chỉ định sử dụng Artecoll chính hãng, trước khi tiêm chúng tôi sẽ cho xem xác nhận sản phẩm, sau khi tiêm sẽ cấp giấy chứng nhận sản phẩm.
	                		</p>
	            		</div>
	          		</div>
	        	</div><!-- //content-section -->
	      	</div>

			<!-- 시술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">아테콜 약 10분의 시술로 약 10년의 아름다움을 유지할 수 있습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 10 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê cục bộ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Không cần thiết</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Có thể sinh hoạt bình thường ngay</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Do dùng kim để tiêm vào nên sẽ có <span class="color-special14">cảm giác đau nhói.</span>
									Tùy theo lượng Artecoll tiêm vào mà sẽ cảm thấy đau và sưng tức khác nhau.
									Trong quá trình Artecoll định hình có thể hơi hơi đau tức tức nhưng dần dần sẽ đỡ.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
