<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-ear">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">자신 있게 연출하는 다양한 스타일</p>
						<h3 class="new-visual__tit">귀<span class="n-color-special2">성형</span></h3>
						<p class="new-visual__txt">얼굴형에 어울리는 모양과 각도를 찾는 전문성</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#이상적인귀</span></li>
							<li class="new-visual__item"><span>#다양한케이스</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-ear">
					<div class="section-normal__wrap">
					 	<h3 class="section-normal__tit tit-new1">
							귀는 <span class="n-color-special2">얼굴형의 균형</span>을 잡고<br class="hidden-tm">
							특징을 만들어 냅니다
						</h3>
					 	<p class="section-normal__txt2 txt-new2">
							흔히 인상을 판단함에 있어 귀는 그렇게 중요하지 않다고 여겨지는 경우가 있습니다. <br class="hidden-tm">
					 		하지만 여권 사진에서 귀를 반드시 드러내야 하는 것처럼,
							<span class="n-color-special2">귀에는 그 사람 고유의 특징이 담겨 있고 크게는 그 사람의 이미지를 좌우</span>하기도 합니다.
					 	</p>
						<p class="section-normal__txt1 txt-new1">
					 		단순히 귀의 모양뿐만 아니라 정면에서 보이는 귀의 면적이나 크기, 각도 등 보여지는 다양한 형태에 따라서도 인상이 달라지죠.<br class="hidden-tm">
							또, 귀는 헤어라인의 바로 아래에 위치하여 헤어스타일 연출에 영향을 주고 안경이나 선글라스, 귀걸이와 같은 액세서리 선택과도 긴밀한 연관이 있습니다.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/special/ear/ear_img_1.png" class="img-normal" loading="lazy" alt="inbody 측정">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-gray1">
					<div class="img-style2 type-ear">
						<h3 class="img-style2__tit tit-new2"><span class="n-color-special3">얼굴 인상</span>에 영향을 끼치는 귀</h3>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-1">
								<div class="img-style2__box">
									<img src="../../images/special/ear/ear_img_2.jpg" loading="lazy" alt="개인 고유의 특징이 드러남" class="img-w100">
									<div class="img-style2__caption txt-new2">개인 고유의 특징이 드러남</div>
								</div>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__box">
									<img src="../../images/special/ear/ear_img_3.jpg" loading="lazy" alt="모양과 크기에 따라 이미지 부여" class="img-w100">
									<div class="img-style2__caption txt-new2">모양과 크기에 따라 <span class="inline-block">이미지 부여</span></div>
								</div>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/special/ear/ear_img_4.jpg" loading="lazy" alt="헤어스타일 연출에 영향" class="img-w100">
									<div class="img-style2__caption txt-new2">헤어스타일 연출에 영향</div>
								</div>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/special/ear/ear_img_5.jpg" loading="lazy" alt="목선과 얼굴형 결정" class="img-w100">
									<div class="img-style2__caption txt-new2">목선과 얼굴형 결정</div>
								</div>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/special/ear/ear_img_6.jpg" loading="lazy" alt="액세서리 선택에 기준" class="img-w100">
									<div class="img-style2__caption txt-new2">액세서리 선택에 기준</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-ear">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-special3">귀 형태에 대한 고민</span>은 다양하게<br class="hidden-tm">
						나타납니다
					</h4>
					<p class="new-style1__txt txt-new1">
						<span class="color-white">귀 형태에 대한 불만족은 크게 선천적인 이상을 원인으로 하는 경우와 후천적인 이상을 원인으로 하는 경우로 나눌 수 있습니다.</span><br class="hidden-tm">
						귀가 넓게 펼쳐진 돌출 귀, 귀 연골이 충분히 발달하지 못한 접힌 귀, 귓불이 뺨에 붙은 칼 귀 등이 선천적인 경우에 해당하며,<br class="hidden-tm">
						이 외에는 사고나 큰 자극으로 인해 후천적으로 귀의 형태가 변형된 경우라고 할 수 있죠.<br class="hidden-tm">
						이런 귀 형태에 대한 불만족은 다른 사람들은 크게 느끼지 못하더라도 본인에게는 큰 고민과 불편함으로 다가올 수 있습니다.<br class="hidden-tm">
						그리고 그 고민과 불편함은 자신감의 하락과 심리적 위축으로 연결되죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						때문에 귀 형태에 대한 고민을 안고 있는 경우라면, <span class="n-color-special3">성형을 통해 귀의 형태를 개선해주는 것이 필요</span>합니다.
					</p>
					<div class="inner-box">
						<div class="arrow-style type-ear">
							<h5 class="arrow-style__tit tit-new2">귀 성형 <span class="weight-regular">대상</span></h5>
							<div class="arrow-style__wrap">
								<div class="arrow-style__box type-box">
									<div class="arrow-style__img">
										<img src="../../images/special/ear/ear_img_20.jpg" class="img-normal" loading="lazy" alt="돌출 귀, 매몰 귀, 작은 귀, 칼 귀, 스탈씨 귀, 귓불 변형, 접힌 귀, 켈로이드, 이주 변형"/>
									</div>
									<p class="arrow-style__caption txt-new2">다양한 귀 불만족 케이스</p>
								</div>
								<div class="arrow-style__box type-circle">
									<div class="arrow-style__outer">
										<div class="arrow-style__inner">
											<div class="arrow-style__bg">
												<div class="arrow-style__vertical">
													<p class="arrow-style__txt txt-new1">
														자신감 하락 및<br> 심리적 위축,
													</p>
													<p class="arrow-style__txt txt-new1">
														고민과 불편함
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-ear2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-special2">거의 모든 경우의 귀 형태</span>를<br class="hidden-tm">
						개선할 수 있습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						이상적인 귀의 모양은 귀의 폭과 길이가 4:7 정도의 비율로 눈꺼풀과 코 끝의 연장선에 걸쳐 있는 것이며,<br class="hidden-tm"> 뒤로 8도~10도 정도
						기울어졌을 때 더욱 자연스럽다고 봅니다.<br class="hidden-tm">
						귀 성형은 이 이상적인 귀 형태를 생각하며 각 케이스를 정확히 분류하고, 보다 알맞은 방법으로 귀 형태를 잡아주는 것이 중요합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 거의 모든 귀 형태에 대한 개선 방법을 구사할 수 있으며,<br class="hidden-tm"> 그에 따라 보다 만족스러운 귀 성형을 진행합니다.
					</p>
					<div class="inner-box">
						<div class="img-style3 type-cling type-special">
							<h4 class="img-style3__tit tit-new2">이상적인 귀의 형태</h4>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/special/ear/ear_imgl_7.jpg" loading="lazy" alt="정면을 기준으로 한 귀의 대칭과 위치" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            정면을 기준으로 한 <span class="inline-block">귀의 대칭과 위치</span>
                                        </div>
                                    </div>
                                    <div class="depiction type-color type-special">
                                        <ul class="depiction__list">
                                            <li class="depiction__item txt-new1">양쪽 귀의 대칭이 오차 3mm이내</li>
                                            <li class="depiction__item txt-new1">전체적인 귀의 높이는 눈꺼풀과 코끝의 연장선까지</li>
											<li class="depiction__item txt-new1">얼굴형과 목선과 어울리는 정도의 귀 보임</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/special/ear/ear_imgl_8.jpg" loading="lazy" alt="측면을 기준으로 한 귀의 비율과 각도" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            측면을 기준으로 한 <span class="inline-block">귀의 비율과 각도</span>
                                        </div>
                                    </div>
									<div class="depiction type-color type-special">
                                        <ul class="depiction__list">
                                            <li class="depiction__item txt-new1">약 8~10도 정도의 기울어짐</li>
                                            <li class="depiction__item txt-new1">귀의 대이륜과 귓바퀴가 모두 보임</li>
											<li class="depiction__item txt-new1">귀의 너비와 길이 비율이 4:7 정도</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="multi-box type-three type-ear">
					<div class="multi-box__header" id="earMenu">
						<h4 class="multi-box__tit tit-new2 color-white">바노바기 케이스 별<br class="hidden-pt"> <strong class="weight-regular">귀 성형 방법</strong></h4>
					</div>
					<ul class="multi-box__list">
						<li class="multi-box__item">
							<a href="#ear1" class="multi-box__link txt-new1 js-hash">돌출 귀</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#ear2" class="multi-box__link txt-new1 js-hash">매몰 귀</a>
						</li>
						<li class="multi-box__item">
							<a href="#ear3" class="multi-box__link txt-new1 js-hash">작은 귀</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#ear4" class="multi-box__link txt-new1 js-hash">접힌 귀</a>
						</li>

						<li class="multi-box__item">
							<a href="#ear5" class="multi-box__link txt-new1 js-hash">칼 귀</a>
						</li>
						<li class="multi-box__item  type-white">
							<a href="#ear6" class="multi-box__link txt-new1 js-hash">스탈씨 귀</a>
						</li>
						<li class="multi-box__item">
							<a href="#ear7" class="multi-box__link txt-new1 js-hash">귓불 변형</a>
						</li>
						<li class="multi-box__item  type-white">
							<a href="#ear8" class="multi-box__link txt-new1 js-hash">켈로이드</a>
						</li>

						<li class="multi-box__item">
							<a href="#ear9" class="multi-box__link txt-new1 js-hash">이주 변형</a>
						</li>
					</ul>
					<div class="multi-box__noti">
						※ 클릭하시면 해당 케이스의 자세한 내용을 확인하실 수 있습니다.
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="box-style2 type-circle type-special">
					<ul class="box-style2__list">
						<!-- 돌출 귀 -->
						<li class="box-style2__item" id="ear1">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_9.png" loading="lazy" alt="돌출 귀" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">돌출 귀</h4>
									<p class="box-style2__txt txt-new2">
										귀 연골에 주름이 없거나 덜 형성되어, 정면에서 봤을 때 귀의 돌출이 심하고 앞쪽으로 넓게 펼쳐져
										보이는 형태를 말합니다. 기능적으로는 이상이 없지만 귀로 시선이 분산되어 미관적으로 보기 좋지
										못하며, 흔히 당나귀귀, 쪽박귀, 미키마우스귀라고 불립니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										귀의 뒤쪽을 절개한 후 귀가 적당히 젖혀지도록 연골을 직접 조작하여 주름과 굴곡을 만듭니다. 돌출의 정도가 심하지 않은 경우,
										연골을 비교적 간단히 봉합하여 교정할 수 있습니다. 귀의 뒤쪽을 절개하므로 흉터가 거의 보이지 않습니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>
						<!-- 매몰 귀 -->
						<li class="box-style2__item" id="ear2">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_10.png" loading="lazy" alt="매몰 귀" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">매몰 귀</h4>
									<p class="box-style2__txt txt-new2">
										귀의 윗부분이 측두부의 피부 속에 파묻힌 형태의 귀를 말합니다. 정면에서 보았을 때 귀의 모양이
										불분명하고, 측면에서도 귀의 윗부분이 없는 것처럼 보입니다. 안경이나 마스크를 쓸 수 없어 생활에
										큰 불편을 끼칩니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										귀의 윗부분이 자연스럽게 드러나도록 귀 연골을 잡아당기는 조직을 풀어주고, 귀가 매몰된 정도에 따라 피부를 적절히 이식합니다.
										오랫동안 귀가 파묻혀 있어 귀에 심한 굴곡이 동반되어 있다면 함께 교정합니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 작은 귀(소이증) -->
						<li class="box-style2__item" id="ear3">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_11.png" loading="lazy" alt="작은 귀(소이증)" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">작은 귀(소이증)</h4>
									<p class="box-style2__txt txt-new2">
										귀의 발육이 저조하거나 후천적인 원인에 의해 완전한 귀의 모양을 갖추지 못한 형태를 말합니다.
										선천적인 원인의 경우 7,000명 중 한 명 꼴로 나타나며, 귀의 기형이 심할수록 청각장애를 동반할
										가능성이 높으므로 빠른 교정이 필요합니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										귀의 온전한 형태를 만드는 방법으로 자신의 가슴연골 이식술과 인공귀 복원술이 있습니다. 자가조직 및 보형물로 만든 귀의 골격을
										적절한 위치에 심은 뒤 피부를 이식하여 자연스러운 모양으로 다듬어줍니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 돌출 귀 -->
						<li class="box-style2__item" id="ear4">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_12.png" loading="lazy" alt="접힌 귀(수축귀)" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">접힌 귀(수축귀)</h4>
									<p class="box-style2__txt txt-new2">
										귀가 접힌 것처럼 귀의 위쪽이 오그라든 형태의 귀를 말합니다. 귀가 형성되는 과정에서 귀 연골의
										윗부분이 온전히 발달하지 못한 것이 원인이며, 귀가 약간 접힌 모양부터 절반 정도 꺾인 모양까지
										다양한 형태를 나타냅니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										귀의 형태와 접힌 정도에 따라 수술 방법이 달라집니다. 일반적으로 귀 연골을 늘려서 접혀 있는 부분을 펴고 바른 모양을 만들지만,
										귀가 접힌 정도가 심한 경우 더욱 복잡한 수술 방법을 사용하게 됩니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 칼 귀 -->
						<li class="box-style2__item" id="ear5">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_13.png" loading="lazy" alt="칼 귀" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">칼 귀</h4>
									<p class="box-style2__txt txt-new2">
										귓볼이 뺨에 일직선으로 붙어 있어 귀가 날카롭게 길어 보이거나 아래로 당겨져 보이는 형태의 귀를
										말합니다. 선천적인 원인이 대부분이지만, 최근 안면 리프팅 수술 후 부작용으로 칼귀가 발생하기도
										합니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										귓볼이 작은 경우 자가 지방이식을 통해 귓볼을 만들 수 있습니다. 귓볼의 크기가 충분한 칼귀의 경우, 귓볼과 얼굴이 만나는 부분을
										절개하여 적당한 귀의 모양을 만들고 볼의 피부를 끌어 올려 봉합합니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 스탈씨 귀 -->
						<li class="box-style2__item" id="ear6">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_14.png" loading="lazy" alt="스탈씨 귀" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">스탈씨 귀</h4>
									<p class="box-style2__txt txt-new2">
										귀의 윗부분에 연골 주름이 하나 더 있는 형태의 귀를 말합니다. 전문 용어로 ‘제3 이륜각 기형’이라
										불리며, 추가적인 연골 주름에 의해 귀의 윗부분이 바깥쪽으로 뾰족하게 돌출되어 보입니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										문제가 되는 연골을 묶어주거나 절제하는 방법으로 추가적인 연골 주름(제 3이륜각)을 제거함으로써, 귀의 윗부분이 부드러운 곡선을
										이루는 자연스런 형태를 만듭니다. 귀 뒤쪽을 절개하므로 흉터가 잘 보이지 않습니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 귓불성형(이수열) -->
						<li class="box-style2__item" id="ear7">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_15.png" loading="lazy" alt="귓불 변형(이수열)" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">귓불 변형(이수열)</h4>
									<p class="box-style2__txt txt-new2">
										귀걸이 사용이 보편화되어, 귀걸이 무게에 의해 귓불이 조금씩 변형되거나 귀걸이가 어디에 걸려
										귓불이 찢어지는 등의 사고가 흔히 발생합니다. 이러한 외상이나 선천적인 원인으로 인해 갈라진
										귓불은, 헤어스타일로 가리기 어려우므로 자연스러운 형태를 유지하는 것이 중요합니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										단순한 모양으로 갈라진 경우가 대부분이며, 귓불이 갈라진 모양에 따라 귓불 자체나 그 주변의 조직을 이용하여 자연스러운 모양을
										만듭니다. 양쪽 귓불의 크기가 다른 경우, 자가 지방이나 엉덩이 부위의 자가 진피를 이식하여 좌우가 대칭되도록 합니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 켈로이드 -->
						<li class="box-style2__item" id="ear8">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_16.png" loading="lazy" alt="켈로이드" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">켈로이드</h4>
									<p class="box-style2__txt txt-new2">
										체질적인 요인으로 인해, 상처 난 부위의 흉터가 손상된 범위를 넘어 정상 피부까지 과하게 형성되어
										혹처럼 불거진 것을 말합니다. 주로 귀걸이 착용으로 인한 귓볼 손상 후 발생하며, 가려움과 압통을
										동반하고 외관상 보기 좋지 않습니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										상처가 아물면서 켈로이드가 발생하므로, 상처를 만들지 않는 비수술적인 주사 치료를 우선 시행합니다. 흉터의 크기와 형태에 따라
										정도가 심한 경우, 수술로 켈로이드를 개선함과 동시에 약물 치료를 병행하여 재발을 예방합니다
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>

						<!-- 이주변형 -->
						<li class="box-style2__item" id="ear9">
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/ear/ear_img_17.png" loading="lazy" alt="이주변형" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<h4 class="box-style2__tit tit-new2">이주변형</h4>
									<p class="box-style2__txt txt-new2">
										귓구멍 앞쪽에 돌출된 부분을 이주라 하고, 이주가 지나치게 변형된 형태를 이주변형이라 합니다.
										흔히 쥐젖이라 불리는 연성섬유종 또한 귀 주변에 생기는 다양한 형태의 부자연스러운 돌기라는
										점에서 이주변형과 함께 귀성형의 대상이 됩니다.
									</p>
									<h5 class="box-style2__highlight txt-new1">수술방법</h5>
									<p class="box-style2__info box-style2__point txt-new1">
										단순한 형태의 돌기는 비교적 간단한 절제술을 통해 개선할 수 있습니다. 하지만 이주 변형과 쥐젖의 구조가 복잡한 경우, 돌출 부위와
										주변 조직을 보다 정교하게 수술하여 보다 자연스러운 귀의 형태를 만들고 최대한 흉터가 보이지 않도록 해야 합니다.
									</p>
								</div>
							</div>
							<a href="#earMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li>


					</ul>
				</div>

			</div>

			<div class="new-section">
				<div class="new-style1 type-ear3 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						작은 부분까지 세심히 생각하는<br class="hidden-tm">
                        <span class="n-color-special2">기술과 경험</span>을 갖췄습니다
					</h4>
					<p class="new-style1__txt txt-new1">
                        귀의 대부분 형태는 섬유성 지방조직과 연골로 구성됩니다. 그리고 그 피부와 연골은 얇고 작게 분포되어 있죠.<br class="hidden-tm">
						따라서 귀 성형은 보다 섬세하고 정밀한 박리가 필요합니다.<br class="hidden-tm">
						또, 그만큼 흉터에 더욱 신경을 써야 하며, 그 결과는 얼굴의 이미지나 특징에 조화롭게 어우러져야 합니다.<br><br>
						바노바기는 2000년 개원 이후 귀 성형 부분에서도 다양한 임상 경험과 해부학적 지식을 축적해 왔습니다.<br class="hidden-tm">
						누군가에게는 꼭 필요한 성형일 수도 있기에 더욱 고민을 거듭하며 보다 만족도 높은 귀 성형을 연구한 결과입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						때문에 개개인 얼굴형 특징에 맞는 적절하고 정밀한 개선이 가능하며, 전문적인 기술과 노하우로<br class="hidden-tm">
                        <span class="n-color-special2">좌우 대칭과 전체적인 얼굴형에 어울리는 보다 이상적인 귀 성형이 가능</span>합니다.
					</p>
					<div class="inner-box">
						<h5 class="tit-new2">바노바기 귀 성형 <span class="weight-regular">장점</span></h5>
                        <div class="img-style3 type-wide type-special">
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/special/ear/ear_imgl_18.jpg" loading="lazy" alt="오랜 귀 성형 경험과 기술을 갖춘 바노바기" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            오랜 귀 성형 경험과 기술을 갖춘 바노바기
                                        </div>
                                    </div>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/special/ear/ear_imgl_19.jpg"
										loading="lazy" alt="비교적 섬세하고 정밀한 수술과 흉터 관리를 통한 자연스러움, 개개인의 이미지와 이상적인 귀를 추구하는 심미안, 거의 모든 케이스에 대한 보다 정확한 개선" class="img-w100">
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special">
						<div class="operation-v2__wrap">
							<h3 class="operation-v2__tit">Thông tin phẫu thuật</h3>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h4>
										<p class="operation-v2__txt txt-new1">
											약 1시간~2시간<br>(수술 방법에 따라 다름)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
										<p class="operation-v2__txt txt-new1">전신마취/국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h4>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian nhập viện</h4>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
										<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h3 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									<span class="color-black1">비교적 적은 절개와 정밀한 봉합으로 비교적 회복이 빠릅니다.</span><br>
		                            마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
