<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-total">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">신뢰할 수 있는 의료기관으로서의 기본</p>
						<h3 class="new-visual__tit">스페셜<br class="hidden-tm"><span class="n-color-special2">종합검진</span></h3>
						<p class="new-visual__txt">환자분들의 안전을 먼저 생각하는 바노바기의 준비</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#안전의기본</span></li>
							<li class="new-visual__item"><span>#세분화된항목</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-total">
					<div class="section-normal__wrap">
					 	<h3 class="section-normal__tit tit-new1">
							성형 전 <span class="n-color-special2">정확한 몸 상태 체크</span>는<br class="hidden-tm">
							안전의 기본입니다
						</h3>
					 	<p class="section-normal__txt2 txt-new2">
							바노바기는 종합검진이 가능한 다양한 장비와 시설을 갖추어<br class="hidden-tm">
					 		<span class="n-color-special2">환자분들의 종합검진이 가능</span>하도록 하고 있습니다.
					 	</p>
						<p class="section-normal__txt1 txt-new1">
					 		성형외과에서 왜 종합검진을 하는지, 굳이 그게 필요한지 의아하실 수도 있습니다.<br class="hidden-tm">
							하지만 수술 전 종합검진을 통해 환자분들의 개개인 몸 상태를 정확히 체크해두면, 문제가 될만한 질병을 사전에 발견할 수 있고<br class="hidden-tm">
							보다 안전한 마취나 수술이 가능해집니다. 혹시 모를 만의 하나의 사고를 예방할 수 있는 것이죠. <br class="hidden-tm">
							따라서 바노바기 스페셜 종합검진은 사람을 우선으로 생각하는 바노바기의 진료철학이자, 의료기관의 기본인 안전을<br class="hidden-tm">
							실천하기 위한 배려라고 할 수 있습니다.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/special/total/total_img_1.jpg" class="img-normal" loading="lazy" alt="inbody 측정">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="outer-box">
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h4 class="new-description__tit tit-new2">바노바기 스페셜 <span class="inline-block">
								종합검진 <strong class="weight-regular">장점</strong></span></h4>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										문제가 될만한 질병이 없는지, 수술을 할 수 있는 몸 상태인지 파악할 수 있습니다.
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										수술이나 마취로 인한 부작용 및 사고를 사전에 방지할 수 있습니다.
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										개개인에게 맞는 수술법을 선택할 수 있게 됩니다.
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										일반적인 건강종합검진으로도 활용 가능합니다.
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="multi-box">
					<h3 class="multi-box__tit tit-new1">
	                    거의 모든 종류의 검진이<br class="hidden-tm">
	                    <span class="n-color-special2">가능</span>합니다
	                </h3>
					<div class="multi-box__header" id="totalMenu">
						<h4 class="multi-box__tit tit-new2 color-white">바노바기 스페셜 종합검진 <strong class="weight-regular">검사항목</strong></h4>
					</div>
					<ul class="multi-box__list">
						<li class="multi-box__item">
							<a href="#total1" class="multi-box__link txt-new1 js-hash">기초검진</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total2" class="multi-box__link txt-new1 js-hash">혈액검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total3" class="multi-box__link txt-new1 js-hash">암 예방 검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total4" class="multi-box__link txt-new1 js-hash">중금속 검사</a>
						</li>

						<li class="multi-box__item type-white">
							<a href="#total5" class="multi-box__link txt-new1 js-hash">초음파 검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total6" class="multi-box__link txt-new1 js-hash">스트레스 검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total7" class="multi-box__link txt-new1 js-hash">엑스레이</a>
						</li>
						<li class="multi-box__item">
							<a href="#total8" class="multi-box__link txt-new1 js-hash">3D-CT 검사</a>
						</li>

						<li class="multi-box__item">
							<a href="#total9" class="multi-box__link txt-new1 js-hash">
								TMJ<br>
								(턱 관절 검사)
							</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total10" class="multi-box__link txt-new1 js-hash">심전도 검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total11" class="multi-box__link txt-new1 js-hash">골밀도 검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total12" class="multi-box__link txt-new1 js-hash">소변 검사</a>
						</li>

						<li class="multi-box__item type-white">
							<a href="#total13" class="multi-box__link txt-new1 js-hash">신장 기능 검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total14" class="multi-box__link txt-new1 js-hash">간 기능 종합검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total15" class="multi-box__link txt-new1 js-hash">당뇨병 검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total16" class="multi-box__link txt-new1 js-hash">심혈관 질환 검사</a>
						</li>

						<li class="multi-box__item">
							<a href="#total17" class="multi-box__link txt-new1 js-hash">심장 기능 검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total18" class="multi-box__link txt-new1 js-hash">근육 및 뼈 질환 검사</a>
						</li>
						<li class="multi-box__item">
							<a href="#total19" class="multi-box__link txt-new1 js-hash">갑상선 기능검사</a>
						</li>
						<li class="multi-box__item type-white">
							<a href="#total20" class="multi-box__link txt-new1 js-hash">감염성 질환 검사</a>
						</li>
					</ul>
					<div class="multi-box__noti">
						※ 클릭하시면 해당 검진의 자세한 내용을 확인하실 수 있습니다.
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="box-style2 type-special">
					<ul class="box-style2__list">
						<!-- 기초검진 -->
						<li class="box-style2__item" id="total1">
							<h4 class="box-style2__tit tit-new2">기초검진</h4>
							<p class="box-style2__subtit txt-new2">혈압, 신장 및 체중, 비만도 등 기초적인 내용을 측정합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_2.jpg" loading="lazy" alt="기초검진" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">혈압 :</span>혈압은 심장이 우리 몸의 구석구석까지 산소와 영양분이 풍부한 혈액을 보내기 위한
												혈관 내 압력을 말합니다. 혈압이 높거나 낮을 경우 수술 시 위험이 따를 수 있으므로 반드시
												체크하는 부분입니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">신장 및 체중 :</span> 체질량 지수(BMI)를 이용해 표준체중 여부를 확인합니다.
												<span class="box-style2__block"><span class="box-style2__highlight">남자</span> 표준체중 = 키(m)² x 22</span>
												<span class="box-style2__block"><span class="box-style2__highlight">여자</span> 표준체중 = 키(m)² x 21</span>
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">비만도 검사 :</span> 실제체중 ÷ 표준체중
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 혈액 검사 -->
						<li class="box-style2__item" id="total2">
							<h4 class="box-style2__tit tit-new2">혈액 검사</h4>
							<p class="box-style2__subtit txt-new2">수혈적합성 검사, 빈혈검사, 혈액응고검사를 진행합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_3.jpg" loading="lazy" alt="혈액 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">수혈적합성검사(Cross matching)</span><br>
												수혈 전 반드시 골혈자와 수혈자의 혈액을 서로교차하여 응집반응여부를 검사하여 적합한 혈액을 선택해야 하는 상황에 대비해 진행합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">CBC(Cell  Blood Count)검사</span><br>
												채취한 혈액에서 적혈구의 형태와 염색성, 평균 적혈구혈색소 농도를 확인하여 빈혈여부를 확인합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">혈액응고검사(PT/PTT)</span><br>
												수술 전 혈소판과 응고인자 등을 확인하여 수술 중 발생할 수 있는 출혈로 인한 위험요소에 대비합니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 암 예방 검사 -->
						<li class="box-style2__item" id="total3">
							<h4 class="box-style2__tit tit-new2">암 예방 검사</h4>
							<p class="box-style2__subtit txt-new2">암세포가 만드는 물질인 암 표지는 혈액검사를 통해 조기에 발견할 수 있습니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_4.jpg" loading="lazy" alt="암 예방 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1">
												암 표지는 암의 발병여부와 항암치료 및 수술 후 재발 경과를 관찰할 수 있는 암지표 물질로서
												이를 이용한 검사는 임상에서 이용되는 조기 암 진단법입니다. 암예방 검사를 통해 성형수술
												가능 여부를 확인할 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">암의 요인은 다양하지만 크게 네 가지입니다.</span><br>
												①  물리적 요인(자외선이나 화상, 방사선 등)<br>
												②  화학적 요인(방부제, 인공조미료, 중금속 등)<br>
												③  바이러스(B형, C형 간염 바이러스, HPV 등)<br>
												④  내인성 요인(유전적 소인, 가족적 인자 등)
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 중금속 검사 -->
						<li class="box-style2__item" id="total4">
							<h4 class="box-style2__tit tit-new2">중금속 검사</h4>
							<p class="box-style2__subtit txt-new2">중금속은 체내에 흡수되면 배출되지 않고 독성을 나타내 신경계나 소화계에 이상증상을 불러올 수 있습니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_5.jpg" loading="lazy" alt="중금속 검사" class="img-w100">
										<div class="box-style2__caption txt-new1">
											※ 중금속 검사 진단은 대략 6일이 소요됩니다.<br>
											중금속 검사는 필수가 아닌 선택사항입니다.
										</div>
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												중금속 검사는 <span class="box-style2__point">소변이나 모발, 혈액을 이용해 시행</span>합니다. 모발에 있는 유해 중금속과 필수
												미네랄의 양을 분석하여 유해 중금속 오염과 영양상태를 파악하여 질병예방과 몸 상태에 맞는
												식생활 계획을 세울 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">중금속으로 인한 증상은 다음과 같습니다.</span><br>
												· 수은(Hg) : 만성피로, 불면증, 관절염, 우울증, 불안, 초조, 식욕상실 등<br>
												· 알루미늄(Al) : 신장기능 저하, 기억력 감퇴, 언어장애, 면역기능 저하 등<br>
												· 납(Pb) : 위장장애, 충치, 근육통, 심리적 불안감, 집중력 부족, 태아 조산 등
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 초음파 검사 -->
						<li class="box-style2__item" id="total5">
							<h4 class="box-style2__tit tit-new2">초음파 검사</h4>
							<p class="box-style2__subtit txt-new2">초음파 검사는 주로 가슴수술 전에 진행하며, 유방질환은 없는지, 수술에 적합한 상태인지를 판단합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_6.jpg" loading="lazy" alt="초음파 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												초음파를 통해 유방조직의 상태와 보형물의 상태를 실시간으로 확인하며, 낭종, 양성종양,
												악성종양 등을 구분합니다.
												<span class="box-style2__point">병원 내 상주하는 일반외과 전문의(유방전문)가 직접 유방의 상태를 검사하고 종양 발견시 보다 안전하게 제거수술을 진행</span>합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												필요에 따라 맘모그라피 검사를 추가하여 가슴성형의 안전성과 전문성을 높일 수 있습니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->

						<!-- 스트레스 검사 -->
						<li class="box-style2__item" id="total6">
							<h4 class="box-style2__tit tit-new2">스트레스 검사</h4>
							<p class="box-style2__subtit txt-new2">
								스트레스란 인간이 심리적, 신체적으로 감당하기 어려운 상황에 처했을 때 느끼는 불안과 위협의 감정입니다.<br class="hidden-tm">
								우리나라 사람들이 가장 많이 사용하는 외래어일 만큼 스트레스는 현대사회에서 생활하는 사람들 가까이 있습니다.
							</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_7.jpg" loading="lazy" alt="스트레스 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												혈액 속에 있는 활성산소와 항산화 물질을 통해 측정 가능합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사 결과는 약 7분 정도의 시간 내에 확인이 가능</span>하며, 혈액검사를 위해 많은 양의 피를 뽑을
												필요 없이 <span class="box-style2__point">몇 방울의 피로도 검사가 가능</span>합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												검사결과를 토대로 필요한 수액요법을 확인하여 치료를 받을 수 있습니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 엑스레이 -->
						<li class="box-style2__item" id="total7">
							<h4 class="box-style2__tit tit-new2">엑스레이</h4>
							<p class="box-style2__subtit txt-new2">엑스레이 촬영을 통해 얼굴뼈의 형태와 모양, 치아교합 상태 등을 살펴봅니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_8.jpg" loading="lazy" alt="엑스레이" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												손가락마디나 무릎연골을 촬영하여 성장판 개폐여부를 확인하여 <span class="box-style2__point">뼈를 제거하는 수술에 문제가 없는지를 확인</span>합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												엑스레이는 정면 뿐만 아니라 측면과 파노라마 등 다양한 각도로 촬영하여 수술 부위에 대한 입체적인 예측을 가능하게 합니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 3D-CT 검사 -->
						<li class="box-style2__item" id="total8">
							<h4 class="box-style2__tit tit-new2">3D-CT 검사</h4>
							<p class="box-style2__subtit txt-new2">얼굴뼈를 3D-CT 장비를 이용해 촬영합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_9.jpg" loading="lazy" alt="3D-CT 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												 3차원적인 영상을 통해 <span class="box-style2__point">얼굴뼈 조직 사이의 밀도차이를 구별</span>할 수 있으며,
												 <span class="box-style2__point">신경계가 지나가는 위치를 파악하여 수술 전 반드시 필요한 검사</span>입니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												근골격계의 진단과 치료방향 설정에 결정적인 역할을 해주고 수술 후 모습을 예측하는데 도움을 줍니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 턱 관절 검사(TMJ) -->
						<li class="box-style2__item" id="total9">
							<h4 class="box-style2__tit tit-new2">턱 관절 검사(TMJ)</h4>
							<p class="box-style2__subtit txt-new2">엑스레이 촬영과 턱관절 부위 근육 검사 등을 통해 턱관절의 위치와 변형여부를 판단합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_10.jpg" loading="lazy" alt="턱 관절 검사(TMJ)" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												턱관절은 우리 몸에서 유일한 양측성 관절로 인간의 일생에서 가장 많이 움직이는 관절 중 하나입니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												딱딱한 음식을 즐기거나 바르지 못한 생활자세, 스트레스 등으로 변형될 수 있으며
												<span class="box-style2__point">턱관절 장애가 발생하면 안면비대칭이나 심할 경우 몸 전체의 균형도 깨질 수 있습니다.</span>
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												턱관절 검사를 통해 비대칭 등 불균형 요소를 확인하여 교정, 치료하면 더욱 아름다운 얼굴을 만들 수 있습니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 심전도 검사 -->
						<li class="box-style2__item" id="total10">
							<h4 class="box-style2__tit tit-new2">심전도 검사</h4>
							<p class="box-style2__subtit txt-new2">
								심장의 박동에 의해 발생한 심장의 활동상태를 그래프상으로 기록하는 것으로<br class="hidden-tm">
								부정맥, 심근장애, 맥박의 이상여부 등 심장의 상태를 진단합니다.
							</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_11.jpg" loading="lazy" alt="심전도 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												심장은 운동신경의 자극을 받아야만 수축하는 골격근과 달리 심장조직 내에서 신경계의 도움
												없이 전기자극을 자동적, 주기적으로 형성하는 불수의근입니다. 따라서 빈맥, 연축,
												심방조기수축 등 다양한 기능이상이 발생할 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">전신마취 시 심박수 및 심박리듬이 유지시켜야 안전한 수술이 가능</span>하므로 반드시 진행해야 하는 검사입니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->

						<!-- 골밀도 검사 -->
						<li class="box-style2__item" id="total11">
							<h4 class="box-style2__tit tit-new2">골밀도 검사</h4>
							<p class="box-style2__subtit txt-new2">인체 특정 부위의 뼈의 양을 측정하기 위한 검사입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_12.jpg" loading="lazy" alt="골밀도 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												정상적인 골밀도 수치와 비교하여 뼈의 양이 감소되었는지를 확인합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">광대나 양악수술 등 뼈 제거 수술 이후 안정적인 회복을 위해 정상범위의 골밀도 수치를 유지하고 있는가를 확인</span>해야 합니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 소변 검사 -->
						<li class="box-style2__item" id="total12">
							<h4 class="box-style2__tit tit-new2">소변 검사</h4>
							<p class="box-style2__subtit txt-new2">소변을 이용한 물리적, 생화학적 검사입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_13.jpg" loading="lazy" alt="소변 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												소변은 신장에서 혈액을 거른 뒤 나오는 노폐물로 여러 대사산물이 포함되어 있습니다. 이를 통해 전신적인 내분비/대사 질환에 대한 정보를 알 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												수술 전 모든 환자에게 일차적으로 시행하는 기본적인 검사이지만 매우 중요한 역할을 합니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 신장 기능 검사 -->
						<li class="box-style2__item" id="total13">
							<h4 class="box-style2__tit tit-new2">신장 기능 검사</h4>
							<p class="box-style2__subtit txt-new2">신장 기능 상태를 평가하기 위한 여러 생화학적 검사들을 통칭합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_14.jpg" loading="lazy" alt="신장 기능 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1">
												신장은 체액, 전해질 및 산-염기 상태를 조절하는 장기로, 혈중 노폐물을 제거하는 중요한
												역할도 담당합니다. 여러 질환들에서 합병증으로 신장 기능이 떨어지거나, 혹은 신장 자체가
												침범되면 신장 기능에 영향을 받습니다. <span class="box-style2__point">신기능의 손상 정도를 파악하고 약물 용량을 알맞게
													조절해야만 수술이 가능</span>합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												①  물리적 요인(자외선이나 화상, 방사선 등)<br>
												②  화학적 요인(방부제, 인공조미료, 중금속 등)<br>
												③  바이러스(B형, C형 간염 바이러스, HPV 등)<br>
												④  내인성 요인(유전적 소인, 가족적 인자 등)
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 간 기능 종합 검사 -->
						<li class="box-style2__item" id="total14">
							<h4 class="box-style2__tit tit-new2">간 기능 종합 검사</h4>
							<p class="box-style2__subtit txt-new2">중금속은 체내에 흡수되면 배출되지 않고 독성을 나타내 신경계나 소화계에 이상증상을 불러올 수 있습니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_15.jpg" loading="lazy" alt="간 기능 종합 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												간은 생체에서 단백질 합성, 포도당 및 기타 탄수화물 대사, 핵산 대사, 지질 대사, 약물 대사
												등을 담당하는 중요 장기로, 생명 유지에 필수적인 장기 중 하나입니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">간에 이상이 있을 시 약에 대한 대사가 이루어지지 못해 위험</span>할 수 있습니다. 간에 대한
												치료가 우선적으로 이뤄져야 하며, 간에 악영향을 줄 수 있는 약은 피하도록 합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												T.protein, Albumin, T.Bilirubin, GOT, GPT, r-GPT, LDG, ALT, T.Cholesterol, HBsAG, Anti-HBs, AFP
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 당뇨병 검사 -->
						<li class="box-style2__item" id="total15">
							<h4 class="box-style2__tit tit-new2">당뇨병 검사</h4>
							<p class="box-style2__subtit txt-new2">당뇨병은 인슐린의 분비량이 부족하거나 정상적인 기능이 이루어지지 않는 등의 대사질환입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_16.jpg" loading="lazy" alt="당뇨병 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												혈중 포도당의 농도가 높아지는 고혈당이 특징이며, 고혈당으로 인하여 여러 증상 및 징후를 일으키고 소변에서 포도당을 배출하게 됩니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												당뇨병 검사는 혈액검사로 진단합니다. 증상이 없는 경우 8시간 이상 금식 후에 측정한
												혈당이 126mg/dL 이상이거나, 경구 당부하 검사 2시간 후 혈당이 200mg/dL 이상인 경우가
												당뇨병입니다. 물을 많이 마시거나 소변이 많아지고 체중이 감소하는 동시에 식사와 무관하게
												측정한 혈당이 200mg/dL이상일 때도 당뇨병이라고 할 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">당뇨가 있는 경우 수술 전 혈당 조절과 수술 중 인슐린 투입 등을 준비</span>해야 합니다.
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->

						<!-- 심혈관 질환 검사 -->
						<li class="box-style2__item" id="total16">
							<h4 class="box-style2__tit tit-new2">심혈관 질환 검사</h4>
							<p class="box-style2__subtit txt-new2">심혈관 계통은 심장에 영양분을 공급하고 산소를 온몸으로 전달해주는 통로입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_17.jpg" loading="lazy" alt="심혈관 질환 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												심혈관계에 콜레스테롤이나 동맥경화, 심근경색, 관상동맥질환 등으로 인해 <span class="box-style2__point">혈액순환이
													원활하지 못한 상태에서 수술을 진행할 경우 심장기능에 이상이 생겨 치명적인 결과를 초래</span>할
												수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												T.Cholesterol, Triglyceride, HDL-Cholesterol, LDL-Cholesterol, CK-MB, Lipoprotein 등
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 심장 기능 검사 -->
						<li class="box-style2__item" id="total17">
							<h4 class="box-style2__tit tit-new2">심장 기능 검사</h4>
							<p class="box-style2__subtit txt-new2">생명유지에 핵심적인 역할을 하는 심장은 수술 시에도 우선적으로 그 기능을 보호해야 합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_18.jpg" loading="lazy" alt="심장 기능 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												콜레스테롤과 고감도 C-반응단백 검사 등을 통해 심장질환을 예측하고, 근육 효소 수치를
												확인하여 최근 발생한 심장 손상을 확인하는 등 다양한 검사를 통해
												<span class="box-style2__point">더욱 안전한 수술을 진행</span>할 수 있도록 합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												GOT, GPT, LDH, CPK, CK-MB, Troponin-T(TNT), Hs-CRP, T-Cholesterol, Triglyceride, HDL-Cholesterol 등
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 암 예방 검사 -->
						<li class="box-style2__item" id="total18">
							<h4 class="box-style2__tit tit-new2">근육 및 뼈 질환 검사</h4>
							<p class="box-style2__subtit txt-new2">턱 관절이나 경추 등에 관절염이나 근육에 염증이 있는지를 확인하는 검사입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_19.jpg" loading="lazy" alt="근육 및 뼈 질환 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">턱 관절이나 경추 등에 관절염이 있을 경우 마취를 할 때 기도를 통한 삽관이 어려울 수 있습니다. </span>
												또한 류마티스 관절염, 통풍 등으로 치료를 받는 경우 약제들이 수술 후 염증증가나
												치유를 지연시킬 수 있어 이에 대한 조절이 반드시 필요합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												관절염이나 통풍 이외에도 간 기능 상태, 영양상태 등도 종합적으로 검사합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												<span class="box-style2__point">검사항목</span><br>
												Uric acid, ALP, Ca, P, RA, CRP, T.protein, Albumin, Creatinine 등
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 갑상선 기능 검사-->
						<li class="box-style2__item" id="total19">
							<h4 class="box-style2__tit tit-new2">갑상선 기능 검사</h4>
							<p class="box-style2__subtit txt-new2">갑상선 호르몬은 몸 안의 여러 대사를 조절하여 몸 안의 에너지가 제대로 쓰이게 하는 역할을 합니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_20.jpg" loading="lazy" alt="갑상선 기능 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												갑상선은 목 앞의 튀어나온 바로 아래에 자리한 15~20그램 정도의 무게를 지닌 나비모양의
												내분비 기관으로 갑상선 질병은 호르몬 계통 이상으로 반드시 의사가 치료해야 하는
												질병입니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet">
												갑상선 호르몬이 정상보다 많거나 적게 분비되면 심혈관계에 악영향을 끼칠 수 있어
												<span class="box-style2__point">수술 전 미리 검사를 하여 치료와 수술 시 발생할 문제를 준비</span>해야 합니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												T3, T4, TSH, FT4
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->
						<!-- 감염성 질환 검사 -->
						<li class="box-style2__item" id="total20">
							<h4 class="box-style2__tit tit-new2">감염성 질환 검사</h4>
							<p class="box-style2__subtit txt-new2">각종 세균성, 바이러스성 감염 질환이 있는지 확인하는 검사입니다.</p>
							<div class="box-style2__wrap">
								<div class="box-style2__box">
									<div class="box-style2__img">
										<img src="../../images/special/total/total_img_21.jpg" loading="lazy" alt="감염성 질환 검사" class="img-w100">
									</div>
								</div>
								<div class="box-style2__box type-txt">
									<div class="box-style2__outer">
										<div class="box-style2__inner">
											<p class="box-style2__txt txt-new1 type-bullet">
												매독이나 에이즈, A형 및 B형 간염 등 감염성 질환 여부를 확인하여
												<span class="box-style2__point">수술 전 치료를 진행하고, 수술 시 발생할 수 있는 감염에 대비</span>할 수 있습니다.
											</p>
											<p class="box-style2__txt txt-new1 type-bullet color-bullet">
												<span class="box-style2__point">검사항목</span><br>
												HBsAG, Anti-HBs, Anti-HCV, AIDS, VDRL, TPHA, FTA-ABS IgG, FTA-ABS IgM, RA, CRP, Anti Hbe 등
											</p>
										</div>
									</div>
								</div>
							</div>
							<a href="#totalMenu" class="box-style2__btn txt-new1 js-hash"><span>목록보기</span></a>
						</li><!-- //box-style1__item -->

					</ul>
				</div>
			</div><!-- //new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
