<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<div class="new-visual type-cranium">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">동그랗고 매끄러운 볼륨감</p>
						<h3 class="new-visual__tit"><span class="n-color-special2">두상</span> 성형</h3>
						<p class="new-visual__txt">좋은 재료와 좋은 전문의가 추구하는 매력적인 두상</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#콤플렉스극복</span></li>
							<li class="new-visual__item"><span>#불편함개선</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-cling">
					<div class="section-normal__wrap">
					 	<h3 class="section-normal__tit tit-new1">
							동그랗고 매끄러운 두상은<br>
                            <span class="n-color-special2">다양한 스타일을 가능</span>하게 합니다
						</h3>
					 	<p class="section-normal__txt2 txt-new1">
                            기본적으로 사람의 머리뼈는 부드러운 구형을 하고 있습니다.<br>
                            하지만 머리뼈가 자리를 잡아가는 시기인 영, 유아기에 반복적인 습관이나 자세가 계속되면,<br class="hidden-m">
                            머리뼈 성장이 고르게 이루어지지 않아 대칭이 맞지 않는 사두증이나 뒤통수가 평평해지는 단두증이 될 가능성이 높죠.<br class="hidden-tm">
                            또, 성인이 된 이후라도 외상으로 인해 머리뼈가 함몰되거나 변형되는 경우가 있습니다.<br><br>

                            사실 머리형이 조금 비대칭이거나 볼륨이 없는 것은 다른 사람들이 크게 느끼지 못하는 부분일 수도 있습니다.<br class="hidden-m">
                            하지만 당사자는 <span class="color-black1">모자나 안경 착용, 헤어 스타일링 도전 등에 많은 제약을 느끼게 되며,</span>
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		이런 불편함이나 한계가 결국 콤플렉스나 심한 고민으로<br class="hidden-m">
                            발전하기도 하기 때문에 <span class="n-color-special2">올바른 교정을 통한 개선이 필요</span>합니다.
					 	</p>
					</div>
                    <div class="img-style1">
                        <ul class="img-style1__list type-imbalance">
                            <li class="img-style1__item nth-1">
                                <img src="../../images/special/cranium/cranium_img_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="일반적인 머리형">
                                <img src="../../images/special/cranium/cranium_img_1_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="일반적인 머리형">
                                <p class="img-style1__subject txt-new2">일반적인 머리형</p>
                            </li>
                            <li class="img-style1__item nth-2">
								<ul class="cranium-list">
									<li class="cranium-list__item">
										<img src="../../images/special/cranium/cranium_img_2_1.jpg" loading="lazy" alt="두상 성형 대상 1" class="img-w100"/>
									</li>
									<li class="cranium-list__item">
										<img src="../../images/special/cranium/cranium_img_2_2.jpg" loading="lazy" alt="두상 성형 대상 2" class="img-w100"/>
									</li>
									<li class="cranium-list__item">
										<div class="cranium-list__box">
											<span class="txt-new2 n-color-special1">
												모자 및 안경 착용,<br class="hidden-m">
												헤어 스타일링 한계
											</span>
										</div>
									</li>
									<li class="cranium-list__item">
										<img src="../../images/special/cranium/cranium_img_2_3.jpg" loading="lazy" alt="두상 성형 대상 3" class="img-w100"/>
									</li>
									<li class="cranium-list__item">
										<img src="../../images/special/cranium/cranium_img_2_4.jpg" loading="lazy" alt="두상 성형 대상 4" class="img-w100"/>
									</li>
									<li class="cranium-list__item">
										<img src="../../images/special/cranium/cranium_img_2_5.jpg" loading="lazy" alt="두상 성형 대상 5" class="img-w100"/>
									</li>
								</ul>
                                <p class="img-style1__subject txt-new2">두상 성형 대상</p>
                            </li>
                        </ul>
                    </div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section">
                <div class="new-style1 type-cranium type-bottom">
                    <h4 class="new-style1__tit tit-new1 weight-regular color-white">
                        두상 성형은
                        <span class="n-color-special3">비교적<br class="hidden-p"> 간단한 수술</span>입니다
                    </h4>
                    <p class="new-style1__txt txt-new1 color-gray">
                        누군가에게는 큰 고민, 두상 개선을 위해 바노바기는 두상 성형을 연구했습니다.<br class="hidden-m">
                        뒤통수, 정수리, 이마 등 머리의 함몰되거나 불균형한 곳에<br class="hidden-m">
                        뼈의 역할을 할 수 있는 오스테오본드를 채워주어 동그랗고 예쁜 두상으로 개선해주는 것이죠.<br class="hidden-m">
                        이 방법은 <span class="n-color-special3">약 4cm 정도의 절개로도 수술이 가능하기 때문에 비교적 흉터에 대한 걱정이 적고<br class="hidden-m">
                        머리카락을 자를 필요가 없다는 장점</span>이 있습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2 color-white">
                        또, 오스테오본드가 필요한 위치에 거의 완벽이 밀착, 접합되기 때문에<br class="hidden-m">
                        부작용 거의 없이 효과적이고 자연스러운 두상 성형이 가능합니다.
                    </p>
                    <div class="new-style1__img">
                        <img src="../../images/special/cranium/cranium_img_3.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
                        <img src="../../images/special/cranium/cranium_img_3_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
                    </div>
                    <div class="inner-box">
                        <div class="img-style1">
                            <h3 class="img-style1__tit tit-new2">
                                바노바기
                                <span class="weight-regular n-color-special2">두상 성형 순서</span>
                            </h3>
                            <div class="step-style type-vertical type-cranium">
                                <ul class="step-style__list">
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 01</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                수술은 국소마취(정맥마취)로 진행됩니다.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 02</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                절개 부위의 머리카락을 묶고, 4~5cm 정도를 절개합니다. (따로 모발을 제거할 필요가 없습니다.)
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 03</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                머리뼈를 감싸고 있는 골막을 박리하여 보형물이 들어갈 공간을 확보합니다.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 04</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                반죽 상태의 오스테오본드를 주입하고 디자인에 따라 정교하게 두상을 다듬어줍니다.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 05</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                오스테오본드가 완전히 굳으면 절개 부위를 봉합하고 머리를 붕대로 감습니다.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- //new-section-->

            <div class="new-section type-cling">
				<div class="section-normal type-cling type-cranium">
					<div class="section-normal__wrap">
					 	<h3 class="section-normal__tit tit-new1 color-white">
                            <span class="n-color-special3">오스테오본드</span>는<br class="hidden-pt"> 장점이 많은
                            보형물입니다
                        </h3>
						<p class="section-normal__txt1 txt-new1 color-black4">
					 		오스테오본드는 미국 FDA와 한국 KFDA의 승인을 받은 보형물로,<br class="hidden-m">
                            말랑말랑한 반죽 상태로 사용하여 이후 뼈처럼 단단히 굳는 특징을 가지고 있습니다.<br class="hidden-m">
                            뼈와의 접합 부위가 거의 완벽히 밀착하여 피나 물이 찰 염려가 없고<br class="hidden-m">
                            부작용이 거의 없는 비교적 안전한 보형물이죠.
					 	</p>
					</div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section">
				<div class="new-description">
					<h4 class="tit-new2">오스테오본드의 장점</h4>
					<div class="new-description__img">
						<img src="../../images/special/cranium/cranium_img_4.jpg" class="img-normal" loading="lazy" alt="오스테오본드">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
                                미리 본을 뜨거나 할 필요 없이 당일 수술 진행
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								위치가 변하거나 흡수되지 않아 반영구적으로 유지
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								FDA와 KFDA의 승인을 받은 비교적 안전한 보형물
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								말랑말랑한 반죽 성질로, 개개인에 맞는 자유로운 디자인
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
                                접합 부위가 거의 완벽히 밀착하여 피나 체액이 고이는 부작용 거의 없음
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->

            <div class="new-section">
                <div class="new-style1 type-cranium2 type-bottom">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        장점이 많지만 까다로운 오스테오본드,<br>
                        <span class="n-color-special2">바노바기가 사용합니다</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        이렇게 장점이 많은 보형물이지만 오스테오본드는 그 사용이 까다로운 보형물이기도 합니다.<br class="hidden-m">
                        미리 완성된 형태를 삽입하는 것이 아니라 수술을 진행하면서 모양을 완성해야 한다는 부담이 있기 때문이죠.<br class="hidden-m">
                        때문에 오스테오본드는 대게 어느 정도 그 사용에 숙달된 전문의들이 사용하며,<br class="hidden-m">
                        그런 전문의에게 수술을 받는 것이 더욱 안전하고 결과도 좋습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        바노바기는 2000년 개원 후 다양한 두상 성형 경험을 쌓아왔으며<br class="hidden-m">
                        그 과정에서 삽입된 후에 형태를 만드는 오스테오본드의 특징을 더욱 이해하고 활용할 수 있게 되었습니다.<br class="hidden-tm">
                        <span class="n-color-special2">장점이 많은 오스테오본드와 풍부한 경험과 기술, 조화와 균형을 맞출 수 있는 감각을 가진 바노바기가 만나,<br class="hidden-tm">
                        더욱 만족스러운 두상 성형을 추구합니다.</span>
                    </p>
                    <div class="new-style1__img">
                        <img src="../../images/special/cranium/cranium_img_5.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
                        <img src="../../images/special/cranium/cranium_img_5_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
                    </div>
                    <div class="inner-box">
                        <div class="img-style1 type-cranium">
                            <h3 class="img-style1__tit tit-new2">
                                더욱 안전하고 만족스러운<br class="hidden-pt">
                                두상 성형
                            </h3>
                            <ul class="img-style1__list type-half">
                                <li class="img-style1__item">
                                    <img src="../../images/special/cranium/cranium_img_6.jpg" class="img-w100" loading="lazy" alt="다양한 장점을 가진 보형물 오스테오본드"/>
                                    <p class="img-style1__subject txt-new2">
                                        다양한 장점을 가진 보형물<br>
                                        오스테오본드
                                    </p>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/special/cranium/cranium_img_7.jpg" class="img-w100" loading="lazy" alt="오랜 두상 성형 경험과 기술을 갖춘 바노바기"/>
                                    <p class="img-style1__subject txt-new2">
                                        오랜 두상 성형 경험과<br>
                                        기술을 갖춘 바노바기
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- //new-section-->

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special">
						<div class="operation-v2__wrap">
							<h3 class="operation-v2__tit">Thông tin phẫu thuật</h3>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h4>
										<p class="operation-v2__txt txt-new1">약 1시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
										<p class="operation-v2__txt txt-new1">정맥마취/국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h4>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian nhập viện</h4>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
										<p class="operation-v2__txt txt-new1">약 1~2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h3 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									비교적 적은 절개와 정밀한 봉합으로 비교적 회복이 빠릅니다.<br>
		                            마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
		                            실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                            팽창감과 통증은 처방되는 진통제를 통해 완화할 수 있습니다.<br>
		                            수면 자세는 수술 당일부터 비교적 자유롭게 취할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
