<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<div class="new-visual type-extraction">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 말끔하게 빼내는 부작용의 원인</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-special2">이물질</span><br class="hidden-tm">
                            추출
                        </h3>
						<p class="new-visual__txt">부작용의 치료와 형태의 복원까지</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#정확한진단</span></li>
							<li class="new-visual__item"><span>#정교한기술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-extraction">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-special2">이물질이 삽입</span>되었다면<br class="hidden-tm">
                        언젠가는 반드시 빼내야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						의료용으로 개발되는 다양한 재료들은 엄중한 절차와 충분한 임상을 거쳐 그 안전성을 입증받게 됩니다. <br class="hidden-tm">
                        하지만 간혹 비용적인 이유 때문에, 또는 비의료인에게 속아 의료용으로 검증되지 않은 재료를 통한 성형 수술을 선택하는 경우가 있습니다.<br class="hidden-tm">
                        이렇게 <span class="color-black1">검증되지 않은 재료가 체내에 들어가게 되면 대부분의 경우 시술 부위의 변형, 염증, 부기, 가려움 등의 증상을 유발</span>하게 되고,<br class="hidden-tm">
                        <span class="color-black1">심한 경우에는 석회화, 피부궤양, 종양 등 보다 심각한 부작용을 초래</span>할 수도 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 만약 이물질을 통한 시술이 이루어진 경우라면,<br class="hidden-tm">
						<span class="n-color-special2">그 상태를 보다 정확히 파악하고 조기에 이물질을 제거하는 것이 중요</span>합니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/special/extraction/extraction_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>

                <div class="new-section__wrap type-gray1">
					<h5 class="tit-new2">
						<span class="color-white">이물질 추출이</span>
						<span class="weight-regular n-color-special3">필요한 경우</span>
					</h5>

					<div class="inner-circle type-special type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									비의료인이<br>
									시술한 경우
								</div>
							</li>
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									안전성이<br>
									검증되지 않은<br>
									무허가 제품을<br>
									사용한 경우
								</div>
							</li>
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									환자의 신체가<br>
									삽입된 재료에<br>
									대한 거부 반응을<br>
									보이는 경우
								</div>
							</li>
						</ul>
					</div>

					<div class="img-style5">
						<div class="img-style5__box">
							<ul class="img-style5__list">
								<li class="img-style5__item">
									<img src="../../images/special/extraction/extraction_img_2_1.jpg" loading="lazy" alt="비의료용 이물질로 인한 부작용" class="img-w100">
								</li>
								<li class="img-style5__item">
									<img src="../../images/special/extraction/extraction_img_2_2.jpg" loading="lazy" alt="비의료용 이물질로 인한 부작용" class="img-w100">
								</li>
								<li class="img-style5__item">
									<img src="../../images/special/extraction/extraction_img_2_3.jpg" loading="lazy" alt="비의료용 이물질로 인한 부작용" class="img-w100">
								</li>
								<li class="img-style5__item">
									<img src="../../images/special/extraction/extraction_img_2_4.jpg" loading="lazy" alt="비의료용 이물질로 인한 부작용" class="img-w100">
								</li>
							</ul>
							<p class="img-style5__caption txt-new2">
								비의료용 이물질로 인한 부작용
							</p>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-extraction2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        상태에 따른 <span class="n-color-special2">적합한 방법</span>을<br class="hidden-tm">
                        선택해야 합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        이물질을 보다 완벽히 제거하기 위해서는 <span class="color-black1">삽입된 이물질과 그 주변 조직의 상태를 정확히 파악하고 그에 맞는 방법을 선택하는 것이 중요</span>합니다.<br class="hidden-tm">
                        바노바기는 초음파 장비를 통한 진단으로 이물질과 정상 조직 간의 경계를 보다 정밀히 파악합니다.<br class="hidden-tm">
                        진단 결과 이물질을 녹일 수 있는 경우라면 아큐스컬프와 주사 시술을 통해 이물질을 녹인 후 추출하는 방법을 선택하게 되며,<br class="hidden-tm">
                        절개가 불가피한 경우라면 최대한 절개 부위를 겉으로 드러나게 하지 않는 위치와 방법을 선택해 절개 후 이물질을 제거합니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        어떤 방법을 선택하게 되더라도 <span class="n-color-special2">정상 조직을 손상시키지 않으면서 이물질을 선택적으로 추출하는 것이<br class="hidden-tm">
                        핵심</span>이며, 이는 <span class="n-color-special2">정확한 진단과 정교한 기술이 필요한 작업</span>입니다.
                    </p>
                    <div class="inner-box">
                        <h5 class="tit-new2">바노바기 이물질 추출 <span class="weight-regular">방법</span></h5>

						<div class="step-style2">
							<ul class="step-style2__list">
								<li class="step-style2__item">
									<div class="step-style2__head txt-new2 type-special">
										<div class="step-style2__inner">
											<div class="step-style2__vertical">
												STEP 01
											</div>
										</div>
									</div>
									<div class="step-style2__body">
										<div class="step-style2__box">
											<div class="step-style2__img">
												<img src="../../images/special/extraction/extraction_img_3.jpg" loading="lazy" alt="초음파 진단" class="img-w100"/>
											</div>
											<div class="step-style2__area">
												<div class="step-style2__inner">
													<div class="step-style2__vertical">
														<h6 class="step-style2__tit txt-new2">초음파 진단</h6>
														<p class="step-style2__txt txt-new1">
															초음파 진단 기기를 통해 이물질의 상태를 파악하고
															이물질과 정상 조직간의 경계를 보다 정밀하게
															분리할 수 있는 수술을 계획
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="step-style2__item">
									<div class="step-style2__head txt-new2 type-special2">
										<div class="step-style2__inner">
											<div class="step-style2__vertical">
												STEP 02
											</div>
										</div>
									</div>
									<div class="step-style2__body">
										<div class="step-style2__box">
											<div class="step-style2__img">
												<img src="../../images/special/extraction/extraction_img_4.jpg" loading="lazy" alt="비절개 이물질 추출" class="img-w100"/>
											</div>
											<div class="step-style2__area">
												<div class="step-style2__inner">
													<div class="step-style2__vertical">
														<h6 class="step-style2__tit txt-new2">비절개 이물질 추출</h6>
														<p class="step-style2__txt txt-new1">
															이물질을 녹일 수 있는 경우,  아큐스컬프 시술과
	                                                        주사 요법을 통해 보다 흉터 걱정 거의 없이
	                                                        간편하게 이물질 추출
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="step-style2__box">
											<div class="step-style2__img">
												<img src="../../images/special/extraction/extraction_img_5.jpg" loading="lazy" alt="절개 이물질 추출" class="img-w100"/>
											</div>
											<div class="step-style2__area">
												<div class="step-style2__inner">
													<div class="step-style2__vertical">
														<h6 class="step-style2__tit txt-new2">절개 이물질 추출</h6>
														<p class="step-style2__txt txt-new1">
															최대한 절개 부위가 겉으로 드러나지 않는 부위를
	                                                        필요한 만큼 절개하여 이물질 추출
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-section__wrap">
                    <div class="new-section__box">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
                            형태의 복원, 한발 더 나아가<br class="hidden-tm">
    						<span class="n-color-special2">형태의 개선까지 생각</span>합니다
    					</h4>
    					<p class="new-style1__txt txt-new1">
    						한 번 이물질이 삽입되면 그 주변 조직들은 이물질의 성질에 따라 그 형태가 변형됩니다.<br class="hidden-tm">
                            피부 탄력이 떨어질수록, 이물질의 크기가 클수록 조직은 심하게 변형되며, 만약 이미 부작용이 진행된 상태라면<br class="hidden-tm">
                            그 흔적 또한 조직에 그대로 남게 되죠. 따라서 이물질 추출은 단순히 이물질을 빼내는 것만으로 그쳐서는 안됩니다.<br><br>

                            바노바기는 이물질을 보다 정교하게 추출해내는 동시에 그 부위를 원래대로 복원하고, 한발 더 나아가 더 나은 형태로<br class="hidden-tm">
                            개선하기 위해 노력합니다. 기본적인 회복 관리 프로그램을 통해 조직의 손상, 색소 병변 등의 잔여 부작용을 치료하며,<br class="hidden-tm">
                            주름 치료나 탄력 증대와 같은 동안 성형을 통해 이물질 추출 후 늘어난 피부를 개선하죠.
    					</p>
    					<p class="new-style1__txt2 txt-new2">
    						또, <span class="n-color-special2">부작용을 유발하는 기존 이물질을 보다 안전한 정식 의료용 재료나 자가 조직으로 대체함</span>으로써<br class="hidden-tm">
                            본래 추구했던 미용적인 만족도 또한 높일 수 있습니다.
    					</p>
                    </div>
				</div>
                <div class="new-explan type-three type-extraction">
                    <h3 class="new-explan__tit tit-new2">
                        바노바기 이물질 추출 후 <span class="n-color-special3">관리</span>
                    </h3>
                    <ul class="new-explan__list">
                        <li class="new-explan__item">
                            <div class="new-explan__img">
                                <img src="../../images/special/extraction/extraction_img_6.jpg" loading="lazy" alt="회복을 돕는 보다 체계적인 치료" class="img-w100">
                            </div>
                            <div class="new-explan__wrap">
                                <h4 class="new-explan__subject txt-new2">회복을 돕는 보다 체계적인 치료</h4>
                                <p class="new-explan__txt txt-new1">
                                    보다 체계적인 회복 관리 프로그램을
                                    통해 색소 병변, 조직의 손상 등의
                                    부작용을 치료합니다.
                                </p>
                            </div>
                        </li>
                        <li class="new-explan__item">
                            <div class="new-explan__img">
                                <img src="../../images/special/extraction/extraction_img_7.jpg" loading="lazy" alt="동안 성형 병행" class="img-w100">
                            </div>
                            <div class="new-explan__wrap">
                                <h4 class="new-explan__subject txt-new2">동안 성형 병행</h4>
                                <p class="new-explan__txt txt-new1">
                                    주름 치료나 탄력 증대 효과가 있는
                                    동안 성형을 통해 이물질이 제거된 후
                                    처지거나 늘어난 피부를 개선합니다.
                                </p>
                            </div>
                        </li>
                        <li class="new-explan__item">
                            <div class="new-explan__img">
                                <img src="../../images/special/extraction/extraction_img_8.jpg" loading="lazy" alt="정식 의료용 재료 또는 자가 조직으로 교체" class="img-w100">
                            </div>
                            <div class="new-explan__wrap">
                                <h4 class="new-explan__subject txt-new2">
                                    정식 의료용 재료 또는<br class="hidden-tm">
                                    자가 조직으로 교체
                                </h4>
                                <p class="new-explan__txt txt-new1">
                                    기존의 이물질을 보다 안전하고 검증된
                                    재료로 대체함으로써 부작용의 치료와 미용적인
                                    만족도를 동시에 추구할 수 있습니다.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-extraction3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        특히 까다로운 <span class="n-color-special2">코 이물질 추출</span>도<br class="hidden-tm">
                        바노바기입니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        코는 구조의 특성상 이물질이 삽입되었을 때 그 부작용이 심하게 나타나는 부위 중 하나입니다. <br class="hidden-tm">
                        또, 이물질이 아닌 검증된 의료용 재료를 사용했다 하더라도 수술 방법이나 재료의 형태, 재료와의 상성 등에 따라
                        부작용이 발생하기도 하죠.<br class="hidden-tm">
                        따라서 코 이물질 추출은 그만큼 까다롭다고 여겨지는 수술이며 거의 모든 경우 코 성형이 동시에 이루어져야 합니다.<br><br>

                        <span class="color-black1">바노바기는 오랜 경험과 기술을 갖춘 의료진이 코 이물질 추출을 진행합니다.</span><br class="hidden-tm">
                        삽입된 재료의 종류, 부위, 깊이에 따른 적절한 추출 방법을 선택하여 조직이 손상되는 것을 예방하고<br class="hidden-tm">
                        그와 동시에 환자에게 맞는 수술 재료를 대체하여 코 형태를 잡아주죠.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        코 성형 전문팀의 노하우를 바탕으로 <span class="n-color-special2">콧대의 길이와 코 끝의 높이, 비주의 지지력 정도를 계산</span>하여<br class="hidden-tm">
                        재료를 사용하기 때문에 <span>보다 안정적인 부작용 치료와 동시에 매력적인 코 형태를 추구</span>할 수 있습니다.
                    </p>
                    <div class="new-style1__img">
                        <img src="../../images/special/extraction/extraction_img_9.jpg" loading="lazy" alt="바노바기 성형외과 이현택 원장" class="img-normal"/>
                    </div>
                    <div class="inner-box">
                        <h3 class="tit-new2">
                            바노바기 <span class="weight-regular">코 이물질 추출</span>
                        </h3>

						<div class="process-style2">
							<ul class="process-style2__list">
								<li class="process-style2__item nth-1">
									<div class="process-style2__img">
										<img src="../../images/special/extraction/extraction_img_10.jpg" loading="lazy" alt="보다 체계적이고 정확한 이물질 추출 기술" class="img-w100"/>
									</div>
									<div class="process-style2__caption txt-new2">
										<div class="process-style2__vertical">
											보다 체계적이고 정확한
											이물질 추출 기술
										</div>
									</div>
								</li>
								<li class="process-style2__item nth-2">
									<div class="process-style2__img">
										<img src="../../images/special/extraction/extraction_img_11.jpg" loading="lazy" alt="오랜 코 성형 경험과 기술을 갖춘 전문팀" class="img-w100"/>
									</div>
									<div class="process-style2__caption txt-new2">
										<div class="process-style2__vertical">
											오랜 코 성형 경험과
											기술을 갖춘 전문팀
										</div>
									</div>
								</li>
								<li class="process-style2__item nth-3">
									<div class="process-style2__box">
										<div class="process-style2__img">
											<img src="../../images/special/extraction/extraction_img_12.jpg" loading="lazy" alt="부작용을 개선함과 동시에 매력적인 코 형태 추구" class="img-w100"/>
										</div>
										<div class="process-style2__caption txt-new2 type-special">
											<div class="process-style2__vertical">
												부작용을 개선함과 동시에
												매력적인 코 형태 추구
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special">
						<div class="operation-v2__wrap">
							<h3 class="operation-v2__tit">Thông tin phẫu thuật</h3>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h4>
										<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Phương pháp gây mê</h4>
										<p class="operation-v2__txt txt-new1">정맥마취/전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h4>
										<p class="operation-v2__txt txt-new1">약 7~10일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Thời gian nhập viện</h4>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Tái khám</h4>
										<p class="operation-v2__txt txt-new1">약 2~3회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">Hồi phục</h4>
										<p class="operation-v2__txt txt-new1">제거 방법에 따라 다름</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h3 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									<span class="color-black1">비수술적 방법을 통한 이물질 추출 시에는 비교적 회복이 빠릅니다.</span><br>
		                            마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
		                            실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                            단순히 이물질을 추출만을 진행한 경우 수술 부위의 형태를 잡기 위해 큰 충격이나 잦은 접촉은 피하는 것이 좋습니다
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
