@charset "UTF-8";
// @import "variables";
@import "mixins";
// @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css' ) ;
//ios 초기화
input[type=text], input[type=password]{ -webkit-border-radius:0;-webkit-appearance:none;  }
input[type=text]::-ms-clear {display:none;}

.counseling-btn{display:inline-block; width:110px; padding:3px 0px; margin-left:20px; border:1px solid #fff; border-radius:15px 15px 15px 15px; text-align:center;
    font-size:14px; color:#fff; vertical-align:middle; font-weight:400; text-decoration:none;
    &:hover{background-color:#fff; color:$color-point; font-weight:500;}
    &:link{color:#fff}
    &.type-another{margin:10px 0 0 0; background-color:#fff; color:$color-point;
        &:hover{background-color:transparent; color:#fff;}
    }
    &.type-print{margin:10px 0 0 0;width: 194px;padding: 15px 0;border-radius: 30px;}
}
@media only screen and (max-width: 1200px) {
	.counseling-btn{display:none;
        &.type-another{display:block; width:95px; margin:10px auto 0; font-size:1.3rem;}
    }
}


.btn1{display:inline-block; width:130px; background-color:#444; color:#fff; height:36px; font-size:14px; box-sizing:border-box; vertical-align:middle; text-align:center; border-radius:12px; text-decoration:none;
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    @media only screen and (max-width: $mobile-size) {width:86px; height:24px; font-size:1.1rem; border-radius:12px;}
}

.btn2{display:inline-block; height:44px; margin-top:50px; padding:0 30px; background-color:#fff; color:$black2;  font-size:16px; box-sizing:border-box;
    border:1px solid $black3; vertical-align:middle; text-align:center; border-radius:22px; text-decoration:none; transition:all 0.5s;
    &.type-katalk{
        &:hover{background-color:#ffe139; border-color:#ffe139; color:$black2;}
    }
	&.type-cost{
        &:hover{background-color:#2d3f5e; border-color:#2d3f5e;}
    }
	&.type-live{
        &:hover{background-color:#15161a; border-color:#15161a;}
    }
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    &:hover{background-color:$color-point; border-color:$color-point; color:#fff;}
    @media only screen and (max-width: $mobile-size) {margin-top:20px; padding:0 14px; height:24px; font-size:1.1rem; border-radius:12px; background-color:$color-point; border-color:$color-point; color:#fff;
		&.type-katalk{background-color:#ffe139; border-color:#ffe139; color:$black2;}
		&.type-cost{background-color:#2d3f5e; border-color:#2d3f5e;}
		&.type-live{background-color:#15161a; border-color:#15161a;}
	}
}

.btn3{display:inline-block; width:258px; background-color:$color-point; color:#fff; height:50px; font-size:18px; vertical-align:middle; text-align:center; font-weight:$light;
     border-radius:25px; text-decoration:none; border:1px solid $color-point; cursor:pointer;
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    &.type-black{border:1px solid #333; color:#333; background-color:transparent;}
    @media only screen and (max-width: $mobile-size) {width:170px; height:40px; font-size:1.3rem; border-radius:20px;}
}

.color-normal{color:$color-normal;}
.color-point, .color-point1{color:$color-point};
.color1, .color-point2{color:$color-point2};
.color-point3{color:$color-point3};
.color-point4{color:$color-point4};



.color-black1{color:$black1;}
.color-black2{color:$black2;}
.color-black3{color:$black3;}
.color-black4{color:$black4;}
.color-white{color:#fff;}
.color-gray{color: #aaa;}

.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}
.img-w100{width:100%; vertical-align:middle;}


.fw-light{font-weight:$light !important;}

//검색결과없을시
.no-data{padding:102px 0; text-align:center; box-sizing:border-box;
	&__txt{margin:0; font-size: 18px; color: $black3; word-break: keep-all;
		&:before{display:block; width:108px; height:108px; margin:0px auto 15px; background:url('../images/common/alarm.png') no-repeat center center / contain; content:'';}
	}
    &__point{display:block; margin-top:10px; color:$black1;}
	@media only screen and (max-width: $mobile-size) {padding:56px 0;
		&__txt{font-size:1.2rem;
            &:before{width:54px; height:54px; margin-bottom:7px;}
        }
        &__point{margin-top:5px;}
	}
}
.inner-wrap{max-width:1296px; padding:0 8px; margin:0px auto; box-sizing:border-box;
    &:after{display:block; clear:both; content:'';}
    &.type-detail{height:100%; padding:0 30px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){padding:0;
        &.type-detail{position:relative; padding:60px 7.68% 0;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-detail{padding:0 5.34%;}
    }
}


.content-wrap{width:100%; max-width:1296px; margin:0 auto; padding:0 8px; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size){ margin:0px auto; padding:0 65px;
	}
	@media only screen and (max-width:$mobile-size){padding:0 20px;}
}
.txt-l{text-align:left;}
.txt-r{text-align:right;}
.txt-c{text-align:center;}
label.error{display:block; margin-top:5px; text-align:left; color:#f61919; font-size:13px;}
.clearfix:after{display:block; clear:both; content:'';}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/*quick-menu*/
.quick-menu{display:block; position:fixed; bottom:60px; left:60px; list-style:none; z-index:105;  transition:bottom 0.5s;
	&.is-intro{bottom:126px; }
	&__list{margin:0; padding:0; list-style:none;}
	&__item{position:relative; font-size:0;
		&.type-counsel{cursor:pointer;}
		& + &{margin-top:20px;}
		&.type-counsel-m{display:none;}
	}
	&__box{display:inline-block; vertical-align:bottom;
		&.type-big{overflow:hidden; width:0; height:0; opacity:0; transition:all 0.5s;
			&.is-hover{width:194px; height:404px; opacity:1;}
			& img{width:100%;}
		}
	}
	&__link{position:absolute; top:0; left:0; display:block; width:61px; height:100%;
		&.is-hover{width:100%;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:50px; left:50px;
		&__link{width:100%;}
		&__box img{width:101px; height:109px;}
		&__item.type-counsel{display:none !important;}
		&.is-intro{bottom:120px;}
		&__item{
			& + &{margin-top:10px;}
			.hidden-tm{display:none !important;}
		}
		&__item.type-counsel-m{display:block; width:101px; height:101px; background-color:#ff3904; color:#fff; border:1px solid #ff3904; border-radius:50%;}
		&__item.type-counsel-m &__wrap:before{ display:block; width:40px; height:26px; margin:0px auto 6px; box-sizing:border-box;
			background:url('../images/common/quick_counsel_m.png') center center / contain; content:'';}
		&__item.type-counsel-m &__link{position:static; display:table-cell; width:1%; height:101px; font-size:16px; font-weight:400; text-decoration:none; color:inherit; text-align:center; vertical-align:middle;}
	}
	@media only screen and (max-width: $mobile-size) {bottom:25px; left:14px;
		&__box img{width:62px; height:66px;}
		&.is-intro{bottom:82px;}
		&__item.type-counsel-m{ width:62px; height:62px; background-color:#ff3904; color:#fff;}
		&__item.type-counsel-m &__wrap:before{width:20px; height:13px; margin-bottom:5px;}
		&__item.type-counsel-m &__link{height:62px; font-size:12px;}
	}
}

//스크롤버튼
.scroll-top {overflow:hidden; display:block; height: 54px;width: 54px; color:$color-point; font-size:20px; font-weight:$bold;
    $this:&;
    &__progress {position:relative; display: block;width: 100%;height: 100%; border-radius: 50%; @include background('../images/common/common_top.png','no-repeat center center');
        &:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:calc(100% - 2px); height:calc(100% - 2px); margin:auto; background-color:#fff; content:''; border-radius:50%; z-index:-1;}
        &:after{position:absolute; top:0; left:0; opacity:0; width:100%; height:100%; border-radius:50%; background-color:$color-point;content:''; transition:opacity 0.3s;}
        &:hover{
            &:after{opacity:1;}
            #{$this}__arrow{
                &:before{display:block; animation:scroll_motion1 .6s;}
                &:after{display:block; transition-delay: .6s;animation:scroll_motion2 .6s;}
            }
        }
    }
    &__arrow{
        &:before,&:after{position:absolute; left:0; display:none; width:100%; height:100%; border-radius:50%; @include background('../images/common/common_top_w.png','no-repeat center center'); z-index:20; content:'';}
        &:before{top:0;}
        &:after{bottom:-50px;}
    }
    @keyframes scroll_motion1 {
        0% {top:0;}
        100% {top:-50px;}
    }
    @keyframes scroll_motion2 {
        0% {bottom:-50px;}
        100% {bottom:0;}
    }
    &__progress canvas {max-width: 100%;max-height: 100%;}
    i{position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;
        &:before{position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
    }
    @media only screen and (max-width: $tablet-size){display:none;}
}
//프로그레스바
#progress-indicator{display:none;
    @media only screen and (max-width: $tablet-size){display:block; z-index:112;
        &.is-hide{display:none;}
    }
}

.hidden-block{overflow: hidden;border: 0; margin: -1px; width: 1px; height: 1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.hidden-inline{overflow: hidden; display: inline-block; border: 0; margin: -1px;  width: 1px; height: 1px;clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
