<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro nth-10">
	<div class="intro-video">
		<iframe src="https://player.vimeo.com/video/347459599?muted=1&amp;autoplay=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="https://www.facebook.com/BanobagiPlasticSurgery" target="_blank" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.instagram.com/banobagi15886508/" target="_blank" class="intro-sns__link">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://blog.naver.com/banobagips" target="_blank" class="intro-sns__link type-blog">
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.youtube.com/c/banobagips" target="_blank" class="intro-sns__link">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				Vượt trên vẻ đẹp
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				Tự nhiên cho đến khi được thấy,<br>
				Không rời mắt dù chỉ một khoảnh khắc
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<h3 class="intro-inner__tit">Tôi là <span class="intro-inner__point">Chuyên gia chi tiết</span></h3>
				</div>
				<h3 class="intro-inner__tit" id="typed"></h3>
			</div>
			<p class="intro-inner__subtit js-main-txt3">Đây là lý do chúng ta tự gọi là Chuyên gia chi tiết</p>
		</div>
	</div> -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<h3 class="intro-inner__tit animated fadeInUp">Chúng tôi là <span class="intro-inner__point">“Chuyên gia chi tiết”</span></h3>
			<p class="intro-inner__txt animated fadeInUp delay-1s">Một công nghệ vô hình tạo nên vẻ đẹp tự nhiên.</p>
			<div class="intro-inner__bar animated fadeInUp delay-2s">
				Đây là lý do tại sao chúng tôi lại là “Chuyên gia chi tiết”
			</div>
		</div>
	</div> -->
	<!-- 무사고 문구-->
	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt">
				<span class="intro-inner__motion animated fadeInUp">Luôn ưu tiên bệnh nhân hàng đầu</span>
				<span class="intro-inner__motion animated fadeInUp delay-1s">Trung thành với nền tảng y học</span>
				<span class="intro-inner__motion animated fadeInUp delay-2s">Tôi là chuyên gia chú trọng từng <span class="intro-inner__point">chi tiết</span></span>
			</p>
			<p class="intro-inner__bar animated fadeInUp delay-3s">
				Đây là lý do tại sao chúng tôi lại là “Chuyên gia chi tiết”
			</p>
		</div>
	</div>
	<!-- //txt-box-->

	<!-- intro-slide -->
	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Tôi là <span class="intro-slide__point">chuyên gia chi tiết</span></h3>
						<p class="intro-slide__txt">
							Không rời mắt dù chỉ trong khoảng khắc để có thể đạt được vẻ tự nhiên hoàn mỹ. Tôi là chuyên gia chú trọng từng chi tiết
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Bắt đầu từ <span class="intro-slide__point">An toàn</span></h3>
						<p class="intro-slide__txt">
							Luôn ứng phó với mọi tình huống<br>
							Không thỏa hiệp với nguy hiểm để làm đẹp
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Bắt đầu từ <span class="intro-slide__point">Lòng tin</span></h3>
						<p class="intro-slide__txt">
							Địa chỉ tin cậy để bất cứ ai cũng có thể tin tưởng giới thiệu
							Mẹ giới thiệu cho Con gái, Con gái giới thiệu cho Mẹ, Bạn bè giới thiệu cho nhau.
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit"><span class="intro-slide__point">Chăm sóc</span> hậu phẫu</h3>
						<p class="intro-slide__txt">
							Hệ thống theo dõi chăm sóc hậu phẫu quản lý giảm sung hiệu quả đối phù hợp với từng loại phẫu thuật
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>
	<!-- //intro-slide -->

	<div class="scroll">
		<p class="scroll__txt">Cuộn chuột</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="main__wrap">
		<div class="focus__area">
			<p class="focus__tit main__tit type-bar">CHỦ ĐỀ QUAN TÂM</p>
			<h1 class="focus__txt">Quý khách hàng có thể xem toàn bộ trang web của BANOBAGI Plastic surgery cũng như các chương trình đang được tiến hành hiện tại.</h1>
			<div class="focus__wrap">
				<div class="focus__best">
					<span class="focus__category type-promotion">Promotion</span>
					<img src="../../images/temp/focus_best.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-p">
					<a href="" class="focus__link">자세히보기</a>
				</div>
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //focus -->

<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<h3 class="main-video__tit">BanobagiTV</h3>
					<p class="main-video__txt">Xem toàn bộ video về BANOBAGI Plastic surgery</p>
					<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="main-video__btn" target="_blank">
						<span>Di chuyển đến kênh BanobagiTV</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<div class="main-video__area nth-1">
							<a href="https://www.youtube.com/watch?v=x8NRoYcIaK4" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
						<!--<div class="main-video__area nth-2">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->
<!-- real -->
<div class="real">
	<div class="real__wrap main__wrap">
		<div class="real__header">
			<span class="real__txt">Sự thay đổi xinh đẹp và một xuất phát điểm mới</span>
			<h3 class="real__tit">
				CÂU CHUYỆN CÓ THẬT TẠI BANOBAGI
			</h3>
		</div>
		<div class="real__area">
			<div class="real__box">
				<ul class="real__list">
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="real__box type-another">
				<ul class="real__list">
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //real -->
<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										Người luôn nhìn vào tỷ lệ của toàn bộ khuôn mặt
										và mưu cầu cải thiện khuôn mặt một cách tổng hợp
										Tôi là <strong class="detail-list__point">danh sách chi tiết (Detailist)</strong>
									</h3>
									<p class="detail-list__txt">
										Hình dạng và cấu trúc mũi của mỗi người đều khác nhau, do đó kinh nghiệm lâu năm, kiến thức cũng như kỹ năng để có thể tiến hành cải thiện tất cả các trường hợp là vô cùng cần thiết.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">Park Shinki</p>
										<p class="detail-list__career">
											4 năm kinh nghiệm trong lĩnh vực phẫu thuật thẩm mỹ, Viện trưởng BANOBAGI Plastic surgery
										</p>
										<div class="detail-list__align">
											<a href="javascript:$.fnMedicalView(109, '01');" class="detail-list__link main-btn">Xác minh lý lịch chi tiết</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										고객의 말하지 못하는<br>
										고민까지 알아 채는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										고객분들 표정만 보고도, 말하지 못하시는 고민까지 알아채고 최대한 편안하게 상담해드립니다
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">이민영</p>
										<p class="detail-list__career">
											바노바기성형외과 상담 총괄 실장, 12년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 이민영-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										모든 치료 과정을<br>
										세심하게 케어하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										수술 후에 어떻게 치료하는지도 무척 중요합니다. 더 좋은 결과를 위해 항상 세심하게 주의합니다
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">양선미</p>
										<p class="detail-list__career">
											바노바기성형외과 치료 실장, 10년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 양선미-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										환자의 안전을<br>
										체계적으로 체크하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										환자의 심박수나 혈압 등을 디테일하게 모니터링 하는 것, 안전한 수술의 기본입니다.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">김용주</p>
										<p class="detail-list__career">
											마취과전문의 22년 경력, 바노바기성형외과 원장
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 김용주-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										수준 높은 세포치료를<br>
										위해 끊임없이 연구하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										바노바기 줄기세포는 정확한 세포 분리 후 유효 세포 수를 확인하는 셀카운팅 시스템까지 갖추고 있어 정확합니다.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">고성건</p>
										<p class="detail-list__career">
											줄기세포 연구원 6년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">BANOBAGI</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">반재상</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영 실장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">이민영</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">양선미</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">김용주</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">고성건</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">Tìm kiếm</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="Nhập từ khóa cần tìm kiếm !">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">Từ khóa nổi bật</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">1</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">2</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">3</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">4</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">5</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">6</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">Từ khóa đề cử</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>안티에이징
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Hệ thống kiểm tra sức khỏe tổng quát
					</h3>
					<p class="detail-slide__txt">
						Đem lại sự an toàn và kết quả hài lòng với hệ thống kiểm tra sức khỏe tổng quát và kỹ lưỡng bao gồm 20 loại kiểm tra trước phẫu thuật.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Hệ thống an toàn nghiêm ngặt
					</h3>
					<p class="detail-slide__txt">
						Hệ thống vòi sen không khí diệt khuẩn, quản lý khử trùng, đội ngũ y bác sĩ thường trực, trang bị hệ thống cung cấp điện dự phòng
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Đội ngũ y bác sĩ xuất thân từ Đại học quốc gia Seoul
					</h3>
					<p class="detail-slide__txt">
						Đội ngũ y bác sĩ xuất thân từ Đại học quốc gia Seoul
						Kỹ thuật được tích lũy trong <?php echo $sinceYear;?> năm, vận hành nhóm theo từng loại hình, kỹ năng phẫu thuật chi tiết
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Dữ liệu phân tích trường hợp bệnh nhân
					</h3>
					<p class="detail-slide__txt">
						Phân tích dữ liệu đã được tích lũy trong <?php echo $sinceYear;?> năm, theo độ tuổi, theo khu vực, phân tích trường hợp theo giới tính, dẫn dắt phẫu thuật phù hợp mang tính khoa học, hệ thống
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Hệ thống chăm sóc sau phẫu thuật
					</h3>
					<p class="detail-slide__txt">
						Chăm sóc, quản lý sưng tấy, vết thâm mang tính hiệu quả bằng hệ thống chăm sóc phù hợp sau phẫu thuật, chăm sóc tạo độ hài lòng bằng hệ thống Follow up phù hợp với từng loại hình phẫu thuật
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 다음카카오지도-->
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">Liên hệ với chúng tôi</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">517 Nohyeon-ro, Gangnam-gu, Seoul</li>
							<li class="main-location__item">641-9 Yeoksam-dong, Gangnam-gu, Seoul</li>
							<li class="main-location__item">Cửa ra số 6 ga Yeoksam, cửa ra số 7 ga Eonju</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">time</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								(Thứ 2 ~ Thứ 6) Từ 09:30~18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								(Thứ 7) Từ 09:30~16:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">tel</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="tel:+82-2-561-6601" class="main-location__link">+82-2-561-6601</a></li>
						</ul>
					</dd>
				</dl>
				<!-- <div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
