@charset "utf-8";
@import "mixins";
.bfaf{position: fixed; right:-320px; top: 50px;width: 310px; height: 100%; background: #f4f4f4; z-index: 50; -webkit-transition: right 0.5s linear; -moz-transition: right 0.5s linear;
	-ms-transition: right 0.5s linear; transition: right 0.5s linear;
	&__title{display:none;}
	&__scroll{width: 340px; height:calc(100% - 140px); overflow-y: scroll; z-index: 3;}
	&.is-active{right:0px;}
	&__box{position:relative; width:100%; height:0; padding-bottom:106.66%;}
	&__area{width:310px; padding:15px 30px 0; box-sizing:border-box; font-size:0;}
	&__noti{width: 320px; bottom: 20px; margin:20px 0 0 0; padding: 0 6%;font-size: 11px; color: #b0b0b0; text-align: center;box-sizing: border-box;}
	&__txt{position: absolute; bottom: 16px; width: 100%;  text-align: center;font-size: 15px;color: #555; letter-spacing: 2px; z-index:5;}
	&__bg{position: absolute; width: 100%; height: 100%; background: transparent; z-index: 10; border: 2px solid #d9dbe0; box-sizing:border-box;
		&.is-active{background: rgba(0,0,0,.35); border: transparent;}
	}
	@media only screen and (max-width: $tablet-size) {top:60px; width:250px;
		&__scroll{width:270px; height:calc(100% - 150px);}
		&__area{width:250px; padding:0;}
		&__noti{bottom:5px; width:250px; font-size:10px;}
	}
	@media only screen and (max-width: $mobile-size) {position: static; width: 100%; right: auto; top: 0; height: auto; margin-top:50px; background: transparent; padding: 0 15px 0; box-sizing:border-box;
		&__title{display:block; margin:0; font-family: $font-pt; font-size:2.4rem; font-weight:400;}
		&__scroll{overflow: visible; position:static; width:100%; height:auto; margin-top:15px;}
		&__area{width:100%;}
		&__noti{width:100%; margin-top:20px; font-size:1.0rem;}
		&__box{float:left; width:50%; padding-bottom:53.33%;}
		&__txt{bottom:5px; font-size:1.1rem; letter-spacing:5px;}
	}
}
.pics{position: relative;
	&:before{position:absolute; display:block; top:-30px; left:0; width:100%;  height:0; border-top:1px solid #c2c2c2; content:'';}
	&:first-child{
		&:before{display:none;}
	}
	&__list{position: absolute; top: 12px; left: 10px; z-index: 20; padding:0; margin:0; list-style:none;}
	&__item{position: relative;}
	&__link{overflow:hidden; display:block; width:47px; height:47px; border-radius:50%; background:url('../images/common/bfaf/link.png') #fff no-repeat center center / 17px 33px; text-indent:-999px;}
	& + &{margin-top:60px;}
	@media only screen and (max-width: $tablet-size) {
		&:before{top:-17px;}
		& + &{margin-top:35px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&:after{display:block; clear:both; content:'';}
		&__link{width:42px; height:42px; background-size:16px 30px;}
	}
}
.pics-link{
	$this:&;
	&__list{display: none; margin:0; padding:0; list-style:none;
		&.is-active{display:block;}
	}
	&__tit{opacity: 0;position: absolute; top:16px;  margin-left: 60px; display: inline-block;background: #333;border-radius: 3px;color: #fefefe;font-size: 12px;padding: 2px 7px;white-space: nowrap;
		&:before{content: '';position:absolute; top:3px; left:-7px;  width: 0px;height: 0px; border-top:3px solid transparent; border-bottom:3px solid transparent; border-right: 5px solid #333; border-left: 3px solid  transparent;}
	}
	&__item{position:relative; width:47px; height:47px; border-radius:50%; background-color:#333;margin-top:10px;
		&.type-photo{
			&:hover{background-color:#ff4c1c;}
			#{$this}__link{background:url('../images/common/bfaf/link_photo.png') no-repeat center center / 29px 21px;}
		}
		&.type-real{
			&:hover{background-color:#ffa329;}
			#{$this}__link{background:url('../images/common/bfaf/link_real.png') no-repeat center center / 15px 27px;}
		}
		&:hover{
			#{$this}__tit{opacity: 1;}
		}
	}
	&__link{overflow:hidden; display:block; width:100%; height:100%;  text-indent:-999px;}
	@media only screen and (max-width: $mobile-size) {
		&__tit{display:none; opacity: 1; font-size:1.2rem;}
		&__item{width:42px; height:42px;
			&.type-photo{background-color:#ff4c1c;
				#{$this}__link{background-size:25px 18px;}
			}
			&.type-real{background-color:#ffa329;
				#{$this}__link{background-size:13px 22px;}
			}
		}
	}
}
.side-link{overflow:hidden; position: fixed; right: 45px; top: 75px; display:none; width: 47px; height: 47px; border-radius: 50%; background:url('../images/common/bfaf/sideFix.png') #afafaf;
	z-index: 60;  text-indent:-9999px;
	&.is-active{background-color:#8d217f;}
	&.is-show{display:block;}
	@media only screen and (max-width: $tablet-size) {right:10px;}
	@media only screen and (max-width: $mobile-size) {display:none !important;}
}
.side-noti{display:none; position: fixed; background: #333; border-radius: 3px; top: 88px; right: 104px; margin:0; font-size: 14px; color: #fefefe; padding: 3px 7px; z-index: 50;
	span{color:#fe9af1;}
	&:after{content: '';position:absolute; top:6px; right:-8px;  width: 0px;height: 0px; border-top:3px solid transparent; border-bottom:3px solid transparent; border-right: 3px solid transparent; border-left: 6px solid #333;}
	&.is-active{display:block;}
	@media only screen and (max-width: $tablet-size) {right:70px;}
	@media only screen and (max-width: $mobile-size) {
		&.is-active{display:none;}
	}
}
