@charset "utf-8";
@import "mixins";

.content-btn{display: inline-block !important;width: auto !important;min-width: 200px;padding: 0 10px;
    @media only screen and (max-width: $mobile-size){
        min-width: 160px;
    }
}

.process-style3{
    &__caption{padding: 3% 3% !important;}

    @media only screen and (max-width: $tablet-size){
        &__caption{height: auto;padding: 20px 3% 18px;}
    }
    @media only screen and (max-width: $mobile-size){
		&__caption{padding: 10px 3% 8px;}
	}
}

.process-style4{
    &__result{height: 105px !important;}

    @media only screen and (max-width: $mobile-size){
		&__result{height: 75px !important;}
	}
}
