.new-visual{
    &__tit{font-size:50px;}

    @media only screen and (max-width: $mobile-size){
        &__tit{font-size: 3.0rem;}
    }
}

.content-btn{display: inline-block;width: auto;min-width: 200px;padding: 0 10px;
    @media only screen and (max-width: $mobile-size){
        min-width: 160px;
    }
}
.inner-circle{
	&__item{padding:0 10px;}
}
.compare3{
    &__item{height:100px;}
    @media only screen and (max-width: $tablet-size){
        &__item{height:auto;}
    }
}

.inner-circle{
    $this:&;
	&.type-bar{
		#{$this}__item{width:200px; height:200px;}
	}
    @media only screen and (max-width: $mobile-size){
        &.type-bar{
    		#{$this}__item{width:100%; height:auto;}
    	}
    }
}

.img-style8{
	@media only screen and (max-width: $mobile-size){
		&__subject{padding: 10px 1% 7px;}
	}
}

.bg-style2{
    &__btn{height:auto;padding:10px 20px;
		&:after{display: none;}
	}
    @media only screen and (max-width: $mobile-size){
        &__btn{padding: 5px 10px;}
    }
}
