<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<img src="../../images/program/event_1807/der_event_1807_1.jpg" loading="lazy" alt="피부과 7월 이벤트" class="hidden-tm">
	<img src="../../images/program/event_1807/der_event_1807_2.jpg" loading="lazy" alt="피부과 7월 이벤트" class="hidden-tm">
	<img src="../../images/program/program_footer.jpg" loading="lazy" alt="바노바기 피부과, 바로문의전화 02-3288-3322" class="hidden-tm">
	<!--mobile-->
	<img src="../../images/program/event_1807/der_event_1807_1_m.jpg" loading="lazy" alt="피부과 7월 이벤트" class="hidden-p">
	<img src="../../images/program/event_1807/der_event_1807_2_m.jpg" loading="lazy" alt="피부과 7월 이벤트" class="hidden-p">
	<a href="tel:02-3288-3322" class="program__tel"><img src="../../images/program/program_footer_m.jpg" loading="lazy" alt="바노바기 피부과, 바로문의전화 02-3288-3322" class="hidden-p"></a>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
