<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
	.cont__box{}
	.cont__area{max-width: 1200px;margin: 0 auto;}

	/* img slide */
	.img_slide_box{max-width:1200px;margin:0 auto;position:relative}
	.img_slider img{display:inline-block;width: 100%;}
	.img_slider_btn {display:block !important;margin-top:-59px;position:absolute;top:50%}
	.img_slide_prev{left:0;cursor:pointer}
	.img_slide_next{right:0;cursor:pointer}

	.slick-dots{width:100%;margin:-0.5%;position:absolute;bottom:10px;text-align: center;}
	.slick-dots li{display:inline-block;width:88px;margin:0.5%;padding:3.5% 0;background-size:100% !important;box-sizing:border-box;}
	.slick-dots li:nth-child(1){background:url(../../images/program/landing_protrusion/slide/model_1_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(2){background:url(../../images/program/landing_protrusion/slide/model_2_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(3){background:url(../../images/program/landing_protrusion/slide/model_3_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(4){background:url(../../images/program/landing_protrusion/slide/model_4_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(5){background:url(../../images/program/landing_protrusion/slide/model_5_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(6){background:url(../../images/program/landing_protrusion/slide/model_6_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(7){background:url(../../images/program/landing_protrusion/slide/model_7_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(8){background:url(../../images/program/landing_protrusion/slide/model_8_s.jpg) 0 0 no-repeat}
	.slick-dots li:nth-child(9){background:url(../../images/program/landing_protrusion/slide/model_9_s.jpg) 0 0 no-repeat}
	.slick-dots li.slick-active{box-shadow: inset 0px 0px 1px 1px #333;}
	.slick-dots li button{display:none;width:100%;height:100%;background:url(../../images/program/landing_protrusion/slide/img0510s.jpg) 0 0 no-repeat;border:none;text-indent:-9999px}

	.slick_slider_nav{width:100%;margin-top:-105px}
	.slick_slider_nav .slick-slide{}
	.slick_slider_nav .slick-list{width:100%}

	@media only screen and (max-width: 1025px){
		.img_slide_box .img_slider_btn{margin-top:-30px;width: 33px;}
		.img_slide_box .slick-dots li{width: 10%;padding:5% 0;}

		.program-bottom{padding: 5% 0;}
		.program-bottom img{margin: 0 auto;}
        .program-bottom img:nth-child(3){margin-top: 20px;}
	}
</style>

<div class="cont">
    <img src="../../images/program/landing_protrusion/landing_protrusion_top.jpg" loading="lazy" alt="" class="hidden-tm">
    <img src="../../images/program/landing_protrusion/landing_protrusion_01.jpg" loading="lazy" alt="" class="hidden-tm">
    <img src="../../images/program/landing_protrusion/landing_protrusion_02.jpg" loading="lazy" alt="" class="hidden-tm">

    <img src="../../images/program/landing_protrusion/landing_protrusion_01_m.jpg" loading="lazy" alt="" class="hidden-p">
    <img src="../../images/program/landing_protrusion/landing_protrusion_02_m.jpg" loading="lazy" alt="" class="hidden-p">
    <img src="../../images/program/landing_protrusion/landing_protrusion_03_m.jpg" loading="lazy" alt="" class="hidden-p">

	<div class="cont__box">
		<div class="cont__area">
			<div class="img_slide_box">
				<div class="img_slider slider-for">
					<div class="slider-for"><img src="../../images/program/landing_protrusion/slide/model_1.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_2.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_3.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_4.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_5.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_6.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_7.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_8.jpg" loading="lazy" alt=""></div>
					<div><img src="../../images/program/landing_protrusion/slide/model_9.jpg" loading="lazy" alt=""></div>
				</div>
				<div class="img_slider_btn img_slide_prev"><img src="../../images/program/landing_protrusion/slide/img_slide_prev.png"></div>
				<div class="img_slider_btn img_slide_next"><img src="../../images/program/landing_protrusion/slide/img_slide_next.png"></div>
			</div>
		</div>
	</div>

    <img src="../../images/program/landing_protrusion/landing_protrusion_03.jpg" loading="lazy" alt="" class="hidden-tm">
	<img src="../../images/program/landing_protrusion/landing_protrusion_04.jpg" loading="lazy" alt="" class="hidden-tm">
	<img src="../../images/program/landing_protrusion/landing_protrusion_05.jpg" loading="lazy" alt="" class="hidden-tm">

    <img src="../../images/program/landing_protrusion/landing_protrusion_04_m.jpg" loading="lazy" alt="" class="hidden-p">
	<img src="../../images/program/landing_protrusion/landing_protrusion_05_m.jpg" loading="lazy" alt="" class="hidden-p">
	<img src="../../images/program/landing_protrusion/landing_protrusion_06_m.jpg" loading="lazy" alt="" class="hidden-p">
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="../../images/program/landing_protrusion/landing_protrusion_bottom_logo.png" loading="lazy" alt="banobagi plastic surgery" class="program-bottom__img hidden-tm">

    <img src="../../images/program/landing_protrusion/landing_protrusion_bottom_logo_m.png" loading="lazy" alt="banobagi plastic surgery" class="program-bottom__img hidden-p">
    <img src="../../images/program/landing_protrusion/landing_protrusion_zalo_m.jpg" loading="lazy" alt="Zalo +8210-8708-6508" class="program-bottom__img hidden-p">
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
    $(document).ready(function(){
		$(".img_slider").slick({
			autoplay: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			prevArrow: ".img_slide_prev",
			nextArrow: ".img_slide_next",
			dots: true,
		});
	});
</script>
