<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/landing_grandopen.css"/>

<!-- program-view -->
<div class="cont">
	<img src="../../images/program/landing_grandopen/grandopen_img_1.jpg" class="hidden-tm" loading="lazy" alt="GRAND OPEN Văn phòng tư vấn bệnh viện BANOBAGI tại Hà Nội">
	<img src="../../images/program/landing_grandopen/grandopen_img_2.jpg" class="hidden-tm" loading="lazy" alt="Sự kiện khai trương văn phòng tư vấn Thứ 7, ｎgày 23 tháng 11 10 AM – 5 PM">

	<img src="../../images/program/landing_grandopen/grandopen_img_1_m.jpg" class="hidden-p" loading="lazy" alt="GRAND OPEN Văn phòng tư vấn bệnh viện BANOBAGI tại Hà Nội">
	<img src="../../images/program/landing_grandopen/grandopen_img_2_m.jpg" class="hidden-p" loading="lazy" alt="Sự kiện khai trương văn phòng tư vấn Thứ 7, ｎgày 23 tháng 11 10 AM – 5 PM">
	<img src="../../images/program/landing_grandopen/grandopen_img_3_m.jpg" class="hidden-p" loading="lazy" alt="Sự kiện khai trương văn phòng tư vấn Thứ 7, ｎgày 23 tháng 11 10 AM – 5 PM">

	<div class="cont-box1">
		<img src="../../images/program/landing_grandopen/grandopen_tit_1.png" class="hidden-tm" loading="lazy" alt="Điểm qua hình ảnh nội thất bên trong văn phòng tư vấn tại Hà Nội của bệnh viện Banobagi">
		<img src="../../images/program/landing_grandopen/grandopen_tit_1_m.png" class="hidden-p" loading="lazy" alt="Điểm qua hình ảnh nội thất bên trong văn phòng tư vấn tại Hà Nội của bệnh viện Banobagi">

		<div class="cont-box1__wrap">
			<div class="cont-box1__box">
				<div class="cont-slider">
					<ul class="cont-slider__list js-main-slider">
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_1.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_2.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_3.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_4.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_5.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_6.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_7.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_8.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_9.jpg" alt="">
						</li>
						<li class="cont-slider__item">
							<img src="../../images/program/landing_grandopen/grandopen_slide_10.jpg" alt="">
						</li>
					</ul>
					<a href="" class="cont-slider__btn type-prev js-slider-prev">이전</a>
					<a href="" class="cont-slider__btn type-next js-slider-next">다음</a>

					<span class="cont-slider__page"></span>
				</div>

				<div class="cont-thum">
					<ul class="cont-thum__list js-thum-slider">
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_1.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_2.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_3.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_4.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_5.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_6.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_7.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_8.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_9.jpg" alt="">
						</li>
						<li class="cont-thum__item">
							<img src="../../images/program/landing_grandopen/grandopen_thum_slide_10.jpg" alt="">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<img src="../../images/program/landing_grandopen/grandopen_img_3.jpg" class="hidden-tm" loading="lazy" alt="Các dịch vụ của văn phòng tư vấn của Banobagi tại Hà Nội">
	<img src="../../images/program/landing_grandopen/grandopen_img_4.jpg" class="hidden-tm" loading="lazy" alt="Giới thiệu BANOBAGI Plastic surgery">
	<img src="../../images/program/landing_grandopen/grandopen_img_5.jpg" class="hidden-tm" loading="lazy" alt="Thay đổi cuộc sống mùa 4">
	<img src="../../images/program/landing_grandopen/grandopen_img_6.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI ON AIR">
	<img src="../../images/program/landing_grandopen/grandopen_img_7.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI STARS">
	<img src="../../images/program/landing_grandopen/grandopen_img_8.jpg" class="hidden-tm" loading="lazy" alt="Đẹp từ ngoại hình đến tấm lòng">
	<img src="../../images/program/landing_grandopen/grandopen_img_9.jpg" class="hidden-tm" loading="lazy" alt="Ảnh selfie thực tế của khách hàng Việt Nam thẩm mỹ tại Banobagi">

	<img src="../../images/program/landing_grandopen/grandopen_img_4_m.jpg" class="hidden-p" loading="lazy" alt="Các dịch vụ của văn phòng tư vấn của Banobagi tại Hà Nội">
	<img src="../../images/program/landing_grandopen/grandopen_img_5_m.jpg" class="hidden-p" loading="lazy" alt="Giới thiệu BANOBAGI Plastic surgery">
	<img src="../../images/program/landing_grandopen/grandopen_img_6_m.jpg" class="hidden-p" loading="lazy" alt="Giới thiệu BANOBAGI Plastic surgery">
	<img src="../../images/program/landing_grandopen/grandopen_img_7_m.jpg" class="hidden-p" loading="lazy" alt="Giới thiệu BANOBAGI Plastic surgery">
	<img src="../../images/program/landing_grandopen/grandopen_img_8_m.jpg" class="hidden-p" loading="lazy" alt="Thay đổi cuộc sống mùa 4">
	<img src="../../images/program/landing_grandopen/grandopen_img_9_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI ON AIR">
	<img src="../../images/program/landing_grandopen/grandopen_img_10_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI STARS">
	<img src="../../images/program/landing_grandopen/grandopen_img_11_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI STARS">
	<img src="../../images/program/landing_grandopen/grandopen_img_12_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI STARS">
	<img src="../../images/program/landing_grandopen/grandopen_img_13_m.jpg" class="hidden-p" loading="lazy" alt="Đẹp từ ngoại hình đến tấm lòng">
	<img src="../../images/program/landing_grandopen/grandopen_img_14_m.jpg" class="hidden-p" loading="lazy" alt="Ảnh selfie thực tế của khách hàng Việt Nam thẩm mỹ tại Banobagi">

	<div class="cont__video">
		<div class="cont__wrap">
            <div class="program-video">
                <div class="program-video__wrap">
                    <a href="" class="program-video__btn">play</a>
                    <img src="../../images/program/landing_grandopen/grandopen_video_thum.jpg" class="img-w100" alt="Review Ảnh selfie thực tế Jang Yumi"/>
                </div>
            </div>

			<div id="program-iframe"></div>
		</div>
	</div>

	<div class="cont-box2">
		<a href="https://goo.gl/maps/TD3va5k56sDX3JRC8" target="_blank" class="cont-box2__link">
			<img src="../../images/program/landing_grandopen/grandopen_img_10.jpg" class="hidden-tm" loading="lazy" alt="21st Floor, East Tower - Lotte Center Hanoi, 54 Lieu Giai Street, Ba Dinh District, Hanoi, Vietnam">
			<img src="../../images/program/landing_grandopen/grandopen_img_15_m.jpg" class="hidden-p" loading="lazy" alt="21st Floor, East Tower - Lotte Center Hanoi, 54 Lieu Giai Street, Ba Dinh District, Hanoi, Vietnam">
		</a>

		<a href="tel:024-7300-6508" class="cont-box2__link">
			<img src="../../images/program/landing_grandopen/grandopen_img_11.jpg" class="hidden-tm" loading="lazy" alt="024 7300 6508">
			<img src="../../images/program/landing_grandopen/grandopen_img_16_m.jpg" class="hidden-p" loading="lazy" alt="024 7300 6508">
		</a>
	</div>

	<img src="../../images/program/landing_grandopen/grandopen_img_12.jpg" class="hidden-tm" loading="lazy" alt="">

	<img src="../../images/program/landing_grandopen/grandopen_img_17_m.jpg" class="hidden-p" loading="lazy" alt="">
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript" src="../../js/program/landing_grandopen.js"></script>
