<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
</style>

<div class="cont">
    <div class="hidden-tm">
        <img src="../../images/program/landing_oneday/landing_oneday_1.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_2.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_3.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_4.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_5.jpg" loading="lazy" alt="">
	</div>

	<div class="hidden-p">
        <img src="../../images/program/landing_oneday/landing_oneday_1_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_2_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_3_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_4_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_5_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_oneday/landing_oneday_6_m.jpg" loading="lazy" alt="">
	</div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
