<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>


<link rel="stylesheet" href="../../css/program/landing_cosmetic.css"/>

<div class="contianer type-cosmetic">
    <img src="../../images/program/landing_cosmetic/content_1.jpg" class="img-w100" loading="lazy" alt="banobagi">
    <div class="contianer__box">
        <img src="../../images/program/landing_cosmetic/slide_left.jpg" class="img-w100" loading="lazy" alt="banobagi">
    </div>
    <div class="contianer__box">
        <div class="slide">
        <ul class="slide__list js-slide">
            <li class="slide__item">
                <img src="../../images/program/landing_cosmetic/slide_1.jpg" class="img-w100" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/landing_cosmetic/slide_2.jpg" class="img-w100" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/landing_cosmetic/slide_3.jpg" class="img-w100" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/landing_cosmetic/slide_4.jpg" class="img-w100" loading="lazy" alt="">
            </li>
        </ul>
        </div><!-- //slide -->
    </div>
    <img src="../../images/program/landing_cosmetic/content_2.jpg" class="img-w100" loading="lazy" alt="banobagi">
    <div class="form-box">
        <div class="content-wrap">
            <h3 class="form-box__tit">
                <img src="../../images/program/landing_cosmetic/tit.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class="img-normal hidden-tm">
                <img src="../../images/program/landing_cosmetic/tit_m.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class=" hidden-p">
            </h3>
            <p class="form-box__txt">Thông tin sản phẩm: Cream hoặc Serum Milk Thistle (chọn 1 trong 2)</p>
            <div class="form-box__area">
                <form name="frmCosmetic" id="frmCosmetic" method="post">
					<input type="hidden" name="language" value="VN">
                    <ul class="form-box__list">
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">Họ tên <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1" name="cname" id="cname">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">Tuổi <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1 clsOnlyNumber" name="age" id="age" maxlength="3">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">Quốc tịch <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1" name="nation" id="nation">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">Giới tính <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <div class="radio-wrap">
                                        <input type="radio" name="gender" value="F" id="gender_1" class="radio1" checked="checked"><label for="gender_1">woman</label>
                                        <input type="radio" name="gender" value="M" id="gender_2" class="radio1 type-man"><label for="gender_2">man</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="form-box__wrap">
                        <div class="form-box__box">
                            <p class="form-box__subject type-margin">Liệt kê trang mạng xã hội mà bạn sẽ đăng bài review. Không thể thay đổi sau khi chọn.
                                <span class="inline-block">(có thể chọn nhiều mục)</span></p>
                            <div class="checkbox-wrap">
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_1" class="checkbox03" value="1">
                                    <label for="sns_1">Weibo</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_2" class="checkbox03" value="2">
                                    <label for="sns_2">Wechat</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_3" class="checkbox03" value="3">
                                    <label for="sns_3">Xiaohongshu</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_4" class="checkbox03" value="4">
                                    <label for="sns_4">Instagram</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_5" class="checkbox03" value="5">
                                    <label for="sns_5">YouTube</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_6" class="checkbox03" value="6">
                                    <label for="sns_6">Facebook</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_7" class="checkbox03" value="7">
                                    <label for="sns_7">Tiktok</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns[]" id="sns_8" class="checkbox03" value="8">
                                    <label for="sns_8">Khác</label>
                                </div>
                            </div>
                            <div class="form-box__etc">
                                <div class="form-box__head">Khác <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1 input-etc" name="snsEtc" id="snsEtc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list">
                            <li class="form-box__item type-one">
                                <div class="form-box__box">
                                    <div class="form-box__head type-2">Link url hoặc ID trang mang xã hội của bạn : </div>
                                    <div class="form-box__body type-2">
                                        <p class="form-box__ex">@Sunnydahye hoặc https://www.instagram.com/sunnydahye/</p>
                                        <input type="text" class="input1" placeholder="@Sunnydahye hoặc https://www.instagram.com/sunnydahye/" name="snsId" id="snsId">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list type-one">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">Loại mỹ phẩm <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <div class="radio-wrap">
                                            <input type="radio" name="cosmetic" value="C" id="request_1" class="radio1" checked="checked"><label for="request_1">Cream Milk Thistle</label>
                                            <input type="radio" name="cosmetic" value="E" id="request_2" class="radio1"><label for="request_2">Serum Milk Thistle</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-5 type-white">Miêu tả <span class="form-box__right">:</span><span class="white">(mục tùy chọn)</span></div>
                                    <div class="form-box__body type-5">
                                        <input type="text" class="input1" name="cosmeticComment" id="cosmeticComment">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- Thông tin nhận bưu phẩm</p>
                        <ul class="form-box__list">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">Địa chỉ (yêu cầu sự chính xác) <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <input type="text" class="input1" name="address" id="address">
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item  type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-4 type-white">Số liên lạc <span class="form-box__right">:</span></div>
                                    <div class="form-box__body type-4">
                                        <input type="text" class="input1 clsPhone" maxlength="20" name="phone" id="phone">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- Bổ sung mục quan tâm <span class="inline-block">(có thể chọn nhiều mục)</span> <span class="white">(mục tùy chọn)</span></p>
                        <div class="checkbox-wrap type-another">
                            <div class="form-box__label">
                                <input type="checkbox" name="addCosmetic[]" id="add_1" class="checkbox03" value="1">
                                <label for="add_1">Bán mỹ phẩm</label>
                            </div>
                            <div class="form-box__label">
                                <input type="checkbox" name="addCosmetic[]" id="add_2" class="checkbox03" value="2">
                                <label for="add_2">Nhận tài trợ phẫu thuật thẩm mỹ</label>
                            </div>
							<div class="form-box__label">
                                <input type="checkbox" name="addCosmetic[]" id="add_3" class="checkbox03" value="3">
                                <label for="add_3">Yêu cầu : trang mạng xã hội cá nhân sở hữu trên 100.000 người theo dõi</label>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center">
                        <button type="button" class="form-box__btn" onclick="$.fnCosmeticSubmit()">Đăng kí</button>
                    </div>
                </form>
            </div><!--//content__area-->
        </div>
    </div><!-- //form-box-->
    <img src="../../images/program/landing_cosmetic/bottom.jpg" class="img-w100" loading="lazy" alt="banobagi">
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
