<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
	.cont__box{background: url(../../images/program/landing_face/landing_face_05_bg.jpg) 50% 50%/cover no-repeat;font-size: 0;}
	.cont__area{max-width: 1200px;margin: 0 auto;padding: 100px 0;font-size: 0;text-align: center;}
	.cont__list{margin: 0 -11px;padding: 0 1%;list-style: none;}
	.cont__item{display: inline-block;width: 33.333%;padding: 0 11px;box-sizing: border-box;}
	.cont__link{}

	.program-bottom{padding: 100px 0;background: url(../../images/program/landing_face/pattern.gif) 0 0 repeat;font-size: 0;text-align: center;}

	@media only screen and (max-width: 1025px){
		.cont__box{background: url(../../images/program/landing_face/landing_face_08_bg_m.jpg) 50% 50%/cover no-repeat;}
		.cont__area{padding: 5% 5%;}
		.cont__list{margin: 0;}
		.cont__item{padding: 0 1%;}

		.program-bottom{padding: 5% 0;}
		.program-bottom img{margin: 0 auto;}
	}
</style>

<div class="cont">
    <div class="hidden-tm">
        <img src="../../images/program/landing_face/landing_face_top.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_01.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_02.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_03.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_04.jpg" loading="lazy" alt="">

		<div class="cont__box">
			<div class="cont__area">
				<ul class="cont__list">
					<li class="cont__item">
						<a href="#face_con01" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_05_1.jpg" loading="lazy" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_1_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_1.jpg'" class="changeImg">
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con02" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_05_2.jpg" loading="lazy" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_2_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_2.jpg'" class="changeImg">
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con03" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_05_3.jpg" loading="lazy" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_3_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_3.jpg'" class="changeImg">
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="face_con01">
			<img src="../../images/program/landing_face/landing_face_06.jpg" loading="lazy" alt="">
			<img src="../../images/program/landing_face/landing_face_07.jpg" loading="lazy" alt="">
			<img src="../../images/program/landing_face/landing_face_08.jpg" loading="lazy" alt="">
		</div>

		<div id="face_con02">
			<img src="../../images/program/landing_face/landing_face_09.jpg" loading="lazy" alt="">
			<img src="../../images/program/landing_face/landing_face_10.jpg" loading="lazy" alt="">
			<img src="../../images/program/landing_face/landing_face_11.jpg" loading="lazy" alt="">
		</div>

		<div id="face_con03">
			<img src="../../images/program/landing_face/landing_face_12.jpg" loading="lazy" alt="">
			<img src="../../images/program/landing_face/landing_face_13.jpg" loading="lazy" alt="">
		</div>

		<img src="../../images/program/landing_face/landing_face_14.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_15.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_16.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_17.jpg" loading="lazy" alt="">

		<img src="../../images/program/landing_face/landing_face_18.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_19.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_20.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_21.jpg" loading="lazy" alt="">
	</div>

	<div class="hidden-p">
		<img src="../../images/program/landing_face/consultation-01_m.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_01_m.jpg" loading="lazy" alt="">
		<img src="../../images/program/landing_face/landing_face_02_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_03_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_04_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_05_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_06_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_07_m.jpg" loading="lazy" alt="">

		<div class="cont__box">
			<div class="cont__area">
				<ul class="cont__list">
					<li class="cont__item">
						<a href="#face_con01_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_08_1_m.jpg" loading="lazy" alt="" class="changeImg">
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con02_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_08_2_m.jpg" loading="lazy" alt="" class="changeImg">
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con03_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face_08_3_m.jpg" loading="lazy" alt="" class="changeImg">
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="face_con01_m">
            <img src="../../images/program/landing_face/landing_face_09_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_10_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_11_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_12_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_13_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_14_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_15_m.jpg" loading="lazy" alt="">
		</div>

		<div id="face_con02_m">
            <img src="../../images/program/landing_face/landing_face_16_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_17_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_18_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_19_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_20_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_21_m.jpg" loading="lazy" alt="">
		</div>

		<div id="face_con03_m">
            <img src="../../images/program/landing_face/landing_face_22_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_23_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_24_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_25_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_26_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_27_m.jpg" loading="lazy" alt="">
            <img src="../../images/program/landing_face/landing_face_28_m.jpg" loading="lazy" alt="">
		</div>

        <img src="../../images/program/landing_face/landing_face_29_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_30_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_31_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_32_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_33_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_34_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_35_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_36_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_37_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_38_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_39_m.jpg" loading="lazy" alt="">
        <img src="../../images/program/landing_face/landing_face_40_m.jpg" loading="lazy" alt="">
	</div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="../../images/program/landing_face/btm_logo_dark_gray.png" loading="lazy" alt="banobagi plastic surgery" class="program-bottom__img">
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
    $(document).ready(function(){
    	$('.cont__area a[href^="#"]').click(function(e) {
    		e.preventDefault();
    		var target = this.hash,
    			$target = $(target);

    		$('html, body').stop().animate({
    			scrollTop: $target.offset().top-40
    		}, 800);
    		return false;
    	});
	});
</script>
