@charset "utf-8";
@import "mixins";
.new-visual{
	$this:&;
	&.type-casefiller{background:url('../images/special/casefiller/casefiller_visual_1.jpg') no-repeat center center / cover;
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-casefiller{background:url('../images/special/casefiller/casefiller_visual_1_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-casefiller{background:url('../images/special/casefiller/casefiller_visual_1_m.jpg') no-repeat center center / cover;}
	}
}
.section-normal{
	$this:&;
	@media only screen and (max-width: $mobile-size) {
		&.type-casefiller{
			#{$this}__img{padding:0 40px;}
		}
	}
}


.new-style1{
	$this:&;
	&.type-casefiller{background:#d3e5f9;}
}

.new-stripe{
	$this:&;
	&.type-casefiller{background:#b0d2f7;}
}
