@charset "UTF-8";
@import "../mixins";

.cont{padding-top: 50px;box-sizing: border-box;font-size: 0;
    img{width: 100%;vertical-align: middle;}

    &__video{padding: 0 21.35%;}
	&__wrap{position:relative; width:100%; padding-bottom:56.25%;}
	&__video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

    @media only screen and (max-width: $tablet-size){
		&__video{padding: 0 6.66%;}
    }
}

.cont-box1{padding-bottom: 120px;background: url("../../images/program/landing_grandopen/grandopen_patten.gif") 0 0;
    &__wrap{max-width: 1214px;margin: 0 auto;padding: 0 8px;}
    &__box{padding: 0 70px;}

    @media only screen and (max-width: $tablet-size){
        padding-bottom: 100px;
        &__box{padding: 0 20px;}
    }
    @media only screen and (max-width: $mobile-size){
        padding-bottom: 50px;
        &__box{padding: 0 10px;}
    }
}

.cont-box2{max-width: 830px;margin: 58px auto 0;text-align: center;
    img{width: auto;max-width: 100%;}
    &__link{display: block;}

    @media only screen and (max-width: $tablet-size){
        margin-top: 0;

        img{width: 100%;}
    }
    @media only screen and (max-width: $mobile-size){}
}

.cont-slider{position: relative;text-align: center;
    &__list{margin: 0;padding: 0;}
    &__item{list-style: none;}
    &__btn{position: absolute;top: 0;bottom: 0;left: -70px;width: 60px;height: 60px;margin: auto 0;background: url("../../images/program/landing_grandopen/grandopen_slide_btn.jpg") 0 0/cover;
        &.type-prev{}
        &.type-next{left: auto;right: -70px;transform: rotate(180deg);-ms-transform: rotate(180deg);}
    }
    &__page{position: absolute;left: 24px;bottom: 20px;font-size: 30px;color: #fff;font-weight: $regular;}

    @media only screen and (max-width: $tablet-size){
        &__btn{left: 0;opacity: 0.85;
            &.type-next{right: 0;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &__btn{width: 30px;height: 30px;}
        &__page{left: 10px;bottom: 10px;font-size: 1.5rem;}
    }
}

.cont-thum{margin-top: 8px;
    &__list{margin: 0;padding: 0;}
    &__item{margin: 0 4px;list-style: none;
        &.slick-current{position: relative;
            &:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(54, 54, 54, 0.5);border: 2px solid #1e8fe5;}
        }
    }

    @media only screen and (max-width: $tablet-size){}
    @media only screen and (max-width: $mobile-size){
        margin-top: 3px;

        &__item{margin: 0 1px;}
    }
}
