<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-dual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">두 마리 토끼를 한 번에 잡는 체형 개선</p>
	    		<h3 class="content-visual__tit"><span class="dual-color1">#</span> 듀얼슬림</h3>
				<p class="content-visual__txt2">균형 있게 <strong>날씬한 상체라인</strong></p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="dual-box1">
	            	<div class="dual-box1__box">
	              		<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
	                		<strong class="content-highlight2 type-dual">상체비만</strong>은<br>
	                		<strong>가슴 비대증을</strong><br>
	                		동반하는 경우가 <strong>많습니다</strong>
	              		</h4>
	              		<p class="content-section__txt1">
	                		흔히 상체 비만이라고 하면 복부와 옆구리 비만을 떠올리게 됩니다.<br>
	                		하지만 복부와 옆구리에 지방이 형성되면 자연스럽게 가슴 비대증 또한 동반되는 경우가 많죠.
	                		비만이 고도로 진행될수록 가슴 비대증 또한 심해지며, 가슴 밑의 피부 습진이나 척추 이상 등
	                		다양한 건강상의 문제들까지 동반하게 됩니다.
	              		</p>
	              		<p class="content-section__txt2">
	                		따라서 상체 비만은 <span class="dual-color1">가슴 비대증에 대한 개선을 함께 생각</span>하여
	                		<span class="content-highlight type-dual">전반적으로 조화롭고 날씬한 몸매가 되도록 추구하는 것이 좋습니다.</span>
	              		</p>
	              		<div class="dual-box1__img"></div>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box2 box-style">
	            	<h4 class="content-section__tit dual-box2__tit">
	              		<strong class="dual-color2">듀얼슬림</strong>, 바노바기이기에<br class="hidden-pm"> <strong>효과적</strong>입니다
	            	</h4>
	            	<p class="content-section__txt1 dual-box2__txt">
	              		바디 성형과 가슴 성형, 이 두 분야에 대한 전문성이 갖추어져 있는 바노바기의 장점을 살린 수술입니다.<br>
	              		처음 상담 과정에서부터 가슴만이 아닌 <strong>전체적인 비율에 따른 디자인이 가능하기 때문에</strong>하기 때문에<br>
	              		보다 편하고 아름다운 가슴과 슬림한 라인으로 이어지는 균형 잡힌 몸매를 기대할 수 있습니다.
	            	</p>
	            	<h5 class="dual-box2__subject">
	              		상체지방 흡입 + 가슴축소술, 듀얼슬림
	            	</h5>
	            	<ul class="dual-box2__list">
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img04.jpg" loading="lazy" alt="단순 지방 흡입">
	                  			<p class="dual-box2__caption">단순 지방 흡입</p>
	                		</div>
	              		</li>
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img05.jpg" loading="lazy" alt="듀얼슬림">
	                  			<p class="dual-box2__caption">듀얼슬림</p>
	                		</div>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="dual-box3 box-style">
	            	<h4 class="content-section__tit dual-box3__tit">
	              		<span class="dual-box3__subtit">바노바기에 남다른</span><span class="dual-box3__detail"><img src="../../images/body/dual/body_dual_txt.png" loading="lazy" alt="detail"></span><br>
	              		<strong class="dual-color2">바디성형</strong>에 <span class="inline-block">집중하는 전문의</span>
	            	</h4>
	            	<div class="dual-box3__doctor-img">
	              		<img src="../../images/body/dual/body_dual_doctor_m.png" loading="lazy" alt="한규남원장,반재상원장,노용준원장">
	            	</div>
	            	<div class="dual-box3__doctor">
	              		<div class="dual-box3__name nth-1">
	                		성형외과전문의
	                		<strong>한규남 원장</strong>
	              		</div>
	              		<div class="dual-box3__name nth-2">
	                		성형외과전문의
	                		<strong>반재상 원장</strong>
	              		</div>
	              		<div class="dual-box3__name nth-3">
	                		성형외과전문의
	                		<strong>노용준 원장</strong>
	              		</div>
	            	</div>
	            	<div class="dual-box3__area">
	              		<ul class="dual-box3__list">
	                		<li class="dual-box3__item nth-1">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					바디 성형 + 가슴 성형,<br>
	                  	      					두 분야에 대한 전문성
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-2">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					복부만이 아닌 가슴을 포함한<br>
	                  	      					상체의 전체적인 비율을 고려
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-3">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
												안전하고 정밀한 수술이<br>
												가능한 기술력
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	              		</ul>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box4 box-style">
	           		<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								02
							</span>
						</span>
	              		<strong>추구하는 결과</strong>에 맞는 <strong class="content-highlight2 type-dual">가슴 축소술</strong>을<br>
	              		선택할 수 있습니다
	            	</h4>
	            	<p class="content-section__txt1">가슴축소술은 그 수술 방법이 크게 4가지로 나뉩니다. 각 수술 방법은 장단점이 있죠.</p>
	            	<p class="content-section__txt2">때문에 수술 전 충분한 상담을 통해 <span class="dual-color1">자신에게 맞는</span> 수술법을 생각해보고 결정하는 것이 중요합니다.</p>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-1">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">유륜 주위 절개 가슴축소술</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        유륜 주위를 절개한 후 가슴 안의 조직을 줄이는 방법으로, 가슴의 크기가 너무 큰 경우가
					                        아니라면 이 방법으로 시술할 수 있습니다. 유두 주위만을 절개하기 때문에 흉터의 크기가 작고
					                        거의 티가 나지 않으며, 가슴의 기능을 거의 방해하지 않는다는 장점이 있습니다.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-2">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">수직 절개 가슴축소</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        유륜 아래로 약 4~5cm 정도를 절개하여 가슴 안의 조직을 줄이는 방법입니다. '오'자형 절개와
					                        유륜 주위 절개의 장단점을 보완하여 고안된 방법으로, 비교적 큰 가슴에도 시술이 가능하면서
					                        '오'자형 절개 방식보다 흉터 걱정도 줄인 방법이죠. 비교적 수술 시간이 짧아 회복도 빠르고
					                        가슴의 형태를 잡기에도 용이하다는 장점이 있으나, 이 방법 역시 약간의 흉터가 생길 수 있다는
					                        단점이 있습니다.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-3">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">'오'자형 절개 가슴축소술</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        가슴축소술의 가장 대표적 방법으로, 비교적 큰 가슴을 가진 경우나 가슴 처짐이 심한 경우 등
					                        거의 모든 케이스에도 가능한 수술법입니다. 수술 결과를 예측하기가 용이하고, 유두의 감각
					                        유지와 위치 이동이 가능하다는 장점이 있는 반면, 가슴 밑 선과 유두 아래에 수술 자국이
					                        생길 수 있기 때문에 흉터에 대한 거부감이 심한 경우라면 다른 방법을 생각해보아야 합니다.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-4">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">지방 흡입 가슴축소술</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        가슴의 지방을 흡입하여 가슴 크기를 줄이는 방법입니다. 전신 비만으로 인해 가슴 비대증이
					                        생긴 경우에는 가슴에 지방 조직의 비율이 높기 때문에 이 방법으로 뛰어난 효과를
					                        기대할 수 있습니다. 또한 시술 시간이 적고 흉터에 대한 부담이 거의 없기 때문에 흉터가 남는
					                        것에 대한 걱정이 큰 환자분들에게 적합한 방법으로 꼽힙니다. 하지만 가슴이 심하게 커 피부가
					                        많이 늘어난 경우에는 시술 후 가슴이 처져 보일 수 있다는 한계가 있습니다
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	              		</ul>
	           	 	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box5 box-style">
	            	<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								03
							</span>
						</span>
	              		<strong>같은 복부 비만</strong>이라도 <strong class="content-highlight2 type-dual">개인의 신체특징</strong>에 따라 <br class="hidden-m">
	              		그 상태는 다 다를 수 밖에 없습니다
	            	</h4><br>
		            <h5 class="dual-box5__subject">
		              	<span class="dual-color1">듀얼슬림</span> 중점 부위
		            </h5>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-5">
	                  			<div class="item-box3__box">
				                    <div class="item-box3__wrap">
				                      	<h6 class="item-box3__tit tit-v2">아랫배</h6>
				                      	<p class="item-box3__txt txt-v1">
				                        	대표적인 복부 비만의 형태입니다. 많은 양의 지방을 흡입하는 것을 목표로 하되,
				                        	살 처짐을 면밀히 계산하는 수술이 필요합니다.
				                      	</p>
				                    </div>
	                  			</div>
	                		</li>
			                <li class="item-box3__item nth-6">
			                  	<div class="item-box3__box">
			                    	<div class="item-box3__wrap">
			                      		<h6 class="item-box3__tit tit-v2">옆구리</h6>
			                      		<p class="item-box3__txt txt-v1">
			                        		정면에서 보았을 때 날씬한 실루엣을 망치는 부위로, 여성의 경우에
			                        		여성스러움을 강조할 수 있는 곡선을 살린 디자인이 중요합니다.
			                      		</p>
			                    	</div>
			                  	</div>
			                </li>
			                <li class="item-box3__item nth-7">
			                  	<div class="item-box3__box">
			                    	<div class="item-box3__wrap">
			                      		<h6 class="item-box3__tit tit-v2">허리</h6>
			                      		<p class="item-box3__txt txt-v1">
					                        오랜 지방이 축적되는 부위로, 한번 지방이 형성되면 쉽게 빠지지 않는
					                        특징이 있기 때문에  옆구리와 함께 전반적인 흡입이 필요합니다.
			                      		</p>
			                    	</div>
			                  </div>
			                </li>
	              		</ul>
	            	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box6 pop-info box-style">
	            	<div class="dual-box6__wrap">
	              		<div class="dual-box6__box">
	                		<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										04
									</span>
								</span>
			                  	<strong>적극적인 후 관리</strong>를 통해<br class="hidden-tm">
			                  	<strong class="content-highlight2 type-black">만족도</strong>를 더합니다
	                		</h4>
	                		<p class="content-section__txt1">
	                  			듀얼슬림 또한 기존 바디 성형과 마찬가지로 회복에 필요한 후 관리가 진행됩니다.
	                  			<a href="" class="info-btn js-info">
				                    <span class="info-btn__icon">인포버튼</span>
				                    바이오포톤
		                    		<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>바이오포톤</strong>이란?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/body/dual/body_dual_info-img.jpg" loading="lazy" alt="바이오포톤 이미지" class="info-desc__thumb">
													<span class="info-desc__txt1">
														바이오포톤은 백금과 다이아몬드의 나노 입자가
														결합된 신소재 PDP (Platinum Diamond Photon)를
														사용하여 만든 회복 관리용 전신 온열 기기입니다.
														PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을
														높여 면역력을 키우고 신체 유해 물질과 노폐물의
														배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
														적극적으로 분해하는 효과가 있습니다.
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												닫기
											</button>
										</span>
									</span>
	                  			</a>
		                  		과 마사지 프로그램 등 적극적이고 체계적인 후 관리를 통해
		                  		비교적 빠른 회복과 아름다운 가슴 형태를 잡는 데 도움을 드리고 있습니다.
	                		</p>
		                	<div class="quotation2">
		                  		<p class="quotation2__txt txt-v5">또한 <span class="dual-color3">바노바기 피부과와의 협진</span>으로<br> 수술 후 흉터를 더욱 세심하게 관리해드립니다</p>
		                	</div>
	              		</div>
	            	</div>
	            	<div class="dual-box6__img">
						<div class="after-style type-chest type-dual">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">수술 후 1개월</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">수술 후 6개월</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">수술 후 12개월</div>
								</li>
							</ul>
						</div>
	            	</div>
	       		</div>
	    	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">바노바기 듀얼슬림은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 3시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 8~15일 점차적으로 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 4~5회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
									팔을 과격하게 움직일 경우 통증이 생길 수 있습니다.<br>
									수술 부위에 접촉이 있을 경우 통증과 함께 흉터가 벌어질 가능성이 있으므로 조심해야 합니다.<br>
									지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		</div><!--//content-wrap-->
	</div>
	<!-- //Content -->
	
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
