<%
	type = "content"
	page = "body"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Quyết tâm mạnh mẽ để có thể tạo nên bước ngoặt cuộc đời</p>
				<h3 class="content-visual__tit"><span class="color-body1">#</span> Hút mỡ toàn thân</h3>
				<p class="content-visual__txt2"><strong>Đường cong cơ thể</strong> được cải thiện đồng thời</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
		   <div class="content-section type-first type-body-fat">
			 	<h4 class="content-section__tit type-center type-unique">
			   		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
					Chúng tôi luôn nỗ lực không ngừng vì chúng tôi hiểu rõ
			   		<strong class="color-body1">nỗi lo âu</strong> và <strong class="color-body1">mong ước tha thiết</strong> của khách hàng.
			 	</h4>
			 	<ul class="box-style1__list type-special">
			   		<li class="box-style1__item w-4">
				 		<div class="box-style1__img">
				  	 		<img src="../../images/body/body_fat_img02.jpg" loading="lazy" alt="" class="respon-img">
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8">
				 		<div class="box-style1__wrap">
				   			<p class="content-section__txt1 type-margin">
					 			Béo phì cần phải điều trị.<br>
								Béo phì rất khó để khắc phục chỉ với nỗ lực của cá nhân và vì béo phì cũng được coi như một chứng bệnh nên cần đến sự giúp đỡ của đội ngũ y bác sĩ có chuyên môn.
								Trong suốt 19 năm qua, chúng tôi đã tiến hành phẫu thuật hút mỡ cũng như điều trị cho các bệnh nhân béo phì.
								Chúng tôi hiểu các bệnh nhân trước khi tìm đến phòng tư vấn của chúng tôi thì đã phải nỗ lực nhiều biết bao nhiêu, và có nỗi lo âu lớn thế nào.
					 			<strong>Vì vậy, chúng tôi sẽ tư vấn sâu hơn và phân tích đến cả thể hình và kiểu sinh hoạt của từng bệnh nhân.</strong>
				   			</p>
				   			<p class="content-section__txt1">
					 			Hút mỡ khối lượng lớn của Banobagi không chỉ đơn thuần là phẫu thuật làm cho thân hình thon thả, mà còn mong muốn biến thành nguồn động lực giúp thay đổi cuộc sống của bệnh nhân.
					 			<span class="box-style1__point1 pop-info">
					 				Và cả sau khi phẫu thuật, chúng tôi hiện đang vận hành
							   		<span class="box-style1__info">
							   			<a href="" class="info-btn js-info ">
								   			<span class="info-btn__icon type-body-fat">인포버튼</span>
								   			Hệ thống Recall (Gọi lại)
								   			<span class="info-desc type-body-fat">
								   				<span class="info-desc__item">
									   				<span class="info-desc__box">
										   				<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Hệ thống Follow-up</strong> là gì?<br class="hidden-tm"></span>
										   				<span class="info-desc__content">
												   			<span class="info-desc__txt1">
																Banobagi hỗ trợ đa dạng các phương án khắc phục nếu size ngực không có sự thay đổi sau 6 tháng phẫu thuật.
															</span>
										   				</span>
									   				</span>
									   				<button class="info-desc__btn js-close">
										   				<span class="info-desc__stick type-left"></span>
										   				<span class="info-desc__stick type-another"></span>
														Đóng
									   				</button>
								   				</span>
							   				</span>
							   			</a>
								 	</span>để theo dõi sự thay đổi của quý khách hàng.
				 				</span>
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
		   	</div>
		   	<div class="content-section type-img">
			 	<ul class="box-style1__list type-another">
			   		<!-- //mobile img -->
			   		<li class="box-style1__item w-6">
				 		<h4 class="content-section__tit type-top">
				   			<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
				   			<strong>Hút mỡ toàn thân,</strong> <br>
				   			Phải tiến hành trong <span class="box-style1__point2">một lần</span>
				 		</h4>

				 		<!--mobile Img -->
				 		<div class="box-style1__item hidden-p">
				   			<div class="box-style1__img-m">모바일 이미지</div>
				 		</div>

				 		<p class="content-section__txt1">
				   			Lý do nhất định phải hút mỡ toàn thân đó là vì sự cân đối của toàn bộ cơ thể, tức là vì sự cân bằng (Balance). Nếu bạn chia phẫu thuật thành nhiều lần thì độ chính xác và sự hài lòng sẽ giảm xuống bởi khi bạn thực hiện phẫu thuật lần thứ hai hoặc lần thứ ba thì vẫn còn bị sưng do lần phẫu thuật trước đó.
				 		</p>
				 		<div class="box-style1__txt2">
				   			<div class="brace type-body-fat">
					 			<p class="brace__txt txt-v4">
									Hầu như không có cơ sở y tế nào có thể tiến hành
									phẫu thuật hút mỡ toàn thân chỉ <span class="color-body1">một lần,</span> trong <span class="color-body1">một ngày</span>.
					 			</p>
				   			</div>

				 		</div>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point3">Lý do là </strong> vì một lần phẫu thuật loại bỏ đi lượng mỡ lớn khoảng 8.000~10.000cc sẽ làm sức khỏe của bệnh nhân yếu đi. Những thay đổi đột ngột với các yếu tố trong cơ thể như chất điện giải và máu, v.v. có thể ảnh hưởng xấu đến cơ thể. Tuy nhiên, điều này hoàn toàn phụ thuộc vào năng lực của bác sĩ.
				 		</p>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point1">Bộ phận chuyên trách phẫu thuật chỉnh hình cơ thể của Banobagi thì khác.</strong>
				   			Tiến hành hút mỡ toàn thân chỉ trong một lần. Với kinh nghiệm và bí quyết lâu năm, Banobagi được trang bị kỹ thuật hút mỡ lượng lớn và không hề làm xuất huyết. Hơn nữa, bí quyết gây mê của Banobagi có khả năng kiểm soát thuần thục để điều chỉnh phù hợp với sức khỏe bệnh nhân. Thực tế trong suốt một khoảng thời gian dài, Banobagi đang tiến hành hút mỡ lượng lớn chỉ trong một lần mà không có bất cứ sự cố nào xảy ra.
				 		</p>
				 		<div class="box-style1__box">
				   			<div class="quotation2 type-body-fat">
					 			<p class="quotation2__txt type-big tit-v4">Độ dày giảm đi <strong class="color-body1">sau khi hút mỡ</strong></p>
					 			<p class="quotation2__txt txt-v5 type-margin">Bụng 8~15cm  &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;Đùi 5~10cm  &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;Cánh tay 4~8 cm</p>
				   			</div>
				 		</div>
				 		<p class="box-style1__txt3">※ Kết quả phẫu thuật có thể khác biệt đối với từng cá nhân. </p>
			   		</li>
			   		<!--pc Img -->
			   		<li class="box-style1__item hidden-tm">
				 		<div class="box-style1__img--bg type-special">
				   			<img src="../../images/body/body_fat_img03.jpg" loading="lazy" alt="">
				 		</div>
			   		</li>
			   		<!--pc Img -->
			 	</ul>
		   	</div>
		   	<div class="content-section type-body1">
			 	<ul class="box-style1__list type-another">
			   		<li class="box-style1__item w-4">
				 		<div class="content-wrap">
				   			<div class="box-style1__img--bg hidden-tm">
					 			<img src="../../images/body/body_fat_img04_.jpg" loading="lazy" alt="">
				   			</div>
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8 type-unique">
				 		<div class="type-upper">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
								Cần có sự <strong>hài hòa</strong> giữa
					 			khoa học, y học và <strong class="color-body1">thẩm mỹ học</strong>
				   			</h4>
				   			<div class="box-style1__img-m hidden-p type-another"></div>
				   			<p class="content-section__txt1">
					 			Đối với phẫu thuật hút mỡ, kỹ thuật đánh tan và hút mỡ là một lĩnh vực thuộc khoa học.  <br>
					 			Nếu sử dụng thiết bị có tính năng vượt trội một cách thích hợp thì có thể giảm thiểu mắc lỗi và mong đợi một cuộc phẫu thuật hiệu quả.
				   			</p>
				   			<p class="content-section__txt1 type-another">
					 			Tiếp đó, việc giảm thiểu tối đa thương tổn kết cấu mô là một lĩnh vực thuộc y học. <br>
					 			<strong class="box-style1__point1">Nếu có đội ngũ y bác sĩ nhiều kinh nghiệm và kiến thức y khoa phong phú tiến hành phẫu thuật thì có thể giảm tình trạng xuất huyết và giảm thương tổn đến kết cấu mô. </strong>
				   			</p>
				   			<p class="content-section__txt1">
								Giai đoạn cuối cùng khi hút mỡ là lĩnh vực thuộc thẩm mỹ học tạo ra đường cong tinh xảo và tạo hình đẹp mắt.
								Cảm quan của Banobagi sẽ giúp cải thiện trên cơ sở thấu hiểu lo âu của bệnh nhân về sự cân bằng cơ thể và thiết kế phù hợp với cá nhân từng bệnh nhân.
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
			 	<div class="way">
			   		<div class="way__wrap">
				 		<ul class="way__list">
				   			<li class="way__item nth-1">
					 			<p class="way__txt">
					   				Hút mỡ bằng <br>
					   				phương pháp chiếu Accusculpt Laser
					 			</p>
				   			</li>
				   			<li class="way__item nth-2">
					 			<p class="way__txt">
					   				Hút mỡ bằng <br>
					   				phương pháp chiếu Laser Plasma
					 			</p>
				   			</li>
				   			<li class="way__item nth-3">
					 			<p class="way__txt">
					   				Hút mỡ bằng <br>
					   				phương pháp Body Tight
					 			</p>
				   			</li>
				   			<li class="way__item nth-4">
					 			<p class="way__txt">
					   				Hút mỡ bằng <br>
					   				phương pháp chiếu Erchonia Laser
					 			</p>
				   			</li>
				   			<li class="way__item nth-5">
					 			<p class="way__txt">
					   				Hút mỡ bằng <br>
					   				phương pháp L-Pal
					 			</p>
				   			</li>
				   			<li class="way__item nth-6">
					 			<p class="way__txt">
					   				PAL<br>
					   				<span class="way__point">(Power Assisted Lipoplasty)</span>
					 			</p>
				   			</li>
				   			<li class="way__item nth-7">
					 			<p class="way__txt">
					   				Hút mỡ bằng phương pháp <br>
					   				chiếu Tumescent
					 			</p>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>
		   	<div class="content-section">
			 	<ul class="box-style1__list">
			   		<li class="box-style1__item w-12 type-unique">
				 		<div class="box-style1__people">
				   			<h4 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
					 			<strong class="box-style1__point2">An toàn</strong> và
					 			<strong>táo bạo</strong>
				   			</h4>
				 		</div>
				 		<p class="content-section__txt1 type-center">
							Nếu là hút mỡ cục bộ thì gây mê tĩnh mạch có thể phù hợp.
							Tuy nhiên, hút mỡ toàn thân phải tiến hành gây mê toàn thân. Bởi vì phải tiến hành phẫu thuật nhiều phần trong
							một lần và lượng mỡ phải hút ra rất nhiều. Hơn nữa, việc này cũng làm giảm bớt gánh nặng cho bệnh nhân.
							<br>
				   			<strong class="box-style1__point1 type-big">Banobagi có đội ngũ bác sĩ chuyên khoa gây mê luôn thường trú tại bệnh viện và đang hướng đến phẫu thuật an toàn. </strong><br>
				   			<strong>Vì vậy, có khả năng tiến hành phẫu thuật táo bạo có thể mang lại kết quả tốt hơn. </strong>
				 		</p>
			   		</li>
			 	</ul>
		   	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">전신지방흡입은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 4 tiếng - 5 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 1 ngày </p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">
											Quản lí sưng, bầm, mát xa khoảng 2 lần
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">
											Sinh hoạt bình thường sau khoảng 3 - 5 ngày
											<span class="inline-block">Hạn chế các hoạt động mạnh trong khoảng 1 tháng</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Nhờ gây mê toàn thân nên hầu như bệnh nhân không đau do phẫu thuật.
									Sau khi phẫu thuật có cảm giác sưng và có thể cảm thấy đau kiểu tê rát, và có thể giảm đau và sưng bằng cách chườm lạnh.
									Vì đây là phẫu thuật toàn thân nên có thể sẽ cảm thấy bất tiện khoảng 2~3 ngày trong sinh hoạt.
									Nhìn chung các vết bầm tím và triệu chứng đau sẽ giảm dần thông qua các chương trình quản lý sau phẫu thuật.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		   	<!--operation-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
