<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					Thân hình đẹp là một cơ thể cân đối, khỏe mạnh
				</p>
				<h3 class="detail__first-txt type-body">
					Đường line cơ thể đẹp của tôi<br>
					<strong class="detail__first-point"><span class="color-body1">Thẩm mỹ cơ thể</span> Banobagi chú trọng đến từng chi tiết</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h4 class="detail__section-tit">
						Thẩm mỹ Cơ thể<br class="hidden-tm">
					    <span class="color-body1">Phương pháp thẩm mỹ</span> của
						Banobagi
		            </h4>
					<p class="detail__section-subtit">
						Trang thiết bị tối tân được vận hành bởi Y bác sĩ chuyên môn
					</p>
					<p class="detail__section-txt color-body3">
						Bất kể trang thiết bị tốt như thế nào, nó sẽ không có ý nghĩa trừ khi được một chuyên gia giỏi sử dụng. Trên tất cả, điều quan trọng nhất của thẩm mỹ cơ thể là
						<span class="color-body1">“sự hiểu biết về sự cân bằng của cơ thể” </span>và <span class="color-body1">“kỹ năng chuyên môn của bác sĩ phẫu thuật” </span>qua nhiều năm kinh nghiệm.. Chuyên khoa thẩm mỹ cơ thể của Banobagi được thành lập và tích lũy kinh nghiệm phong phú từ năm 2000 đến nay. Sự gặp gỡ kết hợp hoàn hảo giữa trang thiết bị hiện đại và đội ngũ chuyên gia xuất sắc giúp bạn sở hữu một cơ thể đẹp và cân đối”.
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h4 class="detail__section-tit">
						Thẩm mỹ cơ thể
						Banobagi
						đã có <span class="color-body1">phương án cải thiện</span>
					</h4>
					<p class="detail__section-subtit">Không ngừng nỗ lực để tạo nên một cơ thể đẹp và cân đối</p>
					<p class="detail__section-txt">
						Tùy thuộc vào tiêu chuẩn thẩm mỹ và đặc trưng của từng bộ phận cơ thể mà phương pháp thẩm mỹ sẽ khác nhau. Vì vậy,  <span class="color-body1">thẩm mỹ cơ thể Banobagi không chỉ đơn thuần là loại bỏ lượng mỡ thừa mà còn có nhiều kỹ thuật đa dạng khác nhau như cấy ghép silicone, quản lí lượng mỡ trên từng bộ phận cơ thể, trẻ hóa thân hình</span>,... Việc phân tích cơ thể một cách khoa học thông qua máy kiểm tra phân tích thân thể, tư vấn trước phẫu thuật và xác định phương pháp điều trị phù hợp với từng cá nhân là lí do mang đến hiệu quả cao của Banobagi.
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">Hệ thống kiểm tra Trước-Sau phẫu thuật</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">Hệ thống kiểm tra Trước-Sau phẫu thuật</h5>
								<!-- <p class="detail-box__txt">
									체성분 분석, 골격근-지방, 비만진단, 신체균형,
  									부종지수, 내장지방과 성장곡선, 기초대사량, 생활습관평가
								</p> -->
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">Đa dạng các chương trình cải thiện hình dáng cơ thể.</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">Đa dạng các chương trình cải thiện hình dáng cơ thể.</h5>
								<!-- <p class="detail-box__txt">
									보형물 이식, 일상생활 가능한 비만관리시술,<br class="hidden-t"> 바디리프팅
								</p> -->
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
					<h4 class="detail__section-tit">
						Thẩm mỹ cơ thể<br class="hidden-tm">
						<span class="color-body1">Mục tiêu</span> của
						Banobagi
					</h4>
					<p class="detail__section-subtit">Giải phóng lượng mỡ lớn chỉ với một lần hút mỡ.</p>
					<p class="detail__section-txt color-body3">
						Việc giải phóng một lượng lớn mỡ thừa thường tránh làm trong một lần. Bởi vì nếu đột ngột tạo sự biến đổi sẽ gây nên tình trạng suy thoái cơ thể. Do đó, nếu cần hút một lượng mỡ lớn, cần phải chia ra làm nhiều lần thực hiện. Tuy nhiên, phương pháp này không mang hiệu quả về mặt kết quả hay thời gian. Bằng kỹ thuật của đội ngũ chuyên khoa thẩm mỹ cơ thể Banobagi
						<span class="color-body1">có thể loại bỏ lượng mỡ lớn chỉ với một lần thực hiện.</span> Banobagi có khả năng đồng thời mang lại kết quả cao nhưng vẫn đảm an toàn
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						Thẩm mỹ cơ thể,<br>
						Banobagi duy trì <span class="color-body1">lâu dài</span>
					</h4>
					<p class="detail__section-subtit">Banobagi giúp duy trì thân hình đẹp thêm lâu dài.ิ</p>
					<p class="detail__section-txt">
						Bệnh nhân đã hút mỡ hoặc từng trải qua một cuộc phẫu thuật thẩm mỹ cơ thể thường lo lắng về việc tăng cân trở lại hoặc cơ thể mất đi độ đàn hồi. Phẫu thuật thẩm mỹ cơ thể là bước khởi đầu giúp tạo đường nét đẹp cho cơ thể, sau đó bạn cần chủ động quản lí. Do đó, <span class="color-body1">Banobagi cung cấp các phương pháp điều trị sau phẫu thuật như chương trình quản lý chế độ ăn uống và các chương trình điều trị béo phì không phẫu thuật để duy trì hình dáng cơ thể và kết quả mong muốn trong thời gian lâu dài. </span>Giữ gìn cơ thể luôn thon gọn và khỏe mạnh là điều không phải dễ dàng, nhưng Banobagi sẽ hỗ trợ và giúp bạn!
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						Thẩm mỹ cơ thể<br class="hidden-tm">
						Banobagi
						thực hiện <span class="color-body1">chi tiết</span>
					</h4>
					<p class="detail__section-subtit">Chương trình Healing Scar - Hệ thống quản lí giảm thiểu nỗi lo lắng về sẹo.</p>
					<p class="detail__section-txt">
						Phẫu thuật thẩm mỹ giúp bạn sở hữu một thân hình đẹp. Tuy nhiên vấn đề sẹo sau phẫu thuật khiến bạn đánh mất tự tin.
						<span class="color-body1">Sự xuất hiện của sẹo sau phẫu thuật là điều không thể tránh khỏi.</span> Vì vậy, điều trị xóa sẹo cũng là một phần chính của phẫu thuật thẩm mỹ. Banobagi đã sáng tạo và phát triển chương trình trị sẹo “Healing Scar”, có khả năng điều trị đa dạng các loại sẹo như sẹo đỏ, sẹo lồi, sẹo nâu,…biến chúng trở lại thành làn da mịn màng như ban đầu.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
