<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-lifting">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-lifting">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Thân hình săn chắc khỏe mạnh</p>
						<h3 class="new-visual__tit">Căng da <span class="n-color-body2">cơ thể</span></h3>
						<p class="new-visual__txt">Dáng người mảnh mai được tạo nên nhờ độ đàn hồi</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Đường nét cơ thể rắn chắc</span></li>
							<li class="new-visual__item"><span>#Hồi phục tương đối nhanh</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-lifting">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI bodyS SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							Cần phải lấp đầy vị trí đã loại bỏ mỡ bằng
							<span class="n-color-body2">tính đàn hồi</span>.
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            Thông thường khi nhắc đến chỉnh hình cơ thể là mọi người thường nhớ đến các phương pháp quản lý chất béo như hút mỡ trước tiên. Thế nhưng, không phải chỉ đơn thuần giảm mỡ là có thể có được cơ thể quyến rũ. Một điều quan trọng tương đương với việc giảm mỡ đó là khả năng đàn hồi của cơ thể.
							<span class="color-black1">Cơ thể có tính đàn hồi tốt sẽ mang lại tỷ lệ thân thể đẹp, tạo ấn tượng về một cơ thể mảnh mai thon thả và tăng vẻ hấp dẫn cũng như khỏe mạnh của thân hình.</span>
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		Do đó, đối với trường hợp bị mất khả năng khôi phục của da do béo phì hay mang thai, và độ đàn hồi của da bị giảm xuống do lão hóa, hay da bị chảy xệ và có lớp mỡ dưới da thì phương pháp căng da cơ thể có thể giúp <span class="n-color-body2">cải thiện hiệu quả hơn làn da chảy xệ và mang lại thân hình đầy sức đàn hồi</span>.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/body/lifting/lifting_img_1.png" class="img-normal" loading="lazy" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-body">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">Phẫu thuật chỉnh hình vùng bụng</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-abdomen" class="new-tab__link">Phẫu thuật chỉnh hình vùng bụng</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-thigh" class="new-tab__link">Căng da bắp đùi</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-arm" class="new-tab__link">Căng da cánh tay</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-back" class="new-tab__link">Căng da lưng</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-abdomen is-active">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							Vấn đề chảy xệ vùng bụng do nhiều nguyên nhân đa dạng.
							Cần phải <strong class="weight-regular">nắm bắt một cách chính xác đặc điểm của từng cá nhân để cải thiện vấn đề này.</strong>
						</h4>
						<p class="new-style1__txt txt-new1">
							Vùng bụng chảy xệ là nỗi tự ti tiêu biểu nhất và cũng là nỗi băn khoăn lớn nhất của những con người sống trong thế giới hiện đại. Đặc biệt, vùng bụng chảy xệ do các nguyên nhân như béo phì, mang thai, lão hóa có phạm vi tương đối rộng, dễ đập vào mắt nên khó có thể cải thiện được nếu chỉ dựa vào sự cố gắng của bản thân. Trong trường hợp này, sử dụng phương pháp phẫu thuật chỉnh hình vùng bụng sẽ cho hiệu quả cải thiện tốt hơn.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Nhằm đạt được kết quả làm hài lòng hơn nữa, Banobagi nắm bắt kỹ lưỡng đặc điểm của từng cá nhân bệnh nhân như độ đàn hồi da, mức độ thu nhỏ cơ thẳng bụng, dạng thức phân bố mỡ, có sinh đẻ hay không, v.v. để <span class="n-color-body2">tiến hành phẫu thuật tạo hình vùng bụng tùy chỉnh</span> bằng phương thức thích hợp.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">Phẫu thuật chỉnh hình vùng bụng của Banobagi</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Mức độ hiểu biết về sự cân bằng cơ thể cao dựa trên kinh nghiệm hút mỡ trong nhiều năm
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Sử dụng thiết bị laze phù hợp với vùng bụng
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Phẫu thuật cắt mỡ ở da an toàn và chính xác hơn
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    Nếu mức độ không nghiêm trọng thì có thể <strong class="weight-regular">cải thiện tình trạng một cách tương đối đơn giản</strong> nhờ biện pháp laze và hút mỡ.
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    Nếu mức độ chảy xệ của vùng bụng chưa trầm trọng thì các thiết bị vừa hút mỡ vừa mang lại hiệu quả tăng độ đàn hồi cho da như
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											Belody Laser
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Belody là gì?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_1.jpg" loading="lazy" alt="Belody Laser" class="info-desc__thumb">
															<span class="info-desc__txt1">
																Belody là thiết bị laser tác động mạnh lên tầng hạ bì bằng cách chiếu laser vào sâu bên trong da, thúc đẩy tái tạo Collagen và Elastine. Chỉ với phương pháp tương đối đơn giản này, bạn cũng có thể kỳ vọng hiệu quả nâng cao độ đàn hồi của da, không cần rạch cắt, có ưu điểm là không phải lo ngại về việc để lại sẹo.
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														Đóng
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									<span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											Bodytite Laser
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Bodytight là gì?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="Bodytite Laser" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																Bodytight là loại laser mà bạn có thể trông đợi nhiều hiệu quả đồng thời như làm cô đặc mạch máu, hóa lỏng mỡ, làm săn chắc da bằng cách hút mỡ một cách hiệu quả. Có ưu điểm là vừa giảm những lo ngại khi phẫu thuật như xuất huyết, bầm, sưng, vừa giảm chảy xệ da một cách hiệu quả bằng điện cực trong và ngoài phát ra sóng cao tần.
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														Đóng
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									sẽ có thể giúp cải thiện tình trạng chảy xệ của vùng bụng. Nghĩa là việc hút mỡ chính xác theo đúng như mức độ mong muốn và tính đàn hồi của da sẽ được sử dụng đồng thời để ngăn ngừa hiện tượng chảy xệ.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    Phương pháp này có quá trình điều trị tương đối đơn giản nên <span class="n-color-body2">có điểm mạnh là giảm nỗi lo lắng về phẫu thuật hay sẹo và thời gian hồi phục sẽ nhanh hơn</span>.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">Thủ thuật hút mỡ + Căng da bằng laze</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="STEP 01" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_4.jpg" loading="lazy" alt="STEP 02" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hút mỡ
											chính xác hơn
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Phục hồi
											độ đàn hồi
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hồi phục tương đối
											nhanh và đơn giản
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Giảm nỗi lo
											về sẹo
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
									Nếu bị chảy xệ ở một mức độ nào đó
									thì <strong class="weight-regular">có thể nâng cơ sao cho phù hợp với kiểu phân bổ mỡ.</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
									Nếu bị chảy xệ ở một mức độ nào đó thì sẽ tiến hành nâng cơ sao cho phù hợp với kiểu phân bổ mỡ.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    Tuy nhiên, dù cùng là vùng bụng nhưng hình dáng sẽ khác nhau tùy theo đặc điểm cơ thể hay sự phân bổ của mỡ nên
									<span class="n-color-body2">phải lựa chọn căng da (lifting) hoặc phương pháp phù hợp với trạng thái để có thể mang lại kết quả hài lòng hơn</span>.
                                </p>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">Căng da toàn bộ vùng bụng</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_1.jpg" loading="lazy" alt="Vùng phẫu thuật" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Vùng phẫu thuật
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_2.jpg" loading="lazy" alt="Đường khâu" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Đường khâu
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										Cắt da từ vùng trên rốn xuống đến bụng dưới để cải thiện tình trạng chảy xệ bụng là phương thức điều trị thông thường. Đây là phương thức phù hợp với bệnh nhân quá cân khoảng 20% so với bình thường, và có thể thay đổi cả hình dạng và vị trí của rốn nếu cần thiết. Vết rạch dài hơn khi phẫu thuật sinh mổ nhưng vị trí vết rạch có thể được che đi khi mặc đồ lót hoặc quần áo bơi, và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">Căng da một phần vùng bụng</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_3.jpg" loading="lazy" alt="Vùng phẫu thuật" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Vùng phẫu thuật
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_4.jpg" loading="lazy" alt="Đường khâu" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Đường khâu
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										Đây là phương pháp phẫu thuật phù hợp với trường hợp chỉ có vùng bụng dưới bị chảy xệ, và vùng da ở vùng dưới rốn sẽ được rạch. Phương pháp này không gây ảnh hưởng đến hình dạng của rốn và có thể tiến hành gây mê cục bộ hoặc gây mê tĩnh mạch nên có ưu điểm là có thể xuất viện ngay trong ngày. Vết rạch tương tự như mức độ của phẫu thuật sinh mổ và vị trí vết rạch có thể được che đi khi mặc đồ lót hoặc quần áo bơi, và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">Căng da bụng ngược</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_5.jpg" loading="lazy" alt="Vùng phẫu thuật" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Vùng phẫu thuật
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_6.jpg" loading="lazy" alt="Đường khâu" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Đường khâu
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										Đây là phương pháp phẫu thuật thích hợp với tình trạng chảy xệ bụng trên, và vùng da phía dưới ngực sẽ được rạch và da bụng sẽ được kéo lên trên. Đây là loại hình tương đối hiếm nhưng có ưu điểm là tùy theo từng tình huống mà cũng có thể đồng thời tiến hành chỉnh hình ngực mà không cần phải rạch thêm. Vết sẹo sẽ được nếp nhăn dưới ngực che đi một cách tự nhiên và sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">Căng da bụng mở rộng</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_7.jpg" loading="lazy" alt="Vùng phẫu thuật" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Vùng phẫu thuật
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_8.jpg" loading="lazy" alt="Đường khâu" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Đường khâu
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										Nếu cạnh sườn bắt đầu từ vùng bụng bị chảy xệ thì có thể cải thiện đồng thời cả vùng bụng lẫn vùng bên hông bằng cách mở rộng phạm vi rạch khi dùng phương pháp căng da toàn vùng bụng thông thường. Cũng như thực hiện căng da toàn vùng bụng, khi phẫu thuật thì có thể cải thiện được hình dạng và vị trí của rốn và do việc phẫu thuật hút mỡ được tiến hành ở vùng rộng hơn nên có thể nâng cao được mức độ hoàn thiện của quá trình phẫu thuật. Vết sẹo để lại sẽ dài hơn so với sẹo căng da toàn vùng bụng một chút nhưng sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">Căng da bụng lập thể</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_9.jpg" loading="lazy" alt="Vùng phẫu thuật" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Vùng phẫu thuật
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_10.jpg" loading="lazy" alt="Đường khâu" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                Đường khâu
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										Trường hợp da bị chùng nhão nghiêm trọng do giảm nhiều trọng lượng cơ thể thì có thể cải thiện hiện tượng chảy xệ của da bằng cách rạch theo đường vòng eo nhằm cải thiện đường nét của vùng bụng một cách toàn diện. Do phương pháp này có thể giúp cải thiện được tình trạng chảy xệ một cách toàn diện như toàn bộ vùng bụng, hông, mông nên mang lại hiệu quả tương đối vượt trội. Tuy có để lại sẹo ở vòng quanh eo nhưng vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
									</p>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											Trường hợp thực hiện căng da thân thể cần phải rạch da thì nỗi băn khoăn lớn nhất của các bệnh nhân chính là vết sẹo sau khi phẫu thuật.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											Banobagi hợp tác điều trị với Khoa da liễu Banobagi để tiến hành <span class="n-color-body3">chương trình chữa lành sẹo Healing Scar Project</span> nên sẽ giúp <span class="n-color-body3">bệnh nhân quản lý vết sẹo sau phẫu thuật một cách kỹ lưỡng hơn nữa</span>.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 2 tiếng - 3 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê tĩnh mạch</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 10 - 14 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Khoảng 5 lần
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau khi phẫu thuật, có thể xuất hiện cảm giác đau nhói và cảm giác này sẽ giảm dần theo thời gian.<br>
										Ở vùng phẫu thuật sẽ có thể có cảm giác như bị kéo căng hơn so với bình thường.<br>
										Chỉ vùng đã tiến hành hút mỡ sẽ gây cảm giác hơi đau rát một chút.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-thigh">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							Chúng tôi cân nhắc đến <strong class="weight-regular">tỷ lệ chân</strong> tổng thể và <strong class="weight-regular">hình dáng</strong> tích tụ mỡ ở vùng bắp đùi.
						</h4>
						<p class="new-style1__txt txt-new1">
							Bắp đùi là vùng cơ thể dễ bị tập trung tích tụ mỡ, nên nếu sau khi giảm trọng lượng nhanh thì sẽ để lại hình dạng gồ ghề do độ đàn hồi của da bị giảm xuống tương đối nhiều.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Banobagi luôn cố gắng tính toán kỹ lưỡng tỷ lệ chân và lượng mỡ giảm đi khi thực hiện căng da bắp đùi để
							<span class="n-color-body2">tăng thêm độ đàn hồi cho da và cải thiện tạo thành đường nét đôi chân thẳng mượt mà</span>.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_5.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">Căng da bắp đùi Banobagi</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Mức độ hiểu biết về sự cân bằng cơ thể cao dựa trên kinh nghiệm hút mỡ trong nhiều năm
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Sử dụng thiết bị laze phù hợp với bắp đùi
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Phẫu thuật cắt mỡ ở da an toàn và chính xác hơn
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    Nếu mức độ không nghiêm trọng thì có thể
									<strong class="weight-regular">cải thiện tình trạng một cách tương đối đơn giản</strong> nhờ biện pháp laze và hút mỡ.
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    Nếu mức độ chảy xệ của vùng bắp đùi chưa trầm trọng thì có thể phẫu thuật hút mỡ để giảm đi phần mỡ không cần thiết. Các thiết bị vừa hút mỡ vừa mang lại hiệu quả tăng độ đàn hồi cho da như
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											Accusculpt Laser
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Accusculp là gì?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" loading="lazy" alt="Accusculpt Laser" class="info-desc__thumb">
															<span class="info-desc__txt1">
																Accusculp là thiết bị laser vừa lấy mỡ ra đồng thời vừa làm tăng độ đàn hồi của da. Đặc biệt, đây là thiết bị có thể điều chỉnh mức độ chính xác cao, sử dụng được trong hút mỡ nọng cằm, nọng má, và ngay cả nếp nhăn. Vì vậy sẽ đạt hiệu cao tốt hơn trong các ca có yêu cầu tạo ra đường nét sắc sảo như đùi.
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														Đóng
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									<span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											Bodytite Laser
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Bodytight là gì?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="Bodytite Laser" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																Bodytight là loại laser mà bạn có thể trông đợi nhiều hiệu quả đồng thời như làm cô đặc mạch máu, hóa lỏng mỡ, làm săn chắc da bằng cách hút mỡ một cách hiệu quả. Có ưu điểm là vừa giảm những lo ngại khi phẫu thuật như xuất huyết, bầm, sưng, vừa giảm chảy xệ da một cách hiệu quả bằng điện cực trong và ngoài phát ra sóng cao tần.
 															</span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														Đóng
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									sẽ có thể giúp cải thiện tình trạng chảy xệ của vùng bắp đùi. Đặc biệt, Accusculpt Laser là thiết bị có thể giúp thực hiện thủ thuật chính xác đến mức được sử dụng cả cho việc quản lý nếp nhăn trên mặt nên rất phù hợp để cải thiện đường nét hay tỷ lệ của bắp đùi một cách tự nhiên.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    Ngoài ra, phương pháp này có quá trình điều trị tương đối đơn giản nên <span class="n-color-body2">có điểm mạnh là giảm nỗi lo lắng về phẫu thuật hay sẹo và thời gian hồi phục sẽ nhanh hơn</span>.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">Thủ thuật hút mỡ + Căng da bằng laze</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="Thủ thuật hút mỡ + Căng da bằng laze" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_6.jpg" loading="lazy" alt="Thủ thuật hút mỡ + Căng da bằng laze" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hút mỡ
											chính xác hơn
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Phục hồi
											độ đàn hồi
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hồi phục tương đối
											nhanh và đơn giản
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Giảm nỗi lo
											về sẹo
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    Căng da bằng phẫu thuật là
									<strong class="weight-regular">đóng vai trò quan trọng trong việc cải thiện tình trạng chảy xệ phía trong bắp đùi.</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
									Phần bắp đùi nhìn chung thường có các cơ tập trung dày đặc ở phần phía trước và từ phía trong đến phía sau là nơi hình thành mỡ. Ngoài ra, sau khi giảm cân nhanh thì da bị mất tính đàn hồi nên thường chảy xệ về phía sau hoặc phía trong bắp đùi do trọng lực.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    Do đó, để căng da bắp đùi được hiệu quả thì phải tập trung vào việc
									<span class="n-color-body2">cải thiện phía trong bắp đùi và có cân nhắc đến tỷ lệ với phần phía trước bắp đùi</span>.
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">Căng da bắp đùi một phần</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_7.jpg" loading="lazy" alt="Căng da bắp đùi một phần" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														Đây là phương pháp có thể mang lại hiệu quả đối với hiện tượng chảy xệ phía trong bắp đùi. Với thiết kế tỉ mỉ kỹ lưỡng để bắp đùi không bị gồ ghề lồi lõm, phần da bị chảy xệ phía trong và mỡ dưới da sẽ được cắt thành hình bán nguyệt.<br><br>

														Vết cắt nằm ở vị trí có thể được che đi khi mặc đồ lót hoặc quần áo bơi và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">Căng da bắp đùi toàn phần</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_8.jpg" loading="lazy" alt="Căng da bắp đùi toàn phần" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														Trong trường hợp giảm nhiều cân thì có thể phát sinh tình trạng chảy xệ toàn bộ từ bắp đùi đến gối. Với trường hợp chảy xệ tương đối nghiêm trọng như thế này thì có thể kéo toàn bộ vùng da bắp đùi lên để tạo đường nét mảnh khảnh cho đôi chân qua phương pháp cắt toàn bộ phần phía sau của bắp đùi.<br><br>

														Mặc dù độ dài của vết rạch trên thực tế tương đối lớn nhưng do đây là vết rạch phía trong của bắp đùi nên không dễ nhận thấy bằng mắt thường và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											Trường hợp thực hiện căng da thân thể cần phải rạch da thì nỗi băn khoăn lớn nhất của các bệnh nhân chính là vết sẹo sau khi phẫu thuật.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											Banobagi hợp tác điều trị với Khoa da liễu Banobagi để tiến hành <span class="n-color-body3">chương trình chữa lành sẹo Healing Scar Project</span> nên sẽ giúp <span class="n-color-body3">bệnh nhân quản lý vết sẹo sau phẫu thuật một cách kỹ lưỡng hơn nữa</span>.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 10 - 14 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Khoảng 7 lần
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau khi phẫu thuật, có thể xuất hiện cảm giác đau nhói và cảm giác này sẽ giảm dần theo thời gian.<br>
										Ở vùng phẫu thuật sẽ có thể có cảm giác như bị kéo căng hơn so với bình thường.<br>
										Chỉ vùng đã tiến hành hút mỡ sẽ gây cảm giác hơi đau rát một chút.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-arm">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							Chúng tôi hướng đến việc
							<strong class="weight-regular">căng da tự nhiên</strong> trong đó có cân nhắc đến cấu trúc phức tạp của cánh tay.
						</h4>
						<p class="new-style1__txt txt-new1">
							Cánh tay là vùng lộ ra tương đối nhiều và thực hiện nhiều cử động đa dạng. Do vậy, điều quan trọng hơn cả trong việc cải thiện hiện tượng chảy xệ bắp tay đó là sự tự nhiên.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Banobagi lựa chọn phương pháp căng da cánh tay phù hợp với trạng thái chạy xệ bắp tay của từng cá nhân và cân nhắc đến đường nét lập thể của cánh tay một cách toàn diện từ phần vai trở xuống nên sẽ mang đến cho bạn <span class="n-color-body2">kết quả tự nhiên, hài lòng hơn</span>.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_9.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">Căng da cánh tay Banobagi</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Mức độ hiểu biết về sự cân bằng cơ thể cao dựa trên kinh nghiệm hút mỡ trong nhiều năm
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Sử dụng thiết bị laze phù hợp với bắp đùi
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Phẫu thuật cắt mỡ ở da an toàn và chính xác hơn
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    Nếu mức độ không nghiêm trọng thì có thể
									<strong class="weight-regular">cải thiện tình trạng một cách tương đối đơn giản</strong> nhờ biện pháp laze và hút mỡ.
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    Nếu mức độ chảy xệ của cánh tay chưa trầm trọng thì có thể phẫu thuật hút mỡ để giảm đi phần mỡ không cần thiết. Các thiết bị vừa hút mỡ vừa mang lại hiệu quả tăng độ đàn hồi cho da như
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											Accusculpt Laser
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Accusculp là gì?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" loading="lazy" alt="Accusculpt Laser" class="info-desc__thumb">
															<span class="info-desc__txt1">
																Accusculp là thiết bị laser vừa lấy mỡ ra đồng thời vừa làm tăng độ đàn hồi của da. Đặc biệt, đây là thiết bị có thể điều chỉnh mức độ chính xác cao, sử dụng được trong hút mỡ nọng cằm, nọng má, và ngay cả nếp nhăn. Vì vậy sẽ đạt hiệu cao tốt hơn trong các ca có yêu cầu tạo ra đường nét sắc sảo như đùi.
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														Đóng
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									<span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											Bodytite Laser
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>Laser Bodytight là gì?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="Bodytite Laser" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																Bodytight là loại laser mà bạn có thể trông đợi nhiều hiệu quả đồng thời như làm cô đặc mạch máu, hóa lỏng mỡ, làm săn chắc da bằng cách hút mỡ một cách hiệu quả. Có ưu điểm là vừa giảm những lo ngại khi phẫu thuật như xuất huyết, bầm, sưng, vừa giảm chảy xệ da một cách hiệu quả bằng điện cực trong và ngoài phát ra sóng cao tần.
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														Đóng
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									sẽ có thể giúp cải thiện tình trạng chảy xệ của vùng bắp tay. Đặc biệt, Accusculpt Laser là thiết bị có thể giúp thực hiện thủ thuật chính xác đến mức được sử dụng cả cho việc quản lý nếp nhăn trên mặt nên rất phù hợp để cải thiện đường nét hay tỷ lệ của cánh tay một cách tự nhiên.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    Ngoài ra, phương pháp này có quá trình điều trị tương đối đơn giản nên <span class="n-color-body2">có điểm mạnh là giảm nỗi lo lắng về phẫu thuật hay sẹo và thời gian hồi phục sẽ nhanh hơn</span>.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">Thủ thuật hút mỡ + Căng da bằng laze</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="Thủ thuật hút mỡ + Căng da bằng laze" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_10.jpg" loading="lazy" alt="Thủ thuật hút mỡ + Căng da bằng laze" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hút mỡ
											chính xác hơn
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Phục hồi
											độ đàn hồi
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Hồi phục tương đối
											nhanh và đơn giản
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											Giảm nỗi lo
											về sẹo
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    Căng da bằng phẫu thuật là
									<strong class="weight-regular">giúp cải thiện tình trạng chảy xệ của cánh tay từ phía trong.</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
									Phần bắp tay nhìn chung thường có các cơ tập trung dày đặc ở phần phía trước và từ phía trong đến phía sau là nơi hình thành mỡ. Ngoài ra, sau khi giảm cân nhanh thì da bị mất tính đàn hồi nên thường chảy xệ về phía sau hoặc phía trong bắp tay do trọng lực.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    Do đó, để căng da bắp tay được hiệu quả thì phải tập trung vào việc
									<span class="n-color-body2">phục hồi cảm giác lập thể toàn diện của cánh tay, giảm mỡ đồng thời cải thiện tình trạng chảy xệ ở phía trong cánh tay</span>.
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">Căng da cánh tay một phần</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_11.jpg" loading="lazy" alt="Căng da cánh tay một phần" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														Trường hợp tình trạng chảy xệ chỉ giới hạn ở vùng nách thì có thể cải thiện hiện tượng chảy xệ bằng cách rạch phần da bị chùng phía trong nách và mỡ dưới da rồi khâu lại.<br><br>

														Vết rạch nằm ở vị trí có thể được nếp nhăn nách che đi và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">Căng da cánh tay toàn phần</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_12.jpg" loading="lazy" alt="Căng da cánh tay toàn phần" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														Phương pháp phẫu thuật này cân nhắc đến vị trí rạch để che đi vết sẹo được nhiều nhất đồng thời vẫn đảm bảo được vẻ tự nhiên mà cánh tay vẫn tự do di chuyển được, giúp cắt và kéo phần da bị chảy xệ từ nách đến khuỷu tay.<br><br>
														Mặc dù độ dài của vết rạch trên thực tế tương đối lớn nhưng do đây là vết rạch phía trong của cánh tay nên không dễ nhận thấy bằng mắt thường và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											Trường hợp thực hiện căng da thân thể cần phải rạch da thì nỗi băn khoăn lớn nhất của các bệnh nhân chính là vết sẹo sau khi phẫu thuật.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											Banobagi hợp tác điều trị với Khoa da liễu Banobagi để tiến hành <span class="n-color-body3">chương trình chữa lành sẹo Healing Scar Project</span> nên sẽ giúp <span class="n-color-body3">bệnh nhân quản lý vết sẹo sau phẫu thuật một cách kỹ lưỡng hơn nữa</span>.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 3 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 10 - 14 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Không cần thiết
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau khi phẫu thuật, có thể xuất hiện cảm giác đau nhói và cảm giác này sẽ giảm dần theo thời gian.<br>
										Ở vùng phẫu thuật sẽ có thể có cảm giác như bị kéo căng hơn so với bình thường.<br>
										Chỉ vùng đã tiến hành hút mỡ sẽ gây cảm giác hơi đau rát một chút.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-back">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							Chúng tôi cân nhắc đến sự <strong class="weight-regular">cân bằng cơ thể</strong> một cách toàn diện để mang lại hiệu quả tốt hơn.
						</h4>
						<p class="new-style1__txt txt-new1">
							Lưng là bộ phận lớn nhất trên cơ thể nên dễ sinh ra hiện tượng chảy xệ. Đặc biệt, phụ nữ thường sử dụng áo ngực nên tình trạng chảy xệ càng trở nên rõ ràng hơn. Do vậy, để cải thiện tình trạng chảy xệ lưng một cách hiệu quả thì bác sỹ phẫu thuật cần phải có cảm giác và tầm nhìn rộng, cân nhắc đến cả sự cân bằng cơ thể một cách toàn diện.
						</p>
						<p class="new-style1__txt2 txt-new2">
							Với bí quyết và kinh nghiệm tạo hình cơ thể được tích lũy trong thời gian dài của mình, Banobagi sẽ
							<span class="n-color-body2">tiến hành căng da giúp phục hồi đường nét và sự cân bằng toàn diện của cơ thể</span>, mang lại hiệu quả tốt và sự hài lòng cho bệnh nhân.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_13.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">Căng da lưng Banobagi</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Mức độ hiểu biết về sự cân bằng cơ thể cao dựa trên kinh nghiệm hút mỡ trong nhiều năm
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Cảm giác và bí quyết cùng kết hợp lại để chỉnh hình cơ thể một cách toàn diện
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											Phẫu thuật cắt mỡ ở da an toàn và chính xác hơn
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
							<div class="img-style3 type-body type-narrow type-cling">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_before_1.jpg" loading="lazy" alt="BEFORE" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2 type-gray">
                                            <div class="img-style3__vertical">
                                                BEFORE
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_after_1.jpg" loading="lazy" alt="6 tháng sau khi phẫu thuật" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                6 tháng sau khi phẫu thuật
                                            </div>
                                        </div>
                                    </li>
                                </ul>
								<p class="img-style3__txt txt-new1">
									Do nắm bắt rõ tình trạng đàn hồi của da và mức độ chảy xệ của lưng khi tiến hành cắt da chùng nên có thể cải thiện được hiện tượng chảy xệ một cách toàn diện từ đường áo ngực đến nách, cạnh sườn, vùng phía trên mông. Vết rạch nằm ở vị trí dễ được đường áo ngực che đi và vết sẹo sẽ được quản lý làm mờ đi đến mức hầu như không nhìn thấy qua sự phối hợp điều trị với khoa da liễu của bệnh viện Banobagi.
								</p>
                            </div>
                        </div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											Trường hợp thực hiện căng da thân thể cần phải rạch da thì nỗi băn khoăn lớn nhất của các bệnh nhân chính là vết sẹo sau khi phẫu thuật.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											Banobagi hợp tác điều trị với Khoa da liễu Banobagi để tiến hành <span class="n-color-body3">chương trình chữa lành sẹo Healing Scar Project</span> nên sẽ giúp
											<span class="n-color-body3">bệnh nhân quản lý vết sẹo sau phẫu thuật một cách kỹ lưỡng hơn nữa</span>.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 2 tiếng - 3 tiếng</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Gây mê toàn thân</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
											<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 10 - 14 ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
											<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Không cần thiết
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 7 - 14 ngày</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Sau khi phẫu thuật, có thể xuất hiện cảm giác đau nhói và cảm giác này sẽ giảm dần theo thời gian.<br>
										Ở vùng phẫu thuật sẽ có thể có cảm giác như bị kéo căng hơn so với bình thường.<br>
										Chỉ vùng đã tiến hành hút mỡ sẽ gây cảm giác hơi đau rát một chút.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
