<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-obesity">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-obesity">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Giảm cân đơn giản hơn, nâng cao độ đàn hồi</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">Quản lý</span> và điều trị <span class="n-color-body2">béo phì</span></h3>
						<p class="new-visual__txt">Sự kết hợp của các bí quyết và nghiên cứu về thể hình béo phì trong thời gian dài</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#Tiêm Bodyfit</span></li>
							<li class="new-visual__item"><span>#Ulfit</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-obesity">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						Banobagi hướng đến việc <span class="n-color-body2">điều trị béo phì theo phương thức không phẫu thuật</span> chuyên biệt.
					</h4>
					<p class="new-style1__txt txt-new1">
						Trong số các bệnh nhân đang vướng phải nỗi băn khoăn về thân hình béo phì thì có nhiều trường hợp không thấy hiệu quả khi thực hiện các phương pháp ăn kiêng giảm cân thông thường hoặc khó duy trì liên tục các phương pháp ăn kiêng này. Do vậy, rốt cuộc là phải tìm đến các cơ sở y tế để điều trị bệnh béo phì. Theo đó, các cơ sở y tế chuyên về điều trị béo phì phải nắm bắt được tình trạng của các bệnh nhân này và đưa ra biện pháp điều trị đúng đắn dựa trên kiến thức chuyên môn về thể trạng béo phì.
					</p>
					<p class="new-style1__txt2 txt-new2">
						<span class="n-color-body2">Banobagi luôn hướng đến biện pháp điều trị và quản lý béo phì hiệu quả dựa trên các dữ liệu điều trị béo phì được tích lũy kể từ sau khi mở cửa vào năm 2000.</span>
						Chúng tôi không chỉ cân nhắc đến việc giảm mỡ mà còn xem xét đến cả việc điều chỉnh và duy trì thể hình theo đặc điểm của từng cá nhân cũng như ngăn ngừa tình trạng chảy xệ da sau khi giảm mỡ. Do đó, kết quả quản lý và điều trị béo phì mà Banobago mang lại cho bệnh nhân là một cơ thể vừa mảnh mai vừa săn chắc.
					</p>
					<div class="inner-circle type-body type-big type-bar">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									Cân nhắc
									đến cả tình trạng chảy xệ da
									và duy trì thể hình sau khi điều trị
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									Bí quyết điều trị
									dựa trên dữ liệu trị liệu béo phì
									đúc kết được
									trong thời gian dài
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									Nhạy cảm nắm bắt được
									đặc điểm thân thể của từng cá nhân
									cũng như hiểu về các
									đường nét cơ thể một cách toàn diện
								</div>
							</li>
					 	</ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/body/obesity/obesity_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-obesity2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style1 type-padding">
							<h5 class="new-content-tit tit-new2">Banobagi hướng đến quản lý và điều trị béo phì chuyên biệt hơn</h5>
							<ul class="img-style1__list type-merge">
								<li class="img-style1__item">
									<img src="../../images/body/obesity/obesity_img_2_1.jpg" class="img-w100" loading="lazy" alt="Nhóm chuyên phụ trách điều trị béo phì của Banobagi">
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/obesity/obesity_img_2_2.jpg" class="img-w100" loading="lazy" alt="Nhóm chuyên phụ trách điều trị béo phì của Banobagi">
								</li>
							</ul>
							<p class="img-style1__subject txt-new2">Nhóm chuyên phụ trách điều trị béo phì của Banobagi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="new-tab__line">line</div>
			<div class="new-tab type-body">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">Phẫu thuật chỉnh hình vùng bụng</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-bodyfit" class="new-tab__link">Tiêm Bodyfit</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-ulfit" class="new-tab__link">Ulfit</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-bodyfit is-active">
				<div class="new-section">
					<div class="new-style1 type-obesity3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Đây là <span class="n-color-body2">thủ thuật tiêm giúp phân giải chất béo</span> một cách trực tiếp hơn.
						</h4>
						<p class="new-style1__txt txt-new1">
							Tiêm Bodyfit là thủ thuật tiêm vào lớp mỡ với công thức phân giải mỡ do Banobagi tự sáng tạo ra. Dung dịch tiêm giúp phá hủy các tế bào mỡ xung quanh thông qua sự tác động mang tính khoa học và mỡ đã được phân giải theo thời gian sẽ được đào thải một cách tự nhiên ra ngoài cơ thể qua hệ bạch huyết. Do tiêm vào trực tiếp nên phương pháp này sẽ mang lại hiệu quả vượt trội ngay cả đối với mỡ tích tụ hay cellulite là những dạng mà các phương pháp ăn kiêng giảm cân thông thường không dễ gì làm tan được. Ngoài ra, với biện pháp này, chúng ta còn có thể mong đợi hiệu quả tăng độ đàn hồi cho làn da ở vùng thực hiện thủ thuật nên có thể cải thiện cơ thể thành thân hình mảnh mai, mượt mà hơn.
						</p>
						<div class="inner-box type-top">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">Phương pháp tiêm Bodyfit của Banobagi là gì?</h5>
								<div class="inner-circle type-body type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Hiệu quả vượt trội hơn
												ngay cả với mỡ tích tụ
												và cellulite
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Cải thiện
												đường nét cơ thể
												tự nhiên hơn
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												Tăng độ đàn hồi cho da
												sau khi giảm mỡ
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-half tablet-merge type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_3.jpg" class="img-w100" loading="lazy" alt="Đây là thủ thuật giúp giảm mỡ bằng cách tiêm trực tiếp vào lớp mỡ với công thức phân giải mỡ của Banobagi.">
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_4.jpg" class="img-w100" loading="lazy" alt="model">
									</li>
								</ul>
								<p class="img-style1__subject txt-new1">Đây là thủ thuật giúp giảm mỡ bằng cách tiêm trực tiếp vào lớp mỡ với công thức phân giải mỡ của Banobagi.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Đơn giản hơn và <span class="n-color-body2">hầu như không gây ra nhiều mối lo lắng</span>.
						</h4>
						<p class="new-style1__txt txt-new1">
							Như phần nào thấy được qua cái tên của phương pháp này, tiêm Bodyfit là một trong các thủ thuật tiêm vào vùng mong muốn trên cơ thể. Khác với các phương pháp phẫu thuật,
							<span class="color-black1">thủ thuật này không bóc tách làm tổn thương các mô hay rạch tạo thành sẹo nên bệnh nhân hầu như không phải lo lắng về tác dụng phụ hay khả năng hồi phục.</span> Hơn thế nữa, thời gian thực hiện thủ thuật cũng tương đối ngắn và gần như không bị đau nên có thể nói đây là phương pháp phù hợp với những con người bận rộn hiện đại hoặc người không muốn điều trị bằng các biện pháp phẫu thuật.
						</p>
						<div class="inner-circle type-body type-bar">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Quá trình thực hiện
										thủ thuật đơn giản hơn,
										thời gian thực hiện
										thủ thuật ngắn hơn.
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Hầu như không cần lo lắng
										về tác dụng phụ hay để lại sẹo
										với phương pháp
										điều trị béo phì không phẫu thuật
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Tiến hành đơn giản hơn,
										hầu như không đau và
										không cần gây mê
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Gần như không cần
										phải quản lý, điều trị thêm
										tại viện
									</div>
								</li>
							</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_5.png" loading="lazy" alt="model" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity5 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Có thể mang lại
							<span class="n-color-body3">hiệu quả điều chỉnh thân hình chính xác hơn</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							Một điểm mạnh nữa của thủ thuật tiêm Bodyfit là có thể cải thiện vùng mong muốn một cách tự nhiên hơn, không như các biện pháp ăn kiêng giảm cân thông thường làm giảm mỡ đồng thời trên toàn cơ thể. Mỗi cá nhân đều có vùng dễ tập trung mỡ hoặc dễ giảm mỡ riêng nên tiêm Bodyfit có thể trở thành phương án giúp cải thiện một bộ phận đặc thù nào đó trên cơ thể một cách có chọn lựa.
							<span class="color-white">Do vậy, bằng cách cân nhắc đến hình dạng tương đối của các bộ phận được kết nối với nhau để tập trung giảm mỡ của các bộ phận cần thiết với sự trợ giúp của thủ thuật tiêm Bodyfit, chúng ta sẽ có thể mong đợi hiệu quả điều chỉnh đường nét cơ thể chính xác hơn.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_6.jpg" loading="lazy" alt="model" class="img-w100">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
									Thủ thuật tiêm Bodyfit Banobagi có thể giúp <span class="n-color-body2">cải thiện một cách có chọn lọc</span> hầu như tất cả các bộ phận.
								</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_1.jpg" class="img-w100" loading="lazy" alt="Phía trong cánh tay">
										<p class="img-style1__subject txt-new1">Phía trong cánh tay</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_2.jpg" class="img-w100" loading="lazy" alt="Phía ngoài cánh tay">
										<p class="img-style1__subject txt-new1">Phía ngoài cánh tay</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_3.jpg" class="img-w100" loading="lazy" alt="Phía trong bắp đùi">
										<p class="img-style1__subject txt-new1">Phía trong bắp đùi</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_4.jpg" class="img-w100" loading="lazy" alt="Phía ngoài bắp đùi">
										<p class="img-style1__subject txt-new1">Phía ngoài bắp đùi</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_5.jpg" class="img-w100" loading="lazy" alt="Phía sau bắp đùi">
										<p class="img-style1__subject txt-new1">Phía sau bắp đùi</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_6.jpg" class="img-w100" loading="lazy" alt="Phía trước bắp đùi">
										<p class="img-style1__subject txt-new1">Phía trước bắp đùi</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_7.jpg" class="img-w100" loading="lazy" alt="Vú phụ">
										<p class="img-style1__subject txt-new1">Vú phụ</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_8.jpg" class="img-w100" loading="lazy" alt="Bên hông/Sau hông">
										<p class="img-style1__subject txt-new1">Bên hông/Sau hông</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_9.jpg" class="img-w100" loading="lazy" alt="Vùng bụng trên">
										<p class="img-style1__subject txt-new1">Vùng bụng trên</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_10.jpg" class="img-w100" loading="lazy" alt="Vùng bụng dưới">
										<p class="img-style1__subject txt-new1">Vùng bụng dưới</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_11.jpg" class="img-w100" loading="lazy" alt="Đường đầu gối">
										<p class="img-style1__subject txt-new1">Đường đầu gối</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_12.jpg" class="img-w100" loading="lazy" alt="Bắp chân">
										<p class="img-style1__subject txt-new1">Bắp chân</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 15 phút <span class="inline-block">(Khác nhau tùy thuộc vào bộ phận)</span></p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Không cần thiết</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Không cần thiết
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">Có thể sinh hoạt bình thường ngay</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Bệnh nhân có thể cảm thấy đau một chút nhưng không trầm trọng khi thực hiện thủ thuật tùy theo thể chất của mỗi người.<br>
										Sau khi thực hiện thủ thuật, cũng có trường hợp thấy xuất hiện một chút vết bầm ở vùng bị tiêm.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>

			<div class="new-tab-content page-ulfit">
				<div class="new-section">
					<div class="new-style1 type-obesity3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							Ulfit là thủ thuật laze vừa <span class="n-color-body2">giảm mỡ lại vừa tăng độ đàn hồi</span> cho làn da.
						</h4>
						<p class="new-style1__txt txt-new1">
							Ulfit là thủ thuật laze giúp đốt cháy mỡ dưới da ở vùng mong muốn bằng năng lượng sóng siêu âm mạnh hơn thông thường đồng thời làm tăng độ đàn hồi cho làn da bị chùng nhão. Phương pháp này gây kích thích cho lớp mỡ dưới da bằng năng lượng của sóng siêu âm và tạo ra khu vực đông đặc, làm thu nhỏ lại để giảm khoảng cách của mỡ. Thủ thuật này có hiệu quả với cả mỡ tích tụ và cellulite là những dạng khó cải thiện được bằng các phương pháp ăn kiêng giảm cân thông thường. Do vậy, nếu ai đang băn khoăn lo lắng về tình trạng chảy xệ da và mỡ khó giảm thì thủ thuật Ulfit có thể sẽ trở thành phương án cải thiện tốt.
						</p>
						<div class="inner-box type-top">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">Hiệu quả của thủ thuật Ulfit của Banobagi</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_7.jpg" class="img-w100" loading="lazy" alt="Ulfit ">
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_8.jpg" class="img-w100" loading="lazy" alt="Mỡ↑ Độ đàn hồi↓">
									</li>
								</ul>
								<p class="img-style1__subject txt-new1">Giảm lớp mỡ và tăng độ đài hồi bằng năng lượng của sóng siêu âm.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-section__wrap">
						<div class="new-style2">
							<h4 class="new-style2__tit tit-new1 weight-regular">
								<span class="n-color-body2">2 lần kéo căng</span> nên càng trở nên hiệu quả hơn.
							</h4>
							<p class="new-style2__txt txt-new1">
								Ulfit truyền tải năng lượng của sóng siêu âm hội tụ cường độ cao vào sâu trong da khoảng 6mm, 9mm. Nghĩa là phương pháp này không chỉ dừng lại ở việc kích thích ở độ sâu nông mà còn kéo 2 lần ở các độ sâu đa dạng hơn từ lớp trung bì đến cả lớp mỡ dưới da.
								<span class="color-black1">Vì vậy, Ulfit mang lại hiệu quả giảm mỡ tương đối vượt trội ngay cả với các bộ phận đặc biệt dày như vùng bụng hay bắp đùi, và có hiệu quả làm săn chắc đến mức có thể cảm nhận được rõ ràng sự khác biệt giữa trước và sau khi thực hiện thủ thuật.</span>
							</p>
							<div class="img-style1">
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_9.jpg" class="img-w100" loading="lazy" alt="">
										<p class="img-style1__subject txt-new1">Làm săn chắc với 2 lần kéo bằng cách truyền năng lượng của sóng siêu âm hội tụ cường độ cao vào độ sâu 6mm, 9mm!</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-section__wrap type-obesity">
						<div class="new-style2">
							<h5 class="new-content-tit tit-new2">
                                Quá trình thực hiện thủ thuật Ulfit
                            </h5>
							<div class="img-style3 type-inner">
	                            <ul class="img-style3__list">
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/obesity/obesity_img_10.jpg" loading="lazy" alt="01. Lớp mỡ dưới da và lớp trung bì hiện tại" class="img-w100">
	                                    </div>
	                                    <p class="img-style3__txt txt-new2">
											01. Lớp mỡ dưới da và lớp trung bì hiện tại
	                                    </p>
	                                </li>
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/obesity/obesity_img_11.jpg" loading="lazy" alt="02. Truyền năng lượng của sóng siêu âm hội tụ cường độ cao vào độ sâu 6mm, 9mm" class="img-w100">
	                                    </div>
										<p class="img-style3__txt txt-new2">
											02. Truyền năng lượng của sóng siêu âm hội tụ cường độ cao vào độ sâu 6mm, 9mm
	                                    </p>
	                                </li>
									<li class="img-style3__item">
									   <div class="img-style3__img">
										   <img src="../../images/body/obesity/obesity_img_12.jpg" loading="lazy" alt="03. Tạo ra khu vực đông đặc do nhiệt ở lớp mỡ dưới da và lớp trung bì và gây ra hiện tượng hoại tử đông" class="img-w100">
									   </div>
									   <p class="img-style3__txt txt-new2">
										   03. Tạo ra khu vực đông đặc do nhiệt ở lớp mỡ dưới da và lớp trung bì và gây ra hiện tượng hoại tử đông
									   </p>
								   </li>
								   <li class="img-style3__item">
									   <div class="img-style3__img">
										   <img src="../../images/body/obesity/obesity_img_13.jpg" loading="lazy" alt="04. Áp dụng để cải thiện độ đàn hồi cho da ở vùng bụng và bắp đùi là những bộ phận dày trên cơ thể." class="img-w100">
									   </div>
									   <p class="img-style3__txt txt-new2">
										   04. Áp dụng để cải thiện độ đàn hồi cho da ở vùng bụng và bắp đùi là những bộ phận dày trên cơ thể.
									   </p>
								   </li>
	                            </ul>
	                        </div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity5 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body3">Đơn giản hơn phẫu thuật</span> và hầu như không phải lo lắng.
						</h4>
						<p class="new-style1__txt txt-new1">
							Ulfit là thủ thuật laze theo phương thức không xâm lấn, không cần rạch hay bóc tách. Do vậy mà hầu như không cần phải lo lắng về vết sẹo hay triệu chứng đau do làm thủ thuật, cũng không cần thời gian để hồi phục. Hơn nữa, do có thể chiếu năng lượng liên tục qua đầu làm thủ thuật lớn nên thời gian thực hiện tương đối ngắn. Vì vậy, <span class="color-white">có thể nói đây là phương pháp phù hợp hơn với những con người bận rộn hiện đại hoặc người không muốn điều trị bằng các biện pháp phẫu thuật.</span>
						</p>
						<div class="inner-circle type-body2 type-bar">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Thời gian tiến hành
										thủ thuật tương đối ngắn
										với quy trình
										thủ thuật đơn giản hơn
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Hầu như không cần lo lắng
										về tác dụng phụ hay để lại sẹo
										với phương pháp
										điều trị béo phì không phẫu thuật
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Tiến hành đơn giản hơn,
										hầu như không đau
										và không cần gây mê
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										Gần như
										không cần phải quản lý,
										điều trị thêm tại viện
									</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_14.jpg" loading="lazy" alt="model" class="img-w100">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
									Có thể cải thiện đến cả các
									<span class="n-color-body2">bộ phận có lớp mỡ dày</span>
								</h5>
								<p class="img-style1__txt txt-new1">
									Ulfit là thủ thuật có khả năng ứng dụng cao, có các tia laze đạt đến lớp mỡ dưới da với độ sâu đa dạng. Đặc biệt, với đầu phát laze tương đối lớn, có thể truyền năng lượng đến nơi sâu hơn nên mang lại hiệu quả tốt đối với cả những bộ phận có lớp mỡ tương đối dày. Do vậy, Ulfit là thủ thuật phù hợp để điều chỉnh vùng bụng hay bên hông, bắp đùi cho mảnh mai và săn chắc hơn.
								</p>
								<ul class="img-style1__list type-half type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_15.jpg" class="img-w100" loading="lazy" alt="Bắp tay">
										<p class="img-style1__subject txt-new1">Bắp tay</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_16.jpg" class="img-w100" loading="lazy" alt="Vùng bụng/ Bên hông">
										<p class="img-style1__subject txt-new1">Vùng bụng/ Bên hông</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_17.jpg" class="img-w100" loading="lazy" alt="Bắp đùi">
										<p class="img-style1__subject txt-new1">Bắp đùi</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_18.jpg" class="img-w100" loading="lazy" alt="Bắp chân">
										<p class="img-style1__subject txt-new1">Bắp chân</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
											<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng <span class="inline-block">(Khác nhau tùy thuộc vào bộ phận)</span></p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
											<p class="operation-v2__txt txt-new1">Không cần thiết</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
											<p class="operation-v2__txt txt-new1">
												Không cần thiết
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
											<p class="operation-v2__txt txt-new1">
												Có thể sinh hoạt bình thường ngay
											</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Hầu như không có triệu chứng đau nên có thể thực hiện thủ thuật một cách tương đối thoải mái.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
										<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
