<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-zeltiq">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 간편하게 교정되는 바디 라인</p>
						<h3 class="new-visual__tit">냉동지방파괴술-<span class="n-color-body2">젤틱</span></h3>
						<p class="new-visual__txt">과학적 원리로 접근하는 비수술적 지방 감소</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#짧은시술시간</span></li>
							<li class="new-visual__item"><span>#편한시술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-zeltiq">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1">젤틱은<span class="n-color-body2"> 과학적인 원리에 근거</span>하는,<br class="hidden-tm"> 비만 치료 시술입니다</h4>
					 	<p class="new-style1__txt txt-new1">
					 		우리 몸의 지방 세포는 피부나 근육, 신경보다 차가운 온도에 더욱 민감하게 반응합니다.<br class="hidden-tm">
							이러한 사실에 근거하여 하버드 의과대학 연구진은 지방 세포만을 얼려 자연사 시키는 방식의 냉동지방파괴술(Cryolipolysis)을 고안했죠.<br><br>

							젤틱은 바로 이 냉동지방파괴술을 통해 비만을 치료하는 시술입니다.<br class="hidden-tm">
							젤틱의 냉각 에너지를 통해 결정화된 지방세포는 서서히 자연사하게 되고, 그렇게 분해된 지방은 림프 체계를 통해 배출되는 것이죠.<br class="hidden-tm">
							이 방법은 특수 조절된 냉각 에너지로 피부, 근육, 신경 등 다른 조직에는 손상을 가하지 않으면서 지방세포만을 선택하기 때문에<br class="hidden-tm">
							부작용 거의 없이 보다 안전하며, 운동이나 식이요법만으로는 빼기 어려운 축적지방이나 셀룰라이트에 효과적입니다.

					 	</p>
					 	<p class="new-style1__txt2 txt-new2">
					 		실제 젤틱은 전 세계적으로 100만 건 이상 시술되고 있으며,
							<span class="n-color-body2">미국 FDA, 유럽 CE, 국내 KFDA 등 어려 기관의 승인을 받은 검증된 시술</span>입니다.
					 	</p>
						<div class="inner-circle type-body type-small">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										미국 FDA<br> 승인
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										유럽 CE<br> 승인
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										국내 KFDA<br>승인
									</div>
								</li>
						 	</ul>
						</div>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/zeltiq/zeltiq_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
				<div class="new-style1 type-zeltiq2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style3 type-cling type-body type-three">
                            <h5 class="new-content-tit tit-new2">
                                효과와 안정성을 검증받은 젤틱의 원리
                            </h5>
							<div class="video-style1 type-zeltiq">
								<!--<a href="" class="video-style1__btn js-video-play">재생</a>
								<div class="video-style1__bg">썸네일</div>-->
								<iframe src="https://player.vimeo.com/video/323035260?loop=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;quality=1080p" class="video-style1__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
							</div>
                            <ul class="img-style3__list">
                                <li class="img-style3__item js-height">
                                    <div class="img-style3__img">
                                        <img src="../../images/body/zeltiq/zeltiq_img_2.jpg" loading="lazy" alt="젤틱의 특수 조절된 냉각 에너지를 통해 지방세포를 선택적으로 냉각" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new1">
                                        <div class="img-style3__vertical">
                                            젤틱의 특수 조절된 냉각 에너지를 통해 지방세포를 선택적으로 냉각
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item js-height">
                                    <div class="img-style3__img">
                                        <img src="../../images/body/zeltiq/zeltiq_img_3.jpg" loading="lazy" alt="세포자연사(apoptosis) 과정을 통해 자연적으로 지방세포 파괴" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new1">
                                        <div class="img-style3__vertical">
                                            세포자연사(apoptosis) 과정을 통해 자연적으로 지방세포 파괴
                                        </div>
                                    </div>
                                </li>
								<li class="img-style3__item js-height">
                                    <div class="img-style3__img">
                                        <img src="../../images/body/zeltiq/zeltiq_img_3.jpg" loading="lazy" alt="면역 조직에 의해 분해된 지방은 림프 체계를 통해 배출" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new1">
                                        <div class="img-style3__vertical">
                                            면역 조직에 의해 분해된 지방은 림프 체계를 통해 배출
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-zeltiq3">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body3">비교적 간편한 방법으로 진행</span>되어<br class="hidden-tm"> 부담이 거의 없습니다
						</h4>
					 	<p class="new-style1__txt txt-new1">
					 		젤틱은 비수술적 치료로, 절개나 주사가 필요 없는 시술입니다.<br class="hidden-tm">
							원하는 부위에 냉각 에너지를 전달해 줄 어플리케이터를 대고, 냉각 에너지를 쏘는 것으로 모든 시술은 끝난다고 할 수 있죠.<br class="hidden-tm">
							시술 과정에서 통증도 거의 발생하지 않기 때문에 마취가 필요하지 않고 편안히 앉거나 누워서 비교적 가볍게 시술받을 수 있습니다.<br class="hidden-tm">
							또, 한 달에 한 번 정도의 시술로도 지방층을 감소시키는 효과가 있기 때문에<br class="hidden-tm">
							병원에 자주 방문하기 어려운 바쁜 현대인들에게 보다 적합한 비만 치료 방법이라고 할 수 있습니다.
					 	</p>
						<div class="inner-circle type-body2 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										보다 간편한<br>
										시술 과정으로<br>
										비교적 짧은<br>
										시술 시간
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										비수술적<br>
										비만치료로<br>
										흉터나 부작용의<br>
										걱정 거의 없음
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										통증이 거의 없어<br>
										마취를 하지 않고<br>
										보다 편하게 진행
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										한 달에<br>
										한 번 정도의<br>
										시술로도 효과적
									</div>
								</li>
						 	</ul>
						</div>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/zeltiq/zeltiq_img_5.jpg" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-zeltiq4 type-bottom">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body2">거의 모든 부위</span>에 대한 개선이 가능합니다
						</h4>
					 	<p class="new-style1__txt txt-new1">
					 		젤틱의 핵심 원리인 냉동지방파괴술은 지방이 있는 부위라면 어디든 그 효과를 볼 수 있습니다.<br class="hidden-tm">
							따라서 젤틱은 신체 거의 모든 부위에 적용이 가능하며,<br class="hidden-tm">
							<span class="color-black1">원하는 부위에 대한 집중적인 지방층 감소 효과를 기대</span>할 수 있습니다.
					 	</p>
					</div>
					<div class="new-style1__img">
						<img src="../../images/body/zeltiq/zeltiq_img_6.jpg" class="img-normal" loading="lazy" alt="">
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">젤틱 시술 부위</h5>
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_7.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">이중턱</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_8.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">팔/부유방/겨드랑이</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_9.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">옆구리(러브핸들)/등(브라라인)</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_10.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">엉덩이</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_11.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">여유증</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_12.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">상복부, 하복부</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_13.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">바깥족 허벅지/안쪽허벅지</h6>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_14.jpg" class="img-w100" loading="lazy" alt="">
									<h6 class="img-style1__subject txt-new2">무릎, 종아리</h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-section__wrap">
					<div class="new-section__box">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							바노바기 젤틱은 <span class="n-color-body2">보다 효과가 뛰어납니다</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							젤틱은 각 신체 부위에 맞춤 시술이 가능하도록 다양한 형태의 어플리케이터를 제공하고 있습니다.
							시술 부위의 굴곡과 면적에 따라 적절한 형태의 어플리케이터를 사용해야 냉각 에너지를 효과적으로 전달할 수 있기 때문입니다.
							바노바기는 젤틱의 거의 모든 어플리케이터를 갖추고 있습니다.
							또, 오랜 <span class="color-black1">바디 성형 경험과 감각을 바탕으로 개개인의 체형과 각 신체 부위의 특징에 맞는 적절한 어플리케이터를 선택</span>하죠.
							때문에 바노바기 젤틱은 그 효과가 더욱 뛰어나며, 보다 정교하게 바디 라인 전체를 교정하는 맞춤형 시술이 가능합니다.
						</p>
						<div class="step-style3 type-half type-mt">
							<div class="step-style3__list">
								<div class="step-style3__wrap">
									<div class="step-style3__item">
										<div class="step-style3__img">
											<img src="../../images/body/zeltiq/zeltiq_img_15.jpg" class="img-w100" loading="lazy" alt="">
										</div>
										<div class="step-style3__box type-half">
											<p class="step-style3__txt txt-new1">
												개개인의 체형과 각 신체 부위의<br class="hidden-tm"> 특징을 고려하는 감각
											</p>
										</div>
										<div class="step-style3__box type-half">
											<p class="step-style3__txt txt-new1">
												다양한 <span class="n-color-body2">* 젤틱 어플리케이터</span>를 보유해
												시술 부위의 굴곡과 면적에 따른 선택
											</p>
										</div>
									</div>
								</div>
								<div class="step-style3__wrap">
									<div class="step-style3__item">
										<div class="step-style3__img">
											<img src="../../images/body/zeltiq/zeltiq_img_16.jpg" class="img-w100" loading="lazy" alt="">
										</div>
										<div class="step-style3__box">
											<p class="step-style3__txt txt-new1">
												보다 효과적인 맞춤형 시술
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="compare type-body type-tablet-full">
							<ul class="compare__list">
								<li class="compare__item type-before">
									<div class="compare__img">
										<img src="../../images/body/zeltiq/zeltiq_img_17.jpg" class="img-w100" loading="lazy" alt="">
									</div>
									<div class="compare__caption txt-new2"><span>BEFORE</span></div>
								</li>
								<li class="compare__item type-after">
									<div class="compare__img">
										<img src="../../images/body/zeltiq/zeltiq_img_18.jpg" class="img-w100" loading="lazy" alt="">
									</div>
									<div class="compare__caption txt-new2"><span>AFTER</span></div>
								</li>
							</ul>
							<p class="compare__txt txt-new2">
								1회 시술로 <span class="n-color-body2">약 25%의 지방층 감소</span>
							</p>
						</div>
					</div>
					<div class="new-section__box type-border">
						<div class="img-style4 type-cling">
							<h5 class="new-content-tit tit-new2">바노바기 젤틱 어플리케이터 확인하기</h5>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_19.jpg" loading="lazy" alt="CoolAdvantage™ (Upgrade)" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolAdvantage™ <span class="n-color-body2">(Upgrade)</span></h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">기존 쿨스무스 어플리케이터보다 대폭 단축된 시술시간 <span class="inline-block">(약 60분 → 약 35분)</span></li>
												<li class="img-style4__item">냉각 패널을 업그레이드하여 시술 후 얼얼한 느낌과 통증을 현저히 개선</li>
												<li class="img-style4__item">어플리케이터 전체로 냉각 패널이 확대되어 균일하게 시술되며 더 큰 효과 기대</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_20.jpg" loading="lazy" alt="CoolMini™ (Upgrade)" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolMini™ <span class="n-color-body2">(Upgrade)</span></h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">이중턱, 부유방, 무릎 등 국소부위 시술시 적합한 어플리케이터</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_21.jpg" loading="lazy" alt="CoolSmoothPRO™ (Upgrade)" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolSmoothPRO™ <span class="n-color-body2">(Upgrade)</span></h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">기존 쿨스무스 어플리케이터(-10도)보다 낮은 온도(-13도)를 이용해 시술시간 단축 <span class="inline-block">(약 120분 → 약 75분)</span></li>
												<li class="img-style4__item">트랩을 신체에 부착할 때 불편했던 부분 개선</li>
												<li class="img-style4__item">다른 어플리케이터와 달리 시술 부위를 흡입하지 않고 지방을 얼려주어 지방세포를 파괴</li>
												<li class="img-style4__item">허벅지 바깥쪽인 승마살이나 등, 복부 등 흡입이 안 되는 부위에 다용도로 적용 가능</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_22.jpg" loading="lazy" alt="CoolCore™" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolCore™</h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">하복부 시술 시 적합한 어플리케이터</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_23.jpg" loading="lazy" alt="CoolFit™" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolFit™</h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">허벅지 안쪽, 팔, 종아리 등 긴 지방이나 복부의 세로로 형성된 부위에 적합한 일자형 어플리케이터</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_24.jpg" loading="lazy" alt="CoolCurve+™" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolCurve+™</h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">기존 CoolCurve 업그레이드 버전</li>
												<li class="img-style4__item">러브핸들과 같이 몸의 굴곡진 부분에 적합한 어플리케이터</li>
												<li class="img-style4__item">남자 여성형 유방증 치료 시술에도 사용 가능</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="img-style4__wrap">
								<div class="img-style4__img">
									<img src="../../images/body/zeltiq/zeltiq_img_25.jpg" loading="lazy" alt="CoolMax™" class="img-w100">
								</div>
								<div class="img-style4__box">
									<div class="img-style4__outer">
										<div class="img-style4__inner">
											<h6 class="img-style4__subject txt-new2">CoolMax™</h6>
											<ul class="img-style4__list txt-new1">
												<li class="img-style4__item">주로 하복부의 넓게 분포된 지방 부위 시술에 적합한 어플리케이터</li>
												<li class="img-style4__item">약 2.5배 지방 부피를 한 번에 시술 가능</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-zeltiq5 type-bottom">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1">바노바기는 <span class="n-color-body2">후 관리를 통해</span><br class="hidden-tm"> 만족도를 더합니다</h4>
					 	<p class="new-style1__txt txt-new1">
					 		젤틱은 냉각 에너지를 통해 지방을 파괴하는 것도 중요하지만, 그만큼 파괴된 지방을 체외로 배출하는 과정도 중요합니다.<br class="hidden-tm">
							또, 체내의 지방 축적은 언제든 다시 일어날 수 있기 때문에 시술 후 날씬해진 몸매를 지속적으로 유지하기 위한 관리 또한 중요하죠.<br class="hidden-tm">
							<span class="color-white">바노바기는 보다 체계적인 시술 후 관리 시스템을 갖추어 ‘파괴된 지방의 원활한 배출’과 ‘꾸준한 체형 유지’ 이 두 가지 목표를 위해 노력합니다.</span>
							<br class="hidden-tm">
							젤틱 후 바이오포톤, 체외 충격파 등의 관리 프로그램을 통해 혈액순환과 림프순환을 촉진시키고,<br class="hidden-tm">
							개개인에 맞는 추가적인 비만치료와 지속적인 모니터링을 통해 체형 유지를 추구하죠.<br class="hidden-tm">
							그래서 바노바기 젤틱은 더욱 오래도록 만족스럽습니다.
					 	</p>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/zeltiq/zeltiq_img_26.jpg" class="img-normal" loading="lazy" alt="">
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">만족도를 더하는 바노바기의 체계적인 후 관리 시스템</h5>
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_27.jpg" class="img-w100" loading="lazy" alt="">
									<p class="img-style1__subject txt-new1">바이오포톤, 체외 충격파 등 혈액순환과 림프순환을 촉진시키는<br class="hidden-tm"> 관리 프로그램을 통해 파괴된 지방 원활히 배출</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/zeltiq/zeltiq_img_28.jpg" class="img-w100" loading="lazy" alt="">
									<p class="img-style1__subject txt-new1">종합적인 비만 진료 시스템을 갖춰 개개인에 맞는 비만치료<br class="hidden-tm"> 병행과 지속적인 모니터링을 통해 시술 후 체형 유지</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30분 (부위에 따라 다름)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">빠른 일상 생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									체질에 따라 시술 시 약간의 통감이 있을 수 있지만, 심하진 않습니다.<br>
									시술 후 몇 시간 동안은 시술받은 부위가 빨갛게 보일 수 있습니다.<br>
									약 1주 동안은 피부감각이 둔화되거나 딱딱한 느낌이 들 수 있으나 시간이 지나면 사라집니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-obesity">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">비만관리 및 치료</h5>
									<p class="bg-style2__txt txt-new1">
										바디핏주사나 울핏과 같은 비수술적 비만치료 방법과 전문의의 비만관리가 <br class="hidden-tm">
										더해지면 보다 효과적인 체형 개선이 가능합니다
									</p>
									<a href="bodyObesity.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>보톡스 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
