<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-hip">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">탄력과 볼륨을 더해줄 수 있는 다양한 접근</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">엉덩이</span> 성형</h3>
						<p class="new-visual__txt">자연스러운 곡선이 돋보이는 탄력적인 엉덩이</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#보형물삽입술</span></li>
							<li class="new-visual__item"><span>#엉덩이리프팅</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						이상적인 엉덩이는  <span class="n-color-body2">매력적인 신체 비율</span>을 만듭니다
					</h4>
					<p class="new-style1__txt txt-new1">
						예로부터 엉덩이는 가슴과 함께 여성적인 매력을 어필하는 대표적인 부위로 인식되어 왔습니다.<br class="hidden-tm">
						특히 최근에는 건강함이 느껴지는 육감적인 몸매를 만드는 데 엉덩이가 중요한 역할을 한다고 알려지면서,<br class="hidden-tm">
						스쿼트나 골반 교정 같은 운동 요법과 함께 엉덩이 성형에 대한 관심도 급증하고 있죠.<br><br>
						그렇다면 왜 엉덩이가 매력적인 몸매를 만드는 데 중요할까요?<br class="hidden-tm">
						엉덩이는 <span class="color-black1">다리와 허리 사이에 위치하면서 몸의 전반적인 라인을 결정</span>하게 됩니다.<br class="hidden-tm">
						적당한 볼륨감을 가진 엉덩이는 상대적으로 허리를 더욱 날씬해 보이게 해주며, 전체적인 곡선미를 느끼게 해주죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						적당한 <span class="n-color-body2">볼륨감을 가진 엉덩이</span>는 상대적으로 허리를 더욱 날씬해 보이게 해주며, <span class="n-color-body2">전체적인 곡선미</span>를 느끼게 해주죠.<br class="hidden-tm">
						또, <span class="n-color-body2">탄력적으로 올라붙은 엉덩이</span>는 다리를 더욱 길어 보이게 하기 때문에 <span class="n-color-body2">신체 비율</span> 또한 좋아 보이게 됩니다.
					</p>
					<div class="inner-circle type-body type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									건강하고<br> 육감적인<br> 매력 어필
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									전반적인<br> S라인 결정
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									허리를 더욱<br> 날씬해 보이게<br> 하는 적당한<br> 볼륨감
								</div>
							</li>
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									다리가 더욱<br> 길어질 수 있도록<br> 올라붙은<br> 탄력
								</div>
							</li>
					 	</ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/body/hip/hip_img_1.jpg" loading="lazy" alt="엉덩이성형 시술 환자" class="img-normal">
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-hip">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-body2">볼륨</span>으로 곡선을 만들고<br>
                        <span class="n-color-body2">탄력</span>으로 올려야 합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        엉덩이 성형에서 핵심 목표는 볼륨 증가와 탄력의 개선입니다.<br class="hidden-tm">
						부족한 엉덩이의 볼륨을 증가시켜 형태적으로 아름다운 곡선을 만들고, 처진 엉덩이에 탄력을 더하여 곡선의 위치를 위로<br class="hidden-tm">
						끌어올리는 것이죠. 물론 개개인에 따라 체형과 엉덩이의 상태가 다르고 추구하는 바 또한 다르기 때문에, 획일화된 방법으로는<br class="hidden-tm">
						그 핵심 목표에 맞는 효과적인 엉덩이 성형을 기대할 수 없습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        그래서 바노바기는 이 두 가지 핵심 목표를 생각하여 다양한 성형 방법들을 제안합니다.<br class="hidden-tm">
						볼륨감과 탄력을 개선할 수 있는 다양한 방법들 중 <span class="n-color-body2">개인에게 적합한 방법을 적용하기 때문에<br class="hidden-tm"> 보다 효과적이고 만족스럽습니다.</span>
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-body">
                            <h5 class="new-content-tit tit-new2">
                                바노바기  <span class="weight-regular">엉덩이 성형</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/body/hip/hip_img_2.jpg" loading="lazy" alt="엉덩이 보형물 삽입술" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            엉덩이 보형물 삽입술
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/body/hip/hip_img_3.jpg" loading="lazy" alt="엉덩이 리프팅" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            엉덩이 리프팅
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="new-tab type-body">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-fat" class="new-tab__link">엉덩이 지방이식술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-prosthesis" class="new-tab__link">엉덩이 보형물 삽입술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-lifting" class="new-tab__link">엉덩이 리프팅</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-fat is-active">
				<div class="new-section">
					<div class="new-style1 type-bottom type-hip2">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							보형물 삽입에 거부감이 있는 경우라면<br class="hidden-tm">
							<span class="n-color-body2">자가지방이식</span>을 생각해볼 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							보형물에 거부감이 있거나 약간의 엉덩이 볼륨이 아쉬워 보형물의 삽입까지는 부담스러운 경우라면 지방이식을 생각해볼 수 있습니다.<br class="hidden-tm">
							엉덩이 아래가 빈약하거나 고관절 부위의 함몰 등 형태적인 개선이 필요한 경우에 더욱 효과적인 방법이죠.<br class="hidden-tm">
							그리고 자가 지방을 이용하는 방법이기 때문에 심리적, 신체적 거부감이 거의 없고 더욱 자연적인 개선이 가능하다는 장점이 있습니다.<br><br>
							원래 지방이식은 시술 결과가 생착률에 영향을 많이 받아 그 변화량이 크지 않고 정확한 결과 예측이 쉽지 않다는 단점이 있지만,<br class="hidden-tm">
							엉덩이는 타 부위에 비해 혈액의 순환이 좋고 근육이 풍부하기 때문에 지방이식의 효과가 비교적 좋습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							또, 바노바기는 단순 지방을 이식하는 것이 아닌 세포 단위의 지방을 추출하여 이식하기 때문에
							<span class="n-color-body2">보다 높은 생착률을 통한 비교적 뛰어난 효과와 지속력</span>을 기대할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/hip/hip_img_4.jpg" loading="lazy" alt="" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="new-description type-pd0">
								<h5 class="new-content-tit type-description tit-new2">바노바기 스페셜 <strong class="weight-regular">엉덩이 지방이식</strong></h5>
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											전체적인 볼륨 증가와 빈약한 부분의 집중적인 개선이 가능하여 미세한 엉덩이 형태 개선에 유리
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											비교적 자연적인 개선법으로 심리적, 신체적 거부감 거의 없음
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											이식된 지방의 생착률이 올라가 보다 뛰어난 효과와 지속력
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="bg-style1 type-hip type-no-border">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<h4 class="bg-style1__tit tit-new1">
											<span class="n-color-body3">바노바기 지방이식</span>은<br> 왜 더욱 효과적일까?
										</h4>
										<a href="/svf/svfTransplant.php" class="bg-style1__btn txt-new1">
											바노바기 줄기세포 지방이식 알아보기
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 3일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										미세한 주사기 사용으로 통증이 거의 없습니다.<br>
										주입되는 지방의 양에 따라 팽창감이 느껴질 수 있습니다.<br>
										이식된 지방의 효과적인 생착을 위해 금연과 금주, 충분한 휴식이 필요합니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/injection.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
			<div class="new-tab-content page-prosthesis">
				<div class="new-section">
					<div class="new-style1 type-bottom type-hip2">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body2">보형물 삽입</span>은 생각보다 더욱 <span class="n-color-body2">안전</span>하며<br class="hidden-tm">
							그 효과 또한 비교적 뛰어납니다
						</h4>
						<p class="new-style1__txt txt-new1">
							엉덩이 보형물 삽입술은 엉덩이의 볼륨이 부족한 환자분들에게 적합한 방법으로, 적절한 크기의 보형물을 둔부 근육 내에 삽입하는 수술입니다.<br class="hidden-tm">
							보형물이 둔부 근육 내에 위치하기 때문에 외부에서 보형물이 보이거나 만져지는 것을 방지하면서도 보다 안전하게 엉덩이의<br class="hidden-tm">
							볼륨을 증가시킬 수 있죠.<br class="hidden-tm">
							삽입되는 보형물은 엉덩이에 가해지는 충격과 움직임을 고려하여 제작되기 때문에 내부에서 터지거나 흘러내리는 등의<br class="hidden-tm">
							부작용 또한 걱정할 필요가 거의 없습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							전문의의 기술과 감각으로 <span class="n-color-body2">둔부 근육의 두께를 정확히 유지하면서 보형물을 적절히 위치시키는 것이 핵심</span>이며,
							엉덩이 골 사이 절개를 통해 진행되기 때문에 수술의 흔적 또한 거의 보이지 않습니다.
						</p>
						<div class="inner-box">
	                        <div class="img-style3 type-cling type-body">
	                            <h5 class="new-content-tit tit-new2">
	                                바노바기 <span class="weight-regular">엉덩이 보형물 삽입술</span>
	                            </h5>

	                            <ul class="img-style3__list">
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/hip/hip_img_5.jpg" loading="lazy" alt="POINT 01 둔부 근육 내 삽입으로 보형물이 만져지거나 보이는 것을 방지" class="img-w100">
	                                    </div>
	                                    <div class="img-style3__caption txt-new2">
	                                        <div class="img-style3__vertical">
	                                            POINT 01
	                                        </div>
	                                    </div>
										<p class="img-style3__txt2 txt-new1">둔부 근육 내 삽입으로 보형물이 만져지거나 보이는 것을 방지</p>
	                                </li>
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/hip/hip_img_6.jpg" loading="lazy" alt="POINT 02 엉덩이에 가해지는 충격과 움직임을 고려한 전용 보형물 사용으로 부작용 걱정 거의 없음" class="img-w100">
	                                    </div>
	                                    <div class="img-style3__caption txt-new2">
	                                        <div class="img-style3__vertical">
	                                            POINT 02
	                                        </div>
	                                    </div>
										<p class="img-style3__txt2 txt-new1">엉덩이에 가해지는 충격과 움직임을 고려한 전용 보형물 사용으로 부작용 걱정 거의 없음</p>
	                                </li>
									<li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/hip/hip_img_7.jpg" loading="lazy" alt="POINT 03 엉덩이 골 안쪽 절개로 흉터가 거의 보이지 않음" class="img-w100">
	                                    </div>
	                                    <div class="img-style3__caption txt-new2">
	                                        <div class="img-style3__vertical">
	                                            POINT 03
	                                        </div>
	                                    </div>
										<p class="img-style3__txt2 txt-new1">엉덩이 골 안쪽 절개로 흉터가 거의 보이지 않음</p>
	                                </li>
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/hip/hip_img_8.jpg" loading="lazy" alt="POINT 04 둔부 근육의 두께를 고르게 유지하는 기술과 보형물의 적절한 위치를 찾는 감각으로 더욱 효과적인 볼륨 증가"
											class="img-w100">
	                                    </div>
	                                    <div class="img-style3__caption txt-new2">
	                                        <div class="img-style3__vertical">
	                                            POINT 04
	                                        </div>
	                                    </div>
										<p class="img-style3__txt2 txt-new1">둔부 근육의 두께를 고르게 유지하는 기술과 보형물의 적절한 위치를 찾는 감각으로 더욱 효과적인 볼륨 증가</p>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
					</div>
				</div>

				<div class="new-section">
					<div class="new-section">
						<div class="bg-style1 type-body">
							<div class="bg-style1__wrap">
								<div class="bg-style1__area">
									<div class="bg-style1__outer">
										<div class="bg-style1__box">
											<p class="bg-style1__txt txt-new2">
												피부 절제가 필요한 엉덩이 보형물 삽입술의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm">
	                                            수술 후 흉터에 대한 것입니다.
											</p>
											<h4 class="bg-style1__tit tit-new4">
												바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
												<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										엉덩이에 보형물로 인한 팽창감이 들 수 있습니다.<br>
										약 1주 정도는 엎드려서 자야 하는 불편함이 있지만 보형물이 안전히 자리 잡아 볼륨이 증가되는 데 효과적입니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
			<div class="new-tab-content page-lifting">
				<div class="new-section">
					<div class="new-style1 type-bottom type-hip2">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							약간의 처짐은 <span class="n-color-body2">레이저 리프팅</span>을 통해<br class="hidden-tm">
							개선할 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							엉덩이에 <span class="n-color-body2">어느 정도의 볼륨은 있지만 약간의 처짐이 신경 쓰이는 경우</span>라면 레이저 리프팅이
							좋은 방법이 될 수 있습니다.<br><br>
							<span class="pop-info type-body">
								<a href="" class="info-btn js-info">
									<span class="info-btn__icon">인포버튼</span>
									벨로디 레이저나
									<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>벨로디 레이저란?</span>
												<span class="info-desc__content">
													<img src="../../images/body/lifting/lifting_info_1.jpg" loading="lazy" alt="벨로디레이저 장비" class="info-desc__thumb">
													<span class="info-desc__txt1">
														벨로디는 피부 속에서 레이저를 조사하는 방식으로 진피층을
														강하게 자극하여 콜라겐과 엘라스틴을 재생시켜주는 원리의
														레이저 장비입니다. 비교적 간편한 방법으로 피부 탄력 증진
														효과를 기대할 수 있으며 절개가 필요하지 않기 때문에 흉터에
														대한 부담이 거의 없다는 장점이 있습니다.
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left">태블릿 닫기</span>
												<span class="info-desc__stick type-another">태블릿 닫기</span>
												닫기
											</button>
										</span>
									</span>
								</a>
							</span>
							 <span class="pop-info type-body">
								<a href="" class="info-btn js-info">
									<span class="info-btn__icon">인포버튼</span>
									바디타이트 레이저는
									<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>바디타이트 레이저란?</span>
												<span class="info-desc__content">
													<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="바디타이트 레이저 장비" class="info-desc__thumb">
													<span class="info-desc__txt1">
														바디타이트는 보다 효과적인 지방흡입술로 혈관의 응고, 지방의
														액화, 스킨 타이트닝의 효과를 동시에 기대할 수 있는 레이저
														장비입니다. 내부와 외부 전극을 통해 고주파를 전달해줌으로써
														피부 처짐을 보다 효과적으로 보완할 수 있으며 출혈과 멍, 부기와
														같은 수술적 부담이 비교적 적다는 장점이 있습니다.
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left">태블릿 닫기</span>
												<span class="info-desc__stick type-another">태블릿 닫기</span>
												닫기
											</button>
										</span>
									</span>
								</a>
							</span>
							탄력 강화를 통한 리프팅 효과가 있으며,
							필요한 경우 지방 흡입이 더해질 수 있기 때문에 보다 효과적인 힙업 효과를 기대할 수 있죠.
							또, 통증이나 회복기간에 대한 부담이 적고 흉터 걱정 또한 거의 없기 때문에 비교적 간편하게 생각해볼 수 있다는 장점이 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/hip/hip_img_9.jpg" loading="lazy" alt="" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="new-description type-pd0">
								<h5 class="new-content-tit type-description tit-new2">바노바기 <strong class="weight-regular">엉덩이 레이저 리프팅</strong></h5>
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											엉덩이 진피층을 포함한 리프팅 효과
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											비교적 간편한 시술로 통증이나 멍, 부기와 같은 수술적 부담이 거의 없음
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											필요한 경우 지방 흡입이 더해져 더욱 효과적인 힘업 효과 기대
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-hip3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							바노바기는 보다 <span class="n-color-body3">근본적인<br class="hidden-tm"> 처짐 개선을 추구</span>합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							엉덩이 처짐은 근막층의 약화에서 시작됩니다. 엉덩이의 조직들을 잡아주는 근막층이 노화로 인해 약해지면서 중력의 힘에
							따라 탄력을 잃고 처지게 되는 것이죠. 그래서 바노바기는 이 근막층을 강화해 줄 적합한 재료로 탄력밴드를 사용합니다.
							이 특수한 실은 세계적인 재건성형 권위자인 이탈리아의 Dr. 카푸로가 고안해낸 강한 탄성을 가진 의료용 실로,
							인체 내에서 주변조직과 결합해 마치 인대와 같은 역할을 수행하게 됩니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							무너진 근막층 자체를 보강해주는 원리이기 때문에 보다 안전하게 그 효과가 <span class="n-color-body3">반영구적으로 유지</span>되며,<br class="hidden-tm">
							움직임에 탄력적으로 반응하여 <span class="n-color-body3">더욱 자연스러운 결과</span>를 기대할 수 있습니다.<br class="hidden-tm">
							또한 절개가 거의 없기 때문에 <span class="n-color-body3">수술에 대한 부담이 줄어들고 비교적 회복이 빠릅니다.</span>
						</p>
						<div class="inner-box type-list-img">
							<div class="new-description type-pd0">
								<h5 class="new-content-tit tit-new2">바노바기 <strong class="weight-regular">탄력밴드 스쿼트 힙 리프팅</strong></h5>
								<div class="new-description__wide">
									<div class="img-style3">
										<ul class="img-style3__list">
											<li class="img-style3__item">
												<div class="img-style3__img">
													<img src="../../images/body/hip/hip_img_10.jpg" loading="lazy" alt="스쿼트 힙 리프팅" class="img-w100">
												</div>
											</li>
											<li class="img-style3__item">
												<div class="img-style3__img">
													<img src="../../images/body/hip/hip_img_11.jpg" loading="lazy" alt="스쿼트 힙 리프팅" class="img-w100">
												</div>
											</li>
										</ul>
									</div>
								</div>
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											비교적 절개가 적어 흉터와 회복에 대한 걱정이 거의 없음
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											근막층 자체를 강화하여 보다 오래가는 리프팅 효과
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											움직임에 탄력적으로 반응하는 탄성으로 이물감 거의 없이 더욱 자연스러움
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style3 type-hip">
						<h5 class="new-style3__tit tit-new3">
							탄력밴드란?
						</h5>
						<div class="new-style3__img">
							<img src="../../images/body/hip/hip_img_12.jpg" loading="lazy" alt="부드럽고 탄력있는 특수실" class="img-w100">
						</div>
						<p class="new-style3__subject txt-new2">부드럽고 탄력있는 특수실</p>
						<p class="new-style3__txt txt-new1">
							실리콘에 폴리에스터가 그물망처럼 촘촘하게 감싸져 있는 형태로 높은 인장강도(물체를 잡아당기는힘)와 안정적인 조직결합 효과를 만듭니다.
							<span class="n-color-body1">기존 Thread(실) 리프팅과 달리 수술 후 몇 주 후에 실제 인대처럼 자연스러운 움직임과 탄력으로 개선해드립니다.</span>
						</p>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style3 type-hip2">
						<h5 class="new-style3__tit tit-new3">
							탄력밴드의 구조
						</h5>
						<div class="structure">
							<ul class="structure__list type-half">
								<li class="structure__item">
									<div class="structure__header txt-new2 type-body">
										폴리에스터 (Polyester)
									</div>
									<div class="structure__body type-half">
										<div class="structure__wrap">
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														높은 인장강도
													</li>
													<li class="structure__item2 txt-new1">
														조직손상 최소화
													</li>
													<li class="structure__item2 txt-new1">
														부드러운 표면
													</li>
												</ul>
											</div>
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														텐션 분배
													</li>
													<li class="structure__item2 txt-new1">
														복원력 조절
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="structure__item">
									<div class="structure__header txt-new2 type-body">
										실리콘 (Silicone)
									</div>
									<div class="structure__body">
										<div class="structure__wrap">
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														강한 탄성
													</li>
													<li class="structure__item2 txt-new1">
														다양한 케이스에 적용 가능
													</li>
													<li class="structure__item2 txt-new1">
														피부 움직임을 거의 방해하지 않음
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="structure__img">
								<img src="../../images/body/hip/hip_img_13.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<ul class="structure__list type-three">
								<li class="structure__item">
									<div class="structure__header txt-new2 type-body2">
										우수한 핸들링<br class="hidden-m">
										Perfect handling
									</div>
									<div class="structure__body">
										<div class="structure__wrap">
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														미끄럼방지
													</li>
													<li class="structure__item2 txt-new1">
														안전한 매듭
													</li>
													<li class="structure__item2 txt-new1">
														실에 의한 조직 절단 방지
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="structure__item">
									<div class="structure__header txt-new2 type-body2">
										조직 결합<br class="hidden-m">
										Tissue adhesion
									</div>
									<div class="structure__body">
										<div class="structure__wrap">
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														안정적인 조직고정
													</li>
													<li class="structure__item2 txt-new1">
														이물반응 최소화
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="structure__item">
									<div class="structure__header txt-new2 type-body2">
										편안함<br class="hidden-m">
										Comfortable
									</div>
									<div class="structure__body">
										<div class="structure__wrap">
											<div class="structure__box">
												<ul class="structure__list2">
													<li class="structure__item2 txt-new1">
														만져짐 최소화
													</li>
													<li class="structure__item2 txt-new1">
														자연스런 회복
													</li>
													<li class="structure__item2 txt-new1">
														빠른 일상 복귀
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style3 type-hip3">
						<h5 class="new-style3__tit tit-new3">
							탄력밴드 개발자 Dr. Sergio Capurro
						</h5>
						<div class="new-style3__img">
							<img src="../../images/body/hip/hip_img_14.jpg" loading="lazy" alt="이탈리아 재건성형 수술의 권위자인 닥터 세르지오 카푸로(Dr. Sergio Capurro)가 개발" class="img-w100">
						</div>
						<p class="new-style3__subject txt-new2">이탈리아 재건성형 수술의 권위자인 닥터 세르지오 카푸로(Dr. Sergio Capurro)가 개발</p>
						<p class="new-style3__txt txt-new1">
							기존의 리프팅 수술에서 쓰이는 돌기실, 실리프팅 등의 단점을 보완해 만들어진 정식성형 재건 용품으로 안면부의 미세한 움직임에도 탄성을 통해
							자연스럽게 주름을 잡아 줄 수 있는 소재로 직조기술이 뛰어난 이탈리아 제노바에서 만들어졌습니다.
							<span class="n-color-body1">바노바기 성형외과 반재상 원장님은 Dr. 카푸로에게 직접 노하우를 전수받아 수술하고 있습니다.</span>
						</p>
						<div class="new-style3__img">
							<img src="../../images/body/hip/hip_img_15.jpg" loading="lazy" alt="원장님 강연" class="img-w100">
							<p class="new-style3__caption txt-new1">바노바기 성형외과는 Dr. 카푸로를 초빙해 주름 성형수술 세미나 및 탄력밴드를 이용한 성형수술 시연 학술행사를 진행하였습니다.</p>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												약 1~2회
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										절개가 거의 없이 진행되는 실 리프팅으로 통증이 심하지는 않습니다.<br>
										수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										다른 시술과 함께 진행된 경우, 부위에 따라 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

				<div class="new-section">
					<div class="new-style1 type-bottom type-hip3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body3">절개 리프팅</span>은 보다 직접적인 개선을<br class="hidden-tm">
							기대할 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비교적 급격한 체중의 변화를 겪은 경우에는 엉덩이 처짐이 심하게 나타날 수 있습니다.<br class="hidden-tm">
							과체중일 때 늘어났던 피부조직들이 급격한 변화를 따라가지 못하고 그대로 남게 되는 것이죠.<br class="hidden-tm">
							이런 경우에는 피부와 피하지방을 절제하고 당겨주는 절개 리프팅 방법을 생각해볼 수 있습니다.<br class="hidden-tm">
							개개인의 상태에 맞추어 적절한 절개선을 만들고 피부를 박리한 후 당겨주는 것입니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							보다 직접적인 방법의 리프팅이기 때문에 그 효과가 비교적 뛰어나다는 장점이 있지만,<br class="hidden-tm">
							환자분들의 흉터에 대한 부담을 생각하여 <span class="n-color-body3">가능한 한 보이지 않는 부위의 절개로 이루어지는 것이 중요</span>하며<br class="hidden-tm">
							조직의 손상을 줄이고 보다 빠른 회복을 위해 후 관리에 더욱 신경 써야 합니다.
						</p>
						<div class="inner-box type-list-img">
							<div class="new-description type-pd0">
								<h5 class="new-content-tit tit-new2">바노바기 <strong class="weight-regular">엉덩이 절개 리프팅</strong></h5>
								<div class="new-description__wide">
									<div class="img-style3 type-body type-three">
			                            <ul class="img-style3__list">
			                                <li class="img-style3__item">
			                                    <div class="img-style3__img">
			                                        <img src="../../images/body/hip/hip_img_16.jpg" loading="lazy" alt="TYPE 01" class="img-w100">
			                                    </div>
												<div class="img-style3__caption txt-new2">
		                                            <div class="img-style3__vertical">
		                                                TYPE 01
		                                            </div>
		                                        </div>
			                                </li>
			                                <li class="img-style3__item">
			                                    <div class="img-style3__img">
			                                        <img src="../../images/body/hip/hip_img_17.jpg" loading="lazy" alt="TYPE 02" class="img-w100">
			                                    </div>
												<div class="img-style3__caption txt-new2">
		                                            <div class="img-style3__vertical">
		                                                TYPE 02
		                                            </div>
		                                        </div>
			                                </li>
											<li class="img-style3__item">
			                                    <div class="img-style3__img">
			                                        <img src="../../images/body/hip/hip_img_18.jpg" loading="lazy" alt="TYPE 03" class="img-w100">
			                                    </div>
												<div class="img-style3__caption txt-new2">
		                                            <div class="img-style3__vertical">
		                                                TYPE 03
		                                            </div>
		                                        </div>
			                                </li>
			                            </ul>
			                        </div>
								</div>
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											가능한 한 보이지 않는 부위의 절개선과 후 관리를 통한 흉터 관리
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											처진 피부를 직접 당겨주는 방법으로 보다 빠르고 뛰어난 효과
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											조직의 손상을 줄이면서도 넓은 부위를 박리
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											개개인 체형에 맞는 적절한 절개와 리프팅 방향 조절로 자연스러움 추구
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절제가 필요한 엉덩이 보형물 삽입술의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm">
                                            수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 3시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												필요 없음
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										절개 디자인에 따라 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div>
			<div class="new-section">
				<div class="new-style1 type-hip5 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-body2">복합적인 개선</span>으로 더 나은 결과를<br class="hidden-tm">
						기대할 수 있습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기의 다양한 엉덩이 성형 방법 중 꼭 어느 한 가지를 선택해야 하는 것은 아닙니다. <br class="hidden-tm">
						오히려 각 방법들마다의 장단점이 있는 만큼, 장점을 살리고 단점을 보완할 수 있는 복합적인 방법이 더 좋은 결과를 만들 수 있죠.<br class="hidden-tm">
						바노바기는 바디 성형 경험을 갖춘 전담팀이 운영되어 더 만족스러운 엉덩이 성형을 위해 끊임없이 고민합니다.<br class="hidden-tm">
						환자분들이 추구하는 바를 충분히 이해하고 체형에 어울리는 이상적인 개선을 위해 다양한 방법들을 복합적으로 활용하죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						때문에 보형물로 엉덩이의 전체적인 볼륨을 증가시키면서 부분적인 꺼짐은 지방이식을 통해 채워준다거나,
						처짐을 개선하면서 지방 흡입술을 더하여 그 효과를 더하는 등 <span class="n-color-body2">만족스러운 결과를 위한 다양한 조합으로의 성형</span>이 가능합니다.
					</p>
					<div class="inner-box type-top">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2"><span class="weight-regular">복합적인 개선</span>이 가능한 바노바기 엉덩이 성형</h5>
							<div class="inner-circle type-body type-mbig">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											오랜 경험을 통한<br>
											노하우
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											체형과 비율을<br>
											고려하는 심미안
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											다양한 방법을<br>
											구사하는<br>
											의료 기술
										</div>
									</li>
							 	</ul>
							</div>
							<ul class="img-style1__list type-mt type-half">
								<li class="img-style1__item">
									<img src="../../images/body/hip/hip_img_19.jpg" class="img-w100" loading="lazy" alt="엉덩이성형 수술 모습">
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/hip/hip_img_20.jpg" class="img-w100" loading="lazy" alt="보형물이식, 지방이식, 엉덩이흡입, 탄력밴드리프팅, 셀룰라이트제거">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-fat">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">부위별 지방 흡입</h5>
									<p class="bg-style2__txt txt-new1">
										탄력적으로 올라간 엉덩이에 맞추어 부위별 지방 흡입을 통해<br class="hidden-tm">
										허벅지의 셀룰라이트와 처짐을 개선할 수 있습니다
									</p>
									<a href="bodyPartFat.php" class="bg-style2__btn txt-new1">
										<span>부위별 지방 흡입 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
