<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Tấn công có lựa chọn vào vùng mỡ mong muốn</p>
				<h3 class="content-visual__tit"># Hút mỡ từng bộ phận</h3>
				<p class="content-visual__txt2">Tự tin với bất cứ điểm nào trên cơ thể mình</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="site-box1">
	          		<h4 class="site-box1__txt1">
						Với kiến thức chuyên môn về các bộ phận trên cơ thể và bí quyết hút mỡ từ lâu, Banobagi tiến hành hút mỡ tại từng bộ phận trên cơ thể
						<strong class="color-body2">nhằm khắc phục mặc cảm tự ti đối với cơ thể</strong> và <strong class="color-body2">mang lại sự cân bằng cho cơ thể</strong>.
	          		</h4>
	          		<p class="site-box1__txt2">
	           	 		Để giải quyết vấn đề béo phì toàn thân thì hút mỡ toàn thân là phương pháp tốt. Tuy nhiên nếu bạn bị stress bởi mỡ thừa tại bộ phận đặc trưng nào đó trên cơ thể hơn là nỗi lo âu bởi mỡ thừa toàn thân thì hút mỡ từng bộ phận sẽ mang lại hiệu quả đạt được tỉ lệ cân bằng cơ thể.
	          		</p>
	        	</div>
	        	<div class="site-circle">
	          		<div class="site-wrap">
	            		<div class="site-circle__img">
	              			<div class="site-circle__box type-left">
	                			<div class="site-circle__wrap">
	                  				<p class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">RATE</span>
	                  				</p>
	                			</div>
	              			</div>
	              			<div class="site-circle__box type-right">
	                			<div class="site-circle__wrap">
	                  				<p class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">BALANCE</span>
	                  				</p>
	                			</div>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	      	</div><!-- //content-section -->

	      	<!-- 탭바  -->
	      	<div class="content-tab type-margin">
	        	<div class="content-tab__inner">
	          		<ul class="content-tab__list">
			            <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">Bụng / Love Handle</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">Bắp đùi</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">Bắp tay</a></li>
	          		</ul>
	        	</div>
	      	</div>

	      	<!-- 탭바 컨텐츠 -->
	      	<div class="content-tab__page page-abdomen is-active">
	        	<div class="content-tab__box">
	          		<div class="site-box2">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			Trị liệu mỡ bụng, <br class="hidden-tm">
	              			<strong class="color-body2">động lực ăn kiêng</strong>.
	            		</h4>
			            <div class="site-box2__img">
			              	복부지방치료
			            </div>
			            <p class="content-section__txt1">
			              	Với những người mơ ước ăn kiêng giảm cân thì mỡ bụng là lo âu lớn nhất. Phần bụng lồi ra khiến ta có cảm giác chậm chạp đồng thời giảm khả năng vận động. Hơn bất cứ điều gì, vấn đề lớn nhất đó là béo phì gây ra nhiều vấn đề về sức khỏe như bệnh người già, bệnh về tim mạch, v.v.
			            </p>
			            <p class="content-section__txt2">
			              	Do vậy bác sĩ khuyên cần cải thiện mỡ bụng không chỉ vì mục đích thẩm mỹ mà còn vì sức khỏe.
			            </p>
	            		<div class="quotation2 type-list">
	              			<ul class="quotation2__list">
	                			<li class="quotation2__item type-tit">
	                  				Hút mỡ bằng phương pháp siêu âm + Hút mỡ bằng rung động điện
	                			</li>
				                <li class="quotation2__item">
				                  	Hiệu quả giảm khoảng 3~5 kg, giảm khoảng 5~10cm đường chu vi (có thể khác nhau tùy từng người)
				                </li>
	                			<li class="quotation2__item">
	                  				Mặc trang phục bó sát đặc biệt để điều chỉnh cơ thể trong khoảng 3 tháng
	                			</li>
	              			</ul>
	            		</div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
				                <div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
										<strong>ĐIỂM NHẤN</strong><br class="hidden-m">
				                    	Phẫu thuật chỉnh hình bụng
				                  	</h5>
				                </div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">Giảm sẹo do phẫu thuật ngay trong rốn hoặc phía lông mu</li>
			              	<li class="list-box__item txt-v3">Tính toán sự cân bằng của bụng và tạo hình đường cong tinh tế</li>
			              	<li class="list-box__item txt-v3">Ngăn ngừa tái phát bằng cách loại bỏ tế bào mỡ</li>
			            </ul>
	          		</div>
	         	 	<div class="site-box4">
			            <h4 class="content-section__tit type-center">
			              	<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
			              	Tuy nhiên dù là béo vùng bụng như nhau nhưng theo
			              	<span class="content-highlight2 type-body">đặc trưng cơ thể</span> của từng cá nhân mà tình trạng khác nhau.
			            </h4>
	            		<p class="content-section__txt1">
	              			Vì vậy dù có hút mỡ cùng một lượng như nhau nhưng tùy theo việc phẫu thuật đặt trọng tâm vào phần nào mà mức độ hài lòng và hiệu quả sẽ khác nhau. Từ quá trình tư vấn đến việc chẩn đoán tỉ mỉ, Banobagi nắm vững vị trí có mỡ thừa và tạo hình đường cong theo đúng mong muốn của bệnh nhân qua trò chuyện thấu hiểu bệnh nhân.
	            		</p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">
							<strong>Vị trí</strong> hút mỡ <strong>trọng tâm</strong>
						</h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-1">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Bụng dưới</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Là phần béo bụng tiêu biểu. Mục tiêu là hút một lượng lớn mỡ thừa, tuy nhiên cần phẫu thuật tính toán tỉ mỉ về việc giảm cân.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-2">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Bên hông</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Khi nhìn vào mặt trước, đây là phần phá hỏng hình tượng thon thả của một cô gái, điều quan trọng nhất là tạo hình để cứu lấy đường cong có thể nhấn mạnh vào sự nữ tính của cô ấy.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-3">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Thắt lưng</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Đây là phần tích tụ mỡ thừa từ lâu, một khi mỡ thừa đã được hình thành thì nó có đặc trưng là không dễ dàng loại bỏ, vì vậy cần hút mỡ toàn bộ giống như phần bên hông.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">복부 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">
													Khoảng 1 tiếng - 1 tiếng 30 phút
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê tĩnh mạch</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">
													Quản lí sưng, bầm, mát xa khoảng 2 lần
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Vì gây mê toàn thân hay gây mê tĩnh mạch theo từng bộ phận nên hầu như bệnh nhân không thấy đau do phẫu thuật.
											Sau khi phẫu thuật có cảm giác sưng và có thể cảm thấy đau kiểu tê rát, có thể giảm đau và sưng bằng cách chườm lạnh.
											Nhìn chung các vết bầm tím và triệu chứng đau sẽ giảm dần thông qua các chương trình quản lý sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	    	</div>

	    	<div class="content-tab__page page-thigh">
	        	<div class="content-tab__box">
	          		<div class="site-box2 type-thigh">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			<strong class="color-body2">Kho mỡ thừa </strong>
							nơi tế bào mỡ tích tụ lại
	            		</h4>
	            		<div class="site-box2__img"></div>
	            		<p class="content-section__txt1">
	              			Các tế bào mỡ tích tụ lại chứa nhiều chất xơ và cứng có vai trò lưu nhiệt lượng liên quan đến sự sinh tồn của con người. Vì vậy, mỡ thừa vùng bắp đùi vẫn còn lại đến tận cuối cùng bất chấp việc bạn ăn kiêng như có chế độ ăn uống đơn giản hay tập thể dục, v.v..
	            		</p>
			            <p class="content-section__txt2">
			              	Tuy nhiên khi hút mỡ thừa vùng này thì một lượng lớn mỡ thừa có thể được rút ra nên có thể thấy được hiệu quả rõ rệt.
			            </p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		Hút mỡ bằng phương pháp sóng âm
			                	</li>
				                <li class="quotation2__item">
				                  	Hút khoảng 1.000~2.500cc mỡ thừa (một phía)
				                </li>
				                <li class="quotation2__item">
				                  	Mặc trang phục bó sát đặc thù để điều chỉnh cơ thể trong khoảng 2 tháng sau phẫu thuật
				                </li>
			              	</ul>
			            </div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
	                  				<h5 class="list-box__tit tit-v3">
										<strong>ĐIỂM NHẤN</strong><br class="hidden-m">
	                    				Phẫu thuật chỉnh hình bắp đùi
	                  				</h5>
	                			</div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">Phẫu thuật tinh tế để có bề mặt trơn mịn</li>
			              	<li class="list-box__item txt-v3">Hút mỡ chuyên nghiệp cứu lấy kết cấu lập thể để đường nét của chân không bị thô</li>
			              	<li class="list-box__item txt-v3">Ngăn ngừa tái phát bằng cách loại bỏ các tế bào mỡ</li>
			            </ul>
	          		</div>

	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			Tuy nhiên dù bắp đùi béo như nhau nhưng theo
	              			<span class="content-highlight2 type-body">đặc trưng cơ thể của từng cá nhân</span> mà tình trạng khác nhau.
	            		</h4>
			            <p class="content-section__txt1">
			              	Vì vậy dù có hút cùng một lượng mỡ như nhau nhưng tùy theo việc phẫu thuật đặt trọng tâm vào phần nào mà mức độ hài lòng và hiệu quả sẽ khác nhau. Từ quá trình tư vấn đến việc chẩn đoán tỉ mỉ, Banobagi nắm vững vị trí có mỡ thừa và tạo hình đường cong theo đúng mong muốn của bệnh nhân qua trò chuyện thấu hiểu bệnh nhân.
			            </p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit"><strong>Vị trí</strong> hút mỡ <strong>trọng tâm</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-4">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Dưới mông</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Đây là phần hình thành nhiều cellulite nhất, do vậy cần hút mỡ để duy trì đường cong trơn mịn mà không có nếp gấp. Nếu cải thiện được phần này thì có thể mang lại hiệu quả giúp mông cong lên.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-5">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Giữa bắp đùi</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Về mặt trực quan, có thể cảm nhận vùng đùi bị béo phì một cách rõ ràng nhất nên nếu tập trung quản lý vào đó thì sẽ cải thiện để đường nét của chân thon thả hơn.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-6">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Mặt ngoài bắp đùi</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Đây là phần quyết định hình dáng của chân khi mặc quần hay chân váy nên việc tạo hình cảm quan suy xét đến tỉ lệ tổng thể rất quan trọng.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">허벅지 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">Gây mê toàn thân/Gây mê tĩnh mạch</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">
													Quản lí sưng, bầm, mát xa khoảng 2 lần
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Vì gây mê toàn thân hay gây mê tĩnh mạch theo từng bộ phận nên hầu như bệnh nhân không thấy đau do phẫu thuật.<br>
											Sau khi phẫu thuật có cảm giác sưng và có thể cảm thấy đau kiểu tê rát, có thể giảm đau và sưng bằng cách chườm lạnh.<br>
											Nhìn chung các vết bầm tím và triệu chứng đau sẽ giảm dần thông qua các chương trình quản lý sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>

	      	<div class="content-tab__page page-arms">
	        	<div class="content-tab__box">

	          		<div class="site-box2 type-forearm">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			<strong class="color-body2">Vùng thường lộ ra ngoài nhiều </strong>
	              			nhất chính là bắp tay
	            		</h4>
	            		<div class="site-box2__img">
	              			팔뚝 이미지
	            		</div>
	            		<p class="content-section__txt1">
	              			Thông thường trong số các bộ phận cơ thể tiến hành phẫu thuật hút mỡ, bộ phận lộ ra nhiều nhất là bắp tay. Nếu duy trì hình dáng thon thả bạn sẽ lôi cuốn hơn với kiểu áo mỏng và khỏe đẹp. Vì vậy bình thường nếu giảm cân thì đây là điểm khiến bạn bận tâm trước nhất.
	            		</p>
	            		<p class="content-section__txt2">
	              			Tuy nhiên cũng giống như bắp đùi, rất khó để cải thiện tình hình với phương pháp ăn kiêng thông thường do tế bào mỡ tích tụ lại phía trong cánh tay.
	            		</p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		Hút mỡ bằng phương pháp sóng siêu âm
			                	</li>
			                	<li class="quotation2__item">
			                  		Hút khoảng 500~1.000cc mỡ (một bên)
			                	</li>
			                	<li class="quotation2__item">
			                  		Mặc trang phục bó sát đặc biệt để điều chỉnh cơ thể trong khoảng 2~3 tháng
			                	</li>
			              	</ul>
			            </div>
	          		</div>
	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
										<strong>ĐIỂM NHẤN</strong><br class="hidden-m">
				                    	Phẫu thuật chỉnh hình bắp tay
				                  	</h5>
	                			</div>
	              			</div>
	            		</div>
	            		<ul class="list-box__list">
	              			<li class="list-box__item txt-v3">Để giảm sẹo, bác sỹ sẽ rạch ở phần nách hoặc khủy tay</li>
	              			<li class="list-box__item txt-v3">Hút mỡ cẩn thận theo kết cấu dạng hình trụ để có kết quả tự nhiên nhất</li>
	              			<li class="list-box__item txt-v3">Ngăn ngừa tái phát bằng cách loại bỏ các tế bào mỡ</li>
	            		</ul>
	          		</div>
	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			Tuy nhiên dù bắp tay béo như nhau nhưng theo
	              			<span class="content-highlight2 type-body">đặc trưng cơ thể của từng cá nhân</span> mà tình trạng khác nhau.
	            		</h4>
	            		<p class="content-section__txt1">
	              			Vì vậy, dù có hút cùng một lượng mỡ như nhau nhưng tùy theo việc phẫu thuật đặt trọng tâm vào phần nào mà mức độ hài lòng và hiệu quả sẽ khác nhau. Từ quá trình tư vấn đến việc chẩn đoán tỉ mỉ, Banobagi nắm vững vị trí có mỡ thừa và tạo hình đường cong theo đúng mong muốn của bệnh nhân qua trò chuyện thấu hiểu bệnh nhân.
	            		</p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit"><strong>Vị trí</strong> hút mỡ <strong>trọng tâm</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-7">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Phần bắp tay phía trong</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Đây là phần mà hầu hết mỡ cánh tay đều dồn lại đây, hiện tượng chảy xệ sẽ càng nghiêm trọng khi ta giơ cánh tay lên, vì vậy phải hút mỡ đồng nhất và luôn duy trì ở dạng hình trụ.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-8">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">Phần bắp tay ngoài</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		Mỡ phân bố ở phía ngoài cánh tay sẽ làm cho cánh tay nhìn dày hơn, vì vậy cần hướng đến bắp tay đẹp hơn với việc tạo hình sẽ cứu lấy đường nét bắp tay.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
									<!-- <p class="operation-v2__subtit">팔뚝 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
												<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
												<p class="operation-v2__txt txt-new1">
													Gây mê toàn thân/Gây mê tĩnh mạch
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
												<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 7 ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
												<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
												<p class="operation-v2__txt txt-new1">
													Quản lí sưng, bầm, mát xa khoảng 2 lần
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
												<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 3 - 5 ngày</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Vì gây mê toàn thân hay gây mê tĩnh mạch theo từng bộ phận nên hầu như bệnh nhân không thấy đau do phẫu thuật.
											Sau khi phẫu thuật có cảm giác sưng và có thể cảm thấy đau kiểu tê rát, có thể giảm đau và sưng bằng cách chườm lạnh.
											Nhìn chung các vết bầm tím và triệu chứng đau sẽ giảm dần thông qua các chương trình quản lý sau phẫu thuật.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
											<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>
	    </div>
	</div>
	<!-- Content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->


<% include ../_include/_footer %>
