<%
	type = "content"
	page = "nose"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-nose">
	   <div class="content-visual__box">
		   <p class="content-visual__txt1">Điều cơ bản của phẫu thuật mũi, vậy nên càng quan trọng </p>
		   <h3 class="content-visual__tit"># Thẩm mỹ <span class="color-nose5">mũi thấp</span></h3>
		   <p class="content-visual__txt2">Sống mũi cao quyết định ấn tượng khuôn mặt</p>
	   </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
			  	<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
				  		<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
					  			<h4 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
									Hiểu được lí do
									thì mới có thể
									<strong class="color-nose5">phẫu thuật được chính xác.</strong>
					  			</h4>
								<p class="content-section__txt1 type-special">
									<strong>Tại sao mọi người lại ưu tiên lựa chọn mũi cao?</strong><br>
									Mũi nằm ở trung tâm và là bộ phận nhìn thấy nổi bật sắc nét nhất trên khuôn mặt.
								</p>
					  			<div class="quotation2 type-another tit-v4">
						  			Do đó, tùy thuộc vào chiều cao của mũi mà
						  			<span class="color-nose5">dáng khuôn mặt</span> thay đổi, <span class="color-nose5">ấn tượng</span> khuôn mặt cũng thay đổi theo
					  			</div>
							</div>
							<p class="content-section__txt1">
								Nếu mũi cao khiến khuôn mặt mang tính lập thể, có hiệu quả giúp khuôn mặt nhìn thon gọn nhỏ hơn, tạo ấn tượng khuôn mặt rõ ràng sắc nét.
								Vậy nên về tương đối những trường hợp mũi thấp muốn thay đổi tổng thể thông qua việc cải thiện nâng mũi cao hơn.
								Mục tiêu phẫu thuật mũi thấp tại bệnh viện BANOBAGI là nâng mũi cao hơn nhưng không đơn giản chỉ là tập trung vào cải thiện mỗi chiều cao của mũi.
							</p>
							<!-- pc용 -->
							<p class="content-section__txt2">
							  	<span class="content-highlight type-nose">Tại sao phải nâng mũi cao hơn, phải nâng cao lên khoảng bao nhiêu hay phải sử dụng chất liệu gì để phẫu thuật và phân tích tìm hiểu đầy đủ chi tiết kĩ càng mọi lí do để lựa chọn phương pháp phẫu thuật phù hợp nhất <span class="color-nose5">là điều cơ bản của phẫu thuật mũi tại bệnh viện BANOBAGI</span>.</span>
							</p>
				  		</div>
					  	<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
						  		<img src="../../images/nose/nose_low_img02.jpg" loading="lazy" alt="" class="">
							</div>
					  	</div>
					</div>
			  	</div>
			</div>
			<div class="low-box2">
			  	<div class="content-section type-number">
					<h4 class="content-section__tit type-center">
				  		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
				  		Phẫu thuật mũi thấp tại<br class="hidden-tm"> bệnh viện BANOBAGI<br class="hidden-tm"> không có sự <span class="content-highlight2 type-nose">hướng dẫn</span>.
					</h4>
					<div class="content-section__wrap">
				  		<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
					  			<img src="../../images/nose/nose_low_img03.jpg" loading="lazy" alt="img" class="">
							</div>
				  		</div>
				  		<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
					  			<h5 class="brace__tit"><span class="color-nose5">Tính đa dạng</span> của phẫu thuật mũi tại BANOBAGI</h5>
					  			<p class="brace__txt txt-v5">Để mang lại dáng mũi đẹp hơn, hài hòa hơn, tiến hành đơn hoặc tổng thể</p>
							</div>
							<p class="content-section__txt1">
							  	<strong>Phẫu thuật mũi thấp tại bệnh viện BANOBAGI khó có thể quyết định bằng một phương pháp.</strong><br>
								Tùy thuộc vào từng bệnh nhân mà cần có phương pháp phẫu thuật tiếp cận khác nhau, sử dụng silicon khác nhau và vị trí phẫu thuật cũng khác nhau.
								Phẫu thuật mũi thấp tại bệnh viện BANOBAGI không có hướng dẫn nhất định. Lấy phương pháp phẫu thuật mũi cơ  bản làm nền móng rồi tiến hành phẫu thuật phù hợp với từng khuôn mặt bệnh nhân và sự tư vấn mang tính đa dạng và tổng hợp.
							</p>
							<p class="content-section__txt2">
							  	<span class="content-highlight type-nose">Phục hồi cá tính của bệnh nhân, giữ lại nét vốn có và thiết kế chỉnh sửa dáng mũi phù hợp nhất với hình ảnh của bệnh nhân là
									<span class="color-nose5">trọng tâm của phẫu thuật mũi thấp tại BANOBAGI</span>.
								</span>
							</p>
				  		</div>
					</div>
					<ul class="nose-detail__list">
				  		<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">Phẫu thuật mũi thấp</h6>
					  			<p class="nose-detail__txt txt-v5">
									là phẫu thuật nâng cao toàn bộ sống mũi bắt đầu từ
									phần sống ở trán giữa hai lông mày đến tận cuối đầu mũi.
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">Phẫu thuật đầu mũi</h6>
				  				<p class="nose-detail__txt txt-v5">
									kĩ thuật phẫu thuật tạo dáng đầu mũi thon gọn,
									sang trọng  mang đến hiệu ứng ba chiều trên khuôn mặt.
				  				</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">Chỉnh sửa  cánh mũi</h6>
					  			<p class="nose-detail__txt txt-v5">
									thu nhỏ chiều rộng của mũi, cân bằng tỉ lệ toàn bộ
									 khuôn mặt, chỉnh sửa dáng lỗ m ũi nhỏ lại sao
									 cho phù hợp với dáng mũi thon gọn sang trọng.
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">Chỉnh sửa mũi ghồ</h6>
							  	<p class="nose-detail__txt txt-v5">
									chỉnh sửa đường line mũi thành mềm mại mượt mà
									cho sống mũi thẳng là điều đương nhiên kết hợp
									cải thiện thêm hô hấp hoặc các chức năng khác.
							  	</p>
							</div>
				  		</li>
					  	<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">Chỉnh sửa mũi lệch</h6>
							  	<p class="nose-detail__txt txt-v5">
									chỉnh sửa sống mũi thẳng hài hòa phù hợp với
									tổng thể khuôn mặt kết hợp cải thiện các chức năng
									của mũi bằng các phương pháp phẫu thuật phức tạp.
							  	</p>
							</div>
					  	</li>
				  		<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">Phẫu thuật phần đầu mũi dưới giữa hai lỗ mũi</h6>
							  	<p class="nose-detail__txt txt-v5">
									phần đầu mũi dưới là trụ mũi nằm giữa hai lỗ mũi,
									phải xem xét cân nhắc kĩ khi nhìn góc nghiêng
									bên cạnh giữa phần nhân trung và cánh mũi
									để cải thiện tạo hình dáng hài hòa với khuôn mặt.
							  	</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">Phẫu thuật thu nhỏ xương mũi</h6>
				  				<p class="nose-detail__txt txt-v5">
									phẫu thuật đẩy gom phần sống mũi
									phát triển bè to sang hai bên để sống mũi
									nhìn cao thanh thoát và sang trọng.
				  				</p>
							</div>
				  		</li>
					</ul>
					<!-- //nose-detail__list -->
			  	</div>
			</div>
			<div class="low-box3">
			  	<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
				  		<div class="content-section__box w-5 type-another type-nose">
							<h4 class="content-section__tit type-top">
					  			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
					  			Hơn cả một chiếc mũi cao, hơn cả một chiếc mũi đẹp là một
					  			<strong class="color-nose5">chiếc mũi phù hợp</strong> với khuôn mặt
							</h4>
							<p class="content-section__sub-tit">
								Nhìn từ đằng trước, nhìn từ bên cạnh,
								và dù có nhìn từ góc độ nào cũng thấy mũi đẹp
							</p>
							<p class="content-section__txt1">
								Tính  chất  mục tiêu đầu tiên của phẫu thuật mũi thấp là nâng sống mũi cao lên.
								Sau đó phải đẹp và cuối cùng phải phù hợp với khuôn mặt.
								Vậy nên <span class="color-nose5">phẫu thuật mũi tại bệnh viện BANOBAGI không đơn giản chỉ nhìn mỗi mũi.</span><br class="hidden-pm">
								Phân tích hình dáng mũi để khi nhìn ở mọi góc độ, dáng mũi nhìn luôn được đẹp tự nhiên, hài hòa với tổng thể tỉ lệ chuẩn của khuôn mặt từ trán đến cằm.
							</p>
				  		</div>
				  		<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
				  		</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
				  		<div class="point-box__border">
							<ul class="point-box__list">
							  	<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
									  	<span class="point-box__number">Point 01</span>
									  	<h5 class="point-box__tit">Tinh xảo đến cuối đầu mũi</h5>
									  	<p class="point-box__txt txt-v5">
											Điều quan trọng của sự hoàn thiện một chiếc mũi đẹp hoàn hảo đó là hình dáng của đầu mũi.
											Duy trì đầu mũi hơi tròn nhưng đường nét vẫn thật thon gọn rõ ràng và cân đối,  hoàn toàn tự nhiên, tạo cảm giác sang trọng cho khuôn mặt.
									  	</p>
									</div>
					  			</li>
							  	<li class="point-box__item">
									<div class="point-box__wrap">
								  		<span class="point-box__number">Point 02</span>
										<h5 class="point-box__tit">
											Hiểu về chất liệu sử dụng khi phẫu thuật
											Kĩ thuật tái tạo sự tự nhiên
										</h5>
									  	<p class="point-box__txt txt-v5">
											Có năng lực kĩ thuật cao sử dụng được đa dạng các chất liệu trong phẫu thuật như sụn tự thân, cân mạc da đầu, cấy mỡ tự thân, hay silicon, gore-tex..v..v
											Chính vì vậy nên có khả năng đảm bảo phẫu thuật an toàn tuyệt đối và phù hợp với cấu tạo da và dáng mũi của từng bệnh nhân.
									  	</p>
									</div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
					  			</li>
							  	<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
						  				<span class="point-box__number">Point 03</span>
						  				<h5 class="point-box__tit">Vẻ đẹp nghĩ tới góc độ và tỉ lệ</h5>
						  				<p class="point-box__txt txt-v5">
											Bệnh viện BANOBAGI kế hoạch tỉ mỉ chi tiết tỉ lệ giữa trán và miệng, cân nhắc các góc độ chuẩn nên tỉ lệ vô cùng hài hòa.
						  				</p>
									</div>
					  			</li>
							</ul>
				  		</div>
					</div>
			  	</div><!-- content-section -->
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">바노바기 낮은 코 성형은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng - 1 tiếng 30 phút</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 5 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian nhập viện</h5>
										<p class="operation-v2__txt txt-new1">Xuất viện trong ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Thông qua chương trình RAPID Healing sẽ giúp bệnh nhân hồi phục nhanh chóng và tích cực hơn.
									Sau khi thuốc mê tan sẽ có cảm giác hơi đau nhói cùng với cảm giác hơi khó chịu một chút nhưng từ từ sẽ thuyên giảm và hồi phục.
									Lúc điều trị cắt chỉ hay vệ sinh sát trùng sẽ có cảm giác hơi đau nhẹ không đáng kể.
									Bị sưng và có cảm giác nóng có thể thuyên giảm thông qua uống thuốc giảm đau được kê đơn và chườm lạnh sẽ giúp thuyên giảm.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
