<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-nose">
					<span class="color-nose0">Sự hài hòa của khuôn mặt</span>, vật cấy ghép <span class="color-nose0">và</span> phương pháp phẫu thuật

				</p>
				<h3 class="detail__first-txt type-nose">
					<span class="detail__first-bwrap">Thẩm mỹ tùy chỉnh phù hợp</span><br>
					<strong class="detail__first-point"><span class="color-nose1">Thẩm mỹ Mũi</span> Detail Banobagi.</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Cuộn chuột</em>
		</div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-nose">
	              	<h4 class="detail__section-tit">
	                	<strong>Thẩm mỹ Mũi</strong><span class="color-comma">,</span><br class="hidden-tm">
						<strong class="color-nose1">Phương pháp thẩm mỹ</strong> của
						Banobagi
	              	</h4>
	              	<p class="detail__section-subtit">Tư vấn phù hợp 1:1 tính toán đến mọi góc nhìn của gương mặt</p>
	              	<p class="detail__section-txt">
						Một dáng mũi được cho là đẹp không có nghĩa sẽ đẹp đối với tất cả mọi người. Mũi có vị trí ngay trung tâm gương mặt, đóng vai trò quan trọng trong việc quyết định hình ảnh và ấn tượng của cá nhân. Vì vậy thẩm mỹ Mũi Banobagi xem trọng sự hài hòa lý tưởng,
						<span class="color-nose2">phẫu thuật tạo kiểu dáng mũi phù hợp với gương mặt từng cá nhân.</span>
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection02" data-section-name="noseSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-nose type-wide type-quotation2">
				  	<h4 class="detail__section-tit">
					  	<strong>Thẩm mỹ Mũi</strong><span class="color-comma">,</span><br class="hidden-tm">
					  	<span class="detail__section-bwrap">Banobagi</span>
					  	có <strong class="color-nose1">sự tự tin</strong>
				  	</h4>
				  	<p class="detail__section-subtit">Tính đa dạng của các phương pháp phẫu thuật mũi, và kĩ thuật tạo ra những thành quả đó.</p>
				  	<p class="detail__section-txt">
						Để có một chiếc mũi đẹp, phải cân nhắc đến rất nhiều yếu tố như độ cao, độ dài của mũi, hình dáng đầu mũi, độ bè của xương sống mũi, độ dày của lớp da, lỗ mũi, loại chất độn, vv. Vì vậy phẫu thuật mũi là loại phẫu thuật cần đến thiết kế phức hợp. <span class="color-nose3">Banobagi gần như đã thực hiện hết mọi loại hình phẫu thuật mũi với kinh nghiệm và kĩ thuật tích lũy trong nhiều năm.</span> Cho dù là cùng một phẫu thuật những không phải có cách tiếp cận giống y nhau.
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section noseSection03" data-section-name="noseSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-nose">
	  				<h4 class="detail__section-tit">
	  					<strong>Thẩm mỹ Mũi</strong><span class="color-comma">,</span><br class="hidden-tm">
	  					Banobagi
	  					thực hiện <strong class="color-nose1">một cách thành thạo</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Sắp xếp và lựa chọn chất liệu thẩm mỹ mũi một cách hệ thống</p>
	  				<p class="detail__section-txt">
						Giữa sụn nhân tạo và sụn tự thân, rất khó để nói rằng đâu là chất liệu an toàn và lí tưởng nhất. Tùy thuộc vào đặc điểm
						của da và hình dáng của mũi mà tiêu chuẩn lựa chọn chất liệu có thể thay đổi.
						Việc sử dụng chất liệu đúng cách và an toàn quan trọng hơn việc sử dụng chất liệu nào.
						<span class="color-nose2">Đội ngũ chuyên gia thẩm mỹ mũi Banobagi dày dạn kinh nghiệm với quá trình nghiên cứu sâu rộng</span>
						giúp lựa chọn chất liệu phù hợp với từng cá nhân.
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-nose">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Chất liệu thẩm mỹ Mũi</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Sụn tự thân</h5>
								<p class="layer-doc4__txt">
									Sụn tai, sụn vách ngăn,
 									tế bào mỡ, da,v..v..
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Sụn nhân tạo</h5>
								<p class="layer-doc4__txt">
									Sillicon, gore-tex,
									silligore,v..v..
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section noseSection04" data-section-name="noseSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-nose">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Rapid Healing Project<span class="color-nose1">.</span></h5>
					<p class="detail__popup-subtit">Chương trình chăm sóc giúp làm giảm từ 30% đến 50% những vết sưng, bầm tím và đau đớn</p>
					<div class="detail__popup-scroll">
						<ul class="detail__popup-list">
							<li class="detail__popup-item nth-1">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Kỹ thuật phẫu thuật tinh tế</h6>
									<p class="detail__popup-txt">Banobagi với bề dày kinh nghiệm phong phú và đội ngũ y bác sĩ có tay nghề phẫu thuật cao. Tiến hành thẩm mỹ mũi một cách tinh tế, giảm thiểu những phản ứng viêm nhiễm của các tổ chức cao nhất</p>
								</div>
							</li>
							<li class="detail__popup-item nth-2">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Điều trị dược phẩm trước và sau phẫu thuật</h6>
									<p class="detail__popup-txt">Vết bầm tím và vết sưng trong phẫu thuật song song với điều trị, so với việc phẫu thuật thông thường thì chương trình điều trị này mang tốc độ phục hồi nhanh vượt trội</p>
								</div>
							</li>
							<li class="detail__popup-item nth-3">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Lượng thuốc trong chương trình RAPID HEALING</h6>
									<p class="detail__popup-txt">Cũng giống như việc thực hiện sự kéo căng trước khi vận động, đây là quá trình tạo trạng thái khỏe mạnh giúp cơ thể kháng lại vết sưng và bầm tím trước khi phẫu thuật</p>
								</div>
							</li>
							<li class="detail__popup-item nth-4">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Cica Bio Arnica Extractim Cream</h6>
									<p class="detail__popup-txt">Bằng việc điều trị bằng hình thức bôi kem nhanh một cách đơn giản, giảm vết bầm tím và giảm thiểu đau đớn giúp thoải mái</p>
								</div>
							</li>
							<li class="detail__popup-item nth-5">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">CalmLaser</h6>
									<p class="detail__popup-txt">Laser trị liệu mang lại hiệu quả hấp thụ chứng phù nề, giảm thiểu đau đớn, viêm nhiễm.</p>
								</div>
							</li>
						</ul>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Đóng</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-nose">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-nose type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Thẩm mỹ Mũi</strong><span class="color-comma">,</span><br class="hidden-tm">
							<span class="detail__section-bwrap">Banobagi</span>
							thực hiện <strong class="color-nose4">Detail</strong>
						</h4>
						<p class="detail__section-subtit">Chương trình hồi phục ”Rapid Healing Project”</p>
						<p class="detail__section-txt">
							Chương trình hồi phục nhanh
							<span class="color-nose4">Banobagi Rapid Healing Project là chương trình chăm sóc hồi phục nhanh</span> giúp những bệnh nhân đang băn khoăn về những đau đớn, vết sưng, bầm tím,v..v..trước phẫu thuật có thể yên tâm.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-nose">
			<div class="detail__section-set">
				Banobagi<br class="hidden-pt"> Rapid Healing Project
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">popup</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection05" data-section-name="noseSection05">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-nose type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-normal type-right type-nose type-quotation2">
	  					<h4 class="detail__section-tit">
	  						<strong>Thẩm mỹ Mũi</strong><span class="color-comma">,</span><br class="hidden-tm">
	  						Banobagi <strong class="color-nose4">lắng nghe</strong> bệnh nhân
	  					</h4>
	  					<p class="detail__section-subtit">Lí do Banobagi thực hiện các buổi hội nghị một cách đều đặn</p>
	  					<p class="detail__section-txt">
							<span class="color-nose4">Banobagi tiến hành hội nghị hai lần mỗi tháng một cách đều đặn để có cái nhìn sâu sắc hơn nữa và kiến thức về các tiêu chuẩn của phương pháp phẫu thuật chi tiết.</span>
							Toàn bộ nhân viên bộ phận thẩm mỹ Mũi bao gồm Y bác sĩ, y tá, nhân viên tư vấn, nhân viên chăm sóc trị liệu tham gia hội nghị, cùng nhau phân tích các trường hợp và chia sẽ những  câu chuyện của bệnh nhân. Hội nghị diễn ra đều đặn trong suốt <?=$sinceYear?> năm qua, vì vậy chúng tôi có thể tự tin hứa hẹn luôn chăm sóc khách hàng tốt hơn và mang lại kết quả hài lòng hơn.
	  					</p>
	  				</div>
					<div class="layer-img"></div>
    			</div>
    		</div>
    	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
