<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-profile">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">또렷하고 입체적인 인상을 주는 실루엣</p>
						<h3 class="new-visual__tit"><span class="n-color-nose2">프로화일</span> 성형</h3>
						<p class="new-visual__txt">미세한 선과 각도로 추구하는 이상적인 옆모습</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#세련된느낌</span></li>
							<li class="new-visual__item"><span>#이상적인프로화일</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-profile">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						프로화일 성형은 <span class="n-color-nose2">얼굴 옆선의<br class="hidden-tm">
						전반적인 개선을 추구</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						프로화일이란 <span class="color-black1">얼굴을 측면에서 봤을 때 이마에서 턱까지 이어지는 선</span>을 의미합니다.<br class="hidden-tm">
						일상생활에서 사람들은 정면의 모습만큼이나 옆모습 또한 많이 보게 되기 때문에 이 프로화일이 개개인의 이미지를 좌우하는데 중요한 역할을 하게 되죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 얼굴 중 가장 입체적인 부위로 꼽히는 코 성형을 생각한다면,
                        단순히 코의 모양뿐만 아니라 <span class="n-color-nose2">얼굴 측면의 전반적인 이미지를 고려하는 프로화일 성형</span>을 함께 생각해보는 것이 좋습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/nose/profile/profile_img_1.png" loading="lazy" alt="바노바기 성형외과 프로화일 성형모델" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->
			<div class="new-section type-cling">
				<div class="outer-box type-profile">
					<div class="inner-box">
						<div class="compare4">
							<h5 class="compare4__tit tit-new2">
								프로화일 성형의 <span class="weight-regular">효과</span>
							</h5>

							<div class="inner-circle type-nose2 type-mbig">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											살아나는<br>
											얼굴의 입체감
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											매력적인<br>
											옆모습
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											세련된 느낌<br>
											강조
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											동안 이미지
										</div>
									</li>
								</ul>
							</div>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__img">
										<span class="compare4__label txt-new1">수술 전</span>
										<img src="../../images/nose/profile/profile_img_2.jpg" class="img-w100" loading="lazy" alt="수술 전 - 평면적이고 투박한 느낌의 프로화일"/>
									</div>
									<div class="compare4__caption txt-new2 type-gray">
										평면적이고 투박한 느낌의 프로화일
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__img">
										<span class="compare4__label txt-new1">수술 후 6개월</span>
										<img src="../../images/nose/profile/profile_img_3.jpg" class="img-w100" loading="lazy" alt="수술 후 6개월 - 입체적이고 세련된 느낌의 프로화일"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose">
										입체적이고 세련된 느낌의 프로화일
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-pb type-profile2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						매력적인 프로화일을 찾는<br class="hidden-tm">
						<span class="n-color-nose3">감각과 기술</span>을 갖추어 시술합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						프로화일은 얼굴의 옆선을 이루는 얼굴 각 부위들의 모양과 위치에 따라 결정됩니다.<br class="hidden-tm">
						각 부위들의 입체감에 따라 생기는 선과 각이 전체적인 프로화일 이미지를 만들죠.<br class="hidden-tm">
						따라서 <span class="color-white">프로화일 성형은 전체적인 얼굴 조화에 대한 감각을 바탕으로, 얼굴 각 부위에 대한 적절한 개선법을 갖춘 전문의를 찾는 것이 중요</span>합니다.<br><br>

						바노바기는 2000년 개원 이후 아름다운 코에 어울리는 이상적인 프로화일에 대한 끊임없는 연구를 계속해왔습니다.<br class="hidden-tm">
						콧대의 높이와 코끝의 위치를 개선하는 코 성형과, 이마의 곡선, 입술과 턱 끝의 볼륨 개선 등 <span class="color-white">다양한 부위에 대한 미세한 교정이 가능</span>하죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						그래서 바노바기 프로화일 성형은 각 <span class="n-color-nose3">부위마다의 매력이 드러나면서도,<br class="hidden-tm">
						전체적으로 보다 입체적이고 조화롭습니다.</span>
					</p>
				</div>
                <div class="new-style1 type-top0 type-bottom type-profile3">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="img-style1__tit tit-new2">
								<span class="weight-regular">이상적인 프로화일</span>을 추구하는 바노바기
							</h5>
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/nose/profile/profile_img_4.jpg" class="img-w100" loading="lazy" alt="프로화일을 이루는 다양한 부위들에 대한 적절한 개선, 전체적인 얼굴 조화에 대한 이해, 개인에 맞는 프로화일을 찾는 감각"/>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-pb">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						전체의 조화를 고려하며 각 부위를<br class="hidden-tm">
						보다 <span class="n-color-nose2">효과적으로 개선</span>합니다
					</h4>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/nose/profile/profile_img_5.jpg" loading="lazy" alt="프로화일 성형 : 이마, 코, 인중, 입술, 턱끝" class="img-normal">
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-section__wrap type-gray2">
					<!-- 프로화일 성형 : 이마 -->
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-profile4">
							<h4 class="new-style1__tit tit-new3">
								프로화일 성형 : <strong class="weight-regular">이마</strong>
							</h4>
							<p class="new-style1__txt txt-new1">
								이상적인 이마는 옆에서 봤을 때 부드러운 곡선을 그릴 정도의 볼륨감을 가지고, 굴곡 없이 매끄러운 형태를 말합니다.<br class="hidden-tm">
								눈썹이 있는 부위에서 약 2cm 정도의 상방이 볼록했을 때 인상이 돋보일 수 있는 자연스러운 하이라이트가 생기고,<br class="hidden-tm">
								보다 부드럽고 정돈된 이미지를 어필할 수 있죠.
							</p>
							<p class="new-style1__txt2 txt-new2">
								이마를 성형하는 방법으로는 <span class="n-color-nose2">보형물을 삽입하는 방법과 자가지방이나 필러를 사용하는 주사시술 방법</span>이 있으며,
								특히 주사시술의 경우 비교적 간편하게 정교한 이마 형태 개선 수 있다는 장점이 있습니다.
							</p>
							<div class="new-style1__img">
								<img src="../../images/nose/profile/profile_img_6.jpg" loading="lazy" alt="바노바기 성형외과 성형 모델" class="img-normal"/>
							</div>
						</div>

						<h5 class="heading-bar type-nose">보다 미세하고 매끄러운 이마 볼륨을 위한 필러 혹은 자가지방이식을 통한 시술</h5>
						<div class="compare4 type-cling type-tablet-full">
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_7.jpg" class="img-w100" loading="lazy" alt="자가지방세포 이식"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose">
										자가지방세포 이식
									</div>

									<a href="/svf/svfTransplant.php" class="new-style1__link">줄기세포 지방이식 바로가기</a>
								</li>
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_8.jpg" class="img-w100" loading="lazy" alt="아테콜 / 일반 필러"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose2">
										아테콜 / 일반 필러
									</div>

									<a href="/special/specialFiller.php" class="new-style1__link">부위별 필러 바로가기</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- 프로화일 성형 : 코 -->
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-profile4">
							<h4 class="new-style1__tit tit-new3">
								프로화일 성형 : <strong class="weight-regular">코</strong>
							</h4>
							<p class="new-style1__txt txt-new1">
								코는 얼굴에서 가장 입체적으로 돌출된 부위로, 프로화일에서 코의 비중은 다른 어떤 부위보다도 크다고 할 수 있습니다.<br class="hidden-tm">
								그중에서도 가장 중요한 것은 코끝입니다. 이 코끝의 높이와 위치에 따라 콧대의 각도와 전반적인 프로화일의 이미지가 결정되기 때문입니다.
								바노바기는 보다 안정적인 코끝 고정을 위해 비교적 견고한 자가조직을 사용합니다.<br class="hidden-tm">
								추구하는 코 형태에 따라 코끝의 위치를 정하고 그 위치가 반영구적으로 유지될 수 있도록 받쳐주는 것이죠.
							</p>
							<p class="new-style1__txt2 txt-new2">
								이렇게 높아진 코는 프로화일의 기준이 되며,<br class="hidden-tm">
								보다 <span class="n-color-nose2">세련되고 또렷한 인상으로의 변화를 기대</span>할 수 있습니다.
							</p>
							<div class="new-style1__img">
								<img src="../../images/nose/profile/profile_img_9.jpg" loading="lazy" alt="바노바기 성형외과 성형 모델" class="img-normal"/>
							</div>
						</div>

						<h5 class="heading-bar type-nose">이상적인 코끝의 위치와 비율을 생각한 코 성형</h5>
						<div class="img-style3 type-cling type-tablet-full">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/nose/profile/profile_img_10.jpg" loading="lazy" alt="이상적인 코 끝의 위치" class="img-w100"/>
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/nose/profile/profile_img_11.jpg" loading="lazy" alt="이상적인 코의 비율" class="img-w100"/>
									</div>
								</li>
							</ul>
							<a href="/nose/noseApexNasi.php" class="new-style1__link">코끝 성형 바로가기</a>
						</div>
					</div>

					<!-- 프로화일 성형 : 인중 -->
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-profile4">
							<h4 class="new-style1__tit tit-new3">
								프로화일 성형 : <strong class="weight-regular">인중</strong>
							</h4>
							<p class="new-style1__txt txt-new1">
								코밑에서 입술로 이어지는 인중은 비록 작은 부위지만 프로화일 개선에서 꽤 중요한 역할을 하기도 합니다.<br class="hidden-tm">
								인중선이 안쪽으로 들어간 경우라면 상대적으로 입이 돌출되어 보이거나 중안면부가 납작해 보이는 인상이 될 가능성이 있죠.<br class="hidden-tm">
								또,  코끝을 올렸을 때 인중의 모양이 부자연스럽게 당겨져 보일 수도 있습니다.
							</p>
							<p class="new-style1__txt2 txt-new2">
								이를 개선하기 위해서는 <span class="n-color-nose2">코와 윗입술 사이가 자연스럽게 연결될 수 있도록 적절한 돌출 정도를 계산하는 것이 중요</span>하며,
								추구하는 높이와 모양에 따라 자가조직 또는 보형물, 필러 중 적절한 방법을 통해 볼륨감을 줄 수 있습니다.
							</p>
							<div class="new-style1__img">
								<img src="../../images/nose/profile/profile_img_12.jpg" loading="lazy" alt="바노바기 성형외과 성형 모델" class="img-normal"/>
							</div>
						</div>

						<h5 class="heading-bar type-nose">인중의 볼륨을 더해 코밑과 입술 사이의 자연스러운 연결</h5>
						<div class="img-style3 type-cling type-tablet-full">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/nose/profile/profile_img_13.jpg" loading="lazy" alt="인중의 볼륨을 더해 코밑과 입술 사이의 자연스러운 연결" class="img-w100"/>
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/nose/profile/profile_img_14.jpg" loading="lazy" alt="인중의 볼륨을 더해 코밑과 입술 사이의 자연스러운 연결" class="img-w100"/>
									</div>
								</li>
							</ul>
						</div>
						<div class="img-style7">
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/nose/profile/profile_img_15.png" class="img-w100" loading="lazy" alt="자가조직"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											자가조직
										</h6>
										<p class="img-style7__txt txt-new1">
											비중격 연골, 귀 연골<br class="hidden-tm">
											자가진피, 절골술 병행시<br class="hidden-tm">
											뼈조각 이용 등
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/nose/profile/profile_img_16.png" class="img-w100" loading="lazy" alt="보형물"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											보형물
										</h6>
										<p class="img-style7__txt txt-new1">
											실리콘/고어텍스 등
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/nose/profile/profile_img_17.png" class="img-w100" loading="lazy" alt="필러"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											필러
										</h6>
										<p class="img-style7__txt txt-new1">
											아테콜(반영구),<br class="hidden-tm">
											레스틸렌, 쥬비덤(일시)
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<!-- 프로화일 성형 : 입술 -->
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-profile4">
							<h4 class="new-style1__tit tit-new3">
								프로화일 성형 : <strong class="weight-regular">입술</strong>
							</h4>
							<p class="new-style1__txt txt-new1">
								입술은 인체에서 색과 결이 독특한 부위로, 성적인 매력이 어필될 수 있는 부위로 인식되곤 합니다.<br class="hidden-tm">
								얇고 밋밋한 입술은 그 존재감과 매력이 적게 느껴질 수 있기 때문에 적당한 볼륨을 더해주는 것이 중요하며,<br class="hidden-tm">
								그 방법으로는 필러나 자가지방이식 등이 있습니다.
							</p>
							<div class="new-style1__img">
								<img src="../../images/nose/profile/profile_img_18.jpg" loading="lazy" alt="바노바기 성형외과 성형 모델" class="img-normal"/>
							</div>
						</div>

						<h5 class="heading-bar type-nose">보다 명확하고 볼륨감 있는 입술을 위한 필러 혹은 자가지방이식을 통한 시술</h5>
						<div class="compare4 type-cling type-tablet-full">
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_7.jpg" class="img-w100" loading="lazy" alt="자가지방세포 이식"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose">
										자가지방세포 이식
									</div>

									<a href="/svf/svfTransplant.php" class="new-style1__link">줄기세포 지방이식 바로가기</a>
								</li>
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_8.jpg" class="img-w100" loading="lazy" alt="아테콜 / 일반 필러"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose2">
										아테콜 / 일반 필러
									</div>

									<a href="/special/specialFiller.php" class="new-style1__link">부위별 필러 바로가기</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- 프로화일 성형 : 앞턱 -->
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-profile4">
							<h4 class="new-style1__tit tit-new3">
								프로화일 성형 : <strong class="weight-regular">앞턱</strong>
							</h4>
							<p class="new-style1__txt txt-new2">
								턱 끝은 정면에서의 얼굴 길이를 결정하는 동시에<br class="hidden-tm">
								그 전진 정도에 따라 <span class="n-color-nose2">다양한 인상을 만드는 부위</span>입니다.
							</p>
							<p class="new-style1__txt2 txt-new1">
								목과의 구별이 명확하도록 적절히 돌출되는 것이 이상적이며, 턱 끝에 작고 부드러운 볼륨이 있을 때 보다 세련되고 또렷한 느낌을 줄 수 있습니다.
								보형물이나 자가지방이식을 통해 개선이 가능하며, 특히 주사시술로 진행되는 자가지방이식의 경우 비교적 간편하고 미세한 시술이 가능하기 때문에
								보다 자연스럽고 매력적인 턱 끝으로의 개선에 효과적입니다.
							</p>
							<div class="new-style1__img">
								<img src="../../images/nose/profile/profile_img_19.jpg" loading="lazy" alt="바노바기 성형외과 성형 모델" class="img-normal"/>
							</div>
						</div>

						<h5 class="heading-bar type-nose">코끝과 입술의 연장선을 고려하여 자가지방이식을 통한 앞턱 볼륨감 증가</h5>
						<div class="compare4 type-cling type-tablet-full">
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_7.jpg" class="img-w100" loading="lazy" alt="자가지방세포 이식"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose">
										자가지방세포 이식
									</div>

									<a href="/svf/svfTransplant.php" class="new-style1__link">줄기세포 지방이식 바로가기</a>
								</li>
								<li class="compare4__item">
									<div class="compare4__img">
										<img src="../../images/nose/profile/profile_img_8.jpg" class="img-w100" loading="lazy" alt="아테콜 / 일반 필러"/>
									</div>
									<div class="compare4__caption txt-new2 type-nose2">
										아테콜 / 일반 필러
									</div>

									<a href="/special/specialFiller.php" class="new-style1__link">부위별 필러 바로가기</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
