<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Áp dụng nhiều phương pháp đa dạng phù hợp với mọi cá tính đa dạng</p>
				<h3 class="content-visual__tit"># Phẫu thuật mũi <span class="color-nose8">các kiểu</span></h3>
				<p class="content-visual__txt2">Sự nỗ lực cố gắng cải thiện tất cả trường hợp.</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
	  	<div class="content-wrap">
	    	<div class="content-section type-case">
	      		<div class="nose-case__wrap">
	        		<div class="content-tab">
	          			<div class="content-tab__inner">
				            <ul class="content-tab__list">
				              	<li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">Cắt gọt mũi gồ / mài</a></li>
				              	<li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">Mũi khoằm / Mũi dài</a></li>
				              	<!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
				              	<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
				            </ul>
	          			</div>
	        		</div>

	        		<div class="content-tab__page page-hooked is-active">
	          			<div class="content-box__box">

	            			<div class="casetype-box1">
	              				<div class="casetype-box1__wrap">
	                				<div class="casetype-box1__box type-hawk">
	                  					<h4 class="casetype-box1__tit">Cắt gọt mũi gồ / mài</h4>
	                  					<p class="casetype-box1__txt">Cắt gọt chỉ là một trong rất nhiều phương pháp mà thôi.</p>
	                  					<div class="casetype-box1__bracket">
						                    Trọng tâm của phẫu thuật mũi gồ là<br>
						                    <span>tìm được phương pháp chính xác và phù hợp<br class="hidden-tm"> trong rất nhiều phương pháp phẫu thuật.</span>
	                  					</div>
	                				</div>
	              				</div>
	              				<div class="casetype-box1__bg">
									<div class="comparison">
	                      				<ul class="comparison__list">
					                        <li class="comparison__item nth-1">
					                          	<span class="comparison__subject">before</span>
					                        </li>
					                        <li class="comparison__item nth-2">
					                          	<span class="comparison__subject">after</span>
					                        </li>
	                     	 			</ul>
	                    			</div>
	              				</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">
										Với chuẩn đoán chính xác tỉ mỉ đến từng chi tiết kết hợp với phương pháp phẫu thuật phù hợp,
										<span class="color-nose6">cải thiện và ngăn chặn sự tái phát của mũi gồ, mang đến hiệu quả hơn mong đợi.</span>
									</p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
					            <ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-1"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	Mũi gồ không đơn giản chỉ là phẫu thuật cải thiện gọt đi phần xương lồi lên.<br class="hidden-m">
											Nguyên nhân dẫn đến mũi gồ và mức độ, độ rộng của xương mũi, chiều cao và hình dáng của đầu mũi và nhiều nguyên nhân khác nên là một phẫu thuật phải xem xét cân nhắc kĩ lưỡng nên phương pháp phẫu thuật để cải thiện cũng rất đa dạng.
											Nếu tiến hành phẫu thuật mà bỏ qua những lí do này thì sau khi phẫu thuật có thể phát sinh những trường hợp như nhìn thấy mũi thấp, sống mũi bằng phẳng hoặc các góc độ không đẹp của mũi hay nhiều vấn đề khác.
											<br class="hidden-m">
					                    	<strong class="content-highlight type-case">Bệnh viện BANOBAGI với bí quyết cùng kinh nghiệm lâu năm có chuẩn đoán chính xác, tỉ mỉ phẫu thuật cải thiện và ngăn chặn sự tái phát của mũi gồ.</strong> Và hơn nữa tiến hành phẫu thuật bằng cách tìm ra phương pháp phù hợp nhất dựa trên cơ sở tùy vào cơ địa của từng cá nhân hay sử dụng silicon nâng sống mũi lên hay chỉnh sửa cắt mài phần xương sống mũi lồi...Vậy nên có thể tạo ra được dáng mũi đẹp mềm mại hoàn hảo nhất có thể đối với từng cá nhân.
					                  	</p>
					                </li>
					            </ul>
				            </div>
	            			<div class="list-box">
	              				<div class="list-box__box">
	                				<div class="list-box__wrap">
	                  					<div class="list-box__vertical">
						                    <h5 class="list-box__tit tit-v3">
						                      	Phẫu thuật mũi<br class="hidden-m">
						                      	<strong>POINT</strong>
						                    </h5>
	                  					</div>
	                				</div>
	              				</div>
	              				<ul class="list-box__list">
					                <li class="list-box__item txt-v3">Cải thiện đường nét hung dữ và thô kệch do mũi gồ, mang đến dáng mũi mềm mại đường nét cân đối</li>
					                <li class="list-box__item txt-v3">Cải thiện đầu mũi bị xệ nhìn rõ và nổi bật hơn</li>
					                <li class="list-box__item txt-v3">Cải thiện tình trạng phức tạp bằng phẫu thuật</li>
	              				</ul>
	            			</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
										<!-- <p class="operation-v2__subtit">매부리 절제술은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút - 2 tiếng</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
													<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch/Gây mê cục bộ</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
													<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 5 ngày</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Chất liệu phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">Mô trung bì tự thân, silicon, v..v..</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
													<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
													<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Gây mê ngủ giảm thiểu sự lo lắng về đau đớn khi phẫu thuật.
												Sử dụng phương pháp gây mê ngủ để giảm thiểu tối đa sự lo lắng về đau đớn trong phẫu thuật.
												Sau khi thuốc mê tan sẽ có cảm giác hơi đau nhói cùng với cảm giác hơi khó chịu một chút.
												Bệnh nhân nào có cảm giác khó chịu nhiều có thể sử dụng thuốc giảm đau. Sau đó có thể mua thuốc giảm đau tại hiệu thuốc.
												Nếu cảm thấy nóng có thể chườm lạnh để giảm nhiệt xuống.
												Thông qua liệu trình điều trị đặc biệt sẽ giúp bệnh nhân hồi phục nhanh chóng và tích cực hơn.
												Không được tác động mạnh cho đến khi silicon ổn định vị trí và lành hẳn là điều quan trọng nhất.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
												<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__page-->
			        <!-- //매부리 절제술/다듬기 -->

			        <div class="content-tab__page page-arrow">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-arrow">
	              				<div class="casetype-box1__wrap">
	                				<div class="casetype-box1__box">
	                  					<h4 class="casetype-box1__tit">Mũi khoằm / Mũi dài</h4>
	                  					<div class="casetype-box1__bracket">
	                    					Tuy cùng một phẫu thuật nhưng để có được một<br class="hidden-tm"> kết quả hài lòng hơn tất cả là phụ thuộc<br class="hidden-tm">
	                    					<span>vào cái nhìn thẩm mỹ của bác sĩ.</span>
	                  					</div>
	                  					<p class="casetype-box1__txt">Hoàn thiện góc độ hoàn hảo của đầu mũi.</p>
	                				</div>
	              				</div>
	              				<div class="casetype-box1__bg">
									<div class="comparison">
		                      			<ul class="comparison__list">
					                        <li class="comparison__item nth-3">
					                          	<span class="comparison__subject">before</span>
					                        </li>
					                        <li class="comparison__item nth-4">
					                          	<span class="comparison__subject">after</span>
					                        </li>
		                      			</ul>
		                    		</div>
	              				</div>
	            			</div><!--//casetype-box1-->
	            			<div class="casetype-box2">
	              				<div class="quotation2">
					                <p class="quotation2__txt txt-v5">
					                  	Phải hiểu rằng quyết định độ dài của mũi <span class="color-nose6">cuối cùng là tỉ lệ và góc độ.</span>
					                </p>
	              				</div>
	            			</div>
				            <div class="casetype-box3">
				              	<ul class="casetype-box3__list">
				                	<li class="casetype-box3__item nth-1">
				                  		<div class="casetype-box3__img nth-2"></div>
				                	</li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	Trường hợp mũi dài hơn so với tỉ lệ tổng khuôn mặt và phần đầu mũi võng xuống được gọi là mũi hình mũi tên.<br class="hidden-m">
					                    	Trường hợp mũi này có thể dễ dàng được cải thiện bằng phương pháp cắt sụn vách ngăn điều chỉnh lại độ dài của mũi hoặc nâng chỉnh sửa phần đầu mũi lên. <br><br>

					                    	Nhưng cũng chính vì vậy câu hỏi mũi nhìn như vậy có đẹp không lại là một câu chuyện khác. Vì cũng cùng một độ dài của mũi nhưng nhìn từ những góc độ khác nhau của mũi từ phần nhân trung đến phần đầu mũi sẽ mang lại những cảm giác khác nhau. <strong class="content-highlight type-case">Cuối cùng thì việc cải thiện độ dài của mũi hay chỉnh sửa nâng phần đầu mũi lên thì bác sĩ phải tìm được góc độ tỉ lệ cân đối phù hợp nhất với tổng thể khuôn mặt của từng cá nhân rồi hoàn thiện nó là điều quan trọng nhất của phẫu thuật này. </strong>
					                    	Bệnh viện BANOBAGI chúng tôi tự tin bởi vì chúng tôi có một nét nhìn thẩm mỹ tuyệt vời và có nhiều kinh nghiệm phong phú.
					                  	</p>
					                </li>
				              	</ul>
				            </div>
				            <div class="list-box">
				              	<div class="list-box__box">
				                	<div class="list-box__wrap">
				                  		<div class="list-box__vertical">
				                    		<h5 class="list-box__tit tit-v3">
				                      			Phẫu thuật mũi<br class="hidden-m">
				                      			<strong>POINT</strong>
				                    		</h5>
				                  		</div>
				                	</div>
				              	</div>
				              	<ul class="list-box__list">
					                <li class="list-box__item txt-v3">Chỉnh sửa thành góc độ lý tưởng phần liên kết từ nhân trung đến phần đầu mũi</li>
					                <li class="list-box__item txt-v3">Cải thiện theo tính tỉ lệ chỉnh sửa phần mũi dài để nhấn mạnh cảm giác nhìn khuôn mặt trông trẻ hơn </li>
					                <li class="list-box__item txt-v3">Nâng phần đầu mũi xệ để cải thiện mũi nhìn nổi trội hơn</li>
				              	</ul>
				            </div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
										<!-- <p class="operation-v2__subtit">화살코 / 긴 코 성형은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút - 2 tiếng</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
													<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
													<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 5 ngày</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Chất liệu phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">Không cần thiết</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
													<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
													<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Sử dụng phương pháp gây mê ngủ để giảm thiểu tối đa sự lo lắng về đau đớn trong phẫu thuật.<br>
												Sau khi thuốc mê tan sẽ có cảm giác hơi đau nhói cùng với cảm giác hơi khó chịu một chút.<br>
												Bệnh nhân nào có cảm giác khó chịu nhiều có thể sử dụng thuốc giảm đau. Sau đó có thể mua thuốc giảm đau tại hiệu thuốc.<br>
												Nếu cảm thấy nóng có thể chườm lạnh để giảm nhiệt xuống.<br>
												Thông qua liệu trình điều trị đặc biệt sẽ giúp bệnh nhân hồi phục nhanh chóng và tích cực hơn.<br>
												Không được tác động mạnh cho đến khi silicon ổn định vị trí và lành hẳn là điều quan trọng nhất.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
												<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__page-->
	        		<!-- //화살코 / 긴 코 성형 -->

	        		<div class="content-tab__page page-upturn low">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-low">
	              				<div class="casetype-box1__wrap">
					                <div class="casetype-box1__box">
					                  	<h4 class="casetype-box1__tit">들창코 / 짧은 코 성형</h4>
					                  	<p class="casetype-box1__txt2">
					                    	철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
					                    	그래서 <strong>더 안전하고 자연스럽습니다</strong>
					                  	</p>
					                </div>
	              				</div>
	              				<div class="casetype-box1__bg">
				                	<div class="comparison type-low">
					                  	<ul class="comparison__list">
					                    	<li class="comparison__item nth-5">
					                      	<span class="comparison__subject">before</span>
					                    	</li>
					                    	<li class="comparison__item nth-6">
					                      	<span class="comparison__subject">after</span>
					                    	</li>
					                  	</ul>
				                	</div>
	              				</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">
				                  		인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
				                  		<span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
				                	</p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
				              	<ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-3"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌, 없는 것을 새로 만들어야
					                    	하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
					                    	부작용이 있습니다. <br><br>


					                   	 	그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
					                   	 	필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고, 피부의
					                    	당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
					                    	있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
					                  	</p>
					                </li>
				              	</ul>
				            </div>
	            			<div class="list-box">
					            <div class="list-box__box">
						            <div class="list-box__wrap">
						                <div class="list-box__vertical">
						                  	<h4 class="list-box__tit tit-v3">
						                    	코성형<br class="hidden-m">
						                    	<strong>POINT</strong>
						                  	</h4>
						                </div>
						            </div>
					            </div>
					            <ul class="list-box__list">
					              	<li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
					              	<li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
					              	<li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
					            </ul>
	          				</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
										<!-- <p class="operation-v2__subtit">들창코 / 짧은 코 성형은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
													<p class="operation-v2__txt txt-new1">정맥마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">당일 귀가</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
												<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__body-->
	        		<!-- //들창코 / 짧은 코 성형 -->

	        		<div class="content-tab__page page-bend bend">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-bend">
			              		<div class="casetype-box1__wrap">
			                		<div class="casetype-box1__box">
			                  			<h4 class="casetype-box1__tit">휜 코 교정술</h4>
			                  			<p class="casetype-box1__txt2">
						                    <strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
						                    모양은 저절로 아름다워집니다.
			                  			</p>
			                		</div>
			              		</div>
				              	<div class="casetype-box1__bg">
				                	<div class="comparison type-bend">
				                  		<ul class="comparison__list">
						                    <li class="comparison__item nth-7">
						                      	<span class="comparison__subject">before</span>
						                    </li>
						                    <li class="comparison__item nth-8">
						                      	<span class="comparison__subject">after</span>
						                    </li>
				                  		</ul>
				                	</div>
				              	</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">
				                  		복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
				                	</p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
					            <ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-4"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우, 휜 코는 내부를
					                    	구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
					                    	기능적인 문제를 동반하기도 합니다.<br><br>


					                    	특히 비중격이 심하게 휘어있을 경우에는 코막힘, 비염, 코골이, 편두통 등을 유발하는데요, 이를 바로잡기 위해서는
					                    	<strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술, 외측연골 교정 등
					                      	복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
					                    	건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
					                    	정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
					                  	</p>
					                </li>
					            </ul>
				            </div>
	            			<div class="list-box">
					            <div class="list-box__box">
					              	<div class="list-box__wrap">
					                	<div class="list-box__vertical">
					                  		<h4 class="list-box__tit tit-v3">
					                    		코성형<br class="hidden-m">
					                    		<strong>POINT</strong>
					                  		</h4>
					                	</div>
					              	</div>
					            </div>
					            <ul class="list-box__list">
					              	<li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
					              	<li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
					            </ul>
	          				</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
										<!-- <p class="operation-v2__subtit">휜 코 교정술은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
													<p class="operation-v2__txt txt-new1">전신마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Loại bỏ chỉ</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">실리콘 등</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
												<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	         			<!-- //들창코 / 짧은 코 성형 -->
	        		</div><!-- //content-tab__page-->
	      		</div>
	    	</div>
	  	</div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
