<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-man">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">남성적 특징을 고려하는 치밀한 설계</p>
						<h3 class="new-visual__tit"><span class="n-color-nose2">남자 코</span> 성형</h3>
						<p class="new-visual__txt">볼륨과 직선으로 살아나는 얼굴의 입체감</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#입체감</span></li>
							<li class="new-visual__item"><span>#뚜렷한콧대</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-man">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI NOSE SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							남자 코 성형은 <span class="n-color-nose2">남성 얼굴의 전반적인<br class="hidden-tm">
							이미지까지 개선</span>합니다
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		남자 코 성형은 남자 성형 중 가장 높은 비율을 차지하고 있습니다.<br class="hidden-tm">
							입체감과 선이 중요한 남성의 얼굴에서 코는 그 두 가지를 모두 부각시킬 수 있는 부위이기 때문입니다.<br class="hidden-tm">
							그만큼 코는 남성의 외모에 있어서 중요한 역할을 한다고 할 수 있습니다.<br><br>
							일반적으로 남성분들이 가지게 되는 코 고민으로는 <span class="color-black1">밋밋한 인상을 만드는 낮은 코, 선천적 또는 충격으로 인한 코 휘어짐,<br class="hidden-tm">
							답답한 느낌을 주는 매부리 등</span>이 있습니다.
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		이러한 고민들은 적절한 방법으로 개선해주기만 한다면<br class="hidden-tm">
							단순히 <span class="n-color-nose2">코 형태의 개선뿐만 아니라 얼굴의 전반적인 이미지가 개선되는 효과</span>가 있기 때문에<br class="hidden-tm">
							<span class="n-color-nose2">정밀한 진단을 통해 올바른 남자 코 성형 방법을 선택하여 개선</span>해주는 것이 좋습니다.
					 	</p>
						<div class="inner-circle type-nose2 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">밋밋한 인상을<br> 만드는 낮은 코</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">코끝이 위로<br> 들려 콧구멍이<br> 보이는 들창코</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">답답한 느낌을<br> 주는 심한 매부리</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">선천적 또는<br> 충격으로 인한<br> 코 휘어짐</div>
								</li>
						 	</ul>
						</div>
					</div>
					<div class="section-normal__img">
						<img src="../../images/nose/man/man_img_1.png" class="img-normal" loading="lazy" alt="코성형한 남자">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-style1 type-man type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-nose2">남성에게 맞는 코 성형</span>은 달라야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						남자 코 성형은 기존 여성들을 위한 코 성형과는 그 목적과 결과가 달라야 합니다.
						기존 여성들의 코 성형이 부드럽고 아름다운 곡선과 작은 크기를 추구했다면, 남자 코 성형은
						보다 시원하고 직선적이며 적절한 볼륨감 유지가 중요하죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 이러한 핵심들을 살려 남자 코 성형을 진행합니다.<br class="hidden-tm">
						<span class="n-color-nose2">이마와 입술 사이의 코 각도를 고려하여 보다 이상적인 코 높이를 정하기 때문에 보다 입체적이고 시원한 느낌</span>이 살아나죠.
						또, 코끝 모양을 충분한 크기로 잡고 콧대를 살려 비교적 자연스러운 남성적 느낌이 강조됩니다.
					</p>
					<div class="inner-circle type-nose2 type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									시원시원한<br> 이목구비의<br> 직선 라인
								</div>
							</li>
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									부드럽고<br> 아름다운<br> 곡선 라인
								</div>
							</li>
						</ul>
					</div>
					<div class="new-style1__img">
						<img src="../../images/nose/man/man_img_2.jpg" loading="lazy" alt="코성형 시술 환자" class="img-normal">
					</div>
					<div class="inner-box">
                        <div class="img-style1">
                            <h5 class="new-content-tit tit-new2">
                                남성에게 맞는 바노바기 남자 코 성형
                            </h5>
                            <div class="step-style type-vertical type-nose">
                                <ul class="step-style__list">
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 01</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">이상적인 각도 완성 추구 :</span> 이마와 코가 이루는 각도는 약 130˚ 비주구순각은 약 90~100˚가 이상적입니다.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 02</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">충분한 볼륨을 가진 코끝 :</span> 오똑하고 좁은 코 끝 모양은 추구하는 여성 코성형과 달리 남성의 코 끝은 볼륨감을 살리는 방식으로 남성적인 느낌을 강조합니다.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 03</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">보다 뚜렷한 콧대 :</span> 겉눈썹에서 콧등의 목으로 내려오는 미적 라인이 넓고 콧등의 폭이 넓기 때문에 11-13mm정도 폭의 실리콘 보형물을 사용해 뚜렸함을 살립니다.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-man2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						개개인에 맞추어 <span class="n-color-nose2">거의 모든<br class="hidden-tm">
						케이스를 개선</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						보다 만족스러운 남자 코 성형을 위해서는 <span class="color-black1">개개인의 코 상태에 맞는 적절한 방법으로 개선하는 것이 중요</span>합니다.<br class="hidden-tm">
						아무리 남성에게 어울리는 코를 알고 그 계획이 있다고 하더라도 그것을 실현하기 위한 기술이 부족하다면 제대로 된 개선이 이루어질 수가 없죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 다양한 코 유형에 대한 개선 방법을 알고 있으며, <br class="hidden-tm">
						<span class="n-color-nose2">보다 체계적이고 정교한 수술을 통해 개개인에 맞는 적절한 코 성형을 진행</span>합니다.
					</p>
				</div>
				<div class="new-explan type-man">
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/man/man_img_3.jpg" loading="lazy" alt="낮은 코 개선" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">낮은 코 개선</h5>
								<p class="new-explan__txt txt-new1">
									콧대가 낮은 경우 우선적으로 이마와 미간, 입술과의 연결성을 계산하여
									보다 이상적인 코끝 위치를 정해야 합니다.
									이후 그 코끝과 어울리도록 보형물을 통해 콧대를 높여주죠.
									이때,<span class="color-black1">콧대는 직선적인 느낌이 살아나는 것이 중요하며 적당한
										폭을 유지하면 남성적인 인상을 강조</span>할 수 있습니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/man/man_img_4.jpg" loading="lazy" alt="코끝 개선" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">코끝 개선</h5>
								<p class="new-explan__txt txt-new1">
									일반적으로 콧대의 높이 개선과 함께 이루어집니다.
									<span class="color-black1">코끝 연골을 묶어 콧날개의 폭을 조절하는 동시에
										코끝의 높이까지 조정할 수 있습니다.</span>
									필요한 경우 자가 연골을 코끝 모양에 맞게 조각하여 고정하는 것으로
									부족한 코끝 높이나 어색한 위치를 바로잡아 줍니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item type-wide">
							<div class="step-style3">
								<div class="step-style3__list">
									<div class="step-style3__wrap type-half">
										<div class="step-style3__outer">
											<div class="step-style3__item">
												<div class="step-style3__img">
													<img src="../../images/nose/man/man_img_5.jpg" class="img-w100" loading="lazy" alt=""/>
												</div>
												<div class="step-style3__box">
													<p class="step-style3__tit txt-new1">STEP 01</p>
													<p class="step-style3__txt txt-new1">
														흉터가 거의 남지 않고 보다<br> 빠른 회복을 돕는 W형 절개
													</p>
												</div>
											</div>
											<div class="step-style3__item">
												<div class="step-style3__img">
													<img src="../../images/nose/man/man_img_6.jpg" class="img-w100" loading="lazy" alt=""/>
												</div>
												<div class="step-style3__box">
													<p class="step-style3__tit txt-new1">STEP 02</p>
													<p class="step-style3__txt txt-new1">
														재발 경향을 예측하여 보다 효과적이고<br> 매끄럽게 연골 및 뼈 교정
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="step-style3__wrap">
										<div class="step-style3__item">
											<div class="step-style3__img">
												<img src="../../images/nose/man/man_img_7.jpg" class="img-w100" loading="lazy" alt=""/>
											</div>
											<div class="step-style3__box type-half">
												<p class="step-style3__tit txt-new1">STEP 03</p>
												<p class="step-style3__txt txt-new1">
													인공 보형물이 아닌 자가연골을<br> 이용한 축비술
												</p>
											</div>
											<div class="step-style3__box type-half">
												<p class="step-style3__tit txt-new1">STEP 03</p>
												<p class="step-style3__txt txt-new1">
													낮은 코의 경우 콧등을 높이는 동시에 재발 방지의 역할을 할 수 있는 보형물 삽입
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">
									매부리코 개선
								</h5>
								<p class="new-explan__txt txt-new1">
									매부리코는 높은 코에 나타난 매부리와 낮은 코에 나타난 매부리, 이 두 가지 경우로 나눌 수 있습니다.<br class="hidden-tm">
									이 두 가지 경우 모두 <span class="color-black1">우선적으로는 발달한 매부리를 교정하는 것이 핵심이며, 이후 코의 높이에 따라 보형물을 삽입하여 콧대의 높이를 조정 삽입하여 콧대의 높이를 조정</span>해주게 됩니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item type-wide">
							<div class="new-explan__img">
								<img src="../../images/nose/man/man_img_8.jpg" loading="lazy" alt="휜 코 개선" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">
									휜 코 개선
								</h5>
								<p class="new-explan__txt txt-new1">
									남성은 여성보다 휜 코의 발생 빈도가 많습니다. 일반적으로 남성은 여성보다 뼈의 발달 정도가 크고 외부로부터의 자극 또한 많이 받기 때문입니다.<br class="hidden-tm">
									휜 코는 코의 기능적인 문제를 동반하기도 하기 때문에 외형의 개선보다 근본적인 내부부터 올바르게 교정하는 것이 중요하며,<br class="hidden-tm">
									코 <span class="color-black1">내부의 각 조직들의 휘어짐과 얼굴 근육의 사용 빈도까지 계산하는 복합적인 방법이 적용</span>됩니다.
								</p>
							</div>
						</li>
					</ul>
				</div>

			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 약간의 이물감이 있을 수 있습니다.<br>
									처음 약간의 통증이 있을 수 있으나 처방된 진통제를 먹으면 곧 진정되고 시간이 지날수록 점차 완화됩니다.<br>
									실밥제거나 소독을 할 때 통증은 살짝 따끔한 정도입니다.<br>
									열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
