<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<p class="content-visual__txt1 type-nose-reduction">Một sự hòa hợp hài hòa tự nhiên tổng thể khuôn mặt</p>
				<h3 class="content-visual__tit type-nose-reduction"># <span class="type-nose-reduction">Phẫu thuật thu nhỏ mũi to</span></h3>
				<p class="content-visual__txt2 type-nose-reduction">Chỉnh sửa tỷ lệ cân đối hoàn hảo hơn để khuôn mặt nổi bật</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="reduction-box1">
	        	<div class="content-section type-first">
	          		<h4 class="content-section__tit type-top">
			            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			            <strong>Nếu mũi to, sẽ rất khó góp</strong><br class="hidden-tm"> phần tăng sự nổi bật nét đẹp<br class="hidden-tm"> và sự quyến rũ của những bộ<br class="hidden-tm"> phận khác trên khuôn mặt.
	          		</h4>
	          		<div class="content-section__wrapper clearfix">

			            <div class="content-section__thumb type-unique">
			              	<img class="hidden-m" src="../../images/nose/need-01-pt.png" loading="lazy" alt="img">
			              	<img class="hidden-pt" src="../../images/nose/need-01-m.png" loading="lazy" alt="img">
			            </div>
			            <div class="content-section__txt-box type-unique">
				            <p class="content-section__txt1">
				                Mũi nằm ở trung tâm khuôn mặt và mang tính ba chiều và có thể cho là bộ phận nhìn thấy nổi bật nhất trên khuôn mặt.<br>
				                <strong class="type-bigger">Sẽ như thế nào nếu mũi này có kích thước to tương đối bằng với với kích thước đó ? </strong>
				            </p>
			              	<p class="content-section__txt1">
			                	<span class="content-highlight type-nose-reduction1">Vậy nên điều cần thiết là phẫu thuật <strong>thu nhỏ mũi to.</strong></span><br>
			                	Giống y như lời nói phẫu thuật thu nhỏ mũi to là cải thiện kích thước mũi to cho phù hợp với tỷ lệ tổng thể khuôn mặt, chỉnh sửa dáng mũi mềm mại sang trọng, góp phần tăng sự nổi bật nét đẹp và sự quyến rũ của những bộ phận khác trên khuôn mặt.
								Và có hiệu quả tạo sự hòa hợp hài hòa tự nhiên tổng thể mọi đường nét trên khuôn mặt, mang đến một ấn tượng rõ ràng sắc nét hơn.
			              	</p>
			              	<div class="reduction-effects quotation2">
				                <h5 class="reduction-effects__tit tit-v2">
				                  	Hiệu quả của phẫu thuật thu nhỏ mũi to
				                </h5>
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">Ấn tượng rõ ràng sắc nét</p>
				                  	</li>
					                <li class="reduction-effects__item">
					                    <span class="reduction-effects__numbering">02</span>
					                    <p class="reduction-effects__txt1">Dáng mũi mềm mại sang trọng</p>
					                </li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">Hiệu quả làm nổi bật tổng thể khuôn mặt</p>
				                  	</li>
				                </ol>
			              	</div>
			            </div>
	          		</div>
	        	</div>
	      	</div>
	      	<div class="reduction-box2">
	        	<div class="ideal-reduction">
	          		<h5 class="ideal-reduction__tit">
						<strong class="content-highlight type-nose-reduction3">Phẫu thuật thu nhỏ mũi to</strong> một cách hoàn hảo
	          		</h5>
	          		<div class="ideal-reduction__wrapper">
	            		<div class="ideal-reduction__wrapper type-bg-t">
	              			model
	            		</div>
	            		<div class="ideal-reduction__wrapper type-bg">
	              			model
	              			<div class="reduction-effects quotation2">
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">Kích thước phù hợp với tỉ lệ hài hòa</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">02</span>
				                    	<p class="reduction-effects__txt1">Thay đổi chỉnh sửa kích cỡ 3 chiều</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">Hình dáng phù hợp</p>
				                  	</li>
				                </ol>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
	      	<div class="reduction-box3">
	        	<div class="content-section">
		          	<div class="content-section__wrapper type-bg">
		            	<h4 class="content-section__tit type-center">
		              		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		              		<span class="content-highlight type-nose-reduction2">Vì đó là một phẫu thuật phức tạp,</span><br class="hidden-tm">
		              		nên chuyên môn của bác sĩ là một<br class="hidden-tm"> điều vô cùng <strong>quan trọng</strong>
		            	</h4>
		            	<p class="content-section__txt1">
		              		Phẫu thuật thu nhỏ mũi to là một phẫu thuật đòi hỏi điều cơ bản nhất là phải chỉnh sửa gần như tất cả từ phần xương mũi, cấu trúc sụn đến cả những mô mềm bên trong.
		            	</p>
			            <p class="content-section__txt1">
							Thông qua phẫu thuật trung gian cắt xương bên trong kết hợp gom xương lại để thu nhỏ chiều rộng của phần đầu mũi trên dày và rộng.
							Lấy mục tiêu giữ nguyên độ cao phần dưới của mũi hay nâng mũi lên rồi thu nhỏ chiều rộng của mũi, giảm độ cao của sụn vách ngăn kết hợp sắp xếp lại phần sụn bên ngoài và sụn hai bên cánh mũi sao cho phù hợp nhất.
							Sau khi đã hoàn thiện kích thước mũi cơ bản phải tiến hành chỉnh phần đầu mũi cho cao, gom cánh mũi và tạo dáng mũi tổng thể.
			            </p>
			            <p class="content-section__txt3 txt-v5">
			              	Chính vì đây là một phẫu thuật cần sự cải thiện vô cùng phức tạp nên điều quan trọng nhất của phẫu thuật thu nhỏ mũi to là cần được thực hiện bởi một chuyên gia có sự
							<span class="color-reduction2">hiểu biết thấu đáo tổng thể</span> cùng <span class="color-reduction2">kinh nghiệm phong phú</span> về phẫu thuật mũi.
			            </p>
			            <div class="content-section__wrapper face">
			              	Cắt sụn xương bên ngoài + Cắt sụn xương bên trong + Chỉnh sửa sụn vách ngăn + Phẫu thuật đầu mũi + Thu nhỏ cánh mũi
			            </div>
		          	</div>
		          	<div class="content-section__wrapper type-bg2">
		            	<div class="nose-team">
		              		<h5 class="nose-team__tit">
		                		<strong>Đội ngũ chuyên khoa phẫu thuật mũi</strong> BANOBAGI
		              		</h5>
			              	<p class="nose-team__txt1">
			                	<strong>Đội ngũ chuyên khoa phẫu thuật mũi</strong> thông qua rất nhiều kinh nghiệm phẫu mũi nên họ có thể hoàn<br class="hidden-tm"> thành dáng mũi như bản thân họ mong muốn và họ tự tin về dáng mũi họ tạo ra đẹp hoàn hảo ở bất cứ góc độ nào.
			              	</p>
			              	<div class="nose-team__thumb">
			                	<img class="hidden-tm" src="../../images/nose/docs-p.png" loading="lazy" alt="img">
			                	<img class="hidden-pm" src="../../images/nose/docs-t.png" loading="lazy" alt="img">
			                	<img class="hidden-pt" src="../../images/nose/docs-m.png" loading="lazy" alt="img">
			              	</div>
		            	</div>
		          	</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Thông tin phẫu thuật</h4>
							<!-- <p class="operation-v2__subtit">바노바기 큰 코 축소 성형은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Thời gian phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 1 tiếng 30 phút - 2 tiếng</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Phương pháp gây mê</h5>
										<p class="operation-v2__txt txt-new1">Gây mê tĩnh mạch/Gây mê toàn thân</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Cắt chỉ</h5>
										<p class="operation-v2__txt txt-new1">Cắt chỉ sau khoảng 5 ngày</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Chất liệu phẫu thuật</h5>
										<p class="operation-v2__txt txt-new1">Mô trung bì tự thân, silicon, v..v..</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Tái khám</h5>
										<p class="operation-v2__txt txt-new1">Khoảng 2 lần</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Hồi phục</h5>
										<p class="operation-v2__txt txt-new1">Sinh hoạt bình thường sau khoảng 5 - 7 ngày</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">Mức độ đau sau phẫu thuật</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Thông qua chương trình hồi phục nhanh sau phẫu thuật Rapid Healing Project sẽ giúp bệnh nhân hồi phục nhanh chóng và tích cực hơn.
									Sau khi thuốc mê tan sẽ có cảm giác hơi đau nhói cùng với cảm giác hơi khó chịu một chút nhưng từ từ sẽ thuyên giảm và hồi phục.
									Lúc điều trị cắt chỉ hay vệ sinh sát trùng sẽ có cảm giác hơi đau nhẹ không đáng kể.
									Bị sưng và có cảm giác nóng có thể thuyên giảm thông qua uống thuốc giảm đau được kê đơn và chườm lạnh sẽ giúp thuyên giảm.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* Kết luận dựa vào tài liệu khảo sát của bệnh nhân thực tế đã phẫu thuật tại bệnh viện</p>
									<p class="pain-v2__noti txt-new4">* Không phải mức độ chính xác tuyệt đối, vì vậy chỉ mang tính tham khảo</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
