<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content">
		<div class="new-visual type-apex">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">세련되게 오뚝한 매력 포인트</p>
						<h3 class="new-visual__tit"><span class="n-color-nose2">코끝</span>성형</h3>
						<p class="new-visual__txt">얼굴의 중심에서 피어나는 섬세한 아름다움</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#세련된느낌</span></li>
							<li class="new-visual__item"><span>#동안이미지</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-apex">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI NOSE SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							얼굴에서 <span class="n-color-nose2">가장 입체적인 코끝,</span><br class="hidden-tm">
							작은 변화로도 이미지가 달라집니다
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		<span class="color-black1">코끝은 콧대와 콧볼, 비주가 만나는 코의 중심으로, 코에서 가장 높고 돋보이는 부분이라고 할 수 있습니다.</span><br>
							따라서 아주 작은 부분임에도 이 코끝의 형태에 따라 인상 전체가 달라질 수도 있죠.
							가장 이상적인 코끝은 그 위치가 코의 중심선에 위치하고 콧대 높이에 맞게 자연스럽게 솟아
							비주가 거의 보이지 않을 정도의 높이에 있는 것입니다.
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		하지만 대부분 아시아인들의 코끝은 피부가 두텁고 연골이 작은 특징을 가지고 있습니다.<br class="hidden-tm">
							때문에 코끝이 뭉툭하고 상대적으로 낮거나 처져 보여 인상이 투박해 보이는 경우가 많죠.<br class="hidden-tm">
					 		<span class="n-color-nose2">이런 경우 코끝 성형을 통해 코끝의 위치와 모양을 잡아주어, 더욱 세련되어 보이고 입체감 있는 인상을 추구할 수 있습니다.</span>
					 	</p>
						<ul class="section-normal__list type-mbig">
					 		<li class="section-normal__item"><div class="vertical-box">동안<br> 이미지</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">세련된 느낌<br> 강조</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">살아나는<br> 얼굴의<br> 입체감</div></li>
					 	</ul>
					</div>
					<div class="section-normal__img">
						<img src="../../images/nose/apex/apex_img_1.png" class="img-normal" loading="lazy" alt="필러제품">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-explan type-apex type-white">
					<h5 class="new-content-tit tit-new2">이상적인 코끝의 위치와 비율</h5>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/apex/apex_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/apex/apex_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-tab type-nose">
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-apex" class="new-tab__link">코끝 성형</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-columellar" class="new-tab__link">비주 성형</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-alar" class="new-tab__link">콧날개 교정술</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-apex is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular"><span class="n-color-nose2">개개인의 코끝 상태에 맞는</span> 수술을<br class="hidden-tm"> 선택해 더욱 효과적입니다</h4>
						<p class="new-style1__txt txt-new1">
							코는 개개인마다 그 모양이 다르고 구조는 굉장히 복합적인 조직들로 이루어져 있습니다.<br class="hidden-tm">
							성공적인 코 성형을 위해서는 충분한 상담과 진단을 통해 개개인에 맞는 성형 방법을 찾는 것이 우선시되어야 하죠.<br class="hidden-tm">
							마찬가지로 코끝 성형 또한 환자의 상태에 따라 수술 내용을 달리해야 합니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 코끝 성형 케이스를 대표적으로 <span class="n-color-nose2">코끝의 모양이 어느 정도 잡혀있는 경우</span>와<br class="hidden-tm">
							<span class="n-color-nose2">코끝이 넓게 퍼져있는 경우</span>로 나누고 있으며, 코끝 주변부의 형태에 따라서도 그 수술 내용을
							조금씩 달리하여 <span class="n-color-nose2">보다 만족스러운 코끝 성형을 위해 노력합니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_2.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_2.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">코끝의 모양이 어느 정도 잡혀있는 경우</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_3.jpg" class="img-w100" loading="lazy" alt=""/>
									</li>
								</ul>
								<p class="img-style1__txt txt-new1 type-mt">
									비교적 큰 수술이 필요하지 않은 경우입니다. <span class="n-color-nose2">* 비중격 연골</span>이나 <span class="n-color-nose2">* 귀 연골</span>과 같은 자가연골을 방패 모양 혹은
									다이아몬드 모양으로 조각하여 디자인에 맞는 위치에 고정시켜 줍니다. 코끝이 높아지게 되면 콧대의 높이가 어색해
									보일 수 있기 때문에 콧대를 높이는 수술을 동시에 진행한다면 더욱 만족스러운 코끝 성형이 될 수 있습니다.
								</p>
							</div>
							<div class="inner-stripe">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_1.png" loading="lazy" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">* 비중격 연골</p>
											<p class="inner-stripe__txt txt-new1">
												비중격 연골이란 콧구멍 안쪽, 코뼈 아래에 터널 형태로 존재하는 연골입니다.
												채취할 때 골격을 유지하고 안쪽을 채취하기 때문에 생리적, 기능적인 면에서 손상이 거의 없고 오히려 호흡이
												편해지는 경우도 있습니다. 코끝 모양을 잡기에 용이하며 평평하고 단단하다는 특징을 살려 코끝을 받치는
												비주에 사용되기도 합니다.
											</p>
										</div>
									</li>
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_2.png" loading="lazy" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">* 귀 연골</p>
											<p class="inner-stripe__txt txt-new1">
												코끝 모양에 어울리고 성질이 비슷한 연골로, 귓구멍 옆의 오목한 부위의 연골을 주로 사용합니다.
												채취의 흔적이 거의 남지 않고 많은 양을 채취할 수 있기 때문에 코끝에 여러 겹 활용이 가능하며,
												귀 연골 주변의 진피와 지방조직을 함께 채취하면 코끝이 비쳐 보이는 것도 예방할 수 있다는 장점이 있습니다.
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="img-style1 type-line">
								<h5 class="new-content-tit tit-new2">코끝이 넓게 퍼져있는 경우</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_4.jpg" class="img-w100" loading="lazy" alt=""/>
									</li>
								</ul>
								<p class="img-style1__txt txt-new1 type-mt">
									코끝이 넓게 퍼져있는 경우에는 대게 코가 낮고 힘이 없어 코끝에 자가연골을 이식하는 것만으로는 큰 효과를 기대하기가 어렵습니다.
									때문에 기본적으로 코끝을 형성하는 좌우 연골을 모아주고 콧날개의 폭을 줄이는 등의 방법으로 코끝의 모양을 잡아주어야 합니다.
									또, 높아진 코끝을 콧구멍 사이의 비주가 제대로 지탱해줄 수 있도록 자가연골을 통해 힘을 더해주면,
									코끝의 높이와 모양이 더욱 안정적으로 유지될 수 있습니다.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							자연의 형태를 따 <span class="n-color-nose2">더욱 안전하고<br> 만족스럽습니다</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							대체적으로 코가 높고 코끝이 발달한 서양인들의 코끝을 보면, 다이아몬드 모양의 연골이 살짝 드러나는 것을 볼 수 있습니다.<br class="hidden-tm">
							즉, 오뚝한 코끝의 가장 자연적인 코끝 연골 모양은 다이아몬드 모양이라는 것이죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 이 자연이 설계한 모양을 그대로 응용하여, 코끝 성형에 사용되는 재료를<br class="hidden-tm">
							다이아몬드 또는 방패 모양으로 조각하여 사용합니다. 그래서 더욱 자연스럽고 안정적이죠.
						</p>
						<p class="new-style1__txt txt-new1">
							또, 사용되는 재료 또한 코 연골과 비슷한 성질의 <span class="n-color-nose2">* 귀 연골</span>이나 <span class="n-color-nose2">* 비중격 연골</span>과 같은 자가 연골을 재료로 선택하기 때문에
							<br class="hidden-tm">
							심리적 거부감이나 부작용 거의 없이 만족스러운 코끝 성형을 기대할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_5.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_5.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">자연스러운 재료, <span class="inline-block">자연스러운 형태</span></h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_6.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">자가 연골 사용</h6>
										<p class="img-style1__caption txt-new1">(<span class="n-color-nose2">* 비중격 연골</span> or <span class="n-color-nose2">* 귀 연골</span>)</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_7.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">자연적인 코끝 모양으로 이식</h6>
										<p class="img-style1__caption txt-new1">(다이아몬드 or 방패)</p>
									</li>
								</ul>
							</div>
							<div class="inner-stripe">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_1.png" loading="lazy" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">* 비중격 연골</p>
											<p class="inner-stripe__txt txt-new1">
												비중격 연골이란 콧구멍 안쪽, 코뼈 아래에 터널 형태로 존재하는 연골입니다.
												채취할 때 골격을 유지하고 안쪽을 채취하기 때문에 생리적, 기능적인 면에서 손상이 거의 없고 오히려 호흡이
												편해지는 경우도 있습니다. 코끝 모양을 잡기에 용이하며 평평하고 단단하다는 특징을 살려 코끝을 받치는
												비주에 사용되기도 합니다.
											</p>
										</div>
									</li>
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_2.png" loading="lazy" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">* 귀 연골</p>
											<p class="inner-stripe__txt txt-new1">
												코끝 모양에 어울리고 성질이 비슷한 연골로, 귓구멍 옆의 오목한 부위의 연골을 주로 사용합니다.
												채취의 흔적이 거의 남지 않고 많은 양을 채취할 수 있기 때문에 코끝에 여러 겹 활용이 가능하며,
												귀 연골 주변의 진피와 지방조직을 함께 채취하면 코끝이 비쳐 보이는 것도 예방할 수 있다는 장점이 있습니다.
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취/국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술재료</h5>
											<p class="operation-v2__txt txt-new1">자가연골, 실리콘 등</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										래피드 힐링 프로젝트를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-columellar">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							비주의 <span class="n-color-nose2">미세한 차이</span>가<br>
							프로화일을 결정합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비주란 코를 아래에서 봤을 때 양쪽 콧구멍 사이에 기둥처럼 코끝을 받치고 있는 부분을 말합니다.<br class="hidden-tm">
							일상생활 중에서 잘 보이지 않는 코의 작은 부분이기 때문에 이 비주에 대한 성형을 생각하지 못하는 경우가 많지만<br class="hidden-tm">
							의외로 얼굴 옆선이나 코에 대한 불만족의 원인으로 꼽히는 것이 이 비주입니다.<br class="hidden-tm">
							예를 들어 측면에서 봤을 때 비주가 안으로 말려들어가 움푹 들어가 보인다던지,<br class="hidden-tm">
							반대로 비주가 너무 내려와 비주 내벽과 콧구멍이 많이 노출되어 보이는 경우가 있죠.
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_8.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_2.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">다양한 비주 유형</h5>
								<ul class="img-style1__list type-three">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_1.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 1</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_2.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 2</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_3.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 3</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_4.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 4</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_5.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 5</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_6.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 6</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							콧날개 교정술은 <span class="n-color-nose2">비교적 간편하면서도<br> 효과적인 방법</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							일반적으로 이상적인 콧날개의 폭은 눈 내안각 사이의 거리(미간 사이의 거리)와 일치하는 것으로 봅니다.<br>
							그 이상의 너비로 콧날개가 발달되어 있다면 콧구멍 안쪽과 콧날개 내측을 약간 절개하여<br class="hidden-tm">
							다시 붙여주는 비교적 간편한 콧날개 교정술로 그 폭을 줄여줄 수 있습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							콧날개 교정술은 절개 위치가 코의 안쪽에 있기 때문에 수술 후 흉터가 거의 눈에 띄지 않으며,<br class="hidden-tm">
							콧구멍이 작은 계란형으로 모아지고, 코끝 성형을 한 것처럼 <span class="n-color-nose2">코가 더욱 세련되고 오뚝해 보인다는 장점</span>이 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_9.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_9.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">효과적인 바노바기 비주 성형</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_10.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">코 성형 전담팀 운영</h6>
										<p class="img-style1__caption txt-new1">주변 부위와의 조화를 고려한 디자인, 오랜 경험으로 인한 노하우와 기술, 오랜 경험으로 인한 노하우와 기술</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취/국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술재료</h5>
											<p class="operation-v2__txt txt-new1">비중격 연골</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										래피드 힐링 프로젝트를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-alar">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-nose2">콧날개의 폭을 좁혀</span> 코끝을<br>
							돋보이게 할 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							인체의 비례는 상대적인 것이기 때문에 콧날개의 좌우 폭이 넓은 편이라면 코끝의 오뚝한 느낌이 상대적으로 감소하게 됩니다.<br class="hidden-tm">
							때문에 코끝이 충분히 발달되었음에도 코끝이 돋보이지 않는다면 콧날개 교정을 통한 개선도 생각해볼 수 있습니다.<br class="hidden-tm">
							콧날개 축소와 더불어 코끝을 부각시켜 보다 세련되고 오뚝한 느낌을 주는 것이죠.
						</p>
						<p class="new-style1__txt2 txt-new1">
							같은 높이, 같은 위치의 코끝이라도 <span class="n-color-nose2">콧날개의 너비에 따라</span> 상대적으로
							코끝이 낮아 보이거나 뭉툭해 보이게 됩니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_11.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_11.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							콧날개 교정술은 <span class="n-color-nose2">비교적 간편하면서도<br> 효과적인 방법</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							일반적으로 이상적인 콧날개의 폭은 눈 내안각 사이의 거리(미간 사이의 거리)와 일치하는 것으로 봅니다.<br class="hidden-tm">
							그 이상의 너비로 콧날개가 발달되어 있다면 콧구멍 안쪽과 콧날개 내측을 약간 절개하여<br class="hidden-tm">
							다시 붙여주는 비교적 간편한 콧날개 교정술로 그 폭을 줄여줄 수 있습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							콧날개 교정술은 절개 위치가 코의 안쪽에 있기 때문에 수술 후 흉터가 거의 눈에 띄지 않으며,<br class="hidden-tm">
							콧구멍이 작은 계란형으로 모아지고, 코끝 성형을 한 것처럼 <span class="n-color-nose2">코가 더욱 세련되고 오뚝해 보인다는 장점</span>이 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_12.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_12.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">콧날개 교정술</h5>
								<div class="inner-circle type-nose">
									<ul class="inner-circle__list">
						 				<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												코 안쪽<br>
												절개로 거의<br>
												보이지 않는<br>
												흉터
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												코끝 성형을<br>
												한 듯 세련되고<br>
												오뚝한 이미지
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">콧구멍 모양<br> 교정 효과</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-half type-mt">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_13.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">
											콧구멍 안쪽으로 약 ½ 정도를 절개하고,<br>
											그늘진 콧날개 내측으로 약 ½ 정도를 초승달<br>
											모양으로 절제합니다.
										</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_14.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">절제된 피부를 다시 붙여줍니다.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취/국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술재료</h5>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										래피드 힐링 프로젝트를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
