@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "main/motion";
.main{
    &__tit{margin:0; font-size:40px; font-weight:$medium; color:#fff;
		&.type-bar{position:relative;
			&:after{display:block; width:25px; height:0; border-bottom:1px solid #333; margin:22px auto; content:'';}
		}
	}
	&__wrap{max-width:1296px; width:100%; padding:0 8px; margin:0 auto; box-sizing:border-box;}
    @media only screen and (max-width: $tablet-size) {
        &__tit{font-size:35px;}
		&__wrap{padding:0 65px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__tit{font-size:2.7rem;
			&.type-bar{position:relative;
				&:after{width:18px; margin:10px auto;}
			}
		}
		&__wrap{padding:0 13px;}
    }
}
.intro{overflow:hidden; position:relative; width:100%; height:100vh; box-sizing:border-box;
	&__bg{position:absolute; top:0; left:0; width:100%; height:100%; z-index:20; background:rgba(0,0,0,0.15);}

    // 디테일리스트
    &.nth-1{background:url('../images/main/intro_bg/intro_bg_1.jpg') no-repeat center center / cover;
        .intro-inner{display: block;}
        .intro-inner__tit{opacity: 0;}
        .intro-inner__txt{font-weight:$thin;opacity: 0;
            &.nth-1{position:relative; display:inline-block;
                &:after{position:absolute; right:-60px; bottom:12px; display:block; width:50px; height:0; border-top:2px solid #fff; content:'';}
            }
        }
        .intro-inner__subtit{opacity: 0;}
    }
    // 디테일리스트(외주)
    &.nth-2{background:url('../images/main/intro_bg/intro_bg_2.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 태국렛미인 시즌4
    &.nth-3{background:url('../images/main/intro_bg/intro_bg_3.jpg') no-repeat center center / cover;
        .intro-video{top: 50px;}
        .intro-inner{display: block;}
        .intro-inner__txt{font-size: 56px;font-weight: $medium;opacity: 1;}
        .intro-inner__subtit{margin-top: 40px;opacity: 1;}
    }
    // 10년동안
    &.nth-4{background:url('../images/main/intro_bg/intro_bg_4.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 크리스틴 뷰티
    &.nth-5{background:url('../images/main/intro_bg/intro_bg_5.jpg') no-repeat center center / cover;
        .intro-inner{display: block;}
    }
    // 뀐 뷰티
    &.nth-6{background:url('../images/main/intro_bg/intro_bg_6.jpg') no-repeat center center / cover;
        .intro-inner{display: block;}
    }
    // 조이핑크 반짝이
    &.nth-7{background:url('../images/main/intro_bg/intro_bg_7.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 조이핑크 핑크
    &.nth-8{background:url('../images/main/intro_bg/intro_bg_8.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 조이핑크 레드
    &.nth-9{background:url('../images/main/intro_bg/intro_bg_9.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 무사고
    &.nth-10{background:url('../images/main/intro_bg/intro_bg_10.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    // 전문의
    &.nth-11{background:url('../images/main/intro_bg/intro_bg_11.jpg') no-repeat center center / cover;
        .intro-inner{display: none;}
    }
    @media only screen and (max-width: $tablet-size){
        &.nth-1, &.nth-2, &.nth-3, &.nth-4, &.nth-5,
        &.nth-6, &.nth-7, &.nth-8, &.nth-9, &.nth-10{background: none;}
        &__bg{display: none;}
    }
    @media only screen and (max-width: $mobile-size){}
}

.intro-video{position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; z-index:1;
    $this:&;

    &__iframe{position:absolute; height: 100%; width: 100vw; height: 56.25vw; min-height: 100vh; min-width: 177.77vh; top: 50%; left: 50%;
    -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

    @media only screen and (max-width: $tablet-size) {display:none;
		iframe{display:none;}
    }
    @media only screen and (max-width: $mobile-size) {}
}

.intro-inner{
    $this:&;

    &__box{position:absolute; left:10%; bottom:15%; z-index:30; color:#fff;}
    &__tit{display:inline; margin:18px 0 0 0; font-size:60px; font-weight:$bold;}
    &__txt{margin:0; font-size:26px;}
    &__motion{display:block;}
    &__subtit{margin:50px 0 0 0;display: inline-block; font-size: 20px; background: #000; background: rgba(0,0,0,.05); padding: 0 5px; box-sizing:border-box;}
    &__bar{position:relative; margin:50px 0 0 0; padding-top:20px; font-size:18px; color:#fff; line-height:1.55; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; width:160px; height:0; border-top:2px solid #b916a4; content:'';}
    }
    &__point{color:$color-point;}

    @media only screen and (max-width: $tablet-size) {
        display: none !important;
    }
    @media only screen and (max-width: $mobile-size) {}
}

.intro-border{position:absolute;}
.intro-sns{position:absolute; top:0; bottom:0; right:30px; height:156px; margin:auto 0; padding:0; text-align:center; font-size:0; z-index:40;
    &__item{list-style:none;
        & + &{margin-top:24px;}
    }
    &__link{display:inline-block; transition:background .3s;
        &.type-blog{width:21px; height:24px;  background:url('../images/main/blog_off.png') no-repeat center center / contain;
            &:hover{background:url('../images/main/blog_on.png') no-repeat center center / contain;}
        }
    }
    & i{color:#d2d2d2; font-size:21px; transition:color .3s;
        &:hover{color:#fff;}
    }
    @media only screen and (max-width: $tablet-size) {display:none;}
}

.animated.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.intro-slide{display: none;
    $this:&;

    @media only screen and (max-width: $tablet-size){
        display: block;position: relative;

        &__list{margin: 0;padding: 0;}
        &__item{position: relative;list-style: none;height: 100vh;
            &:before{content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: inherit;}
            &.nth-1{
                &:before{background: url('../images/main/intro_slide/intro_slide_1_t.jpg') center center/cover no-repeat;}
            }
            &.nth-2{
                &:before{background: url('../images/main/intro_slide/intro_slide_2_t.jpg') center center/cover no-repeat;}
            }
            &.nth-3{
                &:before{background: url('../images/main/intro_slide/intro_slide_3_t.jpg') center center/cover no-repeat;}
            }
            &.nth-4{
                &:before{background: url('../images/main/intro_slide/intro_slide_4_t.jpg') center center/cover no-repeat;}
            }
        }

        &__inner{padding: 0 60px;}
        &__wrap{padding-top: 170px;}
        &__tit{margin: 0;padding: 0;font-size: 56px;font-weight: $bold;color: #fff;opacity: 0;letter-spacing: -2px;}
        &__txt{margin: 35px 0 0;font-size: 20px;font-weight: $regular;color: #fff;line-height: 1.5;opacity: 0;}
        &__area{position: absolute;left: 70px;top: 50%;margin-top: 70px;transform: translateY(-50%);text-align: center;}
        &__progress{display: inline-block;width: 4px;height: 130px;background-color: rgba(255, 255, 255, 0.4);}
        &__bar{display: block;width: inherit;height: 0%;background-color: #fff;}
        &__counter{margin-top: 25px;font-size: 16px;color: #fff;}
        &__point{color:$color-point;}
    }

    @media only screen and (max-width: $mobile-size){
        &__inner{padding: 0 25px;}
        &__wrap{padding-top: 100px;}
        &__tit{font-size: 3.3rem;}
        &__txt{margin-top: 22px;font-size: 1.3rem;}
        &__area{left: 30px;margin-top: 55px;}
        &__progress{width: 2px;height: 70px;}
        &__counter{margin-top: 10px;font-size: 1.1rem;}
    }
}

/*포커스픽*/
.focus{text-align:center;
    $this:&;
    &__area{padding:100px 0; box-sizing:border-box;}
	&__wrap{margin-top:50px;}
    &__tit{position:relative; margin:0; text-transform:uppercase; color:$black1;}
    &__txt{margin:20px 0 0 0; font-size:16px; color:#666; line-height:1.4; font-weight:$regular;}
    &__let4{position:relative; width:100%; height:0; padding-bottom:27%; margin-bottom: 20px;}
    &__best{position:relative; width:100%; height:0; padding-bottom:27%;
        & + #{$this}__list{margin-top:0;}
        & + &{margin-top: 20px;}
    }
	&__list{margin:-20px 0 0 -20px; padding:0; font-size:0;}
	&__item{position:relative; display:inline-block; width:25%; margin-top:20px; padding-left:20px; vertical-align:top; box-sizing:border-box; list-style:none;}
	&__img{position:relative; top:0; left:0; width:100%; height:0; padding-bottom:100%; border:0;}
	&__category{position:absolute; top:20px; left:20px; display:inline-block; padding:5px 6px 6px 6px; font-size:14px; color:#fff; font-weight:$regular; z-index:10;
		&.type-promotion{background-color:#ff3904;}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:20; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {
        &__let4{padding-bottom:64.68%;}
		&__best{padding-bottom:64.68%;}
		&__item{width:50%;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__let4{margin-bottom: 10px;}
		&__area{padding:50px 0;}
		&__wrap{margin-top:30px;}
		&__txt{font-size:1.3rem;}
        &__list{margin:-10px 0 0 -10px;}
		&__item{margin-top:10px; padding-left:10px;}
		&__category{top:10px; left:10px; padding:4px 5px 5px 5px; font-size:1.2rem;}
        &__best{
            & + &{margin-top: 10px;}
        }
    }
}

//리얼스토리
.real{position:relative; padding:150px 0 100px; text-align:center; box-sizing:border-box;
	$this:&;
	&:before{position:absolute; left:0; right:0; top:0; height:0; padding-bottom:34.375%; background:url('../images/main/real_bg.jpg') no-repeat center center / cover; text-align:center; z-index:-1; content:'';}
	&__wrap{max-width:1296px; width:100%; margin:0 auto; padding:0 8px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__header{position:relative; display:inline-block; padding:20px 64px; border:4px solid #fff; border-top:none; box-sizing:border-box;
		&:before,&:after{position:absolute; top:0; width:calc(50% - 230px); height:0; border-top:4px solid #fff; content:'';}
		&:before{left:0;}
		&:after{right:0;}
	}
	&__category{position:absolute; width:50px; top:12px; right:12px; z-index:30; font-size:0;
		img{max-width:100%;}
	}
	&__tit{ display:inline-block; margin:0;  font-size:40px; color:#fff;  line-height:1.2; font-weight:500; box-sizing:border-box;}
	&__txt{position:absolute; top:-8px; left:0; right:0; text-align:center; color:#fff; font-size:18px;}
	&__area{margin-top:151px;
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left; width:50%;}
	&__list{margin:0; padding:0; font-size:0; text-align:left;}
	&__item{overflow:hidden; position:relative; display:inline-block; width:100%; padding-bottom:81.25%; height:0; list-style:none;
		&.type-small{width:50%; padding-bottom:40.625%;}
		&.is-active{
			#{$this}__border.type-top{width:100%;}
			#{$this}__border.type-left{height:100%;}
			#{$this}__border.type-bottom{width:100%;}
			#{$this}__border.type-right{height:100%;}
			#{$this}__img{transform:scale(1.2); }
		}
	}
	&__border{position:absolute; background-color:#ff8400; z-index:10; transition:all 0.5s;
		&.type-top{top:0; left:0; height:6px; width:0;}
		&.type-left{bottom:0; left:0; height:0; width:6px;}
		&.type-bottom{bottom:0; right:0; height:6px; width:0;}
		&.type-right{top:0; right:0; height:0; width:6px;}
	}
	&__img{transform: scale(1); transition:transform 0.5s;}
	&__link{position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size) {padding-top:120px;
		&:before{background:url('../images/main/real_bg_t.jpg') no-repeat center center / cover; padding-bottom:104.16%;}
		&__area{margin-top:120px;}
		&__wrap{padding:0 65px;}
		&__box{width:100%;
			&.type-another{position:relative; padding-top:81.25%; box-sizing:border-box;
				#{$this}__item.type-big{position:absolute; top:0; left:0;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:60px 0;
		&__category{top:7px; right:7px; width:30px;}
		&__header{padding:16px 42px; border-width:3px;
			&:before,&:after{width:calc(50% - 165px); border-width:3px;}
		}
		&__txt{top:-6px; font-size:1.3rem;}
		&__wrap{padding:0 13px;}
		&__area{margin-top:60px;}
		&__tit{font-size:2.3rem;}
		&__foreign{font-size:1.3rem;}
	}
}

.main-sns{padding:0 0 100px; box-sizing:border-box;  text-align:center;
	$this:&;
	&__tit{color:#000;}
	&__list{margin:50px 0 0; padding:0; font-size:0;}
	&__item{position:relative; display:inline-block; padding:4px 60px; list-style:none; box-sizing:border-box; vertical-align:top;
		& + &:before{position:absolute; top:0; left:0; bottom:0; width:0; border-right:1px solid #e9e9e9; content:'';}
		&.nth-1{
			#{$this}__subject:before{background:url('../images/main/main_sns_1.png') no-repeat center center / contain;}
		}
		&.nth-2{
			#{$this}__subject:before{background:url('../images/main/main_sns_2.png') no-repeat center center / contain;}
		}
		&.nth-3{
			#{$this}__subject:before{background:url('../images/main/main_sns_3.png') no-repeat center center / contain;}
		}
		&.nth-4{
			#{$this}__subject:before{background:url('../images/main/main_sns_4.png') no-repeat center center / contain;}
		}
        &.nth-5{
			#{$this}__subject:before{background:url('../images/main/main_sns_5.png') no-repeat center center / contain;}
		}
        &.nth-6{
			#{$this}__subject:before{background:url('../images/main/main_sns_6.png') no-repeat center center / contain;}
		}
	}
	&__subject{position:relative; margin:0; font-size:17px; color:#666; font-weight:$light;
		&:before{display:block; width:130px; height:130px; margin:0 auto 18px; content:'';}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-decoration:none; color:inherit; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size) {
		&__item{width:25%; padding:4px 0;}
		&__list{margin-left:-54px; margin-right:-54px;}
		&__subject{
			&:before{width:95px; height:95px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 0 50px;
		&__item{width:50%; padding:2px 0;
			&:nth-child(odd):before{border-right:none;}
			&:nth-child(2n) ~ &{margin-top:34px;}
		}
		&__list{margin:34px 0 0 0; padding:0 30px; box-sizing:border-box;}
		&__subject{font-size:1.3rem;
			&:before{width:65px; height:65px; margin:0 auto 8px;}
		}
	}
}


//메인 검색창
.main-search{padding:70px 0 70px; background:url('../images/main/main-search_bg.jpg') no-repeat center center / cover; box-sizing:border-box; text-align:center;
    &__tit{position:relative; margin:0;
        &:after{display:block; width:25px; height:0; margin:16px auto 0;  border-top:1px solid #fff; content:'';}
    }
    &__wrap{width:100%; max-width:800px; margin:0px auto; }
    &__box{margin-top:24px; padding:0 50px;  box-sizing:border-box;}
    &__bg{border:1px solid #1b1b1b; background-color:rgba(141,33,127,0.1);}
    @media only screen and (max-width: $tablet-size) {padding:50px 0;
        &__wrap{max-width:100%; padding:0 60px; box-sizing:border-box;}
        &__box{padding:0;}
    }
    @media only screen and (max-width: $mobile-size) { background:url('../images/main/main-search_bg_m.jpg') no-repeat center center / cover;
        &__box{margin:0;}
        &__wrap{padding:0 12px;}
        &__tit{
            &:after{width:18px; margin-top:10px;}
        }
        &__bg{margin-top:34px; background:transparent; border:none;}
    }
}
.search-keyword{width: 100%; margin:26px 0 0 0;
	&__box{position:relative; width: 100%; padding: 6px 30px 6px 64px; border: 2px solid #ffffff; border-radius: 50px; background:transparent; box-sizing:border-box;}
	&__wrap{ width:100%;}
	&__label{overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0, 0, 0, 0); border: 0;
		// &.focus{background: url('../images/review/photo/photo_on.png') no-repeat center center / contain;}
	}
	&__input{width:100%; height:34px; border: 0; font-size: 16px; color: #fff; box-sizing:border-box; background:transparent; outline:0;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #a5a8a8;}
		&::-moz-placeholder { /* Firefox 19+ */  color: #a5a8a8;}
		&:-ms-input-placeholder { /* IE 10+ */ color: #a5a8a8;}
		&:-moz-placeholder { /* Firefox 18- */ color: #a5a8a8;}
	}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; left:30px; width: 20px; height:20px; margin:auto 0;border: 0;
        background: url('../images/main/search_main_off.png') no-repeat center center / contain; border-radius: 0; outline: 0; z-index:10; text-indent:-9999px; cursor:pointer;
        &.is-focus{background: url('../images/main/search_main_on.png') no-repeat center center / contain;}
    }
	@media only screen and (max-width: $mobile-size) {margin-top:24px;
        &__box{padding: 3px 16px 3px 50px; border-width:1px; border-radius:42px;}
        &__btn{left:20px; width:19px; height:21px;}
        &__input{font-size:1.2rem;}
	}
}
.main-keyword{padding:30px 0; box-sizing:border-box;
    $this:&;
    &:after{display:block; clear:both; content:'';}
    &__tit{margin:0; font-size:18px; font-weight:$regular;}
    &__box{float:left; width:50%; padding-left:110px; box-sizing:border-box; text-align:left;}
    &__area{margin:8px 0 0 0; padding:0;}
    &__area-box{list-style:none;}
    &__list{margin:0; padding:0;}
    &__item{margin-top:6px; list-style:none;
        &.type-first{
            #{$this}__link{color:$color-point;}
        }
    }
    &__tit{font-size:18px; color:#fff; font-weight:$regular;}
	&__link {display: block; font-size: 13px; color: #fff; font-weight:$medium; text-decoration:none;}
	&__num{top: 0px; position: relative; display: inline-block; width: 21px; height: 21px; line-height: 21px; text-align: center; color: #fff; background:rgba(242,244,248,0.1);
		margin-right: 10px; box-sizing:border-box;
	}
	&__icon {display: inline-block; width: 21px; height: 21px; line-height: 20px; text-align: center; color: $color-point; margin-right: 10px;}
    @media only screen and (max-width: $tablet-size) {
        &__box{width:100%; padding:0 24px;
            & + &{margin-top:30px;}
        }
        // &__area-box{
        //     &:nth-of-type(2){display:none;}
        // }
    }
    @media only screen and (max-width: $mobile-size) {padding:0;
        &__item{margin-top:14px;}
        &__area{margin:0; padding:0;
            &:after{display:block; clear:both; content:'';}
        }
        &__area-box{float:left; width:100%;
            &:last-child{display:none;}
        }
    }
}

//디테일 슬라이드
.detail-slide{
    &__wrap{width:100%; max-width:1296px; margin:0 auto; padding:0 8px; box-sizing:border-box;
        &:after{display:block; clear:both; content:'';}
    }
    &__box{
        &.type-img{float:left; width:61.57%; padding:0 86px; box-sizing:border-box;}
        &.type-txt{float:right; width:38.43%;padding:100px 0 0; box-sizing:border-box;}
    }
    &__img{position:relative; width:100%; height:0; padding-bottom:115.26%;}
    &__list{margin:0; padding:0; cursor:move;}
    &__item{list-style:none;}
    &__num{display:block; text-align:center; font-size:30px; color:$black3;}
    &__eng{margin:16px 0 0 0; font-size:70px; font-weight:$medium; color:$color-point;}
    &__tit{margin:0px 0 0 0; font-size:50px; color:$black1; font-weight:$light; line-height:1.2;}
    &__txt{margin:20px 0 0 0; font-size:18px; color:$black3; line-height:1.66;}
    &__dot{position:absolute; bottom:90px; right:46px; display:inline-block; z-index:10; cursor:default;}
    @media only screen and (max-width: $tablet-size) {
        &__num{text-align:left;}
        &__tit{font-size:44px;}
        &__wrap{padding:0 60px 60px;}
        &__box{
            &.type-txt{float:none; width:100%;}
            &.type-img{float:none; width:100%; padding:0;}
        }
        &__img{padding-bottom:87.96%;}
        &__dot{bottom:-30px; left:0; right:0; text-align:center;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{padding:0 25px 60px;}
        &__box{
            &.type-txt{padding-top:60px;}
        }
        &__num{font-size:1.9rem;}
        &__eng{margin-top:12px; font-size:3.2rem;}
        &__tit{font-size:2.6rem;}
        &__txt{margin-top:10px; font-size:1.3rem;}
    }
}
//맵
//맵
.main-location{overflow:hidden; position:relative; height:594px;
    $this:&;
    &__area{width:100%; height:100%;}
    &__map{width:100%; height:100%;}
    &__box{position:absolute; top:0; right:0; width:636px; height:100%; padding:0 80px 0 110px; background-color:$color-point2; box-sizing:border-box; z-index:1;}
    &__wrap{display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell;  vertical-align:middle;}
    &__dl{margin:40px 0 0 0; position:relative;
        &:after{display:block; clear:both; content:'';}
    }
    &__dt{position:absolute; top:0; left:0; overflow:hidden; width:30px; height:36px; margin:0; text-indent:-9999px;
        &.type-map{background:url('../images/main/location.png') no-repeat center top;}
        &.type-time{background:url('../images/main/time.png') no-repeat center top;}
        &.type-phone{top:8px; background:url('../images/main/location_phone.png') no-repeat center top;}
    }
    &__dd{float:left; margin:0; padding-left:46px;
        &.type-phone{
            #{$this}__item{font-size:33px; color:$color-orange;}
        }
        &.type-time{
            #{$this}__item{display:inline-block;
                & + #{$this}__item{
                    // &:before{display:inline; margin:0 8px; content:'/'}
                }
                & + #{$this}__item + #{$this}__item{margin-top:5px;}
                &:last-child{
                    &:before{display:none;}
                }
            }
        }
    }
    &__list{margin:0; padding:0;}
    &__item{list-style:none; color:#fff; font-size:16px;
        & + &{margin-top:5px;}
        & + & + &{margin-top:5px;}
    }
    &__night{display:inline-block; margin-left:10px; padding:3px 7px; font-size:14px; color:#e6c69b; border:1px solid #e6c69b; text-decoration:none;}
    &__vertical{vertical-align:middle;}
    &__group{position:relative; display:inline-block; margin-top:32px; font-size:0;}
    &__btn{
        & + &{margin-left:25px;}
    }
    &__link{color:inherit; text-decoration:none;}
    @media only screen and (max-width: $tablet-size) {position:relative; height:auto;
        &__area{position:relative; width:100%; height:500px;}
        &__map{position:absolute; top:0; left:0;}
        &__box{position:static; width:100%; padding:90px 170px; }
        &__wrap{display:block; width:auto; height:auto;}
        &__inner{display:block;}
        &__group{position:absolute; top:30px; left:30px; margin-top:0; z-index:50;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__area{height:300px;}
        &__box{padding:46px 28px;}
        &__dl{margin-top:30px;
            & + &{margin-top:24px;}
        }
        &__item{font-size:1.4rem;
            // & + & + &{margin-top:12px;}
        }
        &__dt{width:25px; height:30px;
            &.type-map{top:4px; background:url('../images/main/location_m.png') no-repeat center top / 25px 30px;}
            &.type-time{top:4px; background:url('../images/main/time_m.png') no-repeat center top / 25px 26px;}
            &.type-phone{top:8px; background:url('../images/main/location_phone_m.png') no-repeat center top / 20px 21px;}
        }
        &__dd{padding-left:38px;
            &.type-phone{
                #{$this}__item{font-size:2.4rem;}
            }
            &.type-time{
                #{$this}__item{display:block;
                    & + #{$this}__item{margin-top:3px;
                        &:before{display:none;}
                    }
                    & + #{$this}__item + #{$this}__item{margin-top:3px;}
                }
            }
        }
        // &__link{display:block; width:60px; font-size:1.3rem; margin:6px 0 0 0; padding:2px 4px;}
        &__group{left:0; display:block; width:100%; padding:0 12px; box-sizing:border-box;}
    }
}



.main-btn{position: relative; display: inline-block;  height: 44px; padding:0 28px; line-height: 43px; border: 1px solid #838383; border-radius: 30px;
        text-align: center; font-size: 16px; color: #6f6c6c; text-decoration:none;
    i {font-size: 14px; top: -1px; margin-left: 5px; position: relative;}
    $this:&;
    &:hover {color: #fff; background-color: $color-point; border-color: $color-point;
        #{$this}__icon{
            &.type-sms{background:url('../images/main/sms_icon_on.png') no-repeat center center;}
            &.type-print{background:url('../images/main/print_icon_on.png') no-repeat center center;}
        }
    }
    &__icon{overflow:hidden; display:inline-block;  width:22px; height:20px; margin-right:6px; text-indent:-9999px; vertical-align:middle;
        &.type-sms{background:url('../images/main/sms_icon_off.png') no-repeat center center;}
        &.type-print{background:url('../images/main/print_icon_off.png') no-repeat center center;}
    }
    &__wrap{display:inline-block; vertical-align:middle;}
    &.type-another{border-color:#fff; color:#fff;
        &:hover{background:#fff; color:$color-point;}
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-another{border-color:#333; color:#fff; background-color:#333333;
            &:hover{background:#fff; color:$color-point; border-color:#fff;}
        }
    }
    @media only screen and (max-width: $mobile-size) {position: relative; height: 40px; padding:0 46px; line-height: 38px;  border-radius: 30px; font-size: 1.2rem; vertical-align:middle;
        i {position:relative; font-size: 14px; margin-left: 5px; vertical-align:middle;}
        &.type-another{padding:0 32px;
            &:hover{background:#fff; color:$color-point;}
        }
        &__icon{width:15px; height:11px;
            &.type-sms{background:url('../images/main/sms_icon_off_m.png') no-repeat center center / contain;}
        }
    }
}
.main-form{display:none; position:absolute; top:0; left:0; width:100%; height:100%;z-index:10;
    &.is-active{display:block;}
    &__form{height:100%;}
    &__wrap{position:relative; width:100%; height:100%; padding:6px 110px 6px 60px; background:#fff; border-radius:48px; box-sizing:border-box;}
    &__label{position:absolute; top:0; bottom:0; left:30px; margin:auto 0; width:22px; height:16px; background:url('../images/main/sms_icon_b.png') no-repeat center center; }
    &__input{width:100%; height:100%;background:transparent; border:none; font-size:15px; font-weight:$regular; outline:0;
        &::placeholder{color:#666;}
    }
    &__btn{position:absolute; top:0; bottom:0; right:12px; width:94px; height:30px; line-height:30px; cursor:pointer;
        margin:auto 0; color:#fff; font-size:14px; font-weight:$medium; background:#000; border:none; border-radius:30px;}
    &__close{overflow:hidden; position:absolute; bottom:-26px; right:12px; display:block; width:18px; height:18px;
        background:url('../images/main/form_btn.png') no-repeat center center / contain; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {width:410px;
        &__wrap{background-color:#333;}
        &__label{background:url('../images/main/sms_icon_off.png') no-repeat center center; }
        &__input{color:#fff;
            &::placeholder{color:#fff;}
        }
        &__btn{background-color:#fff; color:#333;}
    }
    @media only screen and (max-width: $mobile-size) {right:0; width:calc(100% - 24px); margin:0 auto;
        &__input{font-size:1.2rem;}
        &__label{width:15px; height:11px; background:url('../images/main/sms_icon_off_m.png') no-repeat center center / contain; }
        &__btn{width:76px; height:28px; line-height:28px; font-size:1.2rem;}
        &__close{right:5px; bottom:-30px; width:24px; height:24px;}
    }
}
.main-photo{padding:110px 0; text-align:center; box-sizing:border-box;
    $this:&;
    &__wrap{width:1200px; margin:0px auto;}
    &__btn{margin-top:50px;}
    &__close{overflow:hidden; display:none; position:absolute; top:40px; right:24px; width:42px; height:42px;
        background:url('../images/main/main_photo_close.png') no-repeat center center / contain; text-indent:-9999px; z-index:60;
        &.is-active{display:block;}
    }
    .photo-slide__noti{margin:-30px 0 0 0; text-align:left; padding-left:40px; padding-right:200px; box-sizing:border-box;}
    @media only screen and (max-width: $tablet-size) {position:relative; padding:70px 0;
        &__wrap{width:100%; padding:0 65px; box-sizing:border-box;}
        &.is-active{
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.85); z-index:50; content:'';}
            #{$this}__close{display:block;}
            .photo-slide__btn{z-index:40;}
        }
        .photo-slide__noti{margin-top:8px; padding:0; text-align:center;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{padding:0 50px;}
        &__btn{margin-top:20px;}
        &__close{top:100px; right:50px; width:21px; height:21px;
        }
        .photo-slide__noti{margin:10px -50px 0;}
    }
}


.detail-list{padding:100px 0; background:#f5f5f5;
	$this:&;
	&__wrap{overflow:hidden; position:relative;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__area{float:left; width:50%;}
	&__outer{position:relative; width:100%; height:0; padding-bottom:103.125%;
		&.type-pattern{
			&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/main/detail_list_pattern.png') no-repeat center center / cover;  content:'';}
		}
	}
	&__inner{position:absolute; top:0; left:0; width:100%; height:100%; padding:8% 14%; box-sizing:border-box; background-color:#fff;}
	&__box{position:absolute; left:0; bottom:0;}
	&__criterion{position:relative; height:100%;}
	&__tit{margin:0;font-size:30px; font-weight:$lightDown;}
	&__point{font-weight:$medium;}
	&__point2{margin:0; font-size:14px; color:$color-point; text-decoration:underline;}
	&__txt{margin:20px 0 0 0; font-size:16px; font-weight:$light; color:#666;}
	&__name{margin:0; font-size:26px; font-weight:$regular; }
	&__career{margin:14px 0 0 0; font-size:16px;}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:54px; height:53px; margin:auto 0; z-index:70; text-indent:-9999px;
		&.type-prev{left:20px; background:url('../images/main/detail_list_prev.png') no-repeat center center / cover;}
		&.type-next{right:20px; background:url('../images/main/detail_list_next.png') no-repeat center center / cover;}
	}
    &__link{margin-top:20px;}
    @media only screen and (max-width: $minpc-size2){
        &__tit{font-size: 24px;}
        &__name{font-size: 18px;}
        &__txt{margin-top: 10px;font-size: 14px;}
        &__career{margin-top: 5px;font-size: 14px;}
    }
	@media only screen and (max-width: $tablet-size){
		&__wrap{margin:0 -65px;}
		&__btn{display:none !important;}
		&__area{float:none; width:100%;
			&.type-txt{margin-top:-170px; padding:0 30px; box-sizing:border-box;
				#{$this}__outer{padding-bottom:0; width:auto; height:auto;}
			}
		}
		&__inner{position:relative; width:auto; height:auto; padding:36px 40px; box-sizing:border-box;}
		&__box{position:static; margin-top:70px;}
		&__item{margin:0 25px;
			#{$this}__outer{
				&.type-pattern{
					&:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,0.5); z-index:10; opacity:1; transition:opacity 0.5s; content:'';}
				}
			}
			&.slick-center{
				#{$this}__outer{
					&.type-pattern{
						&:before{opacity:0;}
					}
				}
			}
		}
        &__link{margin-top:15px;}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 0;
		&__wrap{margin:0 -13px;}
		&__tit{font-size:1.6rem;}
		&__area{
			&.type-txt{margin-top:-80px; padding:0 15px; }
		}
		&__inner{padding:18px 20px;}
		&__box{margin-top:28px;}
		&__item{margin:0 8px;}
		&__point2{font-size:1rem;}
		&__txt{margin-top:10px; font-size:1.2rem;}
		&__name{font-size:1.6rem;}
		&__career{margin-top:8px; font-size:1rem;}
        &__link{width:100%; height:30px; padding:0 5px; margin-top:10px; line-height:30px; border-radius:0; box-sizing:border-box;}
        &__align{text-align:center;}
	}
}
.detail-thumbnail{
	$this:&;
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:16.66%; list-style:none;
		&.type-logo{width:16.7%; background-color:#933687;
			#{$this}__outer{padding-bottom:102.803%;
				&:before,&:after{display:none;}
			}
			#{$this}__tit{color:rgba(255,255,255,0.8);}
		}
		&.is-active,&.is-hover{
			#{$this}__outer{
				&:before{width:90.7%; height:89%; opacity:1;}
			}
			#{$this}__tit,#{$this}__txt{color:#000;}
		}
	}
	&__outer{position:relative; width:100%; height:0; padding-bottom:103.125%;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:100%; height:100%; margin:auto; background:#fff; z-index:15; content:''; opacity:0; transition:all 0.5s;}
		&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.3); z-index:10; content:'';}
	}
	&__inner{position:absolute; top:0; left:0; bottom:0; right:0; z-index:18;}
	&__vertical{display:table-cell; text-align:center; vertical-align:middle;}
	&__box{display:inline-table; width:100%; height:100%;}
	&__tit{margin:0; font-size:14px; color:rgba(255,255,255,0.7); transition:color 0.5s;}
	&__txt{margin:0; font-size:20px; font-weight:$regular; color:rgba(255,255,255,0.7); transition:color 0.5s;}
	&__company{margin:0; color:#fff; font-size:30px; font-weight:$regular;
		&:after{display:block; width:96px; height:30px; margin:20px auto 0; background:url('../images/main/detail_list_logo.png') no-repeat center center / contain; content:'';}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20; text-indent:-999px;}
	@media only screen and (max-width: $tablet-size){margin-top:40px;
		&__item{width:33.33%;
			&.type-logo{width:33.33%;
				#{$this}__outer{padding-bottom:103.125%;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){margin-top:20px;
		&__tit{font-size:1rem;}
		&__txt{font-size:1.4rem;}
		&__company{font-size:1.6rem;
			&:after{width:48px; height:15px; margin:5px auto 0;}
		}
	}
}


.main-video{background:url('../images/main/video_bg_1.jpg') no-repeat center center / cover;
    $this:&;
    &__tit{margin:0; font-size:40px; font-weight:$medium; color:#333; line-height:1;
        &:before{display:block; width:70px; height:60px; margin:0px auto 4px; background:url('../images/main/video_logo.png') no-repeat center center / contain; content:'';}
        &:after{display:block; width:25px; height:0; border-top:1px solid #333; margin:20px auto 0; content:'';}
    }
    &__list{position:relative; margin:0; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{ float:left; width:50%; list-style:none; text-align:center;
        &.type-video{position:absolute; right:0; bottom:0; height:100%;}
    }
    &__inner{position:relative; height:100%; padding:0 40px; box-sizing:border-box;}
    &__outer{width:100%; max-width:400px;  margin:0px auto; padding:174px 0; box-sizing:border-box;}
    &__txt{margin:16px 0 0 0; font-size:16px; color:#666; font-weight:$light;}
    &__btn{display:block; width:100%; height:75px; margin-top:46px; font-size:16px; color:#666; border:1px solid #999; background:#fff; box-sizing:border-box; text-decoration:none;
        span{position: relative; display:inline-block; height:100%; padding-right:12px; box-sizing:border-box; vertical-align:middle;
    		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
            &:after{position:absolute; top:0; bottom:0; right:0; display:block; width:7px; height:5px; margin:auto 0; background:url('../images/main/video_arrow.png') no-repeat center center / contain; content:'';}
        }
    }
    &__box{position:relative; width:100%; height:100%;}
    &__area{position:absolute; bottom:0;width:100%; height:0; padding-bottom:97.14%;
        &.nth-1{background: url('../images/main/video_phone_1.png') no-repeat center center / cover;
            #{$this}__move{background: url('../images/main/video_youtube_1.gif') no-repeat center center / cover; }
        }
        &.nth-2{background: url('../images/main/video_phone_2.png') no-repeat center center / cover;
            #{$this}__move{background: url('../images/main/video_youtube_2.gif') no-repeat center center / cover; }
        }
    }
    &__move{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:10;
        opacity: 0; transform: scale3d(0.4, 0.4, 0.4); transition: transform 0.8s, opacity 0.4s;
        &.is-active{opacity: 1; transform: scale3d(1, 1, 1);}
    }
    &__wrap{width:100%; max-width:1296px; padding:0 8px; box-sizing:border-box; margin:0px auto;}
    &__link{overflow:hidden; position: absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent: -9999px; z-index:20;}
    @media only screen and (max-width: $tablet-size){
        &__wrap{padding:0 46px;}
        &__outer{padding:60px 16px;}
        &__inner{padding:0 8px;}
    }
    @media only screen and (max-width: $mobile-size){
        &__tit{font-size:2.8rem;
            &:before{width:54px; height:50px; margin-bottom:2px;}
            &:after{margin-top:8px;}
        }
        &__txt{margin-top:8px; font-size:1.3rem;}
        &__wrap{padding:0 20px;}
        &__item{width:100%;
            &.type-video{position:static; right:auto; bottom:auto; height:auto;}
        }
        &__area{position:static;}
        &__inner{padding:0;}
        &__outer{padding:40px 36px;}
        &__btn{margin-top:20px; height:50px; font-size:1.3rem;
            span{padding-right:10px;
                &:after{width:4px; height:6px;}
            }
        }
    }
}
