@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "new_content_common/bfaf";
@import "new_content_common/banner";
@import "new_content_common/exception";


.new-content-wrap{width:100%; max-width:1296px; margin:0px auto; padding:0 8px; box-sizing:border-box;
	@extend %box-padding;
}

.new-content-tit{margin-bottom:56px;
	&.type-stripe{margin-bottom:20px;}
	&.type-txt{margin-bottom:22px;}
	&.type-description{margin-bottom:36px;}
	@media only screen and (max-width: $mobile-size) {margin-bottom:26px;
		&.type-txt{margin-bottom:16px;}
		&.type-stripe{margin-bottom:0px;}
		&.type-description{margin-bottom:10px;}
	}
}

.new-content-tit2{margin-bottom:40px;
	@media only screen and (max-width: $mobile-size) {margin-bottom:20px;}
}

.new-visual{position:relative; width:100%; height:0; padding-bottom:52.08%;overflow: hidden;
	$this:&;

	&.is-active{
		&:before{transform: scale(1);}
		#{$this}__box{left: 0;}
	}

	&:before{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;transform: scale(1.2);transition: transform 1s ease;}
	&__box{position:absolute; top:0; bottom:0; left: -100%; width:686px; padding:0 2%; background:rgba(255,255,255,0.6); z-index:10; text-align:center; box-sizing:border-box;transition: left 1s ease;}
	&__subtit{margin:0; font-size:20px; color:$black1;}
	&__tit{margin:20px 0 0 0; font-size:68px; color:$black1; font-weight:$thin; line-height:1.05;
		&:after{display:block; width:20px; height:0; margin:26px auto 0; border-top:2px solid $black1; content:'';}
	}
	&__txt{margin:26px 0 0 0;  font-size:15px; line-height:1.7;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; vertical-align:middle;}
	&__list{margin:99px 0 0 0; padding:0;}
	&__item{display:inline-block; height:40px; margin: 15px 0 0 20px;padding:0 20px; vertical-align:middle; box-sizing:border-box; border-radius:20px; font-size:15px; list-style:none; background-color:$color-rapid; color:#fff;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
		span{display:inline-block; vertical-align:middle;}
	}
	@media only screen and (max-width: $tablet-size) {padding-bottom:130.2%;
		&.is-active{
			#{$this}__box{bottom: 0;}
		}

		// &:before{background-attachment: fixed !important;}
		&__box{top:auto; left: 0;bottom: -100%;width:100%; padding:70px 10px; box-sizing:border-box;transition: bottom 1s ease;transition-delay: 0.5s;}
		&__list{margin-top:32px;}
	}
	@media only screen and (max-width: $mobile-size) {padding-bottom:167.78%;
		&__box{padding:34px 5px;}
		&__list{margin:8px 0 0 -14px;}
		&__subtit{font-size:1.4rem;}
		&__tit{margin-top:10px; font-size:3.8rem;
			&:after{margin-top:13px;}
		}
		&__txt{margin-top:13px; font-size:1.2rem;}
		&__item{height:26px; margin:10px 0 0 14px; padding:0 14px; font-size:1rem;}
	}
}
.new-section{margin-top:100px; text-align:center; box-sizing:border-box;
	& + .new-tab{margin-top:100px;}
	&:first-child{margin-top:0;}
	&.type-cling{position:relative; margin-top:0;}
	&.type-bottom{padding-bottom:120px;}
	&__wrap{padding:120px 60px; box-sizing:border-box;
		@extend %box;
		@extend %box-padding;
		&.type-gray1{background-color:#333;}
		&.type-gray2{background-color:#eee;}
		&.type-w{padding-top:0; padding-bottom:0;}
	}
	&__box{
		& + &{margin-top:100px;
			&.type-border{padding-top:100px; border-top:1px solid #c8c8c8;  box-sizing:border-box;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		& + &{
			&.type-cling{margin-top:-1px;}
		}

	}
	@media only screen and (max-width: $mobile-size) {margin-top:60px;
		& + .new-tab{margin-top:50px;}
		&.type-bottom{padding-bottom:60px;}
		&__wrap{padding-top:60px; padding-bottom:60px;}
		&__box{
			& + &{margin-top:50px;
				&.type-border{padding-top:50px;}
			}
		}
	}
}
.section-normal{padding-top:120px; box-sizing:border-box;
	$this:&;
	@extend %box;
	@extend %box-padding;
	&.type-cling{
		#{$this}__tit{margin-top: 0;}
	}

	&__wrap{padding:0 234px; box-sizing:border-box;}
	&__eng{letter-spacing: 1px; color:$black1; text-transform: uppercase;
		& + #{$this}__tit{margin-top:24px;}
	}
	&__txt2{margin-top:44px;}
	&__txt1{margin-top:24px;}
	&__list{margin:46px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:100px; height:100px; margin:0 10px; border-radius:50%; background-color:$color-rapid; list-style:none; color:#fff; font-size:15px;}
	&__img{margin-top:50px;
		&.type-full{
			@extend %box;
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding:0;}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:60px;
		&__eng{
			& + #{$this}__tit{margin-top:18px;}
		}
		&__txt2{margin-top:28px;}
		&__txt1{margin-top:14px;}
		&__list{margin-top:24px;
			&.type-mbig{
				#{$this}__item{width:80px; height:80px;}
			}
		}
		&__item{width:50px; height:50px; margin:0 5px; font-size:1.2rem;}
		&__img{margin-top:30px;}
	}
}
.new-description{padding:0 234px; box-sizing:border-box;
	$this:&;
	&.type-pd0{
		padding: 0;
	}
	&__img{margin-top:56px;}
	&__list{margin:0; padding:0;
		&.type-mt{margin-top:36px;}
	}
	&__item{position:relative; padding:18px 80px 18px 40px; border-bottom:1px solid #d8d8d8; box-sizing:border-box; list-style:none; color:$black3; text-align:left;}
	&__wide{margin:0 -54px;}
	&__plus{position:absolute; top:20px; left:0; overflow:hidden; position:absolute; top:18px; left:0; width:25px; height:25px; background-color:$black1; border-radius: 50%; text-indent:-9999px;
		&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; content:'';}
		&:before{width:7px; height:0; border-top:1px solid #fff;}
		&:after{height:7px; width:0; border-left:1px solid #fff;}
	}
	@media only screen and (max-width: $tablet-size) {padding:0;
		&__wide{margin:0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__img{margin-top:40px; padding:0 40px; box-sizing:border-box;}
		&__list{
			&.type-mt{margin-top:10px;}
		}
		&__item{padding:18px 4px 18px 22px;}
		&__plus{top:21px; width:13px; height:13px;
			&:before{width:5px;}
			&:after{height:5px;}
		}
	}
}
.vertical-box{display:table-cell; width:1%; height:inherit; vertical-align:middle;}


.new-explan{padding:100px 60px; box-sizing:border-box;
	$this:&;
	&.type-white{padding:0 60px;}
	&.type-three{
		#{$this}__item{width: 33.33%;
			&:nth-child(2) ~ #{$this}__item{margin-top: 0}
		}
		#{$this}__wrap{padding: 0 40px;}
	}
	&.type-mt{margin-top:56px;}
	$this:&;
	&__list{margin:0 0 0 -40px; padding:0; font-size:0; text-align:left;}
	&__item{display:inline-block; width:50%; padding-left:40px; box-sizing:border-box; list-style:none; vertical-align:top; text-align:center;
		&:nth-child(2) ~ &{margin-top:36px;}
		&.type-wide{width:100%;}
	}
	&__wrap{margin-top:34px; padding:0 80px; box-sizing:border-box;}
	&__subject{
		&:after{display:block; width:20px; height:0; margin:14px auto 0; border-top:1px solid $black1; content:'';}
	}
	&__txt{margin-top:16px;}
	@media only screen and (max-width: $tablet-size) {margin:0 -40px; padding-left:104px; padding-right:104px;
		&.type-white{padding:0 104px;}
		&.type-three{
            padding-left: 40px;padding-right: 40px;
            #{$this}__list{margin: 0 0 0 -40px;text-align: center;}
            #{$this}__item{width: 50%;margin-top: 0;padding-left: 40px;
                &:nth-child(2) ~ #{$this}__item{margin-top: 40px}
            }
            #{$this}__wrap{padding: 0 30px;}
        }

		&__list{margin:0;}
		&__item{width:100%; padding-left:0; margin-top:54px;
			&:nth-child(2) ~ &{margin-top:54px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin:0 -12px; padding:50px 20px;
		&.type-mt{margin-top:26px;}
		&.type-white{padding:0px 20px;}
		&.type-three{
            padding-left: 12px;padding-right: 12px;
            #{$this}__list{margin:0 0 0 -10px;text-align: center;}
            #{$this}__item{padding-left: 10px;
                &:nth-child(2) ~ #{$this}__item{margin-top: 20px}
            }
            #{$this}__wrap{padding: 0 5px;}
        }

		&__item{margin-top:28px;
			&:nth-child(2) ~ &{margin-top:28px;}
		}
		&__wrap{margin-top:24px; padding:0;}
		&__subject{
			&:after{}
		}
	}
}



.new-stripe{background-color:#f5d3dc; padding:20px 180px 60px; box-sizing:border-box;
	$this:&;
	@extend %box;
	@extend %box-padding;
	&.type-h{padding-left: 0;padding-right: 0;}
	&.type-padding-zero{padding: 0;}
	&__list{margin:0; padding:0;}
	&__item{position:relative; height:210px; padding-left:160px; list-style:none;  text-align:left; box-sizing:border-box; border-bottom:1px solid #fff;}
	&__img{position:absolute; top:0; left:0; bottom:0; width:130px;; height:130px; margin:auto 0;}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__txt2{margin-top:6px;}
	&__txt3{margin-top: 55px;}
	@media only screen and (max-width: $mobile-size) {padding-top:16px; padding-bottom:50px;
		&__img{width:65px; height:65px;}
		&__item{height:auto; padding:34px 4px 34px 80px;}
		&__txt3{margin-top: 25px;}
	}
}

.new-stripe2{
	$this: &;

	&.type-reoperation{
		#{$this}__txt2{background-color: $reoperation2;}
	}

	&__tit{}
	&__list{margin: 56px 0 0 0;padding: 0;list-style: none;}
	&__item{position: relative;padding-left: 300px;text-align: left;
		& + &{margin-top: 60px;}
	}
	&__img{position: absolute;top: 0;left: 0;bottom: 0;width: 250px;height: 250px;margin: auto 0;}
	&__subject{}
	&__txt{margin-top: 25px;}
	&__wrap{margin: 40px 0 0 -20px;font-size: 0;}
	&__box{display: inline-block;width: 33.33%;height: 70px;padding-left: 20px;box-sizing: border-box;text-align: center;}
	&__txt2{height: inherit;padding: 0 3%;color: #fff;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

	@media only screen and (max-width: $minpc-size3){
		&__item{padding-left: 0;}
		&__img{position: static;margin: 0 auto;}
		&__subject{margin-top: 35px;}
		&__wrap{margin-left: 0;}
		&__box{width: 100%;padding-left: 0;height: auto;
			& + &{margin-top: 30px;}
		}
		&__txt2{padding: 26px 3% 24px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top: 30px;}
		&__item{
			& + &{margin-top: 30px;}
		}
		&__img{width: 125px;height: 125px;}
		&__subject{margin-top: 20px;}
		&__txt{margin-top: 15px;}
		&__wrap{margin-top: 20px;}
		&__box{
			& + &{margin-top: 15px;}
		}
		&__txt2{padding: 10px 3% 8px;}
	}
}

.inner-stripe{margin-top:70px; padding:70px 0 0; border-top:1px solid #c8c8c8; box-sizing:border-box;
	&.type-line{padding-bottom:70px; border-bottom:1px solid #c8c8c8;}
	&.type-line-zero{padding: 0;border: 0;}
	&.type-cling{margin-top: 0;}

	&__list{margin:0; padding:0;}
	&__item{position:relative;  padding-left:188px; list-style:none;  text-align:left; box-sizing:border-box;
		& + &{margin-top:80px;}
	}
	&__box{position:absolute; top:0; left:0; bottom:0; width:150px; height:150px; margin:auto 0;}
	&__img{position:relative; width:inherit; height:inherit;}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__txt{margin-top:6px;}
	@media only screen and (max-width: $tablet-size) {margin-top:50px;
		&__item{
			& + &{margin-top:36px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:26px 0px 0; padding-top:20px;
		&__box{position:static; width:75px; height:75px; margin:0px auto;}
		&__item{padding:0;}
		&__subject{margin-top:18px;}
	}
}
.new-style1{padding:120px 180px 0; box-sizing:border-box;
	@extend %box;
	@extend %box-padding;
	$this:&;
	&.type-overlab{background:#eee;
		#{$this}__img{margin-bottom:-26%;}
	}
	&.type-top0{padding-top:0;}
	&.type-top{padding:150px 0;}
	&.type-bottom{padding-bottom:120px;}
	&.type-gray{background:#eee;}
	&.type-pb{padding-bottom: 65px;}

	&__tit{font-weight:$thin;}
	&__txt{margin-top:44px;
		& + .inner-box{margin-top: 80px;}
	}
	&__link{display:inline-block; height:50px; margin-top:24px; padding:0 30px; border:1px solid $black3; font-size:15px; color:$black3; box-sizing:border-box; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
		&:hover{background-color:$black2; border-color:$black2; color:#fff;}
	}
	&__txt2{margin-top:24px;
		& + .inner-box{margin-top: 80px;}
		& + #{$this}__txt{margin-top:24px;}
	}
	&__img{position:relative; margin-top:64px;}
	&__area{margin: 0 -120px;}
	&__noti{position:absolute; left:0; right:0; bottom:30px; text-align:center; color:#fff; }
	&__overlay{position: absolute;bottom: 80px;width: 210px;
		&.type-left{left: 0;}
		&.type-right{right: 0;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-overlab{
			#{$this}__img{margin-bottom:0;}
		}
		&__area{margin: 24px 0 0;}
		&__overlay{bottom: 40px;width: 168px;}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:60px;
		&.type-bottom{padding-bottom:60px;}
		&__txt{margin-top:28px;
			& + .inner-box{margin-top: 40px;}
		}
		&__txt2{margin-top:24px;
			& + .inner-box{margin-top: 40px;}
			& + #{$this}__txt{margin-top:12px;}
		}
		&__link{height:30px; margin-top:14px; padding:0 24px; font-size:1.2rem;}
		&__img{margin:40px -12px 0;
			&.type-padding-m{padding:0 12px;}
			&.mobile-padding{padding:0 30px;}
		}
		&__area{margin-top: 14px;}
		&__noti{bottom:15px;}
		&__overlay{bottom: 12px;width: 85px;
			&.type-left{left: 12px;}
			&.type-right{right: 12px;}
		}
	}
}

.new-style2{
	&__tit{font-weight:$thin;}
	&__txt{margin-top: 40px;}
	&__txt2{margin-top: 20px;}
	@media only screen and (max-width: $mobile-size){
		&__txt{margin-top: 28px;}
		&__txt2{margin-top: 12px;}
	}
}

.new-style3{padding:100px 180px; box-sizing:border-box;
	@extend %box;
	@extend %box-padding;
	&__tit{font-weight:$thin;}
	&__img{position:relative; margin-top:54px;}
	&__subject{margin-top:26px;}
	&__txt{margin-top:24px;}
	&__caption{position:absolute; bottom:0; left:0; right:0; padding:16px 10px; color:#fff; background-color:rgba(0,0,0,0.7); box-sizing:border-box;}
	@media only screen and (max-width: $mobile-size){padding-top:50px; padding-bottom:50px;
		&__img{margin-top:24px;}
		&__subject{margin-top:12px;}
		&__txt{margin-top:12px;}
		&__caption{padding:8px;}
	}
}

.new-operation{text-align:center;
	$this:&;
	&__subject{position:relative;
		&:before{display:block; width:110px; height:126px; margin:0 auto 18px; content:'';}
	}
	&__txt{color:$black2;}
	&__list{margin:0; padding:0;}
	&__item{display:inline-block; margin:44px 35px 0; list-style:none;vertical-align: top;
		&.nth-1{
			#{$this}__subject:before{@include background('../images/content/operation_icon_1.png','no-repeat center center / contain');}
		}
		&.nth-2{
			#{$this}__subject:before{@include background('../images/content/operation_icon_2.png','no-repeat center center / contain');}
		}
		&.nth-3{
			#{$this}__subject:before{@include background('../images/content/operation_icon_3.png','no-repeat center center / contain');}
		}
		&.nth-4{
			#{$this}__subject:before{@include background('../images/content/operation_icon_4.png','no-repeat center center / contain');}
		}
		&.nth-5{
			#{$this}__subject:before{@include background('../images/content/operation_icon_5.png','no-repeat center center / contain');}
		}
		&.nth-6{
			#{$this}__subject:before{@include background('../images/content/operation_icon_6.png','no-repeat center center / contain');}
		}
		&.nth-7{
			#{$this}__subject:before{@include background('../images/content/operation_icon_7.png','no-repeat center center / contain');}
		}
	}
	&__btn{display:inline-block; width:240px; height:50px; margin-top:50px; font-size:15px; color:#fff; background-color:$color-point; border:1px solid #501d49; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{position:relative; display:inline-block; padding-right:15px; vertical-align:middle; box-sizing:border-box;
			&:after{position:absolute; display:block; top:6px; right:0; width:5px; height:7px; @include background('../images/content/operation_arrow.png','no-repeat center center /contain');
				 margin:auto 0; content:'';}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{padding:0 100px; box-sizing:border-box; font-size:0;}
		&__item{width:33.33%; margin-left:0; margin-right:0; vertical-align:top;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__subject{
			&:before{ width:80px; height:92px; margin-bottom:12px;}
		}
		&__list{padding:0; text-align:left;}
		&__item{display:inline-block; width:50%; margin:22px 0 0; text-align:center; vertical-align:top;}
		&__btn{width:150px; height:36px; margin-top:25px; font-size:1.2rem; color:#fff;
		    span{padding-right:8px;
				&:after{top:4px; width:4px; height:7px; @include background('../images/content/operation_arrow_m.png','no-repeat center center /contain');}
			}
		}
	}
}

.operation-v2{margin-left:-60px;
	$this:&;
	&.type-contour{@include background('../images/content/operation/operation_contour_1.jpg','no-repeat left center / contain');}
	&.type-eye{@include background('../images/content/operation/operation_eye_1.jpg','no-repeat left center / contain');}
	&.type-body{@include background('../images/content/operation/operation_body_1.jpg','no-repeat left center / contain');}
	&.type-chest{@include background('../images/content/operation/operation_chest_1.jpg','no-repeat left center / contain');}
	&.type-nose{@include background('../images/content/operation/operation_nose_1.jpg','no-repeat left center / contain');}
	&.type-special{@include background('../images/content/operation/operation_special_1.jpg','no-repeat left center / contain');}
	&.type-svf{@include background('../images/content/operation/operation_svf_1.jpg','no-repeat left center / contain');}
	&.type-wrinkle{@include background('../images/content/operation/operation_wrinkle_1.jpg','no-repeat left center / contain');}
	&.type-four{
		#{$this}__item{
			&.nth-5{
				&:before{background-position-x:-40px}
			}
			&.nth-6{
				&:before{background-position-x:0px;}
			}
		}
	}
	&__wrap{padding:70px 0 50px 490px; box-sizing:border-box; text-align:left;}
	&__tit{margin:0; font-size:35px; color:#333; font-weight:$medium;}
	&__subtit{margin:7px 0 0 0; font-size:18px; color:$black5;}
	&__list{margin:20px 0 0 0; padding:0; font-size:0;}
	&__item{position:relative; display:inline-block; width:50%; vertical-align: top; list-style:none; box-sizing:border-box; background-color:#333;
		&:nth-child(4n+2),&:nth-child(4n+3){background-color:#d8d8d8;
			#{$this}__subject,#{$this}__txt{ color:#333;}
		}
		&:before{position:absolute; top:0; bottom:0; left:30px; display:block; width:40px; height:40px; margin:auto 0; content:'';
			@include background('../images/content/operation/operation_icon.png','no-repeat');}
		&.nth-2{
			&:before{background-position:-40px -40px; }
		}
		&.nth-3{
			&:before{background-position:-40px -80px;}
		}
		&.nth-4{
			&:before{background-position:0px -120px;}
		}
		&.nth-5{
			&:before{background-position:0px -160px;}
		}
		&.nth-6{
			&:before{background-position:-40px -200px;}
		}
		&.nth-7{
			&:before{background-position:0px -240px;}
		}
	}
	&__subject{color:#fff;}
	&__txt{color:#fff;}
	&__link{ display: inline-block;  font-size: 14px; margin-top:16px; padding:0 20px; line-height: 36px; background:#8d217f; border-radius: 16px; color: #fff;transition: all 0.3s; text-align:center; text-decoration:none;
		span{position:relative; padding-left:24px;
			&:before{position:absolute; left:0; top:0; bottom:0; display:block; width:20px; height:21px; margin:auto 0;
				@include background('../images/common/content_noti.png','no-repeat center center / contain'); content:'';}
		}
	}
	&__txt2{margin-top:8px;}
	&__box{display:table-cell; width:1%; height:inherit; padding:16px 30px 16px 96px; box-sizing: border-box; vertical-align:middle;}
	@media only screen and (max-width: $tablet-size) {margin-left:0; background-image:none !important;
		&__wrap{padding:0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-four{
			#{$this}__item{
				&.nth-5{
					&:before{background-position-x:0px}
				}
				&.nth-6{
					&:before{background-position-x:-20px;}
				}
			}
		}
		&__tit{font-size:2.5rem;}
		&__txt2{margin-top:4px;}
		&__subtit{margin-top:4px; font-size:1.3rem;}
		&__list{margin-top:10px;}
		&__item{width:100%;
			&:nth-child(4n+2),&:nth-child(4n+3){background-color:#333;
				#{$this}__subject,#{$this}__txt{ color:#fff;}
			}
			&:nth-child(even){background-color:#d8d8d8 !important;
				#{$this}__subject,#{$this}__txt{ color:#333 !important;}
			}
			&:before{left:15px; width:20px; height:20px; background-size:40px 140px;}
			&.nth-2{
				&:before{background-position:-20px -20px; }
			}
			&.nth-3{
				&:before{background-position:0px -40px;}
			}
			&.nth-4{
				&:before{background-position:-20px -60px;}
			}
			&.nth-5{
				&:before{background-position:0px -80px;}
			}
			&.nth-6{
				&:before{background-position:-20px -100px;}
			}
			&.nth-7{
				&:before{background-position:-20px -120px;}
			}
		}
		&__box{display:block; width:100%; height:auto; padding:10px 15px 10px 52px;}
		&__link{font-size:1.4rem;}
	}
}

.pain-v2{margin-top:40px;
	$this:&;
	&.type-contour{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$contour2;}
			}
		}
	}
	&.type-body{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$body2;}
			}
		}
	}
	&.type-chest{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$chest2;}
			}
		}
	}
	&.type-eye{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$eye2;}
			}
		}
	}
	&.type-nose{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$nose2;}
			}
		}
	}
	&.type-wrinkle{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$wrinkle2;}
			}
		}
	}
	&.type-svf{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$svf2;}
			}
		}
	}
	&.type-reoperation{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$reoperation2;}
			}
		}
	}
	&.type-special{
		#{$this}__item{
			&.is-active{
				#{$this}__square{background-color:$special2;}
			}
		}
	}
	&__tit{position:relative; padding-left:36px; color:#333; box-sizing:border-box;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; width:32px; height:28px; margin:auto 0; @include background('../images/content/operation/operation_pain.png','no-repeat center center/contain'); content:'';}
	}
	&__list{margin:14px 0 0 0; padding:0; border:1px solid #333; box-sizing:border-box; background-color:#f5f5f5;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:10%; padding-left:2px; box-sizing:border-box; list-style:none; background-color:#fff;
		&:first-child{padding-left:0;}
	}
	&__square{overflow:hidden; height:24px; text-indent:-9999px; background-color:#f5f5f5;}
	&__txt{margin:20px 0 0 0; color:#333;}
	&__box{margin-top:14px;}
	@media only screen and (max-width: $tablet-size) {margin-top:36px;}
	@media only screen and (max-width: $mobile-size) {margin-top:20px;
		&__tit{padding-left:20px;
			&:before{width:16px; height:14px;}
		}
		&__list{margin-top:10px;}
		&__square{height:10px;}
		&__item{padding-left:1px;}
		&__txt{margin-top:14px; font-size:1.2rem;}
		&__noti{font-size:1rem;}
		&__box{margin-top:10px;}
	}
}

.pain{margin-top:100px;
	$this:&;
	&.type-special{
		#{$this}__item.is-active{
			#{$this}__circle{background:$special1;}
		}
	}
	&.type-nose{
		#{$this}__item.is-active{
			#{$this}__circle{background:$nose2;}
		}
	}
	&.type-eye{
		#{$this}__item.is-active{
			#{$this}__circle{background: $eye2;}
		}
	}
	&.type-body{
		#{$this}__item.is-active{
			#{$this}__circle{background: $body2;}
		}
	}
	&.type-contour{
		#{$this}__item.is-active{
			#{$this}__circle{background: $contour2;}
		}
	}
	&.type-chest{
		#{$this}__item.is-active{
			#{$this}__circle{background: $chest2;}
		}
	}
	&.type-wrinkle{
		#{$this}__item.is-active{
			#{$this}__circle{background: $wrinkle2;}
		}
	}
	&.type-reoperation{
		#{$this}__item.is-active{
			#{$this}__circle{background: $reoperation2;}
		}
	}

	&__list{margin:36px 0 0 0; padding:0; font-size:0; counter-reset:section;}
	&__item{ display:inline-block; position:relative; padding:0 1.95%; box-sizing:border-box;  list-style:none;
		& + &{
			&:before{position:absolute; top:0; bottom:0; left:-5px; display:block; width:10px; height:10px; margin:auto 0;background:#ddd;  border-radius:50%; content:'';}
		}
		&:after{position:absolute; left:0; right:0; margin:8px 0 0 0; font-size:15px; color:#999;  counter-increment:section; content:counter(section);}
	}
	&__circle{overflow:hidden; position:relative; width:44px; height:44px; border-radius: 50%; background:#999; text-indent:-999px;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:30px; height:30px; border:3px solid #fff; border-radius:50%; margin:auto; z-index:1; content:'';}
	}
	&__txt{max-width:1000px; width:100%; margin:70px auto 0; padding:0 10px; box-sizing:border-box;}
	&__box{max-width:1000px; width:100%; margin:36px auto 0; padding:26px 10px; border:1px solid #ccc; background:#f7f7f7; box-sizing:border-box;}
	&__noti{
		& + &{margin-top:4px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__item{padding:0 10px;
			& + &:before{display:none;}
			&:after{display:none;}
		}
		&__txt{margin-top:46px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		&__list{margin:22px -6px 0;}
		&__item{padding:0 6px;}
		&__circle{width:22px; height:22px;
			&:before{width:14px; height:14px; border-width:1px;}
		}
		&__txt{margin-top:24px;}
		&__box{margin-top:18px; padding:24px 50px;}
	}
}


.outer-box{background-color:#eee; padding:60px 180px;
	@extend %box;
	@extend %box-padding;
	@media only screen and (max-width: $tablet-size){}
	@media only screen and (max-width: $mobile-size){
		padding-top: 30px;padding-bottom: 30px;
	}
}
.inner-box{position: relative;margin:0 -120px; padding:100px 120px; background-color:#fff; box-sizing:border-box;
	& + &{margin-top:90px;}
	&.type-top{margin-top:60px;}
	&.type-w{padding-top:0; padding-bottom:0;}
	@extend %box-padding;
	&.type-list{padding: 44px 174px 60px;}
	&.type-list-img{padding: 100px 174px;}

	@media only screen and (max-width: $tablet-size) {margin:0;
		&.type-list{padding: 45px 60px 50px;}
		&.type-list-img{padding:100px 0;}
	}
	@media only screen and (max-width: $mobile-size) {margin:0; padding-top:50px; padding-bottom:50px;
		&.type-top{margin-top:30px;}
		&.type-list{padding: 0 17px 20px;}
		&.type-list-img{padding: 50px 50px;}
	}
}
.img-style1{
	$this:&;
	&.type-mt{margin-top:56px;}
	&.type-line{margin-top:70px; padding-top:100px; border-top:1px solid #c8c8c8;}
	&__list{margin:0; padding:0;
		&.type-merge{font-size:0;
			#{$this}__item{display:inline-block; width:50%; vertical-align:top; box-sizing:border-box;}
		}
		&.type-half{margin-left:-20px; font-size:0;
			#{$this}__item{display:inline-block; width:50%; padding-left:20px; vertical-align:top; box-sizing:border-box;
				&:nth-child(2) ~ #{$this}__item{margin-top:36px;}
			}
		}
		&.type-three{margin-left:-10px; font-size:0;
			#{$this}__item{display:inline-block; width:33.33%; padding-left:10px; vertical-align:top; box-sizing:border-box;
				&:nth-child(3) ~ #{$this}__item{margin-top:26px;}
			}
			#{$this}__subject{margin-top:16px;}
		}
		&.type-notit{margin-top:0;}
		&.type-imbalance{margin-top: 90px;font-size: 0;
			#{$this}__item{display: inline-block;box-sizing: border-box;vertical-align: top;
				&.nth-1{width: 34.17%;}
				&.nth-2{width: 65.83%;padding-left: 40px;}
			}
		}
		&.type-mt{margin-top:56px;}
	}
	&__item{list-style:none;}
	&__txt{padding:0 120px; box-sizing:border-box;
		&.type-mt{margin-top:36px;}
	}
	&__subject{margin-top:30px;}
	&__caption{margin-top:6px;padding: 0 3%;}
	@media only screen and (max-width: $tablet-size){
		&__txt{padding:0;}
		&__list{
			&.type-one{padding:0 70px; box-sizing:border-box;}
			&.type-merge{padding:0 80px; box-sizing:border-box; font-size:0;
				#{$this}__item{width:100%;
					& + #{$this}__item{margin-top:-1px;}
				}
			}
			&.type-half{margin-left:0; padding:0 80px; box-sizing:border-box;
				#{$this}__item{width:100%; padding-left:0px;
					& + #{$this}__item{margin-top:40px;}
					&:nth-child(2) ~ #{$this}__item{margin-top:40px;}
				}
				&.tablet-merge{
					#{$this}__item{
						& + #{$this}__item{margin-top:0px;}
					}
				}
			}
			&.type-three{
				#{$this}__item{width:50%;
					&:nth-child(2) ~ #{$this}__item,&:nth-child(3) ~ #{$this}__item{margin-top:34px;}
				}
			}
			&.type-imbalance{margin-top: 55px;
				#{$this}__item{
					&.nth-1{width: 100%;}
					&.nth-2{width: 100%;padding-left: 0;}
					& + #{$this}__item{margin-top: 105px;}
				}
			}
			&.type-mt{margin-top:26px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-mt{margin-top:26px;}
		&.type-line{margin-top:26px; padding-top:42px;}
		&__list{
			&.type-one{padding:0 12px;}
			&.type-merge{padding:0 22px;}
			&.type-half{padding:0 22px;
				#{$this}__item{
					& + #{$this}__item{margin-top:16px;}
					&:nth-child(2) ~ #{$this}__item{margin-top:16px;}
				}
			}
			&.type-three{
				#{$this}__item{
					&:nth-child(2) ~ #{$this}__item,&:nth-child(3) ~ #{$this}__item{margin-top:16px;}
				}
				#{$this}__subject{margin-top:10px;}
			}
			&.type-imbalance{margin-top: 30px;
				#{$this}__item{
					& + #{$this}__item{margin-top: 35px;}
				}
			}
		}
		&__subject{margin-top:16px;}
		&__txt{
			&.type-mt{margin-top:16px;}
		}
	}
}

.img-style2{
	$this:&;
	&.type-half{
		#{$this}__list{margin-left:-20px;}
		#{$this}__item{width:50%; padding-left:20px;
			&:nth-child(2) ~ #{$this}__item{margin-top:40px;}
		}
	}
	&.type-four{
		#{$this}__caption{padding-top:10px; padding-bottom:10px; background-color:rgba(51,51,51,0.8); color:#fff;}
		#{$this}__list{margin-left:-30px;}
		#{$this}__item{width:25%; padding-left:30px;
			&:nth-child(3) ~ #{$this}__item{margin-top:0px;}
		}
	}
	&.type-cling{
		#{$this}__list{margin-top:0;}
	}
	&__list{margin:0px 0 0 -40px; padding:0; font-size:0;}
	&__item{display:inline-block; width:33.33%; padding-left:40px; box-sizing:border-box; list-style:none; vertical-align:top;
		&:nth-child(3) ~ &{margin-top:40px;}
	}
	&__box{position:relative;}
	&__caption{position:absolute; left:0; bottom:0; right:0; padding:14px 4px;}
	&__txt{margin-top:26px;}
	&__before{position:relative; display:block; width:100%; height:60px; margin-bottom:46px; vertical-align:middle; background:#555555; color:#fff;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		&:after{display:block; width:32px; height:30px; margin:8px auto; @include background('../images/content/arrow_bottom.png','no-repeat center center/contain'); content:'';}
	    span{display:inline-block; vertical-align:middle;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-half{
			#{$this}__list{margin-left:0px;}
			#{$this}__item{width:100%; padding-left:0px;
				& + #{$this}__item{margin-top:46px !important;}
			}
		}
		&.type-tablet-padding{padding:0 120px; box-sizing:border-box;}
		&.type-four{
			#{$this}__item{width:50%;
				&:nth-child(2) ~ #{$this}__item,&:nth-child(3) ~ #{$this}__item{margin-top:30px;}
			}
			#{$this}__caption{padding-top:5px; padding-bottom:5px;}
		}
		&__item{width:50%;
			&:nth-child(2) ~ &{margin-top:36px;}

		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-tablet-padding{padding:0 34px; box-sizing:border-box;}
		&.type-half{
			#{$this}__item{
				& + #{$this}__item{margin-top:20px !important;}
			}
		}
		&.type-four{padding:0 12px; box-sizing:border-box;
			#{$this}__list{margin-left:-12px;}
			#{$this}__item{padding-left:12px;
				&:nth-child(2) ~ #{$this}__item,&:nth-child(3) ~ #{$this}__item{margin-top:12px;}
			}
		}
		&__list{margin:0 0 0 -10px;}
		&__item{padding-left:10px;
			&:nth-child(2) ~ &{margin-top:16px;}
		}
		&__txt{margin-top:10px;}
		&__caption{padding:4px;}
		&__before{height:34px; margin-bottom:23px;
			&:after{width:16px; height:15px; margin:4px auto;}
		}
	}
}

.img-style3{box-sizing:border-box;
	$this:&;
	& + &{margin-top: 30px;}
	&.type-mt{margin-top:56px;}
	&.type-narrow{padding:0 200px;
		#{$this}__txt{padding:0;}
	}
	&.type-body{
		#{$this}__caption{background-color:$body2;}
	}
	&.type-chest{
		#{$this}__caption{background-color: $chest2;}
	}
	&.type-special{
		#{$this}__caption{background-color: $special2;}
	}
	&.type-body{
		#{$this}__caption{background-color: $body2;}
		#{$this}__circle{
			&.type-left{background-color:rgba(255,113,13,0.6);}
			&.type-right{background-color:rgba(255,32,0,0.6);}
		}
	}
	&.type-reoperation{
		#{$this}__caption{background-color: $reoperation2;}
	}

	&.type-three{
		#{$this}__item{width: 33.333%;}
	}
	&.type-four{
		#{$this}__list{margin: -10px 0 0 -10px;}
		#{$this}__item{width: 25%;padding: 10px 0 0 10px;}
	}
	&.type-five{
		#{$this}__list{margin: -10px 0 0 -10px;}
		#{$this}__item{width: 20%;padding: 10px 0 0 10px;}
	}
	&.type-wide{
		#{$this}__item{width: 100%;}
	}
	&.type-wrinkle{
		#{$this}__caption{background-color: $wrinkle2;}
	}
	&__list{margin: -40px 0 0 -40px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%; margin-top:40px; padding: 0px 0 0 40px;vertical-align: top;box-sizing: border-box;}
	&__caption{padding: 15px 10px 13px;background-color: $eye2;color: #fff;vertical-align: middle;
		&.type-gray{background-color:$black3 !important;}
	}
	&__img{position:relative;}
	&__inner{display:table-cell; width:1%; height:inherit; padding-top:8px; vertical-align:middle; box-sizing:border-box;}
	&__hexa{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); width:200px; height:200px;
		&.type-left{left:6.5%;}
		&.type-right{right:6.5%;}
	}
	&__circle{position:absolute; top:50%;  width:150px; height:150px; border-radius:50%; color:#fff;
		&.type-left{left:50%; margin-left:-29.78%; transform:translateY(-30%); -webkit-transform:translateY(-30%); -ms-transform:translateY(-30%);}
		&.type-right{right:50%; margin-right:-31.3%; transform:translateY(-70%); -webkit-transform:translateY(-70%); -ms-transform:translateY(-70%);}
	}
	&__symbol{position:relative; display:block; padding-top:36px; box-sizing:border-box;
		&:before,&:after{position:absolute; top:0; left:0; right:0; display:block; margin:0 auto; background-color:#fff; content:'';}
		&:before{top:10px; width:25px; height:5px;}
		&:after{width:5px; height:25px;}
		&.type-minus{
			&:after{display:none;}
		}
	}
	&__txt{margin-top:36px; padding:0 100px; box-sizing:border-box;}
	&__txt2{margin-top:26px; padding:0 30px; box-sizing:border-box;}
	&__txt3{margin-top:15px; padding:0 30px; box-sizing:border-box;}
	&__subject{margin-top:35px; padding:0 30px; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){
		&.type-three{
			#{$this}__item{width: 50%;}
		}
		&.type-four{
			#{$this}__item{width: 50%;margin-top: 0;}
		}
		&.type-five{
			#{$this}__item{width: 33.33%;margin-top: 0;}
		}
		&.type-narrow{padding:0;}
		&.type-inner{padding:0 70px;
			#{$this}__list{margin-left:0;}
			#{$this}__item{padding-left:0; width:100%;}
		}
		&.type-tablet-full{
			#{$this}__list{margin-left: 0;padding: 0 60px;}
			#{$this}__item{width: 100%;padding-left: 0;}
		}

		&__txt{padding:0;}
		&__hexa{width:150px; height:150px;}
		&__circle{
			&.type-left{margin-left:-35.78%;}
			&.type-right{margin-right:-39.3%;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		& + &{margin-top: 15px;}
		&.type-mt{margin-top:26px;}
		&.type-mobile-interval{
			#{$this}__list{margin: -20px 0 0 -20px;}
			#{$this}__item{margin-top:20px; padding: 0px 0 0 20px;}
		}
		&.type-inner{padding:0 10px;}
		&.type-tablet-full{
			#{$this}__list{margin-top: -20px;padding:0 10px;}
			#{$this}__item{margin-top: 20px;}
		}
		&__list{margin: -10px 0 0 -10px;}
		&__item{margin-top:10px; padding: 0px 0 0 10px;}
		&__caption{padding: 8px 5% 6px;font-size: 1.2rem;}
		&__txt{margin-top:16px;}
		&__txt2{margin-top:12px; padding:0px;}
		&__txt3{margin-top:8px; padding:0;}
		&__subject{margin-top:15px; padding:0;}
		&__inner{padding-top:3px;}
		&__hexa{width:90px; height:90px;}
		&__circle{width:90px; height:90px;}
		&__symbol{padding-top:20px;
			&:before,&:after{position:absolute; top:0; left:0; right:0; display:block; margin:0 auto; background-color:#fff; content:'';}
			&:before{top:7px; width:14px; height:2px;}
			&:after{width:2px; height:14px;}
			&.type-minus{
				&:after{display:none;}
			}
		}
	}
}

.img-style4{margin-top:56px;
	$this:&;
	&.type-cling{margin-top:0;}
	&.type-inner{
		#{$this}__img{width:460px;}
		#{$this}__box{padding-left:460px;}
		#{$this}__outer{ padding:0 16%; border:1px solid #c3c3c3; border-left:none;}
	}
	&__img{width:560px;}
	&__tit{margin-bottom:56px;}
	&__subject{position:relative;
		&:after{display:block; width:20px; height:0; margin-top:16px; border-top:1px solid $black2; content:'';}
	}
	&__list{margin:16px 0 0 0; padding:0;}
	&__item{position:relative; padding-left:12px; list-style:none;
		&:before{position:absolute; top:0px; left:0; content:'-'}
	}
	&__wrap{position:relative; box-sizing:border-box;
		& + &{margin-top:40px;}
	}
	&__box{position:absolute; top:0; bottom:0; width:100%; padding-left:560px; box-sizing:border-box; text-align:left;}
	&__outer{display:inline-table; width:100%; height:100%; padding:0 7%; box-sizing:border-box;}
	&__inner{display:table-cell; height:100%; vertical-align: middle; }
	@media only screen and (max-width: $tablet-size){
		&__wrap{padding:0 60px;}
		&__img{width:auto;}
		&__box{position:static; margin-top:36px; padding:0 20px; text-align:center;}
		&__outer{display:block; width:auto; height:auto; padding:0;}
		&__inner{display:block; height:auto;}
		&__subject{text-align: left;}
		&__item{text-align: left;}
	}
	@media only screen and (max-width: $mobile-size){margin-top:26px;
		&__tit{margin-bottom:26px;}
		&__subject{
			&:after{width:10px; margin-top:8px;}
		}
		&__list{margin-top:8px;}
		&__item{padding-left:7px;}
		&__wrap{padding:0;
			& + &{margin-top:26px;}
		}
		&__box{margin-top:16px; padding:0;}
	}
}

.img-style5{margin-top: 46px;
	&__box{position: relative;}
	&__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 25%;}
	&__caption{position: absolute;left: 0;right: 0;bottom: 0;margin: 0;padding: 14px 4px;background-color: rgba(51,51,51,0.8);color: #fff;}

	@media only screen and (max-width: $tablet-size) {
		&__item{width: 50%;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__caption{padding: 4px;}
	}
}

.img-style6{
	$this:&;
	& + &{
		margin-top: 75px;
	}
	&__list{margin:0; padding: 0;list-style: none;
		&.type-mt{margin-top:56px;}
	}
	&__item{position: relative;font-size: 0;text-align: left;
		& + &{margin-top: 40px;}
	}
	&__img{display: inline-block;width: 50%;}
	&__area{display: inline-block;position: absolute;top: 0;bottom: 0;right: 0;width: 50%;padding: 0 40px;box-sizing: border-box;
		&.type-border{padding:0 70px; border:1px solid #c8c8c8; border-left:none;}
	}
	&__inner{display: inline-table;width: 100%;height: 100%;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__subject{margin-bottom: 6px;}
	&__btn{margin-top:34px; color:$black1; border-color:$black1;}
	@media only screen and (max-width: $minpc-size3){
		&.type-tablet-full{
			#{$this}__list{padding:0 12px;}
		}
		&__list{padding: 0 75px;}
		&__item{text-align: center;}
		&__img{width: 100%;}
		&__area{position: static;width: 100%;margin-top: 40px;padding: 0 25px;
			&.type-border{margin-top:0; padding:46px 120px; border-left:1px solid #c8c8c8; box-sizing:border-box;}
		}
		&__btn{margin-top:24px;}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-tablet-full{
			#{$this}__list{padding:0;}
		}
		& + &{
			margin-top: 40px;
		}
		&__txt{margin-top: 25px;}
		&__list{padding: 0 20px;
			&.type-mt{margin-top:26px;}
		}
		&__item{
			& + &{margin-top: 25px;}
		}
		&__area{margin-top: 20px;padding: 0 15px;
			&.type-border{padding:16px 20px;}
		}
		&__subject{margin-bottom: 6px;}
	}
}

.img-style7{
	$this:&;
	&.type-mt{margin-top:56px;}
	&.type-margin-zero{margin:0;}
	&.type-four{
		#{$this}__list{margin:-20px 0 0 -20px;}
		 #{$this}__item{width:200px; margin:20px 0 0 20px;}
	}
	&__tit{margin-bottom:56px;}
	&__list{margin:0 0 0 -84px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 250px;margin-left: 84px; vertical-align: top;}
	&__caption{margin-top: 35px;}
	&__subject{}
	&__txt{margin-top: 15px;}

	@media only screen and (max-width: $tablet-size){
		&__list{margin-left: 0;}
		&__item{width: 100%;margin-left: 0;
			& + &{margin-top: 40px;}
		}
		&.type-four{
			#{$this}__list{margin-left:0;}
			#{$this}__item{width:50%; margin-left:0;
				& + #{$this}__item{margin-top: 40px;}
			}
			#{$this}__img,#{$this}__caption{width:250px; margin-left:auto; margin-right:auto;}

		}
		&__img{width: 250px;margin: 0 auto;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-mt{margin-top:26px;}
		&.type-four{
			#{$this}__item{width:100%; margin-left:0;
				& + #{$this}__item{margin-top: 25px;}
			}
			#{$this}__img{width:125px;}
			#{$this}__caption{width:100%;}
		}
		&__item{
			& + &{margin-top: 25px;}
		}
		&__img{width: 125px;}
		&__caption{margin-top: 15px;}
		&__txt{margin-top: 8px;}
	}
}

.img-style8{
	$this:&;
	&__subject{margin-top: 50px;padding: 18px 0 16px;background-color: $wrinkle1;color: #fff;
		&.type-cling{margin-top:0;}
	}
	&__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%;
		&.nth-1{
			#{$this}__caption{background-color: $wrinkle2;}
		}
		&.nth-2{
			#{$this}__caption{background-color: #8e725f;}
		}
	}
	&__caption{height: 100px;padding: 0 5px;vertical-align: middle;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__txt2{color: #fff;}
	&__txt3{color: #fff;}
	@media only screen and (max-width: $mobile-size){
		&__subject{margin-top: 20px;padding: 10px 0 7px;}
		&__caption{height: 90px;}
	}
}

.img-style9{
	$this: &;
	&__box{
		& + &{margin-top: 40px;}
	}
	&__subject{padding: 20px 0 18px;color: #fff;
		&.type-contour{background-color: $contour2;}
		&.type-contour2{background-color: $contour1;}
	}
	&__outer{padding: 50px 0 60px;background-color: #fff;}
	&__list{margin: -16px 0 0 -84px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 250px;margin: 16px 0 0 84px;vertical-align: top;}
	&__img{}
	&__caption{margin-top: 35px;padding: 0 55px;}
	@media only screen and (max-width:$mobile-size){
		&__box{
			& + &{margin-top: 20px;}
		}
		&__subject{padding: 8px 0 6px;}
		&__outer{padding: 25px 0 22px;}
		&__list{margin: -10px 0 0 -10px;}
		&__item{width: 125px;margin: 10px 0 0 10px;}
		&__caption{margin-top: 15px;padding: 0;}
	}
}

.inner-circle{
	$this:&;
	&.type-nose{
		#{$this}__item{background-color:$nose2;}
	}
	&.type-nose2{
		#{$this}__item{background-color:$nose1;}
	}
	&.type-body{
		#{$this}__item{background-color:$body1;}
	}
	&.type-body2{
		#{$this}__item{background-color:$body2;}
	}
	&.type-contour{
		#{$this}__item{background-color:$contour1;}
	}
	&.type-contour2{
		#{$this}__item{background-color:$contour3;  color:#101e3a;}
	}
	&.type-contour3{
		#{$this}__item{background-color:$contour2;}
	}
	&.type-chest{
		#{$this}__item{background-color: $chest1;}
	}
	&.type-special{
		#{$this}__item{background-color: $special2;}
	}
	&.type-wrinkle{
		#{$this}__item{background-color: $wrinkle1;}
	}
	&.type-reoperation{
		#{$this}__item{background-color: $reoperation2;}
	}
	&.type-eye{
		#{$this}__item{background-color:$eye1;}
	}
	&.type-eye2{
		#{$this}__item{background-color:$eye2;}
	}
	&.type-small{
		#{$this}__list{margin-left:-10px; margin-right:-10px;}
		#{$this}__item{width:100px; height:100px; margin:10px; padding:0 5px;}
	}
	&.type-big{
		#{$this}__list{margin:26px 0 -10px 0;}
		#{$this}__item{width:200px; height:200px; margin:10px; padding:10px;}
	}
	&.type-cling{
		#{$this}__list{margin-top:-20px;}
	}
	&.type-five{padding:0 100px; box-sizing:border-box;}
	&.type-bar{
		#{$this}__item{width:170px; height:170px; padding:10px;}
	}
	&__list{margin:36px 0 -20px 0; padding:0; text-align:center; font-size:0;}
	&__item{display:inline-block; width:150px; height:150px; margin:20px; padding:0 10px; border-radius:50%; color:#fff; box-sizing:border-box; line-height:1.6;}
	@media only screen and (max-width: $tablet-size){
		&.type-five{padding:0px;}
		&__list{margin-top:16px; margin-bottom:-10px;}
		&__item{margin:10px;}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-cling{
			#{$this}__list{margin-top:-5px;}
		}
		&__list{margin:20px 0 -5px 0;}
		&__item{width:90px; height:90px; margin:5px; padding:0 5px; line-height:1.4;}
		&.type-mbig{
			#{$this}__item{width:120px; height:120px;}
		}
		&.type-big{
			#{$this}__list{margin:14px 0 -6px 0;}
			#{$this}__item{width:128px; height:128px; margin:6px; padding:5px;}
		}
		&.type-bar{
			#{$this}__item{position:relative; width:100%; margin:0; height:auto; box-sizing:border-box; border-radius:15px; padding:0;
				& + #{$this}__item{margin-top:10px;
					.vertical-box{
						&:before{position:absolute; top:-10px; left:0; right:0; display:block; width:1px; height:10px; background-color:#c7c7c7; margin:0 auto; content:''; }
					}
				}
				&:before,&:after{position:absolute; left:0; right:0; display:block; width:6px; height:6px; border:1px solid #fff; margin:0 auto; box-sizing:border-box; border-radius:50%; z-index:10; content:'';}
				&:before{top:-3px;}
				&:after{bottom:-3px;}
				&:first-child{
					&:before{display:none;}
				}
				&:last-child{
					&:after{display:none;}
				}
			}
			.vertical-box{display:block; padding:12px; width:auto; height:auto;}
			&.type-reoperation{
				#{$this}__item{background-color:$reoperation2;
					&:before,&:after{background-color:$reoperation2;}
					&:nth-child(even){background-color:#ffa6a7;
						&:before,&:after{background-color:#ffa6a7;}
					}
				}
			}
			&.type-chest{
				#{$this}__item{background-color:$chest1;
					&:before,&:after{background-color:$chest1;}
					&:nth-child(even){background-color:$chest2;
						&:before,&:after{background-color:$chest2;}
					}
				}
			}
			&.type-body{
				#{$this}__item{background-color:$body1;
					&:before,&:after{background-color:$body1;}
					&:nth-child(even){background-color:#28170a;
						&:before,&:after{background-color:#28170a;}
					}
				}
			}
			&.type-contour{
				#{$this}__item{background-color:$contour1;
					&:before,&:after{background-color:$contour1;}
					&:nth-child(even){background-color:#101e3a;
						&:before,&:after{background-color:#101e3a;}
					}
				}
			}
		}
	}
}


.compare{
	$this:&;
	&.type-body{
		#{$this}__item.type-after{
			#{$this}__caption{background-color:$body2;}
		}
	}
	&__wrap{padding:0 120px; box-sizing:border-box;}
	&__list{margin:56px 0 0 -40px; padding:0; font-size:0;}
	&__item{display:inline-block; width:50%; padding-left:40px; box-sizing:border-box; list-style:none;
		&.type-before{
			#{$this}__caption{background-color:$black3;}
		}
		&.type-after{
			#{$this}__caption{background-color:$reoperation2;}
		}
	}
	&__caption{display:block; height:50px; vertical-align:middle; vertical-align:middle; color:#fff;
		span{display:inline-block;  vertical-align:middle;}
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $tablet-size){
		&__wrap{padding:0;}
		&.type-tablet-full{
			#{$this}__list{margin-left:0; padding:0 60px;}
			#{$this}__item{width:100%; padding-left:0;
				& + #{$this}__item{margin-top:50px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__wrap{padding:0;}
		&.type-tablet-full{
			#{$this}__list{padding:0;}
			#{$this}__item{
				& + #{$this}__item{margin-top:26px;}
			}
		}
		&__list{margin:26px 0 0 -10px;}
		&__item{padding-left:10px;}
		&__caption{height:28px;}
	}
}

.compare2{
	$this: &;
	&.type-eye{
		#{$this}__caption{background-color: $eye2;color: #fff;}
	}
	&__list{margin:0 0 0 -120px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%;padding-left: 120px;box-sizing: border-box;vertical-align: top;}
	&__box{position: relative;}
	&__caption{height: 60px;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__txt{margin-top: 25px;}
	&__area{position: absolute;top: 50%;left: -120px;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
	&__txt2{position: relative;width: 120px;margin: 0;padding: 90px 5px 0;font-size: 15px;box-sizing: border-box;
		&:before{content: '';position: absolute;top: 0;left: 0;right: 0;width: 29px;height: 62px;margin: 0 auto;
			@include background('../images/eye/relocation/relocation_arrow.png','no-repeat 0 0/cover');}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin:0 0 0 -40px;}
		&__item{padding-left: 40px;}
		&__caption{height: 50px;}
		&__txt{margin-top: 15px;}
		&__area{left: -40px;}
		&__txt2{width: 40px;padding: 32px 5px 0;font-size: 1rem;
			&:before{width: 12px;height: 25px;background-size: contain;}
		}
	}
}

.compare3{
	$this: &;
	&.type-chest{
		#{$this}__box.type-after{
			#{$this}__subject{background-color: $chest2;}
		}
	}
	&.type-plus{
		#{$this}__box{
			& + #{$this}__box{position:relative;
				&:before{position:absolute; top:50%; left:-29px; display:block; width:74px; height:74px; margin-top:-62px; content:'';}
			}
		}
	}
	&__wrap{margin:0 0 0 -20px;font-size: 0;}
	&__box{display: inline-block;width: 50%;padding-left: 20px;box-sizing: border-box;vertical-align: top;
		&.type-before{
			#{$this}__subject{background-color: #4a4a4a;}
		}
		&.type-after{
			#{$this}__subject{background-color: $contour2;}
		}
	}
	&__img{}
	&__subject{height: 60px;color: #fff;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__list{margin: 0;padding: 0;list-style: none;border: 1px solid #aaa;border-top: 0;}
	&__item{height: 72px;box-sizing: border-box;padding: 0 3%;
		& + &{border-top: 1px solid #aaa;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-plus{
			#{$this}__box{
				& + #{$this}__box{margin-top:0;
					&:before{position:static; margin:40px auto;}
				}
			}
		}
		&__wrap{margin-left: 0;padding: 0 75px;}
		&__box{width: 100%;padding-left: 0;
			& + &{margin-top: 50px;}
		}
		&__item{height: auto;padding: 24px 3% 22px;}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-plus{
			#{$this}__box{
				& + #{$this}__box{margin-top:0;
					&:before{margin:20px auto; width:37px; height:37px;}
				}
			}
		}
		&__wrap{padding: 0 22px;}
		&__box{
			& + &{margin-top: 25px;}
		}
		&__subject{height: 40px;}
		&__item{padding: 18px 3% 16px;}
	}
}

.compare4{
	$this:&;
	&.type-cling{
		#{$this}__list{margin-top: 0;}
	}
	&.type-mt{margin-top:56px;}
	&.type-process{ overflow:hidden;
		#{$this}__list{position:relative; margin-left:-320px;}
		#{$this}__item{padding-left:320px;}
	}
	&__list{margin:0 0 0 -40px;padding: 0;list-style: none;font-size: 0;
		&.type-mt{margin-top: 56px;}
	}
	&__item{display: inline-block;width: 50%;padding-left: 40px;box-sizing: border-box; vertical-align:top;
		&.type-process{position:absolute; top:0; bottom:0; left:320px; right:0; width:320px; margin:auto; padding-left:0 !important;}
	}
	&__box{position:relative; display:block; width:100%; height:100%;
		&:before,&:after{position:absolute; top:0; bottom:0;display:block; width:32px; height:32px; margin:auto 0;
			@include background('../images/content/arrow_gray.png','no-repeat center center/contain'); content:'';}
		&:before{left:20px;}
		&:after{right:20px;}
	}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:center;}
	&__img{position: relative;}
	&__label{position: absolute;top: 0;left: 0;padding: 8px 10px 6px;background-color: $black4;color: #fff;}
	&__caption{padding: 18px 3% 16px;color: #fff;
		&.type-gray{background-color: $black3;}
		&.type-lightgray{background-color: #b3b3b3;}
		&.type-nose{background-color: $nose2;}
		&.type-nose2{background-color: $nose1;}
		&.type-wrinkle{background-color: $wrinkle2;}
		&.type-special{background-color: $special2;}
		&.type-contour{background-color: $contour2;}
	}
	&__txt{margin-top:26px;
		& + #{$this}__list{margin-top:26px;}
	}
	&__txt2{margin:10px 0;}
	&__circle{display:block; width:180px; height:180px; margin:0 auto; color:#fff;}
	@media only screen and (max-width: $tablet-size){
		&.type-tablet-full{
			#{$this}__list{margin-left: 0;padding: 0 60px;}
			#{$this}__item{width: 100%;padding-left: 0;
				& + #{$this}__item{margin-top: 40px;}
			}
		}
		&.type-process{ overflow:auto; padding:0 19%; font-size:0;
			#{$this}__list{position:static; margin-left:0px;}
			#{$this}__item{padding-left:0px; width:100%;
				&.type-process{position:static; top:auto; bottom:auto; left:auto; right:auto; width:auto;}
			}
		}
		&__circle{display:inline-block;}
		&__txt2{display:inline-block; margin:0 10px; }
		&__box{padding:72px 0;
			&:before,&:after{top:auto; bottom:auto; left:0; right:0;  margin:0 auto;  transform:rotate(90deg); }
			&:before{top:20px; left:0;}
			&:after{bottom:20px; right:0;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-mt{margin-top: 26px;}
		&.type-tablet-full{
			#{$this}__list{padding: 0 10px;}
			#{$this}__item{
				& + #{$this}__item{margin-top: 26px;}
			}
		}
		&__list{margin:0 0 0 -10px;
			&.type-mt{margin-top: 26px;}
		}
		&__item{padding-left: 10px;}
		&__label{padding: 4px 5px 3px;}
		&__caption{padding: 10px 3% 8px;}
		&__circle{width:90px; height:90px;}
		&__txt2{ margin:0 5px; }
		&__box{padding:36px 0;
			&:before,&:after{width:16px ;height:16px;}
			&:before{top:10px;}
			&:after{bottom:10px;}
		}
	}
}


.pop-info{position:relative;
	&.type-reoperation{
		.#{$infoBtn}.is-active .#{$infoBtn}__icon{background-color:#5b2626;}
		.#{$infoDesc}{background-color:rgba(91,38,38,0.9); color:#fff;}
	}
}
.section-info{padding:30px; background:$black2; color:#aaa; font-size:14px; line-height: 1.7; text-align:center;
	@extend %box;
	&.type-new-style1{margin:0 -120px;}
	@media only screen and (max-width: $tablet-size){
		&.type-new-style1{margin-left:0 !important; margin-right:0 !important;}
	}
	@media only screen and (max-width: $mobile-size){padding:14px; font-size:1rem; line-height:1.5;}
}
.section-noti{margin-top: 57px;padding: 15px;background-color: #4d4d4d;color: #fff;
	@media only screen and (max-width: $mobile-size){
		margin-top: 35px;
	}
}

.heading-bar{position: relative;margin: 0 0 36px;padding-left: 12px;font-size: 26px;font-weight: $light;color: $black1;text-align: left;line-height: 1.27;
	&:before{content: '';position: absolute;top: 1px;/*bottom: 0;*/left: 0;width: 4px;height: 30px;margin: auto;background-color: $eye2;}
	&.type-body{
		&:before{background-color:$body2;}
	}
	&.type-chest{
		&:before{background-color: $chest2;}
	}
	&.type-nose{
		&:before{background-color: $nose2;}
	}
	&.type-contour{
		&:before{background-color: $contour2;}
	}

	@media only screen and (max-width: $tablet-size){
		margin-bottom: 30px;
	}
	@media only screen and (max-width: $mobile-size){
		margin-bottom: 20px;font-size: 1.9rem;

		&:before{width: 3px;height: 20px;}
	}
}

.depiction{margin-top: 34px;
	$this:&;

	&.type-unorder{
		#{$this}__item{
			&:before{content: '';padding-left: 0;}
		}
	}
	&.type-color{margin-top:24px;
		#{$this}__list{padding:0 50px; box-sizing:border-box; text-align:left;}
		#{$this}__item:before{content: '0'counter(depiction)'.';}
		&.type-special{
			#{$this}__item:before{color:$special2;}
		}
	}
	&__tit{position: relative;margin-bottom: 20px;padding-bottom: 20px;
		&:before{content: '';position: absolute;left: 0;right: 0;bottom: 0;width: 20px;height: 1px;margin: auto;background-color: $black2;}
	}
	&__list{margin: 0;padding: 0;list-style: none;counter-reset: depiction;}
	&__item{
		&:before{content: counter(depiction)'.';counter-increment: depiction;display: inline-block;padding-right: 6px;font-size: 15px;}
		& + &{margin-top: 6px;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-color{
			#{$this}__list{padding:0 20px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		margin-top: 18px;
		&.type-color{margin-top:12px;
			#{$this}__list{padding:0px;}
		}
		&__tit{margin-bottom: 15px;padding-bottom: 15px;}
		&__item{
			&:before{font-size: 1.2rem;}
			& + &{margin-top: 4px;}
		}
	}
}


.bg-style1{
	$this:&;
	@extend %box;
	&.type-no-border{
		#{$this}__area{padding:0;}
		#{$this}__outer{height:420px; border:none;}
	}

	&.type-body{
		#{$this}__wrap{@include background('../images/content/scar/scar_bg_1.jpg','no-repeat center center/cover');}
	}
	&.type-chest{
		#{$this}__wrap{@include background('../images/content/scar/scar_bg_2.jpg','no-repeat center center/cover');}
	}

	&__area{padding:20px; box-sizing:border-box;}
	&__outer{height:100%; border:1px solid rgba(255,255,255,0.3); box-sizing:border-box;}
	&__box{display:table-cell; width:1%; height:358px; padding:10px; vertical-align:middle; box-sizing:border-box;}
	&__txt{color:#fff;}
	&__tit{margin-top:20px;}
	&__btn{display:inline-block; height:50px; margin-top:20px; padding:0 20px; border:1px solid #fff; color:#fff; box-sizing:border-box; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-no-border{
			#{$this}__outer{height:100%;}
		}

		&.type-body{
			#{$this}__wrap{@include background('../images/content/scar/scar_bg_1_t.jpg','no-repeat center center/cover');}
		}
		&.type-chest{
			#{$this}__wrap{@include background('../images/content/scar/scar_bg_2_t.jpg','no-repeat center center/cover');}
		}

		&__wrap{position:relative; height:0; padding-bottom:91.14%;}
		&__area{position:absolute; top:0; left:0; width:100%; height:100%;}
		&__outer{display:inline-table; width:100%; height:100%;}
		&__box{width:auto; height:100%; padding-left:80px; padding-right:80px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__box{padding-left:10px; padding-right:10px;}
		&__tit{margin-top:10px;}
	}
}

.bg-style2{
	$this:&;
	&.txt-left{
		#{$this}__list{text-align:left;}
	}
	&__list{margin:0 0 0 -40px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%;height: 320px;padding-left: 40px;box-sizing: border-box;
		&.type-forehead{
			#{$this}__wrap{@include background('../images/content/link/link_bg_1.jpg','no-repeat center center / cover');}
		}
		&.type-botox{
			#{$this}__wrap{@include background('../images/content/link/link_bg_2.jpg','no-repeat center center / cover');}
		}
		&.type-elastic{
			#{$this}__wrap{@include background('../images/content/link/link_bg_3.jpg','no-repeat center center / cover');}
		}
		&.type-papilla{
			#{$this}__wrap{@include background('../images/content/link/link_bg_4.jpg','no-repeat center center / cover');}
		}
		&.type-fat{
			#{$this}__wrap{@include background('../images/content/link/link_bg_5.jpg','no-repeat center center / cover');}
		}
		&.type-mini{
			#{$this}__wrap{@include background('../images/content/link/link_bg_6.jpg','no-repeat center center / cover');}
		}
		&.type-obesity{
			#{$this}__wrap{@include background('../images/content/link/link_bg_7.jpg','no-repeat center center / cover');}
		}
		&.type-cheek{
			#{$this}__wrap{@include background('../images/content/link/link_bg_8.jpg','no-repeat center center / cover');}
		}
		&.type-front{
			#{$this}__wrap{@include background('../images/content/link/link_bg_9.jpg','no-repeat center center / cover');}
		}
		&.type-pexy{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_1.jpg','no-repeat center center / cover');}
		}
		&.type-upper{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_2.jpg','no-repeat center center / cover');}
		}
		&.type-lower{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_3.jpg','no-repeat center center / cover');}
		}
		&.type-midface{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_4.jpg','no-repeat center center / cover');}
		}
		&.type-facelift{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_5.jpg','no-repeat center center / cover');}
		}
		&.type-necklift{
			#{$this}__wrap{@include background('../images/content/link/eye/link_eye_6.jpg','no-repeat center center / cover');}
		}
		&.type-model1{
			#{$this}__wrap{@include background('../images/content/link/link_bg_10.jpg','no-repeat center center / cover');}
		}
		&.type-model2{
			#{$this}__wrap{@include background('../images/content/link/link_bg_11.jpg','no-repeat center center / cover');}
		}
		&.type-model3{
			#{$this}__wrap{@include background('../images/content/link/link_bg_12.jpg','no-repeat center center / cover');}
		}
		&.type-bodylift{
			#{$this}__wrap{@include background('../images/content/link/body/link_body_1.jpg','no-repeat center center / cover');}
		}
		&:nth-child(2) ~ &{margin-top:40px;}
	}
	&__wrap{position:relative; width: 100%;height: inherit;padding: 0 20px;box-sizing: border-box;}
	&__box{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
	&__subtit{color:#fff;}
	&__txt{margin:12px 0 0 0; color:#aaa;}
	&__btn{display:inline-block; height:50px; min-width:200px; margin-top:34px; padding:0 20px; border:1px solid #fff; color:#fff; box-sizing:border-box; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
	}
	&__noti{position:absolute; bottom:12px; left:0; right:0; margin:0; font-size:12px; color:$black3;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-left: 0;padding: 0 35px;}
		&__item{width: 100%;padding-left: 0;
			& + &{margin-top: 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{padding: 0;}
		&__item{height: auto;
			& + &{margin-top: 20px;}
		}
		&__wrap{padding: 38px 20px;}
		&__box{display:block; width:auto;}
		&__txt{margin-top: 5px;}
		&__btn{height: 35px; margin-top: 10px; padding:0 10px;}
		&__noti{bottom:6px; font-size:1rem;}

	}
}

.bg-style3{
	$this:&;
	&__list{margin: 0 0 0 -20px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%;height: 250px;padding-left: 20px;box-sizing: border-box;
		&:nth-child(2) ~ #{$this}__item{margin-top: 20px;}

		&.type-extension{
			#{$this}__wrap{@include background('../images/content/link/chest/link_chest_1.jpg','no-repeat center center / cover');}
		}
		&.type-reduction{
			#{$this}__wrap{@include background('../images/content/link/chest/link_chest_2.jpg','no-repeat center center / cover');}
		}
		&.type-svf-extend{
			#{$this}__wrap{@include background('../images/content/link/chest/link_chest_3.jpg','no-repeat center center / cover');}
		}
		&.type-lifting{
			#{$this}__wrap{@include background('../images/content/link/chest/link_chest_4.jpg','no-repeat center center / cover');}
		}
	}
	&__wrap{width: 100%;height: inherit;padding: 0 20px;box-sizing: border-box;}
	&__box{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
	&__subtit{color:#fff;}
	&__txt{margin:12px 0 0 0; color:#aaa;}
	&__btn{display:inline-block; height:40px; margin-top:16px; padding:0 30px; border:1px solid #fff; color:#fff; box-sizing:border-box; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
	}

	@media only screen and (max-width: $tablet-size){
		&__list{margin-left: 0;padding: 0 35px;}
		&__item{width: 100%;padding-left: 0;
			& + &{margin-top: 20px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{padding: 0;}
		&__item{height: auto;
			& + &{margin-top: 20px;}
		}
		&__wrap{padding: 38px 20px;}
		&__box{display:block; width:auto;}
		&__txt{margin-top: 5px;}
		&__btn{height: 35px;margin-top: 10px;}
	}
}

.content-btn{display:block; width:200px; height:48px; margin:36px auto 0; border:1px solid $black1;
	span{display:inline-block; height:100%; vertical-align:middle;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $mobile-size){width:160px; height:40px; margin-top:14px;}
}

.step-style{
	$this:&;
	&.type-contour{
		#{$this}__head{background-color:$contour1;}
	}
	&.type-nose{
		#{$this}__head{background-color:$nose1;}
	}
	&.type-vertical{
		#{$this}__list{margin-left: 0;}
		#{$this}__item{position: relative;width: 100%;padding-left: 156px;font-size: 0;
			& + #{$this}__item{margin-top: 30px;}
		}
		#{$this}__head{position: absolute;top: 0;left: 0;width: 156px;height: 100%;}
		#{$this}__body{background-color: #fff;text-align: left;
			#{$this}__box{padding: 0 40px;border: 1px solid #ddd;border-left: 0;box-sizing: border-box;}
		}
		#{$this}__box{height: 100px;box-sizing: border-box;}
	}

	&__list{margin:0px 0 0 -10px; padding:0; font-size:0;}
	&__item{display:inline-block; width:33.33%; padding-left:10px;list-style:none; box-sizing:border-box;}
	&__head{text-transform: uppercase; color:#fff;
		#{$this}__box{height:70px;}
	}
	&__body{color:$black3; background-color:#ebebeb;
		#{$this}__box{height:100px;}
	}
	&__box{display:table-cell; width:1%; vertical-align:middle; }
	@media only screen and (max-width: $tablet-size){padding:0 154px; box-sizing:border-box;

		&.type-vertical{padding: 0;
		}

		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:30px;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding:0 60px;

		&.type-vertical{
			#{$this}__item{padding-left: 78px;
				& + #{$this}__item{margin-top: 20px;}
			}
			#{$this}__head{position: absolute;top: 0;left: 0;width: 78px;}
			#{$this}__body{
				#{$this}__box{padding: 14px 20px;}
			}
			#{$this}__box{display:block; width:100%; height:auto;}
			#{$this}__head{
				#{$this}__box{position:absolute; top:50%; left:0; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); }
			}
		}
		&__subject{display:block;}
		&__head{
			#{$this}__box{height:36px;}
		}
		&__body{
			#{$this}__box{height:56px;}
		}
	}
}

.step-style2{
	$this:&;

	&__list{margin: 56px 0 0;padding: 0;list-style: none;}
	&__item{position: relative;width: 100%;padding-left: 156px;font-size: 0;box-sizing: border-box;
	    & + &{margin-top: 40px;}
	}
	&__head{position: absolute;left: 0;top: 0;bottom: 0;width: 156px;color: #fff;
		&.type-special{background-color: $special2;}
		&.type-special2{background-color: $special1;}
	}
	&__body{font-size: 0;text-align: left;}
	&__box{position: relative;
		& + &{margin-top: -1px;}
	}
	&__img{display: inline-block;width: 50%;}
	&__area{position: absolute;top: 0;bottom: 0;right: 0;width: 50%;padding: 0 35px;border: 1px solid #ddd;box-sizing: border-box;}
	&__inner{display: inline-table;width: 100%;height: 100%;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__txt{margin-top: 10px;}

	@media only screen and (max-width: $minpc-size3){
		padding: 0 110px;

		&__box{
			& + &{margin-top: 0;}
		}
		&__item{padding-left: 0;}
		&__head{position: static;width: 100%;height: 60px;}
		&__img{width: 100%;}
		&__area{position: static;width: 100%;padding: 30px 40px;text-align: center;}
	}
	@media only screen and (max-width: $mobile-size){
		padding: 0 35px;

		&__list{margin-top: 30px;}
		&__item{
			& + &{margin-top: 20px;}
		}
		&__head{height: 35px;}
		&__area{padding: 20px 25px;}
	}
}

.step-style3{
	$this:&;
	&.type-mt{margin-top:56px;}
	&.type-half{
		#{$this}__list{margin-left:-40px;}
		#{$this}__wrap{padding-left:40px;}
	}
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; vertical-align: top; box-sizing:border-box;}
	&__wrap{display:inline-block; width:50%; padding-left:20px; vertical-align:top; box-sizing: border-box;
		&.type-half{padding-left:0;
			#{$this}__item{width:50%; padding-left:20px;}
		}
	}
	&__outer{margin-left:-20px;}
	&__box{display:table-cell; width:1%; height:146px; padding:10px; border:1px solid #c8c8c8; vertical-align:middle; background-color:#fff; box-sizing:border-box;
		&.type-half{width:50%;}
		& + &{border-left:none;}
	}
	&__tit{color:$black2;}
	@media only screen and (max-width: $tablet-size){
		&__wrap{width:100%; padding-left:0;
			& + &{margin-top:20px;}
		}
		&.type-half{
			#{$this}__list{margin-left:0px;}
			#{$this}__wrap{padding:0 60px;
				& + #{$this}__wrap{margin-top:50px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-mt{margin-top:26px;}
		&.type-half{
			#{$this}__wrap{padding:0px;
				& + #{$this}__wrap{margin-top:24px;}
			}
		}
		&__wrap{
			& + &{margin-top:10px;}
			&.type-half{
				#{$this}__item{padding-left:10px;}
			}
		}
		&__outer{margin-left:-10px;}
		&__box{height:100px;}
	}
}


.process{
	& + &{margin-top: 30px;}
	&__box{position: relative;text-align: left;font-size: 0;}
	&__list{display: inline-block;width: 70%;margin: 0;padding: 0 70px 0 0;list-style: none;box-sizing: border-box;}
	&__item{position: relative;width: 100%;border: 1px solid #ddd;box-sizing: border-box;
		& + &{margin-top: 30px;}
		&:before{content: '';position: absolute;top: 0;bottom: 0;right: -50px;width: 30px;height: 32px;margin: auto;background: url(../images/chest/papilla/papilla_arrow_1.png) 0 0/cover;}
	}
	&__head{position: absolute;top: 0;left: 0;width: 180px;height: 100%;background-color: #555;text-align: center;}
	&__inner{display: inline-table;position: relative;width: 100%;height: 100%;}
	&__tit{color: #fff;}
	&__area{height: 120px;padding-left: 210px;padding-right: 3%;text-align: left;}
	&__vertical{position: relative;display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

	&__result{position: absolute;top: 0;right: 0;width: 30%;height: 100%;padding: 0 3%;text-align: center;box-sizing: border-box;}
	&__txt2{color: #fff;}

	@media only screen and (max-width: $tablet-size){
		&__head{width: 120px;}
		&__area{padding-left: 150px;}
	}
	@media only screen and (max-width: $mobile-size){
		& + &{margin-top: 15px;}

		&__list{padding-right: 22px;}
		&__item{
			& + &{margin-top: 15px;}
			&:before{right: -20px;width: 15px;height: 16px;}
		}
		&__head{width: 60px;}
		&__area{height: 95px;padding-left: 70px;}
	}
}

.process-style2{
	&__list{position: relative;margin: 0;padding: 0;list-style: none;font-size: 0;text-align: left;}
	&__item{display: inline-block;width: 30.43%;box-sizing: border-box;
		&.nth-1{}
		&.nth-2{margin-left: 10px;}
		&.nth-3{position: absolute;right: 0;top: 0;bottom: 0;margin-left: calc(8.71% - 10px);}
	}
	&__box{position: relative;
		&:before{content: '';position: absolute;top: 0;bottom: 0;left: -16.8%;width: 30px;height: 32px;margin: auto;background: url(../images/chest/papilla/papilla_arrow_1.png) 0 0/cover;}
	}

	&__caption{height: 90px;padding: 0 3%;background-color: #555;color: #fff;text-align: center;vertical-align: middle;box-sizing: border-box;
		&.type-special{background-color: $special1;}
	}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

	@media only screen and (max-width: $minpc-size3){
		&__list{margin-left:-10px;text-align: center;}
		&__item{width: 50%;padding-left: 10px;
			&.nth-2{margin-left: 0}
			&.nth-3{position: static;margin-left: 0;margin-top: 70px;}
		}
		&__box{
			&:before{top: -50px;bottom: auto;left: 0;right: 0;transform: rotate(90deg);}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__item{
			&.nth-3{margin-top: 35px;}
		}
		&__caption{height: auto;padding-top: 15px;padding-bottom: 15px;}
		&__box{
			&:before{top: -24px;width: 15px;height: 16px;}
		}
	}
}

.process-style3{
	$this: &;

	&.type-contour{
		#{$this}__caption{background-color: $contour2;}
		#{$this}__result{background-color: $contour1;}
	}

	&__box{position: relative; padding-bottom: 70px;
		&:before{content: '';position: absolute;left: 0;right: 0;bottom: 18px;width: 32px;height: 30px;margin: 0 auto;background: url(../images/contour/protrusion/protrusion_arrow_1.png) 0 0/cover;}
	}
	&__list{margin: -10px 0 0 -10px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 33.33%;padding: 10px 0 0 10px;vertical-align: top;box-sizing: border-box;}
	&__img{}
	&__caption{height: 90px;padding: 0 3%;color: #fff;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__result{padding: 20px 3% 18px;color: #fff;}

	@media only screen and (max-width: $tablet-size){
		&__item{width: 50%;}
		&__caption{height: auto;padding: 20px 3% 18px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__box{padding-bottom: 35px;
			&:before{bottom: 10px;width: 16px;height: 15px;}
		}
		&__list{margin: -5px 0 0 -5px;}
		&__item{padding: 5px 0 0 5px;}
		&__caption{padding: 10px 3% 8px;}
		&__result{padding: 10px 3% 8px;}
	}
}

.process-style4{
	$this: &;

	&.type-contour{
		#{$this}__number{background-color: $contour2;}
		#{$this}__result{background-color: $contour1;}
	}

	&__tit{}
	&__list{margin: 56px 0 0 -40px;padding: 0;list-style: none;font-size: 0;}
	&__item{display: inline-block;width: 50%;padding-left: 40px;box-sizing: border-box;vertical-align: top;
		&:nth-child(2) ~ #{$this}__item{margin-top: 60px;}
	}
	&__inner{position: relative;}
	&__number{position: absolute;top: 0;left: 0;width: 60px;height: 60px;color: #fff;z-index: 10;
		&:before{content: '';display: inline-block;height: 100%;vertical-align: middle;}
	}
	&__box{position: relative;z-index: 5;}
	&__caption{position: absolute;bottom: 0;left: 0;width: 100%;height: 60px;padding: 0 1%;background: rgba(102, 102, 102, 0.8);color: #fff;box-sizing: border-box;}
	&__result{position: relative;margin-top: 58px;height: 60px;padding: 0 1%;color: #fff;
		&:before{content: '';position: absolute;left: 0;right: 0;top: -50px;width: 30px;height: 38px;margin: 0 auto;background: url(../images/contour/protrusion/protrusion_arrow_2.png) 0 0/cover;}
	}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

	@media only screen and (max-width: $mobile-size){
		&__list{margin: 35px 0 0 -10px}
		&__item{padding-left: 10px;
			&:nth-child(2) ~ #{$this}__item{margin-top: 30px;}
		}
		&__number{width: 30px;height: 30px;}
		&__caption{position: static;height: 50px;}
		&__result{margin-top: 30px;height: 50px;
			&:before{top: -25px;width: 15px;height: 19px;}
		}
	}
}

.process-style5{
	$this: &;
	&.type-fixed{
		#{$this}__txt{display:table-cell; width:1%; height:100px; padding:5px; vertical-align:middle;}
	}
	&__wrap{margin:0 0 0 -20px;font-size: 0;}
	&__box{display: inline-block;width: 50%;padding-left: 20px;box-sizing: border-box;vertical-align: top;}
	&__list{margin: 0;padding: 0;list-style: none;}
	&__item{box-sizing: border-box;
		& + &{
			&:before{content: '';display: block;width: 20px;height: 19px;margin: 20px auto;background: url(../images/contour/case/case_arrow_1.png) no-repeat center center/contain;}
		}
		&.type-subject{
			#{$this}__txt{background-color: #ebebeb;}
		}
		&.type-gray{
			#{$this}__txt{border-color: $black1;background-color: $black2;color: #fff;}
		}
		&.type-contour{
			#{$this}__txt{border-color: #4878d9;background-color: $contour2;color: #fff;}
		}
		&.type-reoperation{
			#{$this}__txt{background-color:$reoperation1; border-color:$reoperation1; color:#fff;}
		}
		&.type-reoperation2{
			#{$this}__txt{background-color:$reoperation2; border-color:$reoperation2; color:#fff;}
		}
	}
	&__txt{padding: 18px 3% 16px;border: 1px solid #cbcbcb;
		.txt-new1{color:inherit;}
	}
	@media only screen and (max-width: $tablet-size){
		&__wrap{margin-left: 0;padding: 0 80px;}
		&__box{width: 100%;padding-left: 0;
			& + &{margin-top: 50px;}
		}
		&.type-fixed{
			#{$this}__txt{display:block; width:auto; height:auto; padding: 18px 3% 16px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__wrap{padding: 0 20px;}
		&__box{
			& + &{margin-top: 25px;}
		}
		&__item{
			& + &{
				&:before{width: 10px;height: 9px;margin: 10px auto;}
			}
		}
		&__txt{padding: 10px 3% 8px;}
		&.type-fixed{
			#{$this}__txt{padding: 10px 3% 8px;}
		}
	}
}

.process-style6{position:relative;
	$this:&;
	& + &{margin-top:40px;}
	&__box{width:50%;  box-sizing:border-box; font-size:0;
		&.type-result{position:absolute; top:0; bottom:0; right:0; }
		&.type-white{
			#{$this}__txt{border:1px solid #cbcbcb; background-color:transparent; color:$black5;}
		}
		&.type-reoperation1{
			#{$this}__outer{background-color:$reoperation1}
		}
		&.type-reoperation2{
			#{$this}__outer{background-color:$reoperation2}
		}
	}
	&__arrow{display:inline-block; width:39.13%; height:100%; @include background('../images/content/arrow_gray.png','no-repeat center center'); vertical-align:top;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:10px;}
	}
	&__txt{padding:16px; background-color:$chest2; color:#fff; box-sizing:border-box; text-align:center;}
	&__wrap{display:inline-block; width:60.87%; height:100%; vertical-align:top;}
	&__outer{display:inline-table; width:100%; height:100%; background-color:$chest1;}
	&__inner{display:table-cell; width:100%; height:100%; padding:16px; color:#fff; vertical-align:middle; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){
		&__box{width:45%;
			&.type-result{width:55%; }
		}
	}
	@media only screen and (max-width: $mobile-size){
		& + &{margin-top:20px;}
		&__box{width:100%;
			&.type-result{position:static; width:100%;}
			&.type-mobile-full{
				#{$this}__list{margin-left:0px;}
				#{$this}__item{width:100%; padding-left:0;}
			}
		}
		&__arrow{width:100%; height:45px;  background-size:16px 16px; transform:rotate(90deg);}
		&__wrap{width:100%;}
		&__txt{display:table-cell; width:1%; height:60px; padding:10px; vertical-align:middle;}
		&__inner{padding:10px;}
		&__list{margin-left:-5px;}
		&__item{display:inline-block; width:50%; padding-left:5px; box-sizing:border-box;
			& + &{margin-top:0px;}
		}
	}
}

.process-style7{position: relative;font-size: 0;
	$this:&;

	&__area{position: absolute;top: 0;bottom: 0;width: 28.26%;margin: auto;
		&.type-cause{left: 0;background-color: $contour2;}
		&.type-result{right: 0;background-color: $contour1;}
		#{$this}__inner{color: #fff;}
	}
	&__box{width: 43.48%;padding-left: 28.26%;}
	&__list{position: relative;margin: 0;padding: 0 17.5%;list-style: none;
		&:before{content: '';position: absolute;left: 0;top: 0;width: 17.5%;height: 100%;margin: auto; @include background('../images/content/arrow_gray.png','no-repeat center center');}
		&:after{content: '';position: absolute;right: 0;top: 0;width: 17.5%;height: 100%;margin: auto; @include background('../images/content/arrow_gray.png','no-repeat center center');}
	}
	&__item{vertical-align: top;
		& + &{margin-top: 20px;}
		&.nth-2{
			#{$this}__txt{
				&:after{background: url(../images/contour/mini/mini_arrow_2.png) no-repeat center center;}
			}
		}
	}
	&__wrap{height: 115px;border: 1px solid #cbcbcb;box-sizing: border-box;
		&:after{content: '';display: inline-block;}
	}
	&__txt{display: inline-block;
		&:after{content: '';display: inline-block;width: 18px;height: 24px; @include background('../images/contour/mini/mini_arrow_1.png','no-repeat center center'); vertical-align: middle;}
	}
	&__arrow{display: inline-block;width: 18px;height: 24px; @include background('../images/contour/mini/mini_arrow_1.png','no-repeat center center'); vertical-align: middle;}
	&__outer{display: inline-table;width: 100%;height: 100%;}
	&__inner{display: table-cell;width: 100%;height: 100%;padding: 20px;vertical-align: middle;box-sizing:border-box;}

	@media only screen and (max-width: $tablet-size){
		&__area{position: static;width: 100%;}
		&__box{width: 100%;padding-left: 0;}
		&__list{padding: 60px 0;font-size: 0;margin-left: -10px;
			&:before{left: 10px;top: 0;right: 0;width: calc(100% - 10px);height: 60px;transform: rotate(90deg);}
			&:after{right: 0;top: auto;bottom: 0;left: 10px;width: calc(100% - 10px);height: 60px;transform: rotate(90deg);}
		}
		&__item{display: inline-block;width: 50%;padding-left: 10px;box-sizing: border-box;
			& + &{margin-top: 0;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__inner{padding: 10px;}
		&__list{padding: 45px 0;margin-left: -5px;
			&:before{left: 5px;width: calc(100% - 5px);height: 45px;background-size: 16px 15px;}
			&:after{left: 5px;width: calc(100% - 5px);height: 45px;background-size: 16px 15px;}
		}
		&__item{padding-left: 5px;
			&.nth-2{
				#{$this}__txt{
					&:after{background-size: 9px 12px;}
				}
			}
		}
		&__txt{display: inline-block;
			&:after{width: 9px;height: 12px;background-size: 9px 12px;}
		}
	}
}

.structure{margin-top:54px;
	$this:&;
	&__list{margin:0 0 0 -40px; padding:0; font-size:0;
		&.type-half{
			#{$this}__item{width:50%;}
		}
		&.type-three{margin-left:-24px;
			#{$this}__item{width:33.33%; padding-left:24px;}
		}
	}
	&__item{display:inline-block; padding-left:40px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__header{padding:16px 10px; color:#fff;
		&.type-body{background-color:$body1;}
		&.type-body2{background-color:$body2;}
	}
	&__body{min-height:128px; padding:26px 40px; background-color:#fff; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		&.type-half{font-size:0;
			#{$this}__wrap{margin-left:-10px;}
			#{$this}__box{display:inline-block; width:50%; padding-left:10px; vertical-align:top;}
		}
	}
	&__box{box-sizing:border-box; text-align:left;}
	&__list2{margin:0; padding:0;}
	&__item2{position:relative; padding-left:8px; box-sizing:border-box; list-style:none;
		&:before{position:absolute; top:0px; left:0; content:'-'}
	}
	&__img{margin:40px 0;}
	@media only screen and (max-width: $tablet-size){
		&__list{display:flex; margin-left:-20px;
			&.type-three{margin-left:-10px;
				#{$this}__item{padding-left:10px;}
			}
		}
		&__item{flex:1; -webkit-flex: 1; -ms-flex: 1; padding-left:20px; background-color:#fff; background-clip: content-box;}
		&__body{padding-left:30px; padding-right:30px;}
	}
	@media only screen and (max-width: $mobile-size){margin-top:26px;
		&__list{display:block; margin-left:0;
			&.type-half{
				#{$this}__item{width:100%;}
			}
			&.type-three{margin-left:0;
				#{$this}__item{display:block; width:100%; padding-left:0;}
			}
		}
		&__item{flex:none; -webkit-flex:none; -ms-flex:none; padding-left:0;
			& + &{margin-top:10px;}
		}
		&__img{margin:20px 0;}
		&__header{padding:10px;}
		&__body{min-height:100%; padding:12px; text-align:center;
			&.type-half{
				#{$this}__wrap{margin-left:0;}
				#{$this}__box{display:block; width:100%; padding-left:0;}
			}
		}
		&__wrap{display:inline-block;}
	}
}


.arrow-style{
	$this:&;
	&.type-col{
		#{$this}__bg{width:200px; height:200px; @include background('../images/special/lip/lip_bg_1.png','no-repeat center center / cover'); text-align:center;}
		#{$this}__box{
			&.type-box{position:relative; padding-left:210px; padding-right:270px;}
			&.type-circle{width:270px;}
		}
		#{$this}__caption{position:absolute; top:0; bottom:0; left:0; width:210px; padding:0 5%; background-color:#999;
			#{$this}__inner{text-align:center; color:#fff;}
		}
		#{$this}__txt{padding:0 6%;}
	}
	&__wrap{position:relative; margin-top:56px;}
	&__box{box-sizing:border-box;
		&.type-box{padding-right:380px;}
		&.type-circle{position:absolute; top:0; bottom:0; right:0; width:380px;}
	}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:right;}
	&__bg{position:relative; display:inline-block; width:280px; height:280px;
		@include background('../images/special/ear/ear_bg_2.png','no-repeat center center / cover'); text-align:center;
		&:before{position:absolute; top:0; left:-52px; bottom:0; display:block; width:32px; height:32px; margin:auto 0;
			@include background('../images/content/arrow_gray.png','no-repeat center center / contain'); content:'';}
	}
	&__area{height:inherit;}
	&__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__caption{padding:16px 10px; color:#fff; box-sizing:border-box;}
	&__txt{color:#fff;
		& + &{position:relative; box-sizing:border-box;
			&:before{display:block; width:40px; height:40px; margin:16px auto; @include background('../images/special/ear/ear_plus.png','no-repeat center center / contain'); content:'';}
		}
	}
	@media only screen and (max-width: $tablet-size){padding:0 20px; box-sizing:border-box;
		&.type-col{
			#{$this}__bg{width:100%; height:0; padding-bottom:100%;}
			#{$this}__box{
				&.type-box{padding-left:19%; padding-right:19%;}
				&.type-circle{width:auto;}
			}
			#{$this}__caption{position:static; top:auto; bottom:auto; left:atuo; width:100%; padding:16px 10px; background-color:#999;
				#{$this}__outer{padding:0;}
				#{$this}__inner{text-align:center; color:#fff;}
			}
			#{$this}__txt{padding:0 6%;}
			#{$this}__outer{padding:0 34%;}
		}
		&__box{
			&.type-box{padding-right:0;}
			&.type-circle{position:static; top:auto; bottom:auto; right:auto; width:auto;}
		}
		&__outer{display:block; padding:0 25%; box-sizing:border-box;}
		&__inner{display:block; text-align:center;}
		&__bg{margin-top:70px; width:100%; height:0; padding-bottom:100%;
			&:before{top:-51px; left:0; bottom:auto; right:0; margin:0 auto; transform:rotate(90deg);}
		}
		&__vertical{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); display:block; width:100%; height:auto; text-align:center;}
	}
	@media only screen and (max-width: $mobile-size){padding:0;
		&__wrap{margin-top:26px;}
		&__bg{margin-top:36px;
			&:before{top:-26px; width:16px; height:16px;}
		}
		&__txt{
			& + &{
				&:before{width:20px; height:20px; margin:8px auto;}
			}
		}
		&.type-col{
			#{$this}__box{
				&.type-box{padding-left:11%; padding-right:11%;}
				&.type-circle{width:auto;}
			}
			#{$this}__caption{padding:8px 10px;}
			#{$this}__txt{padding:0 6%;}
			#{$this}__outer{padding:0 24%;}
		}
	}
}

.multi-box{
	$this:&;
	@extend %box;
	&.type-three{
		#{$this}__item{width:33.33%;}
	}
	&__header{margin-top:56px; padding:76px 40px;
		@include background('../images/special/total/total_bg_1.jpg','no-repeat center center / cover'); box-sizing:border-box;}
	&__list{margin:0; padding:0; font-size:0; text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; display:inline-block; width:25%; height:80px; background-color:#eee; list-style:none; text-align:center; vertical-align:top;
		&.type-white{background-color:#fff;}
		&.is-hover{box-shadow: 6px 6px 0px 0px $special2 inset, -6px -6px 0px 0px $special2 inset; -webkit-box-shadow: 6px 6px 0px 0px $special2 inset, -6px -6px 0px 0px $special2 inset;
			#{$this}__link{color:$special2;}
		}
	}
	&__link{display:table-cell; width:1%; height:inherit; vertical-align:middle; padding:0 10px; box-sizing:border-box; text-decoration:none;}
	&__noti{padding:22px 0; font-size:14px; color:#aaa; background-color:$black2;}
	@media only screen and (max-width: $mobile-size) {
		&__header{margin-top:26px; padding:24px 12px;}
		&__noti{padding:12px 0; font-size:1.1rem;}
		&__item{
			&.is-hover{box-shadow: 3px 3px 0px 0px $special2 inset, -3px -3px 0px 0px $special2 inset; -webkit-box-shadow: 3px 3px 0px 0px $special2 inset, -3px -3px 0px 0px $special2 inset;}
		}
	}
}

//box-style1 은 기존 content_common 에서 사용
.box-style2{
	$this:&;
	@extend %box;
	&.type-special{
		#{$this}__item{
			&:nth-child(odd){background-color:#001b3f;
				#{$this}__tit,#{$this}__subtit,#{$this}__btn{color:#fff;}
				#{$this}__txt{color:#aaa;
					&.color-bullet{
						&:before{color:$special3;}
					}
				}
				#{$this}__point{color:$special3;}
				#{$this}__btn{
					span:after{@include background('../images/content/content_top_w.png','no-repeat center center / contain');}
				}
				#{$this}__highlight{background-color:$special3; color:#000;}
			}
			&:nth-child(4n+3){background-color:#081323 !important;}
		}
		#{$this}__highlight{background-color:$special2; color:#fff;}
		#{$this}__point{color:$special2;}
		#{$this}__txt{
			&.color-bullet{
				&:before{color:$special2;}
			}
		}
		#{$this}__caption{background-color:#335c93;}
	}
	&.type-circle{
		#{$this}__wrap{margin:0;}
		#{$this}__box{position:absolute; top:50%; left:0; width:320px; padding-left:0; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%);
			&.type-txt{position:static; top:auto; right:auto; bottom:auto; width:100%; padding-left:360px;
				transform:none;}
		}
		#{$this}__outer{display:block;}
		#{$this}__inner{display:block;}
		#{$this}__txt{margin-top:24px;}
		#{$this}__highlight{display:inline-block; margin-top:50px;}
		#{$this}__info{margin-top:16px;}
	}
	&__subtit{margin-top:26px;}
	&__list{margin:0; padding:0;}
	&__item{position:relative; padding:94px 60px 100px; box-sizing:border-box; list-style:none; background-color:#eee;}
	&__wrap{position:relative;  margin:56px 0 0 -40px; text-align: left; font-size:0;}
	&__box{display:inline-block;  width:50%; padding-left:40px; box-sizing:border-box; vertical-align: top;
		&.type-txt{position:absolute; top:0; right:0; bottom:0;}
	}
	&__img{position:relative;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; width:100%; height:100%; vertical-align:middle;}
	&__txt{
		&.type-bullet{position:relative; padding-left:10px;
			&:before{position:absolute; left:0; content:'-';}
		}
		& + &{margin-top:24px;}
	}
	&__highlight{padding:0px 6px;}
	&__block{display:block; margin-top:6px;}
	&__btn{position:absolute; bottom:30px; right:30px; text-decoration:none;
		span{position:relative; display:block; padding-right:30px; box-sizing:border-box; line-height:22px;
			&:after{position:absolute; top:0; right:0; bottom:0; display:block; width:22px; height:22px; @include background('../images/content/content_top.png','no-repeat center center / contain'); content:'';}
		}
	}
	&__caption{position:absolute; left:0; right:0; bottom:0; padding:10px; color:#fff; text-align:center;}
	@media only screen and (max-width: $minpc-size3) {
		&.type-circle{
			#{$this}__box{position:static; top:auto; left:auto; display:block; width:100%; transform:none; padding-left:22%; padding-right:22%;
				&.type-txt{position:static; top:auto; right:auto; bottom:auto; width:auto; padding-left:0; padding-right:0; text-align:center;}
			}
		}
		&__wrap{margin-left:0;}
		&__box{width:100%; padding-left:0;
			&.type-txt{position:static; margin-top:40px; }
		}
		&__item{padding:94px 96px 130px;}
		&__outer,&__inner{display:block; width:auto; height:auto;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-circle{
			#{$this}__txt{margin-top:12px;}
			#{$this}__info{margin-top:8px;}
			#{$this}__highlight{margin-top:14px;}
		}
		&.type-special{
			#{$this}__item{
				&:nth-child(odd){
					#{$this}__btn{
						span:after{@include background('../images/content/content_top_m_w.png','no-repeat center center/contain');}
					}
				}
			}
		}
		&__subtit{margin-top:12px;}
		&__wrap{margin-top:26px;}
		&__item{padding:70px 20px 80px;}
		&__box{
			&.type-txt{margin-top:20px;}
		}
		&__txt{
			&.type-bullet{padding-left:6px;}
			& + &{margin-top:12px;}
		}
		&__highlight{padding:0px 3px;}
		&__block{margin-top:3px;}
		&__btn{bottom:25px; right:12px;
			span{box-sizing:border-box; line-height:24px;
				&:after{width:24px; height:24px; @include background('../images/content/content_top_m.png','no-repeat center center/contain');}
			}
		}
		&__caption{padding:5px;}
	}
}

.point-style{
	$this: &;

	&.type-reoperation{
		#{$this}__head{background-color: $reoperation2;}
	}
	&__list{margin: 40px 0 0 0;padding: 0;list-style: none;}
	&__item{position: relative;padding-left: 396px;box-sizing: border-box;
		& + &{margin-top: 40px;}
	}
	&__head{position: absolute;top: 0;left: 0;width: 396px;height: 100%;padding: 0 30px;box-sizing: border-box;font-size: 0;}
	&__subject{display: inline-table;width: 100%;height: 100%;font-weight: $regular;color: #fff;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__body{padding: 26px 35px 24px;border: 1px solid #c8c8c8;border-left: 0;box-sizing: border-box;text-align: left;}

	@media only screen and (max-width: $tablet-size){
		&__item{padding-left: 0;}
		&__head{position: static;width: 100%;height: auto;padding: 36px 30px 34px;}
		&__body{padding: 45px 35px 43px;border-left: 1px solid #c8c8c8;border-top: 0;text-align: center;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top: 20px;}
		&__item{
			& + &{margin-top: 20px;}
		}
		&__head{padding: 20px 6px 18px;}
		&__body{padding: 30px 6px 28px;}
	}
}

.video-style1{position:relative; top:0; left:0; width:100%; height:0; margin-bottom:40px; padding-bottom:75%;
	&__iframe,&__bg{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__bg{overflow:hidden; text-indent:-9999px; z-index:10;
		&.is-hide{display:none;}
	}
	&__btn{ overflow: hidden; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 80px; height: 80px; margin: auto;
		@include background('../images/content/play_btn.png','no-repeat center center/80px 80px'); z-index: 20; text-indent: -999px; font-size: 0;
		&.is-hide{display:none;}
	}
	@media only screen and (max-width: $mobile-size){margin-bottom:20px;
		&__btn{width:40px; height:40px; background-size:40px 40px;}
	}
}


.bar-style1{
	$this:&;
	&.type-eye{
		#{$this}__item{background-color:$eye2;
			&:before,&:after{background-color:$eye2;}
			&:nth-child(even){background-color:$eye1;
				&:before,&:after{background-color:$eye1;}
			}
		}
	}
	&__list{margin:46px 0 0 0; padding:0;}
	&__item{position:relative; height:80px; padding:0 40px; list-style:none; color:#fff; border-radius:40px; text-align:center; box-sizing:border-box;
		& + &{margin-top:24px;
			#{$this}__wrap{
				&:before{position:absolute; top:-24px; left:0; right:0; display:block; width:1px; height:24px; background-color:#c7c7c7; margin:0 auto; content:''; }
			}
		}
		&:before,&:after{position:absolute; left:0; right:0; display:block; width:10px; height:10px; border:2px solid #fff; margin:0 auto; box-sizing:border-box; border-radius:50%; z-index:10; content:'';}
		&:before{top:-5px;}
		&:after{bottom:-5px;}
		&:first-child{
			&:before{display:none;}
		}
		&:last-child{
			&:after{display:none;}
		}
	}
	&__wrap{height:inherit;}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:18px;}
		&__item{height:90px; border-radius:40px;
			& + &{margin-top:10px;
				#{$this}__wrap{
					&:before{top:-10px; height:10px; }
				}
			}
			&:before,&:after{width:6px; height:6px; border-width:1px;}
			&:before{top:-3px;}
			&:after{bottom:-3px;}
		}
	}
}

.step-style4{
	&__tit{padding:14px; background-color:$body2; color:#fff;}
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:20%; padding:42px 10px 43px; list-style:none; box-sizing:border-box;
		&:nth-child(odd){background-color:#ebebeb;}
	}
	@media only screen and (max-width: $tablet-size){
		&__item{float:none; width:100%; padding:25px 10px;}
	}
}

.case-style1{margin-top:76px;
	$this:&;
	&.type-body{
		#{$this}__box{background-color:$body2;}
	}
	&__list{margin:0; padding:0;}
	&__item{position:relative; padding-left:20.34%; list-style:none;
		&:nth-child(even){padding-left:0; padding-right:20.34%;
			#{$this}__box{left:auto; right:0;}
		}
	}
	&__box{position:absolute; top:0; left:0; bottom:0; width:20.34%; color:#fff;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%; vertical-align:middle;}
	&__noti{margin:26px 0 0 0; font-size:12px; color:$black5; text-align:right;}
	@media only screen and (max-width: $tablet-size){margin-top:56px;}
	@media only screen and (max-width: $mobile-size){margin-top:46px;
		&__noti{margin-top:10px; font-size:1rem;}
	}
}

//mark
.mark-reoperation{background-color:#ffe5e5; color:inherit;}

@import "new_content_common/lang_vn";
