@charset "UTF-8";
@import "mixins";
@import "vendor";

/* 상담팝업*/
.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:115; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:480px; padding:70px 0px 50px; vertical-align:middle; background-color:#fff;}
	&__tit{margin:0; color:#333; font-size:32px; font-weight:400;}
	&__close{position:absolute; top:20px; right:20px; overflow:hidden; display:block; width:28px; height:28px; background:url('../images/common/popup/consultaion_close.png') no-repeat center center/contain; text-indent:-9999px;}
	&__list{display:inline-block; margin:25px 0 0 0; padding:0;
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); -moz-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); border-radius:20px; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:-20px;}
		&.is-active{border-radius:20px;
			#{$this}__link{color:#fff;}
			#{$this}__icon{position:relative; padding-left:20px;}
			#{$this}__icon:before{position:absolute; left:0; top:0; bottom:0; display:block; width:16px; height:14px; margin:auto 0; content:'';}
			&.nth-1.is-active{background-color:#00acd4;
				#{$this}__icon:before{width:18px; background:url('../images/common/popup/popup_icon1.png') no-repeat center bottom / contain;}
			}
			&.nth-2.is-active{background-color:#3a5897;
				#{$this}__icon:before{height:16px; background:url('../images/common/popup/popup_icon2.png') no-repeat center bottom / contain;}
			}
			&.nth-3.is-active{background-color:#7c529c;
				#{$this}__icon:before{background:url('../images/common/popup/popup_icon3.png') no-repeat center bottom / contain;}
			}
		}
	}
	&__link{display:block; padding:11px 28px; font-size:14px; font-weight:400; color:#555; text-decoration:none; box-sizing:border-box;}
	&__content{display:none; margin-top:25px;
		&.is-active{display:block;}
	}
	@media (max-width:$mobile-size){
		&__wrap{width:90vw; padding:35px 0px 25px}
		&__box{padding:0 20px;}
		&__list{margin-top:12px;}
		&__tit{font-size:26px;}
		&__link{padding: 11px 20px; font-size:12px;}
		&__content{margin-top:12px;}
		&__item{
			& + &{margin-left:-12px;}
			&.is-active{
				#{$this}__icon{position:relative; padding-left:20px;
					&:before{width:12px; height:11px;}
				}
			}
		}
		&__close{position:absolute; top:15px; right:15px; overflow:hidden; display:block; width:18px; height:18px;}
	}
}


.consultation{display:table-cell; width:1%; height:300px; vertical-align:middle; background-color:#ebeaea;
	&__tit{position:relative; margin:0; padding-top:108px; font-size:22px; color:#333; font-weight:500;
		&:before{position:absolute; top:0; left:0; right:0; margin:0 auto; width:88px; height:88px; content:'';}
		&.nth-1:before{background:url('../images/common/popup/popup_zalo_qrcode.jpg') no-repeat center center/contain;}
		&.nth-2:before{background:url('../images/common/popup/popup_facebook_icon.jpg') no-repeat center center/contain;}
		&.nth-3:before{background:url('../images/common/popup/popup_zalo_qrcode.jpg') no-repeat center center/contain;}
	}
	&__txt{margin:10px 0 0 0; font-size:13px; color:#5c5b5b; line-height:1.1;}
	&__num{display:inline-block; margin:10px 0 0 0; padding:5px 34px 7px; font-size:18px; color:#fff; background-color:#333333; border-radius:20px; line-height:1;
		&.nth-3{font-size:17px;}
	}
	&__tel{color:inherit; text-decoration:none;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px;}
	@media (max-width:$mobile-size){height:250px;
		&__tit{padding-top:76px; font-size:18px;
			&:before{width:66px; height:66px;}
            &.nth-1:before{background:url('../images/common/popup/popup_zalo_qrcode_m.jpg') no-repeat center center/contain;}
    		&.nth-2:before{background:url('../images/common/popup/popup_facebook_icon_m.jpg') no-repeat center center/contain;}
    		&.nth-3:before{background:url('../images/common/popup/popup_zalo_qrcode_m.jpg') no-repeat center center/contain;}
		}
		&__num{margin-top:5px; padding:5px 17px 7px; font-size:14px;
			&.nth-3{font-size:14px;}
		}
		&__txt{font-size:12px;}
	}
}
.consultation-address{margin:25px 0 0 0; padding:0 10px;
	&__tit{margin:0; font-size:14px; font-weight:500; color:#333;}
	&__txt{margin:10px 0 0 0; font-size:12px; color:#5c5b5b; line-height:1.1;}
	@media (max-width:$mobile-size){margin-top:12px;
		&__tit{font-size:12px;}
		&__txt{margin-top:5px; font-size:11px;}
	}
}

.consultation-info{margin-top:26px; padding:0 50px; box-sizing:border-box; text-align:left; letter-spacing: -1px;
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:inline-block; padding-left:40px; list-style:none;  box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; margin:auto 0; content:'';}
        &.type-time{
            &:before{width:30px; height:31px; background:url('../images/common/popup/popup_time.png') no-repeat center center / contain;}
        }
        &.type-location{
            &:before{width:30px; height:36px; background:url('../images/common/popup/popup_location.png') no-repeat center center / contain;}
        }
        & + &{margin-top:16px;}
    }
    &__date{margin:0; font-size:14px; color:#5c5b5b;
        & + &{margin-top:4px;}
    }
    &__time{margin:0; vertical-align:middle;}
    &__day{margin-right:10px; color:#333; vertical-align:middle;}
    &__night{display:inline-block; margin-left:4px; padding:3px 4px; font-size:10px; color:#ffa96a; border:1px solid #ffa96a; vertical-align:middle; box-sizing:border-box;}
    &__tit{margin:0; font-size:14px; color:#333; font-weight:500;}
    &__txt{margin:6px 0 0; font-size:12px; color:#5c5b5b;}
    @media only screen and (max-width: $mobile-size) {margin-top:14px; padding:0 25px;
        &__date{font-size:1.2rem;}
        &__tit{font-size:1.2rem;}
        &__txt{margin-top:3px; font-size:1.1rem;}
        &__day{margin-right:5px;}
        &__item{padding-left:36px;
            & + &{margin-top:8px;}
            &.type-time{
                &:before{width:25px; height:26px;}
            }
            &.type-location{
                &:before{width:25px; height:30px;}
            }
        }
        &__night{margin-left:3px; padding:1px 2px; font-size:1rem;}
    }
}
