@charset "UTF-8";
@import "mixins";
@import "vendor";

.program{
	&__visual{font-size:0;
		img{width:100%;border: 0;}
	}
	&__area{padding:0 16px; box-sizing:border-box;}
	&__list{margin:60px 0 0 -10px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:10px; padding-left:10px; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; width:100%; height:0; padding-bottom:100%;
		img{border: 0;}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px; font-size:0; z-index:10;
		&:hover{
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); z-index: 15;content:'';}
			&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/program/plus.png') no-repeat center center; z-index: 20;content:'';}
		}
	}
	&__view{padding-top:50px; font-size:0; box-sizing:border-box;
		img{width:100%;}
	}
	&__tel{display:block;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:30px;}
		&__area{padding:0 18px;}
		&__item{width:50%;}
		&__view{padding-top:60px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:10px; }
		&__view{padding-top:50px;}
	}
}

// 프로모션 및 상담신청 퀵메뉴
.quick-menu{display: none;}

.quick{position:fixed; bottom:60px; right:8.5%; list-style:none; z-index:80;
	$this:&;
	&__list{margin:0; padding:0; list-style:none;}
	&__item{width:80px; height:80px; border-radius:50%;
		& + &{margin-top:10px;}
		&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
			#{$this}__wrap{
				&:before{display:block; width:27px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_counsel.png'); content:'';}
			}
		}
		&.type-list{background-color:#000; color:#fff; border:1px solid #000;
			#{$this}__wrap{
				&:before{display:block; width:18px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_list.png'); content:'';}
			}
		}
		&.type-top{background-color:#fff; border:1px solid #b7b6b6; color:#333;
			#{$this}__wrap{
				&:before{display:block; width:19px; height:10px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/top.png'); content:'';}
			}
		}
	}
	&__wrap{position:relative; color:inherit;}
	&__link{display:table-cell; width:1%; height:80px; font-size:12px; font-weight:400; text-decoration:none; color:inherit; text-align:center; vertical-align:middle;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:50px; right:30px;
		&__item{width:72px; height:72px;}
		&__link{height:72px;}
	}
	@media only screen and (max-width: $mobile-size) {bottom:68px; right:16px;
		&__item{width:50px; height:50px;
			&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
				#{$this}__wrap{
					&:before{display:block; width:20px; height:13px; margin-bottom:3px; background:url('../images/program/quick_counsel_m.png') no-repeat center center / 20px 13px; content:'';}
				}
			}
			&.type-list{
				#{$this}__wrap{
					&:before{display:block; width:14px; height:14px; margin-bottom:3px;  background:url('../images/program/quick_list_m.png') no-repeat center center / 14px 14px; content:'';}
				}
			}
			&.type-top{
				#{$this}__wrap{
					&:before{display:block; width:12px; height:7px; margin-bottom:3px; background:url('../images/program/top_m.png') no-repeat center center / 12px 7px; content:'';}
				}
			}
		}
		&__link{height:50px; font-size:1.2rem;}
	}
}

.visual{position:relative;text-align: center;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__item{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:27.08%; font-size:0; text-indent:-9999px;}
	&__pager{position:absolute; display:inline-block; left:0; right:0; bottom:15px; margin:0 auto; z-index:100;}
	&__bull{overflow:hidden; display:inline-block; width:9px; height:9px; border:1px solid #fff; background:#fff; border-radius:50%; text-indent:-9999px; cursor:pointer;
		&.is-active{background:transparent}
		& + &{margin-left:12px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__item{padding-bottom:65.25%;}
		&__pager{bottom: 8px;}
		&__bull{width:7px; height:7px;
			& + &{margin-left:5px;}
		}
	}
}

.program-view{margin-top: 50px;font-size: 0;
	$this:&;

	&.type-breast{
		#{$this}__pc{width: 100%;background: url(../program/images/e_breast02/b_pattern.gif) 0 0 repeat;}
		#{$this}__box{max-width: 1200px;margin: 0 auto;
			&.cont02{background: #fff;text-align: center;padding: 66px 0 0 0;
				img{width: auto;}
			}
		}
		#{$this}__bg{width: 100%;background: url(../program/images/e_breast02/b2_bg02.png) center 0 no-repeat;}
	}

	&__pc{font-size: 0;box-sizing: border-box;
		img{width: 100%;}
	}
	&__box{font-size: 0;background-repeat: no-repeat;background-position: 50%;text-align: center;
		img.changeImg{width: 21%;min-width: 0;max-width: 350px;margin-left: 11px;margin-right: 11px;}

		&.type-another{
			img.changeImg{width: 25%;min-width: 300px;max-width: 410px;}
		}
	}
	&__list{margin: 0;padding: 0;box-sizing: border-box;}
	&__item{display: inline-block;box-sizing: border-box;list-style: none;}
	&__link{text-decoration: none;}
	&__m{
		img{width: 100%;}
	}
	&__area{margin: 40px 0 140px;text-align: center;
		img{width: auto;}
	}
	&__box{font-size: 0;background-repeat: no-repeat;background-position: 50%;text-align: center;}
	&__list{margin: 0;padding: 0;box-sizing: border-box;}
	&__item{display: inline-block;box-sizing: border-box;list-style: none;}

	@media only screen and (max-width: $minpc-size3){
		&.type-breast{
			#{$this}__box{
				&.cont02{
					img{width: 100%;}
				}
			}
		}
		&__area{
			img{width: 100%;}
		}
	}
	@media only screen and (max-width: $tablet-size){

		&__box{padding: 0px 5%;
			img.changeImg {width: 100% !important;max-width: 100% !important;min-width: 100% !important;margin: 0;}

			&.type-another{
				#{$this}__list{margin-left: -2%;}
				#{$this}__item{width: 33.333%;padding-left: 2%;}
			}
		}
		&__area img{width: 30%;}

		&__list{font-size: 0;margin: -5% 0 0 -5%;padding: 0;}
		&__item{width: 50%;padding-left: 5%;padding-top: 5%;}
		&__item img{width: 100%;}
	}
}

.review{
	&__tit{margin-bottom: 50px;
		img{margin-top: 50px;}
	}
	&__box{
		& + &{padding-bottom: 97px;}
		img{
			& + &{margin-top: 80px;}
		}
	}
}

.program-bottom{position: relative;padding: 115px 0;background-color: #fff;text-align: center;
	&__box{position: absolute;left: 50%;top: 0;height: 100%;margin-left: 300px;}
	&__wrap{display: inline-table;height: inherit;}
	&__inner{display: table-cell;vertical-align: middle;}
	&__img{max-width: 90%;}

	@media only screen and (max-width: $tablet-size){
		position: static;
		&__box{position: static;margin-top: 30px;margin-left: 0;}
		&__link{display: inline-block;}
	}

	@media only screen and (max-width: $mobile-size) {
		padding: 30px 0;
		&__img{max-width: 50%;}
	}
}

.program-video{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;
	&__wrap{position:relative; width:100%; height:100%;}
	&__btn{overflow:hidden; position:absolute; top:0; left:0; right:0; bottom:0; width:100px; height:100px; margin:auto; @include background('../images/program/play_btn.png','no-repeat center center / contain');
		text-indent: -9999px; z-index:15;}

	@media only screen and (max-width: $mobile-size) {
		&__btn{width:50px; height:50px;}
	}
}
